@model ModelLayer.Models.HomePageDynamicSection

@{
    ViewBag.Title = "DeleteHomePageDyanmicSection";
}


<style>
    #dvPreview {
        border: 3px solid#CEC4C4;
        margin-bottom: 10px;
    }

    select {
        width: 219px;
    }

    .uploader input {
        right: 95px !important;
    }

    div.uploader span.action {
        display: inline;
        padding: 8px 19px;
        background: #08c;
        overflow: hidden;
        cursor: pointer;
        color: #fff;
        text-shadow: none;
        font-size: 14px;
        line-height: 28px;
    }

    .img {
        height: 100% !important;
    }

    .image_span7 {
        border-left: 2px dashed rgba(0, 136, 204, 0.15);
        padding-left: 42px;
        overflow: auto;
    }
</style>
<div id="content" class="span10">
    <ul class="breadcrumb">
        <li>
            <div> HomePageDynamicSectionMobile </div>
        </li>
    </ul>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.CreateDate)
        @Html.HiddenFor(model => model.CreateBy)
        @Html.HiddenFor(model => model.SectionId);
        @Html.HiddenFor(model => model.ShowInApp);
        <div class="row-fluid">
            <div class="box span12">
                <div class="box-header">
                    <h2><i class="icon-edit"></i><span class="break"></span>Add Section</h2>
                </div>
                @if (TempData["Messaage"] != null)
                {
                    <div style="font-weight:bold; color:red;">@TempData["Messaage"]</div>
                }
                <div class="box-content">
                    <div class="span12">
                        <div class="span5">
                            <div class="form-horizontal">
                                <br />
                                @Html.ValidationSummary(true)

                                <div class="control-group">
                                    <label class="control-label col-md-2">Select Francise ID</label>
                                    <div class="col-md-10 controls">
                                        @Html.DropDownList("FranchiseID",null, "Select FranchiseID" ,new { @readonly = "readonly", style = "pointer-events:none;" })

                                        <span id="FranchiseListErro" style="font-weight:bold;color:red;"></span>
                                    </div>
                                </div>


                                <div class="control-group">
                                    <label class="control-label col-md-2">Select Section Header</label>
                                    <div class="col-md-10 controls">
                                        @Html.DropDownList("SectionHeader", null,"Select Section Header", new { @readonly = "readonly", style = "pointer-events:none;" })

                                        <span id="SectionHeaderErro" style="font-weight:bold;color:red;"></span>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label col-md-2">Display Name</label>
                                    <div class="col-md-10 controls">
                                        @Html.EditorFor(model => model.SectionDisplayName, new { @class = "control-label col-md-2" })

                                        <span id="SectionDisplayNameErro" style="font-weight:bold;color:red;"></span>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label col-md-2">Select Section Style</label>
                                    <div class="col-md-10 controls">
                                        @Html.DropDownList("SectionStyle", null,"select Section Style", new { @readonly = "readonly", style = "pointer-events:none;" })

                                        <span id="SectionStyle" style="font-weight:bold;color:red;"></span>
                                    </div>
                                </div>


                                <div class="control-group">
                                    <label class="control-label col-md-2">Sequence Order</label>

                                    <div class="col-md-10 controls">
                                        @Html.EditorFor(model => model.SequenceOrder)
                                        @Html.ValidationMessageFor(model => model.SequenceOrder)
                                        <span id="SequenceOrderErro" style="font-weight:bold;color:red;"></span>
                                    </div>
                                </div>



                                <div class="control-group">
                                    @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10 controls">
                                        @Html.EditorFor(model => model.IsActive)
                                        @Html.ValidationMessageFor(model => model.IsActive)
                                        <span id="IsActiveErro" style="font-weight:bold;color:red;"></span>
                                    </div>
                                </div>

                                <div class="control-group" id="banner" style="display:none">
                                    @Html.LabelFor(model => model.IsBanner, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10 controls">
                                        @Html.EditorFor(model => model.IsBanner)
                                        @Html.ValidationMessageFor(model => model.IsBanner)
                                        <span id="IsActiveErro" style="font-weight:bold;color:red;"></span>
                                    </div>
                                </div>

                                <div class="control-group" id="category" style="display:none">
                                    @Html.LabelFor(model => model.IsCategory, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10 controls">
                                        @Html.EditorFor(model => model.IsCategory)
                                        @Html.ValidationMessageFor(model => model.IsCategory)
                                        <span id="IsActiveErro" style="font-weight:bold;color:red;"></span>
                                    </div>
                                </div>

                                <div class="control-group" id="product" style="display:none">
                                    @Html.LabelFor(model => model.IsProduct, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10 controls">
                                        @Html.EditorFor(model => model.IsProduct)
                                        @Html.ValidationMessageFor(model => model.IsProduct)
                                        <span id="IsActiveErro" style="font-weight:bold;color:red;"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions no-color">
            <div class=" col-md-offset-2 col-md-10" style="text-align:center;">
                <input type="submit" value="Delete" class="btn btn-danger" /> |

                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>
<div class="span4 spanLeft" style="margin-top:12px;">
    <div id="divAddNew"></div>
</div>





@*<h2>DeleteHomePageDyanmicSection</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HomePageDynamicSection</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SectionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectionDisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionDisplayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectionStyle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionStyle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SequenceOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SequenceOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowInApp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowInApp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FranchiseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FranchiseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsBanner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsBanner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifyBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifyBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetworkIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetworkIP)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>*@
