@model ModelLayer.Models.ShopPriority

@{
    ViewBag.Title = "Details";
}
<div id="content" class="span10">
    <ul class="breadcrumb">
        <li>
            <a href="index.html">Shop Priority</a>
        </li>
    </ul>
    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header">
                <h2><i class="halflings-icon user"></i><span class="break"></span>Details</h2>
            </div>
            <div class="box-content">
                <dl class="dl-horizontal">
                    <dt>
                        @*@Html.DisplayNameFor(model => model.CityID)*@
                        CITY NAME
                    </dt>

                    <dd>
                        @*@Html.DisplayFor(model => model.CityID)*@
                        <span>@ViewBag.CityName</span>
                    </dd>

                    <dt>
                        @*@Html.DisplayNameFor(model => model.CategoryID)*@
                        CATEGORY NAME
                    </dt>

                    <dd>
                        <span>
                            @ViewBag.CategoryName (Level:= @ViewBag.Level)
                        </span>
                        @*@Html.DisplayFor(model => model.CategoryID)*@
                    </dd>

                    <dt>
                        @*@Html.DisplayNameFor(model => model.ShopID)*@
                        SHOP NAME
                    </dt>

                    <dd>
                        @*@Html.DisplayFor(model => model.ShopID)*@
                        <span> @ViewBag.ShopName</span>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PriorityLevel)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PriorityLevel)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IsActive)
                    </dd>



                </dl>
            </div>
            <div class="form-actions">
                @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
                </div>
            </div>
    </div>
</div>