@model IEnumerable<ModelLayer.Models.CustomerOrderDetail>

@{
    ViewBag.Title = "Temp";
}

<h2>Temp</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerOrder.OrderCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shop.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopStock.NetworkIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopOrderCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MRP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaleRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfferPercent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfferRs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsInclusivOfTax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifyDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifyBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NetworkIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeviceType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeviceID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerOrder.OrderCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shop.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopStock.NetworkIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopOrderCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MRP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaleRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OfferPercent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OfferRs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsInclusivOfTax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifyDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifyBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NetworkIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
        
    </tr>
}

</table>
