
    <div class="control-group">
        @Html.Label("City", new { @class = "control-label" })
        <div class="controls">
            @Html.TextBox("City", (string)ViewBag.City, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <div class="control-group">
        @Html.Label("District", new { @class = "control-label" })
        <div class="controls">
            @Html.TextBox("District", (string)ViewBag.District, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <div class="control-group">
        @Html.Label("State", new { @class = "control-label" })
        <div class="controls">
            @Html.TextBox("State", (string)ViewBag.State, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>



