@model IEnumerable<ModelLayer.Models.ViewModel.StateCityFranchiseMerchantViewModel>
@{
    ViewBag.Title = "Area";
    Layout = null;
}

<style>
    .remove-btn {
        padding-left: 32px; padding-right:10px;
        display: block;
    }
    .btn-danger {
        margin-left: -68px;
        margin-bottom: 7px;
        margin-right: 30px;
    }
    .area-name {padding-left:10px;
    }
    .btn-remove {
        position: relative;
        top: 42px;
        z-index: 10;
        padding: 3px 10px;
        margin-left: 27px;
    }
    .for-removeBtn {
        margin-top: 15px;
    }
</style>
<link href="~/Content/css/Site.css" rel="stylesheet" />
@*<link href="~/Content/css/searching.css" rel="stylesheet" />*@
    @*<link href="~/Content/css/sortable.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-1.11.1.min.js"></script>
    <script src="~~/Content/js/jQuery-Table-Plugin.js"></script>
<script src="~/Content/js/jquery-1.9.1.min.js"></script>*@


<div>
    <div>
        <input type="button" id="btnRemoveAll" class="btn-remove btn-danger" value="Remove All" onclick="RemoveAllCities();" />
        
    </div>
    <div id="content" class="span10">

        <div class="row-fluid sortable ui-sortable for-removeBtn">
            <div class="box span12">
                <div class="box-header">
                    <h2><i class="icon-home"></i><span class="break"></span>Already Added Location</h2>

                </div>
                <div class="box-content">
                    <div class="div_class">
                        <select name="nazwa" class="quantity">
                            <option>10</option>
                            <option>20</option>
                            <option>30</option>
                            <option>40</option>
                            <option>50</option>
                        </select>
                        @*<div class="search_div">
                            <input type="text" class="search_input" placeholder="search..." />
                            <a class="clearlink" title="clear textbox"></a>
                        </div>*@
                        <table id="tblAddedLocation" class="sortable resizable searchable pagination table_style_3 css_class table-bordered searchTable">
                            <thead>
                                <tr>
                                    <th>
                                        Area Name
                                    </th>
                                    <th class="remove-btn">
                                        Remove
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="area-name">
                                            @Html.DisplayFor(modelItem => item.AreaName)
                                            <input type="hidden" value="@item.AreaID" class="hdnAddedAreaID" />"
                                        </td>
                                        <td></td>
                                        <td>
                                        @*<input id="@item.AreaID" type="button" class="btn btn-danger" value="Remove" onclick="DeleteLocationFromDatabase(@item.AreaID);" />*@
                                            @*<button id="btnRemove" type="button" class="btnRemove btn btn-danger" value="@item.AreaID">Remove</button>
                                        <img id="@item.AreaID" src="~/Content/Images/ajax_loader.gif" style="display: none" height="20" width="20" />*@
                                            <input id="@item.AreaID" type="button" value="Remove" class="btn btn-danger" onclick="DeleteLocationFromDatabase(this.id);" /><span class='savemsg' style='color:Green'><img id="@item.AreaID" src="~/Content/Images/ajax_loader.gif" style="display: none" height="20" width="20" /></span>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="pagination_div"><a class="first_page">«« First </a><a class="prev_page">« Prev</a><span class="current_page">1</span><a class="next_page">Next »</a><a class="last_page">Last »»</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="Pager">
    @for (int c = 1; c <= @ViewBag.TotalPages; c++)
    {
        <a class="page-number" href="javascript:void();">@c</a>

    }
</div>
<div class="loader">
    <img id="loader_img" src="~/Content/img/loader.gif" style="display: none" />
</div>


<script type="text/javascript">

    function DeleteLocationFromDatabase(AreaID) {
        var FranchiseID = $("select#franchise option:selected").val();
        //alert(FranchiseID)
        $("[id*='" + AreaID + "']").show();
        if (FranchiseID == "") {
            alert('Please select Franchise');
            $("[id*='" + AreaID + "']").hide();
            return false;
        }
        $.ajax({
            url: '@Url.Action("DeleteLocationFromDatabase", "FranchiseLocation")',
            data: { 'FranchiseID': FranchiseID, 'AreaID': AreaID },
            type: "POST",
            cache: false,
            success: function (data) {
                var msg = $("[id='" + AreaID + "']").closest('tr').find('.savemsg');
                $(msg).text(data);
                $(msg).show();
                setTimeout(function () { $(msg).hide(); }, 5000);
                if (data == "Removed") {
                    $("[id*='" + AreaID + "']").closest('tr').remove();
                }
                GetAddedArea(FranchiseID);
                $("[id*='" + AreaID + "']").hide();
            },
            error: function (data) {

            }
        });
    }

</script>
<script type="text/javascript">
    $(document).ready(function (){

        $("#btnRemove").click(function (evt) {
            //evt.preventDefault();
            // Get the value from the clicked button           
            var AreaID = $(this).val();   
            alert(AreaID)
          
            
            //$("#ItemDetails").load("/PurchaseOrders/Remove", { 'ProductVarientID': ProductVarientID });

        });       
    });

</script>




<script type="text/javascript">
    function RemoveAllCities() {
        //alert('in');
        var rowCount = $('#tblAddedLocation tr:visible').length;
        //alert(rowCount);
        var count = 1;
        $("#tblAddedLocation tr:gt(0)").each(function () {
            //alert(count);
            if (count == rowCount) {
                return false;
            }
            AreaID = $(this).closest('tr').find('.hdnAddedAreaID').val();
            DeleteLocationFromDatabase(AreaID);
            count++;
        });

    }  

    @*function DeleteLocationFromDatabase(AreaID) {
        alert(AreaID)
        var FranchiseID = $("select#franchise option:selected").val();

        $("[id*='" + AreaID + "']").show();
        if (FranchiseID == "") {
            alert('Please select Franchise');
            $("[id*='" + AreaID + "']").hide();
            return false;
        }
        $.ajax({
            url: '@Url.Action("DeleteLocationFromDatabase", "FranchiseLocation")',
            data: { 'FranchiseID': FranchiseID, 'AreaID': AreaID },
            type: "POST",
            cache: false,
            success: function (data) {
                //var msg = $("[id='" + AreaID + "']").closest('tr').find('.savemsg');
                //$(msg).text(data);
                //$(msg).show();
                //setTimeout(function () { $(msg).hide(); }, 5000);
                //if (data == "Saved") {
                $("[id*='" + AreaID + "']").closest('tr').remove();
                //}
                //GetAddedArea(FranchiseID);
                $("[id*='" + AreaID + "']").hide();
            },
            error: function (data) {

            }
        });
    }*@

</script>
