@*//-----------------------------------------------------------------------
        // <copyright file="Index.cshtml" company="Ezeelo Consumer Services Pvt. Ltd.">
        //     Copyright (c) Ezeelo Consumer Services Pvt. Ltd. All rights reserved.
        //
    </copyright>
        // <author>Snehal Shende</author>
        //-----------------------------------------------------------------------*@

@model IEnumerable<ModelLayer.Models.ViewModel.FranchiseApprovedViewModel>

@{
    ViewBag.Title = "Index";
}
<style>
    .dataTables_length {
        margin-left: 0px;
        margin-top: 7px;
    }

    .pagination {
        margin: 0 40px;
    }
</style>
@*<h2>Pending Request of Franchise Approval</h2>*@
<div id="content" class="span10" style="min-height: 403px;">
    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header">
                <h2><i class="halflings-icon user"></i><span class="break"></span>Approved Franchise List</h2>
            </div>
            <div class="box-content">
                <table class="table table-striped table-bordered bootstrap-datatable datatable dataTable">
                    <thead>
                        <tr>
                            <th>
                                Franchise Name
                            </th>
                            <th>
                                Plan Applied
                            </th>
                            <th>
                                Max. Merchant Limit
                            </th>
                            <th>
                                Start Date
                            </th>
                            <th>
                                End Date
                            </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                        @foreach (var item in Model)
                        {
                            using (Html.BeginForm("Disapprove", "ApprovedFranchiseList", new { UID = item.UserLoginID }, FormMethod.Post))
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PlanName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NoOfMerchantAllowed)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StartDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EndDate)
                                    </td>
                                    <td>
                                        <input type="submit" class=" btn-small btn btn-danger" value="Disapprove" onclick="disapprove(@item.UserLoginID);" />
                                        @*| @Html.ActionLink("View Charge", "ViewCharge", "OwnerPlanCategoryCharge", new { ownerId = item.OwnerId }, new { @class = "btn btn-success" })*@
                                        @*| @Html.ActionLink("Edit Charge", "Index", "OwnerPlanCategoryCharge", new { ownerId = item.OwnerId }, new { @class = "btn btn-success" })*@
                                    </td>
                                </tr>
                            }
                        }

                </table>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-1.10.2.js"></script>

<script type="text/javascript">


    //$(document).ready(function(){
    //    $("#Disapprove").click(function(e){
    function disapprove(uid)
    {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Disapprove", "ApprovedFranchiseList")',
                data: { 'UID': uid },
                //dataType: "json",
                cache: false,
                success: function (msg) {
                    window.location.reload(true);
                },
                error: function (x, e) {
                    //alert('Failure');
                    //alert("The call to the server side failed. " + x.responseText);
                }
            });
        };
    //});


</script>