@{
    ViewBag.Title = "eZeelo:Merchant:Home";
}
<style>
    .rednew{background-color: #CC8181 !important;}

    .packed {
        background-color: #11B344 !important;
    }

    .Dispach {
        background-color: #0D9136 !important;
    }

    .Delivary {
        background-color: #065F22 !important;
    }

    .Return {
        background-color: #575454 !important;
    }
</style>
<div id="content" class="span10" style="background: url(../img/mer-bg.jpg) repeat 0px 0px;">
    <div class="box-content" style=" background: transparent;">
        <div class="box-header">
            <h2><i class="halflings-icon th"></i><span class="break"></span><b>Order Status</b></h2>
        </div>
        <br />

        <div class="row-fluid">
            <a href="@Url.Action("Index", "Placed")" class="shadow-div quick-button metro orange span2">
                <i class="icon-exclamation-sign"><br />@ViewBag.Pending</i>
                <p>Pending</p>
            </a>
            <a href="@Url.Action("Index", "Confirm")" class="shadow-div quick-button metro orange span2">
                <i class="icon-ok"><br />@ViewBag.Confirm</i>
                <p>Confirm</p>
            </a>
            <a href="@Url.Action("Index", "Packed")" class="shadow-div quick-button metro orange  span2">
                <i class="icon-gift"><br />@ViewBag.Packed</i>
                <p>Packed</p>
            </a>
            <a href="@Url.Action("Index", "Dispatched")" class="shadow-div quick-button metro orange  span2">
                <i class="icon-truck"><br />@ViewBag.Dispatched</i>
                <p>Dispatched</p>
            </a>
            <a href="@Url.Action("Index", "Delivered")" class="shadow-div quick-button metro orange  span2">
                <i class="icon-home"><br />@ViewBag.Delivered</i>
                <p>Delivered</p>
            </a>
            <a href="@Url.Action("Index", "Returned")" class="shadow-div quick-button metro orange  span2">
                <i class="icon-undo"><br />@ViewBag.Returned</i>
                <p>Returned</p>
            </a>
            <div class="clearfix"></div>

        </div>
        <br />
        <div class="row-fluid">
            <a href="@Url.Action("Index", "Cancelled")" class="shadow-div quick-button metro orange  span2">
                <i class="icon-trash"><br />@ViewBag.Cancelled</i>
                <p>Cancelled</p>
            </a>
            <div class="clearfix"></div>

        </div>
        <br />
        <div class="box-header">
            <h2><i class="icon-tag"></i><span class="break"></span><b>Products</b></h2>
        </div>
        <br />
        <div class="row-fluid">

            <a class="shadow-div quick-button metro orange span2">
                <i class="icon-ok"><br />@ViewBag.TodayApprovedProduct</i>
                <p>Today Approved</p>
            </a>
            <a href="@Url.Action("Index", "ProductUploadTemp")" class="shadow-div quick-button metro orange span2">
                <i class="icon-exclamation-sign"><br />@ViewBag.PendingProduct</i>
                <p>Pending</p>
            </a>
            <a href="@Url.Action("Index", "ProductUploadAproved")" class="shadow-div quick-button metro orange span2">
                <i class="icon-tags"><br />@ViewBag.TotalProduct</i>
                <p>Total Products</p>
            </a>
            <div class="clearfix"></div>
        </div>
    </div>
    </div>
