<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title - Partner.eZeelo</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/datepicker.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/pages/dashboard.css" rel="stylesheet" />
    <link href="~/Content/css/pages/plans.css" rel="stylesheet">
    <link href="~/Content/css/pages/faq.css" rel="stylesheet" />
    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>

    <div class="navbar navbar-fixed-top">

        <div class="navbar-inner">

            <div class="container">

                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <a class="brand" href="@Url.Action("Index", "CustomerOrder")">
                    <img src="~/Content/Images/logo.png" style="width:90px; height:64px; margin-bottom:-18px; margin-top:-18px;" /> Partner
                </a>

                <div class="nav-collapse">
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-cog"></i>
                                Account
                                <b class="caret"></b>
                            </a>

                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Edit", "UserLogin")">Settings</a></li>
                                <li><a href="~/Content/Download/help.pdf" target="_blank">Help</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-user"></i>
                                @*@if(Session["UID"] != null)
                                {
                                   <span>@Session["UID"]</span> 
                                }*@
                                @Session["USER_NAME"].ToString()
                                <b class="caret"></b>
                            </a>

                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", "MyProfile")">Profile</a></li>
                                <li><a href="@Url.Action("Logout", "Login")">Logout</a></li>
                            </ul>
                        </li>
                    </ul>

                    @*<form class="navbar-search pull-right">
                        <input type="text" class="search-query" placeholder="Search">
                    </form>*@

                </div><!--/.nav-collapse -->

            </div> <!-- /container -->

        </div> <!-- /navbar-inner -->

    </div> <!-- /navbar -->





    <div class="subnavbar">

        <div class="subnavbar-inner">

            <div class="container">

                <ul class="mainnav">
                    @*<li><a href="@Url.Action("Index", "Dashboard")"><i class="icon-dashboard"></i><span>Dashboard</span></a></li>
                    <li><a href="@Url.Action("Index", "MyRegion")"><i class="icon-map-marker"></i><span>My Region</span></a></li>
                    <li><a href="@Url.Action("Index", "DeliveryWeightSlab")"><i class="icon-align-justify"></i><span>Weight Slab</span></a></li>*@
                    <li><a href="@Url.Action("Index", "CustomerOrder")"><i class="icon-book"></i><span>Order Book</span></a></li>
                    <li><a href="@Url.Action("Index", "OrderTracking")"><i class="icon-road"></i><span>Order Tracking</span></a></li>
                    @*<li><a href="@Url.Action("Index", "OrderTrackingHistory")"><i class="icon-road"></i><span>Order History</span></a></li>*@
                    <li><a href="@Url.Action("Index", "CancelledOrderByMerchant")"><i class="icon-random"></i><span>Order Alignment</span></a></li>
                    <li><a href="@Url.Action("Index", "CustomerRatingAndFeedback")"><i class="icon-star"></i><span>Customer Rating</span></a></li>
                    <li><a href="@Url.Action("Index", "FeedbackManagment")"><i class="icon-envelope"></i><span>Feedback</span></a></li>
                    <li><a href="@Url.Action("Index", "WishList")"><i class="icon-bookmark"></i><span>Wish List</span></a></li>
                    <li><a href="@Url.Action("Index", "ReceiveOrderOnCall")"><i class="icon-phone"></i><span>Order On Call</span></a></li>
                   

                    
                    @*<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-long-arrow-down"></i>
                            <span>Partners</span>
                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="icons.html">Merchant</a></li>
                            <li><a href="faq.html">Delivery</a></li>
                        </ul>
                    </li>*@
                    <li><a href="#"></a></li>
                </ul>

            </div> <!-- /container -->

        </div> <!-- /subnavbar-inner -->

    </div> <!-- /subnavbar -->


    <div class="main">
        <div class="main-inner">
            <div class="container" style="min-height:400px">
                @RenderBody()
            </div> <!-- /container -->
        </div> <!-- /main-inner -->
    </div> <!-- /main -->

    @*<div class="extra">

        <div class="extra-inner">

            <div class="container">

                <div class="row">
                    <div class="span3">
                        <h4>
                            About Free Admin Template
                        </h4>
                        <ul>
                            <li><a href="#">egrappler.com</a></li>
                            <li><a href="#">web development resources</a></li>
                            <li><a href="#">responsive html5 portfolio templates</a></li>
                            <li><a href="#">free resources and scripts</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                    <div class="span3">
                        <h4>
                            Support
                        </h4>
                        <ul>
                            <li><a href="#">Frequently Asked Questions</a></li>
                            <li><a href="#">Ask a Question</a></li>
                            <li><a href="#">Video Tutorial</a></li>
                            <li><a href="#">Feedback</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                    <div class="span3">
                        <h4>
                            Something Legal
                        </h4>
                        <ul>
                            <li><a href="#">Read License</a></li>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                    <div class="span3">
                        <h4>
                            Open Source jQuery Plugins
                        </h4>
                        <ul>
                            <li><a href="http://www.egrappler.com">Open Source jQuery Plugins</a></li>
                            <li><a href="http://www.egrappler.com;">HTML5 Responsive Tempaltes</a></li>
                            <li><a href="http://www.egrappler.com;">Free Contact Form Plugin</a></li>
                            <li><a href="http://www.egrappler.com;">Flat UI PSD</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                </div> <!-- /row -->

            </div> <!-- /container -->

        </div> <!-- /extra-inner -->

    </div> <!-- /extra -->*@




    <div class="footer">

        <div class="footer-inner">

            <div class="container">

                <div class="row">

                    <div class="span12">
                        &copy; @DateTime.Now.Year <a href="@System.Configuration.ConfigurationManager.AppSettings["EZEELO_CUSTOMER_URL"]" target="_blank">eZeelo</a>.
                    </div> <!-- /span12 -->

                </div> <!-- /row -->

            </div> <!-- /container -->

        </div> <!-- /footer-inner -->

    </div> <!-- /footer -->

    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/js/jquery-1.7.2.min.js"></script>
    <script src="~/Scripts/js/excanvas.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/js/chart.min.js"></script>
    <script src="~/Scripts/js/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/js/base.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript">
        $('input[type=text]').each(function () {
            var req = $(this).attr('data-val-required');
            if (undefined != req) {
                //alert($(this).closest(".controls").parent().find('.control-label').text());
                //var label = $('label[for="' + $(this).attr('id') + '"]');
                var label = $(this).closest(".controls").parent().find('.control-label');
                //var label = req.closest().find('.control-label');// $('.control-label');
                var text = label.text();
                //alert(text);
                if (text.length > 0) {
                    label.append('<span style="color:red"> *</span>');
                }
            }
        });

        $("#btn_clear").click(function () {
            //$('#FromDate').val('');
            //$('#ToDate').val('');
            //$('.search').val('');
            $('form input').val("");
            $('form select').val("");
        })

    </script>

    @RenderSection("MyScripts", required: false)
</body>

</html>
