@model ModelLayer.Models.ViewModel.FranchiseRegisterViewModel
<!DOCTYPE html>
<html>
<head>

    <!-- start: Meta -->
    <meta charset="utf-8">
    <title>Partner.eZeelo</title>
    <meta name="description" content="Bootstrap Metro Dashboard">
    <meta name="author" content="Dennis Ji">
    <meta name="keyword" content="Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <!-- end: Meta -->
    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->
    <!-- start: CSS -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
    <!-- end: CSS -->
    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <link id="ie-style" href="css/ie.css" rel="stylesheet">
    <![endif]-->
    <!--[if IE 9]>
        <link id="ie9style" href="css/ie9.css" rel="stylesheet">
    <![endif]-->
    <link href="~/Content/css/style_asset.css" rel="stylesheet" />
    @*<link href="~/Content/assets/css/animate.css" rel="stylesheet" />*@
    <link href="~/Content/css/asset/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min_asset.css" rel="stylesheet" />
    @*<link href="~/Content/assets/css/prettyPhoto.css" rel="stylesheet" />*@
    <link href="~/Content/css/media-login.css" rel="stylesheet" />
    <!-- start: Favicon -->
    <link rel="shortcut icon" href="~/Content/Logo/logo.png" />
    <!-- end: Favicon -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
  
     .text-box {
    }

    h2 {
        color: #fff;
    }

    .wdth-small {
        width: 74px;
    }

    .wdth-mid {
        width: 125px;
    }

    .wdth-large {
        width: 163px;
    }

    .mrg-leftSm {
        margin-left: 2px;
    }

    .mrg-top {
        margin-top: 10px;
    }


    .login-div {
        float: right;
        margin-top: 10px;
    }

    .login-btn {
        width: 59px !important;
    }

    .login-div input {
        width: 222px;
    }

    .login-div .form-control {
        height: 30px;
        padding: 4px 12px;
        font-size: 14px;
        line-height: 1.42857;
        color: #ECE3E3;
        background-color: #414242;
    }

    #testimonials {
        min-height: 318px;
    }

    .color-dark {
        color: #808080 !important;
    }
</style>


</head>
<body>
    @*<div id="pre-div">
            <div id="loader">
            </div>
        </div>*@
    <!-- start: Header -->
    <div class="navbar navbar-default navbar-fixed-top move-me ">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="~/Content/assets/img/logo2.png" class="navbar-brand-logo " alt="" />
                    <a class="brand logo" href="http://anura.ezeelo.com/" target="_blank" title="anura.ezeelo.com">
                        @*<img src="~/Content/Logo/logo.png" alt="ezeelo.com" />*@
                        <img src="~/Content/Images/anura.png" />
                        @*Franchise.eZeelo*@<span></span>
                    </a>
                    <a class="brand logo" href="http://capa.ezeelo.com" target="_blank" title="capa.ezeelo.com">
                        @*<img src="~/Content/Logo/logo.png" alt="ezeelo.com" />*@
                        <img src="~/Content/Images/capa.png" />
                        @*Franchise.eZeelo*@<span></span>
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 ">
                    <div class="login-div">
                        @*@using (Html.BeginForm())*@
                        @using (Html.BeginForm("Login", "FranchiseRegister", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {

                            @Html.TextBoxFor(model => model.loginViewModel.UserName, new { @placeholder = "UserName", @class = "form-control  pull-left wdth-mid mrg-leftSm", name = "userName", required = "required"})
                            @Html.ValidationMessageFor(model => model.loginViewModel.UserName)
                            @Html.TextBoxFor(model => model.loginViewModel.Password, new { @placeholder = "Password", @class = "form-control  pull-left wdth-mid mrg-leftSm", name = "Password", required = "required", type = "password" })
                            @Html.ValidationMessageFor(model => model.loginViewModel.Password)
                            @*<input type="text" class="form-control pull-left wdth-large mrg-leftSm" required="required" placeholder="User Name">
                                <input type="text" class="form-control pull-left wdth-large mrg-leftSm" required="required" placeholder="Password">*@
                            @*<button type="submit" id="Login" value="Login" class="btn btn-success mrg-leftSm">Login</button>*@
                            <input name="submit" type="submit" id="Login" value="Login" class="btn btn-success mrg-leftSm login-btn" />

                            <div class="clearfix"></div>

                            if (TempData["Message"] != null)
                            {
                                <div class="breadcrumbs dark  pull-left">
                                    @TempData["Message"]
                                </div>
                            }
                        }
                        @*<div class="pull-right passfor">
                            @Html.ActionLink("Forgot Password?", "Edit", "ForgotPassword", null, new { @class = "link linkpadding passfor" })


                        </div>*@


                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="body-content">
        @RenderBody()
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- start: JavaScript-->
    <!-- start: JavaScript-->
    <!--  Jquery Core Script -->
    <script src="~/Content/assets/js/wow.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.js"></script>
    <script src="~/Content/assets/js/custom.js" defer="defer"></script>
    <script src="~/Content/assets/js/jquery-1.10.2.js"></script>
    <script src="~/Content/assets/js/jquery.easing.min.js"></script>
    <script src="~/Content/assets/js/jquery.prettyPhoto.js"></script>

    <!-- end: JavaScript-->

</body>
</html>
