@model ModelLayer.Models.CustomerOrder

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CustomerOrder</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.OrderCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderCode)
                @Html.ValidationMessageFor(model => model.OrderCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserLoginID, "UserLoginID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserLoginID", String.Empty)
                @Html.ValidationMessageFor(model => model.UserLoginID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReferenceCustomerOrderID, "ReferenceCustomerOrderID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ReferenceCustomerOrderID", String.Empty)
                @Html.ValidationMessageFor(model => model.ReferenceCustomerOrderID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderAmount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderAmount)
                @Html.ValidationMessageFor(model => model.OrderAmount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoOfPointUsed, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoOfPointUsed)
                @Html.ValidationMessageFor(model => model.NoOfPointUsed)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ValuePerPoint, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ValuePerPoint)
                @Html.ValidationMessageFor(model => model.ValuePerPoint)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CoupenCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CoupenCode)
                @Html.ValidationMessageFor(model => model.CoupenCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CoupenAmount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CoupenAmount)
                @Html.ValidationMessageFor(model => model.CoupenAmount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PAN, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PAN)
                @Html.ValidationMessageFor(model => model.PAN)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaymentMode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PaymentMode)
                @Html.ValidationMessageFor(model => model.PaymentMode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PayableAmount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PayableAmount)
                @Html.ValidationMessageFor(model => model.PayableAmount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrimaryMobile, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrimaryMobile)
                @Html.ValidationMessageFor(model => model.PrimaryMobile)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SecondoryMobile, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SecondoryMobile)
                @Html.ValidationMessageFor(model => model.SecondoryMobile)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShippingAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShippingAddress)
                @Html.ValidationMessageFor(model => model.ShippingAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PincodeID, "PincodeID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PincodeID", String.Empty)
                @Html.ValidationMessageFor(model => model.PincodeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AreaID, "AreaID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AreaID", String.Empty)
                @Html.ValidationMessageFor(model => model.AreaID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateDate)
                @Html.ValidationMessageFor(model => model.CreateDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateBy, "CreateBy", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CreateBy", String.Empty)
                @Html.ValidationMessageFor(model => model.CreateBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModifyDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModifyDate)
                @Html.ValidationMessageFor(model => model.ModifyDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModifyBy, "ModifyBy", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ModifyBy", String.Empty)
                @Html.ValidationMessageFor(model => model.ModifyBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NetworkIP, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NetworkIP)
                @Html.ValidationMessageFor(model => model.NetworkIP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeviceType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeviceType)
                @Html.ValidationMessageFor(model => model.DeviceType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeviceID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeviceID)
                @Html.ValidationMessageFor(model => model.DeviceID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
