@model ModelLayer.Models.MerchantTopupRechargeLog
@{
    /**/

    ViewBag.Title = "Recharge";
}
<script src="~/plugins/Custom.js"></script>
<script>
    $(document).ready(function () {
        $("#lnk-Recharge").addClass("active");
        $("#recharge").bind("change", function () {
            $("#rechargeh").html("<i class='fa fa-fw fa-inr'></i>" + $("#recharge").val());
        })
    })
</script>
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-9">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Recharge Your Account</h3>
                    <h3 id="rechargeh" class="box-title animated flash" style="float:right;color:green"><i class="fa fa-fw fa-inr"></i></h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm("Index", "RechargeAccount", FormMethod.Post, new { id = "frm" }))
                {
                    @Html.HiddenFor(Model => Model.TopupAmount)
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="Service">Company Details</label> <br />
                                    @Model.CompanyDetail
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Service">Account Numbers</label> <br />
                                    @Model.AccountNo
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="Service">IFSC Code</label> <br />
                                    @Model.IFSCCode
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-5">
                                    <label for="Service">Mode of Transaction</label>
                                    @Html.ValidationMessageFor(model => model.Mode, null, new { @class = "text-danger" })<br />
                                    <label>@Html.RadioButtonFor(model => model.Mode, "Online", new { @class = "minimal iradio_minimal-blue", required = "required" }) </label> &nbsp;&nbsp;Online&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label>@Html.RadioButtonFor(model => model.Mode, "Cheque", new { @class = "minimal  iradio_minimal-blue", required = "required" }) </label>&nbsp;&nbsp;Cheque
                                </div>
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <label for="Remark">Transaction Ref ID/Cheque No</label>
                                        @Html.ValidationMessageFor(model => model.TransactionID_CheckNo, null, new { @class = "text-danger" })
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-fw fa-pencil"></i></span>
                                            @Html.TextBoxFor(model => model.TransactionID_CheckNo, new { autocomplete = "off", placeholder = "Enter Transaction Ref ID/Cheque No", @class = "form-control", required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-5">
                                    <label for="Service">Recharge</label>
                                    @Html.ValidationMessageFor(model => model.recharge, null, new { @class = "text-danger" })<br />
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-fw fa-inr"></i></span>
                                        @*@Html.DropDownListFor(model => model.recharge, Model.myList, "---Select---", new { @class = "form-control", required = "required", style = "width:150px" })*@
                                        @Html.TextBoxFor(model => model.recharge, new { @class = "form-control", required = "required", style = "width:150px" })
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <br />
                                        <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-body -->

                }
            </div><!-- /.box -->
        </div>
        <div class="col-md-3">
            <!-- general form elements -->
            <div class="box box-primary" style="min-height:445px !important">
                <div class="box-header">
                    <h3 class="box-title">Last Topup Recharge</h3>
                </div><!-- /.box-header -->
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <table class="table">
                        <tr>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Status</th>
                        </tr>
                        <tbody id="lstTran">
                            @foreach (var item in Model.list)
                            {
                                <tr>
                                    <td>
                                        @item.Date
                                    </td>
                                    <td>
                                        @item.Amount
                                    </td>
                                    <td>
                                        @if (item.Status == "0")
                                        {
                                            <span class="label label-warning">Pending</span>
                                        }
                                        else if (item.Status == "1")
                                        {
                                            <span class="label label-success">Accepted</span>
                                        }
                                        else
                                        {
                                            <span class="label label-danger">Failed</span>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div><!-- /.box-body -->

            </div><!-- /.box -->
        </div>
    </div>
</section>

