@model ModelLayer.Models.LeadersIncomeMaster

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LeadersLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>LeadersIncomeMaster</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Level0, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Level0)
                    @Html.ValidationMessageFor(model => model.Level0)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Level1, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Level1)
                    @Html.ValidationMessageFor(model => model.Level1)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Level2, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Level2)
                    @Html.ValidationMessageFor(model => model.Level2)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Level3, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Level3)
                    @Html.ValidationMessageFor(model => model.Level3)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Level4, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Level4)
                    @Html.ValidationMessageFor(model => model.Level4)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Level5, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Level5)
                    @Html.ValidationMessageFor(model => model.Level5)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Level6, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Level6)
                    @Html.ValidationMessageFor(model => model.Level6)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Level7, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Level7)
                    @Html.ValidationMessageFor(model => model.Level7)
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Level8, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Level8)
                    @Html.ValidationMessageFor(model => model.Level8)
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Level9, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Level9)
                    @Html.ValidationMessageFor(model => model.Level9)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Level10, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Level10)
                    @Html.ValidationMessageFor(model => model.Level10)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Level11, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Level11)
                    @Html.ValidationMessageFor(model => model.Level11)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Level12, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Level12)
                    @Html.ValidationMessageFor(model => model.Level12)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Level13, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Level13)
                    @Html.ValidationMessageFor(model => model.Level13)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Level14, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Level14)
                    @Html.ValidationMessageFor(model => model.Level14)
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Update" class="btn btn-info" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
