<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            @*<li class="active"><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>*@
            <li class="active"><a href="@Url.Action("Index", "FranchiseWiseData")"><i class="fa fa-users"></i><span>Franchise</span></a></li>
            <li class=""><a href="@Url.Action("Index", "Logistic")"><i class="fa fa-shield"></i><span>Logistic</span></a></li>
            @*<li class=""><a href="@Url.Action("Index", "Procurement")"><i class="fa fa-list-alt"></i><span>Procurement</span></a></li>*@
            <li class=""><a href="@Url.Action("Index", "Growth")"><i class="fa fa-signal"></i><span>Growth</span></a></li>
            @*<li class=""><a href="@Url.Action("Index", "crm")"><i class="fa fa-sliders"></i><span>CRM</span></a></li>*@
            
        </ul>
    </section>
</aside>

