@model ModelLayer.Models.ViewModel.EmployeeManagement

@{
    ViewBag.Title = "Details";
}

<style>
    .for-border {
        border: 1px solid #eee;
        width: 178px;
        line-height: 25px !important;
        margin-bottom: 10px;
        padding-left: 8px;
        border-radius: 5px;
    }

    .mrg-left {
        margin-right: 15px;
    }
    .form-horizontal .form-actions {
         padding-left: 10px; 
    }
    .form-horizontal .control-group {
        margin-bottom: 8px;
    }

    .for-width {
        width: 585px;
        height: 75px;
    }

    .for-border1 {
        width: 100px;
        border: 1px solid #eee;
        border-radius: 5px;
    }

    .for-border2 {
        width: 272px;
        border: 1px solid #eee;
        border-radius: 5px;
    }

    #BusinessOwner {
        margin-top: -5px;
    }
    div.checker {
        margin-top: -15px !important;
    }
</style>

@*<link href="~/Content/assets/css/form-design.css" rel="stylesheet" />*@
<link href="~/Content/css/style_asset.css" rel="stylesheet" />


<div id="content" class="span10" style="min-height: 400px;">
    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header">
                <h2><i class="icon-group"></i><span class="break"></span>Employee Management Details</h2>

            </div>
            <div class="box-content">
                <div class="form-horizontal">
                    <div class="control-group">
                        <div class="span12" style="margin-left: 0px;">
                            <div class="span2">
                                @Html.DisplayNameFor(model => model.EmployeeCode)
                            </div>
                            <div class="span3">
                                @Html.DisplayFor(model => model.EmployeeCode, new { @class = "for-border" })
                            </div>
                            <div class="span2">
                                @Html.LabelFor(model => model.OwnerID, "Owner Name")
                            </div>
                            <div class="span3">
                                @Html.DropDownList("BusinessOwner", null, "Select", new { @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="span12" style="margin-left: 0px;">
                            <div class="span2">
                                @Html.DisplayNameFor(model => model.FirstName)
                            </div>
                            <div class="span3">
                                @Html.DisplayFor(model => model.FirstName, new { @class = "for-border" })
                            </div>
                            <div class="span2">
                                @Html.DisplayNameFor(model => model.MiddleName)
                            </div>
                            <div class="span3">
                                @Html.DisplayFor(model => model.MiddleName, new { @class = "for-border" })
                            </div>
                        </div>
                        <div class="span12" style="margin-left: 0px;">
                            <div class="span2">
                                @Html.DisplayNameFor(model => model.LastName)
                            </div>
                            <div class="span3">
                                @Html.DisplayFor(model => model.LastName, new { @class = "for-border" })
                            </div>
                            <div class="span2">
                                @Html.DisplayNameFor(model => model.Gender)
                            </div>
                            <div class="span3">
                                @Html.DisplayFor(model => model.Gender, new { @class = "for-border" })
                            </div>
                        </div>
                        <div class="span12" style="margin-left: 0px;">
                            <div class="span2">
                                @Html.DisplayNameFor(model => model.Mobile)
                            </div>
                            <div class="span3">
                                @Html.DisplayFor(model => model.Mobile, new { @class = "for-border" })
                            </div>
                            <div class="span2">
                                @Html.DisplayNameFor(model => model.Email)
                            </div>
                            <div class="span3">
                                @Html.DisplayFor(model => model.Email, new { @class = "for-border" })
                            </div>
                        </div>
                        <div class="span12" style="margin-left: 0px;">
                            <div class="span2">
                                @Html.DisplayNameFor(model => model.Address)
                            </div>
                            <div class="span10">
                                @Html.DisplayFor(model => model.Address)
                            </div>
                        </div>
                        <div class="span12" style="margin-left: 0px;">
                            <div class="span2">
                                @Html.DisplayNameFor(model => model.IsActive)
                            </div>
                            <div class="span3">
                                <div>
                                    @Html.DisplayFor(model => model.IsActive)
                                </div>

                            </div>
                        </div>
                        </div>
                        <div class="form-actions">

                            @Html.ActionLink("Edit", "Edit", new { id = Model.ID}, new { @class = "btn btn-danger btn-small" })
                            @Html.ActionLink("Back to List", "Index", string.Empty, new { @class = "btn btn-small" })
                        </div>

                    </div>
            </div>
        </div>
    </div>
</div>

