@model IEnumerable<ModelLayer.Models.ViewModel.WarehouseStockViewModel>



<style type="text/css">
    #msform1 fieldset:not(:first-of-type) {
        display: none;
    }

    .field-validation-error {
        color: #000000 !important;
    }

    .succes-msg {
        color: #31A012;
        font-size: 20px;
    }

    .beatpicker-clearButton button {
        display: none;
    }

    .input-parent button {
        display: none;
    }

    .textarea-adjust {
        width: 85%;
    }
    /*Beatpicker Css*/
    .beatpicker-clearButton button {
        display: none;
    }

    .input-parent button {
        display: none;
    }

    .header-navbar-button {
        position: absolute !important;
    }

    .beatpicker .main-nav .current-indicator {
        text-align: center !important;
    }

    .beatpicker .main-nav .prev1 {
        left: 0 !important;
        width: 14%;
        padding: 0px 10px;
        color: #fff;
        font-size: 16px;
    }

    .beatpicker .main-nav .next1 {
        right: 0 !important;
        width: 9%;
        color: #fff;
        font-size: 16px;
    }

    .beatpicker .main-nav .prev1:hover {
        left: 0 !important;
        width: 14%;
        padding: 0px 10px;
        color: #fff;
        font-size: 20px;
        cursor: pointer !important;
    }

    .beatpicker .main-nav .next1:hover {
        right: 0 !important;
        width: 9%;
        color: #fff;
        font-size: 20px;
        cursor: pointer !important;
    }

    #divImages .remove {
        background: url(/Content/img/remove-icon.png) no-repeat 0px 0px #fff;
        float: left;
        font-size: 0 !important;
        width: 23px !important;
        padding: 2px 4px;
    }
    /*Beatpicker Css End*/
</style>

<link href="~/Content/css/Site.css" rel="stylesheet" />
<link href="~/Content/css/searching.css" rel="stylesheet" />
<link href="~/Content/css/sortable.css" rel="stylesheet" />
<script src="~/Content/js/jquery-1.11.1.min.js"></script>
<script src="~/Content/js/jquery-1.9.1.min.js"></script>
<script src="~/Content/js/jQuery-Table-Plugin.js"></script>
<link href="~/Content/assets/css/font-awesome.min.css" rel="stylesheet" />


<div class="row-fluid">
    <div class="box span11">
        <center><p style="font-size:large"><b><u>Available Batches For Item @ViewBag.ItemName</u></b></p></center>
        <div class="box-header">
            <h2>
                <i class="icon-list-alt"></i>
                <span class="break"></span>
                BATCHWISE PRODUCT STOCK
            </h2>
        </div>
        <div class="box-content">

            <table class="table table-striped table-bordered bootstrap-datatable datatable dataTable" width="100%">
                <tr>
                    <th>Product</th>
                    <th>Item</th>
                    <th>
                        BatchCode
                    </th>

                    <th>
                        BuyRatePerUnit
                    </th>

                    <th>
                        InitialQuantity
                    </th>
                    <th>
                        AvailableQuantity
                    </th>
                    <th>
                        ExpiryDate
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td class="table-shopping-cart-img" style="text-align: left;">
                            <img id=" imgproductimage" src="@item.StockThumbPath" onerror="this.src = '/Content/Images/no_image.png'" style="width: 70px; height:70px;" alt=" eZeelo " />
                        </td>
                        <td>
                            @item.ItemName
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BatchCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BuyRatePerUnit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InitialQuantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AvailableQuantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExpiryDate)
                        </td>
                        <td>
                            @Html.ActionLink("Add to Wastage", "ItemWastageEntry", new {ID = item.ID, imgproductimage=@ViewBag.imgproductimage,ItemName=@ViewBag.ItemName,AvailableQuantity=@ViewBag.AvailableQuantity,ReorderLevel=@ViewBag.ReorderLevel,  BatchCode = item.BatchCode, BuyRatePerUnit = item.BuyRatePerUnit, InitialQuantity = item.InitialQuantity, BatchAvailableQuantity = item.AvailableQuantity, ExpiryDate = item.ExpiryDate }, new { @class = "btn btn-small btn-success" })
                        </td>
                    </tr>
                }

            </table>
        </div>
        @Html.ActionLink("Back to All Items", "AllItems", null, new { @class = "btn btn-default mrg-left mrg-top" })
    </div>

</div>
