@model ModelLayer.Models.PartnerRequest

@{
    ViewBag.Title = "Details";
}

<div class="span10" id="content">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="#">Home</a>
            <i class="icon-angle-right"></i>
        </li>
        <li><a href="#">Peartner Request</a></li>
        <li><a href="#">Details</a></li>
    </ul>
    <div class="row-fluid">
        <div class="box span6">
            <div class="box-header">
                <h2><i class="halflings-icon user"></i><span class="break"></span>Details</h2>
            </div>
            <div class="box-content">
                <div class="form-horizontal">
                    <div>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.RegistrationDateTime)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DisplayDate)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.PartnerCode)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PartnerCode)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.EmailId)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.EmailId)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ContactNo)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ContactNo)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.StateID)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.State)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CityID)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.City)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.AreaID)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Area)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.InvestmentCapacity)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Investment_Capacity)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Space)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Space)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ExistingBusiness)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ExistingBusiness)
                            </dd>

                           
                        </dl>
                    </div>
                    <div class="form-actions">
                        @Html.ActionLink("Back to List", "Index", string.Empty, new { @class = "btn" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

