@model ModelLayer.Models.ViewModel.PersonalDetailsViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="content" class="span10" style="min-height: 369px;">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="">Register</a>
            </li>
        </ul>
        <div class="row-fluid">
            <div class="box span12">
                <div class="box-header">
                    <h2><i class="halflings-icon user"></i><span class="break"></span>Personal Details</h2>
                </div>
                <div class="box-content contentBox">
                    <form class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.ID)

                        <div class="control-group">
                            @Html.LabelFor(model => model.SalutationID, new { @class = "control-label span2" })
                            <div class="controls">
                                @Html.DropDownList("Salutation")
                                @Html.ValidationMessageFor(model => model.SalutationID)
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="control-group distNow">
                            @Html.LabelFor(model => model.FirstName, new { @class = "control-label span2" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.FirstName, new { @placeholder = "First Name" })
                                @Html.ValidationMessageFor(model => model.FirstName)
                            </div>
                        </div>

                        <div class="control-group distNow">
                            @Html.LabelFor(model => model.MiddleName, new { @class = "control-label span2" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.MiddleName, new { @placeholder = "Middle Name" })
                                @Html.ValidationMessageFor(model => model.MiddleName)
                            </div>
                        </div>

                        <div class="control-group distNow">
                            @Html.LabelFor(model => model.LastName, new { @class = "control-label span2" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.LastName, new { @placeholder = "Last Name" })
                                @Html.ValidationMessageFor(model => model.LastName)
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="control-group distNow">
                            @Html.LabelFor(model => model.Email, new { @class = "control-label span2" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.Email, new { @placeholder = "Contact Email" })
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                        </div>

                        <div class="control-group distNow">
                            @Html.LabelFor(model => model.Mobile, new { @class = "control-label span2" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.Mobile, new { @placeholder = "Contact Mobile" })
                                @Html.ValidationMessageFor(model => model.Mobile)
                            </div>
                        </div>

                        <div class="control-group distNow">
                            @Html.LabelFor(model => model.DOB, new { @class = "control-label span2" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.DOB, new { @placeholder = "dd/mm/yyyy" })
                                @Html.ValidationMessageFor(model => model.DOB)
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="control-group distNow">
                            @Html.LabelFor(model => model.Address, new { @class = "control-label span2" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.Address, new { @placeholder = "Full Address" })
                                @Html.ValidationMessageFor(model => model.Address)
                            </div>
                        </div>

                        <div class="control-group distNow">
                            @Html.LabelFor(model => model.PinCode, new { @class = "control-label span2" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.PinCode, new { @placeholder = "Pincode" })
                                @Html.ValidationMessageFor(model => model.PinCode)
                            </div>
                        </div>

                        <div class="control-group distNow">
                            @Html.LabelFor(model => model.Gender, new { @class = "control-label span2" })
                            <div class="controls">
                                @*@Html.EditorFor(model => model.Gender)*@
                                @Html.DropDownList("Gender")
                                @Html.ValidationMessageFor(model => model.Gender)
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-actions">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save & Continue" class="btn btn-primary btn-small" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

