@model ModelLayer.Models.TaxationMaster

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="span10" id="content">
        <ul class="breadcrumb">
            <li>
                <i class="icon-edit"></i>
                @*<a href="index.cshtml">Home</a>*@
                Create
            </li>
        </ul>
        <div class="row-fluid">
            <div class="box span12">
                <div class="box-header">
                    <h2><i class="halflings-icon user"></i><span class="break"></span>TaxationMaster</h2>

                </div>
                <div class="box-content">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true)
                        @if (ViewBag.Message != null)
                        {
                            <div>
                                <span style="color:red;font-weight:bold;">@ViewBag.Message</span>
                            </div>
                        }
                        @*<div class="form-group">
                                @Html.LabelFor(model => model.ID, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ID)
                                    @Html.ValidationMessageFor(model => model.ID)
                                </div>
                            </div>*@

                        <div class="control-group">
                            @Html.LabelFor(model => model.Prefix, new { @class = "control-label col-md-2" })
                            <div class="col-md-10 controls">
                                @Html.EditorFor(model => model.Prefix)
                                @Html.ValidationMessageFor(model => model.Prefix)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                            <div class="col-md-10 controls">
                                @Html.EditorFor(model => model.Name)
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                            <div class="col-md-10 controls">
                                @Html.EditorFor(model => model.Description)
                                @Html.ValidationMessageFor(model => model.Description)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
                            <div class="col-md-10 controls">
                                @Html.EditorFor(model => model.IsActive)
                                @Html.ValidationMessageFor(model => model.IsActive)
                            </div>
                        </div>



                        <div class="form-actions">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-success" />
                                @Html.ActionLink("Back to List", "Index", string.Empty, new { @class = "btn" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


