@model ModelLayer.Models.CustomerOrder

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CustomerOrder</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Area.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerOrder2.OrderCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerOrder2.OrderCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalDetail.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalDetail.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalDetail1.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalDetail1.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pincode.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pincode.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserLogin.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserLogin.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoOfPointUsed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfPointUsed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValuePerPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValuePerPoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoupenCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoupenCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoupenAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoupenAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentMode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayableAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayableAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryMobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryMobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondoryMobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondoryMobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShippingAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShippingAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetworkIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetworkIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
