@model Gandhibagh.Controllers.DropDownListBag


@using (Html.BeginForm("AddProductInCompareList", "ProductCompare", FormMethod.Post))
{
    <div class="boxCompare3">
        @Html.HiddenFor(model => model.CategoryID)
        @Html.DisplayFor(model => model.CategoryName)

        @Html.DropDownList("Brand2", (SelectList)ViewBag.Brand, "---Select Brand ---", new { @class = "select-box" })
        @Html.DropDownList("ProductID2", (SelectList)ViewBag.ProductID, new { @onchange = "this.form.submit();", @class = "select-box" })

    </div>
}
<script src="~/Scripts/jquery-2.1.3.min.js"></script>
<script>
    $(document).ready(function () {

        $("#Brand2").change(function () {
            var BrandID = $("#Brand2 option:Selected").val();
            var CategoryID = $("#CategoryID").val();
            $("#pageloaddiv").attr("display", "block");
            $("#pageloaddiv").css("display", "block");

            $.ajax({
                url: '@Url.Action("ProductListByBrand", "ProductCompare")',
                data: { 'BrandID': BrandID, 'CategoryID': CategoryID },
                cache: false,
                type: "POST",
                success: function (msg) {
                    $("#ProductID2").empty();
                    $('#ProductID2').append('<option value=0> --- Select Product ---</option>');
                    $.each(msg, function (index, item) {
                        $('#ProductID2').append('<option value=' + item.ProductID + '>' + item.ProductName + '</option>');
                    }),
                     $("#pageloaddiv").css('display', 'none');
                    $("#pageloaddiv").fadeOut(1000);
                },
            });
        });
    });
</script>