@{
    Layout = null;
}
<script src="~/Content/update(5-10)/js/jquery-1.11.2.min.js"></script>
<script src="~/Scripts/ShortList.js"></script>
<script type="text/javascript">
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var newClone1 = $("#cpy1").html();
        var newClone2 = $("#cpy2").html();
        var newClone3 = $("#cpy3").html();
        var newClone4 = $("#cpy4").html();
        var newClone5 = $("#cpy5").html();
        var newClone6 = $("#cpy6").html();
        if ($(window).width() < 750) {
            $(newClone1).clone().appendTo("#pst1");
            $(newClone2).clone().appendTo("#pst2");
            $(newClone3).clone().appendTo("#pst3");
            $(newClone4).clone().appendTo("#pst4");
            $(newClone5).clone().appendTo("#pst5");
            $(newClone6).clone().appendTo("#pst6");

        } else {
            $("#pst1").empty();
            $("#pst2").empty();
            $("#pst3").empty();
            $("#pst4").empty();
            $("#pst5").empty();
            $("#pst6").empty();
        }
    });
</script>
<script src="~/Scripts/Products.js"></script>
<script src="~/Scripts/jquery.lazyimage.js"></script>
<script>
    $(function () {

        $('img.main-img').imgPreload()

    });
</script>
<style>
    /*.product-list li .product-name {
        height: 60px;
    }*/
    .active11 {
        color: green !important;
    }

    .heart {
        display: none !important;
    }

    .product-list li .content_price {
        width: 167px;
    }

    .product-list li .product-name {
        height: 30px;
    }
</style>
@{
    string cityName = "";
    if (Request.Cookies["CityCookie"] != null && Request.Cookies["CityCookie"].Value != "")
    {
        cityName = Request.Cookies["CityCookie"].Value.Split('$')[1].ToLower();
    }
}

<div class="content-page">
    <div class="container">

        <!-- featured category fashion -->

        <div class="category-featured fashion">
            <nav class="navbar nav-menu show-brand">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-fashion.png">*@Sweets </a></div>
                    <span class="toggle-menu"></span>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav" id="pst3"></ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
                <div id="elevator-1" class="floor-elevator">
                    <a href="#" class="btn-elevator up disabled fa fa-angle-up"></a>
                    <a href="#elevator-2" class="btn-elevator down fa fa-angle-down"></a>
                </div>
            </nav>
            <div class="product-featured clearfix">
                <div class="row">
                    <div class="col-sm-2 sub-category-wapper">
                        <ul class="sub-category-list" id="cpy3">
                            <li><a href="@Url.RouteUrl("ShopSearch2", new { city = cityName, shopName = "Kubeer Sweets".ToLower().Replace(" ", "-"), shopID = 10429 })">Kubeer Sweet </a></li>
                            <li><a href="@Url.RouteUrl("ShopSearch2", new { city = cityName, shopName = "Om Sai Traders".ToLower().Replace(" ", "-"), shopID = 10462 })">Om Sai Traders </a></li>
                            <li><a href="@Url.RouteUrl("ShopSearch2", new { city = cityName, shopName = "Shree Ram Bhandar".ToLower().Replace(" ", "-"), shopID = 10489 })">Shree Ram Bhandar </a></li>
                            <li><a href="@Url.RouteUrl("ShopSearch2", new { city = cityName, shopName = "Cake Parlour".ToLower().Replace(" ", "-"), shopID = 10418 })">Cake Parlour </a></li>
                            <li><a href="@Url.RouteUrl("ShopSearch2", new { city = cityName, shopName = "Chestnuts".ToLower().Replace(" ", "-"), shopID = 10475 })">Chestnuts</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-10 col-right-tab">
                        <div class="product-featured-tab-content">
                            <div class="tab-container">
                                <div class="tab-panel active" id="tab-4">
                                    <div class="box-left">
                                        <div class="banner-img">
                                            <a href="~/Home/SweetAndConfectioneryVaranasi"><img class="main-img" src="~/Content/update(5-10)/images/varanasi_images/Sweet_Varanasi.jpg" alt="Banner Product"></a>
                                        </div>
                                    </div>
                                    <div class="box-right clearfix">
                                        <ul class="product-list row">
                                            <li class="col-sm-4">
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="@Url.RouteUrl("ProductsByCategory", new { item = "Motichur ke laddu".ToLower().Replace(' ', '-'), parentCategoryId = 43318, city = cityName })">Motichur ke laddu (Desi Ghee)</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">Rs280.00</span>
                                                        @*<span class="price old-price">Rs1000.00</span>*@
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "Motichur ke laddu".ToLower().Replace(' ', '-'), parentCategoryId = 43318, city = cityName })">
                                                    <img class="img-responsive main-img" alt="product" src="~/Content/update(5-10)/images/varanasi_images/V_43318.jpg">
                                                    </a>
                                                    <div class="quick-view">
                                                        @*Id conatains productid # shopstockid # product name (space remove by _) *@
                                                        @if (Request.Cookies["ShortListCookie"] != null && Request.Cookies["ShortListCookie"].ToString() != string.Empty)
                                                        {
                                                            string cookRecView = Request.Cookies["ShortListCookie"].Value;
                                                            if (cookRecView.Contains("43318$54637$"))//productID$shpstockID
                                                            {
                                                                <a title="Added to shortlist" id="43318#54637#Motichur ke laddu" class="heart active11" href="#"></a>
                                                            }
                                                            else
                                                            {
                                                                <a title="Add to shortlist" id="43318#54637#Motichur ke laddu " class="heart" href="#" onclick="AddProductToShortListFromHome(this)"></a>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <a title="Add to shortlist" id="43318#54637#Motichur ke laddu " class="heart" href="#" onclick="AddProductToShortListFromHome(this)"></a>
                                                        }

                                                        @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                        <a title="Quick view" class="search" href="@Url.RouteUrl("ProductsByCategory", new { item = "Motichur ke laddu".ToLower().Replace(' ', '-'), parentCategoryId = 43318, city = cityName })"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a title="Add to Cart" onclick="AddProduct(54637, 43318)">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4">
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href ="@Url.RouteUrl("ProductsByCategory", new { item = "Kheer kadam".ToLower().Replace(' ', '-'), parentCategoryId = 43316, city = cityName })">Kheer kadam</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">Rs280.00</span>
                                                        @*<span class="price old-price">Rs1500.00</span>*@
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href ="@Url.RouteUrl("ProductsByCategory", new { item = "Kheer kadam".ToLower().Replace(' ', '-'), parentCategoryId = 43316, city = cityName })">
                                                        <img class="img-responsive main-img" alt="product" src="~/Content/update(5-10)/images/varanasi_images/V_43316.jpg"></a>
                                                        <div class="quick-view">
                                                            @*Id conatains productid # shopstockid # product name (space remove by _) *@
                                                            @if (Request.Cookies["ShortListCookie"] != null && Request.Cookies["ShortListCookie"].ToString() != string.Empty)
                                                            {
                                                                string cookRecView = Request.Cookies["ShortListCookie"].Value;
                                                                if (cookRecView.Contains("18236$10150$"))//productID$shpstockID
                                                                {
                                                                    <a title="Added to shortlist" id="43316#54632#Kheer kadam" class="heart active11" href="#"></a>
                                                                }
                                                                else
                                                                {
                                                                    <a title="Add to shortlist" id="43316#54632#Kheer kadam" class="heart" href="#" onclick="AddProductToShortListFromHome(this)"></a>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <a title="Add to shortlist" id="43316#54632#Kheer kadam" class="heart" href="#" onclick="AddProductToShortListFromHome(this)"></a>
                                                            }
                                                            @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                            <a title="Quick view" class="search" href="@Url.RouteUrl("ProductsByCategory", new { item = "Kheer kadam".ToLower().Replace(' ', '-'), parentCategoryId = 43316, city = cityName })"></a>
                                                        </div>
                                                        <div class="add-to-cart">
                                                            <a title="Add to Cart" onclick="AddProduct(54632, 43316)">Add to Cart</a>
                                                        </div>
</div>
                                            </li>
                                            <li class="col-sm-4">
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="@Url.RouteUrl("ProductsByCategory", new { item = "Malai SandWich".ToLower().Replace(' ', '-'), parentCategoryId = 45777, city = cityName })">Malai SandWich</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">Rs250.00</span>
                                                        @*<span class="price old-price">Rs1075.00</span>*@
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "Malai SandWich".ToLower().Replace(' ', '-'), parentCategoryId = 45777, city = cityName })"><img class="img-responsive main-img" alt="product" src="~/Content/update(5-10)/images/varanasi_images/V_45777.jpg"></a>
                                                    <div class="quick-view">
                                                        @*Id conatains productid # shopstockid # product name (space remove by _) *@
                                                        @if (Request.Cookies["ShortListCookie"] != null && Request.Cookies["ShortListCookie"].ToString() != string.Empty)
                                                        {
                                                            string cookRecView = Request.Cookies["ShortListCookie"].Value;
                                                            if (cookRecView.Contains("45777$62764$"))//productID$shpstockID
                                                            {
                                                                <a title="Added to shortlist" id="45777#62764#Malai SandWich" class="heart active11" href="#"></a>
                                                            }
                                                            else
                                                            {
                                                                <a title="Add to shortlist" id="45777#62764#Malai SandWich" class="heart" href="#" onclick="AddProductToShortListFromHome(this)"></a>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <a title="Add to shortlist" id="45777#62764#Malai SandWich" class="heart" href="#" onclick="AddProductToShortListFromHome(this)"></a>
                                                        }
                                                        @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                        <a title="Quick view" class="search" href="@Url.RouteUrl("ProductsByCategory", new { item = "Malai SandWich".ToLower().Replace(' ', '-'), parentCategoryId = 45777, city = cityName })"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        @*AddProductToShppingCartWithoutQuantity(shopstockId,ProductId)*@
                                                        <a title="Add to Cart" onclick="AddProduct(62764, 45777)">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4">
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="~/PreviewItem?itemId=45776&shopID=10489">Kaju Biscuit</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">Rs120.00</span>
                                                        @*<span class="price old-price">Rs1425.00</span>*@
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "Kaju Biscuit".ToLower().Replace(' ', '-'), parentCategoryId = 45776, city = cityName })"><img class="img-responsive main-img" alt="product" src="~/Content/update(5-10)/images/varanasi_images/V_45776.jpg"></a>
                                                    <div class="quick-view">
                                                        @*Id conatains productid # shopstockid # product name (space remove by _) *@
                                                        @if (Request.Cookies["ShortListCookie"] != null && Request.Cookies["ShortListCookie"].ToString() != string.Empty)
                                                        {
                                                            string cookRecView = Request.Cookies["ShortListCookie"].Value;
                                                            if (cookRecView.Contains("23689$23264$"))//productID$shpstockID
                                                            {
                                                                <a title="Added to shortlist" id="45776#62761#Kaju Biscuit" class="heart active11" href="#"></a>
                                                            }
                                                            else
                                                            {
                                                                <a title="Add to shortlist" id="45776#62761#Kaju Biscuit" class="heart" href="#" onclick="AddProductToShortListFromHome(this)"></a>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <a title="Add to shortlist" id="45776#62761#Kaju Biscuit" class="heart" href="#" onclick="AddProductToShortListFromHome(this)"></a>
                                                        }
                                                        @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                        <a title="Quick view" class="search" href="@Url.RouteUrl("ProductsByCategory", new { item = "Malai SandWich".ToLower().Replace(' ', '-'), parentCategoryId = 45777, city = cityName })"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a title="Add to Cart" onclick="AddProduct(62761, 45776)">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4">
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="@Url.RouteUrl("ProductsByCategory", new { item = "Light Choco Pastry".ToLower().Replace(' ', '-'), parentCategoryId = 45475, city = cityName })">Light Choco Pastry</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">Rs40.00</span>
                                                        @*<span class="price old-price">Rs1075.00</span>*@
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "Light Choco Pastry".ToLower().Replace(' ', '-'), parentCategoryId = 45475, city = cityName })"><img class="img-responsive main-img" alt="product" src="~/Content/update(5-10)/images/varanasi_images/V_45475.jpg"></a>
                                                    <div class="quick-view">
                                                        @*Id conatains productid # shopstockid # product name (space remove by _) *@
                                                        @if (Request.Cookies["ShortListCookie"] != null && Request.Cookies["ShortListCookie"].ToString() != string.Empty)
                                                        {
                                                            string cookRecView = Request.Cookies["ShortListCookie"].Value;
                                                            if (cookRecView.Contains("45475$62134$"))//productID$shpstockID
                                                            {
                                                                <a title="Added to shortlist" id="45475#62134#Light Choco Pastry" class="heart active11" href="#"></a>
                                                            }
                                                            else
                                                            {
                                                                <a title="Add to shortlist" id="45475#62134#Light Choco Pastry" class="heart" href="#" onclick="AddProductToShortListFromHome(this)"></a>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <a title="Add to shortlist" id="45475#62134#Light Choco Pastry" class="heart" href="#" onclick="AddProductToShortListFromHome(this)"></a>
                                                        }
                                                        @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                        <a title="Quick view" class="search" href="@Url.RouteUrl("ProductsByCategory", new { item = "Light Choco Pastry".ToLower().Replace(' ', '-'), parentCategoryId = 45475, city = cityName })"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a title="Add to Cart" onclick="AddProduct(62134, 45475)">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4">
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="@Url.RouteUrl("ProductsByCategory", new { item = "Black Forest Choco Chips Egg Cake".ToLower().Replace(' ', '-'), parentCategoryId = 43123, city = cityName })">Black Forest Choco Chips Egg Cake</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">Rs450.00</span>
                                                        <span class="price old-price">Rs500.00</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "Black Forest Choco Chips Egg Cake".ToLower().Replace(' ', '-'), parentCategoryId = 43123, city = cityName })"><img class="img-responsive main-img" alt="product" src="~/Content/update(5-10)/images/varanasi_images/V_43123.jpg"></a>
                                                    <div class="quick-view">
                                                        @*Id conatains productid # shopstockid # product name (space remove by _) *@
                                                        @if (Request.Cookies["ShortListCookie"] != null && Request.Cookies["ShortListCookie"].ToString() != string.Empty)
                                                        {
                                                            string cookRecView = Request.Cookies["ShortListCookie"].Value;
                                                            if (cookRecView.Contains("4312$53792$"))//productID$shpstockID
                                                            {
                                                                <a title="Added to shortlist" id="43123#53792#Black Forest Choco Chips Egg Cake" class="heart active11" href="#"></a>
                                                            }
                                                            else
                                                            {
                                                                <a title="Add to shortlist" id="43123#53792#Black Forest Choco Chips Egg Cake" class="heart" href="#" onclick="AddProductToShortListFromHome(this)"></a>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <a title="Add to shortlist" id="43123#53792#Black Forest Choco Chips Egg Cake" class="heart" href="#" onclick="AddProductToShortListFromHome(this)"></a>
                                                        }

                                                        @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                        <a title="Quick view" class="search" href="@Url.RouteUrl("ProductsByCategory", new { item = "Black Forest Choco Chips Egg Cake".ToLower().Replace(' ', '-'), parentCategoryId = 43123, city = cityName })"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a title="Add to Cart" onclick="AddProduct(53792, 43123)">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="category-featured fashion">
            <nav class="navbar nav-menu show-brand">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-fashion.png">*@Lifestyle &amp; Fashion</a></div>
                    <span class="toggle-menu"></span>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav" id="pst3"></ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
                <div id="elevator-1" class="floor-elevator">
                    <a href="#" class="btn-elevator up disabled fa fa-angle-up"></a>
                    <a href="#elevator-2" class="btn-elevator down fa fa-angle-down"></a>
                </div>
            </nav>
            <div class="product-featured clearfix">
                <div class="row">
                    <div class="col-sm-2 sub-category-wapper">
                        <ul class="sub-category-list" id="cpy3">
                            <li>@*<a href="~/Product/Products?parentCategoryId=744">Women Wear</a>*@
                                <a href="@Url.RouteUrl("ProductsByCategory", new { item = "women-wear", parentCategoryId = 744, city = cityName })">Women Wear</a></li>
                            <li>
                                @*<a href="~/Product/Products?parentCategoryId=1017">Men Clothing</a>*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "men-clothing", parentCategoryId = 1017, city = cityName })">Men Clothing</a></li>
                            <li>
                                @*<a href="~/Product/Products?parentCategoryId=833">Kids Section</a>*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "kids-section", parentCategoryId = 833, city = cityName })">Kids Section</a></li>
                            <li>@*<a href="~/Product/Products?parentCategoryId=1004">Men Footwear</a>*@
                                <a href="@Url.RouteUrl("ProductsByCategory", new { item = "men-footwear", parentCategoryId = 1004, city = cityName })">Men Footwear</a></li>
                            <li>
                                @*<a href="~/Product/Products?parentCategoryId=777">Gifting Ideas</a>*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "gifting-ideas", parentCategoryId = 777, city = cityName })">Gifting Ideas</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-10 col-right-tab">
                        <div class="product-featured-tab-content">
                            <div class="tab-container">
                                <div class="tab-panel active" id="tab-4">
                                    <div class="box-left">
                                        <div class="banner-img">
                                            @*<a href="~/Product/Products?parentCategoryId=744"><img class="main-img" src="~/Content/update(5-10)/images/varanasi_images/lifestyle_banner.jpg" alt="Banner Product"></a>*@
                                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "salwar-suits", parentCategoryId = 744, city = cityName })"><img class="main-img" src="~/Content/update(5-10)/images/varanasi_images/lifestyle_banner.jpg" alt="Banner Product"></a>
                                        </div>
                                    </div>
                                    <div class="box-right clearfix">
                                        <ul class="product-list row">
                                            <li class="col-sm-4">
                                                <div class="right-block">
                                                    @*<h5 class="product-name"><a href="~/PreviewItem?itemId=41626&shopID=10396">Dairy Milk - Ladies Suit's</a></h5>*@
                                                    <h5 class="product-name">
                                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41626, itemName = "Dairy Milk-Ladies Suit's".ToLower().Replace(' ', '-'), city = cityName })"
                                                           title="Dairy Milk-Ladies Suit's">Dairy Milk-Ladies Suit's</a>
                                                    </h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">Rs849.00</span>
                                                        <span class="price old-price">Rs1000.00</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    @*<a href="~/PreviewItem?itemId=41626&shopID=10396"><img class="img-responsive main-img" alt="product" src="~/Content/update(5-10)/images/varanasi_images/S1.png"></a>*@
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41626, itemName = "Dairy Milk-Ladies Suit's".ToLower().Replace(' ', '-'), city = cityName })">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/varanasi_images/S1.png">
                                                    </a>
                                                    <div class="quick-view">
                                                        @*Id conatains productid # shopstockid # product name (space remove by _) *@
                                                        @if (Request.Cookies["ShortListCookie"] != null && Request.Cookies["ShortListCookie"].ToString() != string.Empty)
                                                        {
                                                        string cookRecView = Request.Cookies["ShortListCookie"].Value;
                                                        if (cookRecView.Contains("41380$47941$"))//productID$shpstockID
                                                        {
                                                        <a title="Added to shortlist" id="41380#47941#Nivea Rich Nourishing Body Lotion " class="heart active11" href="#"></a>
                                                        }
                                                        else
                                                        {
                                                        <a title="Add to shortlist" id="41380#47941#Nivea Rich Nourishing Body Lotion " class="heart" href="#" onclick="AddProductToShortListFromHome(this)"></a>
                                                        }
                                                        }
                                                        else
                                                        {
                                                        <a title="Add to shortlist" id="41380#47941#Nivea Rich Nourishing Body Lotion " class="heart" href="#" onclick="AddProductToShortListFromHome(this)"></a>
                                                        }

                                                        @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                        <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 41626, itemName = "Dairy Milk Ladies Suit's".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48477, 41626)">Add to Cart</a>*@
                                                        <a title="Add to Cart" onclick="AddProduct(48477, 41626)">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4">
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42161, itemName = "Anand Airlines Classic Plane Toys".ToLower().Replace(' ', '-'), city = cityName })">Anand Airlines Classic Plane Toys M026</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">Rs360.00</span>
                                                        @*<span class="price old-price">Rs1500.00</span>*@
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42161, itemName = "Anand Airlines Classic Plane Toys".ToLower().Replace(' ', '-'), city = cityName })"><img class="img-responsive main-img" alt="product" src="~/Content/update(5-10)/images/varanasi_images/V_42161.jpg"></a>
                                                    <div class="quick-view">
                                                        @*Id conatains productid # shopstockid # product name (space remove by _) *@
                                                        @if (Request.Cookies["ShortListCookie"] != null && Request.Cookies["ShortListCookie"].ToString() != string.Empty)
                                                        {
                                                            string cookRecView = Request.Cookies["ShortListCookie"].Value;
                                                            if (cookRecView.Contains("42161$49250$"))//productID$shpstockID
                                                            {
                                                                <a title="Added to shortlist" id="42161#49250#Anand Airlines Classic Plane Toys M026" class="heart active11" href="#"></a>
                                                            }
                                                            else
                                                            {
                                                                <a title="Add to shortlist" id="42161#49250#Anand Airlines Classic Plane Toys M026" class="heart" href="#" onclick="AddProductToShortListFromHome(this)"></a>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <a title="Add to shortlist" id="42161#49250#Anand Airlines Classic Plane Toys M026" class="heart" href="#" onclick="AddProductToShortListFromHome(this)"></a>
                                                        }
                                                        @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                        <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 42161, itemName = "Anand Airlines Classic Plane Toys".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a title="Add to Cart" onclick="AddProduct(49250, 42161)">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4">
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42559, itemName = "Love Couple".ToLower().Replace(' ', '-'), city = cityName })">Love Couple</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">Rs1040.00</span>
                                                        <span class="price old-price">Rs1100.00</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42559, itemName = "Love Couple".ToLower().Replace(' ', '-'), city = cityName })"><img class="img-responsive main-img" alt="product" src="~/Content/update(5-10)/images/varanasi_images/V_42559.jpg"></a>
                                                    <div class="quick-view">
                                                        @*Id conatains productid # shopstockid # product name (space remove by _) *@
                                                        @if (Request.Cookies["ShortListCookie"] != null && Request.Cookies["ShortListCookie"].ToString() != string.Empty)
                                                        {
                                                            string cookRecView = Request.Cookies["ShortListCookie"].Value;
                                                            if (cookRecView.Contains("42559$51911$"))//productID$shpstockID
                                                            {
                                                                <a title="Added to shortlist" id="42559#51911#Love Couple" class="heart active11" href="#"></a>
                                                            }
                                                            else
                                                            {
                                                                <a title="Add to shortlist" id="42559#51911#Love Couple" class="heart" href="#" onclick="AddProductToShortListFromHome(this)"></a>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <a title="Add to shortlist" id="42559#51911#Love Couple" class="heart" href="#" onclick="AddProductToShortListFromHome(this)"></a>
                                                        }
                                                        @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                        <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 42559, itemName = "Love Couple".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        @*AddProductToShppingCartWithoutQuantity(shopstockId,ProductId)*@
                                                        <a title="Add to Cart" onclick="AddProduct(51911, 42559)">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4">
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42413, itemName = "Crocodile Dress Blue Polo T Shirt".ToLower().Replace(' ', '-'), city = cityName })">Crocodile Dress Blue Polo T Shirt</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">Rs719.00</span>
                                                        <span class="price old-price">Rs799.00</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42413, itemName = "Crocodile Dress Blue Polo T Shirt".ToLower().Replace(' ', '-'), city = cityName })"><img class="img-responsive main-img" alt="product" src="~/Content/update(5-10)/images/varanasi_images/V_42413.jpg"></a>
                                                    <div class="quick-view">
                                                        @*Id conatains productid # shopstockid # product name (space remove by _) *@
                                                        @if (Request.Cookies["ShortListCookie"] != null && Request.Cookies["ShortListCookie"].ToString() != string.Empty)
                                                        {
                                                            string cookRecView = Request.Cookies["ShortListCookie"].Value;
                                                            if (cookRecView.Contains("42413$50028$"))//productID$shpstockID
                                                            {
                                                                <a title="Added to shortlist" id="42413#50028#Crocodile Dress Blue Polo T Shirt" class="heart active11" href="#"></a>
                                                            }
                                                            else
                                                            {
                                                                <a title="Add to shortlist" id="42413#50028#Crocodile Dress Blue Polo T Shirt" class="heart" href="#" onclick="AddProductToShortListFromHome(this)"></a>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <a title="Add to shortlist" id="42413#50028#Crocodile Dress Blue Polo T Shirt" class="heart" href="#" onclick="AddProductToShortListFromHome(this)"></a>
                                                        }
                                                        @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                        <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 42413, itemName = "Crocodile Dress Blue Polo T Shirt".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a title="Add to Cart" onclick="AddProduct(50028, 42413)">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4">
                                                <div class="right-block">
                                                    @*<h5 class="product-name"><a href="~/PreviewItem?itemId=41613">BABY DOLL Ladies Suit's</a></h5>*@
                                                    <h5 class="product-name">
                                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41613, itemName = "Baby Doll Ladies Suit's".ToLower().Replace(' ', '-'), city = cityName })"
                                                           title="Baby Doll Ladies Suit's">Baby Doll Ladies Suit's</a>
                                                    </h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">Rs950.00</span>
                                                        <span class="price old-price">Rs1075.00</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    @*<a href="~/PreviewItem?itemId=41613"><img class="img-responsive main-img" alt="product" src="~/Content/update(5-10)/images/varanasi_images/S5.png"></a>*@
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41613, itemName = "Baby Doll Ladies Suit's".ToLower().Replace(' ', '-'), city = cityName })">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/varanasi_images/S5.png">
                                                    </a>
                                                    <div class="quick-view">
                                                        @*Id conatains productid # shopstockid # product name (space remove by _) *@
                                                        @if (Request.Cookies["ShortListCookie"] != null && Request.Cookies["ShortListCookie"].ToString() != string.Empty)
                                                        {
                                                        string cookRecView = Request.Cookies["ShortListCookie"].Value;
                                                        if (cookRecView.Contains("24897$25054$"))//productID$shpstockID
                                                        {
                                                        <a title="Added to shortlist" id="24897#25054#Half_Sleeve_Blue_Round_neck_T-shirt" class="heart active11" href="#"></a>
                                                        }
                                                        else
                                                        {
                                                        <a title="Add to shortlist" id="24897#25054#Half_Sleeve_Blue_Round_neck_T-shirt" class="heart" href="#" onclick="AddProductToShortListFromHome(this)"></a>
                                                        }
                                                        }
                                                        else
                                                        {
                                                        <a title="Add to shortlist" id="24897#25054#Half_Sleeve_Blue_Round_neck_T-shirt" class="heart" href="#" onclick="AddProductToShortListFromHome(this)"></a>
                                                        }
                                                        @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                        <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 41613, itemName = "Baby Doll Ladies Suit's".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        @*<a title="Add to Cart" onclick="AddProduct(48464, 41613)">Add to Cart</a>*@
                                                        <a title="Add to Cart" onclick="AddProduct(48464, 41613)">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4">
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 45184, itemName = "Adidas Men's Alcor 1.0 M Running Shoes".ToLower().Replace(' ', '-'), city = cityName })">Adidas Men's Alcor 1.0 M Running Shoes (S45086)</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">Rs2380.00</span>
                                                        <span class="price old-price">Rs2799.00</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 45184, itemName = "Adidas Men's Alcor 1.0 M Running Shoes".ToLower().Replace(' ', '-'), city = cityName })"><img class="img-responsive main-img" alt="product" src="~/Content/update(5-10)/images/varanasi_images/V_45184.jpg"></a>
                                                    <div class="quick-view">
                                                        @*Id conatains productid # shopstockid # product name (space remove by _) *@
                                                        @if (Request.Cookies["ShortListCookie"] != null && Request.Cookies["ShortListCookie"].ToString() != string.Empty)
                                                        {
                                                            string cookRecView = Request.Cookies["ShortListCookie"].Value;
                                                            if (cookRecView.Contains("45184$61336$"))//productID$shpstockID
                                                            {
                                                                <a title="Added to shortlist" id="45184#61336#Adidas Men's Alcor 1.0 M Running Shoes" class="heart active11" href="#"></a>
                                                            }
                                                            else
                                                            {
                                                                <a title="Add to shortlist" id="45184#61336#Adidas Men's Alcor 1.0 M Running Shoes" class="heart" href="#" onclick="AddProductToShortListFromHome(this)"></a>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <a title="Add to shortlist" id="45184#61336#Adidas Men's Alcor 1.0 M Running Shoes " class="heart" href="#" onclick="AddProductToShortListFromHome(this)"></a>
                                                        }

                                                        @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                        <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 45184, itemName = "Adidas Men's Alcor 1.0 M Running Shoes".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a title="Add to Cart" onclick="AddProduct(61336, 45184)">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="category-featured fashion">
            <nav class="navbar nav-menu show-brand">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-fashion.png">*@ Kitchen Wares</a></div>
                    <span class="toggle-menu"></span>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav" id="pst3"></ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
                <div id="elevator-1" class="floor-elevator">
                    <a href="#" class="btn-elevator up disabled fa fa-angle-up"></a>
                    <a href="#elevator-2" class="btn-elevator down fa fa-angle-down"></a>
                </div>
            </nav>
            <div class="product-featured clearfix">
                <div class="row">
                    <div class="col-sm-2 sub-category-wapper">
                        <ul class="sub-category-list" id="cpy3">
                            <li>@*<a href="~/Product/Products?parentCategoryId=256">Tea & Coffee Serveware</a>*@
                                <a href="@Url.RouteUrl("ProductsByCategory", new { item = "tea-coffee-serveware", parentCategoryId = 256, city = cityName })">Tea & Coffee Serveware</a></li>
                            <li>@*<a href="~/Product/Products?parentCategoryId=253">Cookware & Bakeware</a>*@
                                <a href="@Url.RouteUrl("ProductsByCategory", new { item = "cookware-bakeware", parentCategoryId = 253, city = cityName })">Cookware Bakeware</a></li>
                            <li>@*<a href="~/Product/Products?parentCategoryId=254"> Dining & Serving</a>*@
                                <a href="@Url.RouteUrl("ProductsByCategory", new { item = "dining-and-serving", parentCategoryId = 254, city = cityName })">Dining & Serving</a></li>
                            <li>@*<a href="~/Product/Products?parentCategoryId=250">Flasks & Tiffins</a>*@
                                <a href="@Url.RouteUrl("ProductsByCategory", new { item = "flasks-and-tiffins", parentCategoryId = 250, city = cityName })">Flasks & Tiffins</a></li>
                            <li>@*<a href="~/Product/Products?parentCategoryId=251">Kitchen Storage</a>*@
                                <a href="@Url.RouteUrl("ProductsByCategory", new { item = "kitchen-storage", parentCategoryId = 251, city = cityName })">Kitchen Storage</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-10 col-right-tab">
                        <div class="product-featured-tab-content">
                            <div class="tab-container">
                                <div class="tab-panel active" id="tab-4">
                                    <div class="box-left">
                                        <div class="banner-img">
                                            @*<a href="~/Product/Products?parentCategoryId=254">*@
                                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "dining-and-serving", parentCategoryId = 254, city = cityName })"><img class="main-img" src="~/Content/update(5-10)/images/varanasi_images/kitchen_banner.jpg" alt="Banner Product"></a>
                                        </div>

                                    </div>
                                    <div class="box-right clearfix">
                                        <ul class="product-list row">
                                            <li class="col-sm-4">
                                                <div class="right-block">
                                                    @*<h5 class="product-name"><a href="~/PreviewItem?itemId=43297&shopID=10427">Laopala Tea Cup set - 2</a></h5>*@
                                                    <h5 class="product-name">
                                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43297, itemName = "Laopala Tea Cup set-2".ToLower().Replace(' ', '-'), city = cityName })"
                                                        title="Laopala Tea Cup set-2">Laopala Tea Cup set-2</a>
                                                    </h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">Rs475.00</span>
                                                        <span class="price old-price">Rs495.00</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    @*<a href="~/PreviewItem?itemId=43297&shopID=10427"><img class="img-responsive main-img" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_43297.jpg"></a>*@
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43297, itemName = "Laopala Tea Cup set-2".ToLower().Replace(' ', '-'), city = cityName })">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_43297.jpg">
                                                    </a>
                                                    <div class="quick-view">
                                                        @*Id conatains productid # shopstockid # product name (space remove by _) *@
                                                        @if (Request.Cookies["ShortListCookie"] != null && Request.Cookies["ShortListCookie"].ToString() != string.Empty)
                                                        {
                                                        string cookRecView = Request.Cookies["ShortListCookie"].Value;
                                                        if (cookRecView.Contains("54563$43297$"))//productID$shpstockID
                                                        {
                                                        <a title="Added to shortlist" id="54563#43297#Intex IT-2581 SUF 2.1 MultiMedia Speaker " class="heart active11" href="#"></a>
                                                        }
                                                        else
                                                        {
                                                        <a title="Add to shortlist" id="54563#43297#Intex IT-2581 SUF 2.1 MultiMedia Speaker" class="heart" href="#" onclick="AddProductToShortListFromHome(this)"></a>
                                                        }
                                                        }
                                                        else
                                                        {
                                                        <a title="Add to shortlist" id="54563#43297#Intex IT-2581 SUF 2.1 MultiMedia Speaker" class="heart" href="#" onclick="AddProductToShortListFromHome(this)"></a>
                                                        }

                                                        @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                        <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 43297, itemName = "Laopala Tea Cup set-2".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        @*<a title="Add to Cart" onclick="AddProduct(54563, 43297)">Add to Cart</a>*@
                                                        <a title="Add to Cart" onclick="AddProduct(54563, 43297)">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4">
                                                <div class="right-block">
                                                    @*<h5 class="product-name"><a href="~/PreviewItem?itemId=43433">United Pressure Cooker</a></h5>*@
                                                    <h5 class="product-name">
                                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43433, itemName = "United Pressure Cooker".ToLower().Replace(' ', '-'), city = cityName })"
                                                           title="United Pressure Cooker">United Pressure Cooker</a>
                                                    </h5>
                                                     <div class="content_price">
                                                        <span class="price product-price">Rs37.00</span>
                                                        <span class="price old-price">Rs44.00</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    @*<a href="~/PreviewItem?itemId=43433"><img class="img-responsive main-img" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_43433.jpg"></a>*@
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43433, itemName = "United Pressure Cooker".ToLower().Replace(' ', '-'), city = cityName })">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_43433.jpg">
                                                    </a>
                                                    <div class="quick-view">
                                                        @*Id conatains productid # shopstockid # product name (space remove by _) *@
                                                        @if (Request.Cookies["ShortListCookie"] != null && Request.Cookies["ShortListCookie"].ToString() != string.Empty)
                                                        {
                                                        string cookRecView = Request.Cookies["ShortListCookie"].Value;
                                                        if (cookRecView.Contains("54563$43433$"))//productID$shpstockID
                                                        {
                                                        <a title="Added to shortlist" id="54955#43433#Intex IT 2.1-2550 SUF Multimedia Speaker" class="heart active11" href="#"></a>
                                                        }
                                                        else
                                                        {
                                                        <a title="Add to shortlist" id="54955#43433#Intex IT 2.1-2550 SUF Multimedia Speaker" class="heart" href="#" onclick="AddProductToShortListFromHome(this)"></a>
                                                        }
                                                        }
                                                        else
                                                        {
                                                        <a title="Add to shortlist" id="54955#43433#Intex IT 2.1-2550 SUF Multimedia Speaker" class="heart" href="#" onclick="AddProductToShortListFromHome(this)"></a>
                                                        }
                                                        @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                        <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 43433, itemName = "United Pressure Cooker".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        @*<a title="Add to Cart" onclick="AddProduct(54955, 43433)">Add to Cart</a>*@
                                                        <a title="Add to Cart" onclick="AddProduct(54955, 43433)">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4">
                                                <div class="right-block">
                                                    @*<h5 class="product-name"><a href="~/PreviewItem?itemId=43279">Cello Oscar Casseroles Set</a></h5>*@
                                                    <h5 class="product-name">
                                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43279, itemName = "Cello Oscar Casseroles Set".ToLower().Replace(' ', '-'), city = cityName })"
                                                           title="Cello Oscar Casseroles Set">Cello Oscar Casseroles Set</a>
                                                    </h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">Rs1500.00</span>
                                                        <span class="price old-price">Rs1813.00</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    @*<a href="~/PreviewItem?itemId=43279"><img class="img-responsive main-img" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_43279.jpg"></a>*@
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43279, itemName = "Cello Oscar Casseroles Set".ToLower().Replace(' ', '-'), city = cityName })">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_43279.jpg">
                                                    </a>
                                                    <div class="quick-view">
                                                        @*Id conatains productid # shopstockid # product name (space remove by _) *@
                                                        @if (Request.Cookies["ShortListCookie"] != null && Request.Cookies["ShortListCookie"].ToString() != string.Empty)
                                                        {
                                                        string cookRecView = Request.Cookies["ShortListCookie"].Value;
                                                        if (cookRecView.Contains("41838$54496$"))//productID$shpstockID
                                                        {
                                                        <a title="Added to shortlist" id="43279#54496#Intex IT-2575 SUF GlO 2.1 Speaker System" class="heart active11" href="#"></a>
                                                        }
                                                        else
                                                        {
                                                        <a title="Add to shortlist" id="41838#54496#Intex IT-2575 SUF GlO 2.1 Speaker System" class="heart" href="#" onclick="AddProductToShortListFromHome(this)"></a>
                                                        }
                                                        }
                                                        else
                                                        {
                                                        <a title="Add to shortlist" id="41838#54496#Intex IT-2575 SUF GlO 2.1 Speaker System" class="heart" href="#" onclick="AddProductToShortListFromHome(this)"></a>
                                                        }
                                                        @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                        <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 43279, itemName = "Cello Oscar Casseroles Set".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        @*AddProduct(shopstockId,ProductId)*@
                                                        @*<a title="Add to Cart" onclick="AddProduct(54496, 43279)">Add to Cart</a>*@
                                                        <a title="Add to Cart" onclick="AddProduct(54496, 43279)">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4">
                                                <div class="right-block">
                                                    @*<h5 class="product-name"><a href="~/PreviewItem?itemId=39521">Cello Carbon Insulated Lunch Carrier Set, 3 Container</a></h5>*@
                                                    <h5 class="product-name">
                                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 39521, itemName = "Cello Carbon Insulated Lunch Carrier Set".ToLower().Replace(' ', '-'), city = cityName })"
                                                           title="Cello Carbon Insulated Lunch Carrier Set">Cello Carbon Insulated Lunch Carrier Set</a>
                                                    </h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">Rs650.00</span>
                                                        <span class="price old-price">Rs820.00</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    @*<a href="~/PreviewItem?itemId=39521"><img class="img-responsive main-img" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_39521.jpg"></a>*@
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 39521, itemName = "Cello Carbon Insulated Lunch Carrier Set".ToLower().Replace(' ', '-'), city = cityName })">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_39521.jpg">
                                                    </a>
                                                    <div class="quick-view">
                                                        @*Id conatains productid # shopstockid # product name (space remove by _) *@
                                                        @if (Request.Cookies["ShortListCookie"] != null && Request.Cookies["ShortListCookie"].ToString() != string.Empty)
                                                        {
                                                        string cookRecView = Request.Cookies["ShortListCookie"].Value;
                                                        if (cookRecView.Contains("39521$54358$"))//productID$shpstockID
                                                        {
                                                        <a title="Added to shortlist" id="39521#54358#Intex IT-5060 SUF 5.1 MultiMedia Speaker System" class="heart active11" href="#"></a>
                                                        }
                                                        else
                                                        {
                                                        <a title="Add to shortlist" id="39521#54358#Intex IT-5060 SUF 5.1 MultiMedia Speaker System" class="heart" href="#" onclick="AddProductToShortListFromHome(this)"></a>
                                                        }
                                                        }
                                                        else
                                                        {
                                                        <a title="Add to shortlist" id="39521#54358#Intex IT-5060 SUF 5.1 MultiMedia Speaker System" class="heart" href="#" onclick="AddProductToShortListFromHome(this)"></a>
                                                        }
                                                        @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                        <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 39521, itemName = "Cello Carbon Insulated Lunch Carrier Set".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                    </div>
                                                     <div class="add-to-cart">
                                                        @*<a title="Add to Cart" onclick="AddProduct(54358, 39521)">Add to Cart</a>*@
                                                         <a title="Add to Cart" onclick="AddProduct(54358, 39521)">Add to Cart</a>
                                                     </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4">
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href ="@Url.RouteUrl("pre-prod-name", new { itemId = 43295, itemName = "Laopala Tea Cup set".ToLower().Replace(' ', '-'), city = cityName })">Laopala Tea Cup set - 1</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">Rs475.00</span>
                                                        <span class="price old-price">Rs495.00</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43295, itemName = "Laopala Tea Cup set".ToLower().Replace(' ', '-'), city = cityName })"><img class="img-responsive main-img" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_43295.jpg"></a>
                                                    <div class="quick-view">
                                                        @*Id conatains productid # shopstockid # product name (space remove by _) *@
                                                        @if (Request.Cookies["ShortListCookie"] != null && Request.Cookies["ShortListCookie"].ToString() != string.Empty)
                                                        {
                                                            string cookRecView = Request.Cookies["ShortListCookie"].Value;
                                                            if (cookRecView.Contains("43295$54547$"))//productID$shpstockID
                                                            {
                                                                <a title="Added to shortlist" id="43295#54547#Laopala Tea Cup set-1" class="heart active11" href="#"></a>
                                                            }
                                                            else
                                                            {
                                                                <a title="Add to shortlist" id="43295#54547#Laopala Tea Cup set-1" class="heart" href="#" onclick="AddProductToShortListFromHome(this)"></a>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <a title="Add to shortlist" id="43295#54547#Laopala Tea Cup set-1" class="heart" href="#" onclick="AddProductToShortListFromHome(this)"></a>
                                                        }
                                                        @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                        <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 43295, itemName = "Laopala Tea Cup set".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a title="Add to Cart" onclick="AddProduct(54547, 43295)">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4">
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43429, itemName = "Vinod Zest Inducto Deep Kadai".ToLower().Replace(' ', '-'), city = cityName })">Vinod Zest Inducto Deep Kadai With Lid</a></h5>
                                                    <div class="content_price">
                                                        <span class="price product-price">Rs1377.00</span>
                                                        <span class="price old-price">Rs1530.00</span>
                                                    </div>
                                                </div>
                                                <div class="left-block">
                                                    <a href ="@Url.RouteUrl("pre-prod-name", new { itemId = 43429, itemName = "Vinod Zest Inducto Deep Kadai".ToLower().Replace(' ', '-'), city = cityName })">
                                                        <img class="img-responsive main-img" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_43429.jpg"></a>
                                                        <div class="quick-view">
                                                            @*Id conatains productid # shopstockid # product name (space remove by _) *@
                                                            @if (Request.Cookies["ShortListCookie"] != null && Request.Cookies["ShortListCookie"].ToString() != string.Empty)
                                                            {
                                                                string cookRecView = Request.Cookies["ShortListCookie"].Value;
                                                                if (cookRecView.Contains("43429$54949$"))//productID$shpstockID
                                                                {
                                                                    <a title="Added to shortlist" id="43429#54949#Vinod Zest Inducto Deep Kadai With Lid" class="heart active11" href="#"></a>
                                                                }
                                                                else
                                                                {
                                                                    <a title="Add to shortlist" id="43429#54949#Vinod Zest Inducto Deep Kadai With Lid" class="heart" href="#" onclick="AddProductToShortListFromHome(this)"></a>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <a title="Add to shortlist" id="43429#54949#Vinod Zest Inducto Deep Kadai With Lid" class="heart" href="#" onclick="AddProductToShortListFromHome(this)"></a>
                                                            }
                                                            @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                            <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 43429, itemName = "Vinod Zest Inducto Deep Kadai".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                        </div>
                                                        <div class="add-to-cart">
                                                            <a title="Add to Cart" onclick="AddProduct(54949, 43429)">Add to Cart</a>
                                                        </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end featured category fashion -->
        <!-- featured category Jewelry -->
        <!-- end featured category sports-->
    </div>
</div>