
@*<link href="~/Content/css/mains.css" rel="stylesheet" />*@
<script src="~/Scripts/jquery-2.1.3.min.js"></script>
@*<script src="~/Scripts/metro.js"></script>*@
<body>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("MyScripts", required: false)
    @RenderSection("itemScripts", required: false)
    @RenderSection("BotDetectStyles", required: false)
</body>
