@*@using PagedList;
@using PagedList.Mvc;*@
@model IEnumerable<ModelLayer.Models.ViewModel.EwalletRefundviewmodel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_franchise2.cshtml";
}

<style>
    .input {
        width: 80px;
    }

    select {
        width: 100px;
    }

    #divtable {
        width: 1100px;
        margin-left: 37px;
        border: 1px solid#ccc;
    }

        #divtable h3 {
            background-color: #794F2B;
            background-image: linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.05)), linear-gradient(-72deg, hsla(0,0%,100%,.05) 50%, transparent 50%);
            box-shadow: inset 0 0 .25em hsla(0,0%,0%,.1), inset 0 0 1.5em hsla(0,0%,0%,.25);
            border-bottom: 1px solid #d6d6d6;
            color: #FAFAFA;
            padding: 11px;
        }

    .widget {
        padding: 0px;
        margin-bottom: 28px;
        margin-top: -10px;
    }

    .widget-content {
        padding: 10px;
    }

    .btn {
        line-height: 18px;
        border-radius: 4px !important;
    }

    .Pending {
        background-color: rgba(255, 216, 0, 0.36) !important;
        font-weight: bold;
        text-align: center;
        border: solid 1px #808080;
    }

    .Accepted {
        background-color: rgba(167, 203, 78, 0.53) !important;
        font-weight: bold;
        text-align: center;
        border: solid 1px #808080;
    }

    .Cancelled {
        background-color: rgba(255, 0, 0, 0.37) !important;
        font-weight: bold;
        text-align: center;
        border: solid 1px #808080;
    }

    .warningbell {
        color: #ff0000 !important;
        height: 20px;
        font-weight: bolder;
    }
</style>

<div class="row">
    <div class="span12" id="divtable">

    </div>
    <!-- /span12 -->
</div>
<div class="widget">
    <div class="widget-header">

        <h3><i class="icon-list-alt"></i> List [ Wallet Refund ]</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="widget big-stats-container">
            <div class="widget-content matchdivheight">
                @using (Html.BeginForm("Index", "EwalletRefund", FormMethod.Post))
                {@Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <table>
                        <tr>
                            <td>From Date &nbsp;</td>
                            <td>@Html.TextBox("FromDate", null, new { @readonly = "readonly", @class = "input" }) &nbsp;</td>
                            <td>To Date &nbsp;</td>
                            <td>@Html.TextBox("ToDate", null, new { @readonly = "readonly", @class = "input" }) &nbsp;</td>
                            <td>Status &nbsp;</td>
                            <td>
                                <select id="Status" name="Status">
                                    <option value="">Select Refund Status</option>
                                    <option value="0">Pending</option>
                                    <option value="1">Accepted</option>
                                    <option value="2">Cancelled</option>
                                </select>&nbsp;
                            </td>
                            <td style="text-align:right;padding-left:20px;">
                                <button type="submit" value="Search" class="btn btn-warning">
                                    <span class="glyphicon glyphicon-search"></span> Search
                                </button>
                                <button type="button" class="btn btn-info" id="btn_clear">Clear</button>
                            </td>

                        </tr>
                        @*<tr>
                            <td>
                                @Html.DropDownList("ExportOption", new List<SelectListItem>
                                   {

                                      new SelectListItem{ Text="Excel", Value = "1" },
                                      new SelectListItem{ Text="Csv", Value = "2" },
                                      new SelectListItem{ Text="Pdf", Value = "3" }

                                   })
                            </td>
                        </tr>*@
                </table>
            </div>
            }
                <table class="table table-bordered table-hover table-responsive table-striped" id="tblData">
                    <thead>
                        <tr>
                            <th style="width:20px;">SNo</th>
                            <th style="width:150px;">
                                Customer Name
                            </th>
                            <th style="width:150px;">
                                CustomerOrderId
                            </th>
                            <th style="width:100px;">
                                RequsetAmt
                            </th>
                            <th style="width:100px;">
                                RefundAmt
                            </th>
                            <th style="width:170px;">
                                Date
                            </th>
                            <th style="width:80px;">
                                Status
                            </th>
                            <th style="width:150px;">
                                Comment
                            </th>
                            <th style="width:70px;">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td colspan="8" class="text-center"><h3>No Record Found...</h3></td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td colspan=" 11" style="padding:0;">
                                    <div class="accordion" id="accordion2">
                                        @{ int i = 1; }
                                        @foreach (var item in Model)
                                        {
                                            <div class="accordion-group" style="height: auto !important;">
                                                <div class="accordion-heading">
                                                    <table class="table table-bordered" style="margin-bottom:0px;">
                                                        <tr>
                                                            <td style=" width:20px">
                                                                @{int SrNo = ((ViewBag.PageNumber - 1) * ViewBag.PageSize) + i; i = i + 1; } @SrNo
                                                            </td>
                                                            <td style="width:150px">
                                                                @Html.DisplayFor(modelItem => item.UserName)

                                                            </td>
                                                            <td style="width:150px;">
                                                                @Html.DisplayFor(modelItem => item.CustomerOrderId)
                                                            </td>
                                                            <td style="width:100px">
                                                                @Html.DisplayFor(modelItem => item.RequsetAmt)
                                                            </td>
                                                            <td style="width:100px">
                                                                @Html.DisplayFor(modelItem => item.RefundAmt)
                                                            </td>
                                                            <td style="width:170px;">
                                                                @Html.DisplayFor(modelItem => item.Date)
                                                            </td>
                                                            <td style="width:70px">
                                                                <p class="@item.ReturnStatus">
                                                                    @Html.DisplayFor(modelItem => item.ReturnStatus)
                                                                </p>
                                                            </td>
                                                            <td style="width:150px;text-align:center;">
                                                                @if (item.Comment != null)
                                                                {
                                                                    @Html.DisplayFor(modelItem => item.Comment)
                                                                }
                                                                else
                                                                {
                                                                    <p style="text-align:center;">-</p>
                                                                }

                                                            </td>


                                                            <td style="width:70px">
                                                                <a class="accordion-toggle margin_padding_zero" data-toggle="collapse" data-parent="#accordion2" href="#@item.ID"><span class="btn btn-small btn-primary">View Log</span></a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div id="@item.ID" class="accordion-body collapse">
                                                    @*<iframe id="frameCreate_@item.ID" name="frameCreate_@item.ID" src='@Url.Action("EWalletRefund_Log", "EwalletRefund", new { EwalletRefundId = item.ID })' width="100%" height="600px" frameborder="0"></iframe>*@
                                                    <table class="table table-striped table-bordered"  style="background-color:#21a9ec;padding-top:10px;padding-bottom:10px;padding-left:10px;padding-right:10px">
                                                        <thead style="background-color:aquamarine;">
                                                            <tr>
                                                                <th style="background-color:#0094ff">
                                                                        Sr.No.
                                                                    </th>
                                                                @*<th>
                                                                    EwalletRefund_TableID
                                                                </th>*@
                                                                <th>
                                                                    Amount
                                                                </th>
                                                                <th>
                                                                    IsDebit
                                                                </th>
                                                                <th>
                                                                    IsCredit
                                                                </th>
                                                                @*<th>
                                                                    UserLoginID
                                                                </th>*@
                                                                <th>
                                                                    CurrentAmt
                                                                </th>
                                                                <th>
                                                                    Date
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody style="background-color:aquamarine;">
                                                            @if (item.MlmWalletlogViewModel.Count() == 0)
                                                            {
                                                                <tr>
                                                                    <td colspan="8" class="text-center"><h3>No Record Found...</h3></td>
                                                                </tr>
                                                            }
                                                            else
                                                            {
                                                                int j = 0; 
                                                                foreach (var item2 in item.MlmWalletlogViewModel)
                                                                {

                                                                    <tr>
                                                                        <td>@{ j = j + 1; } @j</td>
                                                                        @*<td>
                                                                            @Html.DisplayFor(modelItem => item2.EwalletRefund_TableID)
                                                                        </td>*@
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item2.Amount)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item2.IsDebit)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item2.IsCredit)
                                                                        </td>
                                                                        @*<td>
                                                                            @Html.DisplayFor(modelItem => item2.UserLoginID)
                                                                        </td>*@
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item2.CurrentAmt)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item2.CreatedDate)
                                                                        </td>

                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


                @*<div class="pager">
                    @Html.PagedListPager(Model, Page => Url.Action("Index", new
                       {
                           page =Page,
                           FromDate = ViewBag.FromDate,
                           ToDate = ViewBag.ToDate,
                           Status =  ViewBag.SelectedStatus,
                       }),
                    new PagedListRenderOptions()
                    {
                        Display = PagedListDisplayMode.IfNeeded
                    })
                </div>*@
            </div>
            <!-- /widget-content -->
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="http://momentjs.com/downloads/moment.js"></script>

@section Myscripts{
    <script type="text/javascript">

        //----------------------------------------------------------------------For datepicker---//
        //<![CDATA[
        $(window).load(function () {
            //$('#DOB').datepicker('setDate', new Date());
            $('#FromDate').datepicker('update');
            $('#ToDate').datepicker('update');
        });//]]>





            //elapsedTime();
            //setInterval(elapsedTime, 60000);
            //function elapsedTime() {
            //    $(".createTime").each(function (index) {
            //        if ($(this).parent().parent().find('.PENDING').html() != null) {
            //            //alert(index + ": " + $(this).text());
            //            var lServerCreateTime = $(this).html();
            //            var lCreateDateTime = moment(lServerCreateTime).format('DD/MM/YYYY HH:mm:ss');
            //            var lCurrentDatTime = moment(Date.now()).format('DD/MM/YYYY HH:mm:ss');

            //            //moment.utc(moment(now, "DD/MM/YYYY HH:mm:ss").diff(moment(then, "DD/MM/YYYY HH:mm:ss"))).format("HH:mm:ss")
            //            var lElaspsedTime = moment.utc(moment(lCurrentDatTime, "DD/MM/YYYY HH:mm:ss").diff(moment(lCreateDateTime, "DD/MM/YYYY HH:mm:ss"))).format("HH:mm");
            //            var tt = lElaspsedTime.split(":");
            //            var hh = tt[0];
            //            var mm = tt[1];
            //            var lwarningTime = (parseInt(tt) * 60) + parseInt(mm);
            //            //alert(lwarningTime);
            //            if (lwarningTime >= 30) {
            //                var lSD = moment(lServerCreateTime).format('DD/MM/YYYY');
            //                var lCD = moment(Date.now()).format('DD/MM/YYYY');
            //                if (lSD == lCD) {
            //                    $(this).parent().find('.warningbell').removeClass('hidden');
            //                }
            //                else {
            //                    $(this).parent().find('.elapsedTime').addClass('hidden');
            //                }
            //            }
            //            $(this).parent().find('.elapsedTime').html(lElaspsedTime);
            //            $(this).parent().find('.elapsedTime').addClass('btn btn-warning btn-small');
            //        }
            //    });
            //}

    </script>
}