@model ModelLayer.Models.BlockItemsList

@{
    ViewBag.Title = "Delete";
}
<div id="content" class="span10">
    <ul class="breadcrumb">
        <li>
            <a href="#">Delete ( Home Product Gallery )</a>
        </li>
    </ul>

    <div class="row-fluid">

        <div class="box span12">
            <div class="box-header">
                <h2 style="font-weight:bold">Are you sure you want to delete this?</h2>
            </div>
               
            <div class="box-content">
               <dl class="dl-horizontal">

                    <dt>
                        Franchise Name
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Franchise.BusinessDetail.Name)
                    </dd>

                    <dt>
                        Product Name
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Product.Name)
                    </dd>

                    <dt>
                        Start Date
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.StartDate)
                    </dd>

                    <dt>
                        End Date
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EndDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SequenceOrder)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SequenceOrder)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Tooltip)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Tooltip)
                    </dd>

                    <dt>
                        Is Active
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IsActive)
                    </dd>
                </dl>
           </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                        @Html.ActionLink("Back to List", "Details", new { id = Model.FranchiseID }, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
