@model ModelLayer.Models.Zone

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Zone</h4>
    	<hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Warehouse_ID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Warehouse_ID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SHIPPING_RECEIVING)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SHIPPING_RECEIVING)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OFFICE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OFFICE)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.STORAGE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.STORAGE)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Counter)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Counter)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BAKING_ASSEMBLY)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BAKING_ASSEMBLY)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RESTROOM)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RESTROOM)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
