@model ModelLayer.Models.Zone

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Zone</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ID)
    
            <div class="form-group">
                @Html.LabelFor(model => model.Warehouse_ID, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Warehouse_ID)
                    @Html.ValidationMessageFor(model => model.Warehouse_ID)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.SHIPPING_RECEIVING, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SHIPPING_RECEIVING)
                    @Html.ValidationMessageFor(model => model.SHIPPING_RECEIVING)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.OFFICE, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.OFFICE)
                    @Html.ValidationMessageFor(model => model.OFFICE)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.STORAGE, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.STORAGE)
                    @Html.ValidationMessageFor(model => model.STORAGE)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Counter, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Counter)
                    @Html.ValidationMessageFor(model => model.Counter)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.BAKING_ASSEMBLY, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BAKING_ASSEMBLY)
                    @Html.ValidationMessageFor(model => model.BAKING_ASSEMBLY)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.RESTROOM, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RESTROOM)
                    @Html.ValidationMessageFor(model => model.RESTROOM)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
