@model ModelLayer.Models.ViewModel.ProductUploadViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductUploadViewModel</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeightInGram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeightInGram)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LengthInCm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LengthInCm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BreadthInCm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BreadthInCm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeightInCm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeightInCm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrandID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrandID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SearchKeyword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SearchKeyword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifyBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifyBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetworkIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetworkIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductVarientID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductVarientID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SizeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SizeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DimensionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DimensionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaterialName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterialName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShopStockID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShopStockID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShopProductID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShopProductID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReorderLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReorderLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PackSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PackSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PackUnitID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PackUnitID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MRP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MRP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WholeSaleRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WholeSaleRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RetailerRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RetailerRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsInclusiveOfTax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsInclusiveOfTax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShopID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShopID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayProductFromDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayProductFromDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
