@model IEnumerable<ModelLayer.Models.NetworkReportViewModel>
@{
    ViewBag.Title = "TabularView";
    Layout = "~/Views/Shared/_LeaderUsersLayout.cshtml";
}

    <link rel="stylesheet" href="~/Templates/UsersTemplate/css/material-design.minfd53.css">
    <link rel="stylesheet" href="~/Templates/UsersTemplate/css/style3.css">
    <link rel="stylesheet" href="~/Templates/UsersTemplate/css/dropify.minfd53.css">
    <link rel="stylesheet" href="~/Templates/UsersTemplate/css/custom.css">
    <link rel="stylesheet" href="~/Templates/UsersTemplate/css/tablesaw.css">
    <link rel="stylesheet" href="~/Templates/UsersTemplate/css/footable.minfd53.css">
    <link rel="stylesheet" href="~/Templates/UsersTemplate/css/site.minfd53.css.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>leaders Ezeelo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    

    <main>
        <header></header>


        <section class="sideNavbar">
            <div class="wrapper">

                <!-- Page Content  -->
                <!-- main body content -->
                <section class="tabular-viewMain">
                    <div class="page tree" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                        <div class="page-content">
                            <div class="container">
                                <h4 class="example-title">Network Tree</h4>
                                <p></p>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <!-- Panel Filtering rows -->
                                        <div class="panel">
                                            <header class="panel-heading">
                                                <h3 class="panel-title">Tabular List of Network</h3>

                                            </header>

                                            <div class="panel-body ">
                                                <p>
                                                    <!-- <i class="fa fa-info"></i> -->Search within rows by Using Search bar
                                                </p>
                                                <!-- <div id="searchFilter">
                                                  <form>

                                                  </form>

                                                </div> -->
                                                <div class="horizontal-allow">
                                                    <table class="table table-bordered table-hover toggle-circle footable footable-1 footable-filtering footable-filtering-right footable-paging footable-paging-center breakpoint-lg"
                                                           data-paging="true" data-filtering="true" data-filter-dropdown-title="Search in:"
                                                           data-sorting="true" data-filter-placeholder="Search By" style="">
                                                        <thead>
                                                            <tr class="footable-filtering">
                                                                <th colspan="9">
                                                                    <form class="form-inline">
                                                                        <div class="form-group">
                                                                            <label class="sr-only">Status</label>
                                                                            <select class="form-control">
                                                                                <option>All Levels</option>
                                                                                <option>Level: 1</option>
                                                                                <option>Level: 2</option>
                                                                                <option>Level: 3</option>
                                                                                <option>Level: 4</option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="form-group footable-filtering-search">
                                                                            <label class="sr-only">Search</label>
                                                                            <div class="input-group">
                                                                                <input type="text" class="form-control" placeholder="Search By">
                                                                                <div class="dropdown input-group-btn ">
                                                                                    <button type="button" class="btn btn-primary">
                                                                                        <span class="fooicon fooicon-search">
                                                                                            <i class="fa fa-search" aria-hidden="true"></i>
                                                                                        </span>
                                                                                    </button>
                                                                                    <button type="button" class="btn btn-default dropdown-toggle SearchInList " onclick="SearchInList()">
                                                                                        <span class="caret"></span>
                                                                                    </button>
                                                                                    <ul class="dropdown-menu dropdown-menu-right SearchInListDsplNN show" id="SearchInListDDBTN">
                                                                                        <li class="dropdown-header">Search in:</li>
                                                                                        <li>
                                                                                            <a class="checkbox">
                                                                                                <label>
                                                                                                    <input type="checkbox" checked="checked">Name
                                                                                                </label>
                                                                                            </a>
                                                                                        </li>
                                                                                        <li>
                                                                                            <a class="checkbox">
                                                                                                <label>
                                                                                                    <input type="checkbox" checked="checked">Referal ID
                                                                                                </label>
                                                                                            </a>
                                                                                        </li>
                                                                                        <li>
                                                                                            <a class="checkbox">
                                                                                                <label>
                                                                                                    <input type="checkbox" checked="checked">E-Mail
                                                                                                </label>
                                                                                            </a>
                                                                                        </li>
                                                                                        <li>
                                                                                            <a class="checkbox">
                                                                                                <label>
                                                                                                    <input type="checkbox" checked="checked">Joined Date
                                                                                                </label>
                                                                                            </a>
                                                                                        </li>
                                                                                        <li>
                                                                                            <a class="checkbox">
                                                                                                <label>
                                                                                                    <input type="checkbox" checked="checked">Parent Name
                                                                                                </label>
                                                                                            </a>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div id="activestat">
                                                                            <!--
                                                                            <div class="checkbox-custom ml-10 d-inline checkbox-primary">
                                                                                <input type="checkbox" id="active" checked="">
                                                                                <label for="active">Active</label>
                                                                            </div>

                                                                            <div class="checkbox-custom ml-10 d-inline checkbox-primary">
                                                                                <input type="checkbox" id="inactive" checked="">
                                                                                <label for="inactive">InActive</label>
                                                                            </div> -->
                                                                            @*<div class="well well-sm text-center">
                                                                                    <div class="btn-group" data-toggle="buttons">
                                                                                        <div class="actvbtn">
                                                                                            <h4>Active</h4>
                                                                                            <label class="btn btn-success active">
                                                                                                <input type="radio" name="options" id="option2" autocomplete="off" chacked>
                                                                                                <span class="glyphicon glyphicon-ok">&nbsp;active</span>
                                                                                            </label>
                                                                                        </div>
                                                                                        <div class="actvbtnSecond">
                                                                                            <h4>Inactive</h4>
                                                                                            <label class="btn btn-success">
                                                                                                <input type="radio" name="options" id="option1" autocomplete="off">
                                                                                                <span class="glyphicon glyphicon-ok">&nbsp;Inactive</span>
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>*@
                                                                        </div>


                                                                    </form>
                                                                </th>
                                                            </tr>
                                                            <tr class="footable-header">
                                                                <!-- <th data-name="id" data-type="number" data-breakpoints="xs">ID</th> -->

                                                                <th data-name="name" class="footable-sortable footable-first-visible" style="display: table-cell;">
                                                                    Name
                                                                    <span class="fooicon fooicon-sort"></span>
                                                                </th>
                                                                <th data-name="ref_id" data-breakpoints="xs sm" class="footable-sortable" style="display: table-cell;">
                                                                    Referal ID
                                                                    <span class="fooicon fooicon-sort"></span>
                                                                </th>
                                                                <th data-name="pts_pending" data-filterable="false" data-breakpoints="xs sm" class="footable-sortable" style="display: table-cell;">
                                                                    PtsPending
                                                                    <span class="fooicon fooicon-sort"></span>
                                                                </th>
                                                                <th data-name="email" data-breakpoints="xs sm" class="footable-sortable" style="display: table-cell;">
                                                                    E-Mail
                                                                    <span class="fooicon fooicon-sort"></span>
                                                                </th>
                                                                <th data-name="join_date" data-type="date" data-breakpoints="xs sm md" data-format-string="DD/mm/YY" class="footable-sortable"
                                                                    style="display: table-cell;">
                                                                    JoinedDate
                                                                    <span class="fooicon fooicon-sort"></span>
                                                                </th>
                                                                <th data-name="last_trx" data-filterable="false" data-breakpoints="xs sm" class="footable-sortable" style="display: table-cell;">
                                                                    Last Trx
                                                                    <span class="fooicon fooicon-sort"></span>
                                                                </th>
                                                                <th data-name="level" data-filterable="false" data-breakpoints="xs sm" class="footable-sortable" style="display: table-cell;">
                                                                    Level
                                                                    <span class="fooicon fooicon-sort"></span>
                                                                </th>
                                                                <th data-name="parent" data-breakpoints="xs sm" class="footable-sortable" style="display: table-cell;">
                                                                    Parent Name
                                                                    <span class="fooicon fooicon-sort"></span>
                                                                </th>
                                                                <th data-name="status" data-filterable="false" data-breakpoints="xs sm" class="footable-sortable footable-last-visible" style="display: table-cell;">
                                                                    Status
                                                                    <span class="fooicon fooicon-sort"></span>
                                                                </th>
                                                            </tr>
                                                        </thead>

                                                        @foreach (var item in Model)
                                                        {
                                                            <tbody>
                                                                <tr>
                                                                    <td class="footable-first-visible" style="display: table-cell;">@Html.DisplayFor(model=>item.Name)</td>
                                                                    <td style="display: table-cell;">@Html.DisplayFor(model => item.ReferalID)</td>
                                                                    <td style="display: table-cell;">
                                                                      @Html.DisplayFor(model => item.BusinessPointTotal)
                                                                        <span data-trigger="hover" data-toggle="tooltip" data-placement="top" data-original-title="0.0/1800" class="peitycharts"
                                                                              data-peity="{ &quot;fill&quot;: [&quot;#35b752&quot;, &quot;#ccc&quot;],
                                                &quot;innerRadius&quot;: 7,
                                                &quot;radius&quot;: 10 }" style="display: none;">0.0/1800</span>
                                                                        <svg class="peity" height="20" width="20">
                                                                            <path d="M 10 0 A 10 10 0 1 1 9.99 0 L 9.99 3 A 7 7 0 1 0 10 3" fill="#ccc"></path>
                                                                        </svg>
                                                                    </td>
                                                                    <td style="display: table-cell;">@Html.DisplayFor(model => item.UserEmail)</td>
                                                                    <td data-filter-value="08/08/18" style="display: table-cell;">@Html.DisplayFor(model => item.JoinDate)</td>
                                                                    @*<td style="display: table-cell;">@Html.DisplayFor(model => item.LastTransaction)</td>*@
                                                                    <td style="display: table-cell;">@((item.LastTransaction == default(DateTime)) ? "" : Html.DisplayFor(model => item.LastTransaction).ToString())</td>
                                                                    <td style="display: table-cell;">@Html.DisplayFor(model => item.Downline)</td>
                                                                    <td style="display: table-cell;">@Html.DisplayFor(model => item.ParentName)</td>
                                                                    <td class="footable-last-visible" style="display: table-cell;">
                                                                        <span class="badge badge-table badge-danger">@Html.DisplayFor(model => item.ActiveStatus)</span>
                                                                    </td>
                                                                </tr>
                                                                
                                                            </tbody>
                                                        }
                                                         <tfoot>
                                                          <tr>
                                                            <td colspan="9">
                                                              <div class="text-right">
                                                                <ul class="pagination"></ul>
                                                              </div>
                                                            </td>
                                                          </tr>
                                                        </tfoot> 
                                                        <tfoot></tfoot>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Panel Filtering -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- main body content -->


            </div>
            <div class="overlay"></div>
        </section>

    </main>


    

    <script type="text/javascript">


        // When the user clicks on div, open the popup (div#tablesaw-2523-popup)
        function SearchInList() {
            var popup = document.getElementById("SearchInListDDBTN");
            popup.classList.toggle("show");
        }

    </script>

