@model ModelLayer.Models.ViewModel.FVAccountsPatnerViewModelList

@{
    ViewBag.Title = "FV Account Report";
}
<script src="~/Content/js/jquery-1.9.1.min.js"></script>


@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/css/datepicker.css" rel="stylesheet" />
<script src="~/Content/js/jquery-ui-1.10.0.custom.min.js"></script>
<link href="~/Content/css/jquery-ui-1.8.21.custom.css" rel="stylesheet" />*@

<style>
    .ClaimAmtList table {
        border-collapse: separate;
        width: 800px;
        max-width: 800px;
        overflow-x: scroll;
        display: block;
    }

    .ClaimAmtList thead, .ClaimAmtList tfoot {
        background-color: #EFEFEF;
    }

    .ClaimAmtList thead, .ClaimAmtList tbody, .ClaimAmtList tfoot {
        display: block;
    }

    .ClaimAmtList tbody {
        overflow-y: scroll;
        overflow-x: auto;
        max-height: 350px;
    }

    .ClaimAmtList td, .ClaimAmtList th {
        padding: 5px;
        min-width: 80px;
        height: 25px;
        border: inset 1px lightblue;
        /*overflow: hidden;*/
        text-overflow: ellipsis;
        max-width: 80px;
        /*word-break: break-all;*/
        text-align: center;
    }
</style>

<script src="~/Content/js/jquery-ui-1.10.0.custom.min.js"></script>
<link href="~/Content/css/datepicker.css" rel="stylesheet" />
<link href="~/Content/css/jquery-ui-1.8.21.custom.css" rel="stylesheet" />




@*<link href="~/Content/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap-datetimepicker.css" rel="stylesheet" />
<link href="~/Content/assets/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/assets/css/form-design.css" rel="stylesheet" />*@





<div class="row-fluid">
    @using (Html.BeginForm("Index", "FVPatnerAccounts", new { enctype = "multipart/form-data" }, FormMethod.Post, new { id = "Form_" }))
    {
        @Html.ValidationSummary(true)

        <div class="box span12">
            <div class="box-header creatProduct clearfix">
                <h2>
                    <i class="icon-list-alt"></i>
                    <span class="break"></span>
                    FV Account Report
                </h2>
            </div>
            <div class="box-content nameDscrp">
                <div class="form-horizontal">
                    <div class="NameDescription">
                        <div class="control-group mrg-left">
                            <div class="col-sm-3">
                                Filter by Frenchise
                            </div>
                            @*@Html.DropDownListFor(model => model.WarehouseID, Model.WarehouseList)*@
                            @*<div class="col-sm-6">
                                         @if (ViewBag.PossibleSuppliers != null)
                                         {
                                             @Html.DropDownListFor(model => model.SupplierID, ((IEnumerable<ModelLayer.Models.Supplier>)ViewBag.PossibleSuppliers).Select(option => new SelectListItem
                                {
                                    Text = (option == null ? "None" : option.Name),
                                    Value = option.ID.ToString(),
                                    Selected = (Model != null) && (option.ID == Model.SupplierID)
                                }), "--All Suppliers--")
                                         }
                                     </div>*@
                        </div>

                        <div class="control-group mrg-left">
                            <div class="col-sm-3">
                                From Date
                            </div>
                            <div class="col-sm-6">
                                @*@Html.TextBox("FromDate", null, new { @readonly = "readonly", @class = "search", placeholder = "From" })*@
                                @Html.TextBoxFor(model => model.FromDate,  new { @readonly = "readonly", @required = "required" })
                                @Html.HiddenFor(model => model.FromDate)
                            </div>
                        </div>
                        <div class="control-group mrg-left">
                            <div class="col-sm-3">
                                To Date
                            </div>
                            <div class="col-sm-6">
                                @*@Html.TextBox("ToDate", null, new { @readonly = "readonly", @class = "search", placeholder = "To" })*@
                                @Html.TextBoxFor(model => model.ToDate,  new { @readonly = "readonly", @required = "required" })
                                @Html.HiddenFor(model => model.ToDate)
                            </div>
                        </div>

                        <div class="control-group mrg-left">
                            <div class="col-sm-3">
                                Export In
                            </div>
                            <div class="col-sm-6">
                                @Html.DropDownList("ExportOption", new List<SelectListItem>
                         {
                                 new SelectListItem{ Text="Excel", Value = "1" },
                                 new SelectListItem{ Text="Csv", Value = "2" },
                                 new SelectListItem{ Text="Pdf", Value = "3" }
                        })
                            </div>
                        </div>
                        <div class="clr"></div>
                        <button value="Search" type="submit" class="btnRemove btn btn-warning">Search</button>
                        <a id="Print" class="print btn btn-default" href="@Url.Action("Index", "FVPatnerAccounts")" target="_blank">Print</a>
                    </div>
                </div>
            </div>
        </div>
    }
  
    <center>  <button id="Export" value="Export" type="submit" class="btn btn-success">Export</button>  </center>

  



    <div class="box">
        <div class="box-content">
            <div class="NameDescription">
                <div style="overflow-x: scroll; overflow-y: scroll; width:1150px; height: 500px; background: #ffffff; " id="divToPrint">
                    <table id="headerTable" class="ClaimAmtList" border="1" cellpadding="2" cellspacing="0">
                        <thead>
                            <tr><td style="text-align:center" colspan="12"><h2>FV Account Report </h2></td></tr>
                            <tr>
                                <th style="min-width: 50px; max-width: 50px; word-break: break-all">Sr.No.</th>
                                <th style="min-width: 130px; max-width: 130px; word-break: break-all">
                                    Order Code
                                </th>
                                <th style="min-width: 150px; max-width: 150px; text-align: left">
                                    ShopOrder Code
                                </th>
                                @*<th style="min-width: 120px; max-width: 120px;">
                                        Supplier
                                    </th>*@
                                <th style="min-width: 160px; max-width: 160px; word-break: break-all">ShopName </th>
                                <th style="min-width:100px; max-width:100px; text-align: left"> Customer </th>
                                <th> City</th>
                                <th>Pincode </th>

                                <th style="min-width: 150px; max-width: 150px; word-break: break-all">email</th>
                                <th style="text-align:right"> Mobile </th>
                                <th style="min-width: 140px; max-width: 140px; word-break: break-all"> ProductName </th>
                                <th style="text-align:right">SKUID</th>
                                <th style="text-align:right">SKUUnit</th> 
                                <th style="min-width: 75px; max-width: 75px; word-break: break-all">OrderPlacedDate</th>
                             
                                <th style="text-align:right">PaymentMode</th>
                                @*<th style="text-align:right">GrossSaleAmount</th>*@
                                <th>SaleRate</th>
                                <th style="text-align:right">DeliveryDate </th>
                                <th style="min-width: 100px; max-width:100px; word-break: break-all">ShippingAddress</th>
                                <th style="text-align:right">JoiningDate </th>
                                @*<th>ID</th>*@
                                <th> Category3 </th>
                                <th>Category2 </th>
                                <th> Category1  </th>
                                <th>HSN Code</th>
                                @*<th>FrenchiseID</th>*@
                                <th style="min-width: 100px; max-width: 100px; word-break: break-all">Customer OrderID</th>
                                <th> Qty </th>

                            
                                @*<th>SaleRate</th>*@


                                <th>OrderStatus</th>

                                <th style="min-width: 100px; max-width: 100px; word-break: break-all ">Taxable Amount </th>


                                @*<th>DeliveryDate </th>*@
                                @*<th>DeliverySlot</th>*@
                                @*<th>DeliveryType</th>*@

                                @*<th>AddressFieldMobile</th>*@
                             
                                <th style="text-align:right">CGST %</th>
                                <th style="text-align:right">CGSTAmt</th>
                                <th style="text-align:right">SGST % </th>
                                <th style="text-align:right">SGSTAmt</th>
                                <th style="text-align:right">TotalAmount</th>
                                @*<th>LastPurchaseDate</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var i = 1;
                            }
                            @*@foreach (var item in Model)*@

                            @foreach (var item in Model.lFVAccountViewModel)
                            {
                                <tr>
                                    <td style="text-align: center; min-width: 50px; max-width: 50px; word-break: break-all">
                                        @i
                                        @{
                                i = i + 1;
                                        }
                                    </td>
                                    @*<td style="min-width: 100px; max-width: 100px; word-break: break-all;">*@
                                    @*@(item.PurchaseOrderCode == null ? "" : item.PurchaseOrderCode)*@
                                    @*<a id="Print" style="color: #3C73DC; font-weight: bold; " href="@Url.Action("PrintOrder", "PurchaseOrders", new { id = @item.PurchaseOrderID })" target="_blank">@(item == null ? "" : item.PurchaseOrderCode)</a>
                                        </td>*@
                                    <td style="min-width: 130px; max-width: 130px; word-break: break-all">
                                        @item.OrderCode
                                    </td>

                                    @*<td style="min-width: 120px; max-width: 120px;text-align:left">
                                            @(item.SupplierName == null ? "None" : item.SupplierName)
                                        </td>*@

                                    <td style="min-width: 150px; max-width: 150px; text-align: left">@item.ShopOrderCode</td>
                                    <td style="min-width: 160px; max-width: 160px; word-break: break-all">ShopName>@item.Shop</td>

                                    <td style="min-width:100px; max-width:100px; text-align: left">
                                        @item.Customer
                                    </td>

                                    <td style="text-align:right">@item.City </td>
                                    <td style="text-align:right">@item.PincodeID</td>
                                    <td style="min-width: 150px; max-width: 150px; word-break: break-all">@item.Email</td>
                                    <td style="text-align:right"> @item.Mobile </td>

                                    <td style="min-width: 140px; max-width: 140px; word-break: break-all" >@item.Product</td>
                                    <td style="text-align:right"> @item.SKUID </td>
                                    <td style="text-align:right"> @item.SKUUnit </td>
                                    @*<td style="text-align:right">TotalAmount</td>*@
                                    <td style="min-width: 75px; max-width: 75px; word-break: break-all">@item.OrderPlacedDate.ToString("dd/MM/yyyy hh:mm:ss tt")</td>

                                    <td style="text-align:right">@item.PaymentMode</td>
                                    <td style="text-align:right"> @item.SaleRate </td>
                                    @*<td style="text-align:right"> @item.GrossSaleAmount</td>*@
                                    <td style="text-align:right">@item.DeliveryDate.GetValueOrDefault().ToString("dd/MM/yyyy")</td>       @*// Here Delivery Dtae is nullable form ///*@
                                    <td style="min-width: 100px; max-width: 100px; word-break: break-all; ">@item.ShippingAddress</td>
                                    <td style="text-align:right">@item.JoiningDate.ToString("dd/MM/yyyy hh:mm:ss tt")</td>


                                    <td style="text-align:right"> @item.Category3 </td>
                                    <td style="text-align:right"> @item.Category2 </td>
                                    <td style="text-align:right"> @item.Category1 </td>
                                    <td style="text-align:right"> @item.HSNCode </td>
                                    @*<td style="text-align:right"> @item.FrenchiseID</td>*@
                                    <td style="min-width: 100px; max-width: 100px; word-break: break-all "> @item.CustomerOrderID </td>

                                    <td >@item.Qty </td>
                                
                                    @*<td style="text-align:right"> @item.SaleRate </td>*@
                                    <td style="text-align:right"> @item.Status </td>
                                    <td style="min-width: 100px; max-width: 100px; word-break: break-all "> @item.GrossSaleAmount</td>
                                    @*<td style="text-align:right"> @item.Size </td>*@




                                    @*<td style="text-align:right"> @item.DeliveryDate </td>*@
                                    @*<td style="text-align:right"> @item.DeliverySlot </td>*@
                                    @*<td style="text-align:right"> @item.DeliveryType </td>*@

                                    @*<td style="text-align:right"> @item.AddressFieldMobile </td>*@
                                    @*<td style="text-align:right"> @item.JoiningDate </td>*@
                                  
                                    <td style="text-align:right"> @item.CGST</td>
                                    <td style="text-align:right"> @item.CGSTAmt</td>
                                    <td style="text-align:right"> @item.SGST </td>
                                    <td style="text-align:right"> @item.SGSTAmt</td>
                                    <td style="text-align:right"> @item.TotalAmount </td>
                                    @*<td style="text-align:right"> @item.LastPurchaseDate </td>*@
                                </tr>


                            
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#ToDate").datepicker({
                dateFormat: 'dd/mm/yy',//check change
                changeMonth: true,
                changeYear: true
            });
            $("#FromDate").datepicker({
                dateFormat: 'dd/mm/yy',//check change
                changeMonth: true,
                changeYear: true
            });
         
            //$("#FromDate").val(twoDigitDate + "/" + twoDigitMonth + "/" + (fullDate.getFullYear() - 1) + ", " + hour + ":" + minute + " " + ampm);
            //$("#ToDate").val(twoDigitDate + "/" + twoDigitMonth + "/" + fullDate.getFullYear() + ", " + hour + ":" + minute + " " + ampm);

            //var toDate = $('#txtToDate').val();
            //var fromDate = $('#txtFromDate').val();

            $("#Export").on('click', function () {

                var print = 0;
                var option = 0;
                var supplierID = 0

                //if ($("select#SupplierID option:selected").val() > 0) {
                //    supplierID = $("select#SupplierID option:selected").val();
                //}

                //if ($("select#ExportOption option:selected").val() > 0) {
                //    option = $("select#ExportOption option:selected").val();
                //}
                var toDate = $('#ToDate').val();
                var fromDate = $('#FromDate').val();

                window.location.href = "/FVPatnerAccounts/Export?&FromDate=" + fromDate + "&ToDate=" + toDate + "&option=" + option;

            });
        });

    </script>
    <script type="text/javascript">


        $("#Export").on('click', function () {

            var print = 0;
            var option = 1;
            var supplierID = 0

            if ($("select#SupplierID option:selected").val() > 0) {
                supplierID = $("select#SupplierID option:selected").val();
            }

            if ($("select#ExportOption option:selected").val() > 0) {
                option = $("select#ExportOption option:selected").val();
            }
            var toDate = $('#ToDate').val();
            var fromDate = $('#FromDate').val();

            window.location.href = "/FVPatnerAccounts/Export?&FromDate=" + fromDate + "&ToDate=" + toDate + "&option=" + 1 + "&SupplierID=" + FrenchiseID;

        });

    </script>


    <script type="text/javascript">


        function fnExcelReport() {
            var tab_text = "<table border='2px'><tr bgcolor='#87AFC6'>";
            var textRange; var j = 0;
            tab = document.getElementById('headerTable'); // id of table


            for (j = 0 ; j < tab.rows.length ; j++) {
                tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
                //tab_text=tab_text+"</tr>";
            }

            tab_text = tab_text + "</table>";
            tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
            tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
            tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

            var ua = window.navigator.userAgent;
            var msie = ua.indexOf("MSIE ");

            if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
            {
                txtArea1.document.open("txt/html", "replace");
                txtArea1.document.write(tab_text);
                //txtArea1.document.AddHeader("PURCHASE ORDER HISTORY")
                txtArea1.document.close();
                txtArea1.focus();
                sa = txtArea1.document.execCommand("SaveAs", true, "Say Thanks to Sumit.xls");
            }
            else                 //other browser not tested on IE 11
                sa = window.open('data:application/vnd.ms-excel,' + 'filename=PurchaseOrderHistory.xls,' + encodeURIComponent(tab_text));

            return (sa);
        }

    </script>

    <script type="text/javascript">
        $(function () {
            $("#Search").click(function () {
                var FrenchiseID = $("select#WarehouseID option:selected").val();
                //window.location = "/WastageReport/WastageReportNotePrint?WarehouseID=" + WarehouseID;
                window.location = "/ FVPatnerAccounts/Indext?FrenchiseID =" + FrenchiseID;
            });
        });

    </script>
