@*//-----------------------------------------------------------------------
        // <copyright file="Details.cshtml" company="Ezeelo Consumer Services Pvt. Ltd.">
        //     Copyright (c) Ezeelo Consumer Services Pvt. Ltd. All rights reserved.
        //
    </copyright>
        // <author>Snehal Shende</author>
        //-----------------------------------------------------------------------*@

@model ModelLayer.Models.ViewModel.OwnerPlanViewModel

@{
    ViewBag.Title = "Details";
}

@*<h2>Details</h2>*@

<div class="span10" id="content">
    <div class="row-fluid sortable ui-sortable">
        <div class="box span6">
            <div class="box-header" data-original-title="">
                <h2><i class="icon-edit"></i><span class="break"></span>Details</h2>

            </div>
            <div>
                @*<h4>Franchise Plan</h4>*@
                <hr />
                <dl class="dl-horizontal">


                    <dt>
                        Plan Name
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Plan.ShortName)
                    </dd>

                    <dt>
                        Owner Name
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OwnerName)
                    </dd>

                    <dt>
                        Start Date
                    </dt>

                    <dd>
                        @ViewBag.StartDate1
                    </dd>

                    <dt>
                        End Date
                    </dt>

                    <dd>
                        @ViewBag.EndDate1
                    </dd>

                    <dt>
                        Is Active
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IsActive)
                    </dd>
                    <div class="form-actions" style="padding-left:180px;">
                        @Html.ActionLink("Deactivate", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Back to List", "Index", "FranchisePendingApprovals", string.Empty, new { @class = "btn" })
                        @*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-danger" })
                            @Html.ActionLink("Back to List", "Index", string.Empty, new { @class = "btn" })*@
                    </div>
                </dl>
            </div>
        </div>
    </div>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")*@
</p>
