@model ModelLayer.Models.OwnerAdvertisement

@{
    ViewBag.Title = "Delete";
}
<div id="content" class="span10">
    <ul class="breadcrumb">
        <li>

            <a href="#">Owner Advertisement</a>

        </li>

    </ul>
    <div class="row-fluid ">
        <div class="box span12">
            <div class="box-header">
                <h2><i class="icon-edit"></i><span class="break"></span>Delete</h2>

            </div>
            <p class="deleteMsg">Are you sure you want to delete this?</p>
            <div>

                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Advertisement.PageName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Advertisement.PageName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.BusinessType.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BusinessType.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AdvertisementTitle)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AdvertisementTitle)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NavigationUrl)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NavigationUrl)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NoOfDays)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NoOfDays)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NoOfHours)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NoOfHours)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.OwnerID)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OwnerID)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FeesInRupee)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FeesInRupee)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PriorityLevel)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PriorityLevel)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IsLive)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IsLive)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IsActive)
                    </dd>



                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        @Html.ActionLink("Back to List", "Index", null, new { @class="btn"})

                        @if (ViewBag.Messaage != null)
                        {
                            @Html.Label("Messaage", (string)ViewBag.Messaage, new { @class = "deleteMsg" })
                        }
                        else
                        {
                            @Html.Label("Messaage", "", new { @class = "deleteMsg" })
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>