@model IEnumerable<ModelLayer.Models.OwnerAdvertisement>

@{
    ViewBag.Title = "Index";
}
<style>
    .dataTables_length {
        margin-left: 0px;
        margin-top: 7px;
    }

    .pagination {
        margin: 0 40px;
    }
</style>
<div class="row-fluid" style="margin-top:28px;margin-left:15px;">
    <div class="box span12">
        <div class="box-header">
            <h2><i class="icon-edit"></i><span class="break"></span>@Html.ActionLink("Create Owner Advertisement", "Create")</h2>

        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                    <tr>
                        <th>Page Name</th>
                        <th>Business Type</th>
                        <th>Ad Title</th>
                        <th>Navigation Url</th>
                        <th>No Of Days</th>
                        <th>No Of Hours</th>
                        <th>Fees In Rs</th>
                        <th>Priority</th>
                        <th>Is Live</th>
                        <th>Is Active</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Advertisement.PageName)</td>
                            <td class="center">@Html.DisplayFor(modelItem => item.BusinessType.Name)</td>
                            <td class="center">@Html.DisplayFor(modelItem => item.AdvertisementTitle)</td>
                            <td class="center">@Html.DisplayFor(modelItem => item.NavigationUrl)</td>
                            <td class="center">@Html.DisplayFor(modelItem => item.NoOfDays)</td>
                            <td class="center">@Html.DisplayFor(modelItem => item.NoOfHours)</td>
                            <td class="center">@Html.DisplayFor(modelItem => item.FeesInRupee)</td>
                            <td class="center">@Html.DisplayFor(modelItem => item.PriorityLevel)</td>
                            <td class="center">@Html.DisplayFor(modelItem => item.IsLive)</td>
                            <td class="center">@Html.DisplayFor(modelItem => item.IsActive)</td>
                            <td class="center">
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-small btn-danger" }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-small btn-primary" })
                                @*@Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @*<div class="pager">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>*@
            @*@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))*@
        </div>
    </div><!--/span-->

</div>



@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Advertisement.PageName)
        </th>
        <th>
            Business Type
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.AdvertisementTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NavigationUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfHours)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.FeesInRupee)
        </th>
        <th>
            Priority
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsLive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Advertisement.PageName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessType.Name)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.AdvertisementTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NavigationUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfHours)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.FeesInRupee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriorityLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsLive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>*@
