@model ModelLayer.Models.CustomerShippingAddress
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPartial.cshtml";
}
<div class="example" data-text="detete address">
    <div class="grid">
        <h3>Are you sure you want to delete this?</h3>
        <table class="table" style="width:100%">
            <tbody>
                <tr> <th></th><th></th></tr>
                <tr>
                    <td>First Name</td>
                    <td>@Html.DisplayFor(model => model.PersonalDetail.FirstName)</td>
                </tr>
                <tr>
                    <td>Shipping Address</td>
                    <td>@Html.DisplayFor(model => model.ShippingAddress)</td>
                </tr>
                <tr>
                    <td>Area Name</td>
                    <td>@Html.DisplayFor(model => model.Area.Name)</td>
                </tr>

                <tr>
                    <td>Pincode</td>
                    <td>@Html.DisplayFor(model => model.Pincode.Name)</td>
                </tr>
                <tr>
                    <td>Primary Mobile</td>
                    <td>@Html.DisplayFor(model => model.PrimaryMobile)</td>
                </tr>
                <tr>
                    <td>Secondary Mobile</td>
                    <td>@Html.DisplayFor(model => model.SecondaryMobile)</td>
                </tr>

                <tr>
                    <td>IsActive</td>
                    <td>@Html.DisplayFor(model => model.IsActive)</td>
                </tr>
            </tbody>
        </table>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <button type="submit" value="Delete" class="button danger">Delete</button>

        }
        @Html.ActionLink("Back to List", "Index", null, new { @class = "button primary back" })
    </div>
</div>