@model List<ModelLayer.Models.ViewModel.ProductRateListViewModel>


<script src="~/Content/js/jquery-2.1.3.min.js"></script>
<link href="~/Content/css/jquery.dataTables.css" rel="stylesheet" />
<script src="~/Content/js/jquery.dataTables.js" language="jascript"></script>
<style>
    .header {
        background-color: #536075 !important; /*4B77BE*/
        color: white;
    }
</style>
<script type="text/javascript" class="init">
    $(document).ready(function () {
        $('#tblData').DataTable({
            dom: 'T<"clear">lfrtip',
            "processing": true,
            "serverSide": true,
            "aaSorting": []
        });

        $("#ddlmonth").val(@ViewBag.SelectedMonth);

        $("#ddlmonth").change(function () {
            window.location = "/ProductRate/CurrentRateProductList?Month=" + $(this).val();
        });

    });
</script>
<br />
<br />
<div class="row-fluid">
    <div class="box span11">
        <div class="box-header">
            <h2>
                <i class="icon-list-alt"></i>
                <span class="break"></span>
                Product Current Rate List
            </h2>
        </div>

        <div class="box-content">
            <center>
                <div>
                    <label> Select Month</label>
                    <select id="ddlmonth" style="text-transform:uppercase;width:130px">
                        <option value="1">january</option>
                        <option value="2">february</option>
                        <option value="3">march</option>
                        <option value="4">april</option>
                        <option value="5">may</option>
                        <option value="6">jun</option>
                        <option value="7">july</option>
                        <option value="8">augest</option>
                        <option value="9">september</option>
                        <option value="10">october</option>
                        <option value="11">november</option>
                        <option value="12">december</option>
                    </select>
                </div>
            </center>
            <table id="tblData" class="table border-table display" width="100%">
                <thead>
                    <tr>
                        <th class="header ">Sr. No</th>
                        <th class="header ">Product</th>
                        <th class="header ">Product Name</th>
                        <th class="header ">HSNCode</th>
                        <th class="header ">No of Varient</th>                        
                        <th class="header "></th>
                    </tr>
                </thead>
                @*@if (Model.Count() > 0)
                {*@
                    @for (var i = 0; i < Model.Count(); i++)
                    {
                        <tr>

                            <td class="hideCol-@i">

                                @{
                        var j = i;
                        j = j + 1;
                                }
                                @j
                                <label style="display:none" id="ProductId-@i">@Model[i].ProductId</label>
                            </td>
                            <td class="hideCol-@i">
                                <img id=" imgproductimage" src="@Model[i].ProductImgPath" onerror="this.src = '/Content/Images/no_image.png'" style="width: 30px; height:30px;" alt=" eZeelo " />
                            </td>
                            <td class="hideCol-@i">
                                @Model[i].ProductName
                            </td>
                            <td class="hideCol-@i">
                                @Model[i].HSNCode
                            </td>
                            <td class="hideCol-@i">
                                @Model[i].VarientCount
                            </td>
                            
                            <td class="hideCol-@i">
                                @if ((Session["BusinessTypeID"] != null && Convert.ToInt32(Session["BusinessTypeID"]) == 5) || (Session["IsEzeeloLogin"] == "1"))
                                {
                                    @Html.ActionLink("Current Rate", "DVFVRateMarginList", "Report", new { ProductId = @Model[i].ProductId }, new { @class = "btn btn-small btn-success", @id = "getCurRate" })
                                }
                                else
                                {
                                    @Html.ActionLink("Current Rate", "CurrentRateForWarehouse", "Report", new { ProductId = @Model[i].ProductId }, new { @class = "btn btn-small btn-success", @id = "getCurRate" })
                                }
                            </td>

                        </tr>

                    }
                //}
                @*else
                {
                    <tr>
                        <td>
                            <label >No Product Found..</label>
                        </td>
                    </tr>
                }*@
            </table>

        </div>
    </div>
</div>
