@model ModelLayer.Models.Weekly_Seasona_Festival_Message

@{
    //Layout = null;
}

<!DOCTYPE html>

<html>

<body>
    <style>
        div.checker {
            margin-top: -10px !important;
        }
    </style>
    <div id="content" class="span10" style="min-height: 400px;">
        <div class="row-fluid">
            <div class="box span12">
                <div class="box-header">
                    <h2><i class="icon-group"></i><span class="break"></span>Weekly Seasona Festival Message Details</h2>
                </div>
                <div class="box-content">
                    <div class="form-horizontal">
                        <div class="control-group">
                            <div class="span12" style="margin-left: 0px;">
                                <div class="span2">
                                    <label>Minimum Order in Rupees</label>
                                </div>
                                <div class="span3">
                                    : @Html.DisplayFor(model => model.MinimumOrderInRupee)
                                </div>
                            </div>
                            <div class="span12" style="margin-left: 0px;">
                                <div class="span2">
                                    <label>Message</label>
                                </div>
                                <div class="span3">
                                    : @Html.DisplayFor(model => model.Message)
                                </div>
                                <div class="span2">
                                    <label>Weekly Holiday</label>
                                </div>
                                <div class="span3">
                                    : @Html.DisplayFor(model => model.WeeklyHoliday)
                                </div>
                            </div>
                            <div class="span12" style="margin-left: 0px;">
                                <div class="span2">
                                    <label>Seasonal Msg From Month</label>
                                </div>
                                <div class="span3">
                                    : @Html.DisplayFor(model => model.SeasonalMsgFrmMonth)
                                </div>
                                <div class="span2">
                                    <label>Seasonal Msg To Month</label>
                                </div>
                                <div class="span3">
                                    : @Html.DisplayFor(model => model.SeasonalMsgToMonth)
                                </div>
                            </div>
                            <div class="span12" style="margin-left: 0px;">
                                <div class="span2">
                                    <label>Festival Msg From Month</label>
                                </div>
                                <div class="span3">
                                    : @Html.DisplayFor(model => model.FestivalMsgFrmDate)
                                </div>
                                <div class="span2">
                                    <label>Festival Msg To Month</label>
                                </div>
                                <div class="span3">
                                    : @Html.DisplayFor(model => model.FestivalMsgToDate)
                                </div>
                            </div>
                            <div class="span12" style="margin-left: 0px;">
                                <div class="span2">
                                    <label>IsActive</label>
                                </div>
                                <div class="span3">
                                    : @Html.DisplayFor(model => model.IsActive)
                                </div>
                                <div class="span2">
                                    <label>Create Date</label>
                                </div>
                                <div class="span3">
                                    : @Html.DisplayFor(model => model.CreateDate)
                                </div>
                            </div>
                            <div class="span12" style="margin-left: 0px;">
                                <div class="span2">
                                    <label>Create By</label>
                                </div>
                                <div class="span3">
                                    : @Html.DisplayFor(model => model.CreateBy)
                                </div>
                                <div class="span2">
                                    <label>Modify Date</label>
                                </div>
                                <div class="span3">
                                    : @Html.DisplayFor(model => model.ModifyDate)
                                </div>
                            </div>
                            <div class="span12" style="margin-left: 0px;">
                                <div class="span2">
                                    <label>Modify By</label>
                                </div>
                                <div class="span3">
                                    : @Html.DisplayFor(model => model.ModifyBy)
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-danger btn-small" })
                            @Html.ActionLink("Back to List", "Index", string.Empty, new { @class = "btn btn-small" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
