@model ModelLayer.Models.ViewModel.BBPPayoutViewModel
<table class="table" style="width:70%">
    <tbody class="form-group form-material">
        <tr>
            <td class="heading">
                <i class="fa fa-calendar"></i>&nbsp;&nbsp;From Date:
            </td>
            <td class="details" id="name-input">@Html.DisplayFor(modelItem => Model.FromDate)</td>
        </tr>
        <tr>
            <td class="heading">
                <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;To Date:
            </td>
            <td class="details" id="mobile">@Html.DisplayFor(modelItem => Model.ToDate)</td>
        </tr>
        <tr>
            <td class="heading" >
                <i class="fa fa-user"></i>&nbsp;&nbsp;Total Subscriber:
            </td>
            <td class="details">@Html.DisplayFor(modelItem => Model.TotalSubscriber)</td>
        </tr>
        <tr>
            <td class="heading">
                <i class="fa fa-user"></i>&nbsp;&nbsp;Active Subscriber:
            </td>
            <td class="details">@Html.DisplayFor(modelItem => Model.ActiveSubscriber)</td>
        </tr>
        <tr>
            <td class="heading">
                <i class="fa fa-envelope"></i>&nbsp;&nbsp;Total Deliveries:
            </td>
            <td class="details" id="Ref_ID">@Html.DisplayFor(modelItem => Model.TotalDeliveries)</td>
        </tr>
        <tr>
            <td class="heading">
                <i class="fa fa-envelope"></i>&nbsp;&nbsp;Pending Deliveries:
            </td>
            <td class="details" style="color:red;font-weight:bold" >@Html.DisplayFor(modelItem => Model.PendingDeliveries)</td>
        </tr>
        <tr>
            <td class="heading">
                <i class="fa fa-inr"></i>&nbsp;&nbsp;Coin Rate:
            </td>
            <td class="details" >@Html.DisplayFor(modelItem => Model.CoinRate)</td>
        </tr>
        <tr>
            <td class="heading" >
                <i class="fa fa-money"></i>&nbsp;&nbsp;Total ERP:
            </td>
            <td class="details" >@Html.DisplayFor(modelItem => Model.TotalERP)</td>
        </tr>

        <tr>
            <td class="heading" >
                <i class="fa fa-money"></i>&nbsp;&nbsp;Payable ERP:
            </td>
            <td class="details">@Html.DisplayFor(modelItem => Model.PayableERP)</td>
        </tr>

        <tr>
            <td class="heading">
                <i class="fa fa-money"></i>&nbsp;&nbsp;Pending ERP:
            </td>
            <td class="details">@Html.DisplayFor(modelItem => Model.PendingERP)</td>
        </tr>

        <tr>
            <td class="heading" >
                <i class="fa fa-money"></i>&nbsp;&nbsp;Total Payable ERP:
            </td>
            <td class="details" style="font-weight:bold;text-decoration:underline">@Html.DisplayFor(modelItem => Model.TotalPayableERP)</td>
        </tr>

    </tbody>
</table>
