@model ModelLayer.Models.BulkLog

@{
    ViewBag.Title = "Details";
}
<div id="content" class="span10">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="#">Bulk Log</a>
            <i class="icon-angle-right"></i>
        </li>
    </ul>
    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header">
                <h2><i class="halflings-icon user"></i><span class="break"></span>Bulk Log/Details</h2>
            </div>
            <div class="box-content">
                <div class="form-horizontal">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Shop.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Shop.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ExcelSheetName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ExcelSheetName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.BulkType)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.BulkType)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CreateDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreateDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CreateBy)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreateBy)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.NetworkIP)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NetworkIP)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DeviceType)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DeviceType)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DeviceID)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DeviceID)
                        </dd>

                    </dl>
                    <div class="form-actions">
                        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Back to List", "Index", string.Empty, new { @class = "btn" })
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
