@model IEnumerable<ModelLayer.Models.BulkLog>

@{
    ViewBag.Title = "Index";
}

<div id="content" class="span10">
<ul class="breadcrumb">
        <li>
         
            <a href="#">Bulk</a>
          
        </li>
      
    </ul>
    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header">
                <h2><i class="halflings-icon user"></i><span class="break"></span>Bulk Log/Index</h2>
                <div class="pull-right jumpBtn">
                    @Html.ActionLink("Create New", "Create", null, new { @class = "btn  btn-primary" })
                </div>
            </div>
            <div class="box-content box-hide-content">
                <table class="table table-bordered">
                    <tr>
                        <th>
                            Shop Name
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ExcelSheetName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BulkType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreateDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreateBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NetworkIP)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DeviceType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DeviceID)
                        </th>
                        <th>Actions</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Shop.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExcelSheetName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BulkType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NetworkIP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeviceType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeviceID)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-small btn-success" })
                            @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-small btn-primary" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-small btn-danger" })
                        </td>
                    </tr>
                    }

                </table>
            </div>
</div>
</div>
</div>