@model IEnumerable<ModelLayer.Models.ViewModel.CustomerOrderViewModel>


<script src="~/Scripts/jquery-1.12.4.js"></script>

<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<style>
    .pro_th thead tr th {
        font-size: 12px;
        border-bottom: 1px solid #EEE;
        padding: 6px 0;
        background-color: #26A69A;
    }

    .pro_th tbody td {
        font-size: 12px;
        text-align: center;
        border: 1px solid #EEE;
    }

        .pro_th tbody td.btn-set {
            white-space: nowrap;
        }

    .dataTables_length {
        margin-left: 0px !important;
        margin-top: 7px;
    }

    .pagination {
        margin: 0 26px;
    }

    form {
        margin: 0 0 -15px;
    }
</style>

<div id="wrap">
    <div class="container">
        <div id="content" class="span10" style="min-height: 403px;">
            
                
                    <table id="custTableList" class="table table-striped table-bordered dt-responsive nowrap" width="70%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>Email ID</th>
                                <th>Order Code</th>
                                <th>Order Amount</th>
                                <th>Order Date</th>


                                <th>Payment Mode</th>
                                <th>Payable Amount</th>
                                <th>Total Business Point</th>
                                <th>MLM Amount Used</th>
                                <th>Primary Mobile</th>


                                <th>Area Name</th>
                                <th>Pincode</th>
                                <th>Shipping Address</th>
                            </tr>
                        </thead>


                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="text-align: center">
                                        @Html.DisplayFor(modelItem => item.FullName)
                                    </td>
                                    <td style="text-align: center">
                                        @Html.DisplayFor(modelItem => item.EmailID)
                                    </td>


                                    <td style="text-align: center">
                                        @Html.DisplayFor(modelItem => item.OrderCode)
                                    </td>
                                    <td style="text-align: center">
                                        @Html.DisplayFor(modelItem => item.OrderAmount)
                                    </td>
                                    <td style="text-align: center">
                                        @Html.DisplayFor(modelItem => item.CreateDate)
                                    </td>
                                    <td style="text-align: center">
                                        @Html.DisplayFor(modelItem => item.PaymentMode)
                                    </td>

                                    <td style="text-align: center">
                                        @Html.DisplayFor(modelItem => item.PayableAmount)
                                    </td>
                                    <td style="text-align: center">
                                        @Html.DisplayFor(modelItem => item.BusinessPointsTotal)
                                    </td>
                                    <td style="text-align: center">
                                        @Html.DisplayFor(modelItem => item.MLMAmountUsed)
                                    </td>
                                    <td style="text-align: center">
                                        @Html.DisplayFor(modelItem => item.PrimaryMobile)
                                    </td>

                                    <td style="text-align: center">
                                        @Html.DisplayFor(modelItem => item.AreaName)
                                    </td>

                                    <td style="text-align: center">
                                        @Html.DisplayFor(modelItem => item.Pincode)
                                    </td>
                                    <td style="text-align: center">
                                        @Html.DisplayFor(modelItem => item.ShippingAddress)
                                    </td>


                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
   


<script type="text/javascript">
    $(document).ready(function () {
        $('#custTableList').DataTable();


    });
</script>

