@model IEnumerable<ModelLayer.Models.ViewModel.LeadersOrderViewModel>

<script src="~/Scripts/jquery-1.12.4.js"></script>

<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<style>
    .pro_th thead tr th {
        font-size: 12px;
        border-bottom: 1px solid #EEE;
        padding: 6px 0;
        background-color: #26A69A;
    }

    .pro_th tbody td {
        font-size: 12px;
        text-align: center;
        border: 1px solid #EEE;
    }

        .pro_th tbody td.btn-set {
            white-space: nowrap;
        }

    .dataTables_length {
        margin-left: 0px !important;
        margin-top: 7px;
    }

    .pagination {
        margin: 0 26px;
    }

    form {
        margin: 0 0 -15px;
    }
</style>

<body>
    <div id="wrap">
        <div class="container">
            <div id="content" class="span10" style="min-height: 403px;">
                <table border="0" class="table border-table display" id="leadersOrderTable">
                    <thead>
                        <tr>

                            <th>Full Name</th>
                            <th>Email ID</th>

                            <th>ID Ref</th>
                            <th>Order Code</th>
                            <th>Order Amount</th>
                            <th>Create Date</th>
                            <th>Refer ID</th>
                            <th>No. of Point Used</th>
                            <th>Value Per Point</th>

                            <th>PAN</th>
                            <th>Payment Mode</th>
                            <th>Payable Amount</th>
                            <th>Total Business Point</th>

                            <th>Primary Mobile</th>

                            <th>Shipping Address</th>
                            <th>Area Name</th>
                            <th>Pincode</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmailID)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.ID_Ref)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderAmount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreateDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Refered_Id_ref)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NoOfPointUsed)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ValuePerPoint)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PAN)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PaymentMode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PayableAmount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BusinessPointsTotal)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PrimaryMobile)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShippingAddress)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Pincode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AreaName)
                                </td>




                            </tr>
                        </tbody>
                        }

                    </table>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#leadersOrderTable').DataTable(

                );
            });
        </script>

    </body>
