@model ModelLayer.Models.ViewModel.PurchaseOrderViewModelList

@{
    ViewBag.Title = "GoodReceipt Note";
    if (Session["Category"] != null)
    {
        if (Session["Category"].ToString() == "IsCategory")
        {
            Layout = "~/Views/Shared/_CategoryLayout.cshtml";
        }
    }
}

@*Script of DataTable  for Pagination*@
@*<script src="~/Scripts/jquery-1.12.4.js"></script>

    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>*@

@*End Of Script of DataTable for Pagination*@





<link href="~/Content/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap-datetimepicker.css" rel="stylesheet" />
<link href="~/Content/assets/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/assets/css/form-design.css" rel="stylesheet" />


<section class="right_side_main_part">
    <div class="row-fluid">
        @using (Html.BeginForm("GoodReceiptNote", "GoodReceiptReports", new { enctype = "multipart/form-data" }, FormMethod.Post, new { id = "Form_" }))
        {
            @Html.ValidationSummary(true)

            <div class="box span12 right_side_up_part">
                <div class="box-header creatProduct clearfix">
                    <h2>
                        <i class="icon-list-alt"></i>
                        <span class="break"></span>
                        Good Receipt Note Report
                    </h2>
                </div>
                <div class="box-content nameDscrp">
                    <div class="form-horizontal">
                        <div class="NameDescription">
                            <div class="control-group mrg-left">
                                <div class="col-sm-3">
                                    Filter by Supplier
                                </div>
                                <div class="col-sm-3">
                                    @if (ViewBag.PossibleSuppliers != null)
                                    {
                                        @Html.DropDownListFor(model => model.SupplierID, ((IEnumerable<ModelLayer.Models.Supplier>)ViewBag.PossibleSuppliers).Select(option => new SelectListItem
                                        {
                                            Text = (option == null ? "None" : option.Name),
                                            Value = option.ID.ToString(),
                                            //Value =Convert.ToString(0),
                                            Selected = (Model != null) && (option.ID == Model.SupplierID)
                                        }))
                                    }

                                </div>
                            </div>

                            <div class="control-group mrg-left">
                                <div class="col-sm-3">
                                    From Date
                                </div>
                                <div class="col-sm-3">
                                    @*@Html.TextBox("FromDate", null, new { @readonly = "readonly", @class = "search", placeholder = "From" })*@
                                    @Html.TextBoxFor(model => model.FromDate, "{0:dd/MM/yyyy}")
                                    @Html.HiddenFor(model => model.FromDate)
                                </div>
                            </div>
                            <div class="control-group mrg-left">
                                <div class="col-sm-3">
                                    To Date
                                </div>
                                <div class="col-sm-6">
                                    @*@Html.TextBox("ToDate", null, new { @readonly = "readonly", @class = "search", placeholder = "To" })*@
                                    @Html.TextBoxFor(model => model.ToDate, "{0:MM/dd/yyyy}")
                                    @Html.HiddenFor(model => model.ToDate)
                                </div>
                            </div>

                            <div class="control-group mrg-left">
                                <div class="col-sm-3">
                                    Export In
                                </div>
                                <div class="col-sm-3">
                                    @Html.DropDownList("ExportOption", new List<SelectListItem>
                             {
                                     new SelectListItem{ Text="Excel", Value = "1" },
                                     new SelectListItem{ Text="Csv", Value = "2" },
                                     new SelectListItem{ Text="Pdf", Value = "3" }
                            })
                                </div>
                            </div>
                            <div class="clr"></div>

                            @*<button value="Search" type="submit" class="btnRemove btn btn-warning">Search</button>
                                                    <a id="Print" class="print btn btn-default"  href="@Url.Action("GoodReceiptNotePrint", "GoodReceiptReports")" target="_blank">Print</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                                <center>  <button id="Export" value="Export" type="submit" class="btn btn-success">Export</button>  </center>

                                <div class="box">
                                    <div class="box-content">
                                        <div class="NameDescription">
                                            <div style="overflow-x: scroll; overflow-y: scroll; width:1150px; height: 500px; background: #ffffff; " id="divToPrint" >
                                                <table id="headerTable" class="ClaimAmtList" border="1" cellpadding="2" cellspacing="0">*@


                            <button value="Search" type="submit" class="btnRemove btn btn-warning">Search</button>
                            @*<button id="btnPrint" class="btnPrint btn btn-success">Print</button>*@
                            <a id="Print" class="print btn btn-default" href="@Url.Action("GoodReceiptNote", "GoodReceiptReports")" target="_blank">Print</a>
                        </div>
                    </div>
                </div>
            </div>

            <iframe id="txtArea1" style="display:none"></iframe>

            <button id="btnExport" onclick="fnExcelReport();" class="btnPrint btn btn-success btn-small">EXPORT TO EXCEL</button>
            <div class="box right_side_down_part">
                <div class="box-content">
                    <div class="NameDescription">
                        <div id="divToPrint">
                            <table id="headerTable" class=" table table-bordered table-striped table-condensed" border="1" cellpadding="2" cellspacing="0">

                                <thead>
                                    <tr><td class="TD_Heading" style="text-align:center" colspan="12"><h2>GOOD RECEIPT NOTE (@ViewBag.SelectedFromDate To @ViewBag.SelectedToDate)</h2></td></tr>@*Added by rumana on 16/04/2019*@
                                    <tr>
                                        <th>Sr.No.</th>
                                        <th>PO Code</th>
                                        <th> Create Date</th>
                                        <th> Supplier</th>
                                        <th> SKU ID </th>
                                        <th>Item</th>
                                        <th>SKU Unit</th>
                                        <th>Qty Ordered</th>

                                        <th>Received Date</th>
                                        <th>Invoice Code</th>
                                        <th>MRP</th>
                                        <th>Unit Price</th>

                                        <th>GSTInPer</th>
                                        <th>CGSTAmount</th>
                                        <th>SGSTAmount</th>

                                        <th>GSTAmount</th>
                                        <th>Qty Received</th>
                                        <th style="text-align:right;">
                                            Amount
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                            var i = 1;
                                        foreach (var item in Model.lPurchaseOrderViewModel)
                                        {
                                    <tr>
                                        <td>
                                            @i
                                            @{
                                                i = i + 1;
                                            }
                                        </td>
                                        <td>
                                            @*@(item.PurchaseOrderCode == null ? "" : item.PurchaseOrderCode)*@
                                            <a id="Print" style="color: #3C73DC; font-weight: bold; " href="@Url.Action("PrintOrder1", "PurchaseOrders", new { id = @item.PurchaseOrderID })" target="_blank">@(item == null ? "" : item.PurchaseOrderCode)</a>
                                        </td>
                                        <td>
                                            @item.OrderDate.ToString("dd MMM yyyy")
                                        </td>

                                        <td nowrap="nowrap">
                                            @(item.SupplierName == null ? "None" : item.SupplierName)
                                        </td>
                                        <td>
                                            @item.SKUID
                                        </td>
                                        <td nowrap="nowrap">@item.ItemName</td>
                                        <td nowrap="nowrap">@item.ProductVarient</td>
                                        <td>@item.OrderedQuantity</td>

                                        <td>
                                            @item.ReceivedDate.ToString("dd MMM yyyy")
                                        </td>
                                        <td>
                                            <a id="Print" style="color: #DB4437; font-weight: bold" href="@Url.Action("PrintGR", "Invoices", new { InvoiceID = @item.InvoiceID })" target="_blank">@item.InvoiceCode</a>
                                        </td>
                                        <td style="text-align:right">@item.MRP</td>
                                        <td style="text-align:right">@item.UnitPrice</td>
                                        <td style="text-align:right">@item.GSTInPer</td>


                                        <td style="text-align:right">@item.CGSTAmount</td>
                                        <td style="text-align:right">@item.SGSTAmount</td>
                                        <td style="text-align:right">@item.GSTAmount</td>
                                        <td style="text-align:center">@item.ReceivedQuantity</td>
                                        <td style="text-align:right"> @item.Amount</td>
                                    </tr>
                                        }

                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="15">
                                                <label style=" color: #138afc; ">No Record Found.... </label>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                </table>
                        </div>

                    </div>
                </div>
            </div>

        }
    </div>
</section>


<script type="text/javascript">
    $(document).ready(function () {
        $('#ToDate').datepicker({ dateFormat: 'mm/dd/yy', maxDate: 'now' });
        $('#FromDate').datepicker({ dateFormat: 'mm/dd/yy' });

    });
</script>
<script type="text/javascript">
    function fnExcelReport() {
        var tab_text = '<table border="1px" style="font-size:20px" ">';
        var textRange;
        var j = 0;
        var tab = document.getElementById('headerTable'); // id of table
        var lines = tab.rows.length;

        // the first headline of the table
        if (lines > 0) {
            tab_text = tab_text + '<tr bgcolor="#DFDFDF">' + tab.rows[0].innerHTML + '</tr>';
        }

        // table data lines, loop starting from 1
        for (j = 1; j < lines; j++) {
            tab_text = tab_text + "<tr>" + tab.rows[j].innerHTML + "</tr>";
        }




        var fileName = 'Test file.xls';
        var blob = new Blob([tab_text], {
            type: "application/xls;charset=utf-8;"
        });

        if (window.navigator.msSaveBlob) {
            // FOR IE BROWSER
            navigator.msSaveBlob(blob, fileName);
        } else {
            // FOR OTHER BROWSERS
            var csvUrl = URL.createObjectURL(blob);



            //new added by Priti
            let a = $("<a />", {
                //href: 'data:application/vnd.ms-excel,' + encodeURIComponent(blob),
                href: csvUrl,
                download: "GoodReceiptNote.xls"
            })
                .appendTo("body")
                .get(0)
                .click();
            //$('#exportbutton').attr({
            //    'download': fileName,
            //    'href': csvUrl
            //});
        }



    }



</script>
@*<script type="text/javascript">
        $(document).ready(function () {
            $('#ToDate').datepicker({ dateFormat: 'mm/dd/yy', maxDate: 'now' });
            $('#FromDate').datepicker({ dateFormat: 'mm/dd/yy' });


            $("#Export").on('click', function () {

                var print = 0;
                var option = 0;
                var supplierID = 0

                if ($("select#SupplierID option:selected").val() > 0) {
                    supplierID = $("select#SupplierID option:selected").val();
                }

                if ($("select#ExportOption option:selected").val() > 0) {
                    option = $("select#ExportOption option:selected").val();
                }
                var toDate = $('#ToDate').val();
                var fromDate = $('#FromDate').val();

                window.location.href = "/GoodReceiptReports/Export?&FromDate=" + fromDate + "&ToDate=" + toDate + "&option=" + option + "&SupplierID=" + supplierID;

            });
        });
    </script>*@




@*Add for Pagination*@
@*<script type="text/javascript">
        $(document).ready(function () {
            $('#headerTable').DataTable();
        });
    </script>*@
@*End Of Pagination*@


