@model ModelLayer.Models.CategorySpecification

@{
    ViewBag.Title = "Details";
}

<div class="span10" id="content">
    <div class="row-fluid">
        <div class="box">
            <div class="box-header">
                <h2><i class="icon-edit"></i><span class="break"></span>Category Specification</h2>

            </div>
            <div class="box-content">
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Category.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Category.Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Specification.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Specification.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.IsActive)
                        </dd>
                    </dl>
                    <div class="form-actions" style="padding-left: 180px;">
                        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Back to List", "Index", string.Empty, new { @class = "btn btn-brown" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

