@*//-----------------------------------------------------------------------
    // <copyright file="Index.cshtml" company="Ezeelo Consumer Services Pvt. Ltd.">
        //     Copyright (c) Ezeelo Consumer Services Pvt. Ltd. All rights reserved.
        //
        //
    </copyright>
        // <author>Snehal Shende</author>
        //-----------------------------------------------------------------------*@

@model IEnumerable<ModelLayer.Models.Employee>
@using ModelLayer.Models;
@{
    ViewBag.Title = "Index";

}

@*<h2>Index</h2>*@

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<div id="content" class="span10" style="min-height: 400px;">
    <ul class="breadcrumb">
        <li>
            <i class="icon-group"></i>
            <a href="">Employee List</a>

        </li>
        @*<li><a href="#">Tables</a></li>*@
    </ul>
    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header">
                <h2><i class="icon-home"></i><span class="break">Index</span></h2>
            </div>
            <div class="box-content">
                <div class="row-fluid">
                    <div class="span6">
                        <span class="hed-owner">Select Owner Type</span>
                        @Html.DropDownList("BusinessType", "Select Business Type")
                    </div>
                    <div class="span6">
                        <span class="hed-owner">Select Owner</span>
                        @Html.DropDownList("BusinessOwner")
                    </div>

                </div>
                <div class="div_class">
                    <table class="table table-striped table-bordered bootstrap-datatable dataTable" id="tableSimilarProduct">
                        <thead>
                            <tr>
                                <th width="13%">
                                    Employee Code
                                </th>
                                <th width="17%">
                                    Employee Name
                                </th>
                                <th width="17%">
                                    Email
                                </th>
                                <th width="9%">
                                    Mobile
                                </th>
                                <th width="7%">
                                    Is Active
                                </th>
                                <th width="18%"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>

    $(function () {
        $('#BusinessOwner').change(function (e) {
            var selectedVal = $('#BusinessOwner option:selected').val();
            var selectOwner = $('#BusinessType option:selected').val();
            if (selectedVal > 0) {

                $.ajax({
                    type: "POST",
                    url: "/EmployeeApproval/EmployeeList",
                    data: "{ businessTypeID: " + selectOwner + ",OwnerID:" + selectedVal + "}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: true,
                    cache: false,
                    success: function (msg) {
                        $('#tableSimilarProduct').children('tbody').empty();

                        $.each(msg, function (index, item) {
                            $("#tableSimilarProduct tbody").append("<tr>" +
                                "<td>" + item.EmployeeCode + "</td>" +
                                "<td>" + item.EmpName + "</td>" +
                                "<td>" + item.Email + "</td>" +
                                "<td>" + item.Mobile + "</td>" +
                                "<td><input type='checkbox' class='check-box' disabled='disabled' id='IsActive'/></td>" +
                                "<td>" +
                                "<a class='btn btn-danger btn-small' href='@Url.Action("Edit", "EmployeeApproval")?id=" + item.LoginID + "'> Edit </a> " +
                                "<a class='btn btn-success btn-small' href='@Url.Action("Details", "EmployeeApproval")?id=" + item.LoginID + "'>Detail </a> " +
                                "<a class='btn btn-primary btn-small' href='@Url.Action("Approve", "EmployeeApproval")?id=" + item.LoginID + "'>Approve </a> "
                                + "</td> </tr>"
                            );
                            
                            $("#tableSimilarProduct tr:last").find('#IsActive').prop('checked', item.IsActive);
                        });
                    },
                    error: function (x, e) {
                        alert("Sorry No Unable to Bind Data. ");
                    }
                });
            }

        });
    });


    $(function () {
        $('#BusinessType').change(function (e) {
            var selectedVal = $("#BusinessType option:selected").val();
            if (selectedVal > 0) {

                $.ajax({
                    type: "POST",
                    url: "/EmployeeApproval/getOwnerID",
                    data: "{ businessTypeID: '" + selectedVal + "'}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: true,
                    cache: false,
                    success: function (msg) {
                        $('#BusinessOwner').empty();
                        $('#BusinessOwner').append('<option value=0>Select Owner</option>');
                        $.each(msg, function (index, item) {
                            $('#BusinessOwner').append('<option value=' + item.ID + '>' + item.Name + '</option>');
                        });
                    },
                    error: function (x, e) {
                        alert("Sorry No Such Type of Owner Is available. ");
                    }
                });
            }
        });
    });


</script>
