@model ModelLayer.Models.WarehouseBlock

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>WarehouseBlock</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">Rows</div>
    <div class="display-field">@Model.Rows</div>

    <div class="display-label">Columns</div>
    <div class="display-field">@Model.Columns</div>

    <div class="display-label">Height</div>
    <div class="display-field">@String.Format("{0:F}", Model.Height)</div>

    <div class="display-label">Length</div>
    <div class="display-field">@String.Format("{0:F}", Model.Length)</div>

    <div class="display-label">Width</div>
    <div class="display-field">@String.Format("{0:F}", Model.Width)</div>

    <div class="display-label">Weight</div>
    <div class="display-field">@String.Format("{0:F}", Model.Weight)</div>

    <div class="display-label">CreateDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.CreateDate)</div>

    <div class="display-label">CreateBy</div>
    <div class="display-field">@Model.CreateBy</div>

    <div class="display-label">ModifyDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.ModifyDate)</div>

    <div class="display-label">ModifyBy</div>
    <div class="display-field">@Model.ModifyBy</div>

    <div class="display-label">NetworkIP</div>
    <div class="display-field">@Model.NetworkIP</div>

    <div class="display-label">WarehouseBlockList</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.WarehouseBlockList).ToString()</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


