@model ModelLayer.Models.Area

@{
    ViewBag.Title = "Details";
}
<br />
<div class="row-fluid" style="margin-left: 15px;">
    <div class="box span12">
        <div class="box-header">
            <h2><i class="icon-edit"></i><span class="break"></span>Detail Area</h2>
        </div>
        <div class="box-content">
            <form class="form-horizontal">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="focusedInput">PinCode</label>
                        <div class="controls">
                            @Html.DisplayFor(model => model.Pincode.Name)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="focusedInput">Area Name</label>
                        <div class="controls">
                            @Html.DisplayFor(model => model.Name)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="optionsCheckbox2">Is Active</label>
                        <div class="controls">
                            <label class="checkbox">
                                @Html.DisplayFor(model => model.IsActive)
                            </label>
                        </div>
                    </div>

                    <div class="form-actions">
                        @*<button type="submit" value="Create" class="btn btn-primary">@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) </button>*@
                        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" })

                        @Html.ActionLink("Back to List", "Index", string.Empty, new { @class = "btn" })

                    </div>
                </fieldset>
            </form>

        </div>
    </div><!--/span-->

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


@*<div>
    <h4>Area</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pincode.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pincode.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

       

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
