@model ModelLayer.Models.ViewModel.PurchaseOrderReplyViewModel
@using ModelLayer.Models.ViewModel

@{
    Layout = null;
    ViewBag.Title = "Invoice";
}


<script src="~/Content/js/jquery-1.11.0.min.js"></script>
<link href="~/Content/assets/css/style.css" rel="stylesheet" />
<script src="~/Content/js/jquery-1.9.1.min.js"></script>
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link href="~/Content/assets/css/form-design.css" rel="stylesheet" />
@*<link href="~/Content/assets/css/font-awesome.min.css" rel="stylesheet" />*@
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />


<link href="~/Content/css/site.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap-responsive.min.css" rel="stylesheet" />

<link href="~/Content/css/style-responsive.css" rel="stylesheet" />
<link href="~/Content/css/halflings.css" rel="stylesheet" />
<link href="~/Content/css/jquery-ui-1.8.21.custom.css" rel="stylesheet" />
<link href="~/Content/css/jquery.cleditor.css" rel="stylesheet" />
<link href="~/Content/css/uniform.default.css" rel="stylesheet" />

<div>
    @*<div style="position:fixed; text-align:right; padding-left:20px">
        <input class="btn btn-primary" type="button" value="Print" id="btnPrint" />
    </div>*@
    <div id="dvContainer" style="padding-left: 50px; padding-right: 50px; border: solid 1px black">
        <style>
            #Tblgst tr th {
                text-align: center;
            }
            #Tblgst tr td {
                text-align: center;
            }
        </style>
         <div class="row-fluid">
            <div class="box span12">
                @*<div class="box-header clearfix" data-original-title="" style="text-align:center">
                        <h2>
                           INVOICE
                        </h2>
                    </div>*@
                <div class="box-content">
                    <div class="form-horizontal">
                        <table width="100%">
                            <tr>
                                <td style="padding-left: 10px; width: 40%">
                                    <div style="text-align: right"><img src="@System.Configuration.ConfigurationManager.AppSettings["EZEELO_IMG_URL"]/hpi/11187/26/1/8.png" style="height:60px;" /></div>
                                    <br />
                                    @*<div class="display-label"><b>eZeelo Consumer Services Private Limited</b></div>
                                        <div class="display-label">9A, 4th Floor ,JB Wing(Mangalwari Complex), </div>
                                        <div class="display-label">Magalwari Bazar,Sadar, Nagpur, Maharashtra,440001</div>
                                        <div class="display-label">Phone : 9172221910 </div>*@
                                    <div class="display-label" style="font-size:x-large; color:navy"><b>@Model.SupplierName</b> </div>
                                    <div class="display-label">@Model.SupplierAddress,</div>
                                    <div class="display-label"><i class="fa fa-phone"></i>@Model.SupplierMobile,<i class="fa fa-envelope"></i> @Model.SupplierEmail,<i class="fa fa-fax"></i> Fax :@Model.SupplierFax</div>
                                    @*<div class="display-label"><i class="fa fa-fax"></i> Fax :@Model.SupplierFax</div>*@
                                    @*<div class="display-label"><i class="fa fa-envelope"></i> @Model.SupplierEmail,  GST No. @Model.SupplierGSTNumber</div>*@
                                    <div class="display-label">GST No. @Model.SupplierGSTNumber</div>
                                    <div class="display-label">State Code. @Model.StateCode</div>

                                </td>
                                @*<td style="text-align: left; width: 40%">   </td>

                                     <td style="text-align: left; width: 40%">
                                        <div class="display-label">Invoice No: <b>@Model.InvoiceCode</b></div>
                                         <div class="display-label">Ref. PO No: <b>@Model.PurchaseOrderCode</b></div>
                                        <div class="display-label">Expected Delivery Date: <b>@Model.ExpetedDeliveryDate.ToString("dd/MM/yyyy")</b></div>
                                        <div class="display-label">Actual Delivery Date: <b>@Convert.ToDateTime(@Model.DeliveryDateTime).ToString("dd/MM/yyyy")</b></div>
                                        <div class="display-label">Supplier Code: <b>@Model.SupplierCode</b></div>
                                    </td>*@
                            </tr>
                    </div>

                    </table>
                    <div class="box-header clearfix" data-original-title="" style="text-align:center">
                        <h3>     @*//PRITI//*@
                            INVOICE
                        </h3>
                    </div>
                    <hr />
                  
                </div>
            </div>



            <div class="box">
                <table width="100%">
                    <tr>
                        <td style="padding-left:10px; width:40%">                  @*//PRITI//*@
                            <div class="display-label"><b>Ship To:</b></div>
                            <div class="display-label">@Model.WarehouseName </div>
                            <div class="display-label">@Model.WarehouseAddress </div>
                            <div class="display-label">FSSAI Licence No:<b></b>@Model.FSSILicenseNo</div>
                            <div class="display-label">GST No.   @Model.WarehouseGSTNumber </div>  @*Added by Priti on 16/10/2018*@
                            <div class="display-label"> State Code  @Model.StateCode1 </div>                @*Added by Priti on 16/10/2018*@
                         
                          
                       
                            <br />
                            <div class="display-label"><b>Contact Name:</b></div>
                            <div class="display-label">@Model.WarehouseContactPerson</div>
                            <div class="display-label"><i class="fa fa-phone"></i> @Model.WarehouseMobile </div>
                            <div class="display-label"><i class="fa fa-envelope"></i> @Model.WarehosueEmail </div>
                           
                         

                        </td>

                        <td style="text-align: left; width: 27%;"></td>     @*//PRITI*@
                        <td style="width: 40%">
                            <div class="display-label"><b>Supplier</b></div>
                        <div class="display-label">Invoice No: <b>@Model.InvoiceCode</b></div>
                            <div class="display-label">Invoice Date: <b>@Model.CreateDate.ToString("dd/MM/yyyy")</b></div>
                        <div class="display-label">Ref. PO No: <b>@Model.PurchaseOrderCode</b></div>
                        <div class="display-label">PO  Expiry Date: <b>@Model.ExpetedDeliveryDate.ToString("dd/MM/yyyy")</b></div>
                        <div class="display-label">Actual Delivery Date: <b>@Convert.ToDateTime(@Model.DeliveryDateTime).ToString("dd/MM/yyyy")</b></div>
                            <div class="display-label">Supplier Code:<b>@Model.SupplierCode</b></div>
                            <div class="display-label"> FSSAI Licence No.   @Model.DVFSSILicenseNo </div>  @*Added by Priti on 16/10/2018*@
                        
                            @*<div class="display-label">Insecticides License No:<b>@Model.InsecticidesLicenseNo</b></div>*@
                           
                        </td>
                    </tr>
                </table>
            </div>


            <div class="box">       
                <br />       
                @*<div class="box-content nameDscrp">*@
                    <div class="NameDescription">
                        <div class="box-content box-content1" style="padding-left:0px;width:99%;z-index:1;">

                            <table class="table table-striped table-bordered bootstrap-datatable datatable dataTable items" width="95%" cellpadding="1" cellspacing="0" border="1">
                                <tr>
                                    <th>Sr.No.</th>
                                    @*<th>Product</th>*@
                                    <th style="text-align:left">Description of Item</th>
                                    <th>HSN Code</th>
                                    <th>SKU ID</th>
                                    <th>SKU Unit</th>
                                    @*<th>EAN Code</th>*@               @*Added by Priti on Products on 5/7/2018*@
                                    <th style="text-align:center">Quantity</th>
                                    <th style="text-align:center">Unit Price</th>
                                    <th style="text-align:center">MRP</th>

                                    
                                    <th>CGST Amt</th>
                                    <th>SGST Amt</th>
                                    <th style="display:none">IGSTAmount</th>    @*//PRITI 28/6/2018*@
                                    <th style="text-align:center">Amt</th>
                                    @*<th>Remark</th>*@
                                </tr>
                                @{
                                    var srno = 1;
                                    decimal TotalGSTAmount = 0;
                                }
                                @for (int i = 0; i < Model.lPurchaseOrderReplyDetailViewModels.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            @srno
                                            @{ srno = srno + 1; }
                                        </td>
                                        @*<td class="table-shopping-cart-img" style="text-align: left;">
                                <img id=" imgproductimage" src="@Model.lPurchaseOrderReplyDetailViewModels[i].StockThumbPath" onerror="this.src = '/Content/Images/no_image.png'" style="width: 70px; height:70px;" alt=" eZeelo " />
                            </td>*@
                                        <td>
                                            @Model.lPurchaseOrderReplyDetailViewModels[i].ItemName
                                        </td>
                                        <td>@Model.lPurchaseOrderReplyDetailViewModels[i].HSNCode</td>
                                        <td>@Model.lPurchaseOrderReplyDetailViewModels[i].SKUID</td>
                                        <td>@Model.lPurchaseOrderReplyDetailViewModels[i].SKUUnit</td>

                                        @*<td>@Model.lPurchaseOrderReplyDetailViewModels[i].EANCode</td>*@    @*Added by Priti on Products on 5/7/2018*@
                                        <td style="text-align:center">
                                            @Html.LabelFor(model => @Model.lPurchaseOrderReplyDetailViewModels[i].Quantity, @Model.lPurchaseOrderReplyDetailViewModels[i].Quantity.ToString(), new { Style = "width:30px" })
                                        </td>
                                        <td>
                                            @Html.LabelFor(model => @Model.lPurchaseOrderReplyDetailViewModels[i].BuyRatePerUnit, @Model.lPurchaseOrderReplyDetailViewModels[i].BuyRatePerUnit.ToString(), new { placeholder = "0", Style = "width:30px" })
                                        </td>
                                        <td>
                                            @Html.LabelFor(model => @Model.lPurchaseOrderReplyDetailViewModels[i].MRP, @Model.lPurchaseOrderReplyDetailViewModels[i].MRP.ToString(), new { placeholder = "0", Style = "width:30px" })
                                        </td>

                                        <td>
                                            @Html.LabelFor(model => @Model.lPurchaseOrderReplyDetailViewModels[i].CGSTAmount, @Model.lPurchaseOrderReplyDetailViewModels[i].CGSTAmount.ToString())
                                            @Html.HiddenFor(model => @Model.lPurchaseOrderReplyDetailViewModels[i].CGSTAmount)
                                            <span>(@Convert.ToDecimal(@Model.lPurchaseOrderReplyDetailViewModels[i].GSTInPer / Convert.ToDecimal(2))%)</span>

                                        </td>
                                        <td >
                                            @Html.LabelFor(model => @Model.lPurchaseOrderReplyDetailViewModels[i].SGSTAmount, @Model.lPurchaseOrderReplyDetailViewModels[i].SGSTAmount.ToString())
                                            @Html.HiddenFor(model => @Model.lPurchaseOrderReplyDetailViewModels[i].SGSTAmount)
                                            <span>(@Convert.ToDecimal(@Model.lPurchaseOrderReplyDetailViewModels[i].GSTInPer / Convert.ToDecimal(2))%)</span>
                                        </td>
                                        <td style="display:none" >      @*//PRITI 28/6/2018*@
                                            @Html.LabelFor(model => @Model.lPurchaseOrderReplyDetailViewModels[i].IGSTAmount, @Model.lPurchaseOrderReplyDetailViewModels[i].IGSTAmount.ToString())
                                            @Html.HiddenFor(model => @Model.lPurchaseOrderReplyDetailViewModels[i].IGSTAmount)
                                        </td>
                                        <td style="font-weight:bold"><b>@Html.LabelFor(model => @Model.lPurchaseOrderReplyDetailViewModels[i].ProductAmount, @Model.lPurchaseOrderReplyDetailViewModels[i].ProductAmount.ToString(), new { Style = "width:40px" })</b></td>
                                        @*<td>
                                @Html.LabelFor(model => @Model.lPurchaseOrderReplyDetailViewModels[i].ProductRemark, Convert.ToString(@Model.lPurchaseOrderReplyDetailViewModels[i].ProductRemark), new { Style = "width:180px" })
                            </td>*@
                                    </tr>
                                   
                                               TotalGSTAmount = TotalGSTAmount + Convert.ToDecimal(@Model.lPurchaseOrderReplyDetailViewModels[i].CGSTAmount) + Convert.ToDecimal(@Model.lPurchaseOrderReplyDetailViewModels[i].SGSTAmount);
                                           
                                }
                            </table>
                        </div>
                        <br />
                        @*Yashaswi 1-8-2018 For GST*@
                        <div class="box-content box-content1">
                            <table id="Tblgst" class="table table-striped table-bordered bootstrap-datatable datatable dataTable items">
                                <tr style="text-align:center">
                                    <th></th>
                                    <th>
                                        Taxable Value
                                    </th>
                                    <th colspan="2">
                                        Central Tax
                                    </th>
                                    <th colspan="2">
                                        State Tax
                                    </th>
                                    <th>
                                        Total Tax Amount
                                    </th>
                                    <th>
                                        Total Amount
                                    </th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th>
                                        Value
                                    </th>
                                    <th>
                                        Amount
                                    </th>
                                    <th>
                                        Value
                                    </th>
                                    <th>
                                        Amount
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                @if (Model.lGst.Count != 0)
                                {
                                    foreach (var item in Model.lGst)
                                    {
                                        <tr>
                                            <td></td>
                                            <td>
                                                @item.TaxableAmt
                                            </td>
                                            <td>
                                                @item.CGST%
                                            </td>
                                            <td>
                                              
                                                @item.CGSTAmt
                                            </td>
                                            <td>
                                                @item.SGST%
                                            </td>
                                            <td>
                                                @item.SGSTAmt
                                            </td>
                                            <td>
                                                @item.TaxAmt
                                            </td>
                                            <td>
                                                @item.TotalAmt
                                            </td>
                                        </tr>
                                    }
                                    <tr>
                                        <td>
                                            <b>Total</b>
                                        </td>
                                        <td>
                                            <b> @Model.lGst.Sum(p => p.TaxableAmt)</b>
                                        </td>
                                        <td></td>
                                        <td>
                                            <b> @Model.lGst.Sum(p => p.CGSTAmt) </b>
                                        </td>
                                        <td></td>
                                        <td>
                                            <b> @Model.lGst.Sum(p => p.SGSTAmt) </b>
                                        </td>
                                        <td>
                                            <b> @Model.lGst.Sum(p => p.TaxAmt)</b>
                                        </td>
                                        <td>
                                            <b> @Model.lGst.Sum(p => p.TotalAmt) </b>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                        <div>
                            <table width="100%">

                               
                                <tr>
                                    <td style="width:50%;" valign="top"><b>Remarks</b> <br />@Model.Remark</td>
                                    <td style="width:50%; text-align:right">
                                        <table width="100%">
                                            
                                            <tr>
                                          
                                                <td style="text-align:right">
                                                    SUBTOTAL 
                                                </td>
                                                <td><b>: </b></td>
                                                <td style="text-align: right; width: 30%;padding-right:20px">
                                                    <span> <b> <i class="fa fa-inr"></i><b><b> @Model.lGst.Sum(p => p.TaxableAmt)</b> </b></b> </span>
                                                    @*<span> <b> <i class="fa fa-inr"></i>@Convert.ToDecimal(@Model.OrderAmount-@TotalGSTAmount)</b></span>   @*//priti 28/6/2018*@
                                            
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:right">GST</td>
                                                <td><b>: </b></td>
                                                <td style="text-align: right; width: 30%; padding-right: 20px; "><span>  <b> <i class="fa fa-inr"></i> @TotalGSTAmount </b></span><br /></td>
                                            </tr>
                                            @if (@Model.ShippingCharge > 0)
                                            {
                                                <tr>
                                                    <td style="text-align:right">SHIPPING CHARGE</td>
                                                    <td><b>: </b></td>
                                                    <td style="text-align: right; width: 30%; padding-right: 20px; "><span>   <b><i class="fa fa-inr"></i> @Model.ShippingCharge </b></span><br /></td>
                                                </tr>
                                            }
                                            @if (@Model.AdditionalCost > 0)
                                            {
                                                <tr>
                                                    <td style="text-align:right">ADDITIONAL COST</td>
                                                    <td><b>: </b></td>
                                                    <td style="text-align: right; width: 30%; padding-right: 20px; "><span>   <b><i class="fa fa-inr"></i> @Model.AdditionalCost</b> </span><br /></td>
                                                </tr>
                                            }
                                            @if (@Model.CustomDutyCharge > 0)
                                            {
                                                <tr>
                                                    <td style="text-align:right">CUSTOM DUTY CHARGE</td>
                                                    <td><b>: </b></td>
                                                    <td style="text-align: right; width: 30%; padding-right: 20px; "><span>   <b><i class="fa fa-inr"></i> @Model.CustomDutyCharge</b> </span><br /></td>
                                                </tr>
                                            }
                                            @if (@Model.OperatingCost > 0)
                                            {
                                                <tr>
                                                    <td style="text-align:right">OPERATING COST</td>
                                                    <td><b>: </b></td>
                                                    <td style="text-align: right; width: 30%; padding-right: 20px; "><span>   <b><i class="fa fa-inr"></i> @Model.OperatingCost</b> </span><br /></td>
                                                </tr>
                                            }
                                            @if (@Model.TotalDiscountAmount > 0)
                                            {
                                                <tr>
                                                    <td style="text-align:right">TOTAL DISCOUNT AMOUNT</td>
                                                    <td><b>: </b></td>
                                                    <td style="text-align: right; width: 30%; padding-right: 20px; "><span>   <b><i class="fa fa-inr"></i> @Model.TotalDiscountAmount</b> </span><br /></td>
                                                </tr>
                                            }
                                            <tr>
                                                <td style="text-align:right"><b>TOTAL</b></td>
                                                <td><b>: </b></td>
                                                @*<td style="text-align: right; width: 30%; padding-right: 20px; "><span> <b>  <i class="fa fa-inr"></i> @Model.TotalAmount</b> </span></td>*@
                                                <td style="text-align: right; width: 30%; padding-right: 20px; "><span> <b>  <i class="fa fa-inr"></i> @Model.lGst.Sum(p => p.TotalAmt) </b> </span></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>

                        </div>

                        <div>
                            <div class="form-horizontal">
                                <table width="100%">
                                   <tr>
                                       <td style="width:80%"><b>Authorized Signature:</b> <br /></br></br></br>________________________</td></br>
                                       <td style="width: 30%;@*line-height:40px*@ "><b>  </b></td>
                                        @*<td style="width:40%; text-align:right;padding-right:15px"><b>Order Total: <i class="fa fa-inr"></i>  @Model.Amount</b></td>*@

                                        <hr />
                                    </tr>
                                </table>


                            </div>
                    </div>
                   </div>


                        @*</div>*@
                    </div>

        </div>
    </div>
@*</div>*@

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    

                    $("#btnPrint").live("click", function () {
                        var divContents = $("#dvContainer").html();
                        var printWindow = window.open('', '', 'height=400,width=800');
                        printWindow.document.write('<html><head><title>INVOICE</title>');
                        printWindow.document.write('<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />');
                        printWindow.document.write('<style>#Tblgst tr th{text-align:center;}</style>');
                        printWindow.document.write('</head><body >');
                        printWindow.document.write(divContents);
                        printWindow.document.write('</body></html>');
                        printWindow.document.close();
                        printWindow.print();
                    });
</script>