@model ModelLayer.Models.DeliveryCashHandlingCharge

@{
    ViewBag.Title = "Details Weight Slab [ " + @Model.MaxAmount + " ]";
}

<div class="row">
    <div class="span4">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-list-alt"></i>
                <h3> Details Weight Slab [ @Model.MaxAmount ]</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <div class="widget big-stats-container">
                    <div class="widget-content matchdivheight">
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { ID = @Model.ID }, new { @class = "btn btn-small btn-danger" }) |
                            <button class="btn btn-small btn-success" onclick="Back()">Back</button>
                        </p>
                        <dl class="dl-horizontal">
                            @*<dt>
                                @Html.DisplayNameFor(model => model.DeliveryPartner.GodownAddress)
                            </dt>

                            <dd>
                                &nbsp;@Html.DisplayFor(model => model.DeliveryPartner.GodownAddress)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DeliveryPartner.BusinessDetail.Name)
                            </dt>

                            <dd>
                                &nbsp;@Html.DisplayFor(model => model.DeliveryPartner.BusinessDetail.Name)
                            </dd>*@

                            <dt>
                                Max Amount
                            </dt>

                            <dd>
                                &nbsp;@Html.DisplayFor(model => model.MaxAmount)
                            </dd>

                            <dt>
                                Per Hour Charge
                            </dt>

                            <dd>
                                &nbsp;@Html.DisplayFor(model => model.PerHourCharge)
                            </dd>

                            <dt>
                                Is Approved
                            </dt>

                            <dd>
                                &nbsp;@Html.DisplayFor(model => model.IsApproved)
                            </dd>

                            <dt>
                                Is Active
                            </dt>

                            <dd>
                                &nbsp;@Html.DisplayFor(model => model.IsActive)
                            </dd>
                            <hr />
                            <dt>
                                Create Date
                            </dt>

                            <dd>
                                &nbsp;@Html.DisplayFor(model => model.CreateDate)
                            </dd>

                            <dt>
                                Create By
                            </dt>

                            <dd>
                                &nbsp;@Html.DisplayFor(model => model.PersonalDetail.FirstName)
                            </dd>

                            <dt>
                                Modify Date
                            </dt>

                            <dd>
                                &nbsp;@Html.DisplayFor(model => model.ModifyDate)
                            </dd>

                            <dt>
                                Modify By
                            </dt>

                            <dd>
                                &nbsp;@Html.DisplayFor(model => model.PersonalDetail2.FirstName)
                            </dd>

                            @*<dt>
                                @Html.DisplayNameFor(model => model.NetworkIP)
                            </dt>

                            <dd>
                                &nbsp;@Html.DisplayFor(model => model.NetworkIP)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DeviceType)
                            </dt>

                            <dd>
                                &nbsp;@Html.DisplayFor(model => model.DeviceType)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DeviceID)
                            </dt>

                            <dd>
                                &nbsp;@Html.DisplayFor(model => model.DeviceID)
                            </dd>*@

                        </dl>
                    </div>
                </div>
                <!-- /widget-content -->
            </div>
        </div>
    </div>
</div>
<script>
    function Back() {
        $('#divtable').removeClass('span8');
        $('#divtable').addClass('span12');
        window.parent.$("[id$=Details]").hide();
        $('#loader_img').hide();
    }
</script>