@model ModelLayer.Models.LeadersPaymentHistory

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LeadersLayout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>LeadersPaymentHistory</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.UserID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserID)
                @Html.ValidationMessageFor(model => model.UserID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Payout_Month, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Payout_Month)
                @Html.ValidationMessageFor(model => model.Payout_Month)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Payout_Year, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Payout_Year)
                @Html.ValidationMessageFor(model => model.Payout_Year)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Payment_date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Payment_date)
                @Html.ValidationMessageFor(model => model.Payment_date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Payout_Amount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Payout_Amount)
                @Html.ValidationMessageFor(model => model.Payout_Amount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Min_Resereved, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Min_Resereved)
                @Html.ValidationMessageFor(model => model.Min_Resereved)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GST_Amount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GST_Amount)
                @Html.ValidationMessageFor(model => model.GST_Amount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TDS_Amount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TDS_Amount)
                @Html.ValidationMessageFor(model => model.TDS_Amount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Processing_Fees, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Processing_Fees)
                @Html.ValidationMessageFor(model => model.Processing_Fees)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Penalty, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Penalty)
                @Html.ValidationMessageFor(model => model.Penalty)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ERP, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ERP)
                @Html.ValidationMessageFor(model => model.ERP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Total_Order_Amount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Total_Order_Amount)
                @Html.ValidationMessageFor(model => model.Total_Order_Amount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Create_Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Create_Date)
                @Html.ValidationMessageFor(model => model.Create_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Modify_Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Modify_Date)
                @Html.ValidationMessageFor(model => model.Modify_Date)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
