@model IEnumerable<ModelLayer.Models.LeadersPaymentHistory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LeadersLayout.cshtml";
}

  


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payout_Month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payout_Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payment_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payout_Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Min_Resereved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GST_Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TDS_Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Processing_Fees)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Penalty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ERP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total_Order_Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Create_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modify_Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payout_Month)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payout_Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payment_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payout_Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Min_Resereved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GST_Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TDS_Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Processing_Fees)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Penalty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ERP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total_Order_Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Create_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modify_Date)
        </td>
        
    </tr>
}

</table>
