@model ModelLayer.Models.ViewModel.ProductUploadTempViewModel

@{
    ViewBag.Title = "Details";
}


@*<h4>ProductUploadTempViewModel</h4>*@
<div id="content" class="span10">
  <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="index.html">Home</a>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <i class="icon-edit"></i>
            <a href="#">Forms</a>
        </li>
    </ul>

   <div class="row-fluid">
        <div class="box span12">
            <div class="box-header" >
                <h2><i class="halflings-icon edit"></i><span class="break"></span>Details</h2>
                <div class="box-icon">
                    <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
                    <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
                </div>
            </div>

  <div>

      <img src="@ViewBag.ImageURL" style="width:200px; height:200px" />  
  </div>


            <div class="box-content">
                <form class="form-horizontal">  
                    <fieldset>
                        <dl class="dl-horizontal">

                            <dt>
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Name)
                            </dd>

                            @*<dt>
                            @Html.DisplayNameFor(model => model.CategoryID)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CategoryID)
                        </dd>*@

                            <dt>
                                @Html.DisplayNameFor(model => model.WeightInGram)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.WeightInGram)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.LengthInCm)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.LengthInCm)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.BreadthInCm)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.BreadthInCm)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.HeightInCm)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.HeightInCm)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Description)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Description)
                            </dd>

                            @*<dt>
                            @Html.DisplayNameFor(model => model.BrandID)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.BrandID)
                        </dd>*@

                            <dt>
                                @Html.DisplayNameFor(model => model.SearchKeyword)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.SearchKeyword)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.IsActive)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.IsActive)
                            </dd>

                            @*<dt>
                            @Html.DisplayNameFor(model => model.CreateDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreateDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CreateBy)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreateBy)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ModifyDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ModifyDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ModifyBy)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ModifyBy)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.NetworkIP)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NetworkIP)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DeviceType)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DeviceType)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DeviceID)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DeviceID)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ProductVarientID)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ProductVarientID)
                        </dd>*@

                            <dt>
                                @Html.DisplayNameFor(model => model.ColorID)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ColorID)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.SizeID)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.SizeID)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DimensionID)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DimensionID)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.MaterialID)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.MaterialID)
                            </dd>

                            @*<dt>
                            @Html.DisplayNameFor(model => model.TempShopProductID)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TempShopProductID)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ShopID)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ShopID)
                        </dd>*@

                            <dt>
                                @Html.DisplayNameFor(model => model.DisplayProductFromDate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DisplayProductFromDate)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Qty)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Qty)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ReorderLevel)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ReorderLevel)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.StockStatus)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.StockStatus)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.PackSize)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PackSize)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.PackUnitID)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PackUnitID)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.MRP)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.MRP)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.WholeSaleRate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.WholeSaleRate)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.RetailerRate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.RetailerRate)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.IsInclusiveOfTax)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.IsInclusiveOfTax)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CategoryName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CategoryName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.BrandName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.BrandName)
                            </dd>

                        </dl>

                        <div class="form-actions">
                            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" })
                            @*@Html.ActionLink("Back to List", "Index", new { @class="btn btn-primary"} )*@
                            <button class="btn">@Html.ActionLink("Back to List", "Index")</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div><!--/span-->

    </div><!--/row-->


</div>

