@model CRM.Models.ViewModel.MyProfileViewModel

@{
    ViewBag.Title = "My Profile";
}
<style>
    .matchdivheight {
        min-height: 300px !important;
    }
</style>

<div class="row">
    <div class="span12" id="divtable">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-list-alt"></i>
                <h3> My Profile</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <div class="widget big-stats-container">
                    <div class="widget-content">
                        <div class="tabbable">
                            @*<ul class="nav nav-tabs">

                                <li class="active"><a href="#PersonalDetail" data-toggle="tab">Personal Detail</a></li>
                                <li><a href="#BusinessDetail" data-toggle="tab">Business Detail</a></li>
                                <li><a href="#GodownDetail" data-toggle="tab">Delivery Partner Detail</a></li>
                            </ul>*@
                            <div class="tab-content">
                                <div class="tab-pane active matchdivheight" id="PersonalDetail">
                                    @if (Model.PersonalDetailID != null)
                                    {
                                        //---- display
                                        <iframe src='@Url.Action("Details", "PersonalDetail", new { id = Model.PersonalDetailID })' width="100%" height="600px" frameborder="0" id="iframePersonalDetail" class="tab-pane active"></iframe>

                                    }
                                    else
                                    {
                                        //---- create
                                        <iframe src='@Url.Action("Create", "PersonalDetail")' width="100%" height="600px" frameborder="0" id="iframePersonalDetail" class="tab-pane active"></iframe>
                                    }
                                </div>
                                @*<div class="tab-pane" id="BusinessDetail">
                                    @if (Model.BusinessDetailID != null)
                                    {
                                        //---- display
                                        <iframe src='@Url.Action("Details", "BusinessDetail", new { id = Model.BusinessDetailID })' width="100%" height="700px" frameborder="0" id="iframePersonalDetail" class="tab-pane active"></iframe>
                                    }
                                    else
                                    {
                                        //---- create
                                        <iframe src='@Url.Action("Create", "BusinessDetail")' width="100%" height="700px" frameborder="0" id="iframePersonalDetail" class="tab-pane active"></iframe>

                                    }
                                </div>
                                <div class="tab-pane" id="GodownDetail">
                                    @if (Model.DeliveryPartnerID != null)
                                    {
                                        //---- display
                                        <iframe src='@Url.Action("Details", "DeliveryPartner", new { id = Model.DeliveryPartnerID })' width="100%" height="700px" frameborder="0" id="iframePersonalDetail" class="tab-pane active"></iframe>
                                    }
                                    else
                                    {
                                        //---- create
                                        <iframe src='@Url.Action("Create", "DeliveryPartner")' width="100%" height="700px" frameborder="0" id="iframePersonalDetail" class="tab-pane active"></iframe>

                                    }
                                </div>*@
                            </div>
                        </div>
                    </div>
                    <!-- /widget-content -->
                </div>
            </div>
        </div>
    </div>
    <!-- /span12 -->
</div>
