@model IEnumerable<ModelLayer.Models.ViewModel.OrderWiseCouponTransactionViewModel>

@{
    ViewBag.Title = "ForPrint";
}


<style>
    .btn_Print {
        margin-bottom: 7px;
        margin-top: 7px;
        margin-left: 5px;
    }

    .section {
        position: relative;
        border: 1px solid #000;
        padding-top: 37px;
        margin-top: 45px;
        margin-left: 5px;
        /*background: #A4A5A7;*/ background: rgb(179, 159, 128);
    }

        .section.positioned {
            position: absolute;
            top: 100px;
            left: 100px;
            width: 800px;
            box-shadow: 0 0 15px #333;
        }

    .container_tbl {
        overflow-y: scroll;
        /*height: 200px;*/ height: 420px;
    }

    table {
        border-spacing: 0;
        width: 100%;
    }

    td + td {
        border-left: 1px solid #eee;
    }

    td, th {
        border-bottom: 1px solid #eee;
        background: #ddd;
        color: #000;
        padding: 10px 25px;
    }

    #myTable thead tr th {
        height: 0;
        line-height: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        color: transparent;
        border: none;
        white-space: nowrap;
    }

    th div {
        position: absolute;
        background: transparent;
        color: #fff;
        padding: 0px 5px;
        top: 0;
        margin-left: -8px;
        line-height: normal;
        /* border-left: 1px solid #800; */
        border-left: 1px solid #DDD;
    }

    th:first-child div {
        border: none;
    }

    .wrap {
        margin-top: 105px;
    }

    td:nth-child(1) {
        max-width: 77px;
        word-wrap: break-word;
    }

    td:nth-child(2) {
        max-width: 90px;
        word-wrap: break-word;
    }

    td:nth-child(3) {
        width: 85px;
        word-wrap: break-word;
    }

    td:nth-child(4) {
        max-width: 80px;
        word-wrap: break-word;
    }

    td:nth-child(5) {
        max-width: 100px;
        word-wrap: break-word;
    }

    td:nth-child(6) {
        width: 88px;
        word-wrap: break-word;
    }

    td:nth-child(7) {
        max-width: 60px;
        word-wrap: break-word;
    }

    td:nth-child(8) {
        max-width: 185px;
        word-wrap: break-word;
    }

    td:nth-child(9) {
        max-width: 70px;
        word-wrap: break-word;
    }

    td:nth-child(10) {
        width: 105px;
        word-wrap: break-word;
    }

    .scrollable #myTable {
        overflow: auto;
    }
    .container_tbl {
        overflow-y: auto;
        /* height: 200px; */
        min-height: 420px;
        max-height: 420px;
    }
    .table {
        width: 100%;
        margin-bottom: 0px;
    }
</style>

<h2 id="btnPrint" class="btn btn-primary btn_Print">Print</h2>


<div id="dvContainer" class="section">
    <div><h4 style="margin-top:-73px;">From Date: @ViewBag.fromDate &nbsp;&nbsp;  To Date: @ViewBag.toDate</h4></div>
    <hr />
    @{int i = 0;}
    @if (Model.Count() > 0)
    {
        <div class="table container_tbl" id="dvContainer">
            <table class="table" id="myTable">
                <thead>
                    <tr class="header">
                        <th><div>SrNo.</div></th>
                        <th><div>Coupen Code</div></th>
                        <th><div>Coupon Scheme</div></th>
                        <th><div>Amount</div></th>
                        <th><div>Order Code</div></th>
                        <th><div>Customer</div></th>
                        <th><div>Mobile</div></th>
                        <th><div>Order Date</div></th>
                        <th><div>Order Amount</div></th>
                        <th><div>Payable Amount</div></th> 
                    </tr>
                </thead>
                                @foreach (var item in Model){
                   
                        i = i + 1;
                    <tr>
                        <td>@i</td>

                        <td>
                            @Html.DisplayFor(modelItem => item.CouponCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CouponScheme)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CouponAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrimaryMobile)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderDate)
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PayableAmount)
                        </td>

                    </tr>

                }

            </table>

        </div>
    }
  
</div>
<br />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $("#btnPrint").live("click", function () {
        var divContents = $("#dvContainer").html();
        var printWindow = window.open('', '', 'height=400,width=800');
        printWindow.document.write('<html><head><title>Order Wise Coupon Transaction Report</title>');
        printWindow.document.write('</head><body >');
        printWindow.document.write(divContents);
        printWindow.document.write('</body></html>');
        printWindow.document.close();
        printWindow.print();
    });
</script>
