@using PagedList;
@using PagedList.Mvc;

@model IPagedList<DeliveryPartner.Models.ViewModel.CityViewModel>

@{
    Layout = "~/Views/Shared/_LayoutPartial.cshtml";
}
@{
    int lServiceLevel = (int)ViewBag.lServiceLevel;
}
@*<style>
        .matchdivheight {
            min-height: 500px !important;
        }
    </style>*@
<div class="widget">
    <div class="widget-header">
        <i class="icon-list-alt"></i>
        <h3> List [ City ]</h3>
    </div>
    @{Dictionary<int, int> lAllCityInThisPage = new Dictionary<int, int>();}
    <div class="widget-content matchdivheight">
        @*<p>@Html.ActionLink("Create", "CreateState", "MyRegion", new { @class = "btn btn-small btn-danger" })</p>*@
        @using (Html.BeginForm("CreateCity", "MyRegion", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <table class="table table-bordered table-hover table-responsive table-striped" id="tableCity">
                <tr>
                    <th style="width:20px;">Sr.No</th>
                    <th>
                        City
                    </th>
                    <td class="text-center" style="width:5px;">
                        @if (lServiceLevel == (int)DeliveryPartner.Common.Constant.DELIVERY_PARTNER_SERVICE_LEVEL.CITY)
                        {
                            <input type="checkbox" class="chkBox" onclick="toggle(this)" />
                        }
                        else
                        {
                            <input type="checkbox" class="chkBox" onclick="toggle(this)" disabled="disabled" />
                        }
                    </td>
                    @*<th style="width:20px;">District</th>*@
                </tr>

                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="6" class="text-center"><h3>Please Select District...</h3></td>
                    </tr>
                }
                else
                {
                    int i = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@{int SrNo = ((ViewBag.PageNumber - 1) * ViewBag.PageSize) + i; i = i + 1; } @SrNo</td>

                            <td>
                                @*@Html.DisplayFor(modelItem => item.Name)*@

                                @{ lAllCityInThisPage.Add((int)item.ID, (int)item.ID); }
                                @if (lServiceLevel == (int)DeliveryPartner.Common.Constant.DELIVERY_PARTNER_SERVICE_LEVEL.CITY)
                                {
                                    @Html.DisplayFor(modelItem => item.Name)
                                }
                                else
                                {
                                    <a href="@Url.Action("Pincode", "MyRegion", new { CityID = item.ID})" target="Pincode">@item.Name</a>
                                }

                            </td>
                            @*<td>
                                    <button class="btn btn-small btn-success" onclick="Details(@item.ID)">View</button>
                                </td>*@
                            <td class="text-center">

                                @if (lServiceLevel == (int)DeliveryPartner.Common.Constant.DELIVERY_PARTNER_SERVICE_LEVEL.CITY)
                                {
                                    <input type="checkbox" class="chkBox" checked="@item.IsSelected" name="chkBox" value=@item.ID>
                                }
                                else
                                {
                                    <input type="checkbox" class="chkBox" name="chkBox" checked="@item.IsSelected" value=@item.ID disabled="disabled">
                                }
                            </td>
                        </tr>
                    }
                }
            </table>

            <div class="pager">
                @Html.PagedListPager(Model, Page => Url.Action("City", new { DistrictID = Request.QueryString["DistrictID"], page = Page, SearchString = ViewBag.SearchString }),
                                                                new PagedListRenderOptions()
                                                                {
                                                                    Display = PagedListDisplayMode.IfNeeded
                                                                })
            </div>
            if (lServiceLevel == (int)DeliveryPartner.Common.Constant.DELIVERY_PARTNER_SERVICE_LEVEL.CITY)
            {
                <div class="control-group">
                    <div style="float:right">
                        <input type="submit" value="Update" class="btn btn-danger btn-small" />
                    </div>
                </div>
                TempData["lAllCityInThisPage"] = lAllCityInThisPage;
            }

        }
    </div>
    <!-- /widget-content -->
</div>

@section myScripts{
    <script>
        function doAction() {
            window.parent.$("[id$=city]").attr("src", '@Url.Action("City", "MyRegion")');
        }


        function toggle(source) {
            checkboxes = document.getElementsByClassName('chkBox');
            for (var i = 0, n = checkboxes.length; i < n; i++) {
                checkboxes[i].checked = source.checked;
            }
        }
        $(".chkBox").change(function () {
            if (this.checked) {
                $(".chkBox").parent("td").parent("tr").addClass("tr_seleted");
            }
            else {
                $(".chkBox").parent("td").parent("tr").removeClass("tr_seleted");
            }
        })
    </script>
}
