@model IEnumerable<ModelLayer.Models.LeadersDesignationQualifierModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LeadersLayout.cshtml";
}



<div class="card-body">
    <table class="table table-hover">
        <thead>
            <tr>

                <th scope="col">
                    ShortName
                </th>
                <th scope="col">
                    Designation
                </th>
                <th scope="col">
                    AtLevel
                </th>
                <th scope="col">
                    DownlineCurrentLevel
                </th>
                <th scope="col">
                    MinimumUser
                </th>
                <th scope="col">
                    MinActiveUser
                </th>
                <th scope="col">
                    TotalUser
                </th>
                <th scope="col">
                    MinDesignation
                </th>
                <th scope="col">
                    DisplayName
                </th>
                <th scope="col">
                    Status
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Short_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Designation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.At_Level)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Downline_Current_Level)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Min_User)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Min_Active_User)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total_User)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Min_Designation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Display_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Update", new { id = item.ID }) |
                        @*@Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>