@model ModelLayer.Models.LeadersDesignationQualifierModel

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_LeadersLayout.cshtml";
}

<h2>Update</h2>
<div class="container">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="card-body card-block">
                <h4>Add Coin Rate</h4>
             
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ID)
                @Html.ValidationSummary(true)

                <div class="form-group">
                    <label for="company" class=" form-control-label">Short Name</label>
                    @*<input type="date" name="startDate" id="txtStartDate" />*@
                    @Html.EditorFor(model => model.Short_Name)
                    @Html.ValidationMessageFor(model => model.Short_Name)

                </div>
            <div class="form-group">
                <label for="company" class=" form-control-label">Designation</label>
                @*<input type="date" name="startDate" id="txtStartDate" />*@
                @Html.EditorFor(model => model.Designation)
                @Html.ValidationMessageFor(model => model.Designation)

            </div>
            <div class="form-group">
                <label for="company" class=" form-control-label">At Level</label>
                @*<input type="date" name="startDate" id="txtStartDate" />*@
               @Html.EditorFor(model => model.At_Level)
                    @Html.ValidationMessageFor(model => model.At_Level)

            </div>
            <div class="form-group">
                <label for="company" class=" form-control-label">Downline Current Level</label>
                @Html.EditorFor(model => model.Downline_Current_Level)
                @Html.ValidationMessageFor(model => model.Downline_Current_Level)

            </div>
            <div class="form-group">
                <label for="company" class=" form-control-label">Min User</label>
                @Html.EditorFor(model => model.Min_User)
                @Html.ValidationMessageFor(model => model.Min_User)

            </div>
            <div class="form-group">
                <label for="company" class=" form-control-label">Min Active User</label>
                @Html.EditorFor(model => model.Min_Active_User)
                @Html.ValidationMessageFor(model => model.Min_Active_User)

            </div>
            <div class="form-group">
                <label for="company" class=" form-control-label">Total User</label>
                @Html.EditorFor(model => model.Total_User)
                @Html.ValidationMessageFor(model => model.Total_User)

            </div>
        

           

            <div class="form-group">
                <label for="company" class=" form-control-label">Min Designation</label>
                
                    @Html.EditorFor(model => model.Min_Designation)
                    @Html.ValidationMessageFor(model => model.Min_Designation)
              
            </div>

            <div class="form-group">
                <label for="company" class=" form-control-label">Display Name</label>
               
                    @Html.EditorFor(model => model.Display_Name)
                    @Html.ValidationMessageFor(model => model.Display_Name)
            
            </div>

            <div class="form-group">
                <label for="company" class=" form-control-label">Status</label>
               
                    @Html.EditorFor(model => model.Status)
                    @Html.ValidationMessageFor(model => model.Status)
               
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
