@model ModelLayer.Models.CoupenList

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="span10">
    <ul class="breadcrumb">
        <li>
            <a href="#">Delete</a>
        </li>
    </ul>
    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header">
                <h2><i class="halflings-icon user"></i><span class="break"></span>Delete Coupen List</h2>
            </div>

            <p class="deleteMsg">Are you sure you want to delete this?</p>
            <div class="box-content">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.City.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.City.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PersonalDetail.FirstName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PersonalDetail.FirstName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PersonalDetail1.FirstName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PersonalDetail1.FirstName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SchemeType.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SchemeType.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CoupenCode)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CoupenCode)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CoupenQty)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CoupenQty)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.UsedQty)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UsedQty)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IsActive)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CreateDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreateDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ModifyDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ModifyDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NetworkIP)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NetworkIP)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DeviceType)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DeviceType)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DeviceID)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DeviceID)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-danger" /> 
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
</div>
</div>
</div>