@model ModelLayer.Models.CoupenList

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="span10">
    <ul class="breadcrumb">
        <li>
            <a href="#">Details</a>
        </li>
    </ul>
    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header">
                <h2><i class="halflings-icon user"></i><span class="break"></span>Details Coupen List</h2>
            </div>
            <div class="box-content">
                <dl class="dl-horizontal">
                    @*<dt>
                    @Html.DisplayNameFor(model => model.City.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.City.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PersonalDetail.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PersonalDetail.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PersonalDetail1.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PersonalDetail1.FirstName)
                </dd>*@

                    <dt>
                        @Html.DisplayNameFor(model => model.SchemeType.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SchemeType.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CoupenCode)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CoupenCode)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CoupenQty)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CoupenQty)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.UsedQty)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UsedQty)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IsActive)
                    </dd>

                    @*<dt>
                    @Html.DisplayNameFor(model => model.CreateDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreateDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ModifyDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ModifyDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NetworkIP)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NetworkIP)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DeviceType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DeviceType)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DeviceID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DeviceID)
                </dd>*@

                </dl>
            </div>
            <div class="form-actions no-color">
                @Html.ActionLink("Details", "Details", new { id = Model.ID }, new { @class = "btn btn-primary" }) 
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
            </div>
      
</div>
</div>
</div>