@model IEnumerable<ModelLayer.Models.CoupenList>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .pagination {
        padding: 0px 40px;
    }
    .dataTables_length {
        margin-left: 0px;
    }
</style>
<div id="content" class="span10">
    <ul class="breadcrumb">
        <li>
            <a href="#">Index</a>
        </li>
    </ul>

    <div class="row-fluid">

        <div class="box span12">
            <div class="box-header">
                <h2><i class="icon-edit"></i><span class="break"></span>@Html.ActionLink("Create New", "Create")</h2>

            </div>
            <div class="box-content">
                <table class="table table-striped table-bordered bootstrap-datatable datatable ">
                    <thead>
                        <tr>
                            <th>
                                City Name @* @Html.DisplayNameFor(model => model.City.Name)*@
                            </th>
                            <th>
                                Franchise @*////added*@
                            </th>
                            @*<th>
                   Name  @Html.DisplayNameFor(model => model.PersonalDetail.FirstName)
                </th>*@
                            @*<th>
                    @Html.DisplayNameFor(model => model.PersonalDetail1.FirstName)
                </th>*@
                            <th>
                                Scheme Name @*@Html.DisplayNameFor(model => model.SchemeType.Name)*@
                            </th>
                            <th>
                                Coupen Code
                            </th>
                            <th>
                                Coupen Qty
                            </th>
                            <th>
                                Used Qty
                            </th>
                            <th>
                               IsActive
                            </th>
                            @*<th>
                    @Html.DisplayNameFor(model => model.CreateDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifyDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NetworkIP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeviceType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeviceID)
                </th>*@
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.City.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Franchise.ContactPerson) @*////added*@
                            </td>

                            @*<td>
                        @Html.DisplayFor(modelItem => item.PersonalDetail.FirstName)
                    </td>*@
                            @*<td>
                        @Html.DisplayFor(modelItem => item.PersonalDetail1.FirstName)
                    </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.SchemeType.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CoupenCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CoupenQty)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UsedQty)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>
                            @*<td>
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifyDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NetworkIP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeviceType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeviceID)
                    </td>*@
                            <td >
                              
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-small btn-success" }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-small btn-primary" }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-small btn-danger" })
                            </td>
                        </tr>
                    }

                </table>
                </div>

            </div>
        </div>
    </div>
