@*//-----------------------------------------------------------------------
        // <copyright file="Delete.cshtml" company="Ezeelo Consumer Services Pvt. Ltd.">
        //     Copyright (c) Ezeelo Consumer Services Pvt. Ltd. All rights reserved.
        //
    </copyright>
        // <author>Snehal Shende</author>
        //-----------------------------------------------------------------------*@
@model ModelLayer.Models.OwnerPlanCategoryCharge

@{
    ViewBag.Title = "Delete";
}

@*<h2>Delete</h2>*@

<div class="span10" id="content">
    <ul class="breadcrumb">
        <li>
            <i class="icon-edit"></i>
            <a href="#">Delete</a>
            @*<i class="icon-angle-right"></i>*@
        </li>
        @*<li><a href="#">Tables</a></li>*@
    </ul>
    <div class="row-fluid sortable ui-sortable">
        <div class="box span6">
            <div class="box-header" data-original-title="">
                <h2><i class="icon-group"></i><span class="break"></span>Franchise Plan Category Charge</h2>

            </div>
            <div class="box-content">
                <div>
                    @*<h4>Owner PlanCategory Charge</h4>*@
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            Category
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Category.Name)
                        </dd>

                        <dt>
                            Charge (In %)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ChargeInPercent)
                        </dd>

                        <dt>
                            Charge (In Rs)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ChargeInRupee)
                        </dd>

                        <dt>
                            Is Active
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.IsActive)
                        </dd>
                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this record ?');" /> |
                            @*@Html.ActionLink("Back to List", "Index", new { ownerId = @ViewBag.ownerId })*@
                            @Html.ActionLink("Back to List", "Index", string.Empty, new { ownerId = @ViewBag.ownerId }, new { @class = "btn" })
                        </div>
                    }
                </div>
                </div>
            </div>
        </div>
    </div>
