@*//-----------------------------------------------------------------------
        // <copyright file="Edit.cshtml" company="Ezeelo Consumer Services Pvt. Ltd.">
        //     Copyright (c) Ezeelo Consumer Services Pvt. Ltd. All rights reserved.
        //
    </copyright>
        // <author>Snehal Shende</author>
        //-----------------------------------------------------------------------*@

@model ModelLayer.Models.OwnerPlanCategoryCharge

@{
    ViewBag.Title = "Edit";
}

@*<h2>Edit</h2>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
     <div class="span10" id="content">
         <ul class="breadcrumb">
             <li>
                 <i class="icon-edit"></i>
                 <a href="#">Edit</a>
                 @*<i class="icon-angle-right"></i>*@
             </li>
             @*<li><a href="#">Tables</a></li>*@
         </ul>
         <div class="row-fluid sortable ui-sortable">
             <div class="box span12">
                 <div class="box-header" data-original-title="">
                     <h2><i class="icon-edit"></i><span class="break"></span>Franchise Plan Category Charge</h2>

                 </div>
                 <div class="box-content">
                     <form class="form-horizontal">
                         @*<h4>OwnerPlanCategoryCharge</h4>*@
                         <hr />
                         @Html.ValidationMessage("CustomError")
                         @Html.ValidationSummary(true)
                         @Html.HiddenFor(model => model.ID)

                         <div class="control-group">
                             @Html.LabelFor(model => model.OwnerPlanID, "Franchise Plan", new { @class = "control-label span2" })
                             <div class="controls">
                                 @Html.DropDownList("OwnerPlanID", "Select Plan")
                                 @Html.ValidationMessageFor(model => model.OwnerPlanID)
                             </div>
                         </div>

                         <div class="control-group">
                             @Html.LabelFor(model => model.CategoryID, "Category", new { @class = "control-label span2" })
                             <div class="controls">
                                 @Html.DropDownList("CategoryID", "Select Category")
                                 @Html.ValidationMessageFor(model => model.CategoryID)
                             </div>
                         </div>

                         <div class="control-group">
                             @Html.LabelFor(model => model.ChargeInPercent, "Charge (In %)", new { @class = "control-label span2" })
                             <div class="controls">
                                 @Html.EditorFor(model => model.ChargeInPercent)
                                 @Html.ValidationMessageFor(model => model.ChargeInPercent)
                             </div>
                         </div>

                         <div class="control-group">
                             @Html.LabelFor(model => model.ChargeInRupee, "Charge (In Rs)", new { @class = "control-label span2" })
                             <div class="controls">
                                 @Html.EditorFor(model => model.ChargeInRupee)
                                 @Html.ValidationMessageFor(model => model.ChargeInRupee)
                             </div>
                         </div>

                         <div class="control-group">
                             @Html.LabelFor(model => model.IsActive, "Is Active", new { @class = "control-label span2" })
                             <div class="controls">
                                 @Html.EditorFor(model => model.IsActive)
                                 @Html.ValidationMessageFor(model => model.IsActive)
                             </div>
                         </div>

                         @*<div class="form-group">
                    @Html.LabelFor(model => model.CreateDate, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CreateDate)
                        @Html.ValidationMessageFor(model => model.CreateDate)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CreateBy, "CreateBy", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("CreateBy", String.Empty)
                        @Html.ValidationMessageFor(model => model.CreateBy)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ModifyDate, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ModifyDate)
                        @Html.ValidationMessageFor(model => model.ModifyDate)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ModifyBy, "ModifyBy", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("ModifyBy", String.Empty)
                        @Html.ValidationMessageFor(model => model.ModifyBy)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NetworkIP, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NetworkIP)
                        @Html.ValidationMessageFor(model => model.NetworkIP)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DeviceType, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DeviceType)
                        @Html.ValidationMessageFor(model => model.DeviceType)
                    </div>
                </div>*@

                         <div class="form-actions">
                             <div class="col-md-offset-2">
                                 <input type="submit" value="Save" class="btn btn-primary" />
                                 @Html.ActionLink("Back to List", "Index", string.Empty,  new {ownerId=@ViewBag.ownerId }, new { @class = "btn" })
                             </div>
                         </div>
                     </form>
                     </div>
                 </div>
             </div>
         </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index", new {ownerId=@ViewBag.ownerId })
</div>*@
