@model ModelLayer.Models.ShopComponentPrice

@{
    ViewBag.Title = "Delete";
}

@*<h2>Delete</h2>*@
<div>@Html.ValidationMessage("Error")</div>
<div id="content" class="span10">
    
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header">
                <h2><i class="icon-trash"></i><span class="break"></span>Delete</h2>
               
            </div>
            <div class="box-content">
                <div>
                  
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Component.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Component.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PerUnitRateInRs)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PerUnitRateInRs)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PerUnitRateInPer)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PerUnitRateInPer)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.IsActive)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete it?');" /> |
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    }
                </div>
            </div>
            </div>
        </div>
    </div>
