
    <div class="control-group">
        @Html.Label("Area", new { @class = "control-label" })
        <div class="controls">
            @Html.DropDownList("Area", "Select")
           @* @Html.TextBox("Area", (int)ViewBag.Area, new { @class = "form-control", @readonly = "readonly" })*@
        </div>
    </div>

    @*<div class="control-group">
        @Html.Label("District", new { @class = "control-label" })
        <div class="controls">
            @Html.TextBox("District", (string)ViewBag.District, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <div class="control-group">
        @Html.Label("State", new { @class = "control-label" })
        <div class="controls">
            @Html.TextBox("State", (string)ViewBag.State, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>*@



