@model ModelLayer.Models.Shop

@{
    ViewBag.Title = "Create";
    Layout = null;
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Shop</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.BusinessDetailID, "BusinessDetailID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BusinessDetailID", String.Empty)
                @Html.ValidationMessageFor(model => model.BusinessDetailID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Website, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Website)
                @Html.ValidationMessageFor(model => model.Website)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Lattitude, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Lattitude)
                @Html.ValidationMessageFor(model => model.Lattitude)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Longitude, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Longitude)
                @Html.ValidationMessageFor(model => model.Longitude)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NearestLandmark, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NearestLandmark)
                @Html.ValidationMessageFor(model => model.NearestLandmark)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PincodeID, "PincodeID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PincodeID", String.Empty)
                @Html.ValidationMessageFor(model => model.PincodeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AreaID, "AreaID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AreaID", String.Empty)
                @Html.ValidationMessageFor(model => model.AreaID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OpeningTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OpeningTime)
                @Html.ValidationMessageFor(model => model.OpeningTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClosingTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClosingTime)
                @Html.ValidationMessageFor(model => model.ClosingTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactPerson, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContactPerson)
                @Html.ValidationMessageFor(model => model.ContactPerson)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mobile, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mobile)
                @Html.ValidationMessageFor(model => model.Mobile)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Landline, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Landline)
                @Html.ValidationMessageFor(model => model.Landline)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FAX, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FAX)
                @Html.ValidationMessageFor(model => model.FAX)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VAT, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VAT)
                @Html.ValidationMessageFor(model => model.VAT)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TIN, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TIN)
                @Html.ValidationMessageFor(model => model.TIN)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PAN, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PAN)
                @Html.ValidationMessageFor(model => model.PAN)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WeeklyOff, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WeeklyOff)
                @Html.ValidationMessageFor(model => model.WeeklyOff)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CurrentItSetup, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CurrentItSetup)
                @Html.ValidationMessageFor(model => model.CurrentItSetup)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InstitutionalMerchantPurchase, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InstitutionalMerchantPurchase)
                @Html.ValidationMessageFor(model => model.InstitutionalMerchantPurchase)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InstitutionalMerchantSale, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InstitutionalMerchantSale)
                @Html.ValidationMessageFor(model => model.InstitutionalMerchantSale)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NormalSale, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NormalSale)
                @Html.ValidationMessageFor(model => model.NormalSale)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsDeliveryOutSource, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsDeliveryOutSource)
                @Html.ValidationMessageFor(model => model.IsDeliveryOutSource)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsFreeHomeDelivery, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsFreeHomeDelivery)
                @Html.ValidationMessageFor(model => model.IsFreeHomeDelivery)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MinimumAmountForFreeDelivery, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MinimumAmountForFreeDelivery)
                @Html.ValidationMessageFor(model => model.MinimumAmountForFreeDelivery)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeliveryPartnerId, "DeliveryPartnerId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DeliveryPartnerId", String.Empty)
                @Html.ValidationMessageFor(model => model.DeliveryPartnerId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FranchiseID, "FranchiseID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FranchiseID", String.Empty)
                @Html.ValidationMessageFor(model => model.FranchiseID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsLive, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsLive)
                @Html.ValidationMessageFor(model => model.IsLive)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsManageInventory, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsManageInventory)
                @Html.ValidationMessageFor(model => model.IsManageInventory)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SearchKeywords, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SearchKeywords)
                @Html.ValidationMessageFor(model => model.SearchKeywords)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsAgreedOnReturnProduct, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsAgreedOnReturnProduct)
                @Html.ValidationMessageFor(model => model.IsAgreedOnReturnProduct)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReturnDurationInDays, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReturnDurationInDays)
                @Html.ValidationMessageFor(model => model.ReturnDurationInDays)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateDate)
                @Html.ValidationMessageFor(model => model.CreateDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateBy, "CreateBy", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CreateBy", String.Empty)
                @Html.ValidationMessageFor(model => model.CreateBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModifyDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModifyDate)
                @Html.ValidationMessageFor(model => model.ModifyDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModifyBy, "ModifyBy", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ModifyBy", String.Empty)
                @Html.ValidationMessageFor(model => model.ModifyBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NetworkIP, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NetworkIP)
                @Html.ValidationMessageFor(model => model.NetworkIP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeviceType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeviceType)
                @Html.ValidationMessageFor(model => model.DeviceType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeviceID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeviceID)
                @Html.ValidationMessageFor(model => model.DeviceID)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
