@model ModelLayer.Models.ViewModel.QuotationListReportViewModelList

@{
    ViewBag.Title = "QuotationList  Report";
    if (Session["Category"] != null)
    {
        if (Session["Category"].ToString() == "IsCategory")
        {
            Layout = "~/Views/Shared/_CategoryLayout.cshtml";
        }
    }
}

@*Script of DataTable  for Pagination*@
@*<script src="~/Scripts/jquery-1.12.4.js"></script>

    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>*@

@*End Of Script of DataTable for Pagination*@


<style>
    .control-group.mrg-left.FilterbyWarehouse .col-sm-6 button#Search {
        margin: 0;
    }

    .control-group.mrg-left.QUOTATIONLISTREPORT {
        width: 100%;
    }

    .box.right_side_down_part {
        display: inline-block;
        width: 100%;
    }
</style>
<link href="~/Content/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap-datetimepicker.css" rel="stylesheet" />
<link href="~/Content/assets/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/assets/css/form-design.css" rel="stylesheet" />

<section class="right_side_main_part">

    <div class="row-fluid">
        @using (Html.BeginForm("GetQuotationListReport", "QuotationListReport", new { enctype = "multipart/form-data" }, FormMethod.Post, new { id = "Form_" }))
        {
            @Html.ValidationSummary(true)

            <div class="box span12 right_side_up_part">
                <div class="box-header creatProduct clearfix">
                    <h2>
                        <i class="icon-list-alt"></i>
                        <span class="break"></span>
                        Quotation List Report
                    </h2>
                </div>
                <div class="box-content nameDscrp">
                    <div class="form-horizontal">
                        <div class="NameDescription">
                            <div class="control-group mrg-left QUOTATIONLISTREPORT">

                                <div class="control-group mrg-left FilterbyWarehouse">
                                    <div class="col-sm-3">
                                        Filter by Warehouse
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.DropDownListFor(model => model.WarehouseID, ((IEnumerable<ModelLayer.Models.Warehouse>)ViewBag.PossibleWarehouses).Select(option => new SelectListItem
                                   {
                                       Text = (option == null ? "None" : option.Name),
                                       Value = option.ID.ToString(),
                                       Selected = (Model != null) && (option.ID == Model.WarehouseID)
                                   }), "--All Warehouses--")

                                        <button id="Search" type="button" class="btnRemove btn btn-warning btn-small">Search</button>

                                    </div>
                                </div>




                                <div class="control-group mrg-left">
                                    <div class="col-sm-3">
                                        From Date
                                    </div>
                                    <div class="col-sm-6">
                                        @*@Html.TextBox("FromDate", null, new { @readonly = "readonly", @class = "search", placeholder = "From" })*@
                                        @Html.TextBoxFor(model => model.FromDate, "{0:dd/MM/yyyy}", new { @readonly = "readonly", @required = "required" })
                                        @Html.HiddenFor(model => model.FromDate)
                                    </div>
                                </div>
                                <div class="control-group mrg-left">
                                    <div class="col-sm-3">
                                        To Date
                                    </div>
                                    <div class="col-sm-6">
                                        @*@Html.TextBox("ToDate", null, new { @readonly = "readonly", @class = "search", placeholder = "To" })*@
                                        @Html.TextBoxFor(model => model.ToDate, "{0:MM/dd/yyyy}", new { @readonly = "readonly", @required = "required" })
                                        @Html.HiddenFor(model => model.ToDate)
                                    </div>
                                </div>

                                <div class="control-group mrg-left">
                                    <div class="col-sm-3">
                                        Export In
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.DropDownList("ExportOption", new List<SelectListItem>
                                 {
                                         new SelectListItem{ Text="Excel", Value = "1" },
                                         new SelectListItem{ Text="Csv", Value = "2" },
                                         new SelectListItem{ Text="Pdf", Value = "3" }
                                })
                                    </div>
                                </div>
                                @*<div class="clr"></div>*@
                                <button value="Search" type="submit" class="btnRemove btn btn-warning">Search</button>
                                @*<button id="btnPrint" class="btnPrint btn btn-success">Print</button>*@
                                @*<a id="Print" class="print btn btn-default" href="@Url.Action("GetQuotationListReport", "QuotationListReport")" target="_blank">Print</a>*@
                            </div>
                        </div>
                    </div>
                </div>


                <iframe id="txtArea1" style="display:none"></iframe>

                <button id="btnExport" onclick="fnExcelReport();" class="btnPrint btn btn-success btn-small">EXPORT TO EXCEL</button>
                <div class="box right_side_down_part">
                    <div class="box-content">
                        <div class="NameDescription">
                            <div id="divToPrint">
                                <table id="headerTable" class=" table table-bordered table-striped table-condensed" border="1" cellpadding="2" cellspacing="0">
                                    <thead>
                                        <tr><td class="TD_Heading" style="text-align:center" colspan="12"><h2>Quotation List Report </h2></td></tr>
                                        <tr>
                                            <th>Sr.No.</th>


                                            <th>SKU ID</th>
                                            @*<td style="min-width: 120px; max-width: 120px;text-align:left">
                                                    @(item.SupplierName == null ? "None" : item.SupplierName)
                                                </td>*@

                                            <th>SKU Name</th>
                                            <th>SKU Unit</th>
                                            <th>HSN Code</th>
                                            <th>Quotation Code</th>
                                            <th>Supplier</th>
                                            <th>Category 1</th>
                                            <th>Category 2</th>
                                            <th>Category 3</th>
                                            <th>Quantity Required</th>
                                            <th>Quotation Request Date</th>
                                            <th>Expected Reply Date</th>


                                            <th style="text-align:center">STATUS</th>
                                            @*<td style="text-align:right"> @item.SupplierName</td>*@
                                            <th style="text-align:right">Remark</th>


                                            <th style="text-align:right">Create Date  </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var i = 1;
                                        }
                                        @*@foreach (var item in Model)*@

                                        @foreach (var item in Model.lQuotationListReportViewModel)
                                        {
                                            <tr>
                                                <td>
                                                    @i
                                                    @{
                                                        i = i + 1;
                                                    }
                                                </td>
                                                @*<td style="min-width: 100px; max-width: 100px; word-break: break-all;">*@
                                                @*@(item.PurchaseOrderCode == null ? "" : item.PurchaseOrderCode)*@
                                                @*<a id="Print" style="color: #3C73DC; font-weight: bold; " href="@Url.Action("PrintOrder", "PurchaseOrders", new { id = @item.PurchaseOrderID })" target="_blank">@(item == null ? "" : item.PurchaseOrderCode)</a>
                                                    </td>*@

                                                @*<td style="min-width: 120px; max-width: 120px;text-align:left">
                                                        @(item.SupplierName == null ? "None" : item.SupplierName)
                                                    </td>*@


                                                <td>@item.SKUID</td>
                                                <td>@item.SKUName</td>
                                                <td>@item.SKUUnit</td>
                                                <td>@item.HSNCode</td>
                                                <td>@item.QuotationCode</td>
                                                <td>@item.SupplierName</td>
                                                <td>@item.Category1</td>
                                                <td>@item.Category2</td>
                                                <td>@item.Category3</td>
                                                <td>@item.QuantityRequired</td>
                                                <td>@item.QuotationRequestDate</td>
                                                <td>@item.ExpectedReplyDate</td>


                                                @if (@item.IsReplied == true)
                                                {
                                                    <td>
                                                        <span style="color:green;font-weight:bold">Replied</span>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        <span style="color:red;">Pending</span>
                                                    </td>
                                                }

                                                <td style="text-align:right">@item.Remark</td>


                                                <td style="text-align:right">@item.CreateDate  </td>
                                            </tr>



                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<script type="text/javascript">

    $(document).ready(function () {
        $('#ToDate').datepicker({ dateFormat: 'mm/dd/yy', maxDate: 'now' });
        $('#FromDate').datepicker({ dateFormat: 'mm/dd/yy' });

        $('#Search').click();

    });
</script>



<script type="text/javascript">
    function fnExcelReport() {
        var tab_text = '<table border="1px" style="font-size:20px" ">';
        var textRange;
        var j = 0;
        var tab = document.getElementById('headerTable'); // id of table
        var lines = tab.rows.length;

        // the first headline of the table
        if (lines > 0) {
            tab_text = tab_text + '<tr bgcolor="#DFDFDF">' + tab.rows[0].innerHTML + '</tr>';
        }

        // table data lines, loop starting from 1
        for (j = 1; j < lines; j++) {
            tab_text = tab_text + "<tr>" + tab.rows[j].innerHTML + "</tr>";
        }

        var fileName = 'Test file.xls';
        var blob = new Blob([tab_text], {
            type: "application/xls;charset=utf-8;"
        });

        if (window.navigator.msSaveBlob) {
            // FOR IE BROWSER
            navigator.msSaveBlob(blob, fileName);
        } else {
            // FOR OTHER BROWSERS
            var csvUrl = URL.createObjectURL(blob);



            //new added by Priti
            let a = $("<a />", {
                //href: 'data:application/vnd.ms-excel,' + encodeURIComponent(blob),
                href: csvUrl,
                download: "QuotationReport.xls"
            })
                .appendTo("body")
                .get(0)
                .click();
            //$('#exportbutton').attr({
            //    'download': fileName,
            //    'href': csvUrl
            //});
        }

    }
</script>


@*Add for Pagination*@
@*<script type="text/javascript">
        $(document).ready(function () {
            $('#headerTable').DataTable();


        });
    </script>*@
@*End Of Pagination*@

@*<script type="text/javascript">
        $(function () {
            $("#Search").click(function () {
                var WarehouseID = $("select#WarehouseID option:selected").val();
                //window.location = "/WastageReport/WastageReportNotePrint?WarehouseID=" + WarehouseID;
                window.location = "/OutOfStockReport/GetOutOfStockReport?WarehouseID=" + WarehouseID;
            });
        });

    </script>*@
