@model IEnumerable<ModelLayer.Models.ViewModel.OrderTransactionReportViewModel>

@{
    ViewBag.Title = "GetReport";
    Layout = null;
}
<script src="~/Content/js/jquery-2.1.3.min.js"></script>
<link href="~/Content/css/jquery.dataTables.css" rel="stylesheet" />
<script src="~/Content/js/jquery.dataTables.js" language="jascript"></script>
<link href="~/Content/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap-datetimepicker.css" rel="stylesheet" />
<link href="~/Content/assets/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/assets/css/form-design.css" rel="stylesheet" />
<link href="~/Content/css/Site.css" rel="stylesheet" />
<script src="~/Content/js/bootstrap.js"></script>
<script src="~/Content/js/jquery-1.9.1.min.js"></script>
<script src="~/Content/js/jquery.dataTables.min.js"></script>
<script src="~/Content/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#myTable").DataTable({
            "bDestroy": true,
            //"sPaginationType": "full_numbers",
            "bJQueryUI": true,
            "bInfo": false,
            "scrollY": 700,
            "scrollCollapse": true,
            "bPaginate": false,
            "iDisplayLength": 20,
            "bAutoWidth": false,
        });
    });
</script>
<style>
    .btn_Print {
        margin-bottom: 7px;
        margin-top: 7px;
        margin-left: 5px;
    }

    .section {
        position: relative;
        border: 1px solid #000;
        padding-top: 33px;
        margin-left: 5px;
        /* background: #500; */
        background: #A4A5A7;
        margin-top: 39px;
    }

    #myTable_wrapper {
        min-height: 61px;
        margin-top: 2px;
        max-height: 516px;
    }

    .fg-toolbar {
        margin-top: -89px;
    }

    #myTable_filter {
        position: absolute;
        margin-top: 13px !important;
    }

    .container_tbl {
        height: 496px;
    }

    table {
        border-spacing: 0;
        width: 100%;
    }

    td + td {
        border-left: 1px solid #eee;
    }

    td, th {
        border-bottom: 1px solid #eee;
        color: #000;
        padding: 10px 25px;
    }

    #myTable thead tr th {
        height: 0;
        line-height: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        color: transparent;
        border: none;
        white-space: nowrap;
    }

    th div {
        position: absolute;
        background: transparent;
        color: #fff;
        padding: 9px 10px;
        top: 0;
        margin-left: -8px;
        line-height: normal;
        /*border-left: 1px solid #800;*/ border-left: 1px solid #DDD;
    }

    th:first-child div {
        border: none;
    }

    .wrap {
        margin-top: 105px;
    }

    td:nth-child(1) {
        max-width: 100px;
        word-wrap: break-word;
    }

    td:nth-child(2) {
        max-width: 67px;
        word-wrap: break-word;
    }

    td:nth-child(3) {
        max-width: 100px;
        word-wrap: break-word;
    }

    td:nth-child(4) {
        max-width: 47px;
        word-wrap: break-word;
    }

    td:nth-child(5) {
        max-width: 107px;
        word-wrap: break-word;
    }

    td:nth-child(6) {
        max-width: 74px;
        word-wrap: break-word;
    }

    td:nth-child(7) {
        max-width: 47px;
        word-wrap: break-word;
    }

    td:nth-child(8) {
        max-width: 61px;
        word-wrap: break-word;
    }

    td:nth-child(9) {
        max-width: 32px;
        word-wrap: break-word;
    }

    td:nth-child(10) {
        max-width: 46px;
        word-wrap: break-word;
    }
</style>
<div class="section">
    <div class="table container_tbl">
        <table class="table scroll" id="myTable">
            <thead>
                <tr>
                    <th>
                        Order Code
                    </th>
                    <th>
                        Shop Name
                    </th>
                    <th>
                        Order Amt
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Primary Mobile
                    </th>

                    <th>
                        Pincode
                    </th>
                    <th>
                        Shipping Add
                    </th>
                    <th>
                        City
                    </th>
                    <th> Franchise</th>

                    <th>
                        Order Placed Dt
                    </th>

                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShopName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.RegEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegMobile)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Pincode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShippingAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShopFranchiseName)
                    </td>

                    <td width="9%">
                        @{string lDate = "";}
                        @if (item.CreateDate != null)
                        {
                            lDate = item.CreateDate.ToString("dd/MM/yyyy");
                        }
                        @lDate
                    </td>


                </tr>
            }

        </table>
    </div>
</div>
<div id="Pager" style="margin-top:-65px;">
    <div class="wrap">
        <div id="slider1" class="slider">
            <ul>
                @for (int c = 1; c <= @ViewBag.TotalPages; c++)
                {
                    <li><a class="page-number" href="javascript:void();">@c</a></li>

                }

            </ul>

        </div>

        <div class="controls" style="margin-top:-27px;">
            <a href="#noname" class="prev-slide"><<</a>
            <a href="#noname" class="next-slide" style="float: right; margin-right: 299px;">>></a>
        </div>
    </div>
    <span class="totalcount"><b>Showing @ViewBag.PageSize of @ViewBag.TotalCount enteries</b></span>
</div>

<div class="loader">
    <img id="loader_img" src="~/Content/img/loader.gif" style="display: none" />
</div>
<script>
    $(document).ready(function () {
        $('#txtFromDate').datepicker({ dateFormat: 'mm/dd/yy', maxDate: 'now' });
        $('#txtToDate').datepicker({ dateFormat: 'mm/dd/yy' });
        $("#Pager .page-number").click(function (e) {
            //alert($(this).html());
            $('#loader_img').show();
            //alert($(this).html());
            var pagecount = 0;
            var page = parseInt($(this).html());
            if (page > 1) {
                pagecount = 1;
            }
            var fromDate = "@ViewBag.fromDate";
            var toDate = "@ViewBag.toDate";
            var merchantID = "@ViewBag.merchantID";
            var shopID = 0;
            //if ($("#shopID option:selected").val() > 0) {
            //    shopID = $("#shopID option:selected").val();
            //}
            //alert(shopID);
            var shopID = "@ViewBag.shopID";
            @*var shopID = "@ViewBag.CityID";
            var CityID=*@
            //alert(shopID).value;
            alert(shopID);
            $.ajax({
                url: '@Url.Action("GetReport", "OrderTransactionReport")',
                data: { 'page': page, 'pagecount': pagecount, 'fromDate': fromDate, 'toDate': toDate, 'shopID': shopID },
                type: "POST",
                cache: false,
                success: function (data) {
                    //alert(data);
                    $('#loader_img').hide();
                    $('#divReport').empty();
                    $('#divReport').append(data);

                },
                error: function (data) {

                }
            });
        });
    });

</script>
<script src="~/Content/js/lemmon-slider.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //alert('OK');
        // slider 1
        $('#slider1').lemmonSlider({
            infinite: false
        });

    });

</script>