@model ModelLayer.Models.PreviewFeature

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span10" id="content">
    <ul class="breadcrumb">
        <li>
            <a href="">Preview Feature/Details</a>
        </li>
    </ul>
    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header">
                <h2><i class="icon-edit"></i><span class="break"></span>Preview Feature delete</h2>
            </div>
            <div class="box-content">
                <span style="color:red"> @ViewBag.Messaage</span>
                <h3>Are you sure you want to delete this?</h3>
              
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.PreviewFeatureName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PreviewFeatureName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.IsActive)
                        </dd>

                        @*<dt>
                                @Html.DisplayNameFor(model => model.CreateDate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CreateDate)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CreateBy)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CreateBy)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ModifyDate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ModifyDate)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ModifyBy)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ModifyBy)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.NetworkIP)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.NetworkIP)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DeviceType)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DeviceType)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DeviceID)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DeviceID)
                            </dd>*@

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-danger" /> |
                            @Html.ActionLink("Back to List", "Index", null, new { @class="btn"})
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
