@model ModelLayer.Models.PreviewFeature

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span10" id="content">
    <ul class="breadcrumb">
        <li>
            <a href="">Preview Feature/Edit</a>
        </li>
    </ul>
    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header">
                <h2><i class="icon-edit"></i><span class="break"></span>Preview Feature</h2>
            </div>
            <div class="box-content">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.ID)
                       <div class="control-group">
                            @Html.LabelFor(model => model.PreviewFeatureName, new { @class = "control-label" })
                            <div class="controls">
                                @*@Html.EditorFor(model => model.PreviewFeatureName)*@
                                @Html.TextBoxFor(model => model.PreviewFeatureName, new { readOnly = "readOnly" })
                                @Html.ValidationMessageFor(model => model.PreviewFeatureName)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.LabelFor(model => model.IsActive, new { @class = "control-label" })
                            <div class="controls">
                                @Html.EditorFor(model => model.IsActive)
                                @Html.ValidationMessageFor(model => model.IsActive)
                            </div>
                        </div>

                        @*<div class="control-group">
        @Html.LabelFor(model => model.CreateDate, new { @class = "control-label" })
        <div class="controls">
            @Html.EditorFor(model => model.CreateDate)
            @Html.ValidationMessageFor(model => model.CreateDate)
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(model => model.CreateBy, new { @class = "control-label" })
        <div class="controls">
            @Html.EditorFor(model => model.CreateBy)
            @Html.ValidationMessageFor(model => model.CreateBy)
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(model => model.ModifyDate, new { @class = "control-label" })
        <div class="controls">
            @Html.EditorFor(model => model.ModifyDate)
            @Html.ValidationMessageFor(model => model.ModifyDate)
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(model => model.ModifyBy, new { @class = "control-label" })
        <div class="controls">
            @Html.EditorFor(model => model.ModifyBy)
            @Html.ValidationMessageFor(model => model.ModifyBy)
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(model => model.NetworkIP, new { @class = "control-label" })
        <div class="controls">
            @Html.EditorFor(model => model.NetworkIP)
            @Html.ValidationMessageFor(model => model.NetworkIP)
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(model => model.DeviceType, new { @class = "control-label" })
        <div class="controls">
            @Html.EditorFor(model => model.DeviceType)
            @Html.ValidationMessageFor(model => model.DeviceType)
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(model => model.DeviceID, new { @class = "control-label" })
        <div class="controls">
            @Html.EditorFor(model => model.DeviceID)
            @Html.ValidationMessageFor(model => model.DeviceID)
        </div>
    </div>*@

                        <div class="control-group">
                            <div class="col-md-offset-2 controls">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }

                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
</div>
</div>
</div>
</div>