<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title - DeliveryPartner.eZeelo</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="icon" href="~/LandingPage/img/favicon.png">

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/datepicker.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    @*<link href="~/Content/css/pages/faq.css" rel="stylesheet" />*@
    <link href="~/Content/css/pages/dashboard.css" rel="stylesheet" />
    @*<link href="~/Content/css/pages/plans.css" rel="stylesheet">*@
    <link href="~/Content/css/pages/reports.css" rel="stylesheet" />
    @*<link href="~/Content/css/pages/signin.css" rel="stylesheet" />*@
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>

    <div class="navbar navbar-fixed-top">

        <div class="navbar-inner">

            <div class="container">

                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <a class="brand" href="@Url.Action("Index", "Dashboard")">
                    <img src="~/Content/Images/logo.png" style="width:100px; height:71px; margin-bottom:-18px; margin-top:-18px;" />DeliveryPartner
                </a>

            </div> <!-- /container -->

        </div> <!-- /navbar-inner -->

    </div> <!-- /navbar -->


    <div class="main">
        <div class="main-inner">
            <div class="container" style="min-height: 480px;">
                @RenderBody()
            </div> <!-- /container -->
        </div> <!-- /main-inner -->
    </div> <!-- /main -->

    <div class="footer">

        <div class="footer-inner">

            <div class="container">

                <div class="row">

                    <div class="span12">
                        &copy; @DateTime.Now.Year <a href="@System.Configuration.ConfigurationManager.AppSettings["EZEELO_CUSTOMER_URL"]" target="_blank">eZeelo</a>.
                    </div> <!-- /span12 -->

                </div> <!-- /row -->

            </div> <!-- /container -->

        </div> <!-- /footer-inner -->

    </div> <!-- /footer -->

    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/js/jquery-1.7.2.min.js"></script>
    <script src="~/Scripts/js/excanvas.min.js"></script>
    <script src="~/Scripts/js/chart.min.js"></script>
    <script src="~/Scripts/js/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/js/base.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        $('input[type=text]').each(function () {
            var req = $(this).attr('data-val-required');
            if (undefined != req) {
                //alert($(this).closest(".controls").parent().find('.control-label').text());
                //var label = $('label[for="' + $(this).attr('id') + '"]');
                var label = $(this).closest(".controls").parent().find('.control-label');
                //var label = req.closest().find('.control-label');// $('.control-label');
                var text = label.text();
                //alert(text);
                if (text.length > 0) {
                    label.append('<span style="color:red"> *</span>');
                }
            }
        });

        $("#btn_clear").click(function () {
            //$('#FromDate').val('');
            //$('#ToDate').val('');
            //$('.search').val('');
            $('form input').val("");
            $('form select').val("");
        })
    </script>
    @RenderSection("Scripts", required: false)
    @RenderSection("MyScripts", required: false)
</body>

</html>
