@model ModelLayer.Models.Manufacture

@{
    ViewBag.Title = "Details";
}


<div class="span10" id="content">
    <ul class="breadcrumb">
        <li>
            <a href="#">Manufacture/Details</a>
        </li>
    </ul>
    <div class="row-fluid">
        <div class="box span6">
            <div class="box-header">
                <h2><i class="icon-edit"></i><span class="break"></span> Details</h2>

            </div>
            <div class="box-content">
                <div class="form-horizontal">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.IsActive)
                        </dd>

                    </dl>
                </div>
                <p>
                    <div class="form-actions" style="padding-left:180px;">
                        <div class="col-md-offset-2 col-md-10">

                            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Back to List", "Index", string.Empty, new { @class = "btn" })

                            @*<button type="submit" value="Create" class="btn ">@Html.ActionLink("Back to List", "Index")</button>*@

                        </div>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>