@model ModelLayer.Models.LeadersPayoutMaster

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LeadersLayout.cshtml";
}
<div class="container">
    <br />
    <br />
    <h2>Add</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <legend>Leaders Payout Master</legend>
            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.Min_Resereved, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Min_Resereved)
                    @Html.ValidationMessageFor(model => model.Min_Resereved)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.GST, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.GST)
                    @Html.ValidationMessageFor(model => model.GST)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TDS, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.TDS)
                    @Html.ValidationMessageFor(model => model.TDS)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Processing_Fees, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Processing_Fees)
                    @Html.ValidationMessageFor(model => model.Processing_Fees)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Penalty, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Penalty)
                    @Html.ValidationMessageFor(model => model.Penalty)
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-2">
                    <input type="submit" value="Add" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>