@model ModelLayer.Models.Unit

@{
    ViewBag.Title = "Delete";
}
<div class="span10" id="content">
    <ul class="breadcrumb">
        <li>
            <a href="">Delete</a>
        </li>
    </ul>
    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header">
                <h2>Delete Unit</h2>
            </div>
            <div class="box-content">
                 <dl class="dl-horizontal">
                       <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.IsActive)
                        </dd>

                   </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-default" /> 
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

