@{
    string cityName = "nagpur";
    if (Request.Cookies["CityCookie"] != null && Request.Cookies["CityCookie"].Value != "")
    {
        cityName = Request.Cookies["CityCookie"].Value.Split('$')[1].ToLower();
    }
}
<script type="text/javascript">
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<link href="~/Content/css/custom_slide.css" rel="stylesheet" />
@*<link href="~/Content/css/screen.css" rel="stylesheet" />*@
<div style="width:100%; margin:0 auto;">
    <!-- SVG Arrows -->
    <div class="svg-wrap">
        <svg width="64" height="64" viewBox="0 0 64 64">
            <path id="arrow-left" d="M46.077 55.738c0.858 0.867 0.858 2.266 0 3.133s-2.243 0.867-3.101 0l-25.056-25.302c-0.858-0.867-0.858-2.269 0-3.133l25.056-25.306c0.858-0.867 2.243-0.867 3.101 0s0.858 2.266 0 3.133l-22.848 23.738 22.848 23.738z" />
        </svg>
        <svg width="64" height="64" viewBox="0 0 64 64">
            <path id="arrow-right" d="M17.919 55.738c-0.858 0.867-0.858 2.266 0 3.133s2.243 0.867 3.101 0l25.056-25.302c0.858-0.867 0.858-2.269 0-3.133l-25.056-25.306c-0.858-0.867-2.243-0.867-3.101 0s-0.858 2.266 0 3.133l22.848 23.738-22.848 23.738z" />
        </svg>
    </div>

    <div class="sleekslider">
        <!-- Slider Pages -->
        <div class="slide active bg-1" id="#tab1">
            <div class=" slide-container">
                <div class="slide-content" style="padding-top:25px;">
                    <h1>28% OFF</h1>
                    <span class="name">Jivana Classic Sugar</span><br>
                    <span class="mrprate">MRP Rs.50/-</span>
                    <span class="salerate">Sale Rate Rs.36/-</span><br>
                    <span class="button">
                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 46336, itemName = "Jivana Classic Sugar".ToLower().Replace(' ', '-'), city = cityName })">
                            Buy Now
                        </a>
                    </span>
                </div>

            </div>
        </div>
        <div class="slide bg-2" id="#tab2">
            <div class=" slide-container">

                <div class="slide-content" style="padding-top:25px;">
                    <h1>53% OFF</h1>
                    <span class="name">Self Stirring Stainless Steel Mug</span><br>
                    <span class="mrprate">MRP Rs.599/-</span>
                    <span class="salerate">Sale Rate Rs.280/-</span><br>
                    <span class="button"><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 45990, itemName = "Self Stirring Stainless Steel".ToLower().Replace(' ', '-'), city = cityName })">Buy Now</a></span>
                </div>
            </div>
        </div>
        <div class="slide bg-3" id="#tab3">
            <div class=" slide-container">

                <div class="slide-content" style="padding-top:25px;">
                    <h1>27% OFF</h1>
                    <span class="name">Yera Cosmos Glass Cup - Set of Six</span><br>
                    <span class="mrprate">MRP Rs.180/-</span>
                    <span class="salerate">Sale Rate Rs.130/-</span><br>
                    <span class="button"><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 45993, itemName = "Yera Cosmos Glass Cup - Set of Six".ToLower().Replace(' ', '-'), city = cityName })">Buy Now</a></span>
                </div>
            </div>
        </div>
        <div class="slide bg-4" id="#tab4">
            <div class=" slide-container">
                <div class="slide-content" style="padding-top:25px;">
                    <h1>15% OFF</h1>
                    <span class="name">Dressed Chicken With Skin</span><br>
                    <span class="mrprate">MRP Rs.90/-</span>
                    <span class="salerate">Sale Rate Rs.76/-</span><br>
                    <span class="button"><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 40214, itemName = "Dressed Chicken With Skin".ToLower().Replace(' ', '-'), city = cityName })">Buy Now</a></span>
                </div>
            </div>
        </div>

        <!-- Navigation Arrows with Thumbnails -->
        <nav class="nav-split">
            <a class="prev" href="">
                <span class="icon-wrap"><svg class="icon" width="22" height="22" viewBox="0 0 64 64"><use xlink:href="#arrow-left" /></svg></span>
                <div>
                    <h3>test</h3>
                    <img alt="Previous thumb" />
                </div>
            </a>
            <a class="next" href="">
                <span class="icon-wrap"><svg class="icon" width="22" height="22" viewBox="0 0 64 64"><use xlink:href="#arrow-right" /></svg></span>
                <div>
                    <h3>test</h3>
                    <img alt="Next thumb" />
                </div>
            </a>
        </nav>

        <!-- Pagination -->
        <nav class="pagination">
            <span class="current"></span>
            <span></span>
            <span></span>
            <span></span>

        </nav>

        <!-- Navigation Tabs -->
        <nav class="tabs">
            <div class="tab-container">
                <ul>
                    <li class="current"><a><span>Save </span> Rs.14/-</a></li>
                    <li><a href="#"><span>Save </span> Rs.319/-</a></li>
                    <li><a href="#"><span>Save </span> Rs.50/-</a></li>
                    <li><a href="#"><span>Save </span> Rs.14/-</a></li>

                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- JavaScripts -->
<script src="~/Scripts/jquery-2.1.3.min.js"></script>
<script src="~/Scripts/sleekslider.min.js"></script>
<script src="~/Scripts/app.js"></script>




