@{
    ViewBag.Title = "Electronics | Gandhibagh.com";
    string cityName = "";
    if (Request.Cookies["CityCookie"] != null && Request.Cookies["CityCookie"].Value != "")
    {
        cityName = Request.Cookies["CityCookie"].Value.Split('$')[1].ToLower();
    }
}
<link href="~/Content/Home-content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
<style>
    .margin-setTop {
        margin-top: -33px;
    }

    .heart {
        display: none !important;
    }
</style>
<script type="text/javascript">
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<script src="~/Content/update(5-10)/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var newClone1 = $("#cpy1").html();
        var newClone2 = $("#cpy2").html();
        var newClone3 = $("#cpy3").html();
        var newClone4 = $("#cpy4").html();
        var newClone5 = $("#cpy5").html();
        var newClone5 = $("#cpy6").html();
        var newClone5 = $("#cpy7").html();
        var newClone5 = $("#cpy8").html();
        if ($(window).width() < 750) {
            // alert("1");
            $(newClone1).clone().appendTo("#pst1");
            $(newClone2).clone().appendTo("#pst2");
            $(newClone3).clone().appendTo("#pst3");
            $(newClone4).clone().appendTo("#pst4");
            $(newClone5).clone().appendTo("#pst5");
            $(newClone5).clone().appendTo("#pst6");
            $(newClone5).clone().appendTo("#pst7");
            $(newClone5).clone().appendTo("#pst8");
        } else {
            $("#pst1").empty();
            $("#pst2").empty();
            $("#pst3").empty();
            $("#pst4").empty();
            $("#pst5").empty();
            $("#pst6").empty();
            $("#pst7").empty();
            $("#pst8").empty();
        }
    });

    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<script src="~/Scripts/Products.js"></script>
<div class="container margin-setTop">
         <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@Audio & Video</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst4"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy4">
                        <li>@*<a href="~/Product/Products?item=Speakers&parentCategoryId=583">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "speakers", parentCategoryId = 583, city = cityName })">Speakers</a></li>
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">

                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=42114" title="Intex IT-2580 SUF Speaker">Intex IT-2580 SUF Speaker</a></h5>*@
                                                <h5 class="product-name"><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42114, itemName = "Intex IT-2580 SUF Speaker".ToLower().Replace(' ', '-'), city = cityName })" title="Intex IT-2580 SUF Speaker">Intex IT-2580 SUF Speaker</a></h5>
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=42114">*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42114, itemName = "Intex IT-2580 SUF Speaker".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/varanasi_images/sub_cat/speaker1.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    @*<a title="Quick view" class="search" href="~/PreviewItem?itemId=42114"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 42114, itemName = "Intex IT-2580 SUF Speaker".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(49200, 42114)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(49200, 42114)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=41835" title="Intex IT-2000 SBJ Multimedia Speaker">Intex IT-2000 SBJ Multimedia Speaker </a></h5>*@
                                                <h5 class="product-name"><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41835, itemName = "Intex IT-2000 SBJ Multimedia Speaker".ToLower().Replace(' ', '-'), city = cityName })" title="Intex IT-2000 SBJ Multimedia Speaker">Intex IT-2000 SBJ Multimedia Speaker </a></h5>
                                               
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=41835">*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41835, itemName = "Intex IT-2000 SBJ Multimedia Speaker".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/varanasi_images/sub_cat/speaker2.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    @*<a title="Quick view" class="search" href="~/PreviewItem?itemId=41835"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 41835, itemName = "Intex IT-2000 SBJ Multimedia Speaker".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48850, 41835)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(48850, 41835)">Add to Cart</a>
                                                </div>
                                            </div>

                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=41833" title="Intex IT-1800 SUF 2.1 multimedia Speakers ">Intex IT-1800 SUF 2.1 multimedia Speakers </a></h5>*@
                                                <h5 class="product-name"><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41833, itemName = "Intex IT-1800 SUF 2.1 multimedia".ToLower().Replace(' ', '-'), city = cityName })" title="Intex IT-1800 SUF 2.1 multimedia Speakers ">Intex IT-1800 SUF 2.1 multimedia Speakers </a></h5>
                                               
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=41833">*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41833, itemName = "Intex IT-1800 SUF 2.1 multimedia".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/varanasi_images/sub_cat/speaker3.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    @*<a title="Quick view" class="search" href="~/PreviewItem?itemId=41833"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 41833, itemName = "Intex IT-1800 SUF 2.1 multimedia".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48848, 41833)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(48848, 41833)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@Computers & Peripherals</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst4"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy4">
                        <li>@*<a href="~/Product/Products?parentCategoryId=558">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "computer-accessories", parentCategoryId = 558, city = cityName })">Computer Accessories</a></li>
                        <li>@*<a href="~/Product/Products?parentCategoryId=575">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "headphones-and-speakers", parentCategoryId = 575, city = cityName })">Headphones & Speakers</a></li>
                        <li>@*<a href="~/Product/Products?parentCategoryId=567">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "pen-drive", parentCategoryId = 567, city = cityName })">Pen Drive</a></li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=567">*@
                        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "data-cards", parentCategoryId = 580, city = cityName })">Data Cards</a>
                    </li>
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">

                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=43849" title="Quantum QHM5530 Memory Card Reader">Quantum QHM5530 Memory Card Reader</a></h5>*@
                                                <h5 class="product-name"><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43849, itemName = "Quantum QHM5530 Memory Card".ToLower().Replace(' ', '-'), city = cityName })" title="Quantum QHM5530 Memory Card Reader">Quantum QHM5530 Memory Card Reader</a></h5>
                                              
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=43849">*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43849, itemName = "Quantum QHM5530 Memory Card".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/varanasi_images/sub_cat/V_43849.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    @*<a title="Quick view" class="search" href="~/PreviewItem?itemId=43849"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 43849, itemName = "Quantum QHM5530 Memory Card".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(58453, 43849)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(58453, 43849)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=43850" title="Quantum QHM5088 All In One Memory Card Reade">Quantum QHM5088 All In One Memory Card Reade</a></h5>*@
                                                <h5 class="product-name"><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43850, itemName = "Quantum QHM5088 All In One Memory".ToLower().Replace(' ', '-'), city = cityName })" title="Quantum QHM5088 All In One Memory Card Reade">Quantum QHM5088 All In One Memory Card Reade</a></h5>
                                                
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=43850">*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43850, itemName = "Quantum QHM5088 All In One Memory".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/varanasi_images/sub_cat/V_43850.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    @*<a title="Quick view" class="search" href="~/PreviewItem?itemId=43850"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 43850, itemName = "Quantum QHM5088 All In One Memory".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(58454, 43850)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(58454, 43850)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=43232" title="HP V210W Pen Drive">HP V210W Pen Drive</a></h5>*@
                                                <h5 class="product-name"><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43232, itemName = "HP V210W Pen Drive".ToLower().Replace(' ', '-'), city = cityName })" title="HP V210W Pen Drive">HP V210W Pen Drive</a></h5>
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=43232">*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43232, itemName = "HP V210W Pen Drive".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/varanasi_images/sub_cat/V_43232.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    @*<a title="Quick view" class="search" href="~/PreviewItem?itemId=43232"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 43232, itemName = "HP V210W Pen Drive".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(57701, 43232)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(57701, 43232)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@Mobile & Tablets</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst4"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy4">
                        <li>@*<a href="~/Product/Products?parentCategoryId=534">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "mobile-accessories", parentCategoryId = 534, city = cityName })">Mobile Accessories</a></li>
                        <li>@*<a href="~/Product/Products?parentCategoryId=531">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "mobile-cases-and-covers", parentCategoryId = 531, city = cityName })">Mobile Cases & Covers</a></li>

                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">

                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=43854" title="WiredSelfie Stick For Mobiles">WiredSelfie Stick For Mobiles</a></h5>*@
                                                <h5 class="product-name"><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43854, itemName = "WiredSelfie Stick For Mobiles".ToLower().Replace(' ', '-'), city = cityName })" title="WiredSelfie Stick For Mobiles">WiredSelfie Stick For Mobiles</a></h5>
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=43854">*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43854, itemName = "WiredSelfie Stick For Mobiles".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/varanasi_images/sub_cat/V_43854.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    @*<a title="Quick view" class="search" href="~/PreviewItem?itemId=43854"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 43854, itemName = "WiredSelfie Stick For Mobiles".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(58468, 43854)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(58468, 43854)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=43831" title="Micromax A106 Back Cover">Micromax A106 Back Cover</a></h5>*@
                                                <h5 class="product-name"><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43831, itemName = "Micromax A106 Back Cover".ToLower().Replace(' ', '-'), city = cityName })" title="Micromax A106 Back Cover">Micromax A106 Back Cover</a></h5>
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=43831">*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43831, itemName = "Micromax A106 Back Cover".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/varanasi_images/sub_cat/V_43831.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    @*<a title="Quick view" class="search" href="~/PreviewItem?itemId=43831"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 43831, itemName = "Micromax A106 Back Cover".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(58404, 43831)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(58404, 43831)">Add to Cart</a>
                                                </div>
                                            </div>

                                        </li>
                                        


                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container containernew1 span12">
    <div class="FootTextDiv">
        <p class="indent-paragraph " style="text-align:justify;">
            <span class="footerdetail">Electronics Avenue</span><br />
            Today, we all are surrounded by electronic gadgets and devices, which we use in numerous forms including mobile phones, cameras, gaming devices, computers, TVs, music systems, AC's, and the list goes on. In India, it is needless to say that the use of electronic devices is increasing with every passing day. Hence, devices like tablets, smartphones, MP3 players and cameras have become mandatory products for the modern day Indian consumers. Considering the ease and good deals online, more and more consumers are opting for online shopping. You get your favourite brands here with their wide range of electronic products at reasonable cost.
            Gandhibagh.com helps you to lead a smarter life by keeping abreast the consumers with the latest technology based devices allowing them to entertain and benefit the best. Right from arming yourself with the best video, audio and gaming devices to catering high quality smart and stylish kitchen and cooking appliances, the store has loads to offer in this category. You can choose the same from a wide range of brands along with loads of electronic product categories like desktops & laptops, Mobile Phones, Smartphones, Tablets, Digital Cameras, LED/LCD TV, Air Conditioners, Refrigerators, Air Coolers, Washing Machines, Fans and a number of Kitchen based appliances like Induction Cookers, Food Processors, Microwave Ovens, Coffee/Tea Makers, Microwave Ovens, Fryers, Juicer Mixer Grinders, etc.
            Buying electronic gadgets and devices from Gandhibagh.com can render you the opportunity to explore a huge list of electronic products and devices online, which you may fail to find at any local brick and mortar store. Shopping online is certainly not a difficult task, however, shopping at a right online store counts a lot. An online store, which promises high quality products backed by reasonable price tags along with effective customer services. At Gandhibagh.com, you can find a wide range of electronic products at the most competitive cost along with smooth customer service.
            Having its base in Central India, Gandhibagh.com has come a long way carving its niche in the e-commerce world for delivery quality products at reasonable price at your doorstep with no delay. The store maintains great transparency with its customers and business partners to enable smooth and effective business relationship in between the two. If you are one of those customers waiting to buy electronic devices, you have reached out at the best place to shop online.<br /><br />
        </p>
    </div>
</div>
