@{
    ViewBag.Title = "Electricals & Lighting | Gandhibagh.com";
}
<link href="~/Content/Home-content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
<script src="~/Content/js/Bedcrumbs.js"></script>
<style>
    .margin-setTop {
        margin-top: -33px;
    }

    .heart {
        display: none !important;
    }
</style>
<script type="text/javascript">
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<script src="~/Content/update(5-10)/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var newClone1 = $("#cpy1").html();
        var newClone1 = $("#cpy2").html();
        var newClone1 = $("#cpy3").html();
        var newClone1 = $("#cpy4").html();

        if ($(window).width() < 750) {
            // alert("1");
            $(newClone1).clone().appendTo("#pst1");
            $(newClone1).clone().appendTo("#pst2");
            $(newClone1).clone().appendTo("#pst3");
            $(newClone1).clone().appendTo("#pst4");

        } else {
            $("#pst1").empty();
            $("#pst2").empty();
            $("#pst3").empty();
            //<a href="~/Content/test.html">~/Content/test.html</a>
            $("#pst4").empty();

        }
    });
</script>
<script src="~/Scripts/Products.js"></script>
@{
    string cityName = "";
    if (Request.Cookies["CityCookie"] != null && Request.Cookies["CityCookie"].Value != "")
    {
        cityName = Request.Cookies["CityCookie"].Value.Split('$')[1].ToLower();
    }
}
<div class="container margin-setTop">
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">Lights & Fixtures</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst1"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy1">
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1242&item=Lamps & Lighting">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "lamps-and-lighting", parentCategoryId = 1242, city = cityName })">Lamps & Lighting</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=668&item=Lights & Lighting Products">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "lights-and-lighting-products", parentCategoryId = 668, city = cityName })">Lights & Lighting Products</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=401" title="Sonne Back Light">Sonne Back Light</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 401, itemName = "Sonne Back Light".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Sonne Back Light">Sonne Back Light</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs1917.00</span>
                                                    <span class="price old-price">Rs2129.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=401">
                                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EM4.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 401, itemName = "Sonne Back Light".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EM4.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 401, itemName = "Sonne Back Light".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(115, 401)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(115, 401)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=13752" title="7 Watt LED Bulb">7 Watt LED Bulb</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 13752, itemName = "7 Watt LED Bulb".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="7 Watt LED Bulb">7 Watt LED Bulb</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs60.00</span>
                                                    <span class="price old-price">Rs85.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=13752">
                                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EM6.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 13752, itemName = "7 Watt LED Bulb".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EM6.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 13752, itemName = "7 Watt LED Bulb".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(8222, 13752)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(8222, 13752)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<div class="category-featured jewelry">
    <nav class="navbar nav-menu show-brand">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-brand"><a href="#">Fans & Air Coolers</a></div>
            <span class="toggle-menu"></span>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" id="pst3"></ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        <div id="elevator-6" class="floor-elevator">
            <a href="#" class="btn-elevator up fa fa-angle-up"></a>
            <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
        </div>
    </nav>
    <div class="product-featured clearfix">
        <div class="row">
            <div class="col-sm-2 sub-category-wapper">
                <ul class="sub-category-list" id="cpy3">
                    <li>
                        @*<a href="~/Product/Products?parentCategoryId=478&item=Ceiling Fan">*@
                        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "ceiling-fan", parentCategoryId = 478, city = cityName })">Ceiling Fan</a>
                    </li>
                   
                    <li>
                        @*<a href="~/Product/Products?parentCategoryId=476&item=Pedestal Fan">*@
                        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "pedestal-fan", parentCategoryId = 476, city = cityName })">Pedestal Fan</a>
                    </li>
                   
                </ul>
            </div>
            <div class="col-sm-10 col-right-tab">
                <div class="product-featured-tab-content">
                    <div class="tab-container">
                        <div class="tab-panel active" id="tab-14">
                            <div class="box-full clearfix">
                                <ul class="product-list row">
                                    <li class="col-sm-4">
                                        <div class="right-block">
                                            @*<h5 class="product-name"><a href="~/PreviewItem?itemId=979" title="Orpat Air Toofan 48 Ceiling Fan">Orpat Air Toofan 48 Ceiling Fan</a></h5>*@
                                            <h5 class="product-name">
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41073, itemName = "Morphy Richards Vento PF Pedestal Fan ".ToLower().Replace(' ', '-'), city = cityName })"
                                                   title="Morphy Richards Vento PF Pedestal Fan">Morphy Richards Vento PF Pedestal Fan</a>
                                            </h5>
                                            @*<div class="content_price">
                                                <span class="price product-price">Rs1320.00</span>
                                            </div>*@
                                        </div>
                                        <div class="left-block">
                                            @*<a href="~/PreviewItem?itemId=979">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EM3.png">
                                                </a>*@
                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41073, itemName = "Morphy Richards Vento PF Pedestal Fan ".ToLower().Replace(' ', '-'), city = cityName })">
                                                <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EM3.png">
                                            </a>
                                            <div class="quick-view">
                                                <a title="Add to my wishlist" class="heart" href="#"></a>
                                                @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 41073, itemName = "Morphy Richards Vento PF Pedestal Fan ".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                            </div>
                                            <div class="add-to-cart">
                                                @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(218, 979)">Add to Cart</a>*@
                                                <a title="Add to Cart" onclick="AddProduct(47356, 41073)">Add to Cart</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-sm-4">
                                        <div class="right-block">
                                            @*<h5 class="product-name"><a href="~/PreviewItem?itemId=1057" title="Turbo Nova deluxe Exhaust Fan">Turbo Nova deluxe Exhaust Fan</a></h5>*@
                                            <h5 class="product-name">
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 10641, itemName = "Havells 1200 mm Velocity HS Ceiling Fans -Brown".ToLower().Replace(' ', '-'), city = cityName })"
                                                   title="Havells 1200 mm Velocity HS Ceiling Fans -Brown">Havells 1200 mm Velocity HS Ceiling Fans -Brown</a>
                                            </h5>
                                            @*<div class="content_price">
                                                <span class="price product-price">Rs1540.00</span>
                                            </div>*@
                                        </div>
                                        <div class="left-block">
                                            @*<a href="~/PreviewItem?itemId=1057">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Em9.png">
                                                </a>*@
                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 10641, itemName = "Havells 1200 mm Velocity HS Ceiling Fans -Brown".ToLower().Replace(' ', '-'), city = cityName })">
                                                <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Em9.png">
                                            </a>
                                            <div class="quick-view">
                                                <a title="Add to my wishlist" class="heart" href="#"></a>
                                                @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 10641, itemName = "Havells 1200 mm Velocity HS Ceiling Fans -Brown".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                            </div>
                                            <div class="add-to-cart">
                                                @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(20966, 1057)">Add to Cart</a>*@
                                                <a title="Add to Cart" onclick="AddProduct(17390, 10641)">Add to Cart</a>
                                            </div>
                                        </div>
                                    </li>

                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">Batteries</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst4"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy4">
                        <li><a href="~/Product/Products?parentCategoryId=654&item=Inverter Battery & Chargers" title="Inverter Battery & Chargers">Inverter Battery & Chargers</a></li>
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="~/PreviewItem?itemId=25401" title="Eveready Ultima Chargeable Cell">Eveready Ultima Chargeable Cell</a></h5>
                                                <div class="content_price">
                                                    <span class="price product-price">Rs350.00</span>
                                                </div>
                                            </div>
                                            <div class="left-block">
                                                <a href="~/PreviewItem?itemId=25401">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EM10.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>

                                                    <a title="Quick view" class="search" href="~/PreviewItem?itemId=25401"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(26019, 25401)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</div>

<div class="container containernew1 span12">
    <div class="FootTextDiv">
        <p class="indent-paragraph " style="text-align:justify;">
            <span class="footerdetail">Electrical Market</span><br />
            Welcome to Gandhibagh.com, your electrical E-Store.
            Just give a glance around and we can find how, we are surrounded with a number of electrical products, which illuminate our life with happiness and glee. The electrical products like bulbs, wires, cables, pumps, motors, inverters and batteries to name a few are part and parcel of our life. With the vision of adding ease in shopping a number of electrical products for our online consumers, you can find almost all the electrical products with us. The shopping portal aims to replace all the darkness with light inside your home along with a number of other products, which can make your home, office or club turn effective and productive.
            Gandhibagh.com is one of the leading online stores in Central India, catering high quality and guaranteed electrical products at the most reasonable cost backed with incredibly simple and user friendly shopping experience through the most trusted and secured gateway for credit/debit card and net banking payment options. Here you can buy the branded electrical products conforming the standards of safety and quality like Batteries, Cable & Amp Connectors, USBs, Adapters, Decorative lights, Electric Fittings & Components, Inverters and Network & Lan accessories from a wide range of brands. You can browse a wide array of high quality electrical products at our shopping portal with proper images and complete description, which help the online consumers to have a right buying decision.
            Gandhibagh.com is backed by an established group from Central India, known to cater high quality electrical and other products with competitive cost, quick delivery, customer friendly services, efficient logistics/supply chain management and robust sourcing relationships. With our user friendly web designs and simple navigation, you can find all the electrical products with ease, compare the same with others and find the one, which suits the best to you and your requirements. The technical details found across all the electrical products available with us can help in finding products as per your norms and requirements, making the online store as the one stop solutions for all your electrical requirements. Our consumers feel at home while shopping at Gandhibagh.com and meet up all their electrical requirements giving them a hassle free and best shopping experience.
            Happy Shopping!<br /><br />
        </p>
    </div>
</div>
