@{
    ViewBag.Title = "Electronics | Gandhibagh.com";
}
<link href="~/Content/Home-content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
<style>
    .margin-setTop {
        margin-top: -33px;
    }

    .heart {
        display: none !important;
    }
</style>

<script src="~/Content/update(5-10)/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var newClone1 = $("#cpy1").html();
        var newClone2 = $("#cpy2").html();
        var newClone3 = $("#cpy3").html();
        var newClone4 = $("#cpy4").html();
        var newClone5 = $("#cpy5").html();
        var newClone5 = $("#cpy6").html();
        var newClone5 = $("#cpy7").html();
        var newClone5 = $("#cpy8").html();
        if ($(window).width() < 750) {
            // alert("1");
            $(newClone1).clone().appendTo("#pst1");
            $(newClone2).clone().appendTo("#pst2");
            $(newClone3).clone().appendTo("#pst3");
            $(newClone4).clone().appendTo("#pst4");
            $(newClone5).clone().appendTo("#pst5");
            $(newClone5).clone().appendTo("#pst6");
            $(newClone5).clone().appendTo("#pst7");
            $(newClone5).clone().appendTo("#pst8");
        } else {
            $("#pst1").empty();
            $("#pst2").empty();
            $("#pst3").empty();
            $("#pst4").empty();
            $("#pst5").empty();
            $("#pst6").empty();
            $("#pst7").empty();
            $("#pst8").empty();
        }
    });
</script>
@{
    string cityName = "";
    if (Request.Cookies["CityCookie"] != null && Request.Cookies["CityCookie"].Value != "")
    {
        cityName = Request.Cookies["CityCookie"].Value.Split('$')[1].ToLower();
    }
}
<script src="~/Scripts/Products.js"></script>
<script type="text/javascript">
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<div class="container margin-setTop">
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@Computers Peripherals</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst1"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy1">
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=558&item=Computer Accessories">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "computer-accessories", parentCategoryId = 558, city = cityName })">Computer Accessories</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=554&item=Desktop">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "desktop", parentCategoryId = 554, city = cityName })">Desktop</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=575&item=Headphones &amp; Speakers">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "headphones-and-speakers", parentCategoryId = 575, city = cityName })">Headphones &amp; Speakers</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=562&item=Laptops">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "laptops", parentCategoryId = 562, city = cityName })">Laptops</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=579&item=Networking Items">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "networking-items", parentCategoryId = 579, city = cityName })">Networking Items</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=550&item=Other Computer Parts">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "computer-parts", parentCategoryId = 550, city = cityName })">Other Computer Parts</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=567&item=Pen Drive">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "pen-drive", parentCategoryId = 567, city = cityName })">Pen Drive</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=561&item=Printers & Scanners">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "printers-and-scanners", parentCategoryId = 561, city = cityName })">Printers & Scanners</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=568&item=Processor">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "processor", parentCategoryId = 568, city = cityName })">Processor</a>
                        </li>
                        

                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">

                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=7852" title="NEW DESKTOP NEW WITH 1 YEAR WARANTY (LOWER CONFIG)">NEW DESKTOP NEW WITH 1 YEAR WARANTY (LOWER CONFIG)</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 7852, itemName = "NEW DESKTOP NEW WITH 1 YEAR WARANTY (LOWER CONFIG)".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="New Desktop New With 1 Year Waranty(Lower Config)">NEW DESKTOP NEW WITH 1 YEAR WARANTY (LOWER CONFIG)</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs9900</span>
                                                    <span class="price old-price">Rs18000.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=7852">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EA10-min.png">
                                                </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 7852, itemName = "NEW DESKTOP NEW WITH 1 YEAR WARANTY (LOWER CONFIG)".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EA10-min.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 7852, itemName = "NEW DESKTOP NEW WITH 1 YEAR WARANTY (LOWER CONFIG)".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(3004,7852)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(3004, 7852)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=7834" title="Intel Core 2 Duo Processor 2.2 GH (OLD)">Intel Core 2 Duo Processor 2.2 GH (OLD)</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 7834, itemName = "Intel Core 2 Duo Processor 2.2 GH (OLD)".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Intel Core 2 Duo Processor 2.2 GH (OLD)">Intel Core 2 Duo Processor 2.2 GH (OLD)</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs650.00</span>
                                                    <span class="price old-price">Rs6500.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=7834">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EA15-min.png">
                                                </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 7834, itemName = "Intel Core 2 Duo Processor 2.2 GH (OLD)".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EA15-min.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 7834, itemName = "Intel Core 2 Duo Processor 2.2 GH (OLD)".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(2654,7834)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(2654, 7834)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                      
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=7843" title="RAM 1GB DDR2(Low Profile)">RAM 1GB DDR2(Low Profile)</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 7843, itemName = "RAM 1GB DDR2(Low Profile)".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="RAM 1GB DDR2(Low Profile)">RAM 1GB DDR2(Low Profile)</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs550.00</span>
                                                    <span class="price old-price">Rs900.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=7843">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EA16-min.png">
                                                </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 7843, itemName = "RAM 1GB DDR2(Low Profile)".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EA16-min.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 7843, itemName = "RAM 1GB DDR2(Low Profile)".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(2887,7843)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(2887, 7843)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=8554" title="HP LaserJet M1005 Multifunction Printer (CB376A)">HP LaserJet M1005 Multifunction Printer (CB376A)</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 8554, itemName = "HP LaserJet M1005 Multifunction Printer (CB376A)".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="HP LaserJet M1005 Multifunction Printer (CB376A)">HP LaserJet M1005 Multifunction Printer (CB376A)</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs12200.00</span>
                                                    <span class="price old-price">Rs15000.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=8554">
                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EA14-min.png">
                </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 8554, itemName = "HP LaserJet M1005 Multifunction Printer (CB376A)".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EA14-min.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 8554, itemName = "HP LaserJet M1005 Multifunction Printer (CB376A)".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(11423,8554)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(11423, 8554)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=10812" title="HP 678 Tri-color Ink Cartridge">HP 678 Tri-color Ink Cartridge</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 10812, itemName = "HP 678 Tri-color Ink Cartridge".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="HP 678 Tri-color Ink Cartridge">HP 678 Tri-color Ink Cartridge</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs490.00</span>
                                                    <span class="price old-price">Rs550.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=10812">
                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EA8-min.png">
                </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 10812, itemName = "HP 678 Tri-color Ink Cartridge".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EA8-min.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 10812, itemName = "HP 678 Tri-color Ink Cartridge".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(18276,10812)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(18276, 10812)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        
                                    </ul>
                                </div>
                                <div class="box-full clearfix">
                                    <ul class="product-list">
                                      
                                        <li>
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=7848" title="MOTHERBOARD INTEL CHIPSET 845">MOTHERBOARD INTEL CHIPSET 845</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 7848, itemName = "MOTHERBOARD INTEL CHIPSET 845".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="MOTHERBOARD INTEL CHIPSET 845">MOTHERBOARD INTEL CHIPSET 845</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs1450.00</span>
                                                    <span class="price old-price">Rs2000.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=7848">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EA12-min.png">
                                                </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 7848, itemName = "MOTHERBOARD INTEL CHIPSET 845".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EA12-min.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 7848, itemName = "MOTHERBOARD INTEL CHIPSET 845".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(2657,7848)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(2657, 7848)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                     
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@Mobile & Tablets</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst3"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy3">
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=539&item=Cables & Chargers">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "cables-and-chargers", parentCategoryId = 539, city = cityName })">Cables & Chargers</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=543&item=Earephones">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "earphones", parentCategoryId = 543, city = cityName })">Earphones</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=537&item=Memory Cards">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "memory-cards", parentCategoryId = 537, city = cityName })">Memory Cards</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=532&item=Mobile">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "mobile", parentCategoryId = 532, city = cityName })">Mobile</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=534&item=Mobile Accessories">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "mobile-accessories", parentCategoryId = 534, city = cityName })">Mobile Accessories</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=545&item=Mobile Antivirus">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "mobile-antivirus", parentCategoryId = 545, city = cityName })">Mobile Antivirus</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=531&item=Mobile Cases & Covers">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "mobile-cases-and-covers", parentCategoryId = 531, city = cityName })">Mobile Cases & Covers</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=541&item=PowerBank">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "powerbank", parentCategoryId = 541, city = cityName })">PowerBank</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=533&item=Tablets">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "tablets", parentCategoryId = 533, city = cityName })">Tablets</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=18291" title="iball Slide Wq32 Wifi+3G Tablet">iball Slide Wq32 Wifi+3G Tablet</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 18291, itemName = "iball Slide Wq32 Wifi 3G Tablet".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="iball Slide Wq32 Wifi+3G Tablet">iball Slide Wq32 Wifi+3G Tablet</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs10900.00</span>
                                                    <span class="price old-price">Rs16999.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=18291">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EA24-min.png">
                                                </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 18291, itemName = "iball Slide Wq32 Wifi 3G Tablet".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EA24-min.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 18291, itemName = "iball Slide Wq32 Wifi 3G Tablet".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(10278,18291)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(10278, 18291)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=26690" title="Advent E180i Portable Charger with Mirror Holder & Torch 4400 mAh">Advent E180i Portable Charger with Mirror Holder & Torch 4400 mAh</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 26690, itemName = "Advent E180i Portable Charger with Mirror Holder".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Advent E180i Portable Charger with Mirror Holder & Torch 4400 mAh">Advent E180i Portable Charger with Mirror Holder & Torch 4400 mAh</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs831.00</span>
                                                    <span class="price old-price">Rs1599.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=26690">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EA23-min.png">
                                                </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 26690, itemName = "Advent E180i Portable Charger with Mirror Holder".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EA23-min.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 26690, itemName = "Advent E180i Portable Charger with Mirror Holder".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(29880,26690)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(29880, 26690)">Add to Cart</a>
                                                </div>
                                            </div>

                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=178" title="Floral Pot Designed Apple iPhone 4 Back Cover NM-003">Floral Pot Designed Apple iPhone 4 Back Cover NM-003</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 178, itemName = "Floral Pot Designed Apple iPhone 4".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Floral Pot Designed Apple iPhone 4 Back Cover NM-003">Floral Pot Designed Apple iPhone 4 Back Cover NM-003</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs300.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=178">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EA20-min.png">
                                                </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 178, itemName = "Floral Pot Designed Apple iPhone 4".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EA20-min.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 178, itemName = "Floral Pot Designed Apple iPhone 4".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(21876,178)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(21876, 178)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@Audio & Video</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst4"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy4">
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=592&item=Dvd Player">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "dvd-player", parentCategoryId = 592, city = cityName })">DVD Player</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=585&item=Headphones & Earphones">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "headphones-and-earphones", parentCategoryId = 585, city = cityName })">Headphones & Earphones</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=589&item=Home Theatre">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "home-theatre", parentCategoryId = 589, city = cityName })">Home Theatre Systems</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=588&item=Landline Phones">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "landline-phones", parentCategoryId = 588, city = cityName })">Landline Phones</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=583&item=Speakers">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "speakers", parentCategoryId = 583, city = cityName })">Speakers</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">

                                <div class="box-full clearfix">
                                    <ul class="product-list row">

                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=23059" title="Brass I line phone">Brass I line phone</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 23059, itemName = "Brass I line phone".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Brass I line phone">Brass I line phone</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs2999.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=23059">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/AV2.png">
                                                </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 23059, itemName = "Brass I line phone".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/AV2.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 23059, itemName = "Brass I line phone".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(29889,26698)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=13533" title="LG BH6330H 5.1 Blu Ray Home Theatre System">LG BH6330H 5.1 Blu Ray Home Theatre System</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 13533, itemName = "LG BH6330H 5.1 Blu Ray Home Theatre System".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="LG BH6330H 5.1 Blu Ray Home Theatre System">LG BH6330H 5.1 Blu Ray Home Theatre System</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs27984.00</span>
                                                    <span class="price old-price">Rs32990.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=13533">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/AV3.png">
                                                </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 13533, itemName = "LG BH6330H 5.1 Blu Ray Home Theatre System".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/AV3.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 13533, itemName = "LG BH6330H 5.1 Blu Ray Home Theatre System".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(3010,7886)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(3010, 7886)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=12570" title="Sony DVD Player DVP-SR760 (Black)">Sony DVD Player DVP-SR760 (Black)</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 12570, itemName = "Sony DVD Player DVP-SR760 (Black)".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Sony DVD Player DVP-SR760 (Black)">Sony DVD Player DVP-SR760 (Black)</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs3700.00</span>
                                                    <span class="price old-price">Rs3990.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=12570">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/AV4.png">
                                                </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 12570, itemName = "Sony DVD Player DVP-SR760 (Black)".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/AV4.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 12570, itemName = "Sony DVD Player DVP-SR760 (Black)".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(3010,7886)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(3010, 7886)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@CAMERA & ACCESSORIES</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst5"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy5">
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=470&item=Camcorders">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "camcorders", parentCategoryId = 470, city = cityName })">Camcorders</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=469&item=Digital Cameras">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "digital-cameras", parentCategoryId = 469, city = cityName })">Digital Cameras</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=468&item=DSLR">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "dslr", parentCategoryId = 468, city = cityName })">DSLR</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=474&item=Handycam">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "handycam", parentCategoryId = 474, city = cityName })">Handycam</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=18560" title="Sony Cybershot DCS-W800 20.1MP Digital Camera">Sony Cybershot DCS-W800 20.1MP Digital Camera</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 18560, itemName = "Sony Cybershot DCS-W800 20.1MP Digital Camera".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Sony Cybershot DCS-W800 20.1MP Digital Camera">Sony Cybershot DCS-W800 20.1MP Digital Camera</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs6990.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=18560">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EA4-min.png">
                                                </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 18560, itemName = "Sony Cybershot DCS-W800 20.1MP Digital Camera".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EA4-min.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 18560, itemName = "Sony Cybershot DCS-W800 20.1MP Digital Camera".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(12074,18560)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(12074, 18560)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=17836" title="Canon EOS 70D Digital SLR Camera with EF-S 18-135 mm IS STM Lens">Canon EOS 70D Digital SLR Camera with EF-S 18-135 mm IS STM Lens</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 17836, itemName = "Canon EOS 70D Digital SLR Camera".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Canon EOS 70D Digital SLR Camera with EF-S 18-135 mm IS STM Lens">Canon EOS 70D Digital SLR Camera with EF-S 18-135 mm IS STM Lens</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs93174.00</span>
                                                    <span class="price old-price">Rs97995.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=17836">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EA5-min.png">
                                                </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 17836, itemName = "Canon EOS 70D Digital SLR Camera".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EA5-min.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 17836, itemName = "Canon EOS 70D Digital SLR Camera".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(7818,17836)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(7818, 17836)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=18781" title="Sony HDR-PJ670 Handycam Camcorder">Sony HDR-PJ670 Handycam Camcorder</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 18781, itemName = "Sony HDR-PJ670 Handycam Camcorder".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Sony HDR-PJ670 Handycam Camcorder">Sony HDR-PJ670 Handycam Camcorder</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs52990.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=18781">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EA6-min.png">
                                                </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 18781, itemName = "Sony HDR-PJ670 Handycam Camcorder".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EA6-min.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 18781, itemName = "Sony HDR-PJ670 Handycam Camcorder".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(12135,18781)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(12135, 18781)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=18792" title="Sony PXW-X70 Professional XDCAM Compact Camcorder">Sony PXW-X70 Professional XDCAM Compact Camcorder</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 18792, itemName = "Sony PXW-X70 Professional XDCAM Compact Camcorder".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Sony PXW-X70 Professional XDCAM Compact Camcorder">Sony PXW-X70 Professional XDCAM Compact Camcorder</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs185000.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=18792">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EA3-min.png">
                                                </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 18792, itemName = "Sony PXW-X70 Professional XDCAM Compact Camcorder".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EA3-min.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 18792, itemName = "Sony PXW-X70 Professional XDCAM Compact Camcorder".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(19643,18792)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(19643, 18792)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@Television </a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst6"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy6">
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=546&item=LED">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "led", parentCategoryId = 546, city = cityName })">LED</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=548&item=Plasma">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "plasma", parentCategoryId = 548, city = cityName })">Plasma</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=20052" title="LG 32LN571B 81 cm (32) HD Ready Smart LED Television">LG 32LN571B 81 cm (32) HD Ready Smart LED Television</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 20052, itemName = "LG 32LN571B 81 cm (32) HD Ready Smart LED Television".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="LG 32LN571B 81 cm (32) HD Ready Smart LED Television">LG 32LN571B 81 cm (32) HD Ready Smart LED Television</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs33390</span>
                                                    <span class="price old-price">Rs40990.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=20052">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EA40-min.png">
                                                </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 20052, itemName = "LG 32LN571B 81 cm (32) HD Ready Smart LED Television".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EA40-min.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 20052, itemName = "LG 32LN571B 81 cm (32) HD Ready Smart LED Television".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(15022,20052)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(15022, 20052)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=28432" title="Samsung 43H4900 43-inch (Cricket Mode) 3D Plasma Television">Samsung 43H4900 43-inch (Cricket Mode) 3D Plasma Television</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 28432, itemName = "Samsung 43H4900 43-inch (Cricket Mode) 3D Plasma Television".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Samsung 43H4900 43-inch (Cricket Mode) 3D Plasma Television">Samsung 43H4900 43-inch (Cricket Mode) 3D Plasma Television</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs42900.00</span>
                                                    <span class="price old-price">Rs46000.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=28432">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EA39-min.png">
                                                </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 28432, itemName = "Samsung 43H4900 43-inch (Cricket Mode) 3D Plasma Television".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EA39-min.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 28432, itemName = "Samsung 43H4900 43-inch (Cricket Mode) 3D Plasma Television".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(8113,13533)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(8113, 13533)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@Big Appliances</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst8"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy8">
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=517&item=Air Conditioner">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "air-conditioner", parentCategoryId = 517, city = cityName })">Air Conditioner</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=514&item=Chimney & Hoods">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "chimney-and-hoods", parentCategoryId = 514, city = cityName })">Chimney & Hoods</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=12637" title="Samsung 1.5 ton AR18FC3EAUN Split Air Conditioner">Samsung 1.5 ton AR18FC3EAUN Split Air Conditioner</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 12637, itemName = "Samsung 1.5 ton AR18FC3EAUN Split Air Conditioner".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Samsung 1.5 ton AR18FC3EAUN Split Air Conditioner">Samsung 1.5 ton AR18FC3EAUN Split Air Conditioner</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs34400.00</span>
                                                    <span class="price old-price">Rs35400.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=12637">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EA1-min.png">
                                                </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 12637, itemName = "Samsung 1.5 ton AR18FC3EAUN Split Air Conditioner".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EA1-min.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 12637, itemName = "Samsung 1.5 ton AR18FC3EAUN Split Air Conditioner".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(7919,12637)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(7919, 12637)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=15970" title="Bajaj Majesty HX 15 Decorative Glass Cooker Hood">Bajaj Majesty HX 15 Decorative Glass Cooker Hood</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 8221, itemName = "Bajaj HX 15 Hood".ToLower().Replace(' ', '-'), city = cityName })"
                               title="Bajaj HX 15 Hood">Bajaj HX 15 Hood</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs11525.00</span>
                                                    <span class="price old-price">Rs17590.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=15970">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EA2-min.png">
                                                </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 8221, itemName = "Bajaj HX 15 Hood".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/EA2-min.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 8221, itemName = "Bajaj HX 15 Hood".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(3357,15970)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(3357, 15970)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container containernew1 span12">
    <div class="FootTextDiv">
        <p class="indent-paragraph " style="text-align:justify;">
            <span class="footerdetail">Electronics Avenue</span><br />
            Today, we all are surrounded by electronic gadgets and devices, which we use in numerous forms including mobile phones, cameras, gaming devices, computers, TVs, music systems, AC's, and the list goes on. In India, it is needless to say that the use of electronic devices is increasing with every passing day. Hence, devices like tablets, smartphones, MP3 players and cameras have become mandatory products for the modern day Indian consumers. Considering the ease and good deals online, more and more consumers are opting for online shopping. You get your favourite brands here with their wide range of electronic products at reasonable cost.
            Gandhibagh.com helps you to lead a smarter life by keeping abreast the consumers with the latest technology based devices allowing them to entertain and benefit the best. Right from arming yourself with the best video, audio and gaming devices to catering high quality smart and stylish kitchen and cooking appliances, the store has loads to offer in this category. You can choose the same from a wide range of brands along with loads of electronic product categories like desktops & laptops, Mobile Phones, Smartphones, Tablets, Digital Cameras, LED/LCD TV, Air Conditioners, Refrigerators, Air Coolers, Washing Machines, Fans and a number of Kitchen based appliances like Induction Cookers, Food Processors, Microwave Ovens, Coffee/Tea Makers, Microwave Ovens, Fryers, Juicer Mixer Grinders, etc.
            Buying electronic gadgets and devices from Gandhibagh.com can render you the opportunity to explore a huge list of electronic products and devices online, which you may fail to find at any local brick and mortar store. Shopping online is certainly not a difficult task, however, shopping at a right online store counts a lot. An online store, which promises high quality products backed by reasonable price tags along with effective customer services. At Gandhibagh.com, you can find a wide range of electronic products at the most competitive cost along with smooth customer service.
            Having its base in Central India, Gandhibagh.com has come a long way carving its niche in the e-commerce world for delivery quality products at reasonable price at your doorstep with no delay. The store maintains great transparency with its customers and business partners to enable smooth and effective business relationship in between the two. If you are one of those customers waiting to buy electronic devices, you have reached out at the best place to shop online.<br /><br />
        </p>
    </div>
</div>
