@{
    ViewBag.Title = "Electronics | Gandhibagh.com";
}
<link href="~/Content/Home-content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
<style>
    .margin-setTop {
        margin-top: -33px;
    }

    .heart {
        display: none !important;
    }
</style>
<script type="text/javascript">
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<script src="~/Content/update(5-10)/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var newClone1 = $("#cpy1").html();
        var newClone2 = $("#cpy2").html();
        var newClone3 = $("#cpy3").html();
        var newClone4 = $("#cpy4").html();
        var newClone5 = $("#cpy5").html();
        var newClone5 = $("#cpy6").html();
        var newClone5 = $("#cpy7").html();
        var newClone5 = $("#cpy8").html();
        if ($(window).width() < 750) {
            // alert("1");
            $(newClone1).clone().appendTo("#pst1");
            $(newClone2).clone().appendTo("#pst2");
            $(newClone3).clone().appendTo("#pst3");
            $(newClone4).clone().appendTo("#pst4");
            $(newClone5).clone().appendTo("#pst5");
            $(newClone5).clone().appendTo("#pst6");
            $(newClone5).clone().appendTo("#pst7");
            $(newClone5).clone().appendTo("#pst8");
        } else {
            $("#pst1").empty();
            $("#pst2").empty();
            $("#pst3").empty();
            $("#pst4").empty();
            $("#pst5").empty();
            $("#pst6").empty();
            $("#pst7").empty();
            $("#pst8").empty();
        }
    });
</script>
@{
    string cityName = "";
    if (Request.Cookies["CityCookie"] != null && Request.Cookies["CityCookie"].Value != "")
    {
        cityName = Request.Cookies["CityCookie"].Value.Split('$')[1].ToLower();
    }
}
<script src="~/Scripts/Products.js"></script>
<div class="container margin-setTop">
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@Computer Peripherals</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst4"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy4">
                        <li>
                            @*<a href="~/Product/Products?item=Keyboard&parentCategoryId=565">*@
                        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "keyboard", parentCategoryId = 565, city = cityName })">Keyboard</a>
                    </li>
                    <li>
                        @*<a href="~/Product/Products?item=Mouse&parentCategoryId=566">*@
                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "mouse", parentCategoryId = 566, city = cityName })">Mouse</a>
                </li>
                <li>
                    @*<a href="~/Product/Products?item=External%20Hard%20Disk&parentCategoryId=549">*@
                <a href="@Url.RouteUrl("ProductsByCategory", new { item = "external-hard-disk", parentCategoryId = 549, city = cityName })">External Hard Disk</a>
            </li>
            <li>
                @*<a href="~/Product/Products?item=Graphics%20Card&parentCategoryId=582">*@
            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "graphics-card", parentCategoryId = 582, city = cityName })">Graphics Card</a>
        </li>
        <li>
            @*<a href="~/Product/Products?item=Other%20Computers%20Parts&parentCategoryId=550">*@
        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "other-computers-parts", parentCategoryId = 550, city = cityName })">Other Computers Parts</a>
    </li>
    <li>
        @*<a href="~/Product/Products?item=Printers+%26+Scanners&parentCategoryId=561">*@
    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "printers-and-scanners", parentCategoryId = 561, city = cityName })">Printers & Scanners</a>
</li>
<li>
    @*<a href="~/Product/Products?item=Monitors&parentCategoryId=569">*@
<a href="@Url.RouteUrl("ProductsByCategory", new { item = "monitors", parentCategoryId = 569, city = cityName })">Monitors</a>
</li>
<li>
    @*<a href="~/Product/Products?item=Data%20Cards&parentCategoryId=580">*@
<a href="@Url.RouteUrl("ProductsByCategory", new { item = "data-cards", parentCategoryId = 580, city = cityName })">Data Cards</a>
</li>
<li>
    @*<a href="~/Product/Products?item=Webcams&parentCategoryId=578">*@
<a href="@Url.RouteUrl("ProductsByCategory", new { item = "webcams", parentCategoryId = 578, city = cityName })">Webcams</a>
</li>
<li>
    @*<a href="~/Product/Products?item=Headphones+%26+Speakers&parentCategoryId=575">*@
<a href="@Url.RouteUrl("ProductsByCategory", new { item = "headphones-and-speakers", parentCategoryId = 575, city = cityName })">Headphones & Speakers</a>
</li>
<li>
    @*<a href="~/Product/Products?item=Projectors&parentCategoryId=552">*@
<a href="@Url.RouteUrl("ProductsByCategory", new { item = "projectors", parentCategoryId = 552, city = cityName })">Projectors</a>
</li>
<li>
    @*<a href="~/Product/Products?item=Antivirus&parentCategoryId=557">*@
<a href="@Url.RouteUrl("ProductsByCategory", new { item = "antivirus", parentCategoryId = 557, city = cityName })">Antivirus</a>
</li>
<li>
    @*<a href="~/Product/Products?item=Ups&parentCategoryId=577">*@
<a href="@Url.RouteUrl("ProductsByCategory", new { item = "ups", parentCategoryId = 577, city = cityName })">UPS</a>
</li>
<li>
    @*<a href="~/Product/Products?item=Combos&parentCategoryId=576">*@
<a href="@Url.RouteUrl("ProductsByCategory", new { item = "combos", parentCategoryId = 576, city = cityName })">Combos</a>
</li>
<li>
    @*<a href="~/Product/Products?item=Networking%20%20Items&parentCategoryId=579">*@
<a href="@Url.RouteUrl("ProductsByCategory", new { item = "networking-items", parentCategoryId = 579, city = cityName })">Networking Items</a>
</li>
</ul>
</div>
<div class="col-sm-10 col-right-tab">
    <div class="product-featured-tab-content">
        <div class="tab-container">
            <div class="tab-panel active" id="tab-14">
                <div class="box-full clearfix">
                    <ul class="product-list row">
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=44002" title="Quick Heal Antivirus Pro (1 PC/1 Year)">Quick Heal Antivirus Pro (1 PC/1 Year)</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44002, itemName = "Quick Heal Antivirus".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Quick Heal Antivirus Pro (1 PC/1 Year)">Quick Heal Antivirus Pro (1 PC/1 Year)</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=44002">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/sub-cat/ECP1.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44002, itemName = "Quick Heal Antivirus".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/sub-cat/ECP1.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 44002, itemName = "Quick Heal Antivirus".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(59018, 44002)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(59018, 44002)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=44001" title="Logitech H110 Stereo Headset">Logitech H110 Stereo Headset</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44001, itemName = "Logitech H110 Stereo Headset".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Logitech H110 Stereo Headset">Logitech H110 Stereo Headset</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=44001">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/sub-cat/ECP2.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44001, itemName = "Logitech H110 Stereo Headset".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/sub-cat/ECP2.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 44001, itemName = "Logitech H110 Stereo Headset".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(59017, 44001)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(59017, 44001)">Add to Cart</a>
                                </div>
                            </div>

                        </li>
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=44005" title="BenQ MS504 DLP Business Projector">BenQ MS504 DLP Business Projector</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44005, itemName = "BenQ MS504 DLP Business Projector".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="BenQ MS504 DLP Business Projector">BenQ MS504 DLP Business Projector</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=44005">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/sub-cat/ECP3.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44005, itemName = "BenQ MS504 DLP Business Projector".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/sub-cat/ECP3.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 44005, itemName = "BenQ MS504 DLP Business Projector".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(59021, 44005)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(59021, 44005)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=43942" title="Logitech MK200 USB 2.0 Keyboard and Mouse Combo">Logitech MK200 USB 2.0 Keyboard and Mouse Combo</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43942, itemName = "Logitech MK200 USB 2.0 Keyboard and Mouse Combo".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Logitech MK200 USB 2.0 Keyboard and Mouse Combo">Logitech MK200 USB 2.0 Keyboard and Mouse Combo</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=43942">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/sub-cat/ECP4.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43942, itemName = "Logitech MK200 USB 2.0 Keyboard and Mouse Combo".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/sub-cat/ECP4.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 43942, itemName = "Logitech MK200 USB 2.0 Keyboard and Mouse Combo".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(58926, 43942)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(58926, 43942)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=43948" title="Samsung M3 1TB Portable External USB 3.0 Hard Drive">Samsung M3 1TB Portable External USB 3.0 Hard Drive</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43948, itemName = "Samsung M3 1TB Portable External USB".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Samsung M3 1TB Portable External USB">Samsung M3 1TB Portable External USB</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=43948">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/sub-cat/ECP5.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43948, itemName = "Samsung M3 1TB Portable External USB".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/sub-cat/ECP5.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 43948, itemName = "Samsung M3 1TB Portable External USB".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(58933, 43948)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(58933, 43948)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=43992" title="Canon CanonScan Lide 120 Scanner">Canon CanonScan Lide 120 Scanner</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43992, itemName = "Canon CanonScan Lide 120 Scanner".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Canon CanonScan Lide 120 Scanner">Canon CanonScan Lide 120 Scanner</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=43992">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/sub-cat/ECP6.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43992, itemName = "Canon CanonScan Lide 120 Scanner".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/sub-cat/ECP6.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 43992, itemName = "Canon CanonScan Lide 120 Scanner".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(59007, 43992)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(59007, 43992)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=43950" title="Umax UM 4021 USB Mouse Gaming Mouse">Umax UM 4021 USB Mouse Gaming Mouse</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43950, itemName = "Umax UM 4021 USB Mouse Gaming Mouse".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Umax UM 4021 USB Mouse Gaming Mouse">Umax UM 4021 USB Mouse Gaming Mouse</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=43950">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/sub-cat/ECP7.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43950, itemName = "Umax UM 4021 USB Mouse Gaming Mouse".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/sub-cat/ECP7.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 43950, itemName = "Umax UM 4021 USB Mouse Gaming Mouse".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(58935, 43950)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(58935, 43950)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=43998" title="LG 16M37A 40 cm (15.6) LED Monitor">LG 16M37A 40 cm (15.6) LED Monitor</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43998, itemName = "LG 16M37A 40 cm (15.6) LED Monitor".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="LG 16M37A 40 cm (15.6) LED Monitor">LG 16M37A 40 cm (15.6) LED Monitor</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=43998">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/sub-cat/ECP8.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43998, itemName = "LG 16M37A 40 cm (15.6) LED Monitor".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/sub-cat/ECP8.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 43998, itemName = "LG 16M37A 40 cm (15.6) LED Monitor".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(59014, 43998)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(59014, 43998)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=43999" title="Logitech C170 Webcam">Logitech C170 Webcam</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43999, itemName = "Logitech C170 Webcam".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Logitech C170 Webcam">Logitech C170 Webcam</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=43999">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/sub-cat/ECP9.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43999, itemName = "Logitech C170 Webcam".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/sub-cat/ECP9.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 43999, itemName = "Logitech C170 Webcam".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(59015, 43999)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(59015, 43999)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<div class="category-featured jewelry">
    <nav class="navbar nav-menu show-brand">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@Mobile & Tablets</a></div>
            <span class="toggle-menu"></span>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" id="pst4"></ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        <div id="elevator-6" class="floor-elevator">
            <a href="#" class="btn-elevator up fa fa-angle-up"></a>
            <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
        </div>
    </nav>
    <div class="product-featured clearfix">
        <div class="row">
            <div class="col-sm-2 sub-category-wapper">
                <ul class="sub-category-list" id="cpy4">
                    <li>
                        @*<a href="~/Product/Products?item=Power%20Banks&parentCategoryId=541">*@
                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "power-banks", parentCategoryId = 541, city = cityName })">Power Banks</a>
                </li>
                <li>
                    @*<a href="~/Product/Products?item=Mobile%20Accessories&parentCategoryId=534">*@
                <a href="@Url.RouteUrl("ProductsByCategory", new { item = "mobile-accessories", parentCategoryId = 534, city = cityName })">Mobile Accessories</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-10 col-right-tab">
        <div class="product-featured-tab-content">
            <div class="tab-container">
                <div class="tab-panel active" id="tab-14">
                    <div class="box-full clearfix">
                        <ul class="product-list row">
                            <li class="col-sm-4">
                                <div class="right-block">
                                    @*<h5 class="product-name"><a href="~/PreviewItem?itemId=44490" title="Nesco 901 Power Bank 10000 mAh">Nesco 901 Power Bank 10000 mAh</a></h5>*@
                                    <h5 class="product-name">
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44490, itemName = "Nesco 901 Power Bank 10000 mAh".ToLower().Replace(' ', '-'), city = cityName })"
                                           title="Nesco 901 Power Bank 10000 mAh">Nesco 901 Power Bank 10000 mAh</a>
                                    </h5>
                                </div>
                                <div class="left-block">
                                    @*<a href="~/PreviewItem?itemId=44490">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/sub-cat/pb1.png">
                                        </a>*@
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44490, itemName = "Nesco 901 Power Bank 10000 mAh".ToLower().Replace(' ', '-'), city = cityName })">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/sub-cat/pb1.png">
                                    </a>
                                    <div class="quick-view">
                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                        @*<a title="Add to compare" class="compare" href="#"></a>*@
                                        <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 44490, itemName = "Nesco 901 Power Bank 10000 mAh".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                    </div>
                                    <div class="add-to-cart">
                                        @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(60362, 44490)">Add to Cart</a>*@
                                        <a title="Add to Cart" onclick="AddProduct(60362, 44490)">Add to Cart</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-4">
                                <div class="right-block">
                                    @*<h5 class="product-name"><a href="~/PreviewItem?itemId=44491" title="Nesco MP909 Power Bank 5000 mAh">Nesco MP909 Power Bank 5000 mAh</a></h5>*@
                                    <h5 class="product-name">
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44491, itemName = "Nesco MP909 Power Bank 5000 mAh".ToLower().Replace(' ', '-'), city = cityName })"
                                           title="Nesco MP909 Power Bank 5000 mAh">Nesco MP909 Power Bank 5000 mAh</a>
                                    </h5>
                                </div>
                                <div class="left-block">
                                    @*<a href="~/PreviewItem?itemId=44491">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/sub-cat/pb2.png">
                                        </a>*@
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44491, itemName = "Nesco MP909 Power Bank 5000 mAh".ToLower().Replace(' ', '-'), city = cityName })">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/sub-cat/pb2.png">
                                    </a>
                                    <div class="quick-view">
                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                        @*<a title="Add to compare" class="compare" href="#"></a>*@
                                        <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 44491, itemName = "Nesco MP909 Power Bank 5000 mAh".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                    </div>
                                    <div class="add-to-cart">
                                        @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(60369, 44491)">Add to Cart</a>*@
                                        <a title="Add to Cart" onclick="AddProduct(60369, 44491)">Add to Cart</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-4">
                                <div class="right-block">
                                    @*<h5 class="product-name"><a href="~/PreviewItem?itemId=44608" title="Nesco Z07-5 Selfie Stick with Bluetooth Shutter">Nesco Z07-5 Selfie Stick with Bluetooth Shutter</a></h5>*@
                                    <h5 class="product-name">
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44608, itemName = "Nesco Z07-5 Selfie Stick with Bluetooth Shutter".ToLower().Replace(' ', '-'), city = cityName })"
                                           title="Nesco Z07-5 Selfie Stick with Bluetooth Shutter">Nesco Z07-5 Selfie Stick with Bluetooth Shutter</a>
                                    </h5>
                                </div>
                                <div class="left-block">
                                    @*<a href="~/PreviewItem?itemId=44608">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/sub-cat/selfie1.png">
                                        </a>*@
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44608, itemName = "Nesco Z07-5 Selfie Stick with Bluetooth Shutter".ToLower().Replace(' ', '-'), city = cityName })">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/sub-cat/selfie1.png">
                                    </a>
                                    <div class="quick-view">
                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                        @*<a title="Add to compare" class="compare" href="#"></a>*@
                                        <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 44608, itemName = "Nesco Z07-5 Selfie Stick with Bluetooth Shutter".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                    </div>
                                    <div class="add-to-cart">
                                        @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(60533, 44608)">Add to Cart</a>*@
                                        <a title="Add to Cart" onclick="AddProduct(60533, 44608)">Add to Cart</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-4">
                                <div class="right-block">
                                    @*<h5 class="product-name"><a href="~/PreviewItem?itemId=44486" title="NESCO Z07-1 Bluetooth Selfie Stick">NESCO Z07-1 Bluetooth Selfie Stick</a></h5>*@
                                    <h5 class="product-name">
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44486, itemName = "NESCO Z07-1 Bluetooth Selfie Stick".ToLower().Replace(' ', '-'), city = cityName })"
                                           title="NESCO Z07-1 Bluetooth Selfie Stick">NESCO Z07-1 Bluetooth Selfie Stick</a>
                                    </h5>
                                </div>
                                <div class="left-block">
                                    @*<a href="~/PreviewItem?itemId=44486">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/sub-cat/selfie2.png">
                                        </a>*@
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44486, itemName = "NESCO Z07-1 Bluetooth Selfie Stick".ToLower().Replace(' ', '-'), city = cityName })">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/sub-cat/selfie2.png">
                                    </a>
                                    <div class="quick-view">
                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                        @*<a title="Add to compare" class="compare" href="#"></a>*@
                                        <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 44486, itemName = "NESCO Z07-1 Bluetooth Selfie Stick".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                    </div>
                                    <div class="add-to-cart">
                                        @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(60347, 44486)">Add to Cart</a>*@
                                        <a title="Add to Cart" onclick="AddProduct(60347, 44486)">Add to Cart</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div class="category-featured jewelry">
    <nav class="navbar nav-menu show-brand">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@Security System</a></div>
            <span class="toggle-menu"></span>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" id="pst4"></ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        <div id="elevator-6" class="floor-elevator">
            <a href="#" class="btn-elevator up fa fa-angle-up"></a>
            <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
        </div>
    </nav>
    <div class="product-featured clearfix">
        <div class="row">
            <div class="col-sm-2 sub-category-wapper">
                <ul class="sub-category-list" id="cpy4">
                    <li>
                        @*<a href="~/Product/Products?parentCategoryId=521">*@
                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "hdcvi-camera", parentCategoryId = 521, city = cityName })">Hdcvi Camera</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-10 col-right-tab">
            <div class="product-featured-tab-content">
                <div class="tab-container">
                    <div class="tab-panel active" id="tab-14">
                        <div class="box-full clearfix">
                            <ul class="product-list row">
                                <li class="col-sm-4">
                                    <div class="right-block">
                                        @*<h5 class="product-name"><a href="~/PreviewItem?itemId=44004" title="CP Plus HDCVI 24 IR Dome Camera">CP Plus HDCVI 24 IR Dome Camera</a></h5>*@
                                        <h5 class="product-name">
                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44004, itemName = "CP Plus HDCVI 24 IR Dome Camera".ToLower().Replace(' ', '-'), city = cityName })"
                                               title="CP Plus HDCVI 24 IR Dome Camera">CP Plus HDCVI 24 IR Dome Camera</a>
                                        </h5>
                                    </div>
                                    <div class="left-block">
                                        @*<a href="~/PreviewItem?itemId=44004">
                                                <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/sub-cat/ESS.png">
                                            </a>*@
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44004, itemName = "CP Plus HDCVI 24 IR Dome Camera".ToLower().Replace(' ', '-'), city = cityName })">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/kanpur-images/sub-cat/ESS.png">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to my wishlist" class="heart" href="#"></a>
                                            @*<a title="Add to compare" class="compare" href="#"></a>*@
                                            <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 44004, itemName = "CP Plus HDCVI 24 IR Dome Camera".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(59020, 44004)">Add to Cart</a>*@
                                            <a title="Add to Cart" onclick="AddProduct(59020, 44004)">Add to Cart</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div class="container containernew1 span12">
    <div class="FootTextDiv">
        <p class="indent-paragraph " style="text-align:justify;">
            <span class="footerdetail">Electronics Avenue</span><br />
            Today, we all are surrounded by electronic gadgets and devices, which we use in numerous forms including mobile phones, cameras, gaming devices, computers, TVs, music systems, AC's, and the list goes on. In India, it is needless to say that the use of electronic devices is increasing with every passing day. Hence, devices like tablets, smartphones, MP3 players and cameras have become mandatory products for the modern day Indian consumers. Considering the ease and good deals online, more and more consumers are opting for online shopping. You get your favourite brands here with their wide range of electronic products at reasonable cost.
            Gandhibagh.com helps you to lead a smarter life by keeping abreast the consumers with the latest technology based devices allowing them to entertain and benefit the best. Right from arming yourself with the best video, audio and gaming devices to catering high quality smart and stylish kitchen and cooking appliances, the store has loads to offer in this category. You can choose the same from a wide range of brands along with loads of electronic product categories like desktops & laptops, Mobile Phones, Smartphones, Tablets, Digital Cameras, LED/LCD TV, Air Conditioners, Refrigerators, Air Coolers, Washing Machines, Fans and a number of Kitchen based appliances like Induction Cookers, Food Processors, Microwave Ovens, Coffee/Tea Makers, Microwave Ovens, Fryers, Juicer Mixer Grinders, etc.
            Buying electronic gadgets and devices from Gandhibagh.com can render you the opportunity to explore a huge list of electronic products and devices online, which you may fail to find at any local brick and mortar store. Shopping online is certainly not a difficult task, however, shopping at a right online store counts a lot. An online store, which promises high quality products backed by reasonable price tags along with effective customer services. At Gandhibagh.com, you can find a wide range of electronic products at the most competitive cost along with smooth customer service.
            Having its base in Central India, Gandhibagh.com has come a long way carving its niche in the e-commerce world for delivery quality products at reasonable price at your doorstep with no delay. The store maintains great transparency with its customers and business partners to enable smooth and effective business relationship in between the two. If you are one of those customers waiting to buy electronic devices, you have reached out at the best place to shop online.<br /><br />
        </p>
    </div>
</div>
