@{
    ViewBag.Title = "Electronics | Gandhibagh.com";
}
<link href="~/Content/Home-content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
<style>
    .margin-setTop {
        margin-top: -33px;
    }

    .heart {
        display: none !important;
    }
</style>
<script src="~/Content/update(5-10)/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var newClone1 = $("#cpy1").html();
        var newClone2 = $("#cpy2").html();
        var newClone3 = $("#cpy3").html();
        var newClone4 = $("#cpy4").html();
        var newClone5 = $("#cpy5").html();
        var newClone5 = $("#cpy6").html();
        var newClone5 = $("#cpy7").html();
        var newClone5 = $("#cpy8").html();
        if ($(window).width() < 750) {
            // alert("1");
            $(newClone1).clone().appendTo("#pst1");
            $(newClone2).clone().appendTo("#pst2");
            $(newClone3).clone().appendTo("#pst3");
            $(newClone4).clone().appendTo("#pst4");
            $(newClone5).clone().appendTo("#pst5");
            $(newClone5).clone().appendTo("#pst6");
            $(newClone5).clone().appendTo("#pst7");
            $(newClone5).clone().appendTo("#pst8");
        } else {
            $("#pst1").empty();
            $("#pst2").empty();
            $("#pst3").empty();
            $("#pst4").empty();
            $("#pst5").empty();
            $("#pst6").empty();
            $("#pst7").empty();
            $("#pst8").empty();
        }
    });
</script>
<script src="~/Scripts/Products.js"></script>
@{
    string cityName = "";
    if (Request.Cookies["CityCookie"] != null && Request.Cookies["CityCookie"].Value != "")
    {
        cityName = Request.Cookies["CityCookie"].Value.Split('$')[1].ToLower();
    }
}
<div class="container margin-setTop">
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@Computers Peripherals</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst4"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy4">
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=575&item=Headphones & Speakers">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "headphones-and-speakers", parentCategoryId = 575, city = cityName })">Headphones & Speakers</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=569&item=Monitors">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "monitors", parentCategoryId = 569, city = cityName })">Monitors</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=558&item=Computer Accessories">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "computer-accessories", parentCategoryId = 558, city = cityName })">Computer Accessories</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=566&item=Mouse">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "mouse", parentCategoryId = 566, city = cityName })">Mouse</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=565&item=Keyboard">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "keyboard", parentCategoryId = 565, city = cityName })">Keyboard</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=578&item=Webcams">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "webcams", parentCategoryId = 578, city = cityName })">Webcams</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=577&item=Ups">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "ups", parentCategoryId = 577, city = cityName })">Ups</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=567&item=Pen Drive">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "pen-drive", parentCategoryId = 567, city = cityName })">Pen Drive</a>
                        </li>
                        @*<li>
    <a href="~/Product/Products?parentCategoryId=550&item=Other Computers Parts">
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "other-computers-parts", parentCategoryId = 550, city = cityName })">Other Computers Parts</a>
                        </li>*@
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=580&item=Data Cards">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "data-cards", parentCategoryId = 580, city = cityName })">Data Cards</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=549&item=External Hard Disk">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "external-hard-disk", parentCategoryId = 549, city = cityName })">External Hard Disk</a>
                        </li>
</ul>
</div>
<div class="col-sm-10 col-right-tab">
    <div class="product-featured-tab-content">
        <div class="tab-container">
            <div class="tab-panel active" id="tab-14">
                <div class="box-full clearfix">
                    <ul class="product-list row">
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=23244" title="Sandisk Cruzer Blade Pen Drive">Sandisk Cruzer Blade Pen Drive</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 23244, itemName = "Sandisk Cruzer Blade Pen Drive".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Sandisk Cruzer Blade Pen Drive">Sandisk Cruzer Blade Pen Drive</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=23244">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_E1.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 23244, itemName = "Sandisk Cruzer Blade Pen Drive".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_E1.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 23244, itemName = "Sandisk Cruzer Blade Pen Drive".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(51843, 23244)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(51843, 23244)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=24978" title="Toshiba Canvio Basics 1 TB Hard Disk (Black)">Toshiba Canvio Basics 1 TB Hard Disk (Black)</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 24978, itemName = "Toshiba Canvio Basics 1 TB Hard Disk".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Toshiba Canvio Basics 1 TB Hard Disk">Toshiba Canvio Basics 1 TB Hard Disk</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=24978">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_E2.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 24978, itemName = "Toshiba Canvio Basics 1 TB Hard Disk".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_E2.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 24978, itemName = "Toshiba Canvio Basics 1 TB Hard Disk".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(51831, 24978)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(51831, 24978)">Add to Cart</a>
                                </div>
                            </div>

                        </li>
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=40051" title="Zebronics SW2491RUCF 2.1 Speaker System">Zebronics SW2491RUCF 2.1 Speaker System</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 40051, itemName = "Zebronics SW2491RUCF 2.1 Speaker System".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Zebronics SW2491RUCF 2.1 Speaker System">Zebronics SW2491RUCF 2.1 Speaker System</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=40051">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_E3.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 40051, itemName = "Zebronics SW2491RUCF 2.1 Speaker System".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_E3.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 40051, itemName = "Zebronics SW2491RUCF 2.1 Speaker System".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(51824, 40051)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(51824, 40051)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=40098" title="Zebronics H-11HM Computer Headphone W/Mic">Zebronics H-11HM Computer Headphone W/Mic</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 40098, itemName = "Zebronics H-11HM Computer Headphone".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Zebronics H-11HM Computer Headphone">Zebronics H-11HM Computer Headphone</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=40098">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_E4.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 40098, itemName = "Zebronics H-11HM Computer Headphone".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_E4.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 40098, itemName = "Zebronics H-11HM Computer Headphone".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(51536, 40098)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(51536, 40098)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=40272" title="Zebronics 15.4 inch LED - Zeb Monitor">Zebronics 15.4 inch LED - Zeb Monitor</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 40272, itemName = "Zebronics 15.4 inch LED-Zeb Monitor".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Zebronics 15.4 inch LED-Zeb Monitor">Zebronics 15.4 inch LED-Zeb Monitor</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=40272">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_E5.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 40272, itemName = "Zebronics H-11HM Computer Headphone".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_E5.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 40272, itemName = "Zebronics 15.4 inch LED-Zeb Monitor".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(51708, 40272)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(51708, 40272)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<div class="category-featured jewelry">
    <nav class="navbar nav-menu show-brand">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@Camera & Accessories</a></div>
            <span class="toggle-menu"></span>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" id="pst4"></ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        <div id="elevator-6" class="floor-elevator">
            <a href="#" class="btn-elevator up fa fa-angle-up"></a>
            <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
        </div>
    </nav>
    <div class="product-featured clearfix">
        <div class="row">
            <div class="col-sm-2 sub-category-wapper">
                <ul class="sub-category-list" id="cpy4">
                    <li>
                        @*<a href="~/Product/Products?item=Digital%20Cameras&parentCategoryId=469">*@
                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "digital-cameras", parentCategoryId = 469, city = cityName })">Digital Cameras</a>
                </li>
                <li>
                    @*<a href="~/Product/Products?item=DSLR&parentCategoryId=468">*@
                <a href="@Url.RouteUrl("ProductsByCategory", new { item = "dslr", parentCategoryId = 468, city = cityName })">DSLR</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-10 col-right-tab">
        <div class="product-featured-tab-content">
            <div class="tab-container">
                <div class="tab-panel active" id="tab-14">

                    <div class="box-full clearfix">
                        <ul class="product-list row">
                            <li class="col-sm-4">
                                <div class="right-block">
                                    @*<h5 class="product-name"><a href="~/PreviewItem?itemId=17783" title="Canon IXUS 275HS 20.2 MP Point and Shoot Camera">Canon IXUS 275HS 20.2 MP Point and Shoot Camera</a></h5>*@
                                    <h5 class="product-name">
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 17783, itemName = "Canon IXUS 275HS 20.2 MP Point and Shoot Camera".ToLower().Replace(' ', '-'), city = cityName })"
                                           title="Canon IXUS 275HS 20.2 MP Point and Shoot Camera">Canon IXUS 275HS 20.2 MP Point and Shoot Camera</a>
                                    </h5>
                                </div>
                                <div class="left-block">
                                    @*<a href="~/PreviewItem?itemId=17783">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_E8.png">
                                        </a>*@
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 17783, itemName = "Canon IXUS 275HS 20.2 MP Point and Shoot Camera".ToLower().Replace(' ', '-'), city = cityName })">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_E8.png">
                                    </a>
                                    <div class="quick-view">
                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                        @*<a title="Add to compare" class="compare" href="#"></a>*@
                                        <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 17783, itemName = "Canon IXUS 275HS 20.2 MP Point and Shoot Camera".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                    </div>
                                    <div class="add-to-cart">
                                        @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(49632, 17783)">Add to Cart</a>*@
                                        <a title="Add to Cart" onclick="AddProduct(49632, 17783)">Add to Cart</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-4">
                                <div class="right-block">
                                    @*<h5 class="product-name"><a href="~/PreviewItem?itemId=17836" title="Canon EOS 70D Digital SLR Camera with EF-S 18-135 mm IS STM Lens">Canon EOS 70D Digital SLR Camera with EF-S 18-135</a></h5>*@
                                    <h5 class="product-name">
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 17836, itemName = "Canon EOS 70D Digital SLR Camera".ToLower().Replace(' ', '-'), city = cityName })"
                                           title="Canon EOS 70D Digital SLR Camera">Canon EOS 70D Digital SLR Camera</a>
                                    </h5>
                                </div>
                                <div class="left-block">
                                    @*<a href="~/PreviewItem?itemId=17836">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_E9.png">
                                        </a>*@
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 17836, itemName = "Canon EOS 70D Digital SLR Camera".ToLower().Replace(' ', '-'), city = cityName })">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_E9.png">
                                    </a>
                                    <div class="quick-view">
                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                        @*<a title="Add to compare" class="compare" href="#"></a>*@
                                        <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 17836, itemName = "Canon EOS 70D Digital SLR Camera".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                    </div>
                                    <div class="add-to-cart">
                                        @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(51776, 17836)">Add to Cart</a>*@
                                        <a title="Add to Cart" onclick="AddProduct(51776, 17836)">Add to Cart</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-4">
                                <div class="right-block">
                                    @*<h5 class="product-name"><a href="~/PreviewItem?itemId=17846" title="Canon EOS 750D 24.2MP Digital SLR Camera with 18-55 STM Lens">Canon EOS 750D 24.2MP Digital SLR Camera</a></h5>*@
                                    <h5 class="product-name">
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 17846, itemName = "Canon EOS 750D 24.2MP Digital SLR Camera".ToLower().Replace(' ', '-'), city = cityName })"
                                           title="Canon EOS 750D 24.2MP Digital SLR Camera">Canon EOS 750D 24.2MP Digital SLR Camera</a>
                                    </h5>
                                </div>
                                <div class="left-block">
                                    @*<a href="~/PreviewItem?itemId=17846">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_E10.png">
                                        </a>*@
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 17846, itemName = "Canon EOS 750D 24.2MP Digital SLR Camera".ToLower().Replace(' ', '-'), city = cityName })">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_E10.png">
                                    </a>
                                    <div class="quick-view">
                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                        @*<a title="Add to compare" class="compare" href="#"></a>*@
                                        <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 17846, itemName = "Canon EOS 750D 24.2MP Digital SLR Camera".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                    </div>
                                    <div class="add-to-cart">
                                        @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(51784, 17846)">Add to Cart</a>*@
                                        <a title="Add to Cart" onclick="AddProduct(51784, 17846)">Add to Cart</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-4">
                                <div class="right-block">
                                    @*<h5 class="product-name"><a href="~/PreviewItem?itemId=41370" title="Nikon D5300 24.2 MP Digital Camera (Black) with 18-55mm+55-200mm VR Kit Lens">Nikon D5300 24.2 MP Digital Camera (Black)</a></h5>*@
                                    <h5 class="product-name">
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41370, itemName = "Nikon D5300 24.2 MP Digital Camera".ToLower().Replace(' ', '-'), city = cityName })"
                                           title="Nikon D5300 24.2 MP Digital Camera">Nikon D5300 24.2 MP Digital Camera</a>
                                    </h5>
                                </div>
                                <div class="left-block">
                                    @*<a href="~/PreviewItem?itemId=41370">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_E11.png">
                                        </a>*@
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41370, itemName = "Nikon D5300 24.2 MP Digital Camera".ToLower().Replace(' ', '-'), city = cityName })">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_E11.png">
                                    </a>
                                    <div class="quick-view">
                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                        @*<a title="Add to compare" class="compare" href="#"></a>*@
                                        <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 41370, itemName = "Nikon D5300 24.2 MP Digital Camera".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                    </div>
                                    <div class="add-to-cart">
                                        @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(49644, 41370)">Add to Cart</a>*@
                                        <a title="Add to Cart" onclick="AddProduct(49644, 41370)">Add to Cart</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div class="category-featured jewelry">
    <nav class="navbar nav-menu show-brand">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@Audio & Video</a></div>
            <span class="toggle-menu"></span>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" id="pst4"></ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        <div id="elevator-6" class="floor-elevator">
            <a href="#" class="btn-elevator up fa fa-angle-up"></a>
            <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
        </div>
    </nav>
    <div class="product-featured clearfix">
        <div class="row">
            <div class="col-sm-2 sub-category-wapper">
                <ul class="sub-category-list" id="cpy4">
                    <li>
                        @*<a href="~/Product/Products?parentCategoryId=585&item=Headphones & Earphones">*@
                        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "headphones-and-earphones", parentCategoryId = 585, city = cityName })">Headphones & Earphones</a>
                    </li>
                    <li>
                        @*<a href="~/Product/Products?parentCategoryId=553&item=Speakers">*@
                        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "speakers", parentCategoryId = 583, city = cityName })">Speakers</a>
                    </li>
            </ul>
        </div>
        <div class="col-sm-10 col-right-tab">
            <div class="product-featured-tab-content">
                <div class="tab-container">
                    <div class="tab-panel active" id="tab-14">

                        <div class="box-full clearfix">
                            <ul class="product-list row">
                                <li class="col-sm-4">
                                    <div class="right-block">
                                        @*<h5 class="product-name"><a href="~/PreviewItem?itemId=40082" title="Sennheiser CX 180 Street II In-ear-canalphone">Sennheiser CX 180 Street II In-ear-canalphone</a></h5>*@
                                        <h5 class="product-name">
                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 40082, itemName = "Sennheiser CX 180 Street II In-ear-canalphone".ToLower().Replace(' ', '-'), city = cityName })"
                                               title="Sennheiser CX 180 Street II In-ear-canalphone">Sennheiser CX 180 Street II In-ear-canalphone</a>
                                        </h5>
                                    </div>
                                    <div class="left-block">
                                        @*<a href="~/PreviewItem?itemId=40082">
                                                <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_E12.png">
                                            </a>*@
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 40082, itemName = "Sennheiser CX 180 Street II In-ear-canalphone".ToLower().Replace(' ', '-'), city = cityName })">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_E12.png">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to my wishlist" class="heart" href="#"></a>
                                            @*<a title="Add to compare" class="compare" href="#"></a>*@
                                            <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 40082, itemName = "Sennheiser CX 180 Street II In-ear-canalphone".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(51814, 40082)">Add to Cart</a>*@
                                            <a title="Add to Cart" onclick="AddProduct(51814, 40082)">Add to Cart</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-sm-4">
                                    <div class="right-block">
                                        @*<h5 class="product-name"><a href="~/PreviewItem?itemId=40084" title="Sennheiser PC 3 CHAT Wired Headset">Sennheiser PC 3 CHAT Wired Headset</a></h5>*@
                                        <h5 class="product-name">
                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 40084, itemName = "Sennheiser PC 3 CHAT Wired Headset".ToLower().Replace(' ', '-'), city = cityName })"
                                               title="Sennheiser PC 3 CHAT Wired Headset">Sennheiser PC 3 CHAT Wired Headset</a>
                                        </h5>
                                    </div>
                                    <div class="left-block">
                                        @*<a href="~/PreviewItem?itemId=40084">
                                                <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_E13.png">
                                            </a>*@
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 40084, itemName = "Sennheiser PC 3 CHAT Wired Headset".ToLower().Replace(' ', '-'), city = cityName })">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_E13.png">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to my wishlist" class="heart" href="#"></a>
                                            @*<a title="Add to compare" class="compare" href="#"></a>*@
                                            <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 40084, itemName = "Sennheiser PC 3 CHAT Wired Headset".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(51812, 40084)">Add to Cart</a>*@
                                            <a title="Add to Cart" onclick="AddProduct(51812, 40084)">Add to Cart</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="category-featured jewelry">
    <nav class="navbar nav-menu show-brand">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@Mobile &amp; Tablets</a></div>
            <span class="toggle-menu"></span>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" id="pst4"></ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        <div id="elevator-6" class="floor-elevator">
            <a href="#" class="btn-elevator up fa fa-angle-up"></a>
            <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
        </div>
    </nav>
    <div class="product-featured clearfix">
        <div class="row">
            <div class="col-sm-2 sub-category-wapper">
                <ul class="sub-category-list" id="cpy4">
                    <li>
                        @*<a href="~/Product/Products?item=Mobile&parentCategoryId=532">*@
                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "mobile", parentCategoryId = 532, city = cityName })">Mobile</a>
                </li>
                <li>
                    @*<a href="~/Product/Products?item=Mobile%20Accessories&parentCategoryId=534">*@
                <a href="@Url.RouteUrl("ProductsByCategory", new { item = "mobile-accessories", parentCategoryId = 534, city = cityName })">Mobile Accessories</a>
            </li>
            @*<li>
                <a href="~/Product/Products?item=Memory%20Cards&parentCategoryId=10413">
            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "memory-cards", parentCategoryId = 10413, city = cityName })">Memory Cards</a>
        </li>*@
        <li>
            @*<a href="~/Product/Products?item=Earphones&parentCategoryId=543">*@
        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "earphones", parentCategoryId = 543, city = cityName })">Earphones</a>
    </li>
    <li>
        @*<a href="~/Product/Products?item=Power%20Banks&parentCategoryId=541">*@
    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "power-banks", parentCategoryId = 541, city = cityName })">Power Banks</a>
</li>
<li>
    @*<a href="~/Product/Products?item=Speakers&parentCategoryId=533">*@
<a href="@Url.RouteUrl("ProductsByCategory", new { item = "tablets", parentCategoryId = 533, city = cityName })">Tablets</a>
</li>
</ul>
</div>
<div class="col-sm-10 col-right-tab">
    <div class="product-featured-tab-content">
        <div class="tab-container">
            <div class="tab-panel active" id="tab-14">
                <div class="box-full clearfix">
                    <ul class="product-list row">
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=20422" title="SanDisk Ultra micro SDHC UHS-I Card 16GB CLASS 10">SanDisk Ultra micro SDHC UHS-I Card 16GB CLASS 10</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 20422, itemName = "SanDisk Ultra micro SDHC UHS-I Card 16GB".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="SanDisk Ultra micro SDHC UHS-I Card 16GB">SanDisk Ultra micro SDHC UHS-I Card 16GB</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=20422">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_E14.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 20422, itemName = "SanDisk Ultra micro SDHC UHS-I Card 16GB".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_E14.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 20422, itemName = "SanDisk Ultra micro SDHC UHS-I Card 16GB".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(51518, 20422)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(51518, 20422)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=39683" title="iBall Q45 8GB 3G Calling">iBall Q45 8GB 3G Calling</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 39683, itemName = "iBall Q45 8GB 3G Calling".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="iBall Q45 8GB 3G Calling">iBall Q45 8GB 3G Calling</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=39683">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_E15.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 39683, itemName = "iBall Q45 8GB 3G Calling".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_E15.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 39683, itemName = "iBall Q45 8GB 3G Calling".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(51827, 39683)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(51827, 39683)">Add to Cart</a>
                                </div>
                            </div>

                        </li>
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=40124" title="Zebronics 10000 mah ZEB-PG10000 External Power Charger">Zebronics 10000 mah ZEB-PG10000 External Power Charger</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 40124, itemName = "Zebronics 10000 mah ZEB-PG10000 External Power Charger".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Zebronics 10000 mah ZEB-PG10000 External Power Charger">Zebronics 10000 mah ZEB-PG10000 External Power Charger</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=40124">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_E16.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 40124, itemName = "Zebronics 10000 mah ZEB-PG10000 External Power Charger".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_E16.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 40124, itemName = "Zebronics 10000 mah ZEB-PG10000 External Power Charger".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(51750, 40124)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(51750, 40124)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=40172" title="Zebronics zeb-em600 In-the-ear Multipurpose Wired Earphones with Mic- Black & Red">Zebronics zeb-em600 In-the-ear Multipurpose Wired Earphones</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 40172, itemName = "Zebronics zeb-em600 In-the-ear Multipurpose".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Zebronics zeb-em600 In-the-ear Multipurpose">Zebronics zeb-em600 In-the-ear Multipurpose</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=40172">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_E17.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 40172, itemName = "Zebronics zeb-em600 In-the-ear Multipurpose".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_E17.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 40172, itemName = "Zebronics zeb-em600 In-the-ear Multipurpose".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(51737, 40172)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(51737, 40172)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=40268" title="Zebronics BH650II Wireless Bluetooth Headset">Zebronics BH650II Wireless Bluetooth Headset</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 40268, itemName = "Zebronics BH650II Wireless Bluetooth Headset".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Zebronics BH650II Wireless Bluetooth Headset">Zebronics BH650II Wireless Bluetooth Headset</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=40268">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_E18.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 40268, itemName = "Zebronics BH650II Wireless Bluetooth Headset".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_E18.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 40268, itemName = "Zebronics BH650II Wireless Bluetooth Headset".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(51713, 40268)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(51713, 40268)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>


<div class="category-featured jewelry">
    <nav class="navbar nav-menu show-brand">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@Office Equipment</a></div>
            <span class="toggle-menu"></span>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" id="pst4"></ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        <div id="elevator-6" class="floor-elevator">
            <a href="#" class="btn-elevator up fa fa-angle-up"></a>
            <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
        </div>
    </nav>
    <div class="product-featured clearfix">
        <div class="row">
            <div class="col-sm-2 sub-category-wapper">
                <ul class="sub-category-list" id="cpy4">
                    <li>
                        @*<a href="~/Product/Products?item=CashCounting%20Machine&parentCategoryId=1383">*@
                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "cash-counting-machine", parentCategoryId = 1383, city = cityName })">Cash Counting Machine</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-10 col-right-tab">
            <div class="product-featured-tab-content">
                <div class="tab-container">
                    <div class="tab-panel active" id="tab-14">
                        <div class="box-full clearfix">
                            <ul class="product-list row">
                                <li class="col-sm-4">
                                    <div class="right-block">
                                        @*<h5 class="product-name"><a href="~/PreviewItem?itemId=41359" title="Kores Easycount 441 Cash Counting Machine">Kores Easycount 441 Cash Counting Machine</a></h5>*@
                                        <h5 class="product-name">
                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41359, itemName = "Kores Easycount 441 Cash Counting Machine".ToLower().Replace(' ', '-'), city = cityName })"
                                               title="Kores Easycount 441 Cash Counting Machine">Kores Easycount 441 Cash Counting Machine</a>
                                        </h5>
                                    </div>
                                    <div class="left-block">
                                        @*<a href="~/PreviewItem?itemId=41359">
                                                <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_E19.png">
                                            </a>*@
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41359, itemName = "Kores Easycount 441 Cash Counting Machine".ToLower().Replace(' ', '-'), city = cityName })">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_E19.png">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to my wishlist" class="heart" href="#"></a>
                                            @*<a title="Add to compare" class="compare" href="#"></a>*@
                                            <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 41359, itemName = "Kores Easycount 441 Cash Counting Machine".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(51496, 41359)">Add to Cart</a>*@
                                            <a title="Add to Cart" onclick="AddProduct(51496, 41359)">Add to Cart</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div class="container containernew1 span12">
    <div class="FootTextDiv">
        <p class="indent-paragraph " style="text-align:justify;">
            <span class="footerdetail">Electronics Avenue</span><br />
            Today, we all are surrounded by electronic gadgets and devices, which we use in numerous forms including mobile phones, cameras, gaming devices, computers, TVs, music systems, AC's, and the list goes on. In India, it is needless to say that the use of electronic devices is increasing with every passing day. Hence, devices like tablets, smartphones, MP3 players and cameras have become mandatory products for the modern day Indian consumers. Considering the ease and good deals online, more and more consumers are opting for online shopping. You get your favourite brands here with their wide range of electronic products at reasonable cost.
            Gandhibagh.com helps you to lead a smarter life by keeping abreast the consumers with the latest technology based devices allowing them to entertain and benefit the best. Right from arming yourself with the best video, audio and gaming devices to catering high quality smart and stylish kitchen and cooking appliances, the store has loads to offer in this category. You can choose the same from a wide range of brands along with loads of electronic product categories like desktops & laptops, Mobile Phones, Smartphones, Tablets, Digital Cameras, LED/LCD TV, Air Conditioners, Refrigerators, Air Coolers, Washing Machines, Fans and a number of Kitchen based appliances like Induction Cookers, Food Processors, Microwave Ovens, Coffee/Tea Makers, Microwave Ovens, Fryers, Juicer Mixer Grinders, etc.
            Buying electronic gadgets and devices from Gandhibagh.com can render you the opportunity to explore a huge list of electronic products and devices online, which you may fail to find at any local brick and mortar store. Shopping online is certainly not a difficult task, however, shopping at a right online store counts a lot. An online store, which promises high quality products backed by reasonable price tags along with effective customer services. At Gandhibagh.com, you can find a wide range of electronic products at the most competitive cost along with smooth customer service.
            Having its base in Central India, Gandhibagh.com has come a long way carving its niche in the e-commerce world for delivery quality products at reasonable price at your doorstep with no delay. The store maintains great transparency with its customers and business partners to enable smooth and effective business relationship in between the two. If you are one of those customers waiting to buy electronic devices, you have reached out at the best place to shop online.<br /><br />
        </p>
    </div>
</div>
