@{
    ViewBag.Title = "Electricals & Lighting | Gandhibagh.com";
    string cityName = "";
    if (Request.Cookies["CityCookie"] != null && Request.Cookies["CityCookie"].Value != "")
    {
        cityName = Request.Cookies["CityCookie"].Value.Split('$')[1].ToLower();
    }
}
<link href="~/Content/Home-content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
<script src="~/Content/js/Bedcrumbs.js"></script>
<style>
    .margin-setTop {
        margin-top: -33px;
    }

    .heart {
        display: none !important;
    }
</style>
<script type="text/javascript">
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<script src="~/Content/update(5-10)/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var newClone1 = $("#cpy1").html();
        var newClone1 = $("#cpy2").html();
        var newClone1 = $("#cpy3").html();
        var newClone1 = $("#cpy4").html();

        if ($(window).width() < 750) {
            // alert("1");
            $(newClone1).clone().appendTo("#pst1");
            $(newClone1).clone().appendTo("#pst2");
            $(newClone1).clone().appendTo("#pst3");
            $(newClone1).clone().appendTo("#pst4");

        } else {
            $("#pst1").empty();
            $("#pst2").empty();
            $("#pst3").empty();
            //<a href="~/Content/test.html">~/Content/test.html</a>
            $("#pst4").empty();

        }
    });
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<script src="~/Scripts/Products.js"></script>

<div class="container margin-setTop">
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">Fans And Air Cooler</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst1"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="<li>sub-category-list" id="cpy1">
                        @*<li><a href="">Table Fan</a></li>*@
                        <li><a href="@Url.RouteUrl("ProductsByCategory", new { item = "table-fan", parentCategoryId =479 , city = cityName })">Table Fan</a></li>
                        @*<li><a href="">Wall fan</a></li>*@
                        <li><a href="@Url.RouteUrl("ProductsByCategory", new { item = "wall-fan", parentCategoryId = 480, city = cityName })">Wall Fan</a></li>
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 45042, itemName = "Polar Mistral Table Fan 400 MM".ToLower().Replace(' ', '-'), city = cityName })" title="Polar Mistral Table Fan 400 MM">Polar Mistral Table Fan 400 MM</a></h5>
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=45042" title="Polar Mistral Table Fan 400 MM">Polar Mistral Table Fan 400 MM</a></h5>*@
                                            </div>
                                            <div class="left-block">
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 45042, itemName = "Polar Mistral Table Fan 400 MM".ToLower().Replace(' ', '-'), city = cityName })">
                                                    @* <a href="~/PreviewItem?itemId=45042">  *@
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_45042.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    @*<a title="Quick view" class="search" href="~/PreviewItem?itemId=45042"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 45042, itemName = "Polar Mistral Table Fan 400 MM".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(61165,45042)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(61165,45042)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 45040, itemName = "Khaitan 12 Paloma Cabin Fan Wall Fan".ToLower().Replace(' ', '-'), city = cityName })" title="Khaitan 12 Paloma Cabin Fan Wall Fan">Khaitan 12 Paloma Cabin Fan Wall Fan</a></h5>
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=45040" title="Khaitan 12 Paloma Cabin Fan Wall Fan">Khaitan 12 Paloma Cabin Fan Wall Fan</a></h5>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=45040">*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 45040, itemName = "Khaitan 12 Paloma Cabin Fan Wall Fan".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_45040.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    @*<a title="Quick view" class="search" href="~/PreviewItem?itemId=45040"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 45040, itemName = "Khaitan 12 Paloma Cabin Fan Wall Fan".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(61163,45040)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(61163,45040)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="container containernew1 span12">
    <div class="FootTextDiv">
        <p class="indent-paragraph " style="text-align:justify;">
            <span class="footerdetail">Electrical Market</span><br />
            Welcome to Gandhibagh.com, your electrical E-Store.
            Just give a glance around and we can find how, we are surrounded with a number of electrical products, which illuminate our life with happiness and glee. The electrical products like bulbs, wires, cables, pumps, motors, inverters and batteries to name a few are part and parcel of our life. With the vision of adding ease in shopping a number of electrical products for our online consumers, you can find almost all the electrical products with us. The shopping portal aims to replace all the darkness with light inside your home along with a number of other products, which can make your home, office or club turn effective and productive.
            Gandhibagh.com is one of the leading online stores in Central India, catering high quality and guaranteed electrical products at the most reasonable cost backed with incredibly simple and user friendly shopping experience through the most trusted and secured gateway for credit/debit card and net banking payment options. Here you can buy the branded electrical products conforming the standards of safety and quality like Batteries, Cable & Amp Connectors, USBs, Adapters, Decorative lights, Electric Fittings & Components, Inverters and Network & Lan accessories from a wide range of brands. You can browse a wide array of high quality electrical products at our shopping portal with proper images and complete description, which help the online consumers to have a right buying decision.
            Gandhibagh.com is backed by an established group from Central India, known to cater high quality electrical and other products with competitive cost, quick delivery, customer friendly services, efficient logistics/supply chain management and robust sourcing relationships. With our user friendly web designs and simple navigation, you can find all the electrical products with ease, compare the same with others and find the one, which suits the best to you and your requirements. The technical details found across all the electrical products available with us can help in finding products as per your norms and requirements, making the online store as the one stop solutions for all your electrical requirements. Our consumers feel at home while shopping at Gandhibagh.com and meet up all their electrical requirements giving them a hassle free and best shopping experience.
            Happy Shopping!<br /><br />
        </p>
    </div>
</div>
