@model ModelLayer.Models.ViewModel.ShopProductVarientViewModelCollection
@{
    string cityName = "";
    ViewBag.Title = "Gandhibagh: Buy Online Electronics, Jewellaries, cloths, collectibles  ";
    if (Request.Cookies["CityCookie"] != null)
    {
        cityName = Request.Cookies["CityCookie"].Value.Split('$')[1].ToLower();
        Layout = "~/Views/Shared/_Layout1" + cityName + ".cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout1Varanasi.cshtml";
    }
}
<script type="text/javascript">
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<link href="~/Content/Fastival/fastival.css" rel="stylesheet" />
<link href="~/Content/Fastival/style.css" rel="stylesheet" />
<script type="text/javascript">
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<!--Start Content-->
<div class="fastivalWrapper">
    <div class="fastivalContent">
        <!--Start Product Div-->
        <div class="fastivalProduct">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/V17.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Kites (Plain) Medium</h3>

                                    <label><span>Rs.</span>60.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44619, itemName = "Kites (Plain) Medium".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Kites (Plain) Medium">View</a>
                                </div>
                                <div class="car-festival">

                                    <a title="Add to Cart" onclick="AddProduct(60546, 44619)"></a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/V18.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Kites (Addha)Medium</h3>

                                    <label><span>Rs.</span>240.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44624, itemName = "Kites (Addha)Medium".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Kites (Addha)Medium">View</a>
                                </div>
                                <div class="car-festival">

                                    <a title="Add to Cart" onclick="AddProduct(60554, 44624)"></a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/V21.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Shree Black Tilli Laddu</h3>
                                    <label class="mrp-festival"><span>Rs.</span>40.00</label>
                                    <label><span>Rs.</span>28.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44711, itemName = "Shree Black Tilli Laddu".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Shree Black Tilli Laddu">View</a>
                                </div>
                                <div class="car-festival">

                                    <a title="Add to Cart" onclick="AddProduct(60661, 44711)"></a>
                                </div>
                                <div class="fast-offer">
                                    <span>30% off</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/V22.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Shree White Tilli Laddu</h3>
                                    <label class="mrp-festival"><span>Rs.</span>40.00</label>
                                    <label><span>Rs.</span>28.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44710, itemName = "Shree White Tilli Laddu".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Shree White Tilli Laddu">View</a>
                                </div>
                                <div class="car-festival">

                                    <a title="Add to Cart" onclick="AddProduct(60660, 44710)"></a>
                                </div>
                                <div class="fast-offer">
                                    <span>30% off</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-3 col-sm-3">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/V23.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Muskaan's Mix Chikki&Gazak 500gm</h3>
                                    <label class="mrp-festival"><span>Rs.</span>130.00</label>
                                    <label><span>Rs.</span>80.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44709, itemName = "Muskaan's Mix Chikki&Gazak 500gm".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Muskaan's Mix Chikki&Gazak 500gm">View</a>
                                </div>
                                <div class="car-festival">

                                    <a title="Add to Cart" onclick="AddProduct(60659, 44709)"></a>
                                </div>
                                <div class="fast-offer">
                                    <span>38% off</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/V24.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3> Muskaan's Chikki(Badam Patti)500gm</h3>
                                    <label class="mrp-festival"><span>Rs.</span>120.00</label>
                                    <label><span>Rs.</span>60.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44707, itemName = "Muskaan's Chikki(Badam Patti)500gm".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Muskaan's Chikki(Badam Patti)500gm">View</a>
                                </div>
                                <div class="car-festival">

                                    <a title="Add to Cart" onclick="AddProduct(60657, 44707)"></a>
                                </div>
                                <div class="fast-offer">
                                    <span>50% off</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/V14.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Schmitten Combo BIG</h3>
                                    <label class="mrp-festival"><span>Rs.</span> 599.00</label>
                                    <label><span>Rs.</span> 569.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44061, itemName = "Schmitten Combo BIG".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Schmitten Combo BIG">View</a>
                                </div>
                                <div class="car-festival">

                                    <a title="Add to Cart" onclick="AddProduct(59250, 44061)"></a>
                                </div>
                                <div class="fast-offer">
                                    <span>05% off</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/V15.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Black Forest Choco Chips Egg Cake</h3>
                                    <label class="mrp-festival"><span>Rs.</span> 500.00</label>
                                    <label><span>Rs.</span> 450.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43123, itemName = "Black Forest Choco Chips Egg Cake".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Black Forest Choco Chips Egg Cake">View</a>
                                </div>
                                <div class="car-festival">

                                    <a title="Add to Cart" onclick="AddProduct(53792, 43123)"></a>
                                </div>
                                <div class="fast-offer">
                                    <span>10% off</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/V.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Mix Bouquet(20 Flowers)</h3>
                                    <label class="mrp-festival"><span>Rs.</span> 350.00</label>
                                    <label><span>Rs.</span> 275.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43956, itemName = "Mix Bouquet(20 Flowers)".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Mix Bouquet(20 Flowers)">View</a>
                                </div>
                                <div class="car-festival">

                                    <a title="Add to Cart" onclick="AddProduct(58945, 43956)"></a>
                                </div>
                                <div class="fast-offer">
                                    <span>21% off</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/V1.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Mix Bouquet(8 Flowers)</h3>
                                    <label class="mrp-festival"><span>Rs.</span> 250.00</label>
                                    <label><span>Rs.</span> 125.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43955, itemName = "Mix Bouquet(8 Flowers)".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Mix Bouquet(8 Flowers)">View</a>
                                </div>
                                <div class="car-festival">

                                    <a title="Add to Cart" onclick="AddProduct(58944, 43955)"></a>
                                </div>
                                <div class="fast-offer">
                                    <span>50% off</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/V2.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Mix Bouquet(22 Flowers)</h3>
                                    <label class="mrp-festival"><span>Rs.</span> 500.00</label>
                                    <label><span>Rs.</span> 375.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43954, itemName = "Mix Bouquet(22 Flowers)".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Mix Bouquet(22 Flowers)">View</a>
                                </div>
                                <div class="car-festival">

                                    <a title="Add to Cart" onclick="AddProduct(58943, 43954)"></a>
                                </div>
                                <div class="fast-offer">
                                    <span>25% off</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/V3.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Nature Fresh Refined Soyabean Oil</h3>
                                    <label class="mrp-festival"><span>Rs.</span> 110.00</label>
                                    <label><span>Rs.</span> 74.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42922, itemName = "Nature Fresh Refined Soyabean Oil".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Nature Fresh Refined Soyabean Oil">View</a>
                                </div>
                                <div class="car-festival">

                                    <a title="Add to Cart" onclick="AddProduct(58440, 42922)"></a>
                                </div>
                                <div class="fast-offer">
                                    <span>32% off</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/V4.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Nature Fresh Atta - Chakki Fresh, 10 kg Bag</h3>
                                    <label class="mrp-festival"><span>Rs.</span> 340.00</label>
                                    <label><span>Rs.</span> 284.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 21022, itemName = "Nature Fresh Atta - Chakki Fresh".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Nature Fresh Atta - Chakki Fresh">View</a>
                                </div>
                                <div class="car-festival">

                                    <a title="Add to Cart" onclick="AddProduct(58555, 21022)"></a>
                                </div>
                                <div class="fast-offer">
                                    <span>16% off</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/V5.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Lotto PACER Running Sports Shoes</h3>
                                    <label class="mrp-festival"><span>Rs.</span> 2,499.00</label>
                                    <label><span>Rs.</span> 1,374.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42418, itemName = "Lotto PACER Running Sports Shoes".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Lotto PACER Running Sports Shoes">View</a>
                                </div>
                                <div class="car-festival">

                                    <a title="Add to Cart" onclick="AddProduct(50069, 42418)"></a>
                                </div>
                                <div class="fast-offer">
                                    <span>45% off</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/V6.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Lotto Play Running Sport Shoes</h3>
                                    <label class="mrp-festival"><span>Rs.</span> 1,999.00</label>
                                    <label><span>Rs.</span> 1,099.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42419, itemName = "Lotto Play Running Sport Shoes".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Lotto Play Running Sport Shoes">View</a>
                                </div>
                                <div class="car-festival">

                                    <a title="Add to Cart" onclick="AddProduct(50073, 42419)"></a>
                                </div>
                                <div class="fast-offer">
                                    <span>45% off</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/V7.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Woodland Camel (NUBUK) G4092Y15</h3>
                                    <label class="mrp-festival"><span>Rs.</span> 3,695.00</label>
                                    <label><span>Rs.</span> 3,067.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43935, itemName = "Woodland Camel (NUBUK) G4092Y15".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Woodland Camel (NUBUK) G4092Y15">View</a>
                                </div>
                                <div class="car-festival">

                                    <a title="Add to Cart" onclick="AddProduct(58897, 43935)"></a>
                                </div>
                                <div class="fast-offer">
                                    <span>16% off</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/V8.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Woodland Camel (NUBUK) GC0549</h3>
                                    <label class="mrp-festival"><span>Rs.</span> 3,595.00</label>
                                    <label><span>Rs.</span> 2,984.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43933, itemName = "Woodland Camel (NUBUK) GC0549".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Woodland Camel (NUBUK) GC0549">View</a>
                                </div>
                                <div class="car-festival">

                                    <a title="Add to Cart" onclick="AddProduct(58886, 43933)"></a>
                                </div>
                                <div class="fast-offer">
                                    <span>16% off</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/V9.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Woodland Camel (NUBUK) G777Y14</h3>
                                    <label class="mrp-festival"><span>Rs.</span> 2,795.00</label>
                                    <label><span>Rs.</span> 2,320.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43932, itemName = "Woodland Camel (NUBUK) G777Y14".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Woodland Camel (NUBUK) G777Y14">View</a>
                                </div>
                                <div class="car-festival">

                                    <a title="Add to Cart" onclick="AddProduct(58880, 43932)"></a>
                                </div>
                                <div class="fast-offer">
                                    <span>45% off</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/V10.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Schmitten Hoppits Luxury Pack</h3>
                                    <label class="mrp-festival"><span>Rs.</span> 155.00</label>
                                    <label><span>Rs.</span> 147.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44060, itemName = "Schmitten Hoppits Luxury Pack".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Schmitten Hoppits Luxury Pack">View</a>
                                </div>
                                <div class="car-festival">

                                    <a title="Add to Cart" onclick="AddProduct(59249, 44060)"></a>
                                </div>
                                <div class="fast-offer">
                                    <span>05% off</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/V11.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Schmitten Combo Mini</h3>
                                    <label class="mrp-festival"><span>Rs.</span> 299.00</label>
                                    <label><span>Rs.</span> 284.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44057, itemName = "Schmitten Combo Mini".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Schmitten Combo Mini">View</a>
                                </div>
                                <div class="car-festival">

                                    <a title="Add to Cart" onclick="AddProduct(59246, 44057)"></a>
                                </div>
                                <div class="fast-offer">
                                    <span>05% off</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/V12.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Schmitten Luxury Collection Mini</h3>
                                    <label class="mrp-festival"><span>Rs.</span> 700.00</label>
                                    <label><span>Rs.</span> 665.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44058, itemName = "Schmitten Luxury Collection Mini".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Schmitten Luxury Collection Mini">View</a>
                                </div>
                                <div class="car-festival">

                                    <a title="Add to Cart" onclick="AddProduct(59247, 44058)"></a>
                                </div>
                                <div class="fast-offer">
                                    <span>05% off</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/V13.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Schmitten Luxury Pack</h3>
                                    <label class="mrp-festival"><span>Rs.</span> 150.00</label>
                                    <label><span>Rs.</span> 143.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44059, itemName = "Schmitten Luxury Pack".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Schmitten Luxury Pack">View</a>
                                </div>
                                <div class="car-festival">

                                    <a title="Add to Cart" onclick="AddProduct(59248, 44059)"></a>
                                </div>
                                <div class="fast-offer">
                                    <span>04% off</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
