@model ModelLayer.Models.ViewModel.ShopProductVarientViewModelCollection
@{
    string cityName = "";
    ViewBag.Title = "Gandhibagh: Buy Online Electronics, Jewellaries, cloths, collectibles  ";
    if (Request.Cookies["CityCookie"] != null)
    {
        cityName = Request.Cookies["CityCookie"].Value.Split('$')[1].ToLower();
        Layout = "~/Views/Shared/_Layout1" + cityName + ".cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout1Wardha.cshtml";
    }
}

<link href="~/Content/Fastival/fastival.css" rel="stylesheet" />
<script type="text/javascript">
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<div id="flake">&#10052;</div>
<div class="slide-slow">
    <div class="inner">
        <img src="~/Content/Fastival/Images/butterfly.gif" alt="butterfly">
    </div>
</div>
<div class="slide-slow1">
    <div class="inner">
        <img src="~/Content/Fastival/Images/butterfly.gif" alt="butterfly">
    </div>
</div>
<div class="saparet-bg">
    <marquee>
        <img src="~/Content/Fastival/Images/0_santa32c4.gif" height="70" width="200" />
    </marquee>
</div>
<!--Start Content-->
<div class="fastivalWrapper">
    <div class="fastivalContent">
        <div class="fastivalHeading">
            <a href="#">
                <img src="~/Content/Fastival/Images/christmas-bells-ringing.gif" class="zingal-bell" /><img class="embeddedObject" src="~/Content/Fastival/Images/MRYXMAS021Ea1b2a.gif" width="244" height="80" border="0" alt="Merry Christmas" /><img src="~/Content/Fastival/Images/christmas-bells-ringing.gif" class="zingal-bell" />
            </a>
        </div>
        <!--Start Product Div-->
        <div class="fastivalProduct">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/42398.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Santa Face Mask 5pcs</h3>
                                    <label><span>Rs.</span> 25.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42398, itemName = "Santa Face Mask 5pcs".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Santa Face Mask 5pcs">View</a>
                                </div>
                                <div class="car-festival">

                                    <a title="Add to Cart" onclick="AddProduct(55375, 42398)"></a>
                                </div>
                                <div class="fast-offer">
                                    <span>16% off</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/WC2.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Decorative Hanging Thermocol Bells 6pcs</h3>
                                    <label><span>Rs.</span> 48.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42369, itemName = "Decorative Hanging Thermocol Bells 6pcs".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Decorative Hanging Thermocol Bells 6pcs">View</a>
                                </div>
                                <div class="car-festival">

                                    <a title="Add to Cart" onclick="AddProduct(55410, 42369)"></a>
                                </div>
                                <div class="fast-offer">
                                    <span>20% off</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/WC3.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Wall Sticker For Christmas</h3>
                                    <label><span>Rs.</span> 525.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42399, itemName = "Wall Sticker For Christmas".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Wall Sticker For Christmas">View</a>
                                </div>
                                <div class="car-festival">
                                    <a title="Add to Cart" onclick="AddProduct(55370, 42399)"></a>
                                </div>
                                <div class="fast-offer">
                                    <span>2% off</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/42374.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Christmas Decorative Drums (12 pcs)</h3>
                                    <label><span>Rs.</span> 60.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42374, itemName = "Christmas Decorative Drums (12 pcs)".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Christmas Decorative Drums (12 pcs)">View</a>
                                </div>
                                <div class="car-festival">
                                    <a title="Add to Cart" onclick="AddProduct(55401, 42374)"></a>
                                </div>
                                <div class="fast-offer">
                                    <span>14% off</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/WC4.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Christmas Decorations Tree Hanging Red Santa (6 pcs)</h3>
                                    <label><span>Rs.</span> 36.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42372, itemName = "Christmas Decorations Tree Hanging Red".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Christmas Decorations Tree Hanging Red">View</a>
                                </div>
                                <div class="car-festival">
                                    <a title="Add to Cart" onclick="AddProduct(55406, 42372)"></a>
                                </div>
                                <div class="fast-offer">
                                    <span>28% off</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/42386.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Christmas Tree ( 3 Feet)</h3>
                                    <label><span>Rs.</span> 100.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42386, itemName = "Christmas Tree ( 3 Feet)".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Christmas Tree ( 3 Feet)">View</a>
                                </div>
                                <div class="car-festival">
                                    <a title="Add to Cart" onclick="AddProduct(55372, 42386)"></a>
                                </div>

                                <div class="fast-offer">
                                    <span>16% off</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="jm-item first">
                            <div class="jm-item-wrapper">
                                <div class="jm-item-image">
                                    <div class="img-festival-product">
                                        <img src="~/Content/Fastival/Images/WC6.jpg" class="img-responsive" />
                                    </div>
                                    <div class="pro-cont">
                                        <h3>Christmas Wall Sticker (12 pcs)</h3>
                                        <label><span>Rs.</span> 35.00</label>
                                    </div>
                                    <span class="jm-item-overlay"> </span>
                                    <div class="jm-item-button">
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42392, itemName = "Christmas Wall Sticker (12 pcs)".ToLower().Replace(' ', '-'), city = cityName })"
                                           title="Christmas Wall Sticker (12 pcs)">View</a>
                                    </div>
                                    <div class="car-festival">
                                        <a title="Add to Cart" onclick="AddProduct(55382, 42392)"></a>
                                    </div>
                                    <div class="fast-offer">
                                        <span>12% off</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="jm-item first">
                            <div class="jm-item-wrapper">
                                <div class="jm-item-image">
                                    <div class="img-festival-product">
                                        <img src="~/Content/Fastival/Images/WC5.jpg" class="img-responsive" />
                                    </div>
                                    <div class="pro-cont">
                                        <h3>Decorative Ball (Medium) (12 pcs)</h3>
                                        <label><span>Rs.</span> 25.00</label>
                                    </div>
                                    <span class="jm-item-overlay"> </span>
                                    <div class="jm-item-button">
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42463, itemName = "Decorative Ball (Medium) (12 pcs)".ToLower().Replace(' ', '-'), city = cityName })"
                                           title="Decorative Ball (Medium) (12 pcs)">View</a>
                                    </div>
                                    <div class="car-festival">
                                        <a title="Add to Cart" onclick="AddProduct(55360, 42463)"></a>
                                    </div>
                                    <div class="fast-offer">
                                        <span>16% off</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style type="text/css">
        .container {
            width: 100%;
        }

        .fastivalWrapper {
            background: url(../../Content/Fastival/Images/christmas-background-tiles125.gif) repeat 0 0;
            min-height: 500px;
        }

        .fastivalHeading {
            text-align: center;
            padding: 10px;
        }

        #canvas {
            border: 1px solid black;
            position: absolute;
            z-index: 10000;
        }

        #flake {
            color: #fff;
            position: absolute;
            font-size: 25px;
            top: -50px;
        }

        #page {
            position: relative;
        }
    </style>
    <script src="~/Scripts/Products.js"></script>
    <script>
        var t = setInterval(
            function () {
                var documentHeight = $(document).height();
                var startPositionLeft = Math.random() * $(document).width() - 100;
                var startOpacity = 0.5 + Math.random();
                var sizeFlake = 10 + Math.random() * 20;
                var endPositionTop = documentHeight - 40;
                var endPositionLeft = startPositionLeft - 100 + Math.random() * 200;
                var durationFall = documentHeight * 10 + Math.random() * 5000;
                $('#flake')
                    .clone()
                    .appendTo('body')
                    .css(
                        {
                            left: startPositionLeft,
                            opacity: startOpacity,
                            'font-size': sizeFlake
                        }
                    )
                    .animate(
                        {
                            top: endPositionTop,
                            left: endPositionLeft,
                            opacity: 0.2
                        },
                        durationFall,
                        'linear',
                        function () {
                            $(this).remove()
                        }
                    );
            }, 500);
        var snow = {};
        var snowflex = {};
        snowflex.create = function () {
            var flex = document.createElement('div');
            flex.innerHTML = "&#10052;";
            flex.style.fontSize = 10 + Math.random() * 20 + 'px';
            flex.style.top = -50 + Math.random() * 20 + 'px';
            flex.style.left = Math.random() * 1500 + 'px';
            flex.style.position = "absolute";
            flex.style.color = "#F3F3F3";
            flex.style.opacity = Math.random();
            document.getElementsByTagName('body')[0].appendChild(flex);
            return flex;
        };
        snow.snowflex = function () {
            var flex = snowflex.create();
            var x = -1 + Math.random() * 2;
            var t = setInterval(
                        function () {
                            flex.style.top = parseInt(flex.style.top) + 5 + 'px';
                            flex.style.left = parseInt(flex.style.left) + x + 'px';
                            if (parseInt(flex.style.top) > 1500) {
                                clearInterval(t);
                                document.getElementsByTagName('body')[0].removeChild(flex);
                            }
                        }, 45 + Math.random() * 20);
        };
        snow.storm = function () {
            var t = setInterval(
                        function () {
                            snow.snowflex();
                        }, 500);
        };
        var fog = {};
        fog.draw = function (ctx, x, y) {

            ctx.fillStyle = "rgba( 255, 255, 255, " + Math.random() + " )";
            ctx.arc(x, y, 10, 0, Math.PI * 2, true);
            ctx.closePath();
            ctx.fill();
        };
        fog.start = function () {
            var ctx = document.getElementById('canvas').getContext("2d");
            var x = 0;
            var y = 0;
            var t = setInterval(
                        function () {
                            x = 300 + 300 * Math.sin(x);
                            y = 300 + 300 * -Math.cos(x);
                            x += 2;
                            fog.draw(ctx, x, y);

                        }, 100);
        };
    </script>
