@model ModelLayer.Models.ViewModel.ShopProductVarientViewModelCollection
@{
    ViewBag.Title = "Gandhibagh: Buy Online Electronics, Jewellaries, cloths, collectibles  ";
    string cityName = "";
    if (Request.Cookies["CityCookie"] != null)
    {
        cityName = Request.Cookies["CityCookie"].Value.Split('$')[1].ToLower();
        Layout = "~/Views/Shared/_Layout1" + cityName + ".cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout1Nagpur.cshtml";
    }
}
<script type="text/javascript">
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<link href="~/Content/Fastival/fastival.css" rel="stylesheet" />
<link href="~/Content/Fastival/style.css" rel="stylesheet" />

<div id="flake">&#10052;</div>

<!--Start Content-->
<div class="fastivalWrapper">
    <div class="fastivalContent">
        <div class="fastivalHeading">
            <a href="#">

            </a>
        </div>
        <!--Start Product Div-->
        <div class="fastivalProduct">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/life_01-min.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Mens Stylish Formal Tuxedo Suit Coat Jacket & Trouser No Shirt & Tie - MS-27</h3>
                                    <label><span>Rs.</span> 1,450.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43310, itemName = "Mens Stylish Formal Tuxedo Suit".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Mens Stylish Formal Tuxedo Suit">View</a>
                                </div>
                                <div class="car-festival">
                                    <a title="Add to Cart" onclick="AddProduct(54603, 43310)"></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/life_02-min.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Men's MT-37 Premium Non Pleated Formal Black Trouser Blended Fabric</h3>
                                    <label><span>Rs.</span> 295.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43352, itemName = "Men's MT-37 Premium Non Pleated Formal".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Men's MT-37 Premium Non Pleated Formal">View</a>
                                </div>
                                <div class="car-festival">
                                    <a title="Add to Cart" onclick="AddProduct(54818, 43352)"></a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/life_03-min.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Mens Stylish Formal Tuxedo Suit Jacket & Trouser No Shirt & Tie - MS-34</h3>
                                    <label><span>Rs.</span> 1350.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43326, itemName = "Mens Stylish Formal Tuxedo Suit".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Mens Stylish Formal Tuxedo Suit">View</a>
                                </div>
                                <div class="car-festival">

                                    <a title="Add to Cart" onclick="AddProduct(54655, 43326)"></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/life_04-min.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Nehru-Modi Jacket NJU-16</h3>
                                    <label><span>Rs.</span> 650.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 22486, itemName = "Nehru-Modi Jacket NJU-16".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Nehru-Modi Jacket NJU-16">View</a>
                                </div>
                                <div class="car-festival">

                                    <a title="Add to Cart" onclick="AddProduct(13126, 22486)"></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/appli_01-min.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Recon Melamine Rico Dinner Set of 40 Piece-001</h3>
                                    <label class="mrp-festival"><span>Rs.</span> 1,633.00</label>
                                    <label><span>Rs.</span> 1,470.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 29384, itemName = "Recon Melamine Rico Dinner Set".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Recon Melamine Rico Dinner Set">View</a>
                                </div>
                                <div class="car-festival">

                                    <a title="Add to Cart" onclick="AddProduct(34068, 29384)"></a>
                                </div>
                                <div class="fast-offer">
                                    <span>09% off</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/appli_02-min.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Recon Soup Set REM-2006 Pack of 18</h3>
                                    <label class="mrp-festival"><span>Rs.</span> 1,500.00</label>
                                    <label><span>Rs.</span> 550.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 29102, itemName = "Recon Soup Set REM-2006 Pack".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Recon Soup Set REM-2006 Pack">View</a>
                                </div>
                                <div class="car-festival">
                                    <a title="Add to Cart" onclick="AddProduct(33601, 29102)"></a>
                                </div>

                                <div class="fast-offer">
                                    <span>63% off</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/appli_03-min.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>LG 20 litre MS2021CW Microwave Oven Solo Microwave Oven White</h3>
                                    <label class="mrp-festival"><span>Rs.</span> 6,990.00</label>
                                    <label><span>Rs.</span> 53008.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 9949, itemName = "LG 20 litre MS2021CW Microwave Oven".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="LG 20 litre MS2021CW Microwave Oven">View</a>
                                </div>
                                <div class="car-festival">
                                    <a title="Add to Cart" onclick="AddProduct(33979, 9949)"></a>
                                </div>
                                <div class="fast-offer">
                                    <span>24% off</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/appli_04-min.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Hawkins Classic Pressure Cooker</h3>
                                    <label class="mrp-festival"><span>Rs.</span> 915.00</label>
                                    <label><span>Rs.</span> 851.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 40641, itemName = "Hawkins Classic Pressure Cooker".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Hawkins Classic Pressure Cooker">View</a>
                                </div>
                                <div class="car-festival">

                                    <a title="Add to Cart" onclick="AddProduct(46352, 40641)"></a>
                                </div>
                                <div class="fast-offer">
                                    <span>06% off</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/elect_01-min.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Designer Universal 7inch Tablet Flip Cover With 360 Rotating Stand</h3>
                                    <label class="mrp-festival"><span>Rs.</span> 500.00</label>
                                    <label><span>Rs.</span> 250.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43247, itemName = "Designer Universal 7inch Tablet".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Designer Universal 7inch Tablet">View</a>
                                </div>
                                <div class="car-festival">

                                    <a title="Add to Cart" onclick="AddProduct(54349, 43247)"></a>
                                </div>
                                <div class="fast-offer">
                                    <span>50% off</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/elect_02-min.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Sandisk OTG Pen Drives</h3>
                                    <label class="mrp-festival"><span>Rs.</span> 999.00</label>
                                    <label><span>Rs.</span> 499.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43228, itemName = "Sandisk OTG Pen Drives".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Sandisk OTG Pen Drives">View</a>
                                </div>
                                <div class="car-festival">

                                    <a title="Add to Cart" onclick="AddProduct(54322, 43228)"></a>
                                </div>
                                <div class="fast-offer">
                                    <span>50% off</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/elect_03-min.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Samsung Evo Micro SDHC 64 GB Class 10 Memory Card</h3>
                                    <label class="mrp-festival"><span>Rs.</span> 2,999.00</label>
                                    <label><span>Rs.</span> 1346.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43826, itemName = "Samsung Evo Micro SDHC 64 GB Class".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Samsung Evo Micro SDHC 64 GB Class">View</a>
                                </div>
                                <div class="car-festival">

                                    <a title="Add to Cart" onclick="AddProduct(58397, 43826)"></a>
                                </div>
                                <div class="fast-offer">
                                    <span>55% off</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/elect_04-min.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Zoook Blue ZB-Selrem Selfie Handheld Monopod With Remote Shutter</h3>
                                    <label class="mrp-festival"><span>Rs.</span> 1,359.00</label>
                                    <label><span>Rs.</span> 500.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43249, itemName = "Zoook Blue ZB-Selrem Selfie Handheld".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Zoook Blue ZB-Selrem Selfie Handheld">View</a>
                                </div>
                                <div class="car-festival">

                                    <a title="Add to Cart" onclick="AddProduct(54353, 43249)"></a>
                                </div>
                                <div class="fast-offer">
                                    <span>63% off</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/food_01-min.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Barbie Fish Cake 1kg With Delicious Cup Cake</h3>
                                    <label class="mrp-festival"><span>Rs.</span> 900.00</label>
                                    <label><span>Rs.</span> 750.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43516, itemName = "Barbie Fish Cake 1kg With Delicious".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Barbie Fish Cake 1kg With Delicious">View</a>
                                </div>
                                <div class="car-festival">

                                    <a title="Add to Cart" onclick="AddProduct(56496, 43516)"></a>
                                </div>
                                <div class="fast-offer">
                                    <span>16% off</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/food_02-min.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Special Kaju Biscuits SC-004</h3>
                                    <label class="mrp-festival"><span>Rs.</span> 145.00</label>
                                    <label><span>Rs.</span> 130.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 1477, itemName = "Special Kaju Biscuits SC-004".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Special Kaju Biscuits SC-004">View</a>
                                </div>
                                <div class="car-festival">

                                    <a title="Add to Cart" onclick="AddProduct(1170, 1477)"></a>
                                </div>
                                <div class="fast-offer">
                                    <span>10% off</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/food_03-min.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Best Chinese Deal</h3>
                                    <label class="mrp-festival"><span>Rs.</span> 543.00</label>
                                    <label><span>Rs.</span> 500.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42843, itemName = "Best Chinese Deal".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Best Chinese Deal">View</a>
                                </div>
                                <div class="car-festival">

                                    <a title="Add to Cart" onclick="AddProduct(53190, 42843)"></a>
                                </div>
                                <div class="fast-offer">
                                    <span>07% off</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="jm-item first">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <div class="img-festival-product">
                                    <img src="~/Content/Fastival/Images/food_04-min.jpg" class="img-responsive" />
                                </div>
                                <div class="pro-cont">
                                    <h3>Best Cleaning Deal</h3>
                                    <label class="mrp-festival"><span>Rs.</span> 535.00</label>
                                    <label><span>Rs.</span> 510.00</label>
                                </div>
                                <span class="jm-item-overlay"> </span>
                                <div class="jm-item-button">

                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42844, itemName = "Best Cleaning Deal".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Best Cleaning Deal">View</a>
                                </div>
                                <div class="car-festival">

                                    <a title="Add to Cart" onclick="AddProduct(53191, 42844)"></a>
                                </div>
                                <div class="fast-offer">
                                    <span>04% off</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<style type="text/css">
    .container {
        width: 100%;
    }

    .fastivalWrapper {
        background: url(../../Content/Fastival/NewYear/Ri1QHqc.gif) repeat 0 0;
        min-height: 500px;
    }

    .fastivalHeading {
        text-align: center;
        padding: 10px;
    }

    #canvas {
        border: 1px solid black;
        position: absolute;
        z-index: 10000;
    }

    #flake {
        color: #fff;
        position: absolute;
        font-size: 25px;
        top: -50px;
    }

    #page {
        position: relative;
    }
</style>
<script src="~/Scripts/Products.js"></script>

