@{
    ViewBag.Title = "Festive | Gandhibagh.com";

    string cityName = "nagpur";
    if (Request.Cookies["CityCookie"] != null && Request.Cookies["CityCookie"].Value != "")
    {
        cityName = Request.Cookies["CityCookie"].Value.Split('$')[1].ToLower();
    }
}
<link href="~/Content/image_hover/styles/main.css" rel="stylesheet" />
<script src="~/Content/image_hover/scripts/app.js"></script>
<style>
    body {
        /*background: url(../../Content/Images/holiback.png) repeat-y 0 0;
        background-size: cover;*/
    }

    #header .container {
        margin: 0;
        width: 100%;
    }

    .banner-top {
        text-align: center;
        width: 100%;
        margin-left: -33px;
        border-bottom: 1px solid #eaeaea;
        border-bottom-style: dotted;
    }

    .ih-item.circle.effect1 .info h3 {
        color: #fff;
        text-transform: uppercase;
        position: relative;
        letter-spacing: 2px;
        font-size: 14px;
        margin: 0 21px;
        padding: 25px 0 0 0;
        height: 68px;
        text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
    }

    .btn-buy1 {
        background: #fd8228 !important;
        border: 1px solid #fd8228 !important;
        color: #fff !important;
        border-radius: 5px;
    }

        .btn-buy1:hover {
            background: #C56E2E !important;
            border: 1px solid #C56E2E !important;
        }

    .img_holi {
        margin-top: -51px;
    }

    .main-header .row {
        background: #fff !important;
        margin-top: -5px !important;
        margin-bottom: 5px !important;
    }

    .nav-top-menu .row {
        background: rgb(171, 167, 163) !important;
    }

    .ih-item {
        border: 2px solid #eaeaea;
        /*box-shadow: 0px 0px 10px 4px;*/
    }

    .info {
        min-height: 173px;
    }

    .ih-item:hover {
        border: 3px solid#fd8228;
    }

    .info-back h4 {
        text-align: center;
        padding-top: 5px;
    }

    .info-back p {
        text-align: center;
        color: #656565;
    }
    /*.btn-buy1 {margin-left:65px!important;
    }*/
    #anchorRemove {
        margin-left: 88px;
        color: #656565;
    }

    .saleR {
        text-align: center;
        color: #656565;
    }

    .info {
        /*background: #D8BA8A;*/ background: rgba(183, 181, 181, 0.39);
        color: #000;
        border-color: #D8BA8A;
    }

    .ih-item a {
        color: #656565;
    }

    .save_ {
        margin-left: 10px;
    }

    .lablehead h3 {
        font-size: 16px !important;
    }

    .double .tile-container .lablehead {
        height: 25px !important;
    }
    .save_ {
        margin-top: 13px;
    }
</style>
<style>
    .Wk-Deal {
    }

        .Wk-Deal ul {
            width: 60%;
            text-align: center;
            margin: auto;
        }

            .Wk-Deal ul li {
                font-size: 12px;
                margin: 10px;
                text-align: center;
                /*background-color: rgba(0,0,0,.15);*/
            }

                .Wk-Deal ul li a {
                    text-decoration: none;
                }

    #ulProduct {
        clear: both;
        margin-left: 25px;
    }

    .active {
    }

    .MRP {
        height: 24px;
    }

    .tile-wide:hover, .tile-widenew:hover {
        outline: none;
    }
    /*.double:hover {border:2px solid #fd8228;
    }*/
</style>

<link href="~/Content/css/offerPage.css" rel="stylesheet" />

<script src="~/Scripts/Products.js"></script>
<script src="~/Content/update(5-10)/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<script src="~/Content/update(5-10)/js/jquery-1.11.2.min.js"></script>
@using (Html.BeginForm())
{
    if (Session["UID"] == null || Session["UID"].ToString() == "0")
    {
        @Html.Hidden("hdnSessionValue", "0")
    }
    else
    {
        @Html.Hidden("hdnSessionValue", Session["UID"].ToString())
    }

}
<div class="container" style="margin-top:0px;">
    @*<div class="row">
            <div class="col-lg-12 col-md-10 col-sm-12 col-xs-12 firstdiv">
                <div style=" text-align: center;">
                    <a href="~/Product/Products?shopID=333#"><img src="~/Content/Home-content/Holi/pichkaris.jpg" /></a>
                </div>
            </div>
        </div>
        <br />*@
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 firstdiv" style="margin-top: -53px;">
            <a href="~/Product/Products?shopID=333#"><img src="~/Content/Home-content/gudipadwa/gudi1.jpg" style="width:100%" /></a>
        </div>
    </div>
  
    @*<div class="row">
        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 firstdiv">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <!-- normal -->
                <div class="ih-item">
                    <div class="spinner1">
                        <div class="info1">
                            <div class="info-back">
                                @if (Request.Cookies["CityCookie"] != null)
                                {
                                    string city = Request.Cookies["CityCookie"].Value.Split('$')[0];
                                    <a href="http://foodbagh.gandhibagh.com/#/products?ParentCatID=1338&Level=1&CatName=Meat%20and%20Poultry&cityId=@city">
                                        <img src="~/Content/Home-content/gudipadwa/electronic.jpg" />
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end normal -->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <!-- normal -->
                <div class="ih-item">

                    <div class="spinner1">
                        <div class="info1">
                            <div class="info-back">
                                <a href="~/Product/Products?item=Sweets&parentCategoryId=1589">
                                    <img src="~/Content/Home-content/gudipadwa/accoller.jpg">
                                </a>
                            </div>
                        </div>
                    </div>



                </div>
                <!-- end normal -->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <!-- normal -->
                <div class="ih-item ">

                    <div class="spinner1">
                        <div class="info1">
                            <div class="info-back">
                                <a href="~/Product/Products?item=Namkeen&parentCategoryId=1588">
                                    <img src="~/Content/Home-content/gudipadwa/gentscycle.jpg" alt="img">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end normal -->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <!-- normal -->
                <div class="ih-item ">
                    <a href="~/PreviewItem/Index?itemId=17197"></a>
                    <div class="spinner1">
                        <div class="info1">
                            <div class="info-back">
                                <a href="~/Product/Products?shopID=10383&selectedCategoryId=1586">
                                    <img src="~/Content/Home-content/gudipadwa/gudipadwa.jpg" alt="img">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end normal -->
            </div>
        </div>
    </div>*@
</div>


<div class="Wk-Deal">
    <div id="divMain" class="container grid">
        <div class="tabcontrol2" data-role="tabControl">

            <div class="clearfix"></div>
            @*<hr style="width: 100%; margin-bottom: 40px; margin-top: 20px; background-color:#000; height:1px;">*@
            <div class="" style="margin-bottom:40px;">

                <div class="mainOffer" id="todayDeal">
                    @*<h3 style="text-align: center; text-align: center; padding: 5px; margin-bottom: 40px; color: #EF4896;"><a href="~/Home/FashionAndLifestyle"><span style="font-size: 60px;">F</span><span style="text-decoration:underline;">ashion</span> &amp; <span style="font-size: 60px;">L</span><span style="text-decoration:underline;">ifestyle</span></a></h3>*@
                    <hr style="width: 100%; margin-bottom: 40px; margin-top: -33px; background-color: #eaeaea; height: 1px; ">
                    <ul id="ulProduct" class="row cells12">
                        <li class="cell colspan3">
                            <div class="a tile-group1 double">
                                <div class="tile-container">
                                    <div class='tile-widenew fg-white divborder' data-role='tile'>
                                        <div class='tile-content slide-up'>

                                            <div class='cart_items'>
                                                <div class='content'>
                                                    <div class="PRODUCT-IMAGE">
                                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 62322, itemName = "Maharaja Whiteline Rc 100 Rice Cooker".ToLower().Replace(' ', '-'), city = cityName })">
                                                            <img src="~/Content/Home-content/gudipadwa/1.jpg" alt="Gandhibagh" class="divimg" />
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="STOCK-STATUS lablehead">
                                        <h3> Maharaja Whiteline Rc 100 Rice Cooker Inicio Multicooker</h3></a>
                                    </div>
                                    <div class="save_"><p>You Save 19%</p></div>
                                    <div class="MRP">

                                        <del><span>MRP:Rs 2099</span></del>
                                    </div>
                                    <div class="SALE_RATE">
                                        <span>Sale Rate:</span><span class="spannew">Rs 1696/-</span>
                                    </div>
                                    <div class="btnoffer">

                                        <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(87665, 62322)" />
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="cell colspan3">
                            <div class="a tile-group1 double">
                                <div class="tile-container">
                                    <div class='tile-widenew fg-white divborder' data-role='tile'>
                                        <div class='tile-content slide-up'>
                                            @*<h2 class="offerStick">33% Off</h2>*@
                                            <div class='cart_items'>
                                                <div class='content'>
                                                    <div class="PRODUCT-IMAGE">
                                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 62317, itemName = "Maharaja Whiteline Classico Dry Iron".ToLower().Replace(' ', '-'), city = cityName })">
                                                            <img src="~/Content/Home-content/gudipadwa/2.jpg" alt="Gandhibagh" class="divimg" />
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="STOCK-STATUS lablehead">
                                        <h3>Maharaja Whiteline Classico Dry Iron</h3>
                                    </div>
                                    <div class="save_"><p>You Save 22%</p></div>
                                    <div class="MRP">
                                        <del><span>MRP:Rs 549</span></del>
                                    </div>
                                    <div class="SALE_RATE">
                                        <span>Sale Rate</span><span class="spannew">Rs. 527</span>
                                    </div>
                                    <div class="btnoffer">

                                        <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(87660, 62317)" />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="cell colspan3">
                            <div class="a tile-group1 double">
                                <div class="tile-container">
                                    <div class='tile-widenew fg-white divborder' data-role='tile'>
                                        <div class='tile-content slide-up'>

                                            <div class='cart_items'>
                                                <div class='content'>
                                                    <div class="PRODUCT-IMAGE">
                                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 62409, itemName = "Maharaja Whiteline GS-100 Trendy ".ToLower().Replace(' ', '-'), city = cityName })">
                                                            <img src="~/Content/Home-content/gudipadwa/3.jpg" alt="Gandhibagh" class="divimg" />
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="STOCK-STATUS lablehead">
                                        <h3>Maharaja Whiteline GS-100 Trendy Plus Lpg Burner</h3>
                                    </div>
                                    <div class="save_"><p>You Save 45%</p></div>
                                    <div class="MRP">
                                        <del><span>MRP:Rs 2499</span></del>
                                    </div>
                                    <div class="SALE_RATE">
                                        <span>Sale Rate :</span><span class="spannew">Rs 1327/-</span>
                                    </div>
                                    <div class="btnoffer">

                                        <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(87848, 62409)" />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="cell colspan3">
                            <div class="a tile-group1 double">
                                <div class="tile-container">
                                    <div class='tile-widenew fg-white divborder' data-role='tile'>
                                        <div class='tile-content slide-up'>

                                            <div class='cart_items'>
                                                <div class='content'>
                                                    <div class="PRODUCT-IMAGE">
                                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 62411, itemName = "Maharaja Whiteline Uno IC 100 ".ToLower().Replace(' ', '-'), city = cityName })">
                                                            <img src="~/Content/Home-content/gudipadwa/4.jpg" alt="Gandhibagh" class="divimg" />
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="STOCK-STATUS lablehead">
                                        <h3>Maharaja Whiteline Uno IC 100 Induction Cooktop</h3>
                                    </div>
                                    <div class="save_"><p>You Save 20%</p></div>
                                    <div class="MRP">
                                        <del><span>MRP:Rs 2999</span></del>
                                    </div>
                                    <div class="SALE_RATE">
                                        <span>Sale Rate :</span><span class="spannew">Rs 1939/-</span>
                                    </div>
                                    <div class="btnoffer">


                                        <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(87853, 62411)" />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="cell colspan3">
                            <div class="a tile-group1 double">
                                <div class="tile-container">
                                    <div class='tile-widenew fg-white divborder' data-role='tile'>
                                        <div class='tile-content slide-up'>
                                            @*<h2 class="offerStick">40% Off</h2>*@
                                            <div class='cart_items'>
                                                <div class='content'>
                                                    <div class="PRODUCT-IMAGE">
                                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 62415, itemName = "Maharaja Whiteline Jazz Plus Happiness".ToLower().Replace(' ', '-'), city = cityName })">
                                                            <img src="~/Content/Home-content/gudipadwa/5.jpg" alt="Gandhibagh" class="divimg" />
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="STOCK-STATUS lablehead">
                                        <h3>Maharaja Whiteline Jazz Plus Happiness Hand Blender - HB-104</h3>
                                    </div>
                                    <div class="save_"><p>You Save 37%</p></div>
                                    <div class="MRP">
                                        <del><span>MRP:Rs 1559</span></del>
                                    </div>
                                    <div class="SALE_RATE">
                                        <span>Sale Rate :</span><span class="spannew">Rs 976/-</span>
                                    </div>
                                    <div class="btnoffer">

                                        @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(13550, 22478)"><button>Add to Cart</button></a>*@
                                        <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(87857, 62415)" />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="cell colspan3">
                            <div class="a tile-group1 double">
                                <div class="tile-container">
                                    <div class='tile-widenew fg-white divborder' data-role='tile'>
                                        <div class='tile-content slide-up'>
                                            @*<h2 class="offerStick">50% Off</h2>*@
                                            <div class='cart_items'>
                                                <div class='content'>
                                                    <div class="PRODUCT-IMAGE">
                                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 62418, itemName = "Maharaja Whiteline Real JX-102 450 ".ToLower().Replace(' ', '-'), city = cityName })">
                                                            <img src="~/Content/Home-content/gudipadwa/6.jpg" alt="Gandhibagh" class="divimg" />
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="STOCK-STATUS lablehead">
                                        <h3>Maharaja Whiteline Real JX-102 450 W Juicer Mixer Grinder</h3>
                                    </div>
                                    <div class="save_"><p>You Save 35%</p></div>
                                    <div class="MRP">
                                        <del><span>MRP:Rs 3499</span></del>
                                    </div>
                                    <div class="SALE_RATE">
                                        <span>Sale Rate :</span><span class="spannew">Rs 2269/-</span>
                                    </div>
                                    <div class="btnoffer">

                                        @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(24108, 24344)"><button>Add to Cart</button></a>*@
                                        <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(84229, 60918)" />
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="cell colspan3">
                            <div class="a tile-group1 double">
                                <div class="tile-container">
                                    <div class='tile-widenew fg-white divborder' data-role='tile'>
                                        <div class='tile-content slide-up'>
                                            @*<h2 class="offerStick">40% Off</h2>*@
                                            <div class='cart_items'>
                                                <div class='content'>
                                                    <div class="PRODUCT-IMAGE">
                                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 62421, itemName = "Maharaja Whiteline 3 jar Joy".ToLower().Replace(' ', '-'), city = cityName })">
                                                            <img src="~/Content/Home-content/gudipadwa/7.jpg" alt="Gandhibagh" class="divimg" />
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="STOCK-STATUS lablehead">
                                        <h3>Maharaja Whiteline 3 jar Joy mixer grinder</h3>
                                    </div>
                                    <div class="save_"><p>You Save 36%</p></div>
                                    <div class="MRP">
                                        <del><span>MRP:Rs 3599</span></del>
                                    </div>
                                    <div class="SALE_RATE">
                                        <span>Sale Rate :</span><span class="spannew">Rs2272/-</span>
                                    </div>
                                    <div class="btnoffer">

                                        @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(13126, 22486)"><button>Add to Cart</button></a>*@
                                        <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(87863, 62421)" />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="cell colspan3">
                            <div class="a tile-group1 double">
                                <div class="tile-container">
                                    <div class='tile-widenew fg-white divborder' data-role='tile'>
                                        <div class='tile-content slide-up'>
                                            @*<h2 class="offerStick">40% Off</h2>*@
                                            <div class='cart_items'>
                                                <div class='content'>
                                                    <div class="PRODUCT-IMAGE">
                                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 63063, itemName = "Maharaja Whiteline Aquao SI-101".ToLower().Replace(' ', '-'), city = cityName })">
                                                            <img src="~/Content/Home-content/gudipadwa/8.jpg" alt="Gandhibagh" class="divimg" />
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="STOCK-STATUS lablehead">
                                        <h3>Maharaja Whiteline Aquao SI-101 Steam Iron</h3>
                                    </div>
                                    <div class="save_"><p>You Save 31%</p></div>
                                    <div class="MRP">
                                        <del><span>MRP:Rs 1399</span></del>
                                    </div>
                                    <div class="SALE_RATE">
                                        <span>Sale Rate :</span><span class="spannew">Rs 963/-</span>
                                    </div>
                                    <div class="btnoffer">
                                        @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(60574, 44642)"><button>Add to Cart</button></a>*@
                                        <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(90013, 63063)" />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="cell colspan3">
                            <div class="a tile-group1 double">
                                <div class="tile-container">
                                    <div class='tile-widenew fg-white divborder' data-role='tile'>
                                        <div class='tile-content slide-up'>
                                            @*<h2 class="offerStick">40% Off</h2>*@
                                            <div class='cart_items'>
                                                <div class='content'>
                                                    <div class="PRODUCT-IMAGE">
                                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 63026, itemName = "Nirlep Select Multi Pot With Lid".ToLower().Replace(' ', '-'), city = cityName })">
                                                            <img src="~/Content/Home-content/gudipadwa/9.jpg" alt="Gandhibagh" class="divimg" />
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="STOCK-STATUS lablehead">
                                        <h3>Nirlep Selec+ Multi Pot With Lid</h3>
                                    </div>
                                    <div class="save_"><p>You Save 25%</p></div>
                                    <div class="MRP">
                                        <del><span>MRP:Rs 1260</span></del>
                                    </div>
                                    <div class="SALE_RATE">
                                        <span>Sale Rate :</span><span class="spannew">Rs 941/-</span>
                                    </div>
                                    <div class="btnoffer">

                                        @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(59118, 44016)"><button>Add to Cart</button></a>*@
                                        <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(89892, 63026)" />
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="cell colspan3">
                            <div class="a tile-group1 double">
                                <div class="tile-container">
                                    <div class='tile-widenew fg-white divborder' data-role='tile'>
                                        <div class='tile-content slide-up'>
                                            @*<h2 class="offerStick">40% Off</h2>*@
                                            <div class='cart_items'>
                                                <div class='content'>
                                                    <div class="PRODUCT-IMAGE">
                                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 63037, itemName = "Nirlep Multi Snackmaker".ToLower().Replace(' ', '-'), city = cityName })">
                                                            <img src="~/Content/Home-content/gudipadwa/10.jpg" alt="Gandhibagh" class="divimg" />
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="STOCK-STATUS lablehead">
                                        <h3>Nirlep Multi Snackmaker</h3>
                                    </div>
                                    <div class="save_"><p>You Save 25%</p></div>
                                    <div class="MRP">
                                        <del><span>MRP:Rs 495</span></del>
                                    </div>
                                    <div class="SALE_RATE">
                                        <span>Sale Rate :</span><span class="spannew">Rs 370/-</span>
                                    </div>
                                    <div class="btnoffer">

                                        @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(59118, 44016)"><button>Add to Cart</button></a>*@
                                        <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(89923, 63037)" />
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="cell colspan3">
                            <div class="a tile-group1 double">
                                <div class="tile-container">
                                    <div class='tile-widenew fg-white divborder' data-role='tile'>
                                        <div class='tile-content slide-up'>
                                            @*<h2 class="offerStick">40% Off</h2>*@
                                            <div class='cart_items'>
                                                <div class='content'>
                                                    <div class="PRODUCT-IMAGE">
                                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 63065, itemName = "Maharaja Whiteline Excelo 2 SL 4 Pop".ToLower().Replace(' ', '-'), city = cityName })">
                                                            <img src="~/Content/Home-content/gudipadwa/11.jpg" alt="Gandhibagh" class="divimg" />
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="STOCK-STATUS lablehead">
                                        <h3>Maharaja Whiteline Excelo 2 SL 4 Pop Up Toaster</h3>
                                    </div>
                                    <div class="save_"><p>You Save 14%</p></div>
                                    <div class="MRP">
                                        <del><span>MRP:Rs 1349</span></del>
                                    </div>
                                    <div class="SALE_RATE">
                                        <span>Sale Rate :</span><span class="spannew">Rs 1153/-</span>
                                    </div>
                                    <div class="btnoffer">

                                        @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(59118, 44016)"><button>Add to Cart</button></a>*@
                                        <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(90016, 63065)" />
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="cell colspan3">
                            <div class="a tile-group1 double">
                                <div class="tile-container">
                                    <div class='tile-widenew fg-white divborder' data-role='tile'>
                                        <div class='tile-content slide-up'>
                                            @*<h2 class="offerStick">40% Off</h2>*@
                                            <div class='cart_items'>
                                                <div class='content'>
                                                    <div class="PRODUCT-IMAGE">
                                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 63029, itemName = "Nirlep Sakhi Concave Tawa".ToLower().Replace(' ', '-'), city = cityName })">
                                                            <img src="~/Content/Home-content/gudipadwa/12.jpg" alt="Gandhibagh" class="divimg" />
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="STOCK-STATUS lablehead">
                                        <h3>Nirlep Sakhi Concave Tawa</h3>
                                    </div>
                                    <div class="save_"><p>You Save25%</p></div>
                                    <div class="MRP">
                                        <del><span>MRP:Rs 615</span></del>
                                    </div>
                                    <div class="SALE_RATE">
                                        <span>Sale Rate :</span><span class="spannew">Rs 460/-</span>
                                    </div>
                                    <div class="btnoffer">

                                        @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(59118, 44016)"><button>Add to Cart</button></a>*@
                                        <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(89899, 63029)" />
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="cell colspan3">
                            <div class="a tile-group1 double">
                                <div class="tile-container">
                                    <div class='tile-widenew fg-white divborder' data-role='tile'>
                                        <div class='tile-content slide-up'>
                                            @*<h2 class="offerStick">40% Off</h2>*@
                                            <div class='cart_items'>
                                                <div class='content'>
                                                    <div class="PRODUCT-IMAGE">
                                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 63018, itemName = "Nirlep Popular Induction".ToLower().Replace(' ', '-'), city = cityName })">
                                                            <img src="~/Content/Home-content/gudipadwa/13.jpg" alt="Gandhibagh" class="divimg" />
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="STOCK-STATUS lablehead">
                                        <h3>Nirlep Popular Induction Compatible Gift Set NIGS 05 FGFP 3pcs</h3>
                                    </div>
                                    <div class="save_"><p>You Save 25%</p></div>
                                    <div class="MRP">
                                        <del><span>MRP:Rs1855</span></del>
                                    </div>
                                    <div class="SALE_RATE">
                                        <span>Sale Rate :</span><span class="spannew">Rs 1385/-</span>
                                    </div>
                                    <div class="btnoffer">

                                        @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(59118, 44016)"><button>Add to Cart</button></a>*@
                                        <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(89864, 63018)" />
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="cell colspan3">
                            <div class="a tile-group1 double">
                                <div class="tile-container">
                                    <div class='tile-widenew fg-white divborder' data-role='tile'>
                                        <div class='tile-content slide-up'>
                                            @*<h2 class="offerStick">40% Off</h2>*@
                                            <div class='cart_items'>
                                                <div class='content'>
                                                    <div class="PRODUCT-IMAGE">
                                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 63019, itemName = "Nirlep Popular Induction Compatible".ToLower().Replace(' ', '-'), city = cityName })">
                                                            <img src="~/Content/Home-content/gudipadwa/14.jpg" alt="Gandhibagh" class="divimg" />
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="STOCK-STATUS lablehead">
                                        <h3>Nirlep Popular Induction Compatible Gift Set NIGS 10 GL/SS</h3>
                                    </div>
                                    <div class="save_"><p>You Save 25%</p></div>
                                    <div class="MRP">
                                        <del><span>MRP:Rs 2780</span></del>
                                    </div>
                                    <div class="SALE_RATE">
                                        <span>Sale Rate :</span><span class="spannew">Rs 2076/-</span>
                                    </div>
                                    <div class="btnoffer">

                                        @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(59118, 44016)"><button>Add to Cart</button></a>*@
                                        <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(89865, 63019)" />
                                    </div>
                                </div>
                            </div>
                        </li>

                        
                        
                    </ul>
                </div>


            </div>
        </div>
    </div>
</div>

@*<div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 firstdiv col-lg-offset-1 col-md-offset-1">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <!-- normal -->
                <div class="ih-item">
                    <div class="spinner"></div>
                    <div class="img">
                        <img src="~/Content/Home-content/Holi/1.jpg" />
                    </div>
                    <div class="info">
                        <div class="info-back">
                            <h4><a href="~/PreviewItem/Index?itemId=60913"> Tota Herbal Gulal Box</a></h4>
                            <p>You Save 48%</p>
                           <span> <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(84219, 60913)" /></span>
                            <br />
                            <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 250</span><br />
                            <h4 id="anchorRemove" class="saleR" style="margin-left:15px;">Sale Rate:130</h4>
                        </div>
                    </div>
                    </a>
                </div>
                <!-- end normal -->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <!-- normal -->
                <div class="ih-item">

                    <div class="spinner"></div>
                    <div class="img"><img src="~/Content/Home-content/Holi/2.jpg"></div>
                    <div class="info">
                        <div class="info-back">
                            <h4><a href="~/PreviewItem/Index?itemId=60914">Yellow Gulal </a></h4>
                            <p>You Save 20%</p>
                            <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(84221, 60914)" />
                            <br />
                            <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 50</span><br />
                            <h4 id="anchorRemove" class="" style="margin-left:15px;">Sale Rate:40</h4>
                        </div>
                    </div>

                </div>
                <!-- end normal -->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <!-- normal -->
                <div class="ih-item">

                    <div class="spinner"></div>
                    <div class="img"><img src="~/Content/Home-content/Holi/3.jpg" alt="img"></div>
                    <div class="info">
                        <div class="info-back">
                            <h4><a href="~/PreviewItem/Index?itemId=60915">Green Gulal</a></h4>
                            <p>You Save 20%</p>
                            <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(84222, 60915)" />
                            <br />
                            <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 50</span><br />
                            <h4 id="anchorRemove" class="saleR" style="margin-left:15px;">Sale Rate:40</h4>
                        </div>
                    </div>

                </div>
                <!-- end normal -->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <!-- normal -->
                <div class="ih-item">
                    <a href="~/PreviewItem/Index?itemId=17197"></a>
                    <div class="spinner"></div>
                    <div class="img"><img src="~/Content/Home-content/Holi/4.jpg" alt="img"></div>
                    <div class="info">
                        <div class="info-back">
                            <h4><a href="~/PreviewItem/Index?itemId=60916">Pink Gulal</a></h4>
                            <p>You Save 20%</p>
                            <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(84225, 60916)" />
                            <br />
                            <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 50</span><br />
                            <h4 id="anchorRemove" class="saleR" style="margin-left:15px;">Sale Rate:40</h4>
                        </div>
                    </div>

                </div>
                <!-- end normal -->
            </div>
        </div>
    </div>

    <br />*@
@*<div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 firstdiv col-lg-offset-1 col-md-offset-1">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <!-- normal -->
                    <div class="ih-item">

                        <div class="spinner"></div>
                        <div class="img">
                            <img src="~/Content/Home-content/Holi/5.jpg" />
                        </div>
                        <div class="info">
                            <div class="info-back">
                                <h4><a href="~/PreviewItem/Index?itemId=60917">Orange Gulal</a></h4>
                                <p>You Save 20%</p>
                                <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(84227, 60917)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 50</span><br />
                                <h4 id="anchorRemove" class="saleR" style="margin-left:15px;">Sale Rate:40</h4>
                            </div>
                        </div>

                    </div>
                    <!-- end normal -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <!-- normal -->
                    <div class="ih-item">

                        <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/6.jpg"></div>
                        <div class="info">
                            <div class="info-back">
                                <h4><a href="~/PreviewItem/Index?itemId=60918">Red Gulal</a></h4>
                                <p>You Save 20%</p>
                                <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(84229, 60918)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 50</span><br />
                                <h4 id="anchorRemove" class="saleR" style="margin-left:15px;">Sale Rate:40</h4>
                            </div>
                        </div>
                        </a>
                    </div>
                    <!-- end normal -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <!-- normal -->
                    <div class="ih-item">

                        <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/7.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h4><a href="~/PreviewItem/Index?itemId=60919">Blue Gulal</a></h4>
                                <p>You Save 20%</p>
                                <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(84232, 60919)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 50</span><br />
                                <h4 id="anchorRemove" class="saleR" style="margin-left:15px;">Sale Rate:40</h4>
                            </div>
                        </div>

                    </div>
                    <!-- end normal -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <!-- normal -->
                    <div class="ih-item">

                        <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/8.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h4><a href="~/PreviewItem/Index?itemId=60920">Dark Pink Gulal</a></h4>
                                <p>You Save 20%</p>
                                <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(84234, 60920)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 50</span><br />
                                <h4 id="anchorRemove" class="saleR" style="margin-left:15px;">Sale Rate:40</h4>
                            </div>
                        </div>

                    </div>
                    <!-- end normal -->
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 firstdiv col-lg-offset-1 col-md-offset-1">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <!-- normal -->
                    <div class="ih-item">

                        <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/9.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h4><a href="~/PreviewItem/Index?itemId=60922">Standard Gold Gulal</a></h4>
                                <p>You Save 34%</p>
                                <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(84250, 60922)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 69</span><br />
                                <h4 id="anchorRemove" class="saleR" style="margin-left:15px;">Sale Rate:45</h4>
                            </div>
                        </div>

                    </div>
                    <!-- end normal -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <!-- normal -->
                    <div class="ih-item">

                        <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/10.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h4><a href="~/PreviewItem/Index?itemId=60923">Spiderman Pichkari</a></h4>
                                <p>You Save 31%</p>
                                <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(84264, 60923)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 160</span><br />
                                <h4 id="anchorRemove" class="saleR" style="margin-left:15px;">Sale Rate:110</h4>
                            </div>
                        </div>

                    </div>
                    <!-- end normal -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <!-- normal -->
                    <div class="ih-item">

                        <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/11.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h4><a href="~/PreviewItem/Index?itemId=60924">Angry Bird Pichkari</a></h4>
                                <p>You Save 31%</p>
                                <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(84265, 60924)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 160</span><br />
                                <h4 id="anchorRemove" class="saleR" style="margin-left:15px;">Sale Rate:110</h4>
                            </div>
                        </div>

                    </div>
                    <!-- end normal -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <!-- normal -->
                    <div class="ih-item">
                        <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/12.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h4><a href="~/PreviewItem/Index?itemId=60926"> Doraemon Holi Pichkari</a></h4>
                                <p>You Save 31%</p>
                                <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(84278, 60926)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 160</span><br />
                                <h4 id="anchorRemove" class="saleR" style="margin-left:15px;">Sale Rate:110</h4>
                            </div>
                        </div>

                    </div>
                    <!-- end normal -->
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 firstdiv col-lg-offset-1 col-md-offset-1">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <!-- normal -->
                        <div class="ih-item">

                            <div class="spinner"></div>
                            <div class="img"><img src="~/Content/Home-content/Holi/13.jpg" alt="img"></div>
                            <div class="info">
                                <div class="info-back">
                                    <h4><a href="~/PreviewItem/Index?itemId=60927">Chota Bheem DLX Pichkari</a></h4>
                                    <p>You Save 33%</p>
                                    <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(84279, 60927)" />
                                    <br />
                                    <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs180</span><br />
                                    <h4 id="anchorRemove" class="saleR" style="margin-left:15px;">Sale Rate:120</h4>
                                </div>
                            </div>

                        </div>
                        <!-- end normal -->
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <!-- normal -->
                        <div class="ih-item">

                            <div class="spinner"></div>
                            <div class="img"><img src="~/Content/Home-content/Holi/14.jpg" alt="img"></div>
                            <div class="info">
                                <div class="info-back">
                                    <h4><a href="~/PreviewItem/Index?itemId=60928">Chota Bheem Pichkari</a></h4>
                                    <p>You Save 36%</p>
                                    <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(84280, 60928)" />
                                    <br />
                                    <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 180</span><br />
                                    <h4 id="anchorRemove" class="saleR" style="margin-left:15px;">Sale Rate:115</h4>
                                </div>
                            </div>

                        </div>
                        <!-- end normal -->
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <!-- normal -->
                        <div class="ih-item">

                            <div class="spinner"></div>
                            <div class="img"><img src="~/Content/Home-content/Holi/15.jpg" alt="img"></div>
                            <div class="info">
                                <div class="info-back">
                                    <h4><a href="~/PreviewItem/Index?itemId=60930">Shine Line Pichkari</a></h4>
                                    <p>You Save 35%</p>
                                    <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(84296, 60930)" />
                                    <br />
                                    <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 280</span><br />
                                    <h4 id="anchorRemove" class="saleR" style="margin-left:15px;">Sale Rate:180</h4>
                                </div>

                            </div>

                        </div>
                        <!-- end normal -->
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <!-- normal -->
                        <div class="ih-item">

                            <div class="spinner"></div>
                            <div class="img"><img src="~/Content/Home-content/Holi/16.jpg" alt="img"></div>
                            <div class="info">
                                <div class="info-back">
                                    <h4><a href="~/PreviewItem/Index?itemId=60931">Silver Shine Pichkari</a></h4>
                                    <p>You Save 31%</p>
                                    <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(84297, 60931)" />
                                    <br />
                                    <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 160</span><br />
                                    <h4 id="anchorRemove" class="saleR" style="margin-left:15px;">Sale Rate:110</h4>
                                </div>
                            </div>

                        </div>
                        <!-- end normal -->
                    </div>

                </div>
            </div>
        </div>

    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 firstdiv col-lg-offset-1 col-md-offset-1">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <!-- normal -->
                    <div class="ih-item">

                        <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/17.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h4><a href="~/PreviewItem/Index?itemId=60932">Angry Bird Steel Pichkari</a></h4>
                                <p>You Save 33%</p>
                                <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(84298, 60932)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 210</span><br />
                                <h4 id="anchorRemove" class="saleR" style="margin-left:15px;">Sale Rate:140</h4>
                            </div>
                        </div>

                    </div>
                    <!-- end normal -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <!-- normal -->
                    <div class="ih-item">

                        <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/18.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h4><a href="~/PreviewItem/Index?itemId=60933">Ben 10 Steel Pichkari</a></h4>
                                <p>You Save 31%</p>
                                <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(84299, 60933)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 160</span><br />
                                <h4 id="anchorRemove" class="saleR" style="margin-left:15px;">Sale Rate:110</h4>
                            </div>
                        </div>

                    </div>
                    <!-- end normal -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <!-- normal -->
                    <div class="ih-item">

                        <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/19.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h4><a href="~/PreviewItem/Index?itemId=60935">Plastic G6 Holi Pichkari</a></h4>
                                <p>You Save 40%</p>
                                <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(84302, 60935)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 160</span><br />
                                <h4 id="anchorRemove" class="saleR" style="margin-left:15px;">Sale Rate:95</h4>
                            </div>
                        </div>

                    </div>
                    <!-- end normal -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <!-- normal -->
                    <div class="ih-item">

                        <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/20.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h4><a href="~/PreviewItem/Index?itemId=60936">Plastic G38 Holi Pichkari</a></h4>
                                <p>You Save 50%</p>
                                <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(84303, 60936)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 130</span><br />
                                <h4 id="anchorRemove" class="saleR" style="margin-left:15px;">Sale Rate:65</h4>
                            </div>
                        </div>

                    </div>
                    <!-- end normal -->
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 firstdiv col-lg-offset-1 col-md-offset-1">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <!-- normal -->
                    <div class="ih-item">

                        <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/21.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h4><a href="~/PreviewItem/Index?itemId=60937">Plastic G8 Holi Pichkari</a></h4>
                                <p>You Save 50%</p>
                                <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(84304, 60937)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 130</span><br />
                                <h4 id="anchorRemove" class="saleR" style="margin-left:15px;">Sale Rate:65</h4>
                            </div>
                        </div>

                    </div>
                    <!-- end normal -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <!-- normal -->
                    <div class="ih-item">

                        <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/22.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h4><a href="~/PreviewItem/Index?itemId=60938">Plastic G1 Holi Pichkari</a></h4>
                                <p>You Save 40%</p>
                                <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(84306, 60938)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 160</span><br />
                                <h4 id="anchorRemove" class="saleR" style="margin-left:15px;">Sale Rate:95</h4>
                            </div>
                        </div>
                        </a>
                    </div>
                    <!-- end normal -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <!-- normal -->
                    <div class="ih-item">

                        <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/23.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h4><a href="~/PreviewItem/Index?itemId=60939">Plastic G12 Holi Pichkari</a></h4>
                                <p>You Save 50%</p>
                                <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(84307, 60939)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 100</span><br />
                                <h4 id="anchorRemove" class="saleR" style="margin-left:15px;">Sale Rate:50</h4>
                            </div>
                        </div>

                    </div>
                    <!-- end normal -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <!-- normal -->
                    <div class="ih-item">

                        <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/24.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h4><a href="~/PreviewItem/Index?itemId=60940">Plastic G34 Holi Pichkari</a></h4>
                                <p>You Save 50%</p>
                                <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(84308, 60940)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 130</span><br />
                                <h4 id="anchorRemove" class="saleR" style="margin-left:15px;">Sale Rate:65</h4>
                            </div>
                        </div>

                    </div>
                    <!-- end normal -->
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 firstdiv col-lg-offset-1 col-md-offset-1">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <!-- normal -->
                    <div class="ih-item">

                        <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/25.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h4><a href="~/PreviewItem/Index?itemId=60941">Plastic G35 Holi Pichkari</a></h4>
                                <p>You Save 50%</p>
                                <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(84309, 60941)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 130</span><br />
                                <h4 id="anchorRemove" class="saleR" style="margin-left:15px;">Sale Rate:65</h4>
                            </div>
                        </div>

                    </div>
                    <!-- end normal -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <!-- normal -->
                    <div class="ih-item">

                        <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/26.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h4><a href="~/PreviewItem/Index?itemId=60943">Plastic G31 Holi Pichkari</a></h4>
                                <p>You Save 50%</p>
                                <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(84322, 60943)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 280</span><br />
                                <h4 id="anchorRemove" class="saleR" style="margin-left:15px;">Sale Rate:140</h4>
                            </div>
                        </div>

                    </div>
                    <!-- end normal -->
                </div>


            </div>
        </div>
    </div>
    <br />*@





