@{
    Layout = "~/Views/Shared/_Layout1Nagpur.cshtml";
    string cityName = "nagpur";
    if (Request.Cookies["CityCookie"] != null && Request.Cookies["CityCookie"].Value != "")
    {
        cityName = Request.Cookies["CityCookie"].Value.Split('$')[1].ToLower();
    }
}
<!-- Our CSS stylesheet file -->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" />
<link href="~/Content/update(5-10)/css/fourtyeight.css" rel="stylesheet" />
<link href="~/Content/update(5-10)/css/styles.css" rel="stylesheet" />
<link href="~/Content/update(5-10)/css/jquery.countdown.css" rel="stylesheet" />
<script src="~/Content/update(5-10)/DOD/FourtyEightDeal/countdown.js"></script>
<script type="text/javascript">
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<div class="countdown">
    <span id="days"></span>
    <span class="title_deal">48 Hours Deal</span><br>
    <div class="unit clearfix timer">
        <ul>
            <li>
                <span>HH</span><br />
                <label id="hours"></label> :
            </li>
            <li>
                <span>MM</span><br />
                <label id="minutes"></label> :
            </li>
            <li>
                <span>SS</span><br />
                <label id="seconds"></label>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>

</div>
<hr class="hr_tag">

<link href="~/Content/css/offerPage.css" rel="stylesheet" />
<script src="~/Scripts/Products.js"></script>
<div class="container"></div>
<div class="Wk-Deal">
    <div id="divMain" class="container grid">
        <div class="mainOffer" id="todayDeal">
            <ul id="ulProduct" class="row cells12 job1">
                <li class="cell colspan3 item1">
                    <div class="a tile-group1 double">
                        <div class="tile-container">
                            <div class='tile-widenew fg-white divborder' data-role='tile'>
                                <div class='tile-content slide-up'>
                                    <h2 class="prodoff">23% Off</h2>
                                    <div class='cart_items'>
                                        <div class='content'>
                                            <div class="PRODUCT-IMAGE">
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 45996, itemName = "LarahYera Glassware Pop Fruit Spice Jar".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img src="~/Content/update(5-10)/DOD/FourtyEightDeal/EF1.jpg" alt="Gandhibagh" class="divimg" />
                                                </a>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="STOCK-STATUS lablehead">
                                <h3>Yera Glassware Pop Fruit Spice Jar – Set of 3</h3>
                            </div>
                            <div class="MRP">
                                <del><span style="margin-top:-21px; display:block;">Sale Price Rs 170/-</span></del>
                            </div>
                            <div class="SALE_RATE">
                                <span>Offer Price :</span><span class="spannew">Rs 130/-</span>
                            </div>
                            <div class="btnoffer">
                                <a title="Add to Cart" onclick="AddProduct(63288, 45996)">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="cell colspan3 item1">
                    <div class="a tile-group1 double">
                        <div class="tile-container">
                            <div class='tile-widenew fg-white divborder' data-role='tile'>
                                <div class='tile-content slide-up'>
                                    <div class='cart_items'>
                                        <div class='content'>
                                            <div class="PRODUCT-IMAGE">
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 25711, itemName = "Jayco Aqua Man Water Bottle Purple".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img src="~/Content/update(5-10)/DOD/FourtyEightDeal/EF2.jpg" alt="Gandhibagh" class="divimg" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="STOCK-STATUS lablehead">
                                <h3>Jayco Aqua Man Water Bottle Purple</h3>
                            </div>
                            <div class="SALE_RATE">
                                <span>Offer Price :</span><span class="spannew">Rs 126/-</span>
                            </div>
                            <div class="btnoffer">
                                <a title="Add to Cart" onclick="AddProduct(28685, 25711)">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="cell colspan3 item1">
                    <div class="a tile-group1 double">
                        <div class="tile-container">
                            <div class='tile-widenew fg-white divborder' data-role='tile'>
                                <div class='tile-content slide-up'>
                                    <h2 class="prodoff">30% Off</h2>
                                    <div class='cart_items'>
                                        <div class='content'>
                                            <div class="PRODUCT-IMAGE">
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 45994, itemName = "Fancy Fruit Bottle Show Piece".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img src="~/Content/update(5-10)/DOD/FourtyEightDeal/EF3.jpg" alt="Gandhibagh" class="divimg" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="STOCK-STATUS lablehead">
                                <h3>Fancy Fruit Bottle Show Piece</h3>
                            </div>
                            <div class="MRP">
                                <del><span style="margin-top:-21px; display:block;">Sale Price Rs 200/-</span></del>
                            </div>
                            <div class="SALE_RATE">
                                <span>Offer Price :</span><span class="spannew">Rs 140/-</span>
                            </div>
                            <div class="btnoffer">
                                <a title="Add to Cart" onclick="AddProduct(63286, 45994)"><button>Add to Cart</button></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="cell colspan3 item1">
                    <div class="a tile-group1 double">
                        <div class="tile-container">
                            <div class='tile-widenew fg-white divborder' data-role='tile'>
                                <div class='tile-content slide-up'>
                                    <h2 class="prodoff">40% Off</h2>
                                    <div class='cart_items'>
                                        <div class='content'>
                                            <div class="PRODUCT-IMAGE">
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 39990, itemName = "Multicolour Stone Bangles 03".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img src="~/Content/update(5-10)/DOD/FourtyEightDeal/EF4.jpg" alt="Gandhibagh" class="divimg" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="STOCK-STATUS lablehead">
                                <h3>Multicolour Stone Bangles 03</h3>
                            </div>
                            <div class="MRP">
                                <del><span style="margin-top:-21px; display:block;">Sale Price Rs 567/-</span></del>
                            </div>
                            <div class="SALE_RATE">
                                <span>Offer Price :</span><span class="spannew">Rs 340/-</span>
                            </div>
                            <div class="btnoffer">
                                <a title="Add to Cart" onclick="AddProduct(59118, 44016)"><button>Add to Cart</button></a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul id="ulProduct" class="row cells12 job1">
                <li class="cell colspan3 item1">
                    <div class="a tile-group1 double">
                        <div class="tile-container">
                            <div class='tile-widenew fg-white divborder' data-role='tile'>
                                <div class='tile-content slide-up'>
                                    <h2 class="prodoff">27% Off</h2>
                                    <div class='cart_items'>
                                        <div class='content'>
                                            <div class="PRODUCT-IMAGE">
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 45993, itemName = "Yera Cosmos Glass Cup - Set of Six".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img src="~/Content/update(5-10)/DOD/FourtyEightDeal/EF5.jpg" alt="Gandhibagh" class="divimg" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="STOCK-STATUS lablehead">
                                <h3> Yera Cosmos Glass Cup - Set of Six</h3>
                            </div>
                            <div class="MRP">
                                <del><span style="margin-top:-21px; display:block;">Sale Price Rs 180/-</span></del>
                            </div>
                            <div class="SALE_RATE">
                                <span>Offer Price :</span><span class="spannew">Rs 130/-</span>
                            </div>
                            <div class="btnoffer">
                                <a title="Add to Cart" onclick="AddProduct(63285, 45993)"><button>Add to Cart</button></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="cell colspan3 item1">
                    <div class="a tile-group1 double">
                        <div class="tile-container">
                            <div class='tile-widenew fg-white divborder' data-role='tile'>
                                <div class='tile-content slide-up'>
                                    <div class='cart_items'>
                                        <div class='content'>
                                            <div class="PRODUCT-IMAGE">
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 25740, itemName = "Liza Grip Well Plastic Bottle".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img src="~/Content/update(5-10)/DOD/FourtyEightDeal/EF6.jpg" alt="Gandhibagh" class="divimg" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="STOCK-STATUS lablehead">
                                <h3>Liza Grip Well Plastic Bottle ( 2 Nos )</h3>
                            </div>

                            <div class="SALE_RATE">
                                <span>Offer Price :</span><span class="spannew">Rs 50/-</span>
                            </div>
                            <div class="btnoffer">
                                <a title="Add to Cart" onclick="AddProduct(28750, 25740)"><button>Add to Cart</button></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="cell colspan3 item1">
                    <div class="a tile-group1 double">
                        <div class="tile-container">
                            <div class='tile-widenew fg-white divborder' data-role='tile'>
                                <div class='tile-content slide-up'>
                                    <h2 class="prodoff">50% Off</h2>
                                    <div class='cart_items'>
                                        <div class='content'>
                                            <div class="PRODUCT-IMAGE">
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 46708, itemName = "Love cup with Saucer showpiece".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img src="~/Content/update(5-10)/DOD/FourtyEightDeal/EF7.jpg" alt="Gandhibagh" class="divimg" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="STOCK-STATUS lablehead">
                                <h3>Love cup with Saucer showpiece</h3>
                            </div>
                            <div class="MRP">
                                <del><span style="margin-top:-21px; display:block;">Sale Price Rs 720/-</span></del>
                            </div>
                            <div class="SALE_RATE">
                                <span>Offer Price :</span><span class="spannew">Rs 360/-</span>
                            </div>
                            <div class="btnoffer">
                                <a title="Add to Cart" onclick="AddProduct(64614, 46708)"><button>Add to Cart</button></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="cell colspan3 item1">
                    <div class="a tile-group1 double">
                        <div class="tile-container">
                            <div class='tile-widenew fg-white divborder' data-role='tile'>
                                <div class='tile-content slide-up'>
                                    <h2 class="prodoff">50% Off</h2>
                                    <div class='cart_items'>
                                        <div class='content'>
                                            <div class="PRODUCT-IMAGE">
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 40904, itemName = "Nilons Khana Khajana Mango Pickle".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img src="~/Content/update(5-10)/DOD/FourtyEightDeal/FE8.jpg" alt="Gandhibagh" class="divimg" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="STOCK-STATUS lablehead">
                                <h3>Nilons Khana Khajana Mango Pickle</h3>
                            </div>
                            <div class="MRP">
                                <del><span style="margin-top:-21px; display:block;">Sale Price Rs 100/-</span></del>
                            </div>
                            <div class="SALE_RATE">
                                <span>Offer Price :</span><span class="spannew">Rs 50/-</span>
                            </div>
                            <div class="btnoffer">
                                <a title="Add to Cart" onclick="AddProduct(47069, 40904)"><button>Add to Cart</button></a>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
            <ul id="ulProduct" class="row cells12 job1">
                <li class="cell colspan3 item1">
                    <div class="a tile-group1 double">
                        <div class="tile-container">
                            <div class='tile-widenew fg-white divborder' data-role='tile'>
                                <div class='tile-content slide-up'>
                                    <h2 class="prodoff">10% Off</h2>
                                    <div class='cart_items'>
                                        <div class='content'>
                                            <div class="PRODUCT-IMAGE">
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 1480, itemName = "special Choclate Kaju biscuits".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img src="~/Content/update(5-10)/DOD/FourtyEightDeal/EF9.jpg" alt="Gandhibagh" class="divimg" />
                                                </a>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="STOCK-STATUS lablehead">
                                <h3>special Choclate Kaju biscuits SC-005</h3>
                            </div>
                            <div class="MRP">
                                <del><span style="margin-top:-21px; display:block;">Sale Price Rs 145/-</span></del>
                            </div>
                            <div class="SALE_RATE">
                                <span>Offer Price :</span><span class="spannew">Rs 130/-</span>
                            </div>
                            <div class="btnoffer">
                                <a title="Add to Cart" onclick="AddProduct(3798, 1480)"><button>Add to Cart</button></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="cell colspan3 item1">
                    <div class="a tile-group1 double">
                        <div class="tile-container">
                            <div class='tile-widenew fg-white divborder' data-role='tile'>
                                <div class='tile-content slide-up'>
                                    <h2 class="offerStick">33% Off</h2>
                                    <div class='cart_items'>
                                        <div class='content'>
                                            <div class="PRODUCT-IMAGE">
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 25711, itemName = "Nestle Fox Fruits Pkt".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img src="~/Content/update(5-10)/DOD/FourtyEightDeal/EF10.jpg" alt="Gandhibagh" class="divimg" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="STOCK-STATUS lablehead">
                                <h3>Nestle Fox Fruits Pkt</h3>
                            </div>
                            <div class="MRP">
                                <del><span style="margin-top:-21px; display:block;">Sale Price Rs 45/-</span></del>
                            </div>
                            <div class="SALE_RATE">
                                <span>Offer Price :</span><span class="spannew">Rs 39/-</span>
                            </div>
                            <div class="btnoffer">
                                <a title="Add to Cart" onclick="AddProduct(46063, 40481)"><button>Add to Cart</button></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="cell colspan3 item1">
                    <div class="a tile-group1 double">
                        <div class="tile-container">
                            <div class='tile-widenew fg-white divborder' data-role='tile'>
                                <div class='tile-content slide-up'>
                                    <h2 class="prodoff">12% Off</h2>
                                    <div class='cart_items'>
                                        <div class='content'>
                                            <div class="PRODUCT-IMAGE">
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41320, itemName = "Gits Khaman Dhokla Mix".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img src="~/Content/update(5-10)/DOD/FourtyEightDeal/EF11.jpg" alt="Gandhibagh" class="divimg" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="STOCK-STATUS lablehead">
                                <h3>Gits Khaman Dhokla Mix</h3>
                            </div>
                            <div class="MRP">
                                <del><span style="margin-top:-21px; display:block;">Sale Price Rs 40/-</span></del>
                            </div>
                            <div class="SALE_RATE">
                                <span>Offer Price :</span><span class="spannew">Rs 35/-</span>
                            </div>
                            <div class="btnoffer">
                                <a title="Add to Cart" onclick="AddProduct(47837, 41320)"><button>Add to Cart</button></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="cell colspan3 item1">
                    <div class="a tile-group1 double">
                        <div class="tile-container">
                            <div class='tile-widenew fg-white divborder' data-role='tile'>
                                <div class='tile-content slide-up'>
                                    <h2 class="prodoff">08% Off</h2>
                                    <div class='cart_items'>
                                        <div class='content'>
                                            <div class="PRODUCT-IMAGE">
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 1589, itemName = "Nivea Fresh Natural Mist Deodorant".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img src="~/Content/update(5-10)/DOD/FourtyEightDeal/EF12.jpg" alt="Gandhibagh" class="divimg" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="STOCK-STATUS lablehead">
                                <h3>Nivea Fresh Natural Mist Deodorant (150 ml)</h3>
                            </div>
                            <div class="MRP">
                                <del><span style="margin-top:-21px; display:block;">Sale Price Rs 180/-</span></del>
                            </div>
                            <div class="SALE_RATE">
                                <span>Offer Price :</span><span class="spannew">Rs 165/-</span>
                            </div>
                            <div class="btnoffer">
                                <a title="Add to Cart" onclick="AddProduct(3819, 1589)"><button>Add to Cart</button></a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul id="ulProduct" class="row cells12 job1">
                <li class="cell colspan3 item1">
                    <div class="a tile-group1 double">
                        <div class="tile-container">
                            <div class='tile-widenew fg-white divborder' data-role='tile'>
                                <div class='tile-content slide-up'>
                                    <h2 class="prodoff">13% Off</h2>
                                    <div class='cart_items'>
                                        <div class='content'>
                                            <div class="PRODUCT-IMAGE">
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 20110, itemName = "Avon Simply Pretty Kajal".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img src="~/Content/update(5-10)/DOD/FourtyEightDeal/EF13.jpg" alt="Gandhibagh" class="divimg" />
                                                </a>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="STOCK-STATUS lablehead">
                                <h3>Avon Simply Pretty Kajal</h3>
                            </div>
                            <div class="MRP">
                                <del><span style="margin-top:-21px; display:block;">Sale Price Rs 115/-</span></del>
                            </div>
                            <div class="SALE_RATE">
                                <span>Offer Price :</span><span class="spannew">Rs 99/-</span>
                            </div>
                            <div class="btnoffer">
                                <a title="Add to Cart" onclick="AddProduct(20567, 20110)"><button>Add to Cart</button></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="cell colspan3 item1">
                    <div class="a tile-group1 double">
                        <div class="tile-container">
                            <div class='tile-widenew fg-white divborder' data-role='tile'>
                                <div class='tile-content slide-up'>
                                    <h2 class="offerStick">08% Off</h2>
                                    <div class='cart_items'>
                                        <div class='content'>
                                            <div class="PRODUCT-IMAGE">
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 1592, itemName = "Nivea Energy Fresh Deodorant Spray".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img src="~/Content/update(5-10)/DOD/FourtyEightDeal/EF14.jpg" alt="Gandhibagh" class="divimg" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="STOCK-STATUS lablehead">
                                <h3>Nivea Energy Fresh Deodorant Spray - For Women(150 ml)</h3>
                            </div>
                            <div class="MRP">
                                <del><span style="margin-top:-21px; display:block;">Sale Price Rs 180/-</span></del>
                            </div>
                            <div class="SALE_RATE">
                                <span>Offer Price :</span><span class="spannew">Rs 165/-</span>
                            </div>
                            <div class="btnoffer">
                                <a title="Add to Cart" onclick="AddProduct(21609, 1592)"><button>Add to Cart</button></a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#countdown").countdown();
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
    });
</script>

