@{
    ViewBag.Title = "Gold Jewellery|Gandhibagh.com";
}
<style>
    .margin-setTop {
        margin-top: -33px;
    }

    .heart {
        display: none !important;
    }

    .option2 .product-featured .product-featured-tab-content .box-right {
        /*width: 54% !important;*/
    }
</style>
<script type="text/javascript">
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<link href="~/Content/Home-content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        var newClone1 = $("#cpy1").html();

        if ($(window).width() < 750) {
            // alert("1");
            $(newClone1).clone().appendTo("#pst1");

        } else {
            $("#pst1").empty();
        }
    });
</script>
<script src="~/Scripts/Products.js"></script>
@{
    string cityName = "";
    if (Request.Cookies["CityCookie"] != null && Request.Cookies["CityCookie"].Value != "")
    {
        cityName = Request.Cookies["CityCookie"].Value.Split('$')[1].ToLower();
    }
}
<div class="container margin-setTop">
    <div class="category-featured electronic">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-electronic.png">*@Gold Jewellery</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst1"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-3" class="floor-elevator">
                <a href="#elevator-2" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#elevator-4" class="btn-elevator down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy1">
                        <li>
                            <a class="parent" href='@Url.RouteUrl("GoldMarket", new { city = cityName })'>Gold Jewellery</a>
                            <ul>
                                <li>
                                    @*<a href="~/Product/Products?parentCategoryId=68&item=Bangles">*@
                                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "bangles", parentCategoryId = 68, city = cityName })">Bangles</a>
                                </li>
                                <li>
                                    @*<a href="~/Product/Products?parentCategoryId=65&item=Bracelets">*@
                                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "bracelets", parentCategoryId = 65, city = cityName })">Bracelets</a>
                                </li>
                                <li>
                                    @*<a href="~/Product/Products?parentCategoryId=76&item=Mangalsutra">*@
                                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "mangalsutra", parentCategoryId = 76, city = cityName })">Mangalsutra</a>
                                </li>
                                <li>
                                    @*<a href="~/Product/Products?parentCategoryId=70&item=Pendant">*@
                                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "pendant", parentCategoryId = 70, city = cityName })">Pendant</a>
                                </li>
                                <li>
                                    @*<a href="~/Product/Products?parentCategoryId=69&item=Necklaces">*@
                                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "necklaces", parentCategoryId = 69, city = cityName })">Necklaces</a>
                                </li>
                                <li>
                                    @*<a href="~/Product/Products?parentCategoryId=64&item=Ring">*@
                                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "ring", parentCategoryId = 64, city = cityName })">Ring</a>
                                </li>
                                <li>
                                    @*<a href="~/Product/Products?parentCategoryId=66&item=Chains">*@
                                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "chains", parentCategoryId = 66, city = cityName })">Chains</a>
                                </li>
                                <li>
                                    @*<a href="~/Product/Products?parentCategoryId=67&item=Earrings">*@
                                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "earrings", parentCategoryId = 67, city = cityName })">Earrings</a>
                                </li>
                                <li>
                                    @*<a href="~/Product/Products?parentCategoryId=74&item=Maangtika">*@
                                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "maangtika", parentCategoryId = 74, city = cityName })">Maangtika</a>
                                </li>
                                <li>
                                    @*<a href="~/Product/Products?parentCategoryId=75&item=Watch">*@
                                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "watch", parentCategoryId = 75, city = cityName })">Watch</a>
                                </li>
                                <li>
                                    @*<a href="~/Product/Products?parentCategoryId=73&item=NecklacesSet">*@
                                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "necklacesSet", parentCategoryId = 73, city = cityName })">Necklaces Set</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="parent" href='@Url.RouteUrl("GoldMarket", new { city = cityName })'>Diamond Jewellery</a>
                            <ul>
                                <li>
                                    @*<a href="~/Product/Products?parentCategoryId=37&item=Ring">*@
                                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "ring", parentCategoryId = 37, city = cityName })">Diamond Ring</a>
                                </li>
                                <li>
                                    @*<a href="~/Product/Products?parentCategoryId=38&item=Earrings">*@
                                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "earrings", parentCategoryId = 38, city = cityName })">Earrings</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="parent" href='@Url.RouteUrl("GoldMarket", new { city = cityName })'>1 Gram Jewellery</a>
                            <ul>
                                <li>
                                    @*<a href="~/Product/Products?parentCategoryId=51&item=Bangles">*@
                                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "bangles", parentCategoryId = 51, city = cityName })">Bangles</a>
                                </li>
                                <li>
                                    @*<a href="~/Product/Products?parentCategoryId=56&item=Bracelets">*@
                                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "bracelets", parentCategoryId = 56, city = cityName })">Bracelets</a>
                                </li>
                                <li>
                                    @*<a href="~/Product/Products?parentCategoryId=52&item=Necklaces">*@
                                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "Necklaces", parentCategoryId = 52, city = cityName })">Necklaces</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-8">
                                <div class="box-left">
                                    <div class="banner-img">
                                        <img src="~/Content/update(5-10)/images/jewellery-banner.jpg" alt="Banner Product">
                                    </div>
                                </div>
                                <div class="box-right">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=8134" title="Gold Bangles Code 0021">Gold Bangles Code 0021</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 8134, itemName = "Gold Bangles Code 0021".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Gold Bangles Code 0021">Gold Bangles Code 0021</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs150969.44</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=8134">
                                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Gold1.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 8134, itemName = "Gold Bangles Code 0021".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Gold1.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 8134, itemName = "Gold Bangles Code 0021".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(9932, 8134)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(9932, 8134)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=8347" title="Gold Mangalsutra Code 084">Gold Mangalsutra Code 084</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 8347, itemName = "Gold Mangalsutra Code 084".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Gold Mangalsutra Code 084">Gold Mangalsutra Code 084</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs26561.32</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=8347">
                                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Gold6.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 8347, itemName = "Gold Mangalsutra Code 084".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Gold6.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 8347, itemName = "Gold Mangalsutra Code 084".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(5665, 8347)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(5665, 8347)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=8205" title="Titan Gold Watch CODE 0064">Titan Gold Watch CODE 0064</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 8205, itemName = "Titan Gold Watch CODE 0064".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Titan Gold Watch CODE 0064">Titan Gold Watch CODE 0064</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs83432.78</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=8205">
                                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Gold3.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 8205, itemName = "Titan Gold Watch CODE 0064".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Gold3.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 8205, itemName = "Titan Gold Watch CODE 0064".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(5638, 8205)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(5638, 8205)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=9033" title="Gold Ring Code 542">Gold Ring Code 542</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 9033, itemName = "Gold Ring Code 542".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Gold Ring Code 542">Gold Ring Code 542</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs20923.58</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=9033">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Gold4.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 9033, itemName = "Gold Ring Code 542".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Gold4.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 9033, itemName = "Gold Ring Code 542".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(9728, 9033)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(9728, 9033)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=8838" title="Gold  Earrings CODE  00428">Gold  Earrings CODE  00428</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 8838, itemName = "Gold  Earrings CODE  00428".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Gold  Earrings CODE  00428">Gold  Earrings CODE  00428</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs14559.32</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=8838">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Gold5.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 8838, itemName = "Gold Earrings CODE 00428".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Gold5.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 8838, itemName = "Gold  Earrings CODE  00428".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(11491, 8838)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(11491, 8838)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=8341" title="Gold Chain Code 0118">Gold Chain Code 0118</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 8341, itemName = "Gold Chain Code 0118".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Gold Chain Code 0118">Gold Chain Code 0118</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs113742.91</span>

                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=8341">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Gold2.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 8341, itemName = "Gold Chain Code 0118".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Gold2.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 8341, itemName = "Gold Chain Code 0118".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(4615, 8341)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(4615, 8341)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="category-featured electronic">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-electronic.png">*@Silver Jewellery</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst1"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-3" class="floor-elevator">
                <a href="#elevator-2" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#elevator-4" class="btn-elevator down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy1">
                        <li>
                            <a class="parent" href='@Url.RouteUrl("GoldMarket", new { city = cityName })'>Silver Jewellery</a>
                            <ul>
                                <li>
                                    @*<a href="~/Product/Products?parentCategoryId=1306&item=Ring(Silver)" title="">*@
                                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "ring(silver)", parentCategoryId = 1306, city = cityName })">Ring(Silver)</a>
                                </li>
                                <li>
                                    @*<a href="~/Product/Products?parentCategoryId=33&item=Bracelets">*@
                                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "bracelets", parentCategoryId = 33, city = cityName })">Bracelets</a>
                                </li>
                                <li>
                                    @*<a href="~/Product/Products?parentCategoryId=30&item=Pendant">*@
                                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "pendant", parentCategoryId = 30, city = cityName })">Pendant</a>
                                </li>
                                <li>
                                    @*<a href="~/Product/Products?parentCategoryId=966&item=Anklets">*@
                                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "anklets", parentCategoryId = 966, city = cityName })">Anklets</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="parent" href='@Url.RouteUrl("GoldMarket", new { city = cityName })'>Artifacts Jewellery</a>
                            <ul>
                                <li>
                                    @*<a href="~/Product/Products?parentCategoryId=41&item=Silver Furniture">*@
                                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "silver-furniture", parentCategoryId = 41, city = cityName })">Silver Furniture</a>
                                </li>
                                <li>
                                    @*<a href="~/Product/Products?parentCategoryId=42&item=Home Decorative">*@
                                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "home-decorative", parentCategoryId = 42, city = cityName })">Home Decorative</a>
                                </li>

                                <li>
                                    @*<a href="~/Product/Products?parentCategoryId=43&item=Mirror">*@
                                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "mirror", parentCategoryId = 43, city = cityName })">Mirror</a>
                                </li>
                                <li>
                                    @*<a href="~/Product/Products?parentCategoryId=44&item=Frame">*@
                                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "Frame", parentCategoryId = 44, city = cityName })">Frame</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-8">
                                <div class="box-left">
                                    <div class="banner-img">
                                        <img src="~/Content/update(5-10)/images/silver-banner.jpg" alt="Banner Product">
                                    </div>
                                </div>
                                <div class="box-right">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=24117" title="92.5 Precious Sterling Silver Ring">92.5 Precious Sterling Silver Ring</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 24117, itemName = "92.5 Precious Sterling Silver Ring".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="92.5 Precious Sterling Silver Ring">92.5 Precious Sterling Silver Ring</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs207.00</span>
                                                    <span class="price old-price">Rs288.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=24117">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Silver1.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 24117, itemName = "92.5 Precious Sterling Silver Ring".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Silver1.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 24117, itemName = "92.5 Precious Sterling Silver Ring".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(23839, 24117)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(23839, 24117)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 3323, itemName = "Bracelet With Golden Color".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Bracelet With Golden Color Code-90010832">Bracelet With Golden Color Code-90010832</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs2398</span>
                                                    <span class="price old-price">Rs3197</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=3323">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Silver2.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 3323, itemName = "Bracelet With Golden Color".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Silver2.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 3323, itemName = "Bracelet With Golden Color".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(1736, 3323)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(1736, 3323)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 3324, itemName = "Silver Pendant".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Silver Pendant ( Chain + Locket ) Code - 90010709">Silver Pendant ( Chain + Locket ) Code - 90010709</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs825.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=3324">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Silver3.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 3324, itemName = "Silver Pendant".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Silver3.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 3324, itemName = "Silver Pendant".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(21188, 3324)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(21188, 3324)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 28357, itemName = "Silver Payal".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Silver Payal">Silver Payal</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs1735.00</span>
                                                    <span class="price old-price">Rs2478.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=28357">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Silver4.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 28357, itemName = "Silver Payal".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Silver4.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 28357, itemName = "Silver Payal".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(31949, 28357)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(31949, 28357)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=19209" title="Prabhu Ganesha Smallest">Prabhu Ganesha Smallest</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 19209, itemName = "Prabhu Ganesha Smallest".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Prabhu Ganesha Smallest">Prabhu Ganesha Smallest</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs13600.00</span>

                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=19209">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Silver6.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 19209, itemName = "Prabhu Ganesha Smallest".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Silver6.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 19209, itemName = "Prabhu Ganesha Smallest".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(12308, 19209)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(12308, 19209)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container containernew1 span12">
    <div class="FootTextDiv">
        <p class="indent-paragraph " style="text-align:justify;">
            <span class="footerdetail">Gold Market</span><br />
            The gold jewellery with us is unmatched in terms of style, design and quality. You can browse a number of gold jewellery including chains, necklaces, earrings, pendants, bracelets, rings, etc. with classic and elegant styles and designs to suit any occasion. Gandhibagh.com is one of the leading online stores in Central India catering high quality and stylish gold jewellery. The online store came into existence with an idea to change the way the gold and other jewellery are procured in Central India.
            Gandhibagh.com is among the leading e-commerce companies in Central India, which has carved its niche in the market by offering high quality products at affordable prices. With its user friendly designs, you can explore a wide range of gold jewellery found across a wide range of local brands popular in Central India. Catering to all the major cities and towns of India with greater customer delight and the best part is our unique business model, which helps our customers to enjoy additional discounts over the retail costs.
            At Gandhibagh, we have professionals who understand the gold jewellery business the best, which enable us to give some of the best deals. Our online store enjoys the strength of low overheads and fewer inventory costs. With these features, no wonder, Gandhibagh.com has embarked as one of the leading online stores catering authentic quality gold jewellery at reasonable pricing through our partner stores. At Gandhibagh.com, you can either buy directly or simply visit our partner store to get high quality gold jewellery.
            You can explore a wide range of stylish and high quality rings perfect for occasions like engagement, anniversary, festive, special and daily use. Find stylish and dazzling earrings that suit your mood and outfits the best and thus make it a perfect wearable stuff for any occasion. Similarly for office use, you can find slender and sleek gold hoops jewellery. Shop gold studs jewellery with incredible beauty and charm, suiting every occasion. You can even explore our huge collection of gold cocktail jewellery available for different styles and sizes. So, right from the gold religious pendants to gold coins and gold hoops jewellery, Gandhibagh.com is the one stop store for gold jewellery available at reasonable cost and of authentic quality.<br /><br />
        </p>
    </div>
</div>
