@{
    ViewBag.Title = "Holioffers|Gandhibagh.com";

    string cityName = "nagpur";
    if (Request.Cookies["CityCookie"] != null && Request.Cookies["CityCookie"].Value != "")
    {
        cityName = Request.Cookies["CityCookie"].Value.Split('$')[1].ToLower();
    }
}
<link href="~/Content/image_hover/styles/main.css" rel="stylesheet" />
<script src="~/Content/image_hover/scripts/app.js"></script>
<style>
    body {
        background: url(../../Content/Images/holiback.png) repeat-y 0 0;
        background-size: cover;
    }

    .banner-top {
        text-align: center;
        width: 100%;
        margin-left: -33px;
        border-bottom: 1px solid #eaeaea;
        border-bottom-style: dotted;
    }

    .ih-item.circle.effect1 .info h3 {
        color: #fff;
        text-transform: uppercase;
        position: relative;
        letter-spacing: 2px;
        font-size: 14px;
        margin: 0 21px;
        padding: 25px 0 0 0;
        height: 68px;
        text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
    }

    .btn-buy1 {
        background: #F29100 !important;
        border: 1px solid #F29100 !important;
        color: #fff !important;
    }
    .img_holi {
        margin-top: -51px;
    }
</style>
<script src="~/Scripts/Products.js"></script>
@*<script src="~/Content/js/jquery-1.11.2.min.js"></script>*@
<script type="text/javascript">
    function AddProduct(shopStockId, itemId) {
        var _url='@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 firstdiv col-lg-offset-1 col-md-offset-1">
            <div class="banner-top">
                <img src="~/Content/Images/banner-holi.jpg" class="img_holi" />
            </div>
        </div>
    </div>
</div>

<br />
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 firstdiv col-lg-offset-1 col-md-offset-1">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <!-- normal -->
                <div class="ih-item circle effect1">
                 <div class="spinner"></div>
                        <div class="img">
                            <img src="~/Content/Home-content/Holi/1.jpg" />
                        </div>
                        <div class="info">
                            <div class="info-back">
                                <h3><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 60913, itemName = "Tota Herbal Gulal Box".ToLower().Replace(' ', '-'), city = cityName })"> Tota Herbal Gulal Box</a></h3>
                                <p>You Save 48%</p>
                                <input type="button" class="btn-buy1 button" value="Add to Cart" onclick="AddProduct(84219,60913)" />
                                 <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 250</span><br />
                                <h4 id="anchorRemove" class="">Sale Rate:130</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- end normal -->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <!-- normal -->
                <div class="ih-item circle effect1">
                    
                        <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/2.jpg"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 60914, itemName = "Yellow Gulal".ToLower().Replace(' ', '-'), city = cityName })">Yellow Gulal</a></h3>
                                <p>You Save 20%</p>
                                <input type="button" class="btn-buy1 button" value="Buy Now" onclick="AddProduct(84221, 60914)"  />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 50</span><br />
                                <h4 id="anchorRemove" class="">Sale Rate:40</h4>
                            </div>
                        </div>
                   
                </div>
                <!-- end normal -->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <!-- normal -->
                <div class="ih-item circle effect1">
                    
                        <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/3.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 60915, itemName = "Green Gulal".ToLower().Replace(' ', '-'), city = cityName })">Green Gulal</a></h3>
                                <p>You Save 20%</p>
                                <input type="button" class="btn-buy1 button" value="Buy Now" onclick="AddProduct(48487, 41636)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 50</span><br />
                                <h4 id="anchorRemove" class="">Sale Rate:40</h4>
                            </div>
                        </div>
                   
                </div>
                <!-- end normal -->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <!-- normal -->
                <div class="ih-item circle effect1">
                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 60916, itemName = "Pink Gulal".ToLower().Replace(' ', '-'), city = cityName })">
                        <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/4.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 60916, itemName = "Pink Gulal".ToLower().Replace(' ', '-'), city = cityName })">Pink Gulal</a></h3>
                                <p>You Save 20%</p>
                                <input type="button" class="btn-buy1 button" value="Buy Now" onclick="AddProduct(84225, 60916)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 50</span><br />
                                <h4 id="anchorRemove" class="">Sale Rate:40</h4>
                            </div>
                        </div>
                   
                </div>
                <!-- end normal -->
            </div>
        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 firstdiv col-lg-offset-1 col-md-offset-1">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <!-- normal -->
                <div class="ih-item circle effect1">
                    
                        <div class="spinner"></div>
                        <div class="img">
                            <img src="~/Content/Home-content/Holi/5.jpg" />
                        </div>
                        <div class="info">
                            <div class="info-back">
                                <h3><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 60917, itemName = "Orange Gulal".ToLower().Replace(' ', '-'), city = cityName })">Orange Gulal<a></h3>
                                <p>You Save 20%</p>
                                <input type="button" class="btn-buy1 button" value="Buy Now" onclick="AddProduct(84227, 60917)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 50</span><br />
                                <h4 id="anchorRemove" class="">Sale Rate:40</h4>
                            </div>
                        </div>
                   
                </div>
                <!-- end normal -->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <!-- normal -->
                <div class="ih-item circle effect1">
                    
                        <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/6.jpg"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 60918, itemName = "Red Gulal".ToLower().Replace(' ', '-'), city = cityName })">Red Gulal</a></h3>
                                <p>You Save 20%</p>
                                <input type="button" class="btn-buy1 button" value="Buy Now" onclick="AddProduct(84229, 60918)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 50</span><br />
                                <h4 id="anchorRemove" class="">Sale Rate:40</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- end normal -->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <!-- normal -->
                <div class="ih-item circle effect1">
                    
                        <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/7.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 60919, itemName = "Blue Gulal".ToLower().Replace(' ', '-'), city = cityName })">Blue Gulal</a></h3>
                                <p>You Save 20%</p>
                                <input type="button" class="btn-buy1 button" value="Buy Now" onclick="AddProduct(84232, 60919)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 50</span><br />
                                <h4 id="anchorRemove" class="">Sale Rate:40</h4>
                            </div>
                        </div>
                    
                </div>
                <!-- end normal -->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <!-- normal -->
                <div class="ih-item circle effect1">
                    
                        <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/8.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 60920, itemName = "Dark Pink Gulal".ToLower().Replace(' ', '-'), city = cityName })">Dark Pink Gulal</a></h3>
                                <p>You Save 20%</p>
                                <input type="button" class="btn-buy1 button" value="Buy Now" onclick="AddProduct(84234, 60920)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 50</span><br />
                                <h4 id="anchorRemove" class="">Sale Rate:40</h4>
                            </div>
                        </div>
                    
                </div>
                <!-- end normal -->
            </div>
        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 firstdiv col-lg-offset-1 col-md-offset-1">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <!-- normal -->
                <div class="ih-item circle effect1">
                    
                        <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/9.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 60922, itemName = "Standard Gold Gulal(Pack Of 3)".ToLower().Replace(' ', '-'), city = cityName })">Standard Gold Gulal</a></h3>
                                <p>You Save 34%</p>
                                <input type="button" class="btn-buy1 button" value="Buy Now" onclick="AddProduct(85211, 60922)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 69</span><br />
                                <h4 id="anchorRemove" class="">Sale Rate:45</h4>
                            </div>
                        </div>
                  
                </div>
                <!-- end normal -->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <!-- normal -->
                <div class="ih-item circle effect1">
                    
                        <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/10.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 60923, itemName = "Spiderman Pichkari".ToLower().Replace(' ', '-'), city = cityName })">Spiderman Pichkari</a></h3>
                                <p>You Save 35%</p>
                                <input type="button" class="btn-buy1 button" value="Buy Now" onclick="AddProduct(84264, 60923)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 131</span><br />
                                <h4 id="anchorRemove" class="">Sale Rate:85.00</h4>
                            </div>
                        </div>
                    
                </div>
                <!-- end normal -->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <!-- normal -->
                <div class="ih-item circle effect1">
                   
                        <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/11.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 60924, itemName = "Angry Bird Pichkari".ToLower().Replace(' ', '-'), city = cityName })">Angry Bird Pichkari</a></h3>
                                <p>You Save 29%</p>
                                <input type="button" class="btn-buy1 button" value="Buy Now" onclick="AddProduct(84265, 60924)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 121</span><br />
                                <h4 id="anchorRemove" class="">Sale Rate:85</h4>
                            </div>
                        </div>
                    
                </div>
                <!-- end normal -->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <!-- normal -->
                <div class="ih-item circle effect1">
                    <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/12.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 60926, itemName = "Doraemon Holi Pichkari".ToLower().Replace(' ', '-'), city = cityName })"> Doraemon Holi Pichkari</a></h3>
                                <p>You Save 35%</p>
                                <input type="button" class="btn-buy1 button" value="Buy Now" onclick="AddProduct(84278, 60926)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 131</span><br />
                                <h4 id="anchorRemove" class="">Sale Rate:85</h4>
                            </div>
                        </div>
                 
                </div>
                <!-- end normal -->
            </div>
        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 firstdiv col-lg-offset-1 col-md-offset-1">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <!-- normal -->
                    <div class="ih-item circle effect1">
                        
                            <div class="spinner"></div>
                            <div class="img"><img src="~/Content/Home-content/Holi/13.jpg" alt="img"></div>
                            <div class="info">
                                <div class="info-back">
                                    <h3><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 60927, itemName = "Chota Bheem DLX Pichkari".ToLower().Replace(' ', '-'), city = cityName })">Chota Bheem DLX Pichkari</a></h3>
                                    <p>You Save 30%</p>
                                    <input type="button" class="btn-buy1 button" value="Buy Now" onclick="AddProduct(84279, 60927)" />
                                    <br />
                                    <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 136</span><br />
                                    <h4 id="anchorRemove" class="">Sale Rate:95</h4>
                                </div>
                            </div>
                        
                    </div>
                    <!-- end normal -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <!-- normal -->
                    <div class="ih-item circle effect1">
                        
                            <div class="spinner"></div>
                            <div class="img"><img src="~/Content/Home-content/Holi/14.jpg" alt="img"></div>
                            <div class="info">
                                <div class="info-back">
                                    <h3><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 60928, itemName = "Chota Bheem Pichkari".ToLower().Replace(' ', '-'), city = cityName })">Chota Bheem Pichkari</a></h3>
                                    <p>You Save 30%</p>
                                    <input type="button" class="btn-buy1 button" value="Buy Now" onclick="AddProduct(84280, 60928)" />
                                    <br />
                                    <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 129</span><br />
                                    <h4 id="anchorRemove" class="">Sale Rate:90</h4>
                                </div>
                            </div>
                        
                    </div>
                    <!-- end normal -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <!-- normal -->
                    <div class="ih-item circle effect1">
                        
                            <div class="spinner"></div>
                            <div class="img"><img src="~/Content/Home-content/Holi/15.jpg" alt="img"></div>
                            <div class="info">
                                <div class="info-back">
                                    <h3><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 60930, itemName = "Shine Line Pichkari".ToLower().Replace(' ', '-'), city = cityName })">Shine Line Pichkari</a></h3>
                                    <p>You Save 35%</p>
                                    <input type="button" class="btn-buy1 button" value="Buy Now" onclick="AddProduct(84296, 60930)" />
                                    <br />
                                    <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 247</span><br />
                                    <h4 id="anchorRemove" class="">Sale Rate:160</h4>
                                </div>

                            </div>
                        
                    </div>
                    <!-- end normal -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <!-- normal -->
                    <div class="ih-item circle effect1">
                       
                            <div class="spinner"></div>
                            <div class="img"><img src="~/Content/Home-content/Holi/16.jpg" alt="img"></div>
                            <div class="info">
                                <div class="info-back">
                                    <h3><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 60931, itemName = "Silver Shine Pichkari".ToLower().Replace(' ', '-'), city = cityName })">Silver Shine Pichkari</a></h3>
                                    <p>You Save 29%</p>
                                    <input type="button" class="btn-buy1 button" value="Buy Now" onclick="AddProduct(84297, 60931)" />
                                    <br />
                                    <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 121</span><br />
                                    <h4 id="anchorRemove" class="">Sale Rate:85.00</h4>
                                </div>
                            </div>
                       
                    </div>
                    <!-- end normal -->
                </div>

            </div>
        </div>
    </div>

</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 firstdiv col-lg-offset-1 col-md-offset-1">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <!-- normal -->
                <div class="ih-item circle effect1">
                    
                        <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/17.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 60932, itemName = "Angry Bird Steel Pichkari".ToLower().Replace(' ', '-'), city = cityName })">Angry Bird Steel Pichkari</a></h3>
                                <p>You Save 29%</p>
                                <input type="button" class="btn-buy1 button" value="Buy Now" onclick="AddProduct(84298, 60932)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 171</span><br />
                                <h4 id="anchorRemove" class="">Sale Rate:120</h4>
                            </div>
                        </div>
                    
                </div>
                <!-- end normal -->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <!-- normal -->
                <div class="ih-item circle effect1">
                    
                        <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/18.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 60933, itemName = "Ben 10 Steel Pichkari".ToLower().Replace(' ', '-'), city = cityName })">Ben 10 Steel Pichkari</a></h3>
                                <p>You Save 35%</p>
                                <input type="button" class="btn-buy1 button" value="Buy Now" onclick="AddProduct(84299, 60933)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 131</span><br />
                                <h4 id="anchorRemove" class="">Sale Rate:85.00</h4>
                            </div>
                        </div>
                    
                </div>
                <!-- end normal -->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <!-- normal -->
                <div class="ih-item circle effect1">
                    
                        <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/19.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 60935, itemName = "Plastic G6 Holi Pichkari".ToLower().Replace(' ', '-'), city = cityName })">Plastic G6 Holi Pichkari</a></h3>
                                <p>You Save 30%</p>
                                <input type="button" class="btn-buy1 button" value="Buy Now" onclick="AddProduct(84302, 60935)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 100</span><br />
                                <h4 id="anchorRemove" class="">Sale Rate:70</h4>
                            </div>
                        </div>
                  
                </div>
                <!-- end normal -->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <!-- normal -->
                <div class="ih-item circle effect1">
                    
                        <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/20.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 60936, itemName = "Plastic G38 Holi Pichkari".ToLower().Replace(' ', '-'), city = cityName })">Plastic G38 Holi Pichkari</a></h3>
                                <p>You Save 35%</p>
                                <input type="button" class="btn-buy1 button" value="Buy Now" onclick="AddProduct(84303, 60936)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 62</span><br />
                                <h4 id="anchorRemove" class="">Sale Rate:40.00</h4>
                            </div>
                        </div>
                    
                </div>
                <!-- end normal -->
            </div>
        </div>
    </div>
</div>
<br />

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 firstdiv col-lg-offset-1 col-md-offset-1">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <!-- normal -->
                <div class="ih-item circle effect1">
                    
                        <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/21.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 60937, itemName = "Plastic G8 Holi Pichkari".ToLower().Replace(' ', '-'), city = cityName })">Plastic G8 Holi Pichkari</a></h3>
                                <p>You Save 29%</p>
                                <input type="button" class="btn-buy1 button" value="Buy Now" onclick="AddProduct(84304, 60937)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 57</span><br />
                                <h4 id="anchorRemove" class="">Sale Rate:40.00</h4>
                            </div>
                        </div>
                    
                </div>
                <!-- end normal -->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <!-- normal -->
                <div class="ih-item circle effect1">
                    
                        <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/22.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 60938, itemName = "Plastic G1 Holi Pichkari".ToLower().Replace(' ', '-'), city = cityName })">Plastic G1 Holi Pichkari</a></h3>
                                <p>You Save 35%</p>
                                <input type="button" class="btn-buy1 button" value="Buy Now" onclick="AddProduct(84306, 60938)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 108</span><br />
                                <h4 id="anchorRemove" class="">Sale Rate:70</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- end normal -->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <!-- normal -->
                <div class="ih-item circle effect1">
                    
                        <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/23.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 60940, itemName = "Plastic G34 Holi Pichkari".ToLower().Replace(' ', '-'), city = cityName })">Plastic G12 Holi Pichkari</a></h3>
                                <p>You Save 34%</p>
                                <input type="button" class="btn-buy1 button" value="Buy Now" onclick="AddProduct(84308, 60940)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 61</span><br />
                                <h4 id="anchorRemove" class="">Sale Rate:40</h4>
                            </div>
                        </div>
                    
                </div>
                <!-- end normal -->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <!-- normal -->
                <div class="ih-item circle effect1">
                   
                        <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/24.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 60940, itemName = "Plastic G34 Holi Pichkari".ToLower().Replace(' ', '-'), city = cityName })">Plastic G34 Holi Pichkari</a></h3>
                                <p>You Save 34%</p>
                                <input type="button" class="btn-buy1 button" value="Buy Now" onclick="AddProduct(84308, 60940)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 69</span><br />
                                <h4 id="anchorRemove" class="">Sale Rate:40</h4>
                            </div>
                        </div>
                   
                </div>
                <!-- end normal -->
            </div>
        </div>
    </div>
</div>

<br />
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 firstdiv col-lg-offset-1 col-md-offset-1">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <!-- normal -->
                <div class="ih-item circle effect1">
                    
                        <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/25.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 60941, itemName = "Plastic G35 Holi Pichkari".ToLower().Replace(' ', '-'), city = cityName })">Plastic G34 Holi Pichkari</a></h3>
                                <p>You Save 31%</p>
                                <input type="button" class="btn-buy1 button" value="Buy Now" onclick="AddProduct(84309, 60941)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 58</span><br />
                                <h4 id="anchorRemove" class="">Sale Rate:40</h4>
                            </div>
                        </div>
                    
                </div>
                <!-- end normal -->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <!-- normal -->
                <div class="ih-item circle effect1">
                    
                        <div class="spinner"></div>
                        <div class="img"><img src="~/Content/Home-content/Holi/26.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 60943, itemName = "Plastic G31 Holi Pichkari".ToLower().Replace(' ', '-'), city = cityName })">Plastic G31 Holi Pichkari</a></h3>
                                <p>You Save 30%</p>
                                <input type="button" class="btn-buy1 button" value="Buy Now" onclick="AddProduct(84322, 60943)" />
                                <br />
                                <span id="anchorRemove" class="" style="text-decoration:line-through">MRP:Rs 172</span><br />
                                <h4 id="anchorRemove" class="">Sale Rate:120</h4>
                            </div>
                        </div>
                    
                </div>
                <!-- end normal -->
            </div>


        </div>
    </div>
</div>
<br />





