@{
    ViewBag.Title = "Furniture & Interiors | Gandhibagh.com";
}

<link href="~/Content/Home-content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
<style>
    .margin-setTop {
        margin-top: -33px;
    }

    .heart {
        display: none !important;
    }
</style>
<script src="~/Content/update(5-10)/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var newClone1 = $("#cpy1").html();
        var newClone2 = $("#cpy2").html();
        var newClone3 = $("#cpy3").html();
        var newClone4 = $("#cpy4").html();
        var newClone5 = $("#cpy5").html();
        if ($(window).width() < 750) {
            // alert("1");
            $(newClone1).clone().appendTo("#pst1");
            $(newClone2).clone().appendTo("#pst2");
            $(newClone3).clone().appendTo("#pst3");
            $(newClone4).clone().appendTo("#pst4");
            $(newClone5).clone().appendTo("#pst5");
        } else {
            $("#pst1").empty();
            $("#pst2").empty();
            $("#pst3").empty();
            $("#pst4").empty();
            $("#pst5").empty();

        }
    });
</script>
<script src="~/Scripts/Products.js"></script>
@{
    string cityName = "";
    if (Request.Cookies["CityCookie"] != null && Request.Cookies["CityCookie"].Value != "")
    {
        cityName = Request.Cookies["CityCookie"].Value.Split('$')[1].ToLower();
    }
}
<div class="container margin-setTop">
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@Home Furnishing</a></div>
                <span class="toggle-menu"></span>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst1"></ul>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy1">
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1264&item=Bean Bags">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "bean-bags", parentCategoryId = 1264, city = cityName })">Bean Bags</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1266&item=Bed Runner">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "bed-runner", parentCategoryId = 1266, city = cityName })">Bed Runner</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1254&item=Bedsheets">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "bedsheets", parentCategoryId = 1254, city = cityName })">Bedsheets</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1256&item=Curtains & Accessories">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "curtains-and-accessories", parentCategoryId = 1256, city = cityName })">Curtains & Accessories</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1260&item=Mats & Carpets">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "mats-and-carpets", parentCategoryId = 1260, city = cityName })">Mats & Carpets</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1261&item=Mattresses">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "mattresses", parentCategoryId = 1261, city = cityName })">Mattresses</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1265&item=Napkin">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "Napkin", parentCategoryId = 1265, city = cityName })">Napkin</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=23411" title="Green Door Mat KC-008">Green Door Mat KC-008</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 23411, itemName = "Green Door Mat KC-008".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Green Door Mat KC-008">Green Door Mat KC-008</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs290.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=23411">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/int2.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 23411, itemName = "Green Door Mat KC-008".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/int2.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 23411, itemName = "Green Door Mat KC-008".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(14446, 23411)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(14446, 23411)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=17244" title="Window Curtains Code KC6 (Mahroon)">Window Curtains Code KC6 (Mahroon)</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 17244, itemName = "Window Curtains Code KC6 (Mahroon)".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Window Curtains Code KC6 (Mahroon)">Window Curtains Code KC6 (Mahroon)</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs330.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=17244">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/int7.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 17244, itemName = "Window Curtains Code KC6 (Mahroon)".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/int7.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 17244, itemName = "Window Curtains Code KC6 (Mahroon)".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(6518, 17244)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(6518, 17244)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=19515" title="Bean Bag Purple">Bean Bag Purple</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 19515, itemName = "Bean Bag Purple".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Bean Bag Purple">Bean Bag Purple</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs1800.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=19515">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/kw1.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 19515, itemName = "Bean Bag Purple".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/kw1.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 19515, itemName = "Bean Bag Purple".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(17710, 10867)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(17710, 10867)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=550" title="Haryana Apple printed Double Bedsheets HB-001">Haryana Apple printed Double Bedsheets HB-001</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 550, itemName = "Haryana Apple printed Double Bedsheets HB-001".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Haryana Apple printed Double Bedsheets HB-001">Haryana Apple printed Double Bedsheets HB-001</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs500.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=550">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/kw2.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 550, itemName = "Haryana Apple printed Double Bedsheets HB-001".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/kw2.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 550, itemName = "Haryana Apple printed Double Bedsheets HB-001".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(17367, 10460)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(17367, 10460)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=18592" title="Sleep Best mattress Code no.2880">Sleep Best mattress Code no.2880</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 18592, itemName = "Sleep Best mattress Code no.2880".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Sleep Best mattress Code no.2880">Sleep Best mattress Code no.2880</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs2880.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=18592">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/kw3.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 18592, itemName = "Sleep Best mattress Code no.2880".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/kw3.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 18592, itemName = "Sleep Best mattress Code no.2880".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(28737, 25731)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(28737, 25731)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@Home Decoratives</a></div>
                <span class="toggle-menu"></span>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst2"></ul>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->

            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy2">
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1251&item=Wallpaper">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "wallpaper", parentCategoryId = 1251, city = cityName })">Wallpaper</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1250&item=Wall Murals">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "wall-murals", parentCategoryId = 1250, city = cityName })">Wall Murals</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1236&item=3D Wallpaper">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "3D-Wallpaper", parentCategoryId = 1236, city = cityName })">3D Wallpaper</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1237&item=Vertical Blinds">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "vertical-blinds", parentCategoryId = 1237, city = cityName })">Vertical Blinds</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1249&item=Roller Blinds">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "roller-blinds", parentCategoryId = 1249, city = cityName })">Roller Blinds</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1246&item=Artificial Grass">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "artificial-grass", parentCategoryId = 1246, city = cityName })">Artificial Grass</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1239&item=Clocks">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "clocks", parentCategoryId = 1239, city = cityName })">Clocks</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1241&item=Home Decor">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "home-decor", parentCategoryId = 1241, city = cityName })">Home Decor</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1244&item=Religion & Spirituality">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "religion-and-spirituality", parentCategoryId = 1244, city = cityName })">Religion & Spirituality</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=11604" title="Tiffany 9825 – 1 Gorgeous Waves Wallpaper (57 sq ft)">Tiffany 9825 – 1 Gorgeous Waves Wallpaper (57 sq ft)</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 11604, itemName = "Tiffany 9825–1 Gorgeous Waves Wallpaper (57 sq ft)".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Tiffany 9825 – 1 Gorgeous Waves Wallpaper (57 sq ft)">Tiffany 9825 – 1 Gorgeous Waves Wallpaper (57 sq ft)</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs3500.00</span>
                                                    <span class="price old-price">Rs4500.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=11604">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/int1.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 11604, itemName = "Tiffany 9825–1 Gorgeous Waves Wallpaper".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/int1.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 11604, itemName = "Tiffany 9825–1 Gorgeous Waves Wallpaper (57 sq ft)".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(22760, 11604)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(22760, 11604)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=24086" title="Flower pot 006">Flower pot 006</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 24086, itemName = "Flower pot 006".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Flower pot 006">Flower pot 006</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs169.00</span>
                                                    <span class="price old-price">Rs199.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=24086">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/hf18.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 24086, itemName = "Flower pot 006".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/hf18.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 24086, itemName = "Flower pot 006".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(23798, 24086)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(23798, 24086)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=13248" title="Wall Expressions Alkemi Code No. NM0412037L (57 sq ft)">Wall Expressions Alkemi Code No. NM0412037L (57 sq ft)</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 13248, itemName = "Wall Expressions Alkemi Code No. NM0412037L (57 sq ft)".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Wall Expressions Alkemi Code No. NM0412037L (57 sq ft)">Wall Expressions Alkemi Code No. NM0412037L (57 sq ft)</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs9000</span>
                                                    <span class="price old-price">Rs9120</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=13248">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/hd2.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 13248, itemName = "Wall Expressions Alkemi Code No. NM0412037L".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/hd2.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 13248, itemName = "Wall Expressions Alkemi Code No. NM0412037L (57 sq ft)".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(11701, 13248)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(11701, 13248)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=11861" title="Deluxe Roller Blind Blackout DR 0896">Deluxe Roller Blind Blackout DR 0896</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 11861, itemName = "Deluxe Roller Blind Blackout DR 0896".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Deluxe Roller Blind Blackout DR 0896">Deluxe Roller Blind Blackout DR 0896</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs130.00</span>
                                                    <span class="price old-price">Rs150.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=11861">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/hd3.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 11861, itemName = "Deluxe Roller Blind Blackout DR 0896".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/hd3.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 11861, itemName = "Deluxe Roller Blind Blackout DR 0896".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(22878, 11861)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(22878, 11861)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@Interiors</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst3"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy3">
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1272&item=Boards">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "boards", parentCategoryId = 1272, city = cityName })">Boards</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1280&item=Ceiling Tile">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "ceiling-tile", parentCategoryId = 1280, city = cityName })">Ceiling Tile</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1279&item=Door">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "door", parentCategoryId = 1279, city = cityName })">Door</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1276&item=Fabric Flooring Tile">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "fabric-flooring-tile", parentCategoryId = 1276, city = cityName })">Fabric Flooring Tile</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1274&item=Flooring Tile">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "flooring-tile", parentCategoryId = 1274, city = cityName })">Flooring Tile</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1268&item=Laminate Wood Flooring">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "laminate-wood-flooring", parentCategoryId = 1268, city = cityName })">Laminate Wood Flooring</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1275&item=Marble Flooring Tile">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "marble-flooring-tile", parentCategoryId = 1275, city = cityName })">Marble Flooring Tile</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1277&item=Metal Flooring Tile">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "metal-flooring-tile", parentCategoryId = 1277, city = cityName })">Metal Flooring Tile</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1278&item=Sparkle Flooring Tile">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "sparkle-flooring-tile", parentCategoryId = 1278, city = cityName })">Sparkle Flooring Tile</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1269&item=Wood Floors">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "wood-floors", parentCategoryId = 1269, city = cityName })">Wood Floors</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=12159" title="Shera Deco Floor Cassia Chestnut Brown (25mm)">Shera Deco Floor Cassia Chestnut Brown (25mm)</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 12159, itemName = "Shera Deco Floor Cassia Chestnut Brown (25mm)".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Shera Deco Floor Cassia Chestnut Brown (25mm)">Shera Deco Floor Cassia Chestnut Brown (25mm)</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs2216.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=12159">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/int3.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 12159, itemName = "Shera Deco Floor Cassia Chestnut Brown (25mm)".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/int3.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 12159, itemName = "Shera Deco Floor Cassia Chestnut Brown (25mm)".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(18192, 12159)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(18192, 12159)">Add to Cart</a>
                                                </div>
                                            </div>

                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=13761" title="Solarbrite Marble Flooring Tile Code No. 1544 (1 sq ft)">Solarbrite Marble Flooring Tile Code No. 1544 (1 sq ft)</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 13761, itemName = "Solarbrite Marble Flooring Tile Code No. 1544 (1 sq ft)".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Solarbrite Marble Flooring Tile Code No. 1544 (1 sq ft)">Solarbrite Marble Flooring Tile Code No. 1544 (1 sq ft)</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs70.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=13761">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/int4.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 13761, itemName = "Solarbrite Marble Flooring Tile".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/int4.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 13761, itemName = "Solarbrite Marble Flooring Tile Code No. 1544 (1 sq ft)".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(7168, 13761)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(7168, 13761)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=8119" title="Kaveri Designer Door AE - 152 ROSE WOOD (30mm)">Kaveri Designer Door AE - 152 ROSE WOOD (30mm)</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 8119, itemName = "Kaveri Designer Door AE-152 ROSE WOOD (30mm)".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Kaveri Designer Door AE - 152 ROSE WOOD (30mm)">Kaveri Designer Door AE - 152 ROSE WOOD (30mm)</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs2900.00</span>
                                                    <span class="price old-price">Rs5800.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=8119">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/int5.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 8119, itemName = "Kaveri Designer Door AE - 152 ROSE WOOD (30mm)".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/int5.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 8119, itemName = "Kaveri Designer Door AE-152 ROSE WOOD (30mm)".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(4565, 8119)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(4565, 8119)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=13731" title="Solarbrite Home Serise Wood Floor Code No. 1307">Solarbrite Home Serise Wood Floor Code No. 1307</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 13731, itemName = "Solarbrite Home Serise Wood Floor Code No. 1307".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Solarbrite Home Serise Wood Floor Code No. 1307">Solarbrite Home Serise Wood Floor Code No. 1307</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs55.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=13731">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/int6.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 13731, itemName = "Solarbrite Home Serise Wood Floor".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/int6.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 13731, itemName = "Solarbrite Home Serise Wood Floor Code No. 1307".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(6296, 13731)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(6296, 13731)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=13808" title="Solarbrite Flooring Tile Code No. 1207 (1 sq ft)">Solarbrite Flooring Tile Code No. 1207 (1 sq ft)</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 13808, itemName = "Solarbrite Flooring Tile Code No. 1207 (1 sq ft)".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Solarbrite Flooring Tile Code No. 1207 (1 sq ft)">Solarbrite Flooring Tile Code No. 1207 (1 sq ft)</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs50.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=13808">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/int10.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 13808, itemName = "Solarbrite Flooring Tile".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/int10.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 13808, itemName = "Solarbrite Flooring Tile Code No. 1207 (1 sq ft)".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(7176, 13808)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(7176, 13808)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@Chairs</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst4"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy4">
                        <li>
                            @*<a href="~/Product/Products?item=Other%20Chairs+%26+Table&parentCategoryId=1233">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "other-chairs-table", parentCategoryId = 1233, city = cityName })">Other Chairs &amp; Table</a>
                        </li>
                        @*<li><a href="~/Product/Products?parentCategoryId=1225&item=Executive Chair">Executive Chair</a></li>*@

                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=1744" title="Polyset Relaxo-4 Plastic Chair">Polyset Relaxo-4 Plastic Chair</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 1744, itemName = "Polyset Relaxo-4 Plastic Chair".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Polyset Relaxo-4 Plastic Chair">Polyset Relaxo-4 Plastic Chair</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs760.00</span>
                                                    <span class="price old-price">Rs825.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=1744">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/chc1.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 1744, itemName = "Polyset Relaxo-4 Plastic Chair".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/chc1.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 1744, itemName = "Polyset Relaxo-4 Plastic Chair".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(21428, 1744)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(21428, 1744)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=42992" title="Polyset Oval Center Table 2008">Polyset Oval Center Table 2008</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42992, itemName = "Polyset Oval Center Table 2008".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Polyset Oval Center Table 2008">Polyset Oval Center Table 2008</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs790.00</span>
                                                    <span class="price old-price">Rs950.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=42992">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/ch2.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42992, itemName = "Polyset Oval Center Table 2008".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/ch2.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 42992, itemName = "Polyset Oval Center Table 2008".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(53465, 42992)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(53465, 42992)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@Metal Furnitures</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst4"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy4">
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1229&item=Rack/Ladder">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "rack-ladder", parentCategoryId = 1229, city = cityName })">Rack/Ladder</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1228&item=Stand">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "stand", parentCategoryId = 1228, city = cityName })">Stand</a>
                        </li>

                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=25699" title="Akash 4 step Aluminum Ladder">Akash 4 step Aluminum Ladder</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 25699, itemName = "Akash 4 step Aluminum Ladder".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Akash 4 step Aluminum Ladder">Akash 4 step Aluminum Ladder</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs1850.00</span>
                                                    <span class="price old-price">Rs2200.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=25699">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/mf1.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 25699, itemName = "Akash 4 step Aluminum Ladder".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/mf1.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 25699, itemName = "Akash 4 step Aluminum Ladder".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(28661, 25699)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(28661, 25699)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=24469" title="Square Pipe Basket 001">Square Pipe Basket 001</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 24469, itemName = "Square Pipe Basket 001".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Square Pipe Basket 001">Square Pipe Basket 001</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs600.00</span>
                                                    <span class="price old-price">Rs1200.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=24469">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/chc2.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 24469, itemName = "Square Pipe Basket 001".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/chc2.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 24469, itemName = "Square Pipe Basket 001".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(2677, 7932)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(2677, 7932)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@ Furniture</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst5"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy5">
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1222&item=Computer Table">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "computer-table", parentCategoryId = 1222, city = cityName })">Computer Table</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1235&item=Dining Table">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "dining-table", parentCategoryId = 1235, city = cityName })">Dining Table </a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1231&item=Study Table">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "study-table", parentCategoryId = 1231, city = cityName })">Study Table</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1234&item=Wall Unit">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "wall-unit", parentCategoryId = 1234, city = cityName })">Wall Unit</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">

                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=22512" title="Leo Computer table">Leo Computer table</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 22512, itemName = "Leo Computer table".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Leo Computer table">Leo Computer table</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs2400.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=22512">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/mf2.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 22512, itemName = "Leo Computer table".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/mf2.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 22512, itemName = "Leo Computer table".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(13573, 22512)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(13573, 22512)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=22559" title="Amogo Dining Set">Amogo Dining Set</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 22559, itemName = "Amogo Dining Set".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Amogo Dining Set">Amogo Dining Set</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs14700.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=22559">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/mf3.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 22559, itemName = "Amogo Dining Set".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/mf3.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 22559, itemName = "Amogo Dining Set".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(13591, 22559)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(13591, 22559)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        @*<li class="col-sm-4">
                                            <div class="right-block">
                                               
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 19729, itemName = "Kids Study Table Benten".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Kids Study Table Benten">Kids Study Table Benten</a>
                                                </h5>
                                              
                                            </div>
                                            <div class="left-block">
                                               
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 19729, itemName = "Kids Study Table Benten".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/mf4.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                 
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 19729, itemName = "Kids Study Table Benten".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                   
                                                    <a title="Add to Cart" onclick="AddProduct(15884, 19729)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>*@
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=22538" title="pulse Wall Unit">pulse Wall Unit</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 22538, itemName = "pulse Wall Unit".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="pulse Wall Unit">pulse Wall Unit</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs14350.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=22538">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/mf5.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 22538, itemName = "pulse Wall Unit".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/mf5.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 22538, itemName = "pulse Wall Unit".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(19978, 22538)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(19978, 22538)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container containernew1 span12">
    <div class="FootTextDiv">
        <p class="indent-paragraph " style="text-align:justify;">
            <span class="footerdetail">Home And Furnitures</span><br />
            Gandhibagh.com is Central India's leading online store catering a wide range of Home and Furniture products online to a huge array of customers looking out for such merchandise online. It caters a huge amount of selection in the home and furniture merchandise giving you a smart shopping experience. With a customer friendly approach, the shopping portal is emerging out as an important shopping destination for a wide range of home and furnishing merchandise in central India, which comes with high quality and at reasonable price.
            In a short span of years, the store has carved its niche in the e-commerce domain as a pioneer online store having its base in Central India. For furniture and home decor stuff, no one can beat Gandhibagh.com as it has a wide range of products that can give an edge to your home with merchandise having gorgeous designs and promising styles. To name a few, you can find quality tablets, wallpapers, chairs, vertical blinds, sofa sets, bed room furniture, wood decor, steel furniture, visitor chair, office partition and plywood stuff.
            Gandhibagh.com is an honest and a real spice over the web landscape, which is truly Indian. The store is known to embrace skills, craftsmanship and a perfect business acumen that is easily showcased in our merchandise choice and our tradition to walk extra mile for our valued customers. Shopping at our portal is a hassle free experience for our customers visiting our portal far and wide. Today, we are proud to claim that are we are among the emerging online store, which cater a wide range of home and furnishing merchandise with high quality and best prices. This has made us the one stop store for customers who are looking out to spice up their homes with these products.
            Our customer services leave no stone unturned to cater services to all our customers with greater delight by shuffling our products time and again. One of the vital elements, which make our store different from other, is the quick service with realistic price tags backed by quality after sales services. Let us help all our customers a home, which they can love to call theirs'
            Happy Shopping!<br /><br />
        </p>
    </div>
</div>