@{
    ViewBag.Title = "Kitchenware & Appliances | Gandhibagh.com";
}

<link href="~/Content/Home-content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
<style>
    .nav-menu .toggle-menu {
        display: none;
    }

    .margin-setTop {
        margin-top: -33px;
    }

    .heart {
        display: none !important;
    }
</style>
@{
    string cityName = "";
    if (Request.Cookies["CityCookie"] != null && Request.Cookies["CityCookie"].Value != "")
    {
        cityName = Request.Cookies["CityCookie"].Value.Split('$')[1].ToLower();
    }
}
<script src="~/Scripts/Products.js"></script>
<script type="text/javascript">
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<div class="container margin-setTop">
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@Kitchen Wares</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling-->
                <div class="collapse navbar-collapse bg-grayLight">

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list">
                        <li>
                            @*<a href="~/Product/Products?item=Keyboard&parentCategoryId=251">*@
                        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "kitchen-storage", parentCategoryId = 251, city = cityName })">Kitchen Storage</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-10 col-right-tab">
                <div class="product-featured-tab-content">
                    <div class="tab-container">
                        <div class="tab-panel active" id="tab-14">
                            <div class="box-full clearfix">
                                <ul class="product-list row">
                                    <li class="col-sm-4">
                                        <div class="right-block">
                                            @*<h5 class="product-name"><a href="~/PreviewItem?itemId=44417" title="Signet Round Baskets">Signet Round Baskets</a></h5>*@
                                            <h5 class="product-name">
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44417, itemName = "Signet Round Baskets".ToLower().Replace(' ', '-'), city = cityName })"
                                                   title="Signet Round Baskets">Signet Round Baskets</a>
                                            </h5>
                                        </div>
                                        <div class="left-block">
                                            @*<a href="~/PreviewItem?itemId=44417">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/KS11.png">
                                                </a>*@
                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44417, itemName = "Signet Round Baskets".ToLower().Replace(' ', '-'), city = cityName })">
                                                <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/KS1.png">
                                            </a>
                                            <div class="quick-view">
                                                <a title="Add to my wishlist" class="heart" href="#"></a>
                                                @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 44417, itemName = "Signet Round Baskets".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                            </div>
                                            <div class="add-to-cart">
                                                @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(60236, 44417)">Add to Cart</a>*@
                                                <a title="Add to Cart" onclick="AddProduct(60236, 44417)">Add to Cart</a>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="col-sm-4">
                                        <div class="right-block">
                                            @*<h5 class="product-name"><a href="~/PreviewItem?itemId=44545" title="Signet Oval Basket">Signet Oval Basket</a></h5>*@
                                            <h5 class="product-name">
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44545, itemName = "Signet Oval Basket".ToLower().Replace(' ', '-'), city = cityName })"
                                                   title="Signet Oval Basket">Signet Oval Basket</a>
                                            </h5>
                                        </div>
                                        <div class="left-block">
                                            @*<a href="~/PreviewItem?itemId=44545">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/KS2.png">
                                                </a>*@
                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44545, itemName = "Signet Oval Basket".ToLower().Replace(' ', '-'), city = cityName })">
                                                <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/KS2.png">
                                            </a>
                                            <div class="quick-view">
                                                <a title="Add to my wishlist" class="heart" href="#"></a>
                                                @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 44545, itemName = "Signet Oval Basket".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                            </div>
                                            <div class="add-to-cart">
                                                @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(60440, 44545)">Add to Cart</a>*@
                                                <a title="Add to Cart" onclick="AddProduct(60440, 44545)">Add to Cart</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-sm-4">
                                        <div class="right-block">
                                            @*<h5 class="product-name"><a href="~/PreviewItem?itemId=44549" title="Signet Store Well (1 Ltr)">Signet Store Well (1 Ltr)</a></h5>*@
                                            <h5 class="product-name">
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44549, itemName = "Signet Store Well(1 Ltr)".ToLower().Replace(' ', '-'), city = cityName })"
                                                   title="Signet Store Well (1 Ltr)">Signet Store Well (1 Ltr)</a>
                                            </h5>
                                        </div>
                                        <div class="left-block">
                                            @*<a href="~/PreviewItem?itemId=44549">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/KS3.png">
                                                </a>*@
                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44549, itemName = "Signet Store Well(1 Ltr)".ToLower().Replace(' ', '-'), city = cityName })">
                                                <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/KS3.png">
                                            </a>
                                            <div class="quick-view">
                                                <a title="Add to my wishlist" class="heart" href="#"></a>
                                                @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 44549, itemName = "Signet Store Well(1 Ltr)".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                            </div>
                                            <div class="add-to-cart">
                                                @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(60447, 44549)">Add to Cart</a>*@
                                                <a title="Add to Cart" onclick="AddProduct(60447, 44549)">Add to Cart</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<div class="container containernew1 span12">
    <div class="FootTextDiv">
        <p class="indent-paragraph ">
            <span class="footerdetail">Home Appliances </span><br />
            Welcome to Gandhibagh.com, your Home Appliances E-Store.
            Your home is known to depict your personality, your zest, choices and preferences, which make it the way you are keen to show it to. A good home with all the amenities and appliances can give an impression of a competent homemaker and vice-versa. So, better allow your aura pervade all the nook and corner of your kitchen space or in the other spaces of your home by adding the right kind of appliances. Adding up smaller appliances like juicer mixer grinder, food processors or fan and iron can really add the elements of ease and convenience to your life. At Gandhibagh.com, you can shop a wide range of functional and funky products ranging from a simple to luxurious ones, simply to create a haven for yourself.
            At Gandhibagh.com, you can shop a wide range of these smaller appliances, which include cookers, steamers, blenders, choppers, coffee makers & kettles, Toasters, air coolers, induction cook top, etc. All these products are backed with high quality and backed with discount prices hard to find at any other place. As a responsible homeowner, you treat your home to be the most special place on earth, which deserves some of the best products and appliances to make it a smart place to live. Here you can find all these small appliances with high quality and affordable cost along with several other benefits like low or no shipping cost, quicker delivery and colossal amount of collection of these products.
            Happy Shopping!<br /><br />
        </p>
    </div>
</div>