@{
    ViewBag.Title = "Kitchenware & Appliances | Gandhibagh.com";
    string cityName = "";
    if (Request.Cookies["CityCookie"] != null && Request.Cookies["CityCookie"].Value != "")
    {
        cityName = Request.Cookies["CityCookie"].Value.Split('$')[1].ToLower();
    }
}
<link href="~/Content/Home-content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
<style>
    .margin-setTop {
        margin-top: -33px;
    }
    .heart {
        display: none !important;
    }
</style>
<script src="~/Content/update(5-10)/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var newClone1 = $("#cpy1").html();
        var newClone1 = $("#cpy2").html();
        var newClone1 = $("#cpy3").html();
        var newClone1 = $("#cpy4").html();
        var newClone1 = $("#cpy5").html();
        var newClone1 = $("#cpy6").html();
        if ($(window).width() < 750) {
            // alert("1");
            $(newClone1).clone().appendTo("#pst1");
            $(newClone1).clone().appendTo("#pst2");
            $(newClone1).clone().appendTo("#pst3");
            $(newClone1).clone().appendTo("#pst4");
            $(newClone1).clone().appendTo("#pst5");
            $(newClone1).clone().appendTo("#pst6");

        } else {
            $("#pst1").empty();
            $("#pst2").empty();
            $("#pst3").empty();
            $("#pst4").empty();
            $("#pst5").empty();
            $("#pst6").empty();

        }
    });
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<script src="~/Scripts/Products.js"></script>

@*<link href="~/Content/submenu/css/submenu.css" rel="stylesheet" />*@
<div class="container margin-setTop">
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@Kitchen Wares</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst1"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy1">
                        @*<li><a href="~/Product/Products?parentCategoryId=256">Tea & Coffee Serveware </a></li>
                        <li><a href="~/Product/Products?parentCategoryId=253">Cookware & Bakeware</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=254">Dining & Serving</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=250">Flasks & Tiffins</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=251">Kitchen Storage</a></li>*@
                        <li><a href="@Url.RouteUrl("ProductsByCategory", new { item = "Tea and Coffee Serveware".ToLower().Replace(' ', '-'), parentCategoryId = 256, city = cityName })">Tea & Coffee Serveware </a></li>
                        <li><a href="@Url.RouteUrl("ProductsByCategory", new { item = "Cookware and Bakeware".ToLower().Replace(' ', '-'), parentCategoryId = 253, city = cityName })">Cookware & Bakeware</a></li>
                        <li><a href="@Url.RouteUrl("ProductsByCategory", new { item = "Dining and Serving".ToLower().Replace(' ', '-'), parentCategoryId = 254, city = cityName })">Dining & Serving</a></li>
                        <li><a href="@Url.RouteUrl("ProductsByCategory", new { item = "Flasks and Tiffins".ToLower().Replace(' ', '-'), parentCategoryId = 250, city = cityName })">Flasks & Tiffins</a></li>
                        <li><a href="@Url.RouteUrl("ProductsByCategory", new { item = "Kitchen Storage".ToLower().Replace(' ', '-'), parentCategoryId = 251, city = cityName })">Kitchen Storage</a></li>
                       
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=43297" title="Laopala Tea Cup set - 2">Laopala Tea Cup set - 2</a></h5>*@
                                                <h5 class="product-name"><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43297, itemName = "Laopala Tea Cup set-2".ToLower().Replace(' ', '-'), city = cityName })" title="Laopala Tea Cup set - 2">Laopala Tea Cup set - 2</a></h5>
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=43297">*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43297, itemName = "Laopala Tea Cup set-2".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_43297.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    @*<a title="Quick view" class="search" href="~/PreviewItem?itemId=43297"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 43297, itemName = "Laopala Tea Cup set-2".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProduct(54563, 43297)">Add to Cart</a>
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(54563, 43297)">Add to Cart</a>*@
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=43433" title="United Pressure Cooker">United Pressure Cooker</a></h5>*@
                                                <h5 class="product-name"><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43433, itemName = "United Pressure Cooker".ToLower().Replace(' ', '-'), city = cityName })" title="United Pressure Cooker">United Pressure Cooker</a></h5>
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=43433">*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43433, itemName = "United Pressure Cooker".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_43433.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    @*<a title="Quick view" class="search" href="~/PreviewItem?itemId=43433"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 43433, itemName = "United Pressure Cooker".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(54955, 43433)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(54955, 43433)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=43279" title="Cello Oscar Casseroles Set">Cello Oscar Casseroles Set</a></h5>*@
                                                <h5 class="product-name"><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43279, itemName = "Cello Oscar Casseroles Set".ToLower().Replace(' ', '-'), city = cityName })" title="Cello Oscar Casseroles Set">Cello Oscar Casseroles Set</a></h5>
                                               
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=43279">*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43279, itemName = "Cello Oscar Casseroles Set".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_43279.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    @*<a title="Quick view" class="search" href="~/PreviewItem?itemId=40898"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 43279, itemName = "Cello Oscar Casseroles Set".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(54496, 43279)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(54496, 43279)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 39521, itemName = "Cello Carbon Insulated Lunch Carrier".ToLower().Replace(' ', '-'), city = cityName })" title="Cello Carbon Insulated Lunch Carrier Set, 3 Container">Cello Carbon Insulated Lunch Carrier Set, 3 Container</a></h5>
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=39521" title="Cello Carbon Insulated Lunch Carrier Set, 3 Container">Cello Carbon Insulated Lunch Carrier Set, 3 Container</a></h5>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=39521">*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 39521, itemName = "Cello Carbon Insulated Lunch Carrier".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_39521.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    @*<a title="Quick view" class="search" href="~/PreviewItem?itemId=39521"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 39521, itemName = "Cello Carbon Insulated Lunch Carrier".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(54358, 39521)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(54358, 39521)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@Small Appliances</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst1"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy1">
                        @*<li><a href="~/Product/Products?parentCategoryId=497">Geysere & Heating</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=506">Iron</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=511">Water Purifiers</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=492">Microwave Ovens & Otgs</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=510">Vacuum Cleaners</a></li>
                        <li><a href="~/Product/Products?parentCategoryId=507">Mixer Grinders</a></li>*@
                        <li><a href="@Url.RouteUrl("ProductsByCategory", new { item = "Geysere and Heating".ToLower().Replace(' ', '-'), parentCategoryId = 497, city = cityName })">Geysere & Heating</a></li>
                        <li><a href="@Url.RouteUrl("ProductsByCategory", new { item = "Iron".ToLower().Replace(' ', '-'), parentCategoryId = 506, city = cityName })">Iron</a></li>
                        <li><a href="@Url.RouteUrl("ProductsByCategory", new { item = "Water Purifiers".ToLower().Replace(' ', '-'), parentCategoryId = 511, city = cityName })">Water Purifiers</a></li>
                        <li><a href="@Url.RouteUrl("ProductsByCategory", new { item = "Microwave Ovens and Otgs".ToLower().Replace(' ', '-'), parentCategoryId = 492, city = cityName })">Microwave Ovens & Otgs</a></li>
                        <li><a href="@Url.RouteUrl("ProductsByCategory", new { item = "Vacuum Cleaners".ToLower().Replace(' ', '-'), parentCategoryId = 510, city = cityName })">Vacuum Cleaners</a></li>
                        <li><a href="@Url.RouteUrl("ProductsByCategory", new { item = "Mixer Grinders".ToLower().Replace(' ', '-'), parentCategoryId = 507, city = cityName })">Mixer Grinders</a></li>
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=43432" title="Bajaj Platini PX25 GV 2000-Watt Instant Water Heater 25-Litre">Bajaj Platini PX25 GV 2000-Watt Instant Water Heater 25-Litre</a></h5>*@
                                                <h5 class="product-name"><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43432, itemName = "Bajaj Platini PX25 GV 2000-Watt".ToLower().Replace(' ', '-'), city = cityName })" title="Bajaj Platini PX25 GV 2000-Watt Instant Water Heater 25-Litre">Bajaj Platini PX25 GV 2000-Watt Instant Water Heater 25-Litre</a></h5>
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=43432">*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43432, itemName = "Bajaj Platini PX25 GV 2000-Watt".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_43432.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    @*<a title="Quick view" class="search" href="~/PreviewItem?itemId=43432"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 43432, itemName = "Bajaj Platini PX25 GV 2000-Watt".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProduct(54954, 43432)">Add to Cart</a>
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(54954, 43432)">Add to Cart</a>*@
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=43288" title="Philips Lumina GC104/01 Dry Iron Beige">Philips Lumina GC104/01 Dry Iron Beige</a></h5>*@
                                                <h5 class="product-name"><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43288, itemName = "Philips Lumina GC104-01 Dry".ToLower().Replace(' ', '-'), city = cityName })" title="Philips Lumina GC104/01 Dry Iron Beige">Philips Lumina GC104/01 Dry Iron Beige</a></h5>
                                              
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=43288">*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43288, itemName = "Philips Lumina GC104-01 Dry".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_43288.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    @*<a title="Quick view" class="search" href="~/PreviewItem?itemId=43288"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 43288, itemName = "Philips Lumina GC104-01 Dry".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProduct(54535, 43288)">Add to Cart</a>
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(54535, 43288)">Add to Cart</a>*@
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=43276" title="Eureka Forbes Aquasure Shakti Water Purifiers">Eureka Forbes Aquasure Shakti Water Purifiers</a></h5>*@
                                                <h5 class="product-name"><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43276, itemName = "Eureka Forbes Aquasure Shakti".ToLower().Replace(' ', '-'), city = cityName })" title="Eureka Forbes Aquasure Shakti Water Purifiers">Eureka Forbes Aquasure Shakti Water Purifiers</a></h5>
                                              
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=43276">*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43276, itemName = "Eureka Forbes Aquasure Shakti".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_43276.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    @*<a title="Quick view" class="search" href="~/PreviewItem?itemId=43276"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 43276, itemName = "Eureka Forbes Aquasure Shakti".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(54484, 43276)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(54484, 43276)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>

                                        
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    
    
    
    
    
    
</div>
<div class="container containernew1 span12">
    <div class="FootTextDiv">
        <p class="indent-paragraph " style="text-align:justify;">
            <span class="footerdetail">Home Appliances </span><br />
            Welcome to Gandhibagh.com, your Home Appliances E-Store.
            Your home is known to depict your personality, your zest, choices and preferences, which make it the way you are keen to show it to. A good home with all the amenities and appliances can give an impression of a competent homemaker and vice-versa. So, better allow your aura pervade all the nook and corner of your kitchen space or in the other spaces of your home by adding the right kind of appliances. Adding up smaller appliances like juicer mixer grinder, food processors or fan and iron can really add the elements of ease and convenience to your life. At Gandhibagh.com, you can shop a wide range of functional and funky products ranging from a simple to luxurious ones, simply to create a haven for yourself.
            At Gandhibagh.com, you can shop a wide range of these smaller appliances, which include cookers, steamers, blenders, choppers, coffee makers & kettles, Toasters, air coolers, induction cook top, etc. All these products are backed with high quality and backed with discount prices hard to find at any other place. As a responsible homeowner, you treat your home to be the most special place on earth, which deserves some of the best products and appliances to make it a smart place to live. Here you can find all these small appliances with high quality and affordable cost along with several other benefits like low or no shipping cost, quicker delivery and colossal amount of collection of these products.
            Happy Shopping!<br /><br />
        </p>
    </div>
</div>