@{
    ViewBag.Title = "Kitchenware & Appliances | Gandhibagh.com";
}

<link href="~/Content/Home-content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
<style>
    .nav-menu .toggle-menu {
        display: none;
    }

    .margin-setTop {
        margin-top: -33px;
    }

    .heart {
        display: none !important;
    }
</style>

<script src="~/Scripts/Products.js"></script>
<script type="text/javascript">
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
@{
    string cityName = "";
    if (Request.Cookies["CityCookie"] != null && Request.Cookies["CityCookie"].Value != "")
    {
        cityName = Request.Cookies["CityCookie"].Value.Split('$')[1].ToLower();
    }
}
<div class="container margin-setTop">
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@Kitchen Wares</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling-->
                <div class="collapse navbar-collapse bg-grayLight">

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list">
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=253&item=Cookware & Bakeware">*@
                        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "cookware-and-bakeware", parentCategoryId = 253, city = cityName })">Cookware & Bakeware</a>
                    </li>
                    <li>
                        @*<a href="~/Product/Products?parentCategoryId=252&item=Cutting & Cooking Tools">*@
                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "cutting-and-cooking-tools", parentCategoryId = 252, city = cityName })">Cutting & Cooking Tools</a>
                </li>
                <li>
                    @*<a href="~/Product/Products?parentCategoryId=250&item=Flasks & Tiffins">*@
                <a href="@Url.RouteUrl("ProductsByCategory", new { item = "flasks-and-tiffins", parentCategoryId = 250, city = cityName })">Flasks & Tiffins</a>
            </li>
            <li>
                @*<a href="~/Product/Products?parentCategoryId=505&item=Gas Stoves & Hobs">*@
            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "gas-stoves-and-hobs", parentCategoryId = 505, city = cityName })">Gas Stoves & Hobs</a>
        </li>
        <li>
            @*<a href="~/Product/Products?parentCategoryId=251&item=Kitchen Storage">*@
        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "kitchen-storage", parentCategoryId = 251, city = cityName })">Kitchen Storage</a>
    </li>
</ul>
</div>
<div class="col-sm-10 col-right-tab">
    <div class="product-featured-tab-content">
        <div class="tab-container">
            <div class="tab-panel active" id="tab-14">
                <div class="box-full clearfix">
                    <ul class="product-list row">
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=738" title="Prestige 5 Ltrs Nakshatra Plus HA Pressure Handi">Prestige 5 Ltrs Nakshatra Plus HA Pressure Handi</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 738, itemName = "Prestige 5 Ltrs Nakshatra Plus HA Pressure Handi".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Prestige 5 Ltrs Nakshatra Plus HA Pressure Handi">Prestige 5 Ltrs Nakshatra Plus HA Pressure Handi</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=738">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_HK1.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 738, itemName = "Prestige 5 Ltrs Nakshatra Plus HA Pressure Handi".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_HK1.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 738, itemName = "Prestige 5 Ltrs Nakshatra Plus HA Pressure Handi".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(49928, 738)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(49928, 738)">Add to Cart</a>
                                </div>
                            </div>
                        </li>

                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=10948" title="Bonjour Dreamline Junior Steel Insulated Tiffin">Bonjour Dreamline Junior Steel Insulated Tiffin</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 10948, itemName = "Bonjour Dreamline Junior Steel Insulated Tiffin".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Bonjour Dreamline Junior Steel Insulated Tiffin">Bonjour Dreamline Junior Steel Insulated Tiffin</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=10948">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_HK2.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 10948, itemName = "Bonjour Dreamline Junior Steel Insulated Tiffin".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_HK2.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 10948, itemName = "Bonjour Dreamline Junior Steel Insulated Tiffin".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(52111, 10948)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(52111, 10948)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=11122" title="Apex Jumbo Magic Burner">Apex Jumbo Magic Burner</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 11122, itemName = "Apex Jumbo Magic Burner".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Apex Jumbo Magic Burner">Apex Jumbo Magic Burner</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=11122">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_HK3.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 11122, itemName = "Apex Jumbo Magic Burner".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_HK3.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 11122, itemName = "Apex Jumbo Magic Burner".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(50198, 11122)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(50198, 11122)">Add to Cart</a>
                                </div>
                            </div>

                        </li>
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=28612" title="Prestige Vegetable Cutter - PVC 2.0">Prestige Vegetable Cutter - PVC 2.0</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 28612, itemName = "Prestige Vegetable Cutter-PVC".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Prestige Vegetable Cutter-PVC">Prestige Vegetable Cutter-PVC</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=28612">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_HK4.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 28612, itemName = "Prestige Vegetable Cutter-PVC".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_HK4.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 28612, itemName = "Prestige Vegetable Cutter-PVC".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(50056, 28612)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(50056, 28612)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=28625" title="Idli Plate 3*140MM 5L 99490">Idli Plate 3*140MM 5L 99490</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 28625, itemName = "Idli Plate".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Idli Plate">Idli Plate</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=28625">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_HK5.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 28625, itemName = "Idli Plate".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_HK5.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 28625, itemName = "Idli Plate".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(50173, 28625)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(50173, 28625)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<div class="category-featured jewelry">
    <nav class="navbar nav-menu show-brand">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/icon-jewelry.png">*@Small Appliances</a></div>
            <span class="toggle-menu"></span>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse bg-grayLight">

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        <div id="elevator-6" class="floor-elevator">
            <a href="#" class="btn-elevator up fa fa-angle-up"></a>
            <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
        </div>
    </nav>
    <div class="product-featured clearfix">
        <div class="row">
            <div class="col-sm-2 sub-category-wapper">
                <ul class="sub-category-list">
                    <li>
                        @*<a href="~/Product/Products?item=Sarees%20Suits&parentCategoryId=739">*@
                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "mixer-grinders", parentCategoryId = 507, city = cityName })">Mixer Grinders</a>
                </li>
                <li>
                    @*<a href="~/Product/Products?item=Sarees%20Suits&parentCategoryId=739">*@
                <a href="@Url.RouteUrl("ProductsByCategory", new { item = "air-fryer", parentCategoryId = 248, city = cityName })">Air Fryer</a>
            </li>
            <li>
                @*<a href="~/Product/Products?item=Sarees%20Suits&parentCategoryId=739">*@
            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "chopers-blenders-roti-and-snack-maker", parentCategoryId = 508, city = cityName })">Chopers,Blenders,Roti & Snack Maker</a>
        </li>
        <li>
            @*<a href="~/Product/Products?item=Sarees%20Suits&parentCategoryId=739">*@
        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "coffee-maker-and-kettles", parentCategoryId = 501, city = cityName })">Coffee Maker & Kettles</a>
    </li>

    <li>
        @*<a href="~/Product/Products?item=Sarees%20Suits&parentCategoryId=739">*@
    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "microwave-ovens-and-otgs", parentCategoryId = 492, city = cityName })">Microwave Ovens & Otgs</a>
</li>
<li>
    @*<a href="~/Product/Products?item=Sarees%20Suits&parentCategoryId=739">*@
<a href="@Url.RouteUrl("ProductsByCategory", new { item = "choppers-and-blenders", parentCategoryId = 500, city = cityName })">Choppers & Blenders</a>
</li>
<li>
    @*<a href="~/Product/Products?item=Sarees%20Suits&parentCategoryId=739">*@
<a href="@Url.RouteUrl("ProductsByCategory", new { item = "iron", parentCategoryId = 506, city = cityName })">Iron</a>
</li>
<li>
    @*<a href="~/Product/Products?item=Sarees%20Suits&parentCategoryId=739">*@
<a href="@Url.RouteUrl("ProductsByCategory", new { item = "rice-cookers-steamers-and-induction-cookers", parentCategoryId = 502, city = cityName })">Rice Cookers,Steamers & Induction Cookers</a>
</li>
<li>
    @*<a href="~/Product/Products?item=Sarees%20Suits&parentCategoryId=739">*@
<a href="@Url.RouteUrl("ProductsByCategory", new { item = "toasters-and-sandwich-maker", parentCategoryId = 509, city = cityName })">Toasters & Sandwich Maker</a>
</li>
<li>
    @*<a href="~/Product/Products?item=Sarees%20Suits&parentCategoryId=739">*@
<a href="@Url.RouteUrl("ProductsByCategory", new { item = "induction-cookers", parentCategoryId = 493, city = cityName })">Induction Cookers</a>
</li>
<li>
    @*<a href="~/Product/Products?item=Sarees%20Suits&parentCategoryId=739">*@
<a href="@Url.RouteUrl("ProductsByCategory", new { item = "grill-tandoors", parentCategoryId = 498, city = cityName })">Grill &amp; Tandoors</a>
</li>
<li>
    @*<a href="~/Product/Products?item=Sarees%20Suits&parentCategoryId=739">*@
<a href="@Url.RouteUrl("ProductsByCategory", new { item = "cleaning-equipments", parentCategoryId = 496, city = cityName })">Cleaning Equipments</a>
</li>
</ul>
</div>
<div class="col-sm-10 col-right-tab">
    <div class="product-featured-tab-content">
        <div class="tab-container">
            <div class="tab-panel active" id="tab-14">
                <div class="box-full clearfix">
                    <ul class="product-list row">
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=4251" title="Prestige Teon Star Mixer Grinder">Prestige Teon Star Mixer Grinder</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 4251, itemName = "Prestige Teon Star Mixer Grinder".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Prestige Teon Star Mixer Grinder">Prestige Teon Star Mixer Grinder</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=4251">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_HK6.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 4251, itemName = "Prestige Teon Star Mixer Grinder".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_HK6.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 4251, itemName = "Prestige Teon Star Mixer Grinder".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(50104, 4251)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(50104, 4251)">Add to Cart</a>
                                </div>
                            </div>
                        </li>

                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=11361" title="Prestige Coffee Maker PCMH 2.0- 0.6 Lt">Prestige Coffee Maker PCMH 2.0- 0.6 Lt</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 11361, itemName = "Prestige Coffee Maker".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Prestige Coffee Maker">Prestige Coffee Maker</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=11361">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_HK7.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 11361, itemName = "Prestige Coffee Maker".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_HK7.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 11361, itemName = "Prestige Coffee Maker".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(52352, 11361)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(52352, 11361)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=12334" title="Warmex Digital Oven Toaster Griller OTG 09 Digi">Warmex Digital Oven Toaster Griller OTG 09 Digi</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 12334, itemName = "Warmex Digital Oven Toaster Griller".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Warmex Digital Oven Toaster Griller">Warmex Digital Oven Toaster Griller</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=12334">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_HK8.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 12334, itemName = "Warmex Digital Oven Toaster Griller".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_HK8.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 12334, itemName = "Warmex Digital Oven Toaster Griller".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(50858, 12334)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(50858, 12334)">Add to Cart</a>
                                </div>
                            </div>

                        </li>
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=28602" title="Prestige Induction PIC 11.0">Prestige Induction PIC 11.0</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 28602, itemName = "Prestige Induction".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Prestige Induction">Prestige Induction</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=28602">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_HK9.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 28602, itemName = "Prestige Induction".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_HK9.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 28602, itemName = "Prestige Induction".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(50180, 28602)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(50180, 28602)">Add to Cart</a>
                                </div>
                            </div>
                        </li>

                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=28640" title="Prestige Air Fryer PAF 2.0">Prestige Air Fryer PAF 2.0</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 28640, itemName = "Prestige Air Fryer".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Prestige Air Fryer">Prestige Air Fryer</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=28640">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_HK10.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 28640, itemName = "Prestige Air Fryer".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_HK10.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 28640, itemName = "Prestige Air Fryer".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(49986, 28640)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(49986, 28640)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>


<div class="container containernew1 span12">
    <div class="FootTextDiv">
        <p class="indent-paragraph ">
            <span class="footerdetail">Home Appliances </span><br />
            Welcome to Gandhibagh.com, your Home Appliances E-Store.
            Your home is known to depict your personality, your zest, choices and preferences, which make it the way you are keen to show it to. A good home with all the amenities and appliances can give an impression of a competent homemaker and vice-versa. So, better allow your aura pervade all the nook and corner of your kitchen space or in the other spaces of your home by adding the right kind of appliances. Adding up smaller appliances like juicer mixer grinder, food processors or fan and iron can really add the elements of ease and convenience to your life. At Gandhibagh.com, you can shop a wide range of functional and funky products ranging from a simple to luxurious ones, simply to create a haven for yourself.
            At Gandhibagh.com, you can shop a wide range of these smaller appliances, which include cookers, steamers, blenders, choppers, coffee makers & kettles, Toasters, air coolers, induction cook top, etc. All these products are backed with high quality and backed with discount prices hard to find at any other place. As a responsible homeowner, you treat your home to be the most special place on earth, which deserves some of the best products and appliances to make it a smart place to live. Here you can find all these small appliances with high quality and affordable cost along with several other benefits like low or no shipping cost, quicker delivery and colossal amount of collection of these products.
            Happy Shopping!<br /><br />
        </p>
    </div>
</div>