@{
    ViewBag.Title = "Fashion & Lifestyle | Gandhibagh.com";
}
<link href="~/Content/Home-content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
<style>
    .margin-setTop {
        margin-top: -33px;
    }

    .heart {
        display: none !important;
    }
</style>
<script type="text/javascript">
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<script src="~/Content/update(5-10)/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var newClone1 = $("#cpy1").html();
        var newClone1 = $("#cpy2").html();
        var newClone1 = $("#cpy3").html();
        var newClone1 = $("#cpy4").html();
        var newClone1 = $("#cpy5").html();
        var newClone1 = $("#cpy6").html();
        var newClone1 = $("#cpy7").html();
        var newClone1 = $("#cpy8").html();
        var newClone1 = $("#cpy9").html();
        var newClone1 = $("#cpy10").html();
        var newClone1 = $("#cpy11").html();
        var newClone1 = $("#cpy12").html();
        if ($(window).width() < 750) {
            // alert("1");
            $(newClone1).clone().appendTo("#pst1");
            $(newClone1).clone().appendTo("#pst2");
            $(newClone1).clone().appendTo("#pst3");
            $(newClone1).clone().appendTo("#pst4");
            $(newClone1).clone().appendTo("#pst5");
            $(newClone1).clone().appendTo("#pst6");
            $(newClone1).clone().appendTo("#pst7");
            $(newClone1).clone().appendTo("#pst8");
            $(newClone1).clone().appendTo("#pst9");
            $(newClone1).clone().appendTo("#pst10");
            $(newClone1).clone().appendTo("#pst11");
            $(newClone1).clone().appendTo("#pst12");

        } else {
            $("#pst1").empty();
            $("#pst2").empty();
            $("#pst3").empty();
            $("#pst4").empty();
            $("#pst5").empty();
            $("#pst6").empty();
            $("#pst7").empty();
            $("#pst8").empty();
            $("#pst9").empty();
            $("#pst10").empty();
            $("#pst11").empty();
            $("#pst12").empty();
        }
    });
</script>
@{
    string cityName = "";
    if (Request.Cookies["CityCookie"] != null && Request.Cookies["CityCookie"].Value != "")
    {
        cityName = Request.Cookies["CityCookie"].Value.Split('$')[1].ToLower();
    }
}
<script src="~/Scripts/Products.js"></script>
<div class="container margin-setTop">
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/sub-cat/icon-jewelry.png">*@Women Wear</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst1"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy1">
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=738">*@
                        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "women-nightwear-and-innerwear", parentCategoryId = 738, city = cityName })">Women Nightwear & Innerwear</a>
                    </li>
                    <li>
                        @*<a href="~/Product/Products?parentCategoryId=735">*@
                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "kurtis", parentCategoryId = 735, city = cityName })">Kurtis</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-10 col-right-tab">
            <div class="product-featured-tab-content">
                <div class="tab-container">
                    <div class="tab-panel active" id="tab-14">
                        <div class="box-full clearfix">
                            <ul class="product-list row">
                                <li class="col-sm-4">
                                    <div class="right-block">
                                        @*<h5 class="product-name"><a href="~/PreviewItem?itemId=44343" title="Women's Night Wear 6591 (Set of 4 pieces)">Women's Night Wear 6591 (Set of 4 pieces)</a></h5>*@
                                        <h5 class="product-name">
                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44343, itemName = "Women's Night Wear 6591(Set of 4 pieces)".ToLower().Replace(' ', '-'), city = cityName })"
                                               title="Women's Night Wear 6591 (Set of 4 pieces)">Women's Night Wear 6591 (Set of 4 pieces)</a>
                                        </h5>
                                    </div>
                                    <div class="left-block">
                                        @*<a href="~/PreviewItem?itemId=44343">
                                                <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/WNW1.jpg">
                                            </a>*@
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44343, itemName = "Women's Night Wear 6591(Set of 4 pieces)".ToLower().Replace(' ', '-'), city = cityName })">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/WNW1.jpg">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to my wishlist" class="heart" href="#"></a>
                                            @*<a title="Add to compare" class="compare" href="#"></a>*@
                                            <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 44343, itemName = "Women's Night Wear 6591(Set of 4 pieces)".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(60113, 44343)">Add to Cart</a>*@
                                            <a title="Add to Cart" onclick="AddProduct(60113, 44343)">Add to Cart</a>
                                        </div>
                                    </div>

                                </li>
                                <li class="col-sm-4">
                                    <div class="right-block">
                                        @*<h5 class="product-name"><a href="~/PreviewItem?itemId=44342" title="Women's Night Wear 6590(Set of 4 pieces)">Women's Night Wear 6590(Set of 4 pieces)</a></h5>*@
                                        <h5 class="product-name">
                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44342, itemName = "Women's Night Wear 6590(Set of 4 pieces)".ToLower().Replace(' ', '-'), city = cityName })"
                                               title="Women's Night Wear 6590(Set of 4 pieces)">Women's Night Wear 6590(Set of 4 pieces)</a>
                                        </h5>
                                    </div>
                                    <div class="left-block">
                                        @*<a href="~/PreviewItem?itemId=44342">
                                                <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/WNW2.jpg">
                                            </a>*@
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44342, itemName = "Women's Night Wear 6590(Set of 4 pieces)".ToLower().Replace(' ', '-'), city = cityName })">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/WNW2.jpg">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to my wishlist" class="heart" href="#"></a>
                                            @*<a title="Add to compare" class="compare" href="#"></a>*@
                                            <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 44342, itemName = "Women's Night Wear 6590(Set of 4 pieces)".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(60112, 44342)">Add to Cart</a>*@
                                            <a title="Add to Cart" onclick="AddProduct(60112, 44342)">Add to Cart</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-sm-4">
                                    <div class="right-block">
                                        @*<h5 class="product-name"><a href="~/PreviewItem?itemId=44334" title="Women's Night Dress 1160">Women's Night Dress 1160</a></h5>*@
                                        <h5 class="product-name">
                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44334, itemName = "Women's Night Dress".ToLower().Replace(' ', '-'), city = cityName })"
                                               title="Women's Night Dress 1160">Women's Night Dress 1160</a>
                                        </h5>
                                    </div>
                                    <div class="left-block">
                                        @*<a href="~/PreviewItem?itemId=44334">
                                                <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/WNW3.jpg">
                                            </a>*@
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44334, itemName = "Women's Night Dress".ToLower().Replace(' ', '-'), city = cityName })">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/WNW3.jpg">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to my wishlist" class="heart" href="#"></a>
                                            @*<a title="Add to compare" class="compare" href="#"></a>*@
                                            <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 44334, itemName = "Women's Night Dress".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(60103, 44334)">Add to Cart</a>*@
                                            <a title="Add to Cart" onclick="AddProduct(60103, 44334)">Add to Cart</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-sm-4">
                                    <div class="right-block">
                                        @*<h5 class="product-name"><a href="~/PreviewItem?itemId=44655" title="Kurti Half Sleeves SNH-37">Kurti Half Sleeves SNH-37</a></h5>*@
                                        <h5 class="product-name">
                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44655, itemName = "Kurti Half Sleeves".ToLower().Replace(' ', '-'), city = cityName })"
                                               title="Kurti Half Sleeves SNH-37">Kurti Half Sleeves SNH-37</a>
                                        </h5>
                                    </div>
                                    <div class="left-block">
                                        @*<a href="~/PreviewItem?itemId=44655">
                                                <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/WK4.jpg">
                                            </a>*@
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44655, itemName = "Kurti Half Sleeves".ToLower().Replace(' ', '-'), city = cityName })">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/WK4.jpg">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to my wishlist" class="heart" href="#"></a>
                                            @*<a title="Add to compare" class="compare" href="#"></a>*@
                                            <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 44655, itemName = "Kurti Half Sleeves".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(60587, 44655)">Add to Cart</a>*@
                                            <a title="Add to Cart" onclick="AddProduct(60587, 44655)">Add to Cart</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-sm-4">
                                    <div class="right-block">
                                        @*<h5 class="product-name"><a href="~/PreviewItem?itemId=44827" title="Black & Pink Kurti With Copper Work APKOL-06">Black & Pink Kurti With Copper Work APKOL-06</a></h5>*@
                                        <h5 class="product-name">
                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44827, itemName = "Black and Pink Kurti With Copper Work".ToLower().Replace(' ', '-'), city = cityName })"
                                               title="Black & Pink Kurti With Copper Work">Black & Pink Kurti With Copper Work</a>
                                        </h5>
                                    </div>
                                    <div class="left-block">
                                        @*<a href="~/PreviewItem?itemId=44827">
                                                <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/WK5.jpg">
                                            </a>*@
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44827, itemName = "Black and Pink Kurti With Copper Work".ToLower().Replace(' ', '-'), city = cityName })">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/WK5.jpg">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to my wishlist" class="heart" href="#"></a>
                                            @*<a title="Add to compare" class="compare" href="#"></a>*@
                                            <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 44827, itemName = "Black and Pink Kurti With Copper Work".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(60813, 44827)">Add to Cart</a>*@
                                            <a title="Add to Cart" onclick="AddProduct(60813, 44827)">Add to Cart</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="category-featured jewelry">
    <nav class="navbar nav-menu show-brand">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/sub-cat/icon-jewelry.png">*@Men Clothing</a></div>
            <span class="toggle-menu"></span>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" id="pst1"></ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        <div id="elevator-6" class="floor-elevator">
            <a href="#" class="btn-elevator up fa fa-angle-up"></a>
            <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
        </div>
    </nav>
    <div class="product-featured clearfix">
        <div class="row">
            <div class="col-sm-2 sub-category-wapper">
                <ul class="sub-category-list" id="cpy1">
                    <li>
                        @*<a href="~/Product/Products?parentCategoryId=1014">*@
                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "formal-wear", parentCategoryId = 1014, city = cityName })">Formal Wear</a>
                </li>
                <li>
                    @*<a href="~/Product/Products?parentCategoryId=1017">*@
                <a href="@Url.RouteUrl("ProductsByCategory", new { item = "jeans-jackets-and-t-Shirts", parentCategoryId = 1017, city = cityName })">Jeans, Jackets & T-Shirts</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-10 col-right-tab">
        <div class="product-featured-tab-content">
            <div class="tab-container">
                <div class="tab-panel active" id="tab-14">
                    <div class="box-full clearfix">
                        <ul class="product-list row">
                            <li class="col-sm-4">
                                <div class="right-block">
                                    @*<h5 class="product-name"><a href="~/PreviewItem?itemId=44296" title="Siz Fashion Nevy Blue Casual Shirt ">Siz Fashion Nevy Blue Casual Shirt </a></h5>*@
                                    <h5 class="product-name">
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44296, itemName = "Siz Fashion Nevy Blue Casual Shirt".ToLower().Replace(' ', '-'), city = cityName })"
                                           title="Siz Fashion Nevy Blue Casual Shirt">Siz Fashion Nevy Blue Casual Shirt</a>
                                    </h5>
                                </div>
                                <div class="left-block">
                                    @*<a href="~//PreviewItem?itemId=44296">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/KM1.png">
                                        </a>*@
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44296, itemName = "Siz Fashion Nevy Blue Casual Shirt".ToLower().Replace(' ', '-'), city = cityName })">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/KM1.png">
                                    </a>
                                    <div class="quick-view">
                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                        @*<a title="Add to compare" class="compare" href="#"></a>*@
                                        <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 44296, itemName = "Siz Fashion Nevy Blue Casual Shirt".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                    </div>
                                    <div class="add-to-cart">
                                        @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(60017, 44296)">Add to Cart</a>*@
                                        <a title="Add to Cart" onclick="AddProduct(60017, 44296)">Add to Cart</a>
                                    </div>
                                </div>

                            </li>
                            <li class="col-sm-4">
                                <div class="right-block">
                                    @*<h5 class="product-name"><a href="~/PreviewItem?itemId=44294" title="Siz Fashion Black Casual Shirt ">Siz Fashion Black Casual Shirt </a></h5>*@
                                    <h5 class="product-name">
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44294, itemName = "Siz Fashion Black Casual Shirt".ToLower().Replace(' ', '-'), city = cityName })"
                                           title="Siz Fashion Black Casual Shirt">Siz Fashion Black Casual Shirt</a>
                                    </h5>
                                </div>
                                <div class="left-block">
                                    @*<a href="~/PreviewItem?itemId=44294">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/KM2.png">
                                        </a>*@
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44294, itemName = "Siz Fashion Black Casual Shirt".ToLower().Replace(' ', '-'), city = cityName })">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/KM2.png">
                                    </a>
                                    <div class="quick-view">
                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                        @*<a title="Add to compare" class="compare" href="#"></a>*@
                                        <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 44294, itemName = "Siz Fashion Black Casual Shirt".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                    </div>
                                    <div class="add-to-cart">
                                        @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(60013, 44294)">Add to Cart</a>*@
                                        <a title="Add to Cart" onclick="AddProduct(60013, 44294)">Add to Cart</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-4">
                                <div class="right-block">
                                    @*<h5 class="product-name"><a href="~/PreviewItem?itemId=44380" title="Ruff Used Mens Casual Shirt GS0016 ">Ruff Used Mens Casual Shirt GS0016 </a></h5>*@
                                    <h5 class="product-name">
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44380, itemName = "Ruff Used Mens Casual Shirt".ToLower().Replace(' ', '-'), city = cityName })"
                                           title="Ruff Used Mens Casual Shirt">Ruff Used Mens Casual Shirt</a>
                                    </h5>
                                </div>
                                <div class="left-block">
                                    @*<a href="~/PreviewItem?itemId=44380">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/KM3.png">
                                        </a>*@
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44380, itemName = "Ruff Used Mens Casual Shirt".ToLower().Replace(' ', '-'), city = cityName })">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/KM3.png">
                                    </a>
                                    <div class="quick-view">
                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                        @*<a title="Add to compare" class="compare" href="#"></a>*@
                                        <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 44380, itemName = "Ruff Used Mens Casual Shirt".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                    </div>
                                    <div class="add-to-cart">
                                        @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(60181, 44380)">Add to Cart</a>*@
                                        <a title="Add to Cart" onclick="AddProduct(60181, 44380)">Add to Cart</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-4">
                                <div class="right-block">
                                    @*<h5 class="product-name"><a href="~/PreviewItem?itemId=44375" title="Ruff Used Mens Casual Shirt GS0011 ">Ruff Used Mens Casual Shirt GS0011 </a></h5>*@
                                    <h5 class="product-name">
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44375, itemName = "Ruff Used Mens Casual Shirt".ToLower().Replace(' ', '-'), city = cityName })"
                                           title="Ruff Used Mens Casual Shirt">Ruff Used Mens Casual Shirt</a>
                                    </h5>
                                </div>
                                <div class="left-block">
                                    @*<a href="~/PreviewItem?itemId=44375">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/KM4.png">
                                        </a>*@
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44375, itemName = "Ruff Used Mens Casual Shirt".ToLower().Replace(' ', '-'), city = cityName })">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/KM4.png">
                                    </a>
                                    <div class="quick-view">
                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                        @*<a title="Add to compare" class="compare" href="#"></a>*@
                                        <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 44375, itemName = "Ruff Used Mens Casual Shirt".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                    </div>
                                    <div class="add-to-cart">
                                        @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(60165, 44375)">Add to Cart</a>*@
                                        <a title="Add to Cart" onclick="AddProduct(60165, 44375)">Add to Cart</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-4">
                                <div class="right-block">
                                    @*<h5 class="product-name"><a href="~/PreviewItem?itemId=44302" title="Siz Fashion Blue Denim Jeans ">Siz Fashion Blue Denim Jeans </a></h5>*@
                                    <h5 class="product-name">
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44302, itemName = "Siz Fashion Blue Denim Jeans".ToLower().Replace(' ', '-'), city = cityName })"
                                           title="Siz Fashion Blue Denim Jeans">Siz Fashion Blue Denim Jeans</a>
                                    </h5>
                                </div>
                                <div class="left-block">
                                    @*<a href="~/PreviewItem?itemId=44302">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/KM5.png">
                                        </a>*@
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44302, itemName = "Siz Fashion Blue Denim Jeans".ToLower().Replace(' ', '-'), city = cityName })">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/KM5.png">
                                    </a>
                                    <div class="quick-view">
                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                        @*<a title="Add to compare" class="compare" href="#"></a>*@
                                        <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 44302, itemName = "Siz Fashion Blue Denim Jeans".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                    </div>
                                    <div class="add-to-cart">
                                        @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(60042, 44302)">Add to Cart</a>*@
                                        <a title="Add to Cart" onclick="AddProduct(60042, 44302)">Add to Cart</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div class="category-featured jewelry">
    <nav class="navbar nav-menu show-brand">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/sub-cat/icon-jewelry.png">*@Men Accessories</a></div>
            <span class="toggle-menu"></span>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" id="pst1"></ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        <div id="elevator-6" class="floor-elevator">
            <a href="#" class="btn-elevator up fa fa-angle-up"></a>
            <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
        </div>
    </nav>
    <div class="product-featured clearfix">
        <div class="row">
            <div class="col-sm-2 sub-category-wapper">
                <ul class="sub-category-list" id="cpy1">
                    <li>
                        @*<a href="~/Product/Products?item=Belts&parentCategoryId=967">*@
                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "belts", parentCategoryId = 967, city = cityName })">Belts</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-10 col-right-tab">
            <div class="product-featured-tab-content">
                <div class="tab-container">
                    <div class="tab-panel active" id="tab-14">
                        <div class="box-full clearfix">
                            <ul class="product-list row">
                                <li class="col-sm-4">
                                    <div class="right-block">
                                        @*<h5 class="product-name"><a href="~/PreviewItem?itemId=45095" title="Leather Gents White Stitching Belt">Leather Gents White Stitching Belt</a></h5>*@
                                        <h5 class="product-name">
                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 45095, itemName = "Leather Gents White Stitching Belt".ToLower().Replace(' ', '-'), city = cityName })"
                                               title="Leather Gents White Stitching Belt">Leather Gents White Stitching Belt</a>
                                        </h5>
                                    </div>
                                    <div class="left-block">
                                        @*<a href="~//PreviewItem?itemId=45095">
                                                <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/MAB1.png">
                                            </a>*@
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 45095, itemName = "Leather Gents White Stitching Belt".ToLower().Replace(' ', '-'), city = cityName })">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/MAB1.png">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to my wishlist" class="heart" href="#"></a>
                                            @*<a title="Add to compare" class="compare" href="#"></a>*@
                                            <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 45095, itemName = "Leather Gents White Stitching Belt".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(61219, 45095)">Add to Cart</a>*@
                                            <a title="Add to Cart" onclick="AddProduct(61219, 45095)">Add to Cart</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-sm-4">
                                    <div class="right-block">
                                        @*<h5 class="product-name"><a href="~/PreviewItem?itemId=45096" title="Leather Gents One Sides Belt">Leather Gents One Sides Belt</a></h5>*@
                                        <h5 class="product-name">
                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 45096, itemName = "Leather Gents One Sides Belt".ToLower().Replace(' ', '-'), city = cityName })"
                                               title="Leather Gents One Sides Belt">Leather Gents One Sides Belt</a>
                                        </h5>
                                    </div>
                                    <div class="left-block">
                                        @*<a href="~/PreviewItem?itemId=45096">
                                                <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/MAB2.png">
                                            </a>*@
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 45096, itemName = "Leather Gents One Sides Belt".ToLower().Replace(' ', '-'), city = cityName })">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/MAB2.png">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to my wishlist" class="heart" href="#"></a>
                                            @*<a title="Add to compare" class="compare" href="#"></a>*@
                                            <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 45096, itemName = "Leather Gents One Sides Belt".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(61220, 45096)">Add to Cart</a>*@
                                            <a title="Add to Cart" onclick="AddProduct(61220, 45096)">Add to Cart</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-sm-4">
                                    <div class="right-block">
                                        @*<h5 class="product-name"><a href="~/PreviewItem?itemId=45093" title="Leather Gents Lizard Printed Belt">Leather Gents Lizard Printed Belt </a></h5>*@
                                        <h5 class="product-name">
                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 45093, itemName = "Leather Gents Lizard Printed Belt".ToLower().Replace(' ', '-'), city = cityName })"
                                               title="Leather Gents Lizard Printed Belt">Leather Gents Lizard Printed Belt</a>
                                        </h5>
                                    </div>
                                    <div class="left-block">
                                        @*<a href="~/PreviewItem?itemId=45093">

                                                <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/MAB3.png">
                                            </a>*@
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 45093, itemName = "Leather Gents Lizard Printed Belt".ToLower().Replace(' ', '-'), city = cityName })">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/MAB3.png">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to my wishlist" class="heart" href="#"></a>
                                            @*<a title="Add to compare" class="compare" href="#"></a>*@
                                            <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 45093, itemName = "Leather Gents Lizard Printed Belt".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(61217, 45093)">Add to Cart</a>*@
                                            <a title="Add to Cart" onclick="AddProduct(61217, 45093)">Add to Cart</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="category-featured jewelry">
    <nav class="navbar nav-menu show-brand">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/sub-cat/icon-jewelry.png">*@Bags &amp; Luggage</a></div>
            <span class="toggle-menu"></span>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" id="pst1"></ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        <div id="elevator-6" class="floor-elevator">
            <a href="#" class="btn-elevator up fa fa-angle-up"></a>
            <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
        </div>
    </nav>
    <div class="product-featured clearfix">
        <div class="row">
            <div class="col-sm-2 sub-category-wapper">
                <ul class="sub-category-list" id="cpy1">
                    <li>
                        @*<a href="~/Product/Products?item=Handbags&parentCategoryId=722">*@
                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "handbags", parentCategoryId = 722, city = cityName })">Handbags</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-10 col-right-tab">
            <div class="product-featured-tab-content">
                <div class="tab-container">
                    <div class="tab-panel active" id="tab-14">
                        <div class="box-full clearfix">
                            <ul class="product-list row">
                                <li class="col-sm-4">
                                    <div class="right-block">
                                        @*<h5 class="product-name"><a href="~/PreviewItem?itemId=45087" title="Indigo Blue Hand Bag ">Indigo Blue Hand Bag </a></h5>*@
                                        <h5 class="product-name">
                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 45087, itemName = "Indigo Blue Hand Bag".ToLower().Replace(' ', '-'), city = cityName })"
                                               title="Indigo Blue Hand Bag">Indigo Blue Hand Bag</a>
                                        </h5>
                                    </div>
                                    <div class="left-block">
                                        @*<a href="~//PreviewItem?itemId=45087">
                                                <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/BL1.png">
                                            </a>*@
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 45087, itemName = "Indigo Blue Hand Bag".ToLower().Replace(' ', '-'), city = cityName })">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/BL1.png">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to my wishlist" class="heart" href="#"></a>
                                            @*<a title="Add to compare" class="compare" href="#"></a>*@
                                            <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 45087, itemName = "Indigo Blue Hand Bag".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(61211, 45087)">Add to Cart</a>*@
                                            <a title="Add to Cart" onclick="AddProduct(61211, 45087)">Add to Cart</a>
                                        </div>
                                    </div>

                                </li>
                                <li class="col-sm-4">
                                    <div class="right-block">
                                        @*<h5 class="product-name"><a href="~/PreviewItem?itemId=45090" title="Light Purple Hand Bag">Light Purple Hand Bag </a></h5>*@
                                        <h5 class="product-name">
                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 45090, itemName = "Light Purple Hand Bag".ToLower().Replace(' ', '-'), city = cityName })"
                                               title="Light Purple Hand Bag">Light Purple Hand Bag</a>
                                        </h5>
                                    </div>
                                    <div class="left-block">
                                        @*<a href="~/PreviewItem?itemId=45090">
                                                <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/BL2.png">
                                            </a>*@
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 45090, itemName = "Light Purple Hand Bag".ToLower().Replace(' ', '-'), city = cityName })">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/BL2.png">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to my wishlist" class="heart" href="#"></a>
                                            @*<a title="Add to compare" class="compare" href="#"></a>*@
                                            <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 45090, itemName = "Light Purple Hand Bag".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(61214, 45090)">Add to Cart</a>*@
                                            <a title="Add to Cart" onclick="AddProduct(61214, 45090)">Add to Cart</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-sm-4">
                                    <div class="right-block">
                                        @*<h5 class="product-name"><a href="~/PreviewItem?itemId=45083" title="Black And Brown Hand Bag ">Black And Brown Hand Bag </a></h5>*@
                                        <h5 class="product-name">
                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 45083, itemName = "Black And Brown Hand Bag".ToLower().Replace(' ', '-'), city = cityName })"
                                               title="Black And Brown Hand Bag">Black And Brown Hand Bag</a>
                                        </h5>
                                    </div>
                                    <div class="left-block">
                                        @*<a href="~/PreviewItem?itemId=45083">
                                                <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/BL3.png">
                                            </a>*@
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 45083, itemName = "Black And Brown Hand Bag".ToLower().Replace(' ', '-'), city = cityName })">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/BL3.png">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to my wishlist" class="heart" href="#"></a>
                                            @*<a title="Add to compare" class="compare" href="#"></a>*@
                                            <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 45083, itemName = "Black And Brown Hand Bag".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(61207, 45083)">Add to Cart</a>*@
                                            <a title="Add to Cart" onclick="AddProduct(61207, 45083)">Add to Cart</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="category-featured jewelry">
    <nav class="navbar nav-menu show-brand">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/sub-cat/icon-jewelry.png">*@Kids Section</a></div>
            <span class="toggle-menu"></span>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" id="pst1"></ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        <div id="elevator-6" class="floor-elevator">
            <a href="#" class="btn-elevator up fa fa-angle-up"></a>
            <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
        </div>
    </nav>
    <div class="product-featured clearfix">
        <div class="row">
            <div class="col-sm-2 sub-category-wapper">
                <ul class="sub-category-list" id="cpy1">
                    <li>
                        @*<a href="~/Product/Products?parentCategoryId=798">*@
                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "diapers-and-other-utility-items", parentCategoryId = 798, city = cityName })">Diapers & Other Utility Items</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-10 col-right-tab">
            <div class="product-featured-tab-content">
                <div class="tab-container">
                    <div class="tab-panel active" id="tab-14">
                        <div class="box-full clearfix">
                            <ul class="product-list row">
                                <li class="col-sm-4">
                                    <div class="right-block">
                                        @*<h5 class="product-name"><a href="~/PreviewItem?itemId=44219" title="Johnson's Baby Milk Soap">Johnson's Baby Milk Soap</a></h5>*@
                                        <h5 class="product-name">
                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44219, itemName = "Johnson's Baby Milk Soap".ToLower().Replace(' ', '-'), city = cityName })"
                                               title="Johnson's Baby Milk Soap">Johnson's Baby Milk Soap</a>
                                        </h5>
                                    </div>
                                    <div class="left-block">
                                        @*<a href="~/PreviewItem?itemId=44219">
                                                <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/kk1.jpg">
                                            </a>*@
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44219, itemName = "Johnson's Baby Milk Soap".ToLower().Replace(' ', '-'), city = cityName })">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/kk1.jpg">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to my wishlist" class="heart" href="#"></a>
                                            @*<a title="Add to compare" class="compare" href="#"></a>*@
                                            <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 44219, itemName = "Johnson's Baby Milk Soap".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(59913, 44219)">Add to Cart</a>*@
                                            <a title="Add to Cart" onclick="AddProduct(59913, 44219)">Add to Cart</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-sm-4">
                                    <div class="right-block">
                                        @*<h5 class="product-name"><a href="~/PreviewItem?itemId=22344" title="Himalaya Baby Powder">Himalaya Baby Powder</a></h5>*@
                                        <h5 class="product-name">
                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 22344, itemName = "Himalaya Baby Powder".ToLower().Replace(' ', '-'), city = cityName })"
                                               title="Himalaya Baby Powder">Himalaya Baby Powder</a>
                                        </h5>
                                    </div>
                                    <div class="left-block">
                                        @*<a href="~/PreviewItem?itemId=22344">
                                                <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/KK2.jpg">
                                            </a>*@
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 22344, itemName = "Himalaya Baby Powder".ToLower().Replace(' ', '-'), city = cityName })">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/KK2.jpg">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to my wishlist" class="heart" href="#"></a>
                                            @*<a title="Add to compare" class="compare" href="#"></a>*@
                                            <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 22344, itemName = "Himalaya Baby Powder".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(59088, 22344)">Add to Cart</a>*@
                                            <a title="Add to Cart" onclick="AddProduct(59088, 22344)">Add to Cart</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-sm-4">
                                    <div class="right-block">
                                        @*<h5 class="product-name"><a href="~/PreviewItem?itemId=44075" title="Dabur Lal Tel(Oil)">Dabur Lal Tel(Oil)</a></h5>*@
                                        <h5 class="product-name">
                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44075, itemName = "Dabur Lal Tel(Oil)".ToLower().Replace(' ', '-'), city = cityName })"
                                               title="Dabur Lal Tel(Oil)">Dabur Lal Tel(Oil)</a>
                                        </h5>
                                    </div>
                                    <div class="left-block">
                                        @*<a href="~/PreviewItem?itemId=44075">
                                                <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/KK3.jpg">
                                            </a>*@
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44075, itemName = "Dabur Lal Tel(Oil)".ToLower().Replace(' ', '-'), city = cityName })">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/KK3.jpg">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to my wishlist" class="heart" href="#"></a>
                                            @*<a title="Add to compare" class="compare" href="#"></a>*@
                                            <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 44075, itemName = "Dabur Lal Tel(Oil)".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(59288, 44075)">Add to Cart</a>*@
                                            <a title="Add to Cart" onclick="AddProduct(59288, 44075)">Add to Cart</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-sm-4">
                                    <div class="right-block">
                                        @*<h5 class="product-name"><a href="~/PreviewItem?itemId=44094" title="Johnson's Baby Powder">Johnson's Baby Powder</a></h5>*@
                                        <h5 class="product-name">
                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44094, itemName = "Johnson's Baby Powder".ToLower().Replace(' ', '-'), city = cityName })"
                                               title="Johnson's Baby Powder">Johnson's Baby Powder</a>
                                        </h5>
                                    </div>
                                    <div class="left-block">
                                        @*<a href="~/PreviewItem?itemId=44094">
                                                <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/KK4.jpg">
                                            </a>*@
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44094, itemName = "Johnson's Baby Powder".ToLower().Replace(' ', '-'), city = cityName })">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/KK4.jpg">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to my wishlist" class="heart" href="#"></a>
                                            @*<a title="Add to compare" class="compare" href="#"></a>*@
                                            <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 44094, itemName = "Johnson's Baby Powder".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(59333, 44094)">Add to Cart</a>*@
                                            <a title="Add to Cart" onclick="AddProduct(59333, 44094)">Add to Cart</a>
                                        </div>
                                    </div>

                                </li>
                                <li class="col-sm-4">
                                    <div class="right-block">
                                        @*<h5 class="product-name"><a href="~/PreviewItem?itemId=44222" title="Johnson's Baby Nappy Pads (10 pads)">Johnson's Baby Nappy Pads (10 pads)</a></h5>*@
                                        <h5 class="product-name">
                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44222, itemName = "Johnson's Baby Nappy Pads(10 pads)".ToLower().Replace(' ', '-'), city = cityName })"
                                               title="Johnson's Baby Nappy Pads (10 pads)">Johnson's Baby Nappy Pads (10 pads)</a>
                                        </h5>
                                    </div>
                                    <div class="left-block">
                                        @*<a href="~/PreviewItem?itemId=44222">
                                                <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/KK5.jpg">
                                            </a>*@
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44222, itemName = "Johnson's Baby Nappy Pads(10 pads)".ToLower().Replace(' ', '-'), city = cityName })">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/KK5.jpg">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to my wishlist" class="heart" href="#"></a>
                                            @*<a title="Add to compare" class="compare" href="#"></a>*@
                                            <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 44222, itemName = "Johnson's Baby Nappy Pads(10 pads)".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(59918, 44222)">Add to Cart</a>*@
                                            <a title="Add to Cart" onclick="AddProduct(59918, 44222)">Add to Cart</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="category-featured jewelry">
    <nav class="navbar nav-menu show-brand">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/sub-cat/icon-jewelry.png">*@Gifting Ideas</a></div>
            <span class="toggle-menu"></span>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" id="pst1"></ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        <div id="elevator-6" class="floor-elevator">
            <a href="#" class="btn-elevator up fa fa-angle-up"></a>
            <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
        </div>
    </nav>
    <div class="product-featured clearfix">
        <div class="row">
            <div class="col-sm-2 sub-category-wapper">
                <ul class="sub-category-list" id="cpy1">
                    <li>
                        @*<a href="~/Product/Products?item=Flowers Bouquet&parentCategoryId=773">*@
                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "flower-bouquets", parentCategoryId = 773, city = cityName })">Flower Bouquets</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-10 col-right-tab">
            <div class="product-featured-tab-content">
                <div class="tab-container">
                    <div class="tab-panel active" id="tab-14">
                        <div class="box-full clearfix">
                            <ul class="product-list row">
                                <li class="col-sm-4">
                                    <div class="right-block">
                                        @*<h5 class="product-name"><a href="~/PreviewItem?itemId=40834" title="12 rose bunch ">12 rose bunch </a></h5>*@
                                        <h5 class="product-name">
                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 40834, itemName = "12 rose bunch".ToLower().Replace(' ', '-'), city = cityName })"
                                               title="12 rose bunch">12 rose bunch</a>
                                        </h5>
                                    </div>
                                    <div class="left-block">
                                        @*<a href="~/PreviewItem?itemId=40834">
                                                <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/lbf1.png">
                                            </a>*@
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 40834, itemName = "12 rose bunch".ToLower().Replace(' ', '-'), city = cityName })">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/lbf1.png">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to my wishlist" class="heart" href="#"></a>
                                            @*<a title="Add to compare" class="compare" href="#"></a>*@
                                            <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 40834, itemName = "12 rose bunch".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(46945, 40834)">Add to Cart</a>*@
                                            <a title="Add to Cart" onclick="AddProduct(46945, 40834)">Add to Cart</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-sm-4">
                                    <div class="right-block">
                                        @*<h5 class="product-name"><a href="~/PreviewItem?itemId=40836" title="100 Red rose basket  ">100 Red rose basket  </a></h5>*@
                                        <h5 class="product-name">
                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 40836, itemName = "100 Red rose basket".ToLower().Replace(' ', '-'), city = cityName })"
                                               title="100 Red rose basket">100 Red rose basket</a>
                                        </h5>
                                    </div>
                                    <div class="left-block">
                                        @*<a href="~/PreviewItem?itemId=40836">
                                                <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/lbf3.png">
                                            </a>*@
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 40836, itemName = "100 Red rose basket".ToLower().Replace(' ', '-'), city = cityName })">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/lbf3.png">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to my wishlist" class="heart" href="#"></a>
                                            @*<a title="Add to compare" class="compare" href="#"></a>*@
                                            <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 40836, itemName = "100 Red rose basket".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(46949, 40836)">Add to Cart</a>*@
                                            <a title="Add to Cart" onclick="AddProduct(46949, 40836)">Add to Cart</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-sm-4">
                                    <div class="right-block">
                                        @*<h5 class="product-name"><a href="~/PreviewItem?itemId=40988" title="50 Red And Yellow Rose Bunch ">50 Red And Yellow Rose Bunch </a></h5>*@
                                        <h5 class="product-name">
                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 40988, itemName = "50 Red And Yellow Rose Bunch".ToLower().Replace(' ', '-'), city = cityName })"
                                               title="50 Red And Yellow Rose Bunch">50 Red And Yellow Rose Bunch</a>
                                        </h5>
                                    </div>
                                    <div class="left-block">
                                        @*<a href="~/PreviewItem?itemId=40988">
                                                <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/lbf4.png">
                                            </a>*@
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 40988, itemName = "50 Red And Yellow Rose Bunch".ToLower().Replace(' ', '-'), city = cityName })">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/Kanpur-images/sub-cat/lbf4.png">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to my wishlist" class="heart" href="#"></a>
                                            @*<a title="Add to compare" class="compare" href="#"></a>*@
                                            <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 40988, itemName = "50 Red And Yellow Rose Bunch".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(47182, 40988)">Add to Cart</a>*@
                                            <a title="Add to Cart" onclick="AddProduct(47182, 40988)">Add to Cart</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div class="container containernew1 span12">
    <div class="FootTextDiv">
        <p class="indent-paragraph" style="text-align:justify;">
            <span class="footerdetail">Fashion And Lifestyle</span><br />
            Gandhibagh.com came into being with a notion to bring fashion online. We embarked at the web landscape getting synonymous to the latest styles seen adding up in the market. Both young men and women can explore a long list of fashion stuff, right from the sunglasses to anklets, rings, bangles, dresses, belts, and long list of stuff, which keep on increasing in the fashion products list. Think of Fashion Products, Think Gandhibagh.com. Since our inception, the store has special space for the life style and fashion products, which you can find from the known and unknown brands in the market.
            You can explore a long list of products including apparels, lifestyle stuff, home fashion material, footwear and the list goes on. Apart from giving our consumers some of the best products in class shopping experience, we aspire to cater them a wide array of high quality and stylish fashion and lifestyle merchandise at reasonable price. Right from getting incredible visual content to flawless customer service, quick shipping and delivery, we make shopping experience of our customers outstanding. User friendly return and replacement policy, quick delivery time and robust customer service are some of the vital features of Gandhibagh.com.
            All these elements contribute in giving the customers a cool shopping experience over the web. Right from the fashion accessories for ladies like watches, fine jewellery, artificial jewellery, cosmetics to sunglasses of high quality and several other men's fashion accessories like belts, footwear, apparels for him, her and for kids. Our smart customer centric approach and relentless pursuit to establish as a new yardstick in the online retail market have helped us to emerge an as important shopping destination in Central India.
            We have networked with all the major retailers in Central India and around to cater quality fashion and lifestyle products to customers coming from different walks of life. Gandhibagh.com is known to maintain a very strong and healthy bond with our vendors, suppliers and retailers along, which together can help the customers to get the most lucrative deals online. Come one, come all to explore a wide range of products in this category with high quality and reasonable prices and enjoy incredible shopping experience.
            <br /><br />
        </p>
    </div>
</div>