@{
    ViewBag.Title = "Fashion & Lifestyle | Gandhibagh.com";
}
<link href="~/Content/Home-content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
<style>
    .margin-setTop {
        margin-top: -33px;
    }

    .heart {
        display: none !important;
    }
</style>
<script type="text/javascript">
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<script src="~/Content/update(5-10)/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var newClone1 = $("#cpy1").html();
        var newClone1 = $("#cpy2").html();
        var newClone1 = $("#cpy3").html();
        var newClone1 = $("#cpy4").html();
        var newClone1 = $("#cpy5").html();
        var newClone1 = $("#cpy6").html();
        var newClone1 = $("#cpy7").html();
        var newClone1 = $("#cpy8").html();
        var newClone1 = $("#cpy9").html();
        var newClone1 = $("#cpy10").html();
        var newClone1 = $("#cpy11").html();
        var newClone1 = $("#cpy12").html();
        if ($(window).width() < 750) {
            // alert("1");
            $(newClone1).clone().appendTo("#pst1");
            $(newClone1).clone().appendTo("#pst2");
            $(newClone1).clone().appendTo("#pst3");
            $(newClone1).clone().appendTo("#pst4");
            $(newClone1).clone().appendTo("#pst5");
            $(newClone1).clone().appendTo("#pst6");
            $(newClone1).clone().appendTo("#pst7");
            $(newClone1).clone().appendTo("#pst8");
            $(newClone1).clone().appendTo("#pst9");
            $(newClone1).clone().appendTo("#pst10");
            $(newClone1).clone().appendTo("#pst11");
            $(newClone1).clone().appendTo("#pst12");

        } else {
            $("#pst1").empty();
            $("#pst2").empty();
            $("#pst3").empty();
            $("#pst4").empty();
            $("#pst5").empty();
            $("#pst6").empty();
            $("#pst7").empty();
            $("#pst8").empty();
            $("#pst9").empty();
            $("#pst10").empty();
            $("#pst11").empty();
            $("#pst12").empty();
        }
    });
</script>
<script src="~/Scripts/Products.js"></script>
@{
    string cityName = "";
    if (Request.Cookies["CityCookie"] != null && Request.Cookies["CityCookie"].Value != "")
    {
        cityName = Request.Cookies["CityCookie"].Value.Split('$')[1].ToLower();
    }
}
<div class="container margin-setTop">
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/sub-cat/icon-jewelry.png">*@Women Wear</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst1"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy1">
                        <li>
                            @*<a href="~/Product/Products?item=Sarees&parentCategoryId=739">*@
                        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "sarees", parentCategoryId = 739, city = cityName })">Sarees</a>
                    </li>
                    @*<li>
                        <a href="~/Product/Products?item=Sarees%20Suits&parentCategoryId=744">
                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "salwar-suits", parentCategoryId = 744, city = cityName })">Salwar Suits</a>
                </li>*@
                <li>
                    @*<a href="~/Product/Products?item=DressMaterial%20SemiStitchedSuit&parentCategoryId=732">*@
                <a href="@Url.RouteUrl("ProductsByCategory", new { item = "dress-material-and-semi-stitched-suit", parentCategoryId = 732, city = cityName })">Dress Material & Semi Stitched Suit</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-10 col-right-tab">
        <div class="product-featured-tab-content">
            <div class="tab-container">
                <div class="tab-panel active" id="tab-14">
                    <div class="box-full clearfix">
                        <ul class="product-list row">
                            <li class="col-sm-4">
                                <div class="right-block">
                                    @*<h5 class="product-name"><a href="~/PreviewItem?itemId=17164" title="Lords Women's Sari,Saree with Blouse, Crepe Silk for Office & Wedding Party Wear FS-21">Lords Women's Sari,Saree with Blouse</a></h5>*@
                                    <h5 class="product-name">
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 17164, itemName = "Lords Women's Sari Saree with Blouse".ToLower().Replace(' ', '-'), city = cityName })"
                                           title="Lords Women's Sari,Saree with Blouse">Lords Women's Sari,Saree with Blouse</a>
                                    </h5>
                                </div>
                                <div class="left-block">
                                    @*<a href="~/PreviewItem?itemId=17164">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_L1.png">
                                        </a>*@
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 17164, itemName = "Lords Women's Sari Saree with Blouse".ToLower().Replace(' ', '-'), city = cityName })">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_L1.png">
                                    </a>
                                    <div class="quick-view">
                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                        @*<a title="Add to compare" class="compare" href="#"></a>*@
                                        <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 17164, itemName = "Lords Women's Sari Saree with Blouse".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                    </div>
                                    <div class="add-to-cart">
                                        @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(51324, 17164)">Add to Cart</a>*@
                                        <a title="Add to Cart" onclick="AddProduct(51324, 17164)">Add to Cart</a>
                                    </div>
                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div class="category-featured jewelry">
    <nav class="navbar nav-menu show-brand">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-brand">
                <a href="#">
                    @*<img alt="fashion" src="~/Content/update(5-10)/images/sub-cat/icon-jewelry.png">*@Women Western Wear
                </a>
            </div>
            <span class="toggle-menu"></span>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" id="pst3"></ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        <div id="elevator-6" class="floor-elevator">
            <a href="#" class="btn-elevator up fa fa-angle-up"></a>
            <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
        </div>
    </nav>
    <div class="product-featured clearfix">
        <div class="row">
            <div class="col-sm-2 sub-category-wapper">
                <ul class="sub-category-list" id="cpy3">
                    <li>
                        @*<a href="~/Product/Products?parentCategoryId=933&item=Tops,Tees & Shirts">*@
                        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "tops-tees-and-shirts", parentCategoryId = 933, city = cityName })">Tops,Tees & Shirts</a>
                    </li>
                    @*<li>
                        @*<a href="~/Product/Products?parentCategoryId=941&item=Western Dresses">
                        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "western-dresses", parentCategoryId = 941, city = cityName })">Western Dresses</a>
                    </li>*@
                    <li>
                        @*<a href="~/Product/Products?parentCategoryId=941&item=Western Dresses">*@
                        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "trousers-Denims-and-jeggings", parentCategoryId = 937, city = cityName })">Trousers,Denims &amp; Jeggings</a>
                    </li>
        </ul>
    </div>
    <div class="col-sm-10 col-right-tab">
        <div class="product-featured-tab-content">
            <div class="tab-container">
                <div class="tab-panel active" id="tab-14">
                    <div class="box-full clearfix">
                        <ul class="product-list row">
                            <li class="col-sm-4">
                                <div class="right-block">
                                    @*<h5 class="product-name"><a href="~/PreviewItem?itemId=24668" title="Women's T-Shirt Polyester Cotton Blend Knit Red With White Mushroom Button TSC-14">Women's T-Shirt Polyester Cotton Blend Knit Red</a></h5>*@
                                    <h5 class="product-name">
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 24668, itemName = "Women's T-Shirt Polyester Cotton".ToLower().Replace(' ', '-'), city = cityName })"
                                           title="Women's T-Shirt Polyester Cotton">Women's T-Shirt Polyester Cotton</a>
                                    </h5>
                                </div>
                                <div class="left-block">
                                    @*<a href="~/PreviewItem?itemId=24668">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_L4.png">
                                        </a>*@
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 24668, itemName = "Women's T-Shirt Polyester Cotton".ToLower().Replace(' ', '-'), city = cityName })">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_L4.png">
                                    </a>
                                    <div class="quick-view">
                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                        @*<a title="Add to compare" class="compare" href="#"></a>*@
                                        <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 24668, itemName = "Women's T-Shirt Polyester Cotton".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                    </div>
                                    <div class="add-to-cart">
                                        @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(49803, 24668)">Add to Cart</a>*@
                                        <a title="Add to Cart" onclick="AddProduct(49803, 24668)">Add to Cart</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div class="category-featured jewelry">
    <nav class="navbar nav-menu show-brand">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-brand"><a href="#">@*<img alt="fashion" src="~/Content/update(5-10)/images/sub-cat/icon-jewelry.png">*@ Men's Clothing</a></div>
            <span class="toggle-menu"></span>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" id="pst5"></ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        <div id="elevator-6" class="floor-elevator">
            <a href="#" class="btn-elevator up fa fa-angle-up"></a>
            <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
        </div>
    </nav>
    <div class="product-featured clearfix">
        <div class="row">
            <div class="col-sm-2 sub-category-wapper">
                <ul class="sub-category-list" id="cpy5">
                    <li>
                        @*<a href="~/Product/Products?item=Formal%20Wear&parentCategoryId=1014">*@
                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "formal-wear", parentCategoryId = 1014, city = cityName })">Formal Wear</a>
                </li>
                <li>
                    @*<a href="~/Product/Products?item=Jeans,Jackets%20T-shirts&parentCategoryId=1017">*@
                <a href="@Url.RouteUrl("ProductsByCategory", new { item = "jeans-jackets-and-t-shirts", parentCategoryId = 1017, city = cityName })">Jeans,Jackets & T-shirts</a>
            </li>
            <li>
                @*<a href="~/Product/Products?parentCategoryId=1434&item=Trousers">*@
            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "trousers", parentCategoryId = 1434, city = cityName })">Trousers</a>
        </li>
        <li>
            @*<a href="~/Product/Products?parentCategoryId=1433&item=Suits & Blazers">*@
        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "suits-and-blazers", parentCategoryId = 1433, city = cityName })">Suits & Blazers</a>
    </li>
</ul>
</div>
<div class="col-sm-10 col-right-tab">
    <div class="product-featured-tab-content">
        <div class="tab-container">
            <div class="tab-panel active" id="tab-14">
                <div class="box-full clearfix">
                    <ul class="product-list row">
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=17184" title="Black Formal Designer Shirt, Long Sleeve, Mill Made Blended Shirting COU-26">Black Formal Designer Shirt, Long Sleeve</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 17184, itemName = "Black Formal Designer Shirt".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Black Formal Designer Shirt">Black Formal Designer Shirt</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=17184">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_L6.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 17184, itemName = "Black Formal Designer Shirt".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_L6.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 17184, itemName = "Black Formal Designer Shirt".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(50429, 17184)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(50429, 17184)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=22486" title="Nehru-Modi Jacket NJU-16">Nehru-Modi Jacket NJU-16</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 22486, itemName = "Nehru-Modi Jacket".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Nehru-Modi Jacket">Nehru-Modi Jacket</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=22486">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_L7.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 22486, itemName = "Nehru-Modi Jacket".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_L7.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 22486, itemName = "Nehru-Modi Jacket".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(50535, 22486)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(50535, 22486)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<div class="category-featured jewelry">
    <nav class="navbar nav-menu show-brand">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-brand"><a href="#">Kids Section</a></div>
            <span class="toggle-menu"></span>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" id="pst9"></ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        <div id="elevator-6" class="floor-elevator">
            <a href="#" class="btn-elevator up fa fa-angle-up"></a>
            <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
        </div>
    </nav>
    <div class="product-featured clearfix">
        <div class="row">
            <div class="col-sm-2 sub-category-wapper">
                <ul class="sub-category-list" id="cpy9">
                    <li>
                        @*<a href="~/Product/Products?parentCategoryId=798&item=Diapers  & Other Utility Items">*@
                        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "tea-coffee", parentCategoryId = 798, city = cityName })">Diapers  & Other Utility Items</a>
                    </li>
                    <li>
                        @*<a href="~/Product/Products?parentCategoryId=706&item=Back To School">*@
                        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "tea-coffee", parentCategoryId = 706, city = cityName })">Back To School</a>
                    </li>
                    <li>
                        @*<a href="~/Product/Products?parentCategoryId=833&item=Toys & Games">*@
                        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "tea-coffee", parentCategoryId = 833, city = cityName })">Toys & Games</a>
                    </li>
                    <li>
                        @*<a href="~/Product/Products?parentCategoryId=1286&item=Birthday's  & Celebration">*@
                        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "tea-coffee", parentCategoryId = 1286, city = cityName })">Birthday's  & Celebration</a>
                    </li>
                    <li>
                        @*<a href="~/Product/Products?parentCategoryId=808&item=Infant Utility Items">*@
                        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "tea-coffee", parentCategoryId = 808, city = cityName })">Infant Utility Items</a>
                    </li>
                    <li>
                        @*<a href="~/Product/Products?parentCategoryId=859&item=Infant Wear">*@
                        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "infant-wear", parentCategoryId = 859, city = cityName })">Infant Wear</a>
                    </li>
                    <li>
                        @*<a href="~/Product/Products?parentCategoryId=712&item=Kids Wear">*@
                        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "kids-wear", parentCategoryId = 712, city = cityName })">Kids Wear</a>
                    </li>
                    <li>
                        @*<a href="~/Product/Products?parentCategoryId=833&item=Toys &amp; Games">*@
                        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "toys-and-games", parentCategoryId = 833, city = cityName })">Toys &amp; Games</a>
                    </li>
</ul>
</div>
<div class="col-sm-10 col-right-tab">
    <div class="product-featured-tab-content">
        <div class="tab-container">
            <div class="tab-panel active" id="tab-14">
                <div class="box-full clearfix">
                    <ul class="product-list row">

                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=14285" title="Camlin Sketch Pen Set 12 Shades (4044555)">Camlin Sketch Pen Set 12 Shades (4044555)</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 14285, itemName = "Camlin Sketch Pen Set 12 Shades".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Camlin Sketch Pen Set 12 Shades">Camlin Sketch Pen Set 12 Shades</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=14285">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_L8.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 14285, itemName = "Camlin Sketch Pen Set 12 Shades".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_L8.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 14285, itemName = "Camlin Sketch Pen Set 12 Shades".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(51579, 14285)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(51579, 14285)">Add to Cart</a>
                                </div>
                            </div>
                        </li>

                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=15240" title="Pigeon Double Layer Straw Cup DA32">Pigeon Double Layer Straw Cup DA32</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 15240, itemName = "Pigeon Double Layer Straw Cup".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Pigeon Double Layer Straw Cup">Pigeon Double Layer Straw Cup</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=15240">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_L9.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 15240, itemName = "Pigeon Double Layer Straw Cup".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_L9.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 15240, itemName = "Pigeon Double Layer Straw Cup".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(52971, 15240)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(52971, 15240)">Add to Cart</a>
                                </div>
                            </div>
                        </li>

                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=15472" title="Chicco 715202 Cooling Teether Ring Ice Cream Pink And Yellow">Chicco 715202 Cooling Teether Ring Ice Cream Pink And Yellow</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 15472, itemName = "Chicco 715202 Cooling Teether Ring Ice Cream".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Chicco 715202 Cooling Teether Ring Ice Cream">Chicco 715202 Cooling Teether Ring Ice Cream</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=15472">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_L10.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 15472, itemName = "Chicco 715202 Cooling Teether Ring Ice Cream".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_L10.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 15472, itemName = "Chicco 715202 Cooling Teether Ring Ice Cream".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(52779, 15472)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(52779, 15472)">Add to Cart</a>
                                </div>
                            </div>
                        </li>

                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=23964" title="Musical Candle SS-029">Musical Candle SS-029</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 23964, itemName = "Musical Candle".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Musical Candle">Musical Candle</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=23964">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_L11.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 23964, itemName = "Musical Candle".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_L11.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 23964, itemName = "Musical Candle".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(52280, 23964)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(52280, 23964)">Add to Cart</a>
                                </div>
                            </div>
                        </li>

                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=25498" title="Teddy Bear eraser SS-041">Teddy Bear eraser SS-041</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 25498, itemName = "Teddy Bear eraser".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Teddy Bear eraser">Teddy Bear eraser</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=25498">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_L12.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 25498, itemName = "Teddy Bear eraser".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_L12.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 25498, itemName = "Teddy Bear eraser".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(52076, 25498)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(52076, 25498)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>

<div class="category-featured jewelry">
    <nav class="navbar nav-menu show-brand">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-brand"><a href="#">Gifting Ideas</a></div>
            <span class="toggle-menu"></span>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" id="pst12"></ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        <div id="elevator-6" class="floor-elevator">
            <a href="#" class="btn-elevator up fa fa-angle-up"></a>
            <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
        </div>
    </nav>
    <div class="product-featured clearfix">
        <div class="row">
            <div class="col-sm-2 sub-category-wapper">
                <ul class="sub-category-list" id="cpy12">
                    <li>
                        @*<a href="~/Product/Products?parentCategoryId=1345&item=Hand Made &amp; Handcrafted">*@
                        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "hand-made-and-handcrafted", parentCategoryId = 1345, city = cityName })">Hand Made &amp; Handcrafted</a>
                    </li>
                    <li>
                        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "gifts", parentCategoryId = 777, city = cityName })">Gifts</a>
                    </li>
            </ul>
        </div>
        <div class="col-sm-10 col-right-tab">
            <div class="product-featured-tab-content">
                <div class="tab-container">
                    <div class="tab-panel active" id="tab-14">
                        <div class="box-full clearfix">
                            <ul class="product-list row">
                                <li class="col-sm-4">
                                    <div class="right-block">
                                        @*<h5 class="product-name"><a href="~/PreviewItem?itemId=1345" title="Plain white candle 40pcs">Plain white candle 40pcs</a></h5>*@
                                        <h5 class="product-name">
                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 23961, itemName = "Plain white candle 40pcs".ToLower().Replace(' ', '-'), city = cityName })"
                                               title="Plain white candle 40pcs">Plain white candle 40pcs</a>
                                        </h5>
                                    </div>
                                    <div class="left-block">
                                        @*<a href="~/PreviewItem?itemId=23961">
                                                <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_L13.png">
                                            </a>*@
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 23961, itemName = "Plain white candle 40pcs".ToLower().Replace(' ', '-'), city = cityName })">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_L13.png">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to my wishlist" class="heart" href="#"></a>
                                            @*<a title="Add to compare" class="compare" href="#"></a>*@
                                            <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 23961, itemName = "Plain white candle 40pcs".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(52284, 23961)">Add to Cart</a>*@
                                            <a title="Add to Cart" onclick="AddProduct(52284, 23961)">Add to Cart</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="category-featured jewelry">
    <nav class="navbar nav-menu show-brand">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-brand"><a href="#">Men's Footwear</a></div>
            <span class="toggle-menu"></span>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" id="pst12"></ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        <div id="elevator-6" class="floor-elevator">
            <a href="#" class="btn-elevator up fa fa-angle-up"></a>
            <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
        </div>
    </nav>
    <div class="product-featured clearfix">
        <div class="row">
            <div class="col-sm-2 sub-category-wapper">
                <ul class="sub-category-list" id="cpy12">
                    <li>
                        @*<a href="~/Product/Products?parentCategoryId=999&item=Formal Shoes">*@
                        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "formal-shoes", parentCategoryId = 999, city = cityName })">Formal Shoes</a>
                    </li>
                    <li>
                        @*<a href="~/Product/Products?parentCategoryId=997&item=Casual Shoes">*@
                        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "casual-shoes", parentCategoryId = 997, city = cityName })">Casual Shoes</a>
                    </li>
                    <li>
                        @*<a href="~/Product/Products?parentCategoryId=1001&item=Sandals &amp; Slippers">*@
                        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "sandals-and-slippers", parentCategoryId = 999, city = cityName })">Sandals &amp; Slippers</a>
                    </li>
                    <li>
                        @*<a href="~/Product/Products?parentCategoryId=999&item=Formal Shoes">*@
                        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "sports-shoes", parentCategoryId = 1004, city = cityName })">Sports Shoes</a>
                    </li>
            </ul>
        </div>
        <div class="col-sm-10 col-right-tab">
            <div class="product-featured-tab-content">
                <div class="tab-container">
                    <div class="tab-panel active" id="tab-14">
                        <div class="box-full clearfix">
                            <ul class="product-list row">
                                <li class="col-sm-4">
                                    <div class="right-block">
                                        @*<h5 class="product-name"><a href="~/PreviewItem?itemId=39725" title="Men's Formal Shoes Article No.APB Black">Men's Formal Shoes Article No.APB Black</a></h5>*@
                                        <h5 class="product-name">
                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 39725, itemName = "Men's Formal Shoes Article No.APB Black".ToLower().Replace(' ', '-'), city = cityName })"
                                               title="Men's Formal Shoes Article No.APB Black">Men's Formal Shoes Article No.APB Black</a>
                                        </h5>
                                    </div>
                                    <div class="left-block">
                                        @*<a href="~/PreviewItem?itemId=39725">
                                                <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_L14.jpg">
                                            </a>*@
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 39725, itemName = "Men's Formal Shoes Article No.APB Black".ToLower().Replace(' ', '-'), city = cityName })">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_L14.jpg">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to my wishlist" class="heart" href="#"></a>
                                            @*<a title="Add to compare" class="compare" href="#"></a>*@
                                            <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 39725, itemName = "Men's Formal Shoes Article No.APB Black".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(54970, 39725)">Add to Cart</a>*@
                                            <a title="Add to Cart" onclick="AddProduct(54970, 39725)">Add to Cart</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="category-featured jewelry">
    <nav class="navbar nav-menu show-brand">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-brand"><a href="#">Women's Footwear</a></div>
            <span class="toggle-menu"></span>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" id="pst12"></ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        <div id="elevator-6" class="floor-elevator">
            <a href="#" class="btn-elevator up fa fa-angle-up"></a>
            <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
        </div>
    </nav>
    <div class="product-featured clearfix">
        <div class="row">
            <div class="col-sm-2 sub-category-wapper">
                <ul class="sub-category-list" id="cpy12">
                    <li>
                        @*<a href="~/Product/Products?item=Shoes&parentCategoryId=917">*@
                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "shoes", parentCategoryId = 917, city = cityName })">Shoes</a>
                </li>
                <li>
                    @*<a href="~/Product/Products?item=Slip-On%20Sandal%20Pumps&parentCategoryId=920">*@
                <a href="@Url.RouteUrl("ProductsByCategory", new { item = "slip-on-sandal-and-pumps", parentCategoryId = 920, city = cityName })">Slip-On,Sandal & Pumps</a>
            </li>
            <li>
                @*<a href="~/Product/Products?item=Slippers%20Flip%20Flpos&parentCategoryId=916">*@
            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "slippers-and-flip-flpos", parentCategoryId = 916, city = cityName })">Slippers & Flip Flpos</a>
        </li>
        <li>
            @*<a href="~/Product/Products?item=Wedges&parentCategoryId=924">*@
        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "wedges", parentCategoryId = 924, city = cityName })">Wedges</a>
    </li>
</ul>
</div>
<div class="col-sm-10 col-right-tab">
    <div class="product-featured-tab-content">
        <div class="tab-container">
            <div class="tab-panel active" id="tab-14">
                <div class="box-full clearfix">
                    <ul class="product-list row">
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=19737" title="Formal Shoe AP-021">Formal Shoe AP-021</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 19737, itemName = "Formal Shoe".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Formal Shoe">Formal Shoe</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=19737">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_L15.jpg">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 19737, itemName = "Formal Shoe".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_L15.jpg">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 19737, itemName = "Formal Shoe".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(55176, 19737)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(55176, 19737)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=19622" title="Party Wear Sandal  AP-012">Party Wear Sandal  AP-012</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 19622, itemName = "Party Wear Sandal".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Party Wear Sandal">Party Wear Sandal</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=19622">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_L16.jpg">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 19622, itemName = "Party Wear Sandal".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_L16.jpg">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 19622, itemName = "Party Wear Sandal".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(55221, 19622)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(55221, 19622)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=19757" title="Party Wear Slippers AP-030">Party Wear Slippers AP-030</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 19757, itemName = "Party Wear Slippers".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Party Wear Slippers">Party Wear Slippers</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=19757">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_L17.jpg">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 19757, itemName = "Party Wear Slippers".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_L17.jpg">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 19757, itemName = "Party Wear Slippers".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(55132, 19757)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(55132, 19757)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=19761" title="Party Wear sandal AP-031">Party Wear sandal AP-031</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 19761, itemName = "Party Wear sandal".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Party Wear sandal">Party Wear sandal</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=19761">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_L18.jpg">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 19761, itemName = "Party Wear sandal".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_L18.jpg">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 19761, itemName = "Party Wear sandal".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(55127, 19761)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(55127, 19761)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>


<div class="container containernew1 span12">
    <div class="FootTextDiv">
        <p class="indent-paragraph" style="text-align:justify;">
            <span class="footerdetail">Fashion And Lifestyle</span><br />
            Gandhibagh.com came into being with a notion to bring fashion online. We embarked at the web landscape getting synonymous to the latest styles seen adding up in the market. Both young men and women can explore a long list of fashion stuff, right from the sunglasses to anklets, rings, bangles, dresses, belts, and long list of stuff, which keep on increasing in the fashion products list. Think of Fashion Products, Think Gandhibagh.com. Since our inception, the store has special space for the life style and fashion products, which you can find from the known and unknown brands in the market.
            You can explore a long list of products including apparels, lifestyle stuff, home fashion material, footwear and the list goes on. Apart from giving our consumers some of the best products in class shopping experience, we aspire to cater them a wide array of high quality and stylish fashion and lifestyle merchandise at reasonable price. Right from getting incredible visual content to flawless customer service, quick shipping and delivery, we make shopping experience of our customers outstanding. User friendly return and replacement policy, quick delivery time and robust customer service are some of the vital features of Gandhibagh.com.
            All these elements contribute in giving the customers a cool shopping experience over the web. Right from the fashion accessories for ladies like watches, fine jewellery, artificial jewellery, cosmetics to sunglasses of high quality and several other men's fashion accessories like belts, footwear, apparels for him, her and for kids. Our smart customer centric approach and relentless pursuit to establish as a new yardstick in the online retail market have helped us to emerge an as important shopping destination in Central India.
            We have networked with all the major retailers in Central India and around to cater quality fashion and lifestyle products to customers coming from different walks of life. Gandhibagh.com is known to maintain a very strong and healthy bond with our vendors, suppliers and retailers along, which together can help the customers to get the most lucrative deals online. Come one, come all to explore a wide range of products in this category with high quality and reasonable prices and enjoy incredible shopping experience.
            <br /><br />
        </p>
    </div>
</div>