@{
    Layout = "~/Views/Shared/_Layout1Nagpur.cshtml";

    string cityName = "nagpur";
    if (Request.Cookies["CityCookie"] != null && Request.Cookies["CityCookie"].Value != "")
    {
        cityName = Request.Cookies["CityCookie"].Value.Split('$')[1].ToLower();
    }
}

<style>
    .Wk-Deal {
    }

        .Wk-Deal ul {
            width: 60%;
            text-align: center;
            margin: auto;
        }

            .Wk-Deal ul li {
                font-size: 12px;
                margin: 10px;
                text-align: center;
            }

                .Wk-Deal ul li a {
                    text-decoration: none;
                }

    #ulProduct {
        clear: both;
        margin-left: 25px;
    }

    .active {
    }
</style>
<script type="text/javascript">
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<link href="~/Content/css/offerPage.css" rel="stylesheet" />
<script src="~/Scripts/Products.js"></script>

<div class="container"></div>
<div class="Wk-Deal" style="margin-bottom: -5px; background: url( ../Content/Images/head-bg.jpg); background-repeat: repeat-x; background-position: 0 0; margin-top: -14px;">
    <div id="divMain" class="container grid">
        <div class="tabcontrol2" data-role="tabControl">
            <ul class="tabs row cells12" style="text-align: center; border-bottom: 2px;">

                <li class="cell colspan2 col-xs-2"><a href="#frame_5_1"><img src="~/Content/update(5-10)/images/1.png" /><br> <span style="">Fashion &amp; Lifestyle</span></a></li>
                <li class="cell colspan2 col-xs-2"><a href="#frame_5_2"><img src="~/Content/update(5-10)/images/9.png" /><br> <span style="">Fruits &amp; Vegetables</span></a></li>
                <li class="cell colspan2 col-xs-2"><a href="#frame_5_3"><img src="~/Content/update(5-10)/images/2.png" /><br> <span style="">Daily Needs &amp; Groceries</span></a></li>
                <li class="cell colspan2 col-xs-2"><a href="#frame_5_4"><img src="~/Content/update(5-10)/images/4.png" /><br> <span style="">Electronics</span></a></li>
                <li class="cell colspan2 col-xs-2"><a href="#frame_5_5"><img src="~/Content/update(5-10)/images/3.png" /><br> <span style="">Beauty &amp; Personal</span></a></li>
                <li class="cell colspan2 col-xs-2"><a href="#frame_5_6"><img src="~/Content/update(5-10)/images/23.png" /><br> <span style="">Kitchenware &amp; Appliances</span></a></li>
            </ul>
            <div class="clearfix"></div>

            <div class="frames" style="margin-bottom:40px;">
                <div class="frame" id="frame_5_1">
                    <div class="mainOffer" id="todayDeal">
                        <h3 style="text-align: center; text-align: center; padding: 5px; margin-bottom: 40px; color: #EF4896;"><a href="~/Home/FashionAndLifestyle"><span style="font-size: 60px;">F</span><span style="text-decoration:underline;">ashion</span> &amp; <span style="font-size: 60px;">L</span><span style="text-decoration:underline;">ifestyle</span></a></h3>
                        <hr style="width: 100%; margin-bottom: 40px; margin-top: -33px; background-color: #eaeaea; height: 1px; ">
                        <ul id="ulProduct" class="row cells12">
                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>
                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">
                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 17197, itemName = "Lords Men's Lavender Formal Shirt, Long Sleeve".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/LF5.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="STOCK-STATUS lablehead">
                                            <h3>Lords Men's Lavender Formal Shirt, Long Sleeve, Regular, Mill Made Blended Shirting COU-34</h3>
                                        </div>

                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 255/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProduct(8459, 17197)"><button>Add to Cart</button></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>
                                                <h2 class="offerStick">33% Off</h2>
                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">

                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 39697, itemName = "Sanjana Designer Italian Crepe Blue Saree 212".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/LF6.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="STOCK-STATUS lablehead">
                                            <h3>Sanjana Designer Italian Crepe Blue Saree 212</h3>
                                        </div>
                                        <div class="MRP">
                                            <del><span>Sale Price Rs 900/-</span></del>
                                        </div>
                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 599/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProduct(44654, 39697)"><button>Add to Cart</button></a>

                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>
                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">
                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 17184, itemName = "Black Formal Designer Shirt, Long Sleeve, Mill Made".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/LF7.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="STOCK-STATUS lablehead">
                                            <h3>Black Formal Designer Shirt, Long Sleeve, Mill Made Blended Shirting COU-26</h3>
                                        </div>

                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 255/-</span>
                                        </div>
                                        <div class="btnoffer">

                                            <a title="Add to Cart" onclick="AddProduct(14139, 17184)"><button>Add to Cart</button></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>
                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">

                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44023, itemName = "Women's Wear WCW-05 Purple Formal Shirt ".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/LF8.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="STOCK-STATUS lablehead">
                                            <h3>Women's Wear WCW-05 Purple Formal Shirt Polyester Viscose Blend</h3>
                                        </div>

                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 225/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProduct(59146, 44023)"><button>Add to Cart</button></a>

                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>

                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">

                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 22478, itemName = "MENS STYLISH ETHNIC NEHRU-MODI JACKET SLEEVELESS COAT NJU-04".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/LF9.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="STOCK-STATUS lablehead">
                                            <h3>MENS STYLISH ETHNIC NEHRU-MODI JACKET SLEEVELESS COAT NJU-04</h3>
                                        </div>

                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 650/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProduct(13550, 22478)"><button>Add to Cart</button></a>

                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>
                                                <h2 class="offerStick">50% Off</h2>
                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">

                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 24344, itemName = "Navy Blue Jeggins 002".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/LF10.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="STOCK-STATUS lablehead">
                                            <h3>Navy Blue Jeggins 002</h3>
                                        </div>
                                        <div class="MRP">
                                            <del><span>Sale Price Rs 700/-</span></del>
                                        </div>
                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 350/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProduct(24108, 24344)"><button>Add to Cart</button></a>

                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>

                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">
                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 22486, itemName = "Nehru-Modi Jacket NJU-16".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/LF1.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="STOCK-STATUS lablehead">
                                            <h3>Nehru-Modi Jacket NJU-16</h3>
                                        </div>

                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 650/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProduct(13126, 22486)"><button>Add to Cart</button></a>

                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>
                                                <h2 class="offerStick">40% Off</h2>
                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">
                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44642, itemName = "Combo pack For Men (Wallet,Belt,Sunglass)".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/dd_eleven.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="STOCK-STATUS lablehead">
                                            <h3>Combo pack For Men (Wallet,Belt,Sunglass)</h3>
                                        </div>
                                        <div class="MRP">
                                            <del><span style="margin-top:-21px; display:block;">Sale Price Rs 1,000/-</span></del>
                                        </div>
                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 600/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProduct(60574, 44642)"><button>Add to Cart</button></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>
                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">
                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44016, itemName = "Women's Wear WCW-15 Formal Shirt Polyester Viscose Blend".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/LF3.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="STOCK-STATUS lablehead">
                                            <h3>Women's Wear WCW-15 Formal Shirt Polyester Viscose Blend</h3>
                                        </div>

                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 250/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProduct(59118, 44016)"><button>Add to Cart</button></a>

                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="frame" id="frame_5_2">
                    <div class="mainOffer" id="todayDeal">
                        <h3 style="text-align: center; text-align: center; padding: 5px; margin-bottom: 40px; color: #60A917; "><a href="http://foodbagh.gandhibagh.com/#/"><span style="font-size:60px;">F</span><span style="text-decoration:underline;">ruits</span> &amp; <span style="font-size:60px;">V</span><span style="text-decoration:underline;">egetables</span></a></h3>
                        <hr style="width: 100%; margin-bottom: 40px; margin-top: -33px; background-color: #eaeaea; height: 1px; ">

                        <ul id="ulProduct" class="row cells12">
                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>
                                                <h2 class="offerStick">06% Off</h2>
                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">
                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43879, itemName = "Gift Fruit Baskets ".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/dd_one.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="STOCK-STATUS lablehead">
                                            <h3>Gift Fruit Baskets </h3>
                                        </div>
                                        <div class="MRP">
                                            <del><span>Sale Price RS 340/-</span></del>
                                        </div>
                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 299/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProduct(58563, 43879)"><button>Add to Cart</button></a>

                                        </div>
                                    </div>
                                </div>

                            </li>
                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>
                                                <h2 class="offerStick">07% Off</h2>
                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">

                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44213, itemName = "Basic Vegetable Combo ".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/dd_fifteen.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="STOCK-STATUS lablehead">
                                            <h3>Basic Vegetable Combo</h3>
                                        </div>
                                        <div class="MRP">
                                            <del><span>Sale Price Rs 110/-</span></del>
                                        </div>
                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 99/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProduct(59899, 44213)"><button>Add to Cart</button></a>

                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="frame" id="frame_5_3">
                    <div class="mainOffer" id="todayDeal">
                        <h3 style="text-align: center; text-align: center; padding: 5px; margin-bottom: 40px; color: rgb(251, 105, 2); "><a href="http://foodbagh.gandhibagh.com/#/"><span style="font-size:60px;">D</span><span style="text-decoration:underline;">aily</span> <span style="font-size:60px;">N</span><span style="text-decoration:underline;">eeds</span> &amp; <span style="font-size:60px;">G</span><span style="text-decoration:underline;">roceries</span> </a></h3>
                        <hr style="width: 100%; margin-bottom: 40px; margin-top: -33px; background-color: #eaeaea; height: 1px; ">

                        <ul id="ulProduct" class="row cells12">
                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>
                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">
                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41312, itemName = "Santoor Hand Wash Essential Oils Refill Pack".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/G3.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="STOCK-STATUS lablehead">
                                            <h3>Santoor Hand Wash Essential Oils Refill Pack</h3>
                                        </div>
                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 123/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProduct(58563, 43879)"><button>Add to Cart</button></a>
                                        </div>
                                    </div>
                                </div>

                            </li>
                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>
                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">
                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41310, itemName = "Horlicks Royal Kesar Badam Jar FREE PENCIL BOX".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/G2.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="STOCK-STATUS lablehead">
                                            <h3>Horlicks Royal Kesar Badam Jar FREE PENCIL BOX</h3>
                                        </div>
                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 250/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProduct(47825, 41310)"><button>Add to Cart</button></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>
                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">
                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41165, itemName = "MTR - Gulab Jamun Mix (Buy 1 Get 1 Free)".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/G7.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="STOCK-STATUS lablehead">
                                            <h3>MTR - Gulab Jamun Mix (Buy 1 Get 1 Free )</h3>
                                        </div>
                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 80/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProduct(47614, 41165)"><button>Add to Cart</button></a>
                                        </div>
                                    </div>
                                </div>

                            </li>
                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>
                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">
                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42459, itemName = "Riso Rice Bran Oil 5 Litre With 1 Litre".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/G1.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="STOCK-STATUS lablehead">
                                            <h3>Riso Rice Bran Oil 5 Litre With 1 Litre Free (Cooking Oil)</h3>
                                        </div>
                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 650/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProduct(50454, 42459)"><button>Add to Cart</button></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>
                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">
                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 24339, itemName = "Anuj Dairy Paneer".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/G9.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="STOCK-STATUS lablehead">
                                            <h3>Anuj Dairy Paneer</h3>
                                        </div>
                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 130/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProduct(24101, 24339)"><button>Add to Cart</button></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>
                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">
                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 45704, itemName = "Godrej Genteel Liquid Detergent".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/G10.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="STOCK-STATUS lablehead">
                                            <h3>Godrej Genteel Liquid Detergent (Buy 1 get 1 Free)</h3>
                                        </div>
                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 310/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProduct(62513, 45704)"><button>Add to Cart</button></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="frame" id="frame_5_4">
                    <div class="mainOffer" id="weekly">

                        <h3 style="text-align: center; text-align: center;  padding: 5px; margin-bottom: 40px; color: #1ba1e2; "><a href="~/Home/Electronics"><span style="font-size:60px;">E</span><span style="text-decoration:underline;">lectronics</span></a></h3>
                        <hr style="width: 100%; margin-bottom: 40px; margin-top: -33px; background-color: #eaeaea; height: 1px; ">
                        <ul id="ulProduct" class="row cells12">
                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>
                                                <h2 class="offerStick">46% Off</h2>
                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">
                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 40065, itemName = "Sony CP-V4A Usb Portable Power".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/E1.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="STOCK-STATUS lablehead">
                                            <h3>Sony CP-V4A Usb Portable Power Supply 4700 mAh</h3>
                                        </div>
                                        <div class="MRP">
                                            <del><span>Sale Price Rs 2250/-</span></del>
                                        </div>
                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 1193/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProduct(45495, 40065)"><button>Add to Cart</button></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>
                                                <h2 class="offerStick">11% Off</h2>
                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">
                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 40269, itemName = "Zebronics Bluetooth Headset (BH498)".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/E2.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="STOCK-STATUS lablehead">
                                            <h3>Zebronics Bluetooth Headset (BH498)</h3>
                                        </div>
                                        <div class="MRP">
                                            <del><span>Sale Price Rs 375/-</span></del>
                                        </div>
                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 331/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProduct(45730, 40269)"><button>Add to Cart</button></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>
                                                <h2 class="offerStick">33% Off</h2>
                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">
                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43231, itemName = "PNY Attache Pen Drive M1".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/E10.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="STOCK-STATUS lablehead">
                                            <h3>PNY Attache Pen Drive M1</h3>
                                        </div>
                                        <div class="MRP">
                                            <del><span>Sale Price Rs 450/-</span></del>
                                        </div>
                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 299/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProduct(54325, 43231)"><button>Add to Cart</button></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>
                                                <h2 class="offerStick">26% Off</h2>
                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">
                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 40170, itemName = "Zebronics Tunes Wired Headset".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/dd_two.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="STOCK-STATUS lablehead">
                                            <h3>Zebronics Tunes Wired Headset</h3>
                                        </div>
                                        <div class="MRP">
                                            <del><span>Sale Price Rs 175/-</span></del>
                                        </div>
                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 128/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProduct(45628, 40170)"><button>Add to Cart</button></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>
                                                <h2 class="offerStick">35% Off</h2>
                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">
                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43877, itemName = "Enter Car Shape Wireless Mouse".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/dd_twelve.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="STOCK-STATUS lablehead">
                                            <h3>Enter Car Shape Wireless Mouse</h3>
                                        </div>
                                        <div class="MRP">
                                            <del><span>Sale Price Rs 695/-</span></del>
                                        </div>
                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 449/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProduct(58556, 43877)"><button>Add to Cart</button></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>
                                                <h2 class="offerStick">22% Off</h2>
                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">
                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 40108, itemName = "Zebronics Soul - Zeb S350 2.0 Speakers".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/dd_seven.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="STOCK-STATUS lablehead">
                                            <h3>Zebronics Soul - Zeb S350 2.0 Speakers</h3>
                                        </div>
                                        <div class="MRP">
                                            <del><span>Sale Price Rs 350/-</span></del>
                                        </div>
                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 270/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProduct(45545, 40108)"><button>Add to Cart</button></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>
                                                <h2 class="offerStick">48% Off</h2>
                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">
                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 40120, itemName = "Zebronics Astro Plus Wireless Mouse Black".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/dd_three.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="STOCK-STATUS lablehead">
                                            <h3>Zebronics Astro Plus Wireless Mouse Black</h3>
                                        </div>
                                        <div class="MRP">
                                            <del><span>Sale Price Rs 650/-</span></del>
                                        </div>
                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 337/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProduct(45566, 40120)"><button>Add to Cart</button></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>
                                                <h2 class="offerStick">10% Off</h2>
                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">
                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43876, itemName = "Portronics Phoni 3 Radition Free Handset".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/dd_thirteen.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="STOCK-STATUS lablehead">
                                            <h3>Portronics Phoni 3 Radition Free Handset (Talky)</h3>
                                        </div>
                                        <div class="MRP">
                                            <del><span>Sale Price Rs 499/-</span></del>
                                        </div>
                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 449/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProduct(58547, 43876)"><button>Add to Cart</button></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>
                                                <h2 class="offerStick">50% Off</h2>
                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">
                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43244, itemName = "Angry Birds Universal 7inch Tablet Flip Cover".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/W5.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="STOCK-STATUS lablehead">
                                            <h3>Angry Birds Universal 7inch Tablet Flip Cover With 360 Rotating Stand</h3>
                                        </div>
                                        <div class="MRP">
                                            <del><span>Sale Price Rs 500/-</span></del>
                                        </div>
                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 250/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProduct(54343, 43244)"><button>Add to Cart</button></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="frame" id="frame_5_5">
                    <div class="mainOffer" id="todayDeal">
                        <h3 style="text-align: center; text-align: center; padding: 5px; margin-bottom: 40px; color: rgb(254, 100, 169); "><a href="http://foodbagh.gandhibagh.com/#/"><span style="font-size:60px;">B</span><span style="text-decoration:underline;">eauty</span> &amp; <span style="font-size:60px;">P</span><span style="text-decoration:underline;">ersonal</span></a></h3>
                        <hr style="width: 100%; margin-bottom: 40px; margin-top: -33px; background-color: #eaeaea; height: 1px; ">

                        <ul id="ulProduct" class="row cells12">
                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>
                                                <h2 class="offerStick">08% Off</h2>
                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">
                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 1999, itemName = "Park Avenue Voyage Deodorant Spray".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/BP1.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="STOCK-STATUS lablehead">
                                            <h3>Park Avenue Voyage Deodorant Spray</h3>
                                        </div>
                                        <div class="MRP">
                                            <del><span>Sale Price Rs 240/-</span></del>
                                        </div>
                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 220/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProduct(31472, 1999)"><button>Add to Cart</button></a>
                                        </div>
                                    </div>
                                </div>

                            </li>
                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>
                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">
                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 70, itemName = "Lakme Eyeconic Kajal".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/BP2.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="STOCK-STATUS lablehead">
                                            <h3>Lakme Eyeconic Kajal</h3>
                                        </div>
                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 210/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProduct(21855, 70)"><button>Add to Cart</button></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>
                                                <h2 class="offerStick">33% Off</h2>
                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">
                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41188, itemName = "Pantene Hairfall Control Shampoo".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/BP3.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="STOCK-STATUS lablehead">
                                            <h3>Pantene Hairfall Control Shampoo</h3>
                                        </div>
                                        <div class="MRP">
                                            <del><span>Sale Price Rs 75/-</span></del>
                                        </div>
                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 50/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProduct(47650, 41188)"><button>Add to Cart</button></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>
                                                <h2 class="offerStick">33% Off</h2>
                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">
                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41542, itemName = "Snowy Wings 8 pads".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/BP4.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="STOCK-STATUS lablehead">
                                            <h3>Snowy Wings 8 pads</h3>
                                        </div>
                                        <div class="MRP">
                                            <del><span>Sale Price Rs 30/-</span></del>
                                        </div>
                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 20/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProduct(48357, 41542)"><button>Add to Cart</button></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>
                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">
                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41300, itemName = "Pepsodent Germi Check 2 in 1 Toothpaste".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/G4.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="STOCK-STATUS lablehead">
                                            <h3>Pepsodent Germi Check 2 in 1 Toothpaste (Free School Kit)</h3>
                                        </div>
                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 78/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProduct(47809, 41300)"><button>Add to Cart</button></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>
                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">
                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 40935, itemName = "Dove Intense Repair Therapy Shampoo 340ml".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/G8.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="STOCK-STATUS lablehead">
                                            <h3>Dove Intense Repair Therapy Shampoo 340ml(Conditioner 75ml Free)</h3>
                                        </div>
                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 270/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProduct(47107, 40935)"><button>Add to Cart</button></a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>
                                                <h2 class="offerStick">08% Off</h2>
                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">
                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 1768, itemName = "Fogg Fresh Woody Black Series for Men Deo".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/B5.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="STOCK-STATUS lablehead">
                                            <h3>Fogg Fresh Woody Black Series for Men Deodorant , 120ml</h3>
                                        </div>
                                        <div class="MRP">
                                            <del><span>Sale Price Rs 250/-</span></del>
                                        </div>
                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 230/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProduct(3637, 1768)"><button>Add to Cart</button></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>
                                                <h2 class="offerStick">15% Off</h2>
                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">
                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 43807, itemName = "Mother And Infant Baby Combo ".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/B6.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="STOCK-STATUS lablehead">
                                            <h3>Mother And Infant Baby Combo (With 1packet OF Mamy Poko Pants GET 1 snowy wings worth Rs 20 free)</h3>
                                        </div>
                                        <div class="MRP">
                                            <del><span>Sale Price Rs 499/-</span></del>
                                        </div>
                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 420/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProduct(58337, 43807)"><button>Add to Cart</button></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="frame" id="frame_5_6">
                    <div class="mainOffer" id="weekly">

                        <h3 style="text-align: center; text-align: center; padding: 5px; margin-bottom: 40px; color: #426642; "><a href="~/Home/KitchenwareAndAppliances"><span style="font-size:60px;">K</span><span style="text-decoration:underline;">itchenware</span> &amp; <span style="font-size:60px;">A</span><span style="text-decoration:underline;"> ppliances</span></a></h3>
                        <hr style="width: 100%; margin-bottom: 40px; margin-top: -33px; background-color: #eaeaea; height: 1px; ">
                        <ul id="ulProduct" class="row cells12">
                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>
                                                <h2 class="offerStick">17% Off</h2>
                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">
                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44483, itemName = "Multi Snackmaker".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/KA4.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="STOCK-STATUS lablehead">
                                            <h3>Multi Snackmaker</h3>
                                        </div>
                                        <div class="MRP">
                                            <del><span>Sale Price Rs 495/-</span></del>
                                        </div>
                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 410/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(60339, 44483)"><button>Add to Cart</button></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>
                                                <h2 class="offerStick">50% Off</h2>
                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">
                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 44487, itemName = "Jaguar Electronic Gas Lighter with Knife".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/KA5.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="STOCK-STATUS lablehead">
                                            <h3>Jaguar Electronic Gas Lighter with Knife</h3>
                                        </div>
                                        <div class="MRP">
                                            <del><span>Sale Price Rs 120/-</span></del>
                                        </div>
                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 60/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProduct(60349, 44487)"><button>Add to Cart</button></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>
                                                <h2 class="offerStick">18% Off</h2>
                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">
                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 2844, itemName = "Anjali Puran Machine S.S Handle".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/KA1.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="STOCK-STATUS lablehead">
                                            <h3>Anjali Puran Machine S.S Handle with 3 Jalies</h3>
                                        </div>
                                        <div class="MRP">
                                            <del><span>Sale Price Rs 555/-</span></del>
                                        </div>
                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 450/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProduct(1866, 2844)"><button>Add to Cart</button></a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="cell colspan3">
                                <div class="a tile-group1 double">
                                    <div class="tile-container">
                                        <div class='tile-widenew fg-white divborder' data-role='tile'>
                                            <div class='tile-content slide-up'>
                                                <h2 class="offerStick">42% Off</h2>
                                                <div class='cart_items'>
                                                    <div class='content'>
                                                        <div class="PRODUCT-IMAGE">
                                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 28768, itemName = "Larah Ageria Opal Glass 27 pcs Dinner Set".ToLower().Replace(' ', '-'), city = cityName })">
                                                                <img src="~/Content/Home-content/Images/Weekly_Off/KA3.jpg" alt="Gandhibagh" class="divimg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="STOCK-STATUS lablehead">
                                            <h3>Larah Ageria Opal Glass 27 pcs Dinner Set</h3>
                                        </div>
                                        <div class="MRP">
                                            <del><span>Sale Price Rs 3220/-</span></del>
                                        </div>
                                        <div class="SALE_RATE">
                                            <span>Offer Price :</span><span class="spannew">Rs 1850/-</span>
                                        </div>
                                        <div class="btnoffer">
                                            <a title="Add to Cart" onclick="AddProduct(32866, 28768)"><button>Add to Cart</button></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#countdown").countdown();
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
    });
</script>

