@{
    ViewBag.Title = "SweetAndConfectionery";
    //Layout = "~/Views/Shared/_Layout1.cshtml";
}
<link href="~/Content/Home-content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
<script src="~/Content/js/Bedcrumbs.js"></script>

<style>
    .margin-setTop {
        margin-top: -33px;
    }

    .heart {
        display: none !important;
    }
</style>
<script type="text/javascript">
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<script src="~/Content/update(5-10)/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var newClone1 = $("#cpy1").html();

        if ($(window).width() < 750) {
            // alert("1");
            $(newClone1).clone().appendTo("#pst1");

        } else {
            $("#pst1").empty();

        }
    });
</script>
@{
    string cityName = "";
    if (Request.Cookies["CityCookie"] != null && Request.Cookies["CityCookie"].Value != "")
    {
        cityName = Request.Cookies["CityCookie"].Value.Split('$')[1].ToLower();
    }
}
<script src="~/Scripts/Products.js"></script>
<div class="container margin-setTop">
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">Sweet Shops</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst1"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy1">
                        <li>@*<a href="~/Product/Products?shopID=285&selectedCategoryId=1453">*@
                            <a href="@Url.RouteUrl("ShopProducts2", new { city = cityName, shopName = "Raj Bhandar".ToLower().Replace(" ", "-"), shopID = 285, selectedCategoryId = 1453 })">Raj Bhandar</a></li>
                        <li>@*<a href="~/Product/Products?item=Sweetoo&parentCategoryId=1454">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "Sweetoo", parentCategoryId = 1454, city = cityName })">Sweetoo</a></li>
                        <li>@*<a href="~/Product/Products?shopID=350&selectedCategoryId=1452">*@
                          <a href="@Url.RouteUrl("ShopProducts2", new { city = cityName, shopName = "Gangour".ToLower().Replace(" ", "-"), shopID = 350, selectedCategoryId = 1452 })">Gangour</a></li>
                        <li>
                            <a href="@Url.RouteUrl("ShopProducts3", new { city = cityName, shopName = "Ajit Bakery".ToLower().Replace(" ", "-"), shopID = 10500, selectedCategoryId = 1483 })">Ajit Bakery</a>
                        </li>
               </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=54" title="Sweetoo Pista Badam Shrikhand">Sweetoo Pista Badam Shrikhand</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 54, itemName = "Sweetoo Pista Badam Shrikhand".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Sweetoo Pista Badam Shrikhand">Sweetoo Pista Badam Shrikhand</a>
                                                </h5>
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=54">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Sweet1.jpg">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 54, itemName = "Sweetoo Pista Badam Shrikhand".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Sweet1.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class=" star" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 54, itemName = "Sweetoo Pista Badam Shrikhand".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(21851, 54)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(21851, 54)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=42359" title="Gajar Ka Halwa">Gajar Ka Halwa</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42359, itemName = "Gajar Ka Halwa".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Gajar Ka Halwa">Gajar Ka Halwa</a>
                                                </h5>
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=42359">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Sweet2.jpg">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42359, itemName = "Gajar Ka Halwa".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Sweet2.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 42359, itemName = "Gajar Ka Halwa".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(49530, 42359)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(21851, 54)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=1248" title="kaju katali">kaju katali</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 1248, itemName = "kaju katali".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="kaju katali">kaju katali</a>
                                                </h5>
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=1248">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Sweet3.jpg">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 1248, itemName = "kaju katali".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Sweet3.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 1248, itemName = "kaju katali".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(47764, 1248)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(47764, 1248)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=24995" title="Rasgulla">Rasgulla</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 24995, itemName = "Rasgulla".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Rasgulla">Rasgulla</a>
                                                </h5>
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=24995">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Sweet4.jpg">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 24995, itemName = "Rasgulla".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Sweet4.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 24995, itemName = "Rasgulla".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(25223, 24995)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(25223, 24995)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">Cake & Pastry</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst1"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy1">
                        <li>@*<a href="~/Product/Products?shopID=41&shopName=Saroj%20Bakery">*@
                            <a href="@Url.RouteUrl("ShopSearch2", new { city = cityName, shopName = "Saroj Bakery".ToLower().Replace(" ", "-"), shopID = 41 })">Saroj Bakery</a></li>
                        <li>@*<a href="~/Product/Products?shopID=22&shopName=Reds%20Bakery">*@
                            <a href="@Url.RouteUrl("ShopSearch2", new { city = cityName, shopName = "Reds Bakery".ToLower().Replace(" ", "-"), shopID = 22 })">Reds Bakery</a></li>
                        <li>@*<a href="~/Product/Products?shopID=8&shopName=Shabana%20Bakery">*@
                            <a href="@Url.RouteUrl("ShopSearch2", new { city = cityName, shopName = "Shabana Bakery".ToLower().Replace(" ", "-"), shopID = 8 })">Shabana Bakery</a></li>
                        <li>@*<a href="~/Product/Products?shopID=94&shopName=Pahuja%20Bakery">*@
                            <a href="@Url.RouteUrl("ShopSearch2", new { city = cityName, shopName = "Pahuja Bakery".ToLower().Replace(" ", "-"), shopID = 94 })">Pahuja Bakery</a></li>
                        <li>@*<a href="~/Product/Products?shopID=10379&shopName=Musoori%20Bakery">*@
                            <a href="@Url.RouteUrl("ShopSearch2", new { city = cityName, shopName = "Musoori Bakery".ToLower().Replace(" ", "-"), shopID = 10379 })">Musoori Bakery</a></li>
                        <li>@*<a href="~/Product/Products?shopID=32&shopName=Brown%20Sugar%20Bakery">*@
                            <a href="@Url.RouteUrl("ShopSearch2", new { city = cityName, shopName = "Brown Sugar Bakery".ToLower().Replace(" ", "-"), shopID = 32 })">Brown Sugar Bakery</a></li>
                        <li>@*<a href="~/Product/Products?shopID=24&shopName=Cake%20Joints">*@
                            <a href="@Url.RouteUrl("ShopSearch2", new { city = cityName, shopName = "Cake Joints".ToLower().Replace(" ", "-"), shopID = 24 })">Cake Joints</a></li>
                        <li>@*<a href="~/Product/Products?shopID=119&shopName=Gunchiis%20Bakery">*@
                            <a href="@Url.RouteUrl("ShopSearch2", new { city = cityName, shopName = "Gunchiis Bakery".ToLower().Replace(" ", "-"), shopID = 119 })">Gunchiis Bakery</a></li>
                        <li>@*<a href="~/Product/Products?shopID=318&shopName=Ssd%20Provision%20&%20Bakers">*@
                            <a href="@Url.RouteUrl("ShopSearch2", new { city = cityName, shopName = "Ssd Provision and Bakers".ToLower().Replace(" ", "-"), shopID = 318 })">Ssd Provision & Bakers</a></li>
                        <li>
                            @*<a href="~/Product/Products?shopID=318&shopName=Ssd%20Provision%20&%20Bakers">*@
                            <a href="@Url.RouteUrl("ShopSearch2", new { city = cityName, shopName = "Ajit Bakery".ToLower().Replace(" ", "-"), shopID = 10500 })">Ajit Bakery</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=16714" title="Saroj Bakery Truffle Cakes 005">Saroj Bakery Truffle Cakes 005</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 16714, itemName = "Saroj Bakery Truffle Cakes".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Saroj Bakery Truffle Cakes">Saroj Bakery Truffle Cakes</a>
                                                </h5>
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=16714">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Cake1.jpg">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 16714, itemName = "Saroj Bakery Truffle Cakes".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Cake1.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class=" star" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 16714, itemName = "Saroj Bakery Truffle Cakes".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(8355, 16714)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(8355, 16714)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=7073" title="Black Forest Cake">Black Forest Cake</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 7073, itemName = "Black Forest Cake".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Black Forest Cake">Black Forest Cake</a>
                                                </h5>
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=7073">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Cake2.jpg">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 7073, itemName = "Black Forest Cake".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Cake2.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 7073, itemName = "Black Forest Cake".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(24361, 7073)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(24361, 7073)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=16860" title="Shabana Bakery Gems Chocolate Cake">Shabana Bakery Gems Chocolate Cake</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 16860, itemName = "Shabana Bakery Gems Chocolate Cake".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Shabana Bakery Gems Chocolate Cake">Shabana Bakery Gems Chocolate Cake</a>
                                                </h5>
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=16860">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Cake3.jpg">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 16860, itemName = "Shabana Bakery Gems Chocolate Cake".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Cake3.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 16860, itemName = "Shabana Bakery Gems Chocolate Cake".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(6424, 16860)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(6424, 16860)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=1369" title="Chocolate Cake 019">Chocolate Cake 019</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 1369, itemName = "Chocolate Cake".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Chocolate Cake">Chocolate Cake</a>
                                                </h5>
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=1369">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Cake4.jpg">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 1369, itemName = "Chocolate Cake".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Cake4.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 1369, itemName = "Chocolate Cake".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(1346, 1369)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(1346, 1369)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=42482" title="Chocolate Truffle Cake(Eggless)">Chocolate Truffle Cake(Eggless)</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42482, itemName = "Chocolate Truffle Cake(Eggless)".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Chocolate Truffle Cake(Eggless)">Chocolate Truffle Cake(Eggless)</a>
                                                </h5>
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=42482">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Cake5.jpg">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42482, itemName = "Chocolate Truffle Cake(Eggless)".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Cake5.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class=" star" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 42482, itemName = "Chocolate Truffle Cake(Eggless)".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(50997, 42482)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(50997, 42482)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=16287" title="Pineapple Cake">Pineapple Cake</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 16287, itemName = "Pineapple Cake".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Pineapple Cake">Pineapple Cake</a>
                                                </h5>
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=16287">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Cake6.jpg">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 16287, itemName = "Pineapple Cake".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Cake6.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 16287, itemName = "Pineapple Cake".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(2195, 16287)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(2195, 16287)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=16973" title="Cake Joints Yellow Creamy cake">Cake Joints Yellow Creamy cake</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 16973, itemName = "Cake Joints Yellow Creamy cake".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Cake Joints Yellow Creamy cake">Cake Joints Yellow Creamy cake</a>
                                                </h5>
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=16973">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Cake7.jpg">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 16973, itemName = "Cake Joints Yellow Creamy cake".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Cake7.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 16973, itemName = "Cake Joints Yellow Creamy cake".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(7314, 16973)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(7314, 16973)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=19497" title="Digital Photo Print Egg Less Cake">Digital Photo Print Egg Less Cake</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 19497, itemName = "Digital Photo Print Egg Less Cake".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Digital Photo Print Egg Less Cake">Digital Photo Print Egg Less Cake</a>
                                                </h5>
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=19497">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Cake8.jpg">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 19497, itemName = "Cake Joints Yellow Creamy cake".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/Cake8.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 19497, itemName = "Digital Photo Print Egg Less Cake".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(14507, 19497)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(14507, 19497)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="container containernew1 span12">
        <div class="FootTextDiv">
            <p class="indent-paragraph " style="text-align:justify;">
                <span class="footerdetail">Books And Media Arcade</span><br />
                Books are the best friends for man since ages. Unlike a number of products sold online, books are no exception. Gandhibagh.com has its space dedicated for the central India's learning population and address the exploding information and knowledge need of the book lovers. We have books of wide range of categories of high quality and at wholesale prices. The books ranging from the academics, to fiction, non fiction, kids, hobby books, CD's, DVD's and books on different media formats and the list goes on. A dynamic and young company, founded and managed by a team of skilled professionals promising quality books and media products for information and book lovers. We have books on wide range of subjects and categories, easily accessible to check and place order without any hassle.
                Supported by unobtrusively supporting customer services department, who help our customers in finding out the right book and CDs for any category or subject. Apart from finding books on various issues and subjects, you can reap a number of benefits for shopping at Gandhibagh.com. These include getting the best discount deals, the customer friendly Book Return and Replacement policies together make the shopping experience enjoyable to shop at our online store. In the coming times, as we expand, our customers would enjoy a number of other benefits, which will end up adding values to their shopping experience. We keep updated our registered customers about the new arrivals and updates on deals on a range of products on different subjects and categories.
                Gandhibagh.com has networked with all the leading book stores, suppliers and vendors of Central India (Nagpur) and cities and town in the vicinity to cover a range of subjects for the book lovers. The books and CDs you get at our place is authentic in terms of print and quality along with reasonable price tags. With benefits like same day delivery, better customer support and inexpensive deals, you can find a number of things, which together make your shopping experience at this online store memorable. This has therefore helped the store to build a database of loyal customers on the board, which is increasing with every passing day. Happy Shopping!<br /><br />
            </p>
        </div>
    </div>*@