@{
    ViewBag.Title = "WinterWearVaranasi";
}

@*<h2>WinterCollection</h2>*@

<link href="~/Content/Home-content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
<script src="~/Content/js/Bedcrumbs.js"></script>
<style>
    .margin-setTop {
        margin-top: -33px;
    }

    .heart {
        display: none !important;
    }
</style>
<script type="text/javascript">
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<script src="~/Content/update(5-10)/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var newClone1 = $("#cpy1").html();
        var newClone1 = $("#cpy2").html();
        var newClone1 = $("#cpy3").html();
        var newClone1 = $("#cpy4").html();

        if ($(window).width() < 750) {
            // alert("1");
            $(newClone1).clone().appendTo("#pst1");
            $(newClone1).clone().appendTo("#pst2");
            $(newClone1).clone().appendTo("#pst3");
            $(newClone1).clone().appendTo("#pst4");

        } else {
            $("#pst1").empty();
            $("#pst2").empty();
            $("#pst3").empty();
            //<a href="~/Content/test.html">~/Content/test.html</a>
            $("#pst4").empty();

        }
    });
</script>
<script src="~/Scripts/Products.js"></script>
@{
    string cityName = "";
    if (Request.Cookies["CityCookie"] != null && Request.Cookies["CityCookie"].Value != "")
    {
        cityName = Request.Cookies["CityCookie"].Value.Split('$')[1].ToLower();
    }
}
<div class="container margin-setTop">
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">Winter Wear Women</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst1"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy1">
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1411">*@
                        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "women-jacket", parentCategoryId = 1411, city = cityName })">Women Jacket</a>
                    </li>
                    <li>
                        @*<a href="~/Product/Products?parentCategoryId=1413">*@
                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "women-sweater", parentCategoryId = 1413, city = cityName })">Women Sweater</a>
                </li>
                <li>
                    @*<a href="~/Product/Products?parentCategoryId=1415">*@
                <a href="@Url.RouteUrl("ProductsByCategory", new { item = "women-shawl", parentCategoryId = 1415, city = cityName })">Women Shawl</a>
            </li>
            <li>
                @*<a href="~/Product/Products?parentCategoryId=1420">*@
            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "latest-winter-wear", parentCategoryId = 1420, city = cityName })">Latest Winter Wear</a>
        </li>
        <li>
            @*<a href="~/Product/Products?parentCategoryId=1416">*@
        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "women-Socks-and-shoe", parentCategoryId = 1416, city = cityName })">Women Socks & Shoe</a>
    </li>
</ul>
</div>
<div class="col-sm-10 col-right-tab">
    <div class="product-featured-tab-content">
        <div class="tab-container">
            <div class="tab-panel active" id="tab-14">
                <div class="box-full clearfix">
                    <ul class="product-list row">
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=41742" title="Dig Big Women's  Winter  Jacket">Dig Big Women's  Winter  Jacket</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41742, itemName = "Dig Big Women's Winter Jacket".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Dig Big Women's Winter Jacket">Dig Big Women's Winter Jacket</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=41742">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_G2.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41742, itemName = "Dig Big Women's Winter Jacket".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_G2.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>

                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 41742, itemName = "Dig Big Women's Winter Jacket".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(50756, 41742)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(50756, 41742)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=42241" title="Multicolor Winter Top 04">Multicolor Winter Top 04</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42241, itemName = "Multicolor Winter Top 04".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Multicolor Winter Top 04">Multicolor Winter Top 04</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=42241">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_G3.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42241, itemName = "Multicolor Winter Top 04".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_G3.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 42241, itemName = "Multicolor Winter Top 04".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(49756, 42241)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(49756, 42241)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=41909" title="Oswal Winter Shawl For Women">Oswal Winter Shawl For Women</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41909, itemName = "Oswal Winter Shawl For Women".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Oswal Winter Shawl For Women">Oswal Winter Shawl For Women</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=41909">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_G4.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41909, itemName = "Oswal Winter Shawl For Women".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_G4.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 41909, itemName = "Oswal Winter Shawl For Women".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(50627, 41909)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(50627, 41909)">Add to Cart</a>
                                </div>
                            </div>

                        </li>
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=41734" title="Women's Socks Per Pair">Women's Socks Per Pair</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41734, itemName = "Women's Socks Per Pair".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Women's Socks Per Pair">Women's Socks Per Pair</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=41734">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_G5.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41734, itemName = "Women's Socks Per Pair".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_G5.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 41734, itemName = "Women's Socks Per Pair".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(50782, 41734)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(50782, 41734)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=42171" title="Oswal Winter Shoes For Women">Oswal Winter Shoes For Women</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42171, itemName = "Oswal Winter Shoes For Women".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Oswal Winter Shoes For Women">Oswal Winter Shoes For Women</a>
                                </h5>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=42171">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_G6.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42171, itemName = "Oswal Winter Shoes For Women".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_G6.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 42171, itemName = "Oswal Winter Shoes For Women".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(49821, 42171)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(49821, 42171)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<div class="category-featured jewelry">
    <nav class="navbar nav-menu show-brand">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-brand"><a href="#">Winter Wear Men</a></div>
            <span class="toggle-menu"></span>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" id="pst1"></ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        <div id="elevator-6" class="floor-elevator">
            <a href="#" class="btn-elevator up fa fa-angle-up"></a>
            <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
        </div>
    </nav>
    <div class="product-featured clearfix">
        <div class="row">
            <div class="col-sm-2 sub-category-wapper">
                <ul class="sub-category-list" id="cpy1">
                    <li>
                        @*<a href="~/Product/Products?parentCategoryId=1401">*@
                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "men-jacket", parentCategoryId = 1401, city = cityName })">Men Jacket</a>
                </li>
                <li>
                    @*<a href="~/Product/Products?parentCategoryId=1400">*@
                <a href="@Url.RouteUrl("ProductsByCategory", new { item = "men-sweater", parentCategoryId = 1400, city = cityName })">Men Sweater</a>
            </li>
            <li>
                @*<a href="~/Product/Products?parentCategoryId=1403">*@
            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "men-shawl", parentCategoryId = 1403, city = cityName })">Men Shawl</a>
        </li>
        <li>
            @*<a href="~/Product/Products?parentCategoryId=1406">*@
        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "men-thermal-wear", parentCategoryId = 1406, city = cityName })">Men Thermal Wear</a>
    </li>
    <li>
        @*<a href="~/Product/Products?parentCategoryId=1405">*@
    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "men-hand-gloves", parentCategoryId = 1405, city = cityName })">Men Hand Gloves</a>
</li>
<li>
    @*<a href="~/Product/Products?parentCategoryId=1402">*@
<a href="@Url.RouteUrl("ProductsByCategory", new { item = "men-socks", parentCategoryId = 1402, city = cityName })">Men Socks</a>
</li>
@*<li>
    @*<a href="~/Product/Products?parentCategoryId=1387">
<a href="@Url.RouteUrl("ProductsByCategory", new { item = "men-cap-and-headband", parentCategoryId = 1387, city = cityName })">Men Cap & Headband</a>
</li>*@
</ul>
</div>
<div class="col-sm-10 col-right-tab">
    <div class="product-featured-tab-content">
        <div class="tab-container">
            <div class="tab-panel active" id="tab-14">
                <div class="box-full clearfix">
                    <ul class="product-list row">
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=41743" title="Men's Black Winter Hand Gloves 01">Men's Black Winter Hand Gloves 01</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41743, itemName = "Men's Black Winter Hand Gloves 01".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Men's Black Winter Hand Gloves 01">Men's Black Winter Hand Gloves 01</a>
                                </h5>
                                <div class="content_price">
                                    <span class="price product-price">Rs110.00</span>
                                    <span class="price old-price">Rs120.00</span>
                                </div>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=41743">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_G7.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41743, itemName = "Men's Black Winter Hand Gloves 01".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_G7.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>

                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 41743, itemName = "Men's Black Winter Hand Gloves 01".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(50755, 41743)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(50755, 41743)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=42424" title="Men's Winter Wear Sleeveless Jacket 011">Men's Winter Wear Sleeveless Jacket 011</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42424, itemName = "Men's Winter Wear Sleeveless Jacket 011".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Men's Winter Wear Sleeveless Jacket 011">Men's Winter Wear Sleeveless Jacket 011</a>
                                </h5>
                                <div class="content_price">
                                    <span class="price product-price">Rs850.00</span>
                                    <span class="price old-price">Rs1000.00</span>
                                </div>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=42424">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_G8.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42424, itemName = "Men's Winter Wear Sleeveless Jacket 011".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_G8.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 42424, itemName = "Men's Winter Wear Sleeveless Jacket 011".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(50548, 42424)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(50548, 42424)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=42364" title="Dollar Winter Wear Gray Round Neck Thermal">Dollar Winter Wear Gray Round Neck Thermal</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42364, itemName = "Dollar Winter Wear Gray Round Neck Thermal".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Dollar Winter Wear Gray Round Neck Thermal">Dollar Winter Wear Gray Round Neck Thermal</a>
                                </h5>
                                <div class="content_price">
                                    <span class="price product-price">Rs290.00</span>
                                </div>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=42364">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_G9.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42364, itemName = "Dollar Winter Wear Gray Round Neck Thermal".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_G9.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 42364, itemName = "Dollar Winter Wear Gray Round Neck Thermal".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(49635, 42364)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(49635, 42364)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=42016" title="Red Men's Half Sleeves Sweater">Red Men's Half Sleeves Sweater</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42016, itemName = "Red Men's Half Sleeves Sweater".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Red Men's Half Sleeves Sweater">Red Men's Half Sleeves Sweater</a>
                                </h5>
                                <div class="content_price">
                                    <span class="price product-price">Rs300.00</span>
                                    <span class="price old-price">Rs500.00</span>
                                </div>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=42016">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_G10.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42016, itemName = "Red Men's Half Sleeves Sweater".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_G10.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 42016, itemName = "Red Men's Half Sleeves Sweater".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(49842, 42016)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(49842, 42016)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=41918" title="White Shawl For Mens">White Shawl For Mens</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41918, itemName = "White Shawl For Mens".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="White Shawl For Mens">White Shawl For Mens</a>
                                </h5>
                                <div class="content_price">
                                    <span class="price product-price">Rs120.00</span>
                                    <span class="price old-price">Rs150.00</span>
                                </div>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=41918">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_G11.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41918, itemName = "White Shawl For Mens".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_G11.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 41918, itemName = "White Shawl For Mens".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(49873, 41918)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(49873, 41918)">Add to Cart</a>
                                </div>
                            </div>
                        </li>

                        @*<li class="col-sm-4">
                                <div class="right-block">
                                    <h5 class="product-name"><a href="~/PreviewItem?itemId=41854" title="Men's Socks">Men's Socks</a></h5>
                                    <div class="content_price">
                                        <span class="price product-price">Rs100.00</span>
                                        <span class="price old-price">Rs130.00</span>
                                    </div>
                                </div>
                                <div class="left-block">
                                    <a href="~/PreviewItem?itemId=41854">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_G12.png">
                                    </a>
                                    <div class="quick-view">
                                        <a title="Add to my wishlist" class="heart" href="#"></a>

                                        <a title="Quick view" class="search" href="~/PreviewItem?itemId=41854"></a>
                                    </div>
                                    <div class="add-to-cart">
                                        <a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(50680, 41854)">Add to Cart</a>
                                    </div>
                                </div>
                            </li>*@
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<div class="category-featured jewelry">
    <nav class="navbar nav-menu show-brand">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-brand"><a href="#">Winter Wear Kids</a></div>
            <span class="toggle-menu"></span>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" id="pst1"></ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        <div id="elevator-6" class="floor-elevator">
            <a href="#" class="btn-elevator up fa fa-angle-up"></a>
            <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
        </div>
    </nav>
    <div class="product-featured clearfix">
        <div class="row">
            <div class="col-sm-2 sub-category-wapper">
                <ul class="sub-category-list" id="cpy1">
                    <li>
                        @*<a href="~/Product/Products?parentCategoryId=1407">*@
                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "kids-jacket", parentCategoryId = 1407, city = cityName })">Kids Jacket</a>
                </li>
                <li>
                    @*<a href="~/Product/Products?parentCategoryId=1412">*@
                <a href="@Url.RouteUrl("ProductsByCategory", new { item = "kids-sweater", parentCategoryId = 1412, city = cityName })">Kids Sweater</a>
            </li>
            <li>
                @*<a href="~/Product/Products?parentCategoryId=1408">*@
            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "kids-socks-and-shoe", parentCategoryId = 1408, city = cityName })">Kids Socks & Shoe</a>
        </li>
        <li>
            @*<a href="~/Product/Products?parentCategoryId=1409">*@
        <a href="@Url.RouteUrl("ProductsByCategory", new { item = "kids-cap-and-headband", parentCategoryId = 1409, city = cityName })">Kids Cap & Headband</a>
    </li>
</ul>
</div>
<div class="col-sm-10 col-right-tab">
    <div class="product-featured-tab-content">
        <div class="tab-container">
            <div class="tab-panel active" id="tab-14">
                <div class="box-full clearfix">
                    <ul class="product-list row">
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=42321" title="Kids Sweater 002">Kids Sweater 002</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42321, itemName = "Kids Sweater 002".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Kids Sweater 002">Kids Sweater 002</a>
                                </h5>
                                <div class="content_price">
                                    <span class="price product-price">Rs620.00</span>
                                    <span class="price old-price">Rs700.00</span>
                                </div>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=42321">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_G13.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42321, itemName = "Kids Sweater 002".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_G13.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>

                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 42321, itemName = "Kids Sweater 002".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(49737, 42321)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(49737, 42321)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=42010" title="Angry Bird Multicolor cap for kids">Angry Bird Multicolor cap for kids</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42010, itemName = "Angry Bird Multicolor cap for kids".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Angry Bird Multicolor cap for kids">Angry Bird Multicolor cap for kids</a>
                                </h5>
                                <div class="content_price">
                                    <span class="price product-price">Rs100.00</span>
                                    <span class="price old-price">Rs120.00</span>
                                </div>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=42010">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_G14.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42010, itemName = "Angry Bird Multicolor cap for kids".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_G14.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 42010, itemName = "Angry Bird Multicolor cap for kids".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(49849, 42010)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(49849, 42010)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=41916" title="Oswal Girls Grey Jacket">Oswal Girls Grey Jacket</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41916, itemName = "Oswal Girls Grey Jacket".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Oswal Girls Grey Jacket">Oswal Girls Grey Jacket</a>
                                </h5>
                                <div class="content_price">
                                    <span class="price product-price">Rs500.00</span>
                                    <span class="price old-price">Rs700.00</span>
                                </div>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=41916">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_G15.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41916, itemName = "Oswal Girls Grey Jacket".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_G15.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 41916, itemName = "Oswal Girls Grey Jacket".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(49875, 41916)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(49875, 41916)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-4">
                            <div class="right-block">
                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=41733" title="Kids Cartoon Socks Per Pair">Kids Cartoon Socks Per Pair</a></h5>*@
                                <h5 class="product-name">
                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41733, itemName = "Kids Cartoon Socks Per Pair".ToLower().Replace(' ', '-'), city = cityName })"
                                       title="Kids Cartoon Socks Per Pair">Kids Cartoon Socks Per Pair</a>
                                </h5>
                                <div class="content_price">
                                    <span class="price product-price">Rs25.00</span>
                                    <span class="price old-price">Rs30.00</span>
                                </div>
                            </div>
                            <div class="left-block">
                                @*<a href="~/PreviewItem?itemId=41733">
                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_G16.png">
                                    </a>*@
                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41733, itemName = "Kids Cartoon Socks Per Pair".ToLower().Replace(' ', '-'), city = cityName })">
                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_G16.png">
                                </a>
                                <div class="quick-view">
                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 41733, itemName = "Kids Cartoon Socks Per Pair".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                </div>
                                <div class="add-to-cart">
                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(50785, 41733)">Add to Cart</a>*@
                                    <a title="Add to Cart" onclick="AddProduct(50785, 41733)">Add to Cart</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>


<div class="category-featured jewelry">
    <nav class="navbar nav-menu show-brand">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-brand"><a href="#">Small Appliances</a></div>
            <span class="toggle-menu"></span>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" id="pst1"></ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        <div id="elevator-6" class="floor-elevator">
            <a href="#" class="btn-elevator up fa fa-angle-up"></a>
            <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
        </div>
    </nav>
    <div class="product-featured clearfix">
        <div class="row">
            <div class="col-sm-2 sub-category-wapper">
                <ul class="sub-category-list" id="cpy1">
                    <li>
                        @*<a href="~/Product/Products?parentCategoryId=1325">*@
                    <a href="@Url.RouteUrl("ProductsByCategory", new { item = "skin-care", parentCategoryId = 1325, city = cityName })">Skin Care</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-10 col-right-tab">
            <div class="product-featured-tab-content">
                <div class="tab-container">
                    <div class="tab-panel active" id="tab-14">
                        <div class="box-full clearfix">
                            <ul class="product-list row">
                                <li class="col-sm-4">
                                    <div class="right-block">
                                        @*<h5 class="product-name"><a href="~/PreviewItem?itemId=28512" title="Neutrogena Fine Fairness Cleanser, 50gm">Neutrogena Fine Fairness Cleanser, 50gm</a></h5>*@
                                        <h5 class="product-name">
                                            <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 28512, itemName = "Neutrogena Fine Fairness Cleanser 50gm".ToLower().Replace(' ', '-'), city = cityName })"
                                               title="Neutrogena Fine Fairness Cleanser 50gm">Neutrogena Fine Fairness Cleanser 50gm</a>
                                        </h5>
                                        <div class="content_price">
                                            <span class="price product-price">Rs199.00</span>
                                            @*<span class="price old-price">Rs310.00</span>*@
                                        </div>
                                    </div>
                                    <div class="left-block">
                                        @*<a href="~/PreviewItem?itemId=28512">
                                                <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_G19.png">
                                            </a>*@
                                        <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 28512, itemName = "Neutrogena Fine Fairness Cleanser 50gm".ToLower().Replace(' ', '-'), city = cityName })">
                                            <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/wardha_img/sub-cat/W_G19.png">
                                        </a>
                                        <div class="quick-view">
                                            <a title="Add to my wishlist" class="heart" href="#"></a>
                                            <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 28512, itemName = "Neutrogena Fine Fairness Cleanser 50gm".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(49944, 28512)">Add to Cart</a>*@
                                            <a title="Add to Cart" onclick="AddProduct(49944, 28512)">Add to Cart</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div class="container containernew1 span12">
    <div class="FootTextDiv">
        <p class="indent-paragraph ">
            <span class="footerdetail">Winter Collection</span><br />
            Welcome to Gandhibagh.com, your Winter Collection E-Store.
            As the seasons change, it becomes mandatory to have the right kind of choice for our attires especially that concerns with the respective season. Likewise, considering yourself the warm during the season of winters is really very vital. And while trying to make you warm and cosy in the chilling winters, it is important to have proper clothes, which are both stylish and trendy during the winters. As we enter in the winter season, we gear up with a different winter wear collection, which comes in the form of sweaters, jackets, pants, tops and shoes along with a number of other winter accessories that are apt for the season.
            Get the best winter wear collection online only at Gandhibagh.com. Here you can find some of the best deals on winter collection right from the jackets, bottoms and shawls to a number of other winter wear products. Also, if you are conscious for any brand, you get a good collection of these winter wear choices, which are not only stylish but also appear to be the most comfortably, dry and warm.
            Gandhibagh.com offers you 100 percent original products for its consumers based in Nagpur and its vicinity area. It has one of the most convenient kinds of interface to shop a wide array of winter wear attires for kids, women and men. You can explore a wide range of winter dresses available at the best deal, hard to find out at any other place along with a number of value added services like same day delivery and free shipping (above 500 INR) and many more. Together these things give a very good shopping experience, so what are you waiting for go get the best deal from the winter collection at Gandhibagh.com.
            Happy Shopping!<br /><br />
        </p>
    </div>
</div>