@{
    ViewBag.Title = "WinterCollection";
}

@*<h2>WinterCollection</h2>*@

<link href="~/Content/Home-content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
<script src="~/Content/js/Bedcrumbs.js"></script>
<style>
    .margin-setTop {
        margin-top: -33px;
    }

    .heart {
        display: none !important;
    }
</style>
<script type="text/javascript">
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<script src="~/Content/update(5-10)/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var newClone1 = $("#cpy1").html();
        var newClone1 = $("#cpy2").html();
        var newClone1 = $("#cpy3").html();
        var newClone1 = $("#cpy4").html();

        if ($(window).width() < 750) {
            // alert("1");
            $(newClone1).clone().appendTo("#pst1");
            $(newClone1).clone().appendTo("#pst2");
            $(newClone1).clone().appendTo("#pst3");
            $(newClone1).clone().appendTo("#pst4");

        } else {
            $("#pst1").empty();
            $("#pst2").empty();
            $("#pst3").empty();
            //<a href="~/Content/test.html">~/Content/test.html</a>
            $("#pst4").empty();

        }
    });
</script>
<script src="~/Scripts/Products.js"></script>
@{
    string cityName = "";
    if (Request.Cookies["CityCookie"] != null && Request.Cookies["CityCookie"].Value != "")
    {
        cityName = Request.Cookies["CityCookie"].Value.Split('$')[1].ToLower();
    }
}
<div class="container margin-setTop">
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">Winter Wear Women</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst1"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy1">
                        <li>
                            @*<a href="~/Product/Products?item=Women%20Jacket&parentCategoryId=1411">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "women-jacket", parentCategoryId = 1411, city = cityName })">Women Jacket</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?item=Women%20Sweater&parentCategoryId=1413">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "women-sweater", parentCategoryId = 1413, city = cityName })">Women Sweater</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?item=Women%20Shawl&parentCategoryId=1415">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "women-shawl", parentCategoryId = 1415, city = cityName })">Women Shawl</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?item=Women%20Thermal%20Wear&parentCategoryId=1418">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "women-thermal-wear", parentCategoryId = 1418, city = cityName })">Women Thermal Wear</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?item=Women%20Cap&parentCategoryId=1414">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "women-cap", parentCategoryId = 1414, city = cityName })">Women Cap</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?item=Women%20Socks&parentCategoryId=1416">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "women-socks-shoe", parentCategoryId = 1416, city = cityName })">Women Socks & Shoe</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1420">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "winter-wear", parentCategoryId = 1420, city = cityName })">Latest Winter Wear</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=41757" title="Full Sleeve Winter Long Sweater For Women">Full Sleeve Winter Long Sweater For Women</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41757, itemName = "Full Sleeve Winter Long Sweater For Women".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Full Sleeve Winter Long Sweater For Women">Full Sleeve Winter Long Sweater For Women</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs1750.00</span>
                                                    <span class="price old-price">Rs1830.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=41757">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W1.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41757, itemName = "Full Sleeve Winter Long Sweater For Women".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W1.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>

                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 41757, itemName = "Full Sleeve Winter Long Sweater For Women".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48734, 41757)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(48734, 41757)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=41753" title="Bodycare Thermals White T-Shirt Full">Bodycare Thermals White T-Shirt Full</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41753, itemName = "Bodycare Thermals White T-Shirt Full".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Bodycare Thermals White T-Shirt Full">Bodycare Thermals White T-Shirt Full</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs385.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=41753">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W2.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41753, itemName = "Bodycare Thermals White T-Shirt Full".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W2.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 41753, itemName = "Bodycare Thermals White T-Shirt Full".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48710, 41753)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(48710, 41753)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        
                                        
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=41555" title="Red Woolen Cap For Women">Red Woolen Cap For Women</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41555, itemName = "Red Woolen Cap For Women".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Red Woolen Cap For Women">Red Woolen Cap For Women</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs160.00</span>
                                                    <span class="price old-price">Rs250.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=41555">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W5.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41555, itemName = "Red Woolen Cap For Women".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W5.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 41555, itemName = "Red Woolen Cap For Women".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48380, 41555)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(448380, 41555)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">Winter Wear Men</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst2"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy2">
                        <li>
                            @*<a href="~/Product/Products?item=Mens%20Jacket&parentCategoryId=1401">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "men-Jacket", parentCategoryId = 1401, city = cityName })">Men Jacket</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?item=Mens%20Sweater&parentCategoryId=1400">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "men-sweater", parentCategoryId = 1400, city = cityName })">Men Sweater</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?item=Mens%20Shawl&parentCategoryId=1403">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "men-shawl", parentCategoryId = 1403, city = cityName })">Men Shawl</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?item=Mens%20Thermal%20Wear&parentCategoryId=1406">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "men-thermal-wear", parentCategoryId = 1406, city = cityName })">Men Thermal Wear</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?item=Mens%20Hand%20Gloves&parentCategoryId=1405">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "men-hand-gloves", parentCategoryId = 1405, city = cityName })">Men Hand Gloves</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?item=Mens%20Socks&parentCategoryId=1402">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "men-socks", parentCategoryId = 1402, city = cityName })">Men Socks</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1387">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "mens-cap-and-headband", parentCategoryId = 1387, city = cityName })">Mens Cap & Headband</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=41868" title="Gray Color Winter Men's Jacket">Gray Color Winter Men's Jacket</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41868, itemName = "Gray Color Winter Men's Jacket".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Gray Color Winter Men's Jacket">Gray Color Winter Men's Jacket</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs300.00</span>
                                                    <span class="price old-price">Rs400.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=41868">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W7.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41868, itemName = "Gray Color Winter Men's Jacket".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W7.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 41868, itemName = "Gray Color Winter Men's Jacket".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48889, 41868)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(48889, 41868)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=41874" title="Oswal Half Sweater For Men">Oswal Half Sweater For Men</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41874, itemName = "Oswal Half Sweater For Men".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Oswal Half Sweater For Men">Oswal Half Sweater For Men</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs800.00</span>
                                                    <span class="price old-price">Rs1000.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=41874">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W8.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41874, itemName = "Oswal Half Sweater For Men".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W8.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 41874, itemName = "Oswal Half Sweater For Men".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48895, 41874)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(48889, 41868)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>

                                        

                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=41747" title="Lux Cotts Wool Thermal wear( Upper) For Chilly Winters">Lux Cotts Wool Thermal wear( Upper) For Chilly Winters</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41747, itemName = "Lux Cotts Wool Thermal wear( Upper) For Chilly Winters".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Lux Cotts Wool Thermal wear( Upper) For Chilly Winters">Lux Cotts Wool Thermal wear( Upper) For Chilly Winters</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs300.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=41747">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W10.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41747, itemName = "Lux Cotts Wool Thermal wear( Upper)".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W10.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 41747, itemName = "Lux Cotts Wool Thermal wear( Upper) For Chilly Winters".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48651, 41747)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(48651, 41747)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>

                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">Winter Wear Kids</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst3"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy3">
                        <li>
                            @*<a href="~/Product/Products?item=Kids%20Jacket&parentCategoryId=1407">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "kids-jacket", parentCategoryId = 1407, city = cityName })">Kids Jacket</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?item=Kids%20Sweater&parentCategoryId=1412">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "kids-sweater", parentCategoryId = 1412, city = cityName })">Kids Sweater</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?item=Kids%20Socks&parentCategoryId=1408">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "kids-socks-and-shoe", parentCategoryId = 1408, city = cityName })">Kids Socks & Shoe</a>
                        </li>
                        <li>
                            @*<a href="~/Product/Products?item=Kids%20Cap&parentCategoryId=1409">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "kids-cap", parentCategoryId = 1409, city = cityName })">Kids Cap</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=41773" title="Full Sleeve Winter Green Sweater With Cap For Kids">Full Sleeve Winter Green Sweater With Cap For Kids</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41773, itemName = "Full Sleeve Winter Green Sweater With Cap For Kids".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Full Sleeve Winter Green Sweater With Cap For Kids">Full Sleeve Winter Green Sweater With Cap For Kids</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs850.00</span>
                                                    <span class="price old-price">Rs900.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=41773">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W13.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41773, itemName = "Full Sleeve Winter Green Sweater".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W13.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 41773, itemName = "Full Sleeve Winter Green Sweater With Cap For Kids".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48754, 41773)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(48754, 41773)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=41676" title="Sleeveless Blue Sweater For Kids">Sleeveless Blue Sweater For Kids</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41676, itemName = "Sleeveless Blue Sweater For Kids".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Sleeveless Blue Sweater For Kids">Sleeveless Blue Sweater For Kids</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs90.00</span>
                                                    <span class="price old-price">Rs120.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=41676">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W14.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41676, itemName = "Sleeveless Blue Sweater For Kids".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W14.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 41676, itemName = "Sleeveless Blue Sweater For Kids".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48529, 41676)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(48529, 41676)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=41661" title="Kids's Winter Wear Shoes">Kids's Winter Wear Shoes</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41661, itemName = "Kids's Winter Wear Shoes".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Kids's Winter Wear Shoes">Kids's Winter Wear Shoes</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs170.00</span>
                                                    <span class="price old-price">Rs200.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=41661">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W15.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41661, itemName = "Kids's Winter Wear Shoes".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W15.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 41661, itemName = "Kids's Winter Wear Shoes".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48514, 41661)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(48514, 41661)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=41664" title="Kids's Woolen Cap">Kids's Woolen Cap</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41664, itemName = "Kids's Woolen Cap".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Kids's Woolen Cap">Kids's Woolen Cap</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs110.00</span>
                                                    <span class="price old-price">Rs160.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=41664">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W16.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41664, itemName = "Kids's Woolen Cap".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W16.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 41664, itemName = "Kids's Woolen Cap".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48517, 41664)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(48517, 41664)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">Home Furnishing</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst4"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy4">
                        <li>
                            @*<a href="~/Product/Products?item=Blankets+%26+Quilts&parentCategoryId=1255">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "blankets-and-quilts", parentCategoryId = 1255, city = cityName })">Blankets & Quilts</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=41788" title="Single Bed Quilts Combo Of 2">Single Bed Quilts Combo Of 2</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41788, itemName = "Single Bed Quilts Combo Of 2".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Single Bed Quilts Combo Of 2">Single Bed Quilts Combo Of 2</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs350.00</span>
                                                    <span class="price old-price">Rs500</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=41788">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W17.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41788, itemName = "Single Bed Quilts Combo Of 2".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W17.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 41788, itemName = "Single Bed Quilts Combo Of 2".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48769, 41788)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(48769, 41788)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=41822" title="Winter Blanket">Winter Blanket</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41787, itemName = "Single Bed Blue Winter Blanket".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Single Bed Blue Winter Blanket">Winter BlanketSingle Bed Blue Winter Blanket</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs690.00</span>
                                                    <span class="price old-price">Rs1000</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=41822">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W19.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41787, itemName = "Single Bed Blue Winter Blanket".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W19.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 41787, itemName = "Single Bed Blue Winter Blanket".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(48803, 41822)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(58737, 41787)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">Small Appliances</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst4"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy4">
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=497&item=Geysers & Heating">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "geysers-and-heating", parentCategoryId = 497, city = cityName })">Geysers & Heating</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=1749" title="Jyoti Silver 6 Litre Gas Geyser">Jyoti Silver 6 Litre Gas Geyser</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 1749, itemName = "Jyoti Silver 6 Litre Gas Geyser".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Jyoti Silver 6 Litre Gas Geyser">Jyoti Silver 6 Litre Gas Geyser</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs4500.00</span>
                                                    <span class="price old-price">Rs6250</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=1749">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W22.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 1749, itemName = "Jyoti Silver 6 Litre Gas Geyser".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W22.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 1749, itemName = "Jyoti Silver 6 Litre Gas Geyser".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(3955, 1749)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(3955, 1749)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">Makeup</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst4"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy4">
                        <li>
                            @*<a href="~/Product/Products?parentCategoryId=1325">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "face-and-skin-care", parentCategoryId = 1325, city = cityName })">Face & Skin Care</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=41381" title="Vaseline Intensive Care Lotion Cocoa Radiant">Vaseline Intensive Care Lotion Cocoa Radiant </a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41381, itemName = "Vaseline Intensive Care Lotion Cocoa Radiant".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Vaseline Intensive Care Lotion Cocoa Radiant">Vaseline Intensive Care Lotion Cocoa Radiant</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs625.00</span>
                                                    <span class="price old-price">Rs675</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=41381">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W23.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41381, itemName = "Vaseline Intensive Care Lotion Cocoa Radiant".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W23.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 41381, itemName = "Vaseline Intensive Care Lotion Cocoa Radiant".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(47942, 41381)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(47942, 41381)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=41385" title="Dove Silky Body Cream">Dove Silky Body Cream</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41385, itemName = "Dove Silky Body Cream".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Dove Silky Body Cream">Dove Silky Body Cream</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs350.00</span>
                                                    <span class="price old-price">Rs400</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=41385">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W24.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41385, itemName = "Dove Silky Body Cream".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W24.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 41385, itemName = "Dove Silky Body Cream".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(47946, 41385)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(47946, 41385)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=41004" title="Vaseline Intensive Care Cocoa Glow Body Lotion">Vaseline Intensive Care Cocoa Glow Body Lotion</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41004, itemName = "Vaseline Intensive Care Cocoa Glow Body Lotion".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="Vaseline Intensive Care Cocoa Glow Body Lotion">Vaseline Intensive Care Cocoa Glow Body Lotion</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs40.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=41004">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W25.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 41004, itemName = "Vaseline Intensive Care Cocoa Glow Body Lotion".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W25.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 41004, itemName = "Vaseline Intensive Care Cocoa Glow Body Lotion".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(47223, 41004)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(47223, 41004)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=26662" title="L'Oreal Paris Perfect Skin 40+ Day Cream">L'Oreal Paris Perfect Skin 40+ Day Cream</a></h5>*@
                                                <h5 class="product-name">
                                                    <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 26662, itemName = "L'Oreal Paris Perfect Skin 40 Day Cream".ToLower().Replace(' ', '-'), city = cityName })"
                                                       title="L'Oreal Paris Perfect Skin 40+ Day Cream">L'Oreal Paris Perfect Skin 40+ Day Cream</a>
                                                </h5>
                                                @*<div class="content_price">
                                                    <span class="price product-price">Rs595.00</span>
                                                </div>*@
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=26662">
                                                        <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W26.png">
                                                    </a>*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 26662, itemName = "L'Oreal Paris Perfect Skin 40 Day Cream".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/W26.png">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 26662, itemName = "L'Oreal Paris Perfect Skin 40 Day Cream".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(29852, 26662)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(29852, 26662)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container containernew1 span12">
    <div class="FootTextDiv">
        <p class="indent-paragraph ">
            <span class="footerdetail">Winter Collection</span><br />
            Welcome to Gandhibagh.com, your Winter Collection E-Store.
            As the seasons change, it becomes mandatory to have the right kind of choice for our attires especially that concerns with the respective season. Likewise, considering yourself the warm during the season of winters is really very vital. And while trying to make you warm and cosy in the chilling winters, it is important to have proper clothes, which are both stylish and trendy during the winters. As we enter in the winter season, we gear up with a different winter wear collection, which comes in the form of sweaters, jackets, pants, tops and shoes along with a number of other winter accessories that are apt for the season.
            Get the best winter wear collection online only at Gandhibagh.com. Here you can find some of the best deals on winter collection right from the jackets, bottoms and shawls to a number of other winter wear products. Also, if you are conscious for any brand, you get a good collection of these winter wear choices, which are not only stylish but also appear to be the most comfortably, dry and warm.
            Gandhibagh.com offers you 100 percent original products for its consumers based in Nagpur and its vicinity area. It has one of the most convenient kinds of interface to shop a wide array of winter wear attires for kids, women and men. You can explore a wide range of winter dresses available at the best deal, hard to find out at any other place along with a number of value added services like same day delivery and free shipping (above 500 INR) and many more. Together these things give a very good shopping experience, so what are you waiting for go get the best deal from the winter collection at Gandhibagh.com.
            Happy Shopping!<br /><br />
        </p>
    </div>
</div>