@{
    ViewBag.Title = "WinterWearVaranasi";
}

@*<h2>WinterCollection</h2>*@

<link href="~/Content/Home-content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
<script src="~/Content/js/Bedcrumbs.js"></script>
<style>
    .margin-setTop {
        margin-top: -33px;
    }

    .heart {
        display: none !important;
    }
</style>
<script type="text/javascript">
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<script src="~/Content/update(5-10)/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var newClone1 = $("#cpy1").html();
        var newClone1 = $("#cpy2").html();
        var newClone1 = $("#cpy3").html();
        var newClone1 = $("#cpy4").html();

        if ($(window).width() < 750) {
            // alert("1");
            $(newClone1).clone().appendTo("#pst1");
            $(newClone1).clone().appendTo("#pst2");
            $(newClone1).clone().appendTo("#pst3");
            $(newClone1).clone().appendTo("#pst4");

        } else {
            $("#pst1").empty();
            $("#pst2").empty();
            $("#pst3").empty();
            //<a href="~/Content/test.html">~/Content/test.html</a>
            $("#pst4").empty();

        }
    });
    function AddProduct(shopStockId, itemId) {
        var _url = '@Url.Action("AddProductInShoppingCart", "Product")';
        AddProductToShppingCartWithoutQuantity(shopStockId, itemId, _url);
    }
</script>
<script src="~/Scripts/Products.js"></script>
@{
    string cityName = "";
    if (Request.Cookies["CityCookie"] != null && Request.Cookies["CityCookie"].Value != "")
    {
        cityName = Request.Cookies["CityCookie"].Value.Split('$')[1].ToLower();
    }
}
<div class="container margin-setTop">
    <div class="category-featured jewelry">
        <nav class="navbar nav-menu show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand"><a href="#">Winter Wear</a></div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="pst1"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div id="elevator-6" class="floor-elevator">
                <a href="#" class="btn-elevator up fa fa-angle-up"></a>
                <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
            </div>
        </nav>
        <div class="product-featured clearfix">
            <div class="row">
                <div class="col-sm-2 sub-category-wapper">
                    <ul class="sub-category-list" id="cpy1">
                        <li>@*<a href="~/Product/Products?parentCategoryId=1418">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "mens-thermal-wear", parentCategoryId = 1418, city = cityName })">Mens Thermal wear</a></li>
                        <li>@*<a href="~/Product/Products?parentCategoryId=1418">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "women-thermal-wear", parentCategoryId = 1418, city = cityName })">Women Thermal wear</a></li>
                        <li>@*<a href="~/Product/Products?parentCategoryId=1400">*@
                            <a href="@Url.RouteUrl("ProductsByCategory", new { item = "men's-sweater", parentCategoryId = 1418, city = cityName })">Men's Sweater</a></li>
                     
                    </ul>
                </div>
                <div class="col-sm-10 col-right-tab">
                    <div class="product-featured-tab-content">
                        <div class="tab-container">
                            <div class="tab-panel active" id="tab-14">
                                <div class="box-full clearfix">
                                    <ul class="product-list row">
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42207, itemName = "Neva Mod Quilt Men Thermal".ToLower().Replace(' ', '-'), city = cityName })" title="Neva Mod Quilt Men Thermal MDQ01-Full Sleeve Gray">Neva Mod Quilt Men Thermal MDQ01-Full Sleeve Gray</a></h5>
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=42207" title="Neva Mod Quilt Men Thermal MDQ01-Full Sleeve Gray">Neva Mod Quilt Men Thermal MDQ01-Full Sleeve Gray</a></h5>*@
                                              
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=42207">*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42207, itemName = "Neva Mod Quilt Men Thermal".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_42207.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>

                                                    @*<a title="Quick view" class="search" href="~/PreviewItem?itemId=42207"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 42207, itemName = "Neva Mod Quilt Men Thermal".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(49342, 42207)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(49342, 42207)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=42493" title="Dixcy Scott Winter Wear Round Neck Gray Thermal">Dixcy Scott Winter Wear Round Neck Gray Thermal</a></h5>*@
                                                <h5 class="product-name"><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42493, itemName = "Dixcy Scott Winter Wear Round".ToLower().Replace(' ', '-'), city = cityName })" title="Dixcy Scott Winter Wear Round Neck Gray Thermal">Dixcy Scott Winter Wear Round Neck Gray Thermal</a></h5>
                                               
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=42493">*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42493, itemName = "Dixcy Scott Winter Wear Round".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_42493.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    @*<a title="Quick view" class="search" href="~/PreviewItem?itemId=42493"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 42493, itemName = "Dixcy Scott Winter Wear Round".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(51100, 42493)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(51100, 42493)">Add to Cart</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=42019" title="Neva Mod Quilt Sleeveless Women Thermal MDQ11-Round">Neva Mod Quilt Sleeveless Women Thermal MDQ11-Round </a></h5>*@
                                                <h5 class="product-name"><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42019, itemName = "Neva Mod Quilt Sleeveless Women".ToLower().Replace(' ', '-'), city = cityName })" title="Neva Mod Quilt Sleeveless Women Thermal MDQ11-Round">Neva Mod Quilt Sleeveless Women Thermal MDQ11-Round </a></h5>
                                             
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=42019">*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42019, itemName = "Neva Mod Quilt Sleeveless Women".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_42019.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    @*<a title="Quick view" class="search" href="~/PreviewItem?itemId=42019"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 42019, itemName = "Neva Mod Quilt Sleeveless Women".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(49089, 42019)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(49089, 42019)">Add to Cart</a>
                                                </div>
                                            </div>

                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=42543" title="Dixcy Scott Thermal Wear Red Leggings for Women">Dixcy Scott Thermal Wear Red Leggings for Women</a></h5>*@
                                                <h5 class="product-name"><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42543, itemName = "Dixcy Scott Thermal Wear Red Leggings".ToLower().Replace(' ', '-'), city = cityName })" title="Dixcy Scott Thermal Wear Red Leggings for Women">Dixcy Scott Thermal Wear Red Leggings for Women</a></h5>
                                              
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=42543">*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42543, itemName = "Dixcy Scott Thermal Wear Red Leggings".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_42543.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    @*<a title="Quick view" class="search" href="~/PreviewItem?itemId=42543"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 42543, itemName = "Dixcy Scott Thermal Wear Red Leggings".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(51372, 42543)">Add to Cart</a>*@
                                                    <a title="Add to Cart" onclick="AddProduct(51372, 42543)">Add to Cart</a>
                                                </div>
                                            </div>

                                        </li>
                                        <li class="col-sm-4">
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42499, itemName = "Dixcy Scott Gray Winter Wear Women`s Top".ToLower().Replace(' ', '-'), city = cityName })" title="Dixcy Scott Gray Winter Wear Women`s Top">Dixcy Scott Gray Winter Wear Women`s Top</a></h5>
                                                @*<h5 class="product-name"><a href="~/PreviewItem?itemId=42499" title="Dixcy Scott Gray Winter Wear Women`s Top">Dixcy Scott Gray Winter Wear Women`s Top</a></h5>*@
                                               
                                            </div>
                                            <div class="left-block">
                                                @*<a href="~/PreviewItem?itemId=42499">*@
                                                <a href="@Url.RouteUrl("pre-prod-name", new { itemId = 42499, itemName = "Dixcy Scott Gray Winter Wear Women`s Top".ToLower().Replace(' ', '-'), city = cityName })">
                                                    <img class="img-responsive" alt="product" src="~/Content/update(5-10)/images/sub-cat/V_42499.jpg">
                                                </a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    @*<a title="Add to compare" class="compare" href="#"></a>*@
                                                    @*<a title="Quick view" class="search" href="~/PreviewItem?itemId=42499"></a>*@
                                                    <a title="Quick view" class="search" href="@Url.RouteUrl("pre-prod-name", new { itemId = 42499, itemName = "Dixcy Scott Gray Winter Wear Women`s Top".ToLower().Replace(' ', '-'), city = cityName })"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a title="Add to Cart" onclick="AddProduct(51166, 42499)">Add to Cart</a>
                                                    @*<a title="Add to Cart" onclick="AddProductToShppingCartWithoutQuantity(51166, 42499)">Add to Cart</a>*@
                                                </div>
                                            </div>
                                        </li>                          
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container containernew1 span12">
    <div class="FootTextDiv">
        <p class="indent-paragraph ">
            <span class="footerdetail">Winter Collection</span><br />
            Welcome to Gandhibagh.com, your Winter Collection E-Store.
            As the seasons change, it becomes mandatory to have the right kind of choice for our attires especially that concerns with the respective season. Likewise, considering yourself the warm during the season of winters is really very vital. And while trying to make you warm and cosy in the chilling winters, it is important to have proper clothes, which are both stylish and trendy during the winters. As we enter in the winter season, we gear up with a different winter wear collection, which comes in the form of sweaters, jackets, pants, tops and shoes along with a number of other winter accessories that are apt for the season.
            Get the best winter wear collection online only at Gandhibagh.com. Here you can find some of the best deals on winter collection right from the jackets, bottoms and shawls to a number of other winter wear products. Also, if you are conscious for any brand, you get a good collection of these winter wear choices, which are not only stylish but also appear to be the most comfortably, dry and warm.
            Gandhibagh.com offers you 100 percent original products for its consumers based in Nagpur and its vicinity area. It has one of the most convenient kinds of interface to shop a wide array of winter wear attires for kids, women and men. You can explore a wide range of winter dresses available at the best deal, hard to find out at any other place along with a number of value added services like same day delivery and free shipping (above 500 INR) and many more. Together these things give a very good shopping experience, so what are you waiting for go get the best deal from the winter collection at Gandhibagh.com.
            Happy Shopping!<br /><br />
        </p>
    </div>
</div>