@*//-----------------------------------------------------------------------
        // <copyright file="Details.cshtml" company="Ezeelo Consumer Services Pvt. Ltd.">
        //     Copyright (c) Ezeelo Consumer Services Pvt. Ltd. All rights reserved.
        //
    </copyright>
        // <author>Snehal Shende</author>
        //-----------------------------------------------------------------------*@
@model ModelLayer.Models.ViewModel.OwnerPlanViewModel

@{
    ViewBag.Title = "Details";
}

@*<h2>Details</h2>*@
<div class="span10" id="content">
    <ul class="breadcrumb">
        <li>
            <i class="icon-group"></i>
            <a href="#">Merchant Plan</a>
            @*<i class="icon-angle-right"></i>*@
        </li>
        @*<li><a href="#">Tables</a></li>*@
    </ul>
    <div class="row-fluid">
        <div class="box span6">
            <div class="box-header">
                <h2><i class="icon-edit"></i><span class="break">Details</span></h2>

            </div>
            <div class="box-content">
                <div>
                    @*<h4>Merchant Plan</h4>*@
                    <hr />
                    <dl class="dl-horizontal">

                        <dt>
                            Plan Name
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Plan.ShortName)
                        </dd>

                        <dt>
                            Owner Name
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.OwnerName)
                        </dd>

                        <dt>
                            Start Date
                        </dt>

                        <dd>
                            @ViewBag.StartDate1
                        </dd>

                        <dt>
                            End Date
                        </dt>

                        <dd>
                            @ViewBag.EndDate1
                        </dd>

                        @*<dt>
                                Is Active
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.IsActive)
                            </dd>*@
                        <div class="form-actions" style="padding-left:180px;">
                            @Html.ActionLink("Deactivate", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" })
                            @*@Html.ActionLink("Back to List", "Index", "MerchantPlan", new { franchiseID=ViewBag.FranchiseID }, new { @class = "btn" })*@
                            @Html.ActionLink("Back to List", "Index", "MerchantPendingApprovals", new { franchiseID = ViewBag.FranchiseID }, new { @class = "btn" })
                        </div>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index", "MerchantPlan")
    </p>*@
