@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>Delivery.eZeelo</title>

    <link rel="icon" href="~/LandingPage/img/favicon.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/LandingPage/css/style.css">
    <link rel="stylesheet" href="~/LandingPage/css/responsive.css">
    <link rel="stylesheet" href="~/LandingPage/css/animate.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,900,600|Pacifico' rel='stylesheet' type='text/css'>

    <!--photo gallary -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/LandingPage/css/photo_gallary.css" rel="stylesheet" />
</head>
<body>
    <div id="hero">
        <div class="redoverlay">
            <div class="container">
                <div class="row">
                    <div class="herotext">
                        <div class="row">
                            <label class="wow zoomInDown btn btn-danger" data-wow-duration="3s">Delivery.eZeelo</label>
                        </div>
                        <div>
                            <a href="@Url.Action("Login","Login")" target="_blank" class="wow flipInY btn btn-success">Sign-In</a>
                            <a href="@Url.Action("Create", "DeliveryPartnerRegister")" target="_blank" class="wow flipInY btn btn-primary">Sign-Up</a>
                            <a href="https://play.google.com/store/apps/details?id=com.ezeelo.delivery" target="_blank" class="wow flipInY btn btn-warning" title="Download App">Download App</a>
                        </div>

                        <br />

                        <a class="btn btn-reverse wow zoomIn logistic" href="#products">
                            <img src="~/LandingPage/img/logistic.png" />
                            <!--<h3>To save upto 75% this holiday <span class="optional">or bang your head!</span></h3>-->
                        </a>
                        <p class="wow fadeInUp" data-wow-duration="2s"></p>
                        <img class="bigbell wow tada infinite" data-wow-duration="30s" src="~/LandingPage/img/tag.png" alt="">
                    </div>
                    <div class="santa wow bounceInDown" data-wow-duration="2s">
                        <img src="~/LandingPage/img/truck.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="overview" class="container">
        <div class="sectionhead">
            <h2><span style="color:#ff6a00;">Flickers</span></h2>
            <p style="color:#752323">eZeelo is  the online megastore and is among the top e-commerce portals in Central India. Visited by hordes of people on a daily basis, eZeelo offers a wide range of products of different brands, ranging from garments to electronic items, home decor stuff, etc, at the most competitive prices.</p>
            <hr>
        </div><!--SECTIONHEAD END-->
        <!--OVERVIEW ITEMS-->
        <!--<ul class="row">
            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <img class="img-responsive"  src="img/Screenshot_1.png" alt="">
            </li>
            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <img class="img-responsive" src="images/Screenshot_1.png">
            </li>
            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <img class="img-responsive" src="images/Screenshot_1.png">
            </li>
        </ul>-->


        <ul class="row">
            <li class="col-md-6 col-lg-4">
                <img src="~/LandingPage/img/Screenshot_1.png" alt="">
                <h4>Interactive Dashboard</h4>
                <p>Interactive Dashboard summarizes you in one quick view.</p>
            </li><!--ITEM END-->
            <li class="col-md-6 col-lg-4">
                <img src="~/LandingPage/img/Screenshot_2.png" alt="">
                <h4>Territory Management</h4>
                <p>It helps your manage your area within you can Delivery Products.</p>
            </li><!--ITEM END-->
            <li class="col-md-6 col-lg-4">
                <img src="~/LandingPage/img/Screenshot_3.png" alt="">
                <h4>Weight Slabs</h4>
                <p>Weight Slab is structure of charges applied by the delivery Partner. Delivery partner has their own customizable slabs.</p>
            </li><!--ITEM END-->
            <li class="col-md-6 col-lg-4">
                <img src="~/LandingPage/img/Screenshot_4.png" alt="">
                <h4>Cash Handling Charges</h4>
                <p>Cash handling charges is the extra charge applied by the Delivery partner to handle cash.</p>
            </li><!--ITEM END-->
            <li class="col-md-6 col-lg-4">
                <img src="~/LandingPage/img/Screenshot_5.png" alt="">
                <h4>Order Tracking</h4>
                <p>List of orders given to delivery partner is listed in order track. We can track each and every stage of particular order separately.</p>
            </li><!--ITEM END-->
            <li class="col-md-6 col-lg-4">
                <img src="~/LandingPage/img/Screenshot_6.png" alt="">
                <h4>Profile Management</h4>
                <p>You can customize your profile easily with our profile management module.</p>
            </li><!--ITEM END-->
        </ul><!--OVERVIEW ITEMS END-->
    </div><!--OVERVIEW SECTION END-->
    <!-- ===========================
    CALL-TO-ACTION SECTION
    =========================== -->
    <div class="calltoaction">
        <div class="lightoverlay">
            <div class="container">
                <div class="col-md-4">
                    <img src="~/LandingPage/img/logo.png" alt="">
                </div><!--CALL-TO-ACTION IMAGE END-->
                <div class="sectionhead content col-md-8">
                    <h2>Why <span class="highlight">eZeelo</span></h2>
                    <p>eZeelo is committed to 100 percent hassle free shopping experience. Right from placing orders of any product to getting the same delivered on time, every single step in shopping comes smooth and competitive marketing experience.  Security is one of the vital features with us, which means your entire credit/debit card or the net banking transactions comes full proof passing through reliable gateways. All your bank details are secure and safe with us and are not shared at any cost to any third party. However, for those who do not wish to carry out the online transactions while buying any product online, you can avail the option of cash on delivery backed by effective after sales services as well. In case for any quality related issue (which is very rare), our user friendly exchange and replacement policies comes to your best rescue. </p>
                    <a href="@System.Configuration.ConfigurationManager.AppSettings["EZEELO_CUSTOMER_URL"]" target="_blank" class="btn btn-success">eZeelo</a>
                </div><!--CALL-TO-ACTION CONTENT END-->
            </div><!--CALL-TO-ACTION CONTAINER END-->
        </div><!--CALL-TO-ACTION OVERLAY END-->
    </div><!--CALL-TO-ACTION END-->
    <!-- ===========================
    PRODUCTS SECTION
    =========================== -->
    <div id="products" class="container" style="text-align: center; background-image: url(delivery/LandingPage/img/orderstage.jpg); height: 262px;">
    </div>
    <!--PRODUCTS SECTION END-->
    <!-- ===========================
    SUBSCRIBE SECTION
    =========================== -->
    <div id="subscribe">
        <div class="darkoverlay">
            <div class="container text-center">
                <img class="santaicon wow tada infinite" data-wow-duration="20s" src="~/LandingPage/img/g_logo.png" width="200px" height="143px" alt="">
                <div class="sectionhead">
                    <h2>How will <span class="highlight">eZeelo</span> benefit you?</h2>
                    <p>New age customers who are net addicts can be your customers too.Even when your shop is CLOSED you can conduct business.No additional infrastructure or real estate (space) is needed. Can compete with Malls and supermarkets.</p>
                    <p>A must if you want to survive in today’s market.This can compensate fewer footfalls that affect traditional retailers. An added VISIBILITY that only expensive ads can get you.</p>
                </div><!--SECTIONHEAD END-->
                <!--MAILCHIMP FORM START-->
                <div class="mailchimp">
                    <a href="@System.Configuration.ConfigurationManager.AppSettings["EZEELO_CUSTOMER_URL"]" target="_blank" class="btn btn-success">Become a Partner</a>
                    <a href="@System.Configuration.ConfigurationManager.AppSettings["EZEELO_CUSTOMER_URL"]" target="_blank" class="btn btn-success">Become a Merchant</a>
                </div>
            </div><!--SUBSCRIBE CONTAINER END-->
        </div><!--OVERLAY END-->
    </div><!--SUBSCRIBE SECTION END-->
    <!-- ===========================
    FOOTER
    =========================== -->
    <footer>
        <div class="col-lg-4 footer_top"><span>© Copyright 2015</span></div>
        <div class="col-lg-4">
            <marquee behavior="alternate"><img src="~/LandingPage/img/chota_truck.png"></marquee>
            <hr />
        </div>
        <div class="col-lg-4 footer_top">Designed By : <a href="@System.Configuration.ConfigurationManager.AppSettings["EZEELO_CUSTOMER_URL"]" target="_blank">eZeelo</a></div>
    </footer><!--FOOTER END-->
    <!-- ===========================
    SOCIAL ICONS
    =========================== -->
    <div class="sticky-container">
        <ul class="sticky">
            <li>
                <a href="https://www.facebook.com/ezeelo" target="_blank">
                    <img title="" alt="" src="~/LandingPage/img/facebook.svg" />
                    <p>Facebook</p>
                </a>
            </li>

            <li>
                <a href="https://twitter.com/ezeelo" target="_blank">
                    <img title="" alt="" src="~/LandingPage/img/twitter.svg" />
                    <p>Twitter</p>
                </a>
            </li>

            @*<li>
                    <a href="" target="_blank">
                        <img title="" alt="" src="~/LandingPage/img/pinterest.svg" />
                        <p>Pinterest</p>
                    </a>
                </li>*@

            @*<li>
                    <a href="" target="_blank">
                        <img title="" alt="" src="~/LandingPage/img/linkedin.svg" />
                        <p>Linkedin</p>
                    </a>
                </li>*@

            <li>
                <a href="https://plus.google.com/+ezeelo/posts" target="_blank">
                    <img title="" alt="" src="~/LandingPage/img/google_plus.svg" />
                    <p>Google Plus</p>
                </a>
            </li>

            @*<li>
                    <a href="" target="_blank">
                        <img title="" alt="" src="~/LandingPage/img/instagram.svg" />
                        <p>Instagram</p>
                    </a>
                </li>*@

        </ul>
    </div>
    <!-- ===========================
    NECESSARY SCRIPTS
    =========================== -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>-->
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="~/LandingPage/js/evenfly.js"></script>
    <script src="~/LandingPage/js/jquery.nicescroll.min.js"></script>
    <script src="~/LandingPage/js/wow.min.js"></script>
    <script src="~/LandingPage/js/snowstorm-min.js"></script>
    <script>new WOW().init();</script>

    <!-- photo-galarry -->
    <script src="~/LandingPage/js/photo-gallery.js"></script>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</body>
</html>
