@model ModelLayer.Models.CustomerOrderDetail

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CustomerOrderDetail</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ShopOrderCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShopOrderCode)
                @Html.ValidationMessageFor(model => model.ShopOrderCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReferenceShopOrderCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReferenceShopOrderCode)
                @Html.ValidationMessageFor(model => model.ReferenceShopOrderCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerOrderID, "CustomerOrderID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CustomerOrderID", String.Empty)
                @Html.ValidationMessageFor(model => model.CustomerOrderID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShopStockID, "ShopStockID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ShopStockID", String.Empty)
                @Html.ValidationMessageFor(model => model.ShopStockID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShopID, "ShopID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ShopID", String.Empty)
                @Html.ValidationMessageFor(model => model.ShopID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Qty, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Qty)
                @Html.ValidationMessageFor(model => model.Qty)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderStatus)
                @Html.ValidationMessageFor(model => model.OrderStatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MRP, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MRP)
                @Html.ValidationMessageFor(model => model.MRP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SaleRate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SaleRate)
                @Html.ValidationMessageFor(model => model.SaleRate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OfferPercent, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OfferPercent)
                @Html.ValidationMessageFor(model => model.OfferPercent)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OfferRs, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OfferRs)
                @Html.ValidationMessageFor(model => model.OfferRs)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsInclusivOfTax, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsInclusivOfTax)
                @Html.ValidationMessageFor(model => model.IsInclusivOfTax)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalAmount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalAmount)
                @Html.ValidationMessageFor(model => model.TotalAmount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateDate)
                @Html.ValidationMessageFor(model => model.CreateDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateBy, "CreateBy", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CreateBy", String.Empty)
                @Html.ValidationMessageFor(model => model.CreateBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModifyDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModifyDate)
                @Html.ValidationMessageFor(model => model.ModifyDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModifyBy, "ModifyBy", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ModifyBy", String.Empty)
                @Html.ValidationMessageFor(model => model.ModifyBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NetworkIP, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NetworkIP)
                @Html.ValidationMessageFor(model => model.NetworkIP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeviceType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeviceType)
                @Html.ValidationMessageFor(model => model.DeviceType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeviceID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeviceID)
                @Html.ValidationMessageFor(model => model.DeviceID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
