@model List<ModelLayer.Models.ViewModel.BBPPayoutOrderWiseViewModel>
<table id="tblDataOrdwise" class="table table-bordered table-striped table-condensed display" width="100%">
    <thead>
        <tr>
            <th>Sr.No.</th>
            <th>OrderCode</th>
            <th>UserLoginId</th>
            <th>Name</th>
            <th>Retail Points</th>
            <th>Upline1 UserLoginId</th>
            <th>Upline1 Name</th>
            <th>Upline1 ERP</th>
            <th>Upline2 UserLoginId</th>
            <th>Upline2 Name</th>
            <th>Upline2 ERP</th>
            <th>Upline3 UserLoginId</th>
            <th>Upline3 Name</th>
            <th>Upline3 ERP</th>
            <th>Upline4 UserLoginId</th>
            <th>Upline4 Name</th>
            <th>Upline4 ERP</th>
            <th>Upline5 UserLoginId</th>
            <th>Upline5 Name</th>
            <th>Upline5 ERP</th>
            <th>Upline6 UserLoginId</th>
            <th>Upline6 Name</th>
            <th>Upline6 ERP</th>
            <th>Upline7 UserLoginId</th>
            <th>Upline7 Name</th>
            <th>Upline7 ERP</th>
            <th>Upline8 UserLoginId</th>
            <th>Upline8 Name</th>
            <th>Upline8 ERP</th>
            <th>Upline9 UserLoginId</th>
            <th>Upline9 Name</th>
            <th>Upline9 ERP</th>
            <th>Upline10 UserLoginId</th>
            <th>Upline10 Name</th>
            <th>Upline10 ERP</th>
            <th>Upline11 UserLoginId</th>
            <th>Upline11 Name</th>
            <th>Upline11 ERP</th>
            <th>Upline12 UserLoginId</th>
            <th>Upline12 Name</th>
            <th>Upline12 ERP</th>
            <th>Upline13 UserLoginId</th>
            <th>Upline13 Name</th>
            <th>Upline13 ERP</th>
            <th>Upline14 UserLoginId</th>
            <th>Upline14 Name</th>
            <th>Upline14 ERP</th>
            <th>Upline15 UserLoginId</th>
            <th>Upline15 Name</th>
            <th>Upline15 ERP</th>
            <th>Upline16 UserLoginId</th>
            <th>Upline16 Name</th>
            <th>Upline16 ERP</th>
        </tr>
    </thead>
    <tbody>
        @{ var i = 0; }
        @if (Model.Count != 0)
        {
            foreach (var item in @Model)
            {
        <tr>
            <td>
                @{
                    i = i + 1;
                }
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserloginId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RetailPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine1_UserLoginId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine1_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine2_UserLoginId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine2_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine3_UserLoginId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine3_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine4_UserLoginId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine4_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine5_UserLoginId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine5_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine6_UserLoginId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine6_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine7_UserLoginId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine7_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine8_UserLoginId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine8_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine9_UserLoginId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine9_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine10_UserLoginId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine10_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine11_UserLoginId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine11_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine12_UserLoginId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine12_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine13_UserLoginId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine13_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine13)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine14_UserLoginId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine14_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine14)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine15_UserLoginId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine15_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine15)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine16_UserLoginId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine16_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLine16)
            </td>
        </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="53" >
                    <label style=" color: #138afc; ">No Record Found.... </label>
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $('#tblDataOrdwise').DataTable();
    });
</script>

