<style>
    section.right_side_main_part div#content .content p a {
        padding: 2px 15px;
        border-radius: 5px !important;
    }
</style>

@model IEnumerable<ModelLayer.Models.MarginDivision>
<section class="right_side_main_part">
    <div id="content" class="span10" style="min-height: 403px;">
        <div class="content">
            <p>
                @Html.ActionLink("Edit", "SaveMarginDivision", "Warehouse", new { @class = "btn btn-primary" })
            </p>
            <div class="row-fluid">
                <div class="box span12 right_side_up_part">
                    <div class="box-header">
                        <h2>
                            <i class="icon-list-alt"></i>
                            <span class="break"></span>
                            Ezeelo Margin Division List
                        </h2>
                    </div>
                    <div class="box-content">
                        <table class=" table table-bordered table-striped table-condensed">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Code)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MarginFor)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MarginInPercentage)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsActive)
                                </th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Code)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MarginFor)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MarginInPercentage)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsActive)
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </section>