@model ModelLayer.Models.FranchiseMenu

@{
    ViewBag.Title = "Details";
}

<style>
    /*.dl-horizontal dt {
        border: 1px solid#EFEAEA;
        margin-bottom: 5px;
        color: #736D6D;
        padding-right: 8px;
    }*/
    .dl-horizontal dt {width:175px; text-align:left;
    }
    .dl-horizontal dd {margin-left:200px;
    }

     .dl-horizontal dd:nth-of-type(1) {
        margin-left: -1px;
        margin-bottom: 100px;
        margin-top: 7px;
    }
    .dl-horizontal img {
        border: 2px solid#ccc;
       width:140px; height:115px; padding:2px;
    }

    /*.dl-horizontal dd:nth-of-type(3) {
        margin-top: 10px;
    }

    .dl-horizontal dd:nth-of-type(4) {
        margin-top: 8px;
    }

    .dl-horizontal dd:nth-of-type(5) {
        margin-top: 6px;
    }

    .dl-horizontal dd:nth-of-type(6) {
        margin-top: 3px;
    }*/

</style>

<div id="content" class="span10">
    <ul class="breadcrumb">
        <li>
            <a href="index.html">Franchise Menu</a>
        </li>
    </ul>
    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header">
                <h2><i class="halflings-icon user"></i><span class="break"></span>Details</h2>
            </div>
            <div class="box-content">
                <dl class="dl-horizontal">
                    <dd>
                        <img src="@Model.ImageName" onerror="this.src = '../../Content/Images/No_thumbnail.png'" width="100px" height="100px" />
                    </dd>
                    <dt>
                        FRANCHISE NAME
                    </dt>

                    <dd>
                        <span>@ViewBag.FranchiseName</span>
                    </dd>

                    <dt>
                        CATEGORY NAME
                    </dt>

                    <dd>
                        <span>
                            @ViewBag.CategoryName (Level:= @ViewBag.Level)
                        </span>
                    </dd>

                    <dt>
                       FRANCHISE CATEGORY NAME
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CategoryName)
                    </dd>

                    <dt>
                        SEQUENCE ORDER
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SequenceOrder)
                    </dd>

                    <dt>
                        IS ACTIVE
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IsActive)
                    </dd>
                </dl>
            </div>
            <div class="form-actions">
                @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
                </div>
            </div>
    </div>
</div>