@model ModelLayer.Models.FranchiseMenu

@{
    ViewBag.Title = "Edit";
}



<style>
    .CategoryDiv {
        width: 233px;
        float: left;
        padding: 10px;
    }

        .CategoryDiv span {
            display: block;
            font-size: 15px;
            font-weight: 600;
        }

        .CategoryDiv label {
            display: block;
            font-size: 15px;
            font-weight: 600;
            text-align: left !important;
        }

        .CategoryDiv select {
            display: block;
        }

    .form-horizontal .form-actions {
        padding-left: 10px !important;
    }

    .textDiv {
        margin-left: 10px;
        width: 100%;
        float: left;
    }

    #Content {
    }
    .uploader {
        width: 190px !important;
    }
    #dvPreview {
        /*float: left;*/
        width: 120px;
    }
    .action {
        border: 1px solid#ccc;
        color: #fff;
        background-color: #2271D2;
        text-shadow: none !important;
        cursor: pointer !important;
    }
    div.uploader span.filename {
        border-right: none;
    }
    /*.uploader {
        margin-top: 35px;
    }*/

    #dvPreview img {
        border: 3px solid#CEC4C4; margin-bottom:10px; height:124px;
    }
    div.uploader {
        left: -12px;
        top: 155px;
    }
    .top_cat {
        margin-top: 2px; /*margin-bottom:45px;*/
        border: 1px solid #ccc;
        width: 173px;
        height: 135px;
    }
    /*#dvPreview {
        margin-top: -26px;
        margin-left: -9px;
        width: 155px;
    }*/
    #dvPreview {
        margin-top: -25px;
        width: 164px;
        padding: 0px 1px;
    }

</style>

<div id="content" class="span10">
    <ul class="breadcrumb">
        <li>
            <a href="#">Edit</a>
        </li>
    </ul>

    <div class="row-fluid">

        <div class="box span12">
            <div class="box-header">
                <h2><i class="icon-edit"></i><span class="break"></span>Franchise Menu</h2>

            </div>
            <div class="box-content">

                @using (Html.BeginForm("Edit", "FranchiseMenu", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    if (ViewBag.Messaage != null)
                    {
                        <div style="font-weight:bold; color:red;">@ViewBag.Messaage</div>
                    }
                    <div class="form-horizontal">

                        @Html.ValidationSummary(true)

                        
                            <div class="top_cat pull-left">
                            <div class=" categorydiv">
                                @*<img src="@Model.ImageName" width="100px" height="100px" onerror="this.src = '../../Content/img/No_thumbnail.png'" style="border: 2px solid#CEC4C4; margin-left: 10px; padding: 5px; margin-top: 20px;" />*@
                                <input type="file" name="File" id="File" class="pull-right" />

                                <div id="dvPreview">
                                    <img src="@Model.ImageName" onerror="this.src = '../../Content/img/No_thumbnail.png'" style="border: 2px solid#CEC4C4; margin-left:2px;" />
                                </div><div class="clr"></div>
                                
                            </div>
                            </div>
                        <div class="pull-right" style="margin-top:-9px;">
                            <div class="CategoryDiv">

                                <span>Select Franchise</span>
                                @Html.DropDownList("FranchiseList", "Select Franchise")
                                <span id="FranchiseListErro" style="font-weight:bold;color:red;"></span>
                            </div>
                            @*<div class=" categorydiv">
                <img src="@Model.ImageName" width="100px" height="100px" onerror="this.src = '../../Content/img/No_thumbnail.png'" style="border: 2px solid#CEC4C4; margin-left: 10px; padding:5px;" />
                <input type="file" name="Files" id="Files" class="pull-right" />
            </div>*@
                            @*<div class="CategoryDiv">
                <img src="@Model.ImageName" width="100px" height="100px" onerror="this.src = '../../Content/img/No_thumbnail.png'" />
                <input type="file" id="fileToUpload" name="file" />
            </div>*@
                            <div class="clr"></div>


                            <div class="CategoryDiv">
                                <span>Select Category</span>
                                @if (Model.Level == 1)
                                {
                                    @Html.DropDownList("CategoryList", "Select Category")
                                }
                                else
                                {
                                    @Html.DropDownList("CategoryList", null, "Select Category")
                                }
                            </div>
                            <div class="CategoryDiv">
                                <span>Select Level Two Category</span>
                                @if (Model.Level == 2)
                                {
                                    @Html.DropDownList("LevelTwoCategoryList", "Select Category")
                                }
                                else
                                {
                                    @Html.DropDownList("LevelTwoCategoryList", null, "Select Category")
                                }
                            </div>
                            <div class="CategoryDiv">
                                <span>Select Level Three Category</span>
                                @if (Model.Level == 3)
                                {
                                    @Html.DropDownList("LevelThreeCategoryList", "Select Category")
                                }
                                else
                                {
                                    @Html.DropDownList("LevelThreeCategoryList", null, "Select Category")
                                }
                            </div>
                            <div class="clr"></div>
                            <div><span id="CategoryErro" style="font-weight:bold;color:red;"></span></div>


                            <div class="CategoryDiv">
                                @Html.LabelFor(model => model.SequenceOrder, new { @class = "control-label col-md-2" })
                                @Html.TextBoxFor(model => model.SequenceOrder)
                                @Html.ValidationMessageFor(model => model.SequenceOrder)
                                <span id="SequenceOrderErro" style="font-weight:bold;color:red;"></span>

                            </div>
                            <div class="CategoryDiv">
                                @Html.LabelFor(model => model.CategoryName, new { @class = "control-label col-md-2" })
                                @Html.TextBoxFor(model => model.CategoryName)
                                @Html.ValidationMessageFor(model => model.CategoryName)
                                <span id="CategoryNameErro" style="font-weight:bold;color:red;"></span>
                            </div>
                            <div class="CategoryDiv">
                                @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
                                @Html.TextBoxFor(model => model.IsActive)
                                @Html.ValidationMessageFor(model => model.IsActive)
                                <span id="IsActiveErro" style="font-weight:bold;color:red;"></span>

                            </div>
                            <div class="clr"></div>


                        </div>

                        <div class="form-actions" style="clear:both;">

                            <input type="submit" value="Save" class="btn btn-success" />
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-brown" })
                        </div>
                
               



            </div>
                }
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>

    $(document).ready(function () {

        $(".btn-success").click(function () {
            var ErrorCount = 0;
            var isActive = $("#IsActive option:selected").text();
            var franchise = $("#FranchiseList option:selected").text();
            var shop = $("#ShopID option:selected").text();
            var LevelOne = $("#CategoryList option:selected").text();
            var LevelTwo = $("#LevelTwoCategoryList option:selected").text();
            var LevelThree = $("#LevelThreeCategoryList option:selected").text();
            var PriorityLevel = $("#PriorityLevel").val();
            var CatName = $("#CategoryName").val();

            if (isActive == 'Not Set') {
                $('#IsActiveErro').html('Please Select the IsActive');
                ErrorCount = ErrorCount + 1;
            }
            else {
                $('#IsActiveErro').html('');
            }

            if (franchise == 'Select Franchise') {
                $('#FranchiseListErro').html('Please Select Franchise');
                ErrorCount = ErrorCount + 1;
            }
            else {
                $('#FranchiseListErro').html('');
            }
            if (LevelOne == 'Select Category' && LevelTwo == 'Select Category' && LevelThree == 'Select Category') {
                $('#CategoryErro').html('Please Select Category');
                ErrorCount = ErrorCount + 1;
            }
            else {
                $('#CategoryErro').html('');
            }
            if (PriorityLevel == '') {
                $('#SequenceOrderErro').html('Please Select SequenceOrder or Set to Zero (0)');
                ErrorCount = ErrorCount + 1;
            }
            else {
                $('#SequenceOrderErro').html('');
            }
            if (CatName == '')
            {
                $("#CategoryNameErro").html('Please Enter Category Name');
                ErrorCount = ErrorCount + 1;
            }
            else
            {
                $("#CategoryNameErro").html('');
            }

            if (ErrorCount > 0) {
                return false;
            }
        });

        $('#FranchiseList').change(function (e) {
            var id = $("#FranchiseList  option:selected").val();
            $("#pageloaddiv").css('display', 'block');
            $("#pageloaddiv").fadeOut(1000);
            $.ajax({
                type: "POST",
                //URL: "/ShopPriority/SelectLevelOneCategoryByFranchise?id=" + id,
                url: "/FranchiseMenu/SelectLevelOneCategoryByFranchise",
                data: "{ id: " + id + "}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: true,
                cache: false,
                success: function (msg) {

                    $('#CategoryList').empty();
                    $('#CategoryList').append('<option value=0>Select Category</option>');

                    $.each(msg, function (index, item) {

                        $('#CategoryList').append('<option value=' + item.ID + '>' + item.Name + '</option>');
                    });
                    $("#pageloaddiv").css('display', 'none');
                    $("#pageloaddiv").fadeOut(1000);
                },
                error: function (x, e) {
                    alert("unable to Retrive Data No ");
                    $("#pageloaddiv").css('display', 'none');
                    $("#pageloaddiv").fadeOut(1000);
                }

            });
        });

        $("#CategoryList").change(function () {
            /* Get the selected value of dropdownlist */
            var selectedID = $(this).val();
            var FranchiseID = $("#FranchiseList option:selected").val();
            var level = 1;


            /*Processing Image*/
            $("#pageloaddiv").css('display', 'block');
            $("#pageloaddiv").fadeOut(1000);


            $.ajax({
                type: "POST",
                url: "/FranchiseMenu/SelectCategory/?ParentCategory=" + selectedID + "&level=2",
                //url: "/ShopPriority/ParentCategory",
                //data: "{ ParentCategory: " + id + ",level:"+ 2 +"}",
                dataType: "json",
                async: true,
                cache: false,
                success: function (msg) {
                    $('#LevelTwoCategoryList').empty();
                    $('#LevelTwoCategoryList').append('<option value=0>Select Category</option>');
                    $.each(msg, function (index, item) {
                        $('#LevelTwoCategoryList').append('<option value=' + item.ID + '>' + item.Name + '</option>');
                    });
                    $("#pageloaddiv").css('display', 'none');
                    $("#pageloaddiv").fadeOut(1000);
                },
                error: function (x, e) {
                    alert("Sorry No Such Type of Category Is available. ");
                    $("#pageloaddiv").css('display', 'none');
                    $("#pageloaddiv").fadeOut(1000);
                }
            });
        });

        $("#LevelTwoCategoryList").change(function () {
            /* Get the selected value of dropdownlist */
            var selectedID = $(this).val();
            var FranchiseID = $("#FranchiseList option:selected").val();
            var level = 2;
            /*Processing Image*/
            $("#pageloaddiv").css('display', 'block');
            $("#pageloaddiv").fadeOut(1000);



            $.ajax({
                type: "POST",
                url: "/FranchiseMenu/SelectCategory/?ParentCategory=" + selectedID + "&level=3",
                //url: "/ShopPriority/ParentCategory",
                //data: "{ ParentCategory: " + id + ",level:"+ 2 +"}",
                dataType: "json",
                async: true,
                cache: false,
                success: function (msg) {

                    $('#LevelThreeCategoryList').empty();
                    $('#LevelThreeCategoryList').append('<option value=0>Select Category</option>');
                    $.each(msg, function (index, item) {
                        $('#LevelThreeCategoryList').append('<option value=' + item.ID + '>' + item.Name + '</option>');
                    });
                    $("#pageloaddiv").css('display', 'none');
                    $("#pageloaddiv").fadeOut(1000);
                },
                error: function (x, e) {

                    alert("Sorry No Such Type of Category Is available. ");
                    $("#pageloaddiv").css('display', 'none');
                    $("#pageloaddiv").fadeOut(1000);
                }
            });

        });

    });

</script>

<script language="javascript" type="text/javascript">
    window.onload = function () {

        var Files = document.getElementById("File");
        Files.onchange = function () {
            if (typeof (FileReader) != "undefined") {
                var dvPreview = document.getElementById("dvPreview");
                dvPreview.innerHTML = "";
                var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp|.JPG|.JPEG|.GIF|.PNG|.BMP)$/;
                for (var i = 0; i < Files.files.length; i++) {
                    var file = Files.files[i];
                    if (regex.test(file.name.toLowerCase())) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            var img = document.createElement("IMG");
                            img.height = "200";
                            img.width = "200";
                            img.src = e.target.result;
                            dvPreview.appendChild(img);
                            //$('#img_upload'.hide());
                        }
                        reader.readAsDataURL(file);
                    } else {
                        alert(file.name + " is not a valid image file.");
                        dvPreview.innerHTML = "";
                        return false;
                    }
                }
            } else {
                alert("This browser does not support HTML5 FileReader.");
            }
        }
    };
</script>
