@model ModelLayer.Models.ViewModel.EzeeMoneyPayoutViewModel
<div class="card" style="width:450px !important">
    <div class="card-header"><strong>ERP to Ezee Money</strong></div>
    <div class="card-body card-block">
        @if (@Model.isGoClick != true)
        {
            <table>
                <tr>
                    <td> No Data Available... </td>
                </tr>                
            </table>
        }
        else
        {
            <table>
                <tr>
                    <td></td>
                    <td><b>Amount</b> </td>
                    <td><b>Points</b></td>
                </tr>
                <tr>
                    <td><b>Total Turnover Amount:</b></td>
                    <td><i class="menu-icon fa fa-inr"></i>&nbsp; @Model.TotalAmount</td>
                    <td>@Model.TotalERP</td>
                </tr>
                <tr>
                    <td><b>Total Payable Amount:</b></td>
                    <td><i class="menu-icon fa fa-inr"></i>&nbsp; @Model.PayableAmount</td>
                    <td>@Model.PayableERP</td>
                </tr>
                <tr style="color:#0cba23">
                    <td><b>Profit Earned from Network:</b></td>
                    <td><b><i class="menu-icon fa fa-inr"></i>&nbsp; @Model.DiffAmount</b></td>
                    <td><b>@Model.DiffERP</b></td>
                </tr>
            </table>
        }

    </div>
</div>
