
@model ModelLayer.Models.ViewModel.EzeeMoneyPayoutViewModel
<div class="card">
    <div class="card-header"><strong>Order Wise ERP</strong></div>
    <div class="card-body card-block">
        @if (@Model.isGoClick != true)
        {
            <table>
                <tr>
                    <td> No Data Available... </td>
                </tr>
            </table>
        }
        else
        {
            <table class="table border-table display" id="myTable" >
                <thead>
                    <tr>
                        <th>Sr.No.</th>
                        <th>OrderCode</th>
                        <th>CreateDate</th>

                        <th>TransactionPoints</th>
                        <th>CurrentLevel UserName</th>
                        <th>UpLine1</th>
                        <th>UpLine1     UserName</th>
                        <th>UpLine2</th>
                        <th>UpLine2 UserName</th>
                        <th>UpLine3</th>
                        <th>UpLine3 UserName</th>
                        <th>UpLine4</th>
                        <th>UpLine4 UserName</th>

                        <th>UpLine5</th>
                        <th>UpLine5 UserName</th>

                        <th>UpLine6</th>
                        <th>UpLine6 UserName</th>

                        @if (Model.ListOrderWiseGrid_ERP[0].UpLine7_UserName != null)
                        {

                            <th>UpLine7</th>
                            <th>UpLine7 UserName</th>

                            <th>UpLine8</th>
                            <th>UpLine8 UserName</th>
                            <th>UpLine9</th>
                            <th>UpLine9 UserName</th>

                            <th>UpLine10</th>
                            <th>UpLine10 UserName</th>

                            <th>UpLine11</th>
                            <th>UpLine11 UserName</th>

                            <th>UpLine12</th>
                            <th>UpLine12 UserName</th>

                            <th>UpLine13</th>
                            <th>UpLine13 UserName</th>

                            <th>UpLine14</th>
                            <th>UpLine14 UserName</th>

                            <th>UpLine15</th>
                            <th>UpLine15 UserName</th>

                            <th>UpLine16</th>
                            <th>UpLine16 UserName</th>

                        }
                    </tr>
                </thead>
                <tbody>
                    @{int j = 0;}
                    @foreach(var item in Model.ListOrderWiseGrid_ERP){
                    <tr>
                        <td>  @(j += 1)</td>
                        <td> @item.OrderCode</td>
                        <td>@item.CreateDate</td>

                        <td>@item.TransactionPoints</td>
                        <td>@item.CurrentLevel_UserName</td>
                        <td>@item.UpLine1</td>
                        <td>@item.UpLine1_UserName</td>
                        <td>@item.UpLine2</td>
                        <td>@item.UpLine2_UserName</td>
                        <td>@item.UpLine3</td>
                        <td>@item.UpLine3_UserName</td>
                        <td>@item.UpLine4</td>
                        <td>@item.UpLine4_UserName</td>

                        <td>@item.UpLine5</td>
                        <td>@item.UpLine5_UserName</td>

                        <td>@item.UpLine6</td>
                        <td>@item.UpLine6_UserName</td>

                        @if (Model.ListOrderWiseGrid_ERP[0].UpLine7_UserName != null)
                        {

                        <td>@item.UpLine7</td>
                        <td>@item.UpLine7_UserName</td>

                        <td>@item.UpLine8</td>
                        <td>@item.UpLine8_UserName</td>
                        <td>@item.UpLine9</td>
                        <td>@item.UpLine9_UserName</td>

                        <td>@item.UpLine10</td>
                        <td>@item.UpLine10_UserName</td>

                        <td>@item.UpLine11</td>
                        <td>@item.UpLine11_UserName</td>

                        <td>@item.UpLine12</td>
                        <td>@item.UpLine12_UserName</td>

                        <td>@item.UpLine13</td>
                        <td>@item.UpLine13_UserName</td>

                        <td>@item.UpLine14</td>
                        <td>@item.UpLine14_UserName</td>

                        <td>@item.UpLine15</td>
                        <td>@item.UpLine15_UserName</td>

                        <td>@item.UpLine16</td>
                        <td>@item.UpLine16_UserName</td>

                        }
                    </tr>
                    }
                </tbody>
            </table>
        }

    </div>
</div>

