@model ModelLayer.Models.ViewModel.CategoryProductListReportViewModelList

@{
    ViewBag.Title = "Category Product List Report";
    Layout = "~/Views/Shared/_CategoryLayout.cshtml";
    if (Session["Category"] != null)
    {
        if (Session["Category"].ToString() == "IsCategory")
        {
            Layout = "~/Views/Shared/_CategoryLayout.cshtml";
        }
    }
}


<style>
    .ClaimAmtList table {
        border-collapse: separate;
        width: 800px;
        max-width: 800px;
        overflow-x: scroll;
        display: block;
    }

    .ClaimAmtList thead, .ClaimAmtList tfoot {
        background-color: #EFEFEF;
    }

    .ClaimAmtList thead, .ClaimAmtList tbody, .ClaimAmtList tfoot {
        display: block;
    }

    .ClaimAmtList tbody {
        overflow-y: scroll;
        overflow-x: auto;
        max-height: 350px;
    }

    .ClaimAmtList td, .ClaimAmtList th {
        padding: 5px;
        min-width: 80px;
        height: 25px;
        border: inset 1px lightblue;
        /*overflow: hidden;*/
        text-overflow: ellipsis;
        max-width: 80px;
        /*word-break: break-all;*/
        text-align: center;
    }
</style>



<link href="~/Content/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap-datetimepicker.css" rel="stylesheet" />
<link href="~/Content/assets/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/assets/css/form-design.css" rel="stylesheet" />



<div class="row-fluid">
    @using (Html.BeginForm("GetCategoryProductListReport", "CategoryProductListReport", new { enctype = "multipart/form-data" }, FormMethod.Post, new { id = "Form_" }))
    {
        @Html.ValidationSummary(true)

        <div class="box span12">
            <div class="box-header creatProduct clearfix">
                <h2>
                    <i class="icon-list-alt"></i>
                    <span class="break"></span>
                    Category Product List Report
                </h2>
            </div>
            <div class="box-content nameDscrp">
                <div class="form-horizontal">
                    <div class="NameDescription">
                        <div class="control-group mrg-left">
                            <div class="col-sm-3">
                                Filter by Frenchise
                            </div>
                            @Html.DropDownListFor(model => model.WarehouseID, Model.WarehouseList)
                            @*<div class="col-sm-6">
                                    @if (ViewBag.PossibleSuppliers != null)
                                    {
                                        @Html.DropDownListFor(model => model.WarehouseID, ((IEnumerable<ModelLayer.Models.Supplier>)ViewBag.PossibleSuppliers).Select(option => new SelectListItem
                                    {
                                        Text = (option == null ? "None" : option.Name),
                                        Value = option.ID.ToString(),
                                        Selected = (Model != null) && (option.ID == Model.WarehouseID)
                                    }), "--All Suppliers--")
                                    }
                                </div>*@



                            <div class="span3">

                                @*@Html.DropDownListFor(m => m.FrenchisesID, new SelectList(ViewBag.FrenchiseList));*@
                                @*@Html.DropDownListFor(m=>m.FrenchisesID, ViewBag.FrenchiseList as  SelectList, "Select Franchise", new { @style = "width:auto;", onchange = "this.form.submit();" })*@
                            </div>


                            <div class="span3">
                                @*Added by Priti on 7/10/2018*@

                                @Html.DropDownList("CityList", null, "Select City", new { @style = "width:auto;", onchange = "this.form.submit();" })
                            </div>



                        </div>



                        <div class="control-group mrg-left">
                            <div class="col-sm-3">
                                From Date
                            </div>
                            <div class="col-sm-6">
                                @*@Html.TextBox("FromDate", null, new { @readonly = "readonly", @class = "search", placeholder = "From" })*@
                                @Html.TextBoxFor(model => model.FromDate, "{0:dd/MM/yyyy}", new { @readonly = "readonly", @required = "required" })
                                @Html.HiddenFor(model => model.FromDate)
                            </div>
                        </div>
                        <div class="control-group mrg-left">
                            <div class="col-sm-3">
                                To Date
                            </div>
                            <div class="col-sm-6">
                                @*@Html.TextBox("ToDate", null, new { @readonly = "readonly", @class = "search", placeholder = "To" })*@
                                @Html.TextBoxFor(model => model.ToDate, "{0:MM/dd/yyyy}", new { @readonly = "readonly", @required = "required" })
                                @Html.HiddenFor(model => model.ToDate)
                            </div>
                        </div>

                        @*<div class="control-group mrg-left">
                                <div class="col-sm-3">
                                    Export In
                                </div>
                                <div class="col-sm-6">
                                    @Html.DropDownList("ExportOption", new List<SelectListItem>
                             {
                                     new SelectListItem{ Text="Excel", Value = "1" },
                                     new SelectListItem{ Text="Csv", Value = "2" },
                                     new SelectListItem{ Text="Pdf", Value = "3" }
                            })
                                </div>
                            </div>*@
                        <div class="clr"></div>
                        <button value="Search" type="submit" class="btnRemove btn btn-warning">Search</button>
                        @*<button id="btnPrint" class="btnPrint btn btn-success">Print</button>*@
                        <a id="Print" class="print btn btn-default" href="@Url.Action("GetCategoryProductListReport", "CategoryProductListReport")" target="_blank">Print</a>
                    </div>
                </div>
            </div>
        </div>

    }
    <iframe id="txtArea1" style="display:none"></iframe>

    <button id="btnExport" onclick="fnExcelReport();" class="btnPrint btn btn-success btn-small">EXPORT TO EXCEL</button>
    <div class="box">
        <div class="box-content">
            <div class="NameDescription">
                <div style="overflow-x:scroll; height:500px; background:#ffffff;" id="divToPrint">
                    <table id="headerTable" class="ClaimAmtList" border="1" cellpadding="2" cellspacing="0">
                        <thead>
                            <tr><td style="text-align:center" colspan="12"><h2>Category Product List Report </h2></td></tr>
                            <tr>
                                <th style="min-width: 50px; max-width: 50px; word-break: break-all">Sr.No.</th>

                                <th style="min-width: 95px; max-width: 95px; text-align: left"> SKU_ID </th>
                                <th style="min-width:120px; max-width: 120px; word-break: break-all">SKU Name</th>
                                <th style="text-align:right">SKUUnit</th>
                                <th style="text-align:right">ProductID</th>
                                <th style="min-width: 100px; max-width: 100px; word-break: break-all">
                                    ShopName
                                </th>

                                <th style="min-width: 150px; max-width: 150px; word-break: break-all">Level1CategoryID</th>
                                <th style="min-width: 150px; max-width: 150px; word-break: break-all">Level1Name</th>
                                <th style="min-width: 150px; max-width: 150px; word-break: break-all">Level2CategoryID</th>
                                <th style="min-width: 150px; max-width: 150px; word-break: break-all">Level2Name</th>
                                <th style="min-width: 150px; max-width: 150px; word-break: break-all">Level3CategoryID</th>
                                <th style="min-width: 150px; max-width: 150px; word-break: break-all">Level3Name</th>




                                @*<td style="min-width: 150px; max-width: 150px; text-align: left">@item.SizeName</td>*@
                                <th style=" min-width:120px; max-width: 120px; word-break: break-all">ColorName</th>
                                <th style=" min-width:120px; max-width: 120px; word-break: break-all">MaterialName</th>
                                <th style=" min-width:120px; max-width: 120px; word-break: break-all">DimensionName</th>

                                <th style="text-align:right">Qty</th>
                                <th style="text-align:right">wholesalerate</th>
                                <th style="text-align:right">CostPrice</th>
                                @*<td style="text-align:right">@item.UsualDeliveryTime</td>*@
                                <th style="text-align:center">MRP</th>
                                <th style="text-align:right"> SaleRate</th>

                                <th style="text-align:right">CreateDate  </th>
                                @*<th style="text-align:right"> Create Date</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var i = 1;
                            }
                            @*@foreach (var item in Model)*@

                            @foreach (var item in Model.lCategoryProductListReportViewModel)
                            {
                                <tr>
                                    <td style="text-align: center; min-width: 50px; max-width: 50px; word-break: break-all">
                                        @i
                                        @{
                                            i = i + 1;
                                        }
                                    </td>
                                    @*<td style="min-width: 100px; max-width: 100px; word-break: break-all;">*@
                                    @*@(item.PurchaseOrderCode == null ? "" : item.PurchaseOrderCode)*@
                                    @*<a id="Print" style="color: #3C73DC; font-weight: bold; " href="@Url.Action("PrintOrder", "PurchaseOrders", new { id = @item.PurchaseOrderID })" target="_blank">@(item == null ? "" : item.PurchaseOrderCode)</a>
                                        </td>*@
                                    <td style="min-width: 95px; max-width: 95px; text-align: left"> @item.SKU_ID </td>
                                    <td style="min-width:120px; max-width: 120px; word-break: break-all">@item.ProductName</td>
                                    <td style="text-align:right">@item.SKUUnit</td>
                                    <td style="text-align:right">@item.ProductID</td>
                                    <td style="min-width: 100px; max-width: 100px; word-break: break-all">
                                        @item.ShopName
                                    </td>

                                    <td style="min-width: 150px; max-width: 150px; word-break: break-all">@item.Level1CategoryID</td>
                                    <td style="min-width: 150px; max-width: 150px; word-break: break-all">@item.Level1Name</td>
                                    <td style="min-width: 150px; max-width: 150px; word-break: break-all">@item.Level2CategoryID</td>
                                    <td style="min-width: 150px; max-width: 150px; word-break: break-all">@item.Level2Name</td>
                                    <td style="min-width: 150px; max-width: 150px; word-break: break-all">@item.Level3CategoryID</td>
                                    <td style="min-width: 150px; max-width: 150px; word-break: break-all">@item.Level3Name</td>




                                    @*<td style="min-width: 150px; max-width: 150px; text-align: left">@item.SizeName</td>*@
                                    <td style=" min-width:120px; max-width: 120px; word-break: break-all">@item.ColorName</td>
                                    <td style=" min-width:120px; max-width: 120px; word-break: break-all">@item.MaterialName</td>
                                    <td style=" min-width:120px; max-width: 120px; word-break: break-all">@item.DimensionName</td>

                                    <td style="text-align:right">@item.Qty</td>
                                    <td style="text-align:right">@item.wholesalerate</td>
                                    <td style="text-align:right">@item.CostPrice</td>
                                    @*<td style="text-align:right">@item.UsualDeliveryTime</td>*@
                                    <td style="text-align:center">@item.MRP</td>
                                    <td style="text-align:right"> @item.SaleRate</td>

                                    <td style="text-align:right">@item.CreateDate  </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        $('#ToDate').datepicker({ dateFormat: 'mm/dd/yy', maxDate: 'now' });
        $('#FromDate').datepicker({ dateFormat: 'mm/dd/yy' });


        //$("#Export").on('click', function () {
        //    var WarehouseID = $("select#WarehouseID option:selected").val();

        //    var print = 0;
        //    var option = 0;
        //    //var WarehouseID = 0

        //    if ($("select#WarehouseID option:selected").val() > 0) {
        //        WarehouseID = $("select#WarehouseID option:selected").val();
        //    }

        //    if ($("select#ExportOption option:selected").val() > 0) {
        //        option = $("select#ExportOption option:selected").val();
        //    }
        //    var toDate = $('#ToDate').val();
        //    var fromDate = $('#FromDate').val();

        //    window.location.href = "/OutOfStockReport/Export?&FromDate=" + fromDate + "&ToDate=" + toDate + "&option=" + option + "&WarehouseID=" + WarehouseID;

        //});
    });
</script>


    <
<script type="text/javascript">
    function fnExcelReport() {
        var tab_text = "<table border='2px'><tr bgcolor='#87AFC6'>";
        var textRange; var j = 0;
        tab = document.getElementById('headerTable'); // id of table


        for (j = 0; j < tab.rows.length; j++) {
            tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
            //tab_text=tab_text+"</tr>";
        }

        tab_text = tab_text + "</table>";
        tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
        tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
        tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE ");

        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
        {
            txtArea1.document.open("txt/html", "replace");
            txtArea1.document.write(tab_text);
            //txtArea1.document.AddHeader("PURCHASE ORDER HISTORY")
            txtArea1.document.close();
            txtArea1.focus();
            sa = txtArea1.document.execCommand("SaveAs", true, "Say Thanks to Sumit.xls");
        }
        else                 //other browser not tested on IE 11
            sa = window.open('data:application/vnd.ms-excel,' + 'filename=CategoryProductListReport.xls,' + encodeURIComponent(tab_text));

        return (sa);
    }

</script>




@*<script type="text/javascript">
        $(function () {
            $("#Search").click(function () {
                var WarehouseID = $("select#WarehouseID option:selected").val();
                //window.location = "/WastageReport/WastageReportNotePrint?WarehouseID=" + WarehouseID;
                window.location = "/OutOfStockReport/GetOutOfStockReport?WarehouseID=" + WarehouseID;
            });
        });

    </script>*@
