@model ModelLayer.Models.MerchantSelfCBPoints
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LeadersLayout.cshtml";
}

<script src="~/Scripts/MerchantMenuOpenup.js"></script>
<style>
    .form-control-label {
        width: 100px !important;
    }
</style>
<div class="container">
    @using (Html.BeginForm("MerchantSelfCBPointsCreate", "MerchantMaster", FormMethod.Post, new { id = "frm" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="card">
            <div class="card-header">
                <strong>Self CBPoints Master</strong>
            </div>
            <div class="card-body card-block">
                <span style="color:red">Please select city name only from list</span>
                <div class="form-group">
                    <label for="company" class=" form-control-label">City</label>
                    @Html.TextBoxFor(model => model.City)
                    @Html.ValidationMessageFor(model => model.City, null, new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.CityId)
                </div>
                <div class="form-group">
                    <label for="company" class=" form-control-label">CBPoints</label>
                    @Html.TextBoxFor(model => model.CBPoints, new { style = "width:100px" })
                    @Html.ValidationMessageFor(model => model.CBPoints, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="company" class=" form-control-label">IsActive</label>
                    @Html.EditorFor(model => model.IsActive)
                    @Html.ValidationMessageFor(model => model.IsActive)
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-primary btn-sm" />
                        <a class="btn btn-info btn-sm" href="@Url.Action("MerchantSelfCBPointsList", "MerchantMaster", new { area = "Admin" })">Back To List</a>
                    </div>
                </div>
            </div>

        </div>
    }
</div>
<script>
    $(document).ready(function () {
        $("#City").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Admin/MerchantMaster/CityList',
                    data: "{ 'prefix': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return item;
                        }))
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (e, i) {
                $("#CityId").val(i.item.val);
            },
            minLength: 1
        });

        $("#frm").submit(function (e) {
            if ($("#CityId").val() == 0) {
                alert("Please Select City from List");
                e.preventDefault();
            }
        });
    });
</script>


