@model ModelLayer.Models.ViewModel.MerchantUserDashboardViewModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LeaderUsersLayout.cshtml";
}

<div class="wrapper">
    <section class="container-fluid mainContent">
        <div class="mainContentInner">
            <div class="mainContentinnerPartMain">
                <div class="mainContentinnerPartlastInnerRow">
                    <div class="mainContentinnerPartfirstrow-boxsmallSizeBox">
                        <h3>Relationship Manager ERP</h3>
                        <div class="innermiddleRowContent">
                            <figure id="imgActive">
                                <img src="~/Templates/UsersTemplate/img/my-2.jpg" />
                            </figure>
                            <span>
                                <a target="_blank" href="@Url.Action("GetReport", "MerchantUserDashboard",new { L = -1})"> @Model.RM </a>
                            </span>
                        </div>
                    </div>
                    <div class="mainContentinnerPartfirstrow-boxsmallSizeBox">
                        <h3>CashbackPoint On Self Purchase </h3>
                        <div class="innermiddleRowContent">
                            <figure id="imgActive">
                                <img src="~/Templates/UsersTemplate/img/my-2.jpg" />
                            </figure>
                            <span>
                                <a target="_blank" href="@Url.Action("GetReport", "MerchantUserDashboard",new { L = 0})"> @Model.L0</a>
                            </span>
                        </div>
                    </div>
                    <div class="mainContentinnerPartfirstrow-boxsmallSizeBox">
                        <h3>Network ERP</h3>
                        <div class="innermiddleRowContent">
                            <figure id="imgActive">
                                <img src="~/Templates/UsersTemplate/img/my-2.jpg" />
                            </figure>
                            <span><a target="_blank" href="@Url.Action("GetReport", "MerchantUserDashboard",new { L = 1})"> @Model.L6</a></span>
                        </div>
                    </div>
                    <div class="mainContentinnerPartfirstrow-boxsmallSizeBox lastmaininner" style="border-color:#dd5252">
                        <h3 style="color:#dd5252 !important;">Unrealised ERP</h3>
                        <div class="innermiddleRowContent">
                            <figure>
                                <img src="~/Templates/UsersTemplate/img/right_img-1.jpg" style="width:120%;height:110%" />
                            </figure>
                            <span style="color:#dd5252 !important;"><a target="_blank" href="@Url.Action("GetReport", "MerchantUserDashboard",new { L = 2})"> @Model.Unpaid</a></span>
                        </div>
                    </div>
                </div>
                <div class="mainContentinnerPartMiddleRow">
                    <div class="mainContentinnerPartfirstrow-boxsmallSizeBox">
                        <h3>Days Left </h3>
                        <div class="innermiddleRowContent">
                            <figure>
                                <img src="~/Templates/UsersTemplate/img/total-4.png " />>&nbsp;&nbsp;
                            </figure>
                            <span>@Model.Days Day </span>
                        </div>
                    </div>
                    <div class="mainContentinnerPartfirstrow-boxsmallSizeBox">
                        <h3>Pending Ezee Money</h3>
                        <div class="innermiddleRowContent">
                            <figure id="imgActive">
                                <img src="~/Templates/UsersTemplate/img/my-2.jpg" />
                            </figure>
                            <span> @Model.PendingEzeeMoney</span>
                        </div>
                    </div>
                    <div class="mainContentinnerPartfirstrow-boxsmallSizeBox">
                        <h3>Ezee Money</h3>
                        <div class="innermiddleRowContent">
                            <figure id="imgActive">
                                <img src="~/Templates/UsersTemplate/img/my-2.jpg" />
                            </figure>
                            <span><a target="_blank" href="@Url.Action( "Index","WalletSummary")"> @Model.EzeeMoney</a></span>
                        </div>
                    </div>
                    <div class="mainContentinnerPartfirstrow-boxsmallSizeBox lastmaininner" style="border-color:#dd5252">
                        <h3 style="color:#dd5252 !important;">Inactive Points</h3>
                        <div class="innermiddleRowContent">
                            <figure>
                                <img src="~/Templates/UsersTemplate/img/right_img-1.jpg" style="width:120%;height:110%" />
                            </figure>
                            <span style="color:#dd5252 !important;"> @Model.InactivePoints</span>
                        </div>
                    </div>
                </div>
                <div class="mainContentinnerPartMiddleRow">
                    <div class="mainContentinnerPartfirstrow-boxsmallSizeBox" style="border-color:#dd5252">
                        <h3 style="color:#dd5252 !important;">Pending Bill Amount</h3>
                        <div class="innermiddleRowContent">
                            <figure>
                                <img src="~/Templates/UsersTemplate/img/right_img-3.jpg" style="width:120%;height:110%" />
                            </figure>
                            <span ><a target="_blank" href="@Url.Action("GetReport", "MerchantUserDashboard",new { L = 3})"> @Model.PendingTransAmount</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
