@model ModelLayer.Models.SchemeBudget

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SchemeBudget</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReferAndEarnSchema.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferAndEarnSchema.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BudgetAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BudgetAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreRemainingAmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreRemainingAmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreUsedAmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreUsedAmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActionStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifyBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifyBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetworkIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetworkIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
