@model IEnumerable<ModelLayer.Models.SchemeBudgetTransaction>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid" style="margin-top:20px;margin-left:15px;">
    <div class="box span12">
        <div class="box-header">
            <h2><i class="icon-edit"></i><span class="break"></span>@Html.ActionLink("Create New", "Create")</h2>
        </div>
        <div class="box-content">
            <div class="row " style="width: 100%; height: auto; overflow: auto; margin: 5px;">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ReferAndEarnSchema.Name)
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.BudgetAmount)*@
                            Total Budget Amount
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.PreRemainingAmt)*@
                            Remaining Amount
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ExpiryDate)
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.ExpiryDate)
                        </th>*@
                        @*<th>
                    @Html.DisplayNameFor(model => model.ActionStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifyDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifyBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NetworkIP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeviceType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeviceID)
                </th>*@
                        @*<th></th>*@
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReferAndEarnSchema.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalBudgetAmt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RemainingAmt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExpiryDate)
                            </td>
                            @*<td>
                        @Html.DisplayFor(modelItem => item.ExpiryDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActionStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifyDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifyBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NetworkIP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeviceType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeviceID)
                    </td>*@
                            @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.ID })
                    </td>*@
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>

