@model ModelLayer.Models.LedgerHead

@{
    ViewBag.Title = "Create";
}

<div id="content" class="span10" style="min-height: 395px;">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="">Ledger Head</a>
            @*<i class="icon-angle-right"></i>*@
        </li>

    </ul>
    <div class="row-fluid">
        <div class="box span6">
            <div class="box-header">
                <h2><i class="icon-list-alt"></i><span class="break"></span> Create</h2>
            </div>
            <div class="box-content">
                <div class="row">
                    <div class="span12">
                        <div class="widget">
                            @*<div class="widget-header">
                                <i class="icon-list-alt"></i>
                                <h3> Create [ Ledger Head ]</h3>
                            </div>*@
                            <!-- /widget-header -->
                            <div class="widget-content">
                                <div class="widget big-stats-container">
                                    <div class="widget-content">
                                        @using (Html.BeginForm())
                                        {
                                            @Html.AntiForgeryToken()

                                            <div class="form-horizontal">
                                                @Html.ValidationSummary(true)

                                                <div class="control-group">
                                                    <span class="control-label">
                                                        Ladger
                                                    </span>
                                                    <div class="controls">
                                                        @Html.EditorFor(model => model.Name)
                                                        @Html.ValidationMessageFor(model => model.Name)
                                                    </div>
                                                </div>

                                                <div class="control-group">
                                                    <span class="control-label">
                                                        Account Head
                                                    </span>
                                                    <div class="controls">
                                                        @Html.DropDownList("AccountingHeadID", String.Empty)
                                                        @Html.ValidationMessageFor(model => model.AccountingHeadID)
                                                    </div>
                                                </div>

                                                <div class="control-group">
                                                    <span class="control-label">
                                                        IsActive
                                                    </span>
                                                    <div class="controls">
                                                        @Html.EditorFor(model => model.IsActive)
                                                        @Html.ValidationMessageFor(model => model.IsActive)
                                                    </div>
                                                </div>

                                                <div class="form-action" style="padding-left:180px;">
                                                    <div class="col-md-offset-2 col-md-10">
                                                        <input type="submit" value="Create" class="btn btn-success" />
                                                        @Html.ActionLink("Back to List", "Index", string.Empty, new { @class = "btn" })
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                        @*<div>
                                            @Html.ActionLink("Back to List", "Index")
                                        </div>*@
                                    </div>
                                </div>
                                <!-- /widget-content -->
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
