@model IEnumerable<ModelLayer.Models.LedgerHead>

@{
    ViewBag.Title = "Index";
}


<div id="content" class="span10" style="min-height: 395px;">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="">List [ Ladger Head ]</a>
            @*<i class="icon-angle-right"></i>*@
        </li>

    </ul>
    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header">
                <h2><i class="icon-list-alt"></i><span class="break"></span> @Html.ActionLink("Create New", "Create")</h2>
            </div>
            <div class="box-content">
                <div class="row">
                    <div class="span12" id="divtable">
                        <div class="widget">
                            @*<div class="widget-header">
                                <i class="icon-list-alt"></i>
                                <h3> List [ Ladger Head ]</h3>
                            </div>*@
                            <!-- /widget-header -->
                            <div class="widget-content">
                                <div class="widget big-stats-container">
                                    <div class="widget-content matchdivheight">
                             
                                        <table class="table table-striped table-bordered" style="margin-left:15px;">
                                            <tr>

                                                <th>
                                                    Ladger Head
                                                </th>
                                                <th>
                                                    Accounting Head
                                                </th>

                                                <th>
                                                    IsActive
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.CreateDate)
                                                </th>
                                                <th></th>
                                            </tr>

                                            @foreach (var item in Model)
                                            {
                                                <tr>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.AccountingHead.Name)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.IsActive)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CreateDate)
                                                    </td>

                                                    <td>
                                                        @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                                        @Html.ActionLink("Details", "Details", new { id = item.ID })*@
                                                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-small btn-success" })
                                                        @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-small btn-primary" })
                                                    </td>
                                                </tr>
                                            }

                                        </table>
                                    </div>
                                    <!-- /widget-content -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /span12 -->
                </div>
            </div>
            </div>
        </div>
    </div>
