@model ModelLayer.Models.WishList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WishList</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonalDetail.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalDetail.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalDetail1.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalDetail1.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShopStock.NetworkIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShopStock.NetworkIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserLogin.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserLogin.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetworkIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetworkIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
