@model List<MLMUserViewModel>

<table id="mlmUserTable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
    <thead>
        <tr>
            <th>Network Report</th>
            <th>Full Name</th>
            <th>Designation</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Create Date</th>
            <th>Referal ID</th>
            <th>Level</th>
            <th>Join Date</th>
            <th>Activate Date Ref</th>
            <th>Refered By</th>
            <th>Parent Name</th>
            @*<th>RP</th>
            <th>Left QRP</th>
            <th>ERP</th>*@
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td><a href="@Url.Action("Index", "NetworkReport", new { id = item.UserID ,area="Admin"})">Network Report</a></td>
                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                <td>@Html.DisplayFor(modelItem => item.Designation)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Mobile)</td>
                <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
                <td>@Html.DisplayFor(modelItem => item.Ref_Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Level)</td>
                <td>@Html.DisplayFor(modelItem => item.Join_date_ref)</td>
                <td>@Html.DisplayFor(modelItem => item.Activate_date_ref)</td>
                <td>@Html.DisplayFor(modelItem => item.Refered_Id_ref)</td>
                <td>@Html.DisplayFor(modelItem => item.ParentName)</td>
                @*<td>@Html.DisplayFor(modelItem => item.RP)</td>
                <td>@Html.DisplayFor(modelItem => item.LeftQRP)</td>
                <td>@Html.DisplayFor(modelItem => item.ERP)</td>*@
            </tr>
        }
    </tbody>
</table>



