@model ModelLayer.Models.ViewModel.EmployeeManagement

@{
    ViewBag.Title = "Delete";
}

@*<h2>Delete</h2>*@

<h3>Are you sure you want to delete this?</h3>
<div id="content" class="span10" style="min-height: 400px;">
    
    <div class="row-fluid sortable ui-sortable">
        <div class="box span12">
            <div data-original-title="" class="box-header">
                <h2><i class="icon-group"></i><span class="break"></span>EmployeeManagement</h2>

            </div>
            <div class="box-content">
                <div>
                     <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            Login ID
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UserLoginID)
                        </dd>

                        <dt>
                            Employee Code
                          </dt>

                        <dd>
                            @Html.DisplayFor(model => model.EmployeeCode)
                        </dd>

                        <dt>
                            Owner
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.OwnerID)
                        </dd>

                        <dt>
                            Salutation
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SalutationID)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FirstName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.MiddleName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.MiddleName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.LastName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LastName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DOB)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DOB)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Gender)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Gender)
                        </dd>

                        <dt>
                            Pincode
                          </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PincodeID)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Address)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Address)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Mobile)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Mobile)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.IsLocked)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.IsLocked)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.IsActive)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-danger" /> |
                            @Html.ActionLink("Back to List", "Index", string.Empty, new { @class = "btn" })
                        </div>
                    }
                </div>
            </div>
            </div>
        </div>
    </div>
