@model ModelLayer.Models.ViewModel.EmployeeManagement

@{
    ViewBag.Title = "Details";
}

<div id="content" class="span10" style="min-height: 400px;">
    
    <div class="row-fluid ui-sortable">
        <div class="box span12">
            <div class="box-header">
                <h2><i class="icon-group"></i><span class="break"></span>Employee Management</h2>

            </div>
            <div class="box-content">
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.UserLoginID)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UserLoginID)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.EmployeeCode)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.EmployeeCode)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.OwnerID)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.OwnerID)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.SalutationID)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SalutationID)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FirstName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.MiddleName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.MiddleName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.LastName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LastName)
                        </dd>



                        <dt>
                            @Html.DisplayNameFor(model => model.Gender)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Gender)
                        </dd>



                        <dt>
                            @Html.DisplayNameFor(model => model.Address)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Address)
                        </dd>
                 

                        <dt>
                            @Html.DisplayNameFor(model => model.Mobile)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Mobile)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.IsLocked)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.IsLocked)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.IsActive)
                        </dd>

                        <div class="form-actions">

                            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-danger" })
                            @Html.ActionLink("Back to List", "Index", string.Empty, new { @class = "btn" })
                            </div>
                    </dl>
                </div>
                </div>
            </div>
        </div>
    </div>
    @*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
