@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<link href="~/Content/css/BeatPicker.min.css" rel="stylesheet" />
<script src="~/Content/js/jquery-1.11.0.min.js"></script>
<script src="~/Content/js/BeatPicker.js"></script>
<link href="~/Content/assets/css/style.css" rel="stylesheet" />
<script src="~/Content/js/jquery-1.9.1.min.js"></script>
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link href="~/Content/assets/css/form-design.css" rel="stylesheet" />

<div class="row-fluid">
    <div class="box span12">
        <div class="box-header creatProduct clearfix" data-original-title="">
            <h2>
                <i class="icon-exclamation-sign"></i>
                <span class="break"></span>
                Something Went Wrong
            </h2>
        </div>
        <div id="content" class="span10">
            <div class="row-fluid">
                <div class="box span12">
                    <div class="box-content">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <h1>Please Contact with Administrator</h1>
                                <p> <b>Details</b></p>
                                <p>
                                    <b>Controller:</b> @Model.ControllerName
                                </p>
                                <p>
                                    <b>Action:</b> @Model.ActionName
                                </p>
                                <p>
                                    <b> Exception:</b> @Model.Exception
                                </p>
                                <p>
                                    <b> Exception Message:</b> @Model.Exception.Message
                                </p>
                                @*<p>
                                    <b> Exception Message:</b> @Model.Exception.InnerException.Message
                                </p>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

