@model ModelLayer.Models.ViewModel.MerchantRegisterViewModel
<!DOCTYPE html>
<html>
<head>

    <!-- start: Meta -->
    <meta charset="utf-8">
    <title>Inventory.eZeelo</title>
    <meta name="description" content="Bootstrap Metro Dashboard">
    <meta name="author" content="Dennis Ji">
    <meta name="keyword" content="Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <!-- end: Meta -->
    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->
    <!-- start: CSS -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
    <!-- end: CSS -->
    <link rel="icon" href="~/Content/Logo/logo.png">
    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if IE 9]>
        <link id="ie9style" href="css/ie9.css" rel="stylesheet">
    <![endif]-->
    <link href="~/Content/assets/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />

    @*<link href="~/Content/assets/css/animate.css" rel="stylesheet" />*@
    <link href="~/Content/assets/css/bootstrap.css" rel="stylesheet" />
    @*<link href="~/Content/assets/css/font-awesome.min.css" rel="stylesheet" />*@
    @*<link href="~/Content/assets/css/prettyPhoto.css" rel="stylesheet" />*@
    <link href="~/Content/assets/css/media-login.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .text-box {
        }

        h2 {
            color: #fff;
        }

        .wdth-small {
            width: 74px;
        }

        .wdth-mid {
            width: 125px;
        }

        .wdth-large {
            width: 163px;
        }

        .mrg-leftSm {
            margin-left: 2px;
        }

        .mrg-top {
            margin-top: 10px;
        }


        .login-div {
            float: right;
            margin-top: 10px;
        }

        .login-btn {
            width: 59px !important;
        }

        .login-div input {
            width: 222px;
        }

        .login-div .form-control {
            height: 25px !important;
            padding: 4px 12px;
            font-size: 14px;
            line-height: 1.42857;
            color: #ECE3E3;
            background-color: #414242;
        }

        input#Login {
            padding: 2px 12px;
        }

        .pull-right.Forget_password_ {
            margin: 5px 0 0 0;
        }

            .pull-right.Forget_password_ a.link.linkpadding {
                text-decoration: none;
            }

                .pull-right.Forget_password_ a.link.linkpadding:hover {
                    color: #0f6bb2;
                }

        .login-div form .breadcrumbs.dark.pull-left {
            color: #ff1100 !important;
            background: none;
            border: none;
            position: absolute;
            top: 34%;
            left: 22%;
            font-size: 11px;
        }

        #testimonials {
            min-height: 318px;
        }

        .color-dark {
            color: #808080 !important;
        }

        .breadcrumbs {
            color: #F57C95 !important;
        }

        .tagline {
            float: left;
            width: 30%;
            padding: 5px 10px;
            font-size: 20px;
            margin-top: 1px;
        }

            .tagline a {
                color: #00F100 !important;
            }

                .tagline a:hover {
                    color: #fff !important;
                }

        .login-div {
            float: right !important;
            margin-top: 0 !important;
        }

            .login-div form {
                float: left;
            }
        div#ForgetPasswordDiv form {
            float: none;
        }
        .forgotCover {
            display: none;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
            z-index: 9;
            position: fixed;
            top: 0;
            left: 0;
        }

        #ForgetPasswordDiv {
            position: fixed;
            width: 600px;
            top: 20%;
            left: 25%;
            z-index: 99;
            height: 320px;
            padding: 20px;
            border: 5px solid #ccc;
            border-radius: 15px;
            background: #fff;
            display: none;
        }

            #ForgetPasswordDiv ul {
                margin: auto;
                width: 100%;
                padding: 0;
            }
        section.form_forget_password {
            padding: 5% 0 0 0;
        }
        div#ForgetPasswordDiv .GetPassword_submit_BTN {
            margin-top: 2%;
            width: 100%;
            display: inline-block;
        }
            div#ForgetPasswordDiv .GetPassword_submit_BTN a#GetPassword {
                padding: 1% 5%;
            }
            #ForgetPasswordDiv li {
                line-height: 12px;
                display: block;
                float: none;
                width: 100%;
                margin: 2% 0;
            }

                #ForgetPasswordDiv li span {
                    font-size: 20px;
                    color: #000;
                    display: block;
                    text-align: center;
                }

                #ForgetPasswordDiv li label {
                    color: #000;
                    text-shadow: none;
                }

                #ForgetPasswordDiv li input {
                    width: 100%;
                    border-radius: 10px;
                }

                    #ForgetPasswordDiv li input:focus {
                        box-shadow: 0 0 6px #0094ff;
                    }

            #ForgetPasswordDiv div .btn {
            }

            #ForgetPasswordDiv div {
                text-align: center;
                clear: both;
            }

        .closeA {
            float: right;
            position: absolute;
            right: 5px;
            top: 2px;
            z-index: 100;
            font-size: 20px;
        }

        .msgSuccess {
            color: #ff6a00;
            text-shadow: none;
        }

        #ForgetPasswordDiv h2 {
            background: rgba(204, 204, 204, 0.4);
            color: #000;
            position: absolute;
            top: 0;
            left: 0;
            padding: 2px;
            line-height: 30px;
            width: 100%;
            text-align: center;
            margin-top: 0;
            text-shadow: none;
        }

        .navbar-inner .ForgetAnchor {
            color: #fff;
            text-shadow: none;
        }
    </style>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".forgotLink a").click(function () {
                if ($(".forgotCover").css('display') == 'none') {
                    $(".forgotCover").css('display', 'block');
                    $("#ForgetPasswordDiv").css('display', 'block');
                } else {
                    $(".forgotCover").css('display', 'none');
                    $("#ForgetPasswordDiv").css('display', 'none');
                }
            });
            $(".closeA").click(function () {
                $(".forgotCover").css('display', 'none');
                $("#ForgetPasswordDiv").css('display', 'none');
            });
        });
    </script>

</head>
<body>
    <div id="pre-div">
        <div id="loader">
        </div>
    </div>
    <!-- start: Header -->
    <header>
        <div class="navbar navbar-default navbar-fixed-top move-me ">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-4 col-md-4 col-sm-6 ">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="logo_">
                            <figure><img src="~/Content/Logo/logo1.png" class="navbar-brand-logo img-responsive" alt="" /></figure>
                        </div>

                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-9">
                        <div class="tagline">
                            @*<img src="~/Content/img/arrowkk2.gif" style="width:26px; height:26px;" /><a href="http://159.122.132.216/Merchant_app/merchantapp.apk" class="">Download App</a>*@
                        </div>
                        <div class="login-div">
                            @*@using (Html.BeginForm())*@
                            @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {

                                @Html.TextBoxFor(model => model.loginViewModel.UserName, new { @placeholder = "UserName", @class = "form-control  pull-left wdth-mid mrg-leftSm", name = "userName", required = "required" })
                                @Html.ValidationMessageFor(model => model.loginViewModel.UserName)
                                @Html.TextBoxFor(model => model.loginViewModel.Password, new { @placeholder = "Password", @class = "form-control  pull-left wdth-mid mrg-leftSm", type = "password", name = "Password", required = "required" })
                                @Html.ValidationMessageFor(model => model.loginViewModel.Password)
                                @*<input type="text" class="form-control pull-left wdth-large mrg-leftSm" required="required" placeholder="User Name">
                                    <input type="text" class="form-control pull-left wdth-large mrg-leftSm" required="required" placeholder="Password">*@
                                @*<button type="submit" id="Login" value="Login" class="btn btn-success mrg-leftSm">Login</button>*@
                                <input name="submit" type="submit" id="Login" value="Login" class="btn btn-success mrg-leftSm login-btn" />

                                <div class="clearfix"></div>
                                if (TempData["Message"] != null)
                                {
                                    <div class="breadcrumbs dark  pull-left">
                                        @TempData["Message"]
                                    </div>
                                }


                            }
                            @*<div class="forgotLink" style="float: right; margin-right: 72px; margin-top: -19px; color: #fff;">
                                    @Ajax.ActionLink("Forget Password", "ForgetPassword", null, new AjaxOptions
                                           {
                                               HttpMethod = "GET",
                                               UpdateTargetId = "ForgetPasswordDiv",
                                               InsertionMode = InsertionMode.Replace

                                           }, new { @class = "ForgetAnchor" })

                                </div>*@

                            <div class="pull-right forgotLink" style="margin-right:64px;">
                                @Ajax.ActionLink("Forget Password", "ForgetPassword", null, new AjaxOptions
                                      {
                                          HttpMethod = "GET",
                                          UpdateTargetId = "ForgetPasswordDiv",
                                          InsertionMode = InsertionMode.Replace

                                      }, new { @class = "ForgetAnchor" })
                                @*<p style="color:#fff;"><a href="#">Forgot Password?</a></p>*@

                                @*@Html.ActionLink(" Forgot Password ", "Edit", "ForgotPassword", null, new { @class = "link linkpadding" })*@
                            </div>
                            <div class="clr"></div>

                            <div class="forgotCover"></div>
                            <div id="ForgetPasswordDiv">

                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>
    </header>


    <div class="body-content">
        @RenderBody()
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- start: JavaScript-->
    <!-- start: JavaScript-->
    <!--  Jquery Core Script -->
    <script src="~/Content/assets/js/wow.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.js"></script>
    <script src="~/Content/assets/js/custom.js" defer="defer"></script>
    <script src="~/Content/assets/js/jquery-1.10.2.js"></script>
    <script src="~/Content/assets/js/jquery.easing.min.js"></script>
    <script src="~/Content/assets/js/jquery.prettyPhoto.js"></script>

</body>
</html>
