@model ModelLayer.Models.Category

@{
    ViewBag.Title = "Details";
}
<br />
<div class="row-fluid" style="margin-left:15px;">
    <div class="box span12">
        <div class="box-header">
            <h2><i class="icon-edit"></i><span class="break"></span>Detail Level Three Category</h2>
        </div>
        <div class="box-content">
            <form class="form-horizontal">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="focusedInput">Parent Category</label>
                        <div class="controls">
                            @*<input class="input-xlarge focused" id="focusedInput" type="text" value="This is focused…">*@
                            @Html.DisplayFor(model => model.Category2.Name)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="focusedInput">City Name</label>
                        <div class="controls">
                            @*<input class="input-xlarge focused" id="focusedInput" type="text" value="This is focused…">*@
                            @Html.DisplayFor(model => model.Name)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="focusedInput">Level</label>
                        <div class="controls">
                            @*<input class="input-xlarge focused" id="focusedInput" type="text" value="This is focused…">*@
                            @Html.DisplayFor(model => model.Level)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="focusedInput">Description</label>
                        <div class="controls">
                            @*<input class="input-xlarge focused" id="focusedInput" type="text" value="This is focused…">*@
                            @Html.DisplayFor(model => model.Description)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="focusedInput">Search Keyword</label>
                        <div class="controls">
                            @*<input class="input-xlarge focused" id="focusedInput" type="text" value="This is focused…">*@
                            @Html.DisplayFor(model => model.SearchKeyword)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="optionsCheckbox2">Is Active</label>
                        <div class="controls">
                            <label class="checkbox">
                                @Html.DisplayFor(model => model.IsActive)
                            </label>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="optionsCheckbox2">Is Expire</label>
                        <div class="controls">
                            <label class="checkbox">
                                @Html.DisplayFor(model => model.IsExpire)
                            </label>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="optionsCheckbox2">Expiry Date</label>
                        <div class="controls">
                            <label class="checkbox">
                                @Html.DisplayFor(model => model.ExpiryDate)
                            </label>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" value="Create" class="btn btn-primary">@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) </button>
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
                    </div>
                </fieldset>
            </form>

        </div>
    </div><!--/span-->

</div>




@*<div>
        <h4>Category</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Category2.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category2.Name)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Level)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Level)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SearchKeyword)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SearchKeyword)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>


        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
