
@{
    ViewBag.Title = "AddMoreCategory";
}
@using (Html.BeginForm("AddMoreCategory", "FranchisePlanManagement", null, FormMethod.Post))
{
    <div class="row-fluid " style="margin-top:20px;margin-left:15px;">
        <div class="box span12">
            <div class="box-header">
                <h2><i class="icon-edit"></i><span class="break"></span>Add More Category</h2>

            </div>


            @Html.ValidationSummary(false)

            <div class="box-content">
                <div class="span12">
                    <div class="control-group span4">
                        <span class="control-label">Select Master Plan</span>
                        @Html.Hidden("PlanID")
                        @Html.DropDownList("MasterPlan", "Select Plan")
                        <span id="pMessage" style="color:red;font-weight:bold;"></span>
                    </div>
                    <div class="control-group span4">
                        <span class="control-label">Select Category</span>
                        @Html.DropDownList("Category", "Select Category")
                        <span id="pMessageCategory" style="color:red;font-weight:bold;"></span>
                    </div>
                    <div class="span4 mrgBtm">
                        <input type="submit" id="btnSubmit" class="btn btn-success" />
                    </div>
                </div>
                @if (ViewBag.Message != null)
                {
                    <span style="font-weight:bold;color:red">@ViewBag.Message</span>
                }
               
            </div>
        </div>
    </div>
}
<div class="form-actions" style="margin-left:15px;">

    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
</div>

<script src="~/Content/js/jquery-2.1.3.min.js"></script>
<script>
    //$(document).ready(function () {
    //    var selectedVal = $("#MasterPlan option:selected").val();
    //    var categoryid = $('#Category option:selected').val();
    //    $('#btnSubmit').click(function () {
    //        alert(selectedVal);

    //        alert(categoryid);
            
    //        if (selectedVal <= 0) {
    //            $('#pMessage').text('Please select the Plan');
    //            return false;
    //        }
    //        if (categoryid <= 0) {
    //            $('#pMessageCategory').text('Please select category');
    //            return false;
    //        }
    //        return false;
    //    });
    //});
 </script>