@model ModelLayer.Models.DesignBlockType

@{
    ViewBag.Title = "Create";
}
<style>
    .box-header h3 {
        line-height: 0px;
    }
</style>
<div id="content" class="span10">
    <ul class="breadcrumb">
        <li>
            <a href="#">Design Block Type/Create</a>
        </li>
    </ul>

    <div class="row-fluid">

        <div class="box span12">
            <div class="box-header">
                <h3>Create</h3>
            </div>
            <div class="box-content">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true)

                        <div class="control-group">
                            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                            <div class="col-md-10 controls">
                                @Html.EditorFor(model => model.Name)
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>

                        @*<div class="control-group">
                            @Html.LabelFor(model => model.ImageExtension, "Image Extension", new { @class = "control-label col-md-2" })
                            <div class="col-md-10 controls">
                                @Html.DropDownList("ImageExtension", new List<SelectListItem> {
                           new SelectListItem{ Text="jpg", Value = "jpg" },
                           new SelectListItem{ Text="png", Value = "png" },
                           new SelectListItem{ Text="gif", Value = "gif" } })
                            </div>
                        </div>*@

                        <div class="control-group">
                            @Html.LabelFor(model => model.ImageWidth, "Image Width (px)", new { @class = "control-label col-md-2" })
                            <div class="col-md-10 controls">
                                @Html.EditorFor(model => model.ImageWidth)
                                @Html.ValidationMessageFor(model => model.ImageWidth)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.LabelFor(model => model.ImageHeight, "Image Height (px)", new { @class = "control-label col-md-2" })
                            <div class="col-md-10 controls">
                                @Html.EditorFor(model => model.ImageHeight)
                                @Html.ValidationMessageFor(model => model.ImageHeight)
                            </div>
                        </div>

                        @*<div class="control-group">
                            @Html.LabelFor(model => model.MinLimit, "Min Limit", new { @class = "control-label col-md-2" })
                            <div class="col-md-10 controls">
                                @Html.EditorFor(model => model.MinLimit)
                                @Html.ValidationMessageFor(model => model.MinLimit)
                            </div>
                        </div>*@

                        <div class="control-group">
                            @Html.LabelFor(model => model.MaxLimit, "Max Limit", new { @class = "control-label col-md-2" })
                            <div class="col-md-10 controls">
                                @Html.EditorFor(model => model.MaxLimit)
                                @Html.ValidationMessageFor(model => model.MaxLimit)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.LabelFor(model => model.IsActive, "Is Active", new { @class = "control-label col-md-2" })
                            <div class="col-md-10 controls">
                                @Html.EditorFor(model => model.IsActive)
                                @Html.ValidationMessageFor(model => model.IsActive)
                            </div>
                        </div>
                    </div>
                    <div class="form-actions no-color">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        @Html.ActionLink("Back to List", "Index", string.Empty, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</div>

