@model ModelLayer.Models.DesignBlockType
@{
    ViewBag.Title = "Details";
}
<style>
    .box-header h3 {
        line-height: 0px;
    }
</style>
<div id="content" class="span10">
    <ul class="breadcrumb">
        <li>
            <a href="#">Design Block Type/Details</a>
        </li>
    </ul>

    <div class="row-fluid">

        <div class="box span12">
            <div class="box-header">
                <h3>Details</h3>

            </div>
            <div class="box-content">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    @*<dt>
                        @Html.DisplayNameFor(model => model.ImageExtension)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ImageExtension)
                    </dd>*@

                    <dt>
                        @Html.DisplayNameFor(model => model.ImageWidth)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ImageWidth)
                        px
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ImageHeight)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ImageHeight)
                        px
                    </dd>

                    @*<dt>
                        @Html.DisplayNameFor(model => model.MinLimit)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MinLimit)
                    </dd>*@

                    <dt>
                        @Html.DisplayNameFor(model => model.MaxLimit)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MaxLimit)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IsActive)
                    </dd>
                </dl>
            </div>

            <div class="form-actions no-color">
                @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Back to List", "Index", string.Empty, new { @class = "btn btn-default" })
            </div>
            </div>
        </div>
    </div>

          