@model ModelLayer.Models.ViewModel.ShopDetailsPostViewModel

@{
    ViewBag.Title = "Shop Details";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@*<h2>Fill Shop Details</h2>*@

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div id="content" class="span10" style="min-height: 369px;">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="">Fill Shop Details</a>

            </li>
            @*<li><a href="#">Tables</a></li>*@
        </ul>
        <div class="row-fluid sortable ui-sortable">
            <div class="box span12">
                <div data-original-title="" class="box-header">
                    <h2><i class="halflings-icon user"></i><span class="break"></span>Shop Details</h2>
                </div>
                <div class="box-content contentBox">
                    <form class="form-horizontal">
                        @*<h4>Shop Details</h4>*@
                        <hr />
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.ID)

                        <div class="control-group">
                            @Html.LabelFor(model => model.BusinessName, new { @class = "control-label span2" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.BusinessName, new { @placeholder = "Business Name" })
                                @Html.ValidationMessageFor(model => model.BusinessName)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.LabelFor(model => model.Name, new { @class = "control-label span2" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.Name, new { @placeholder = "Shop Name" })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.LabelFor(model => model.Website, new { @class = "control-label span2" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.Website, new { @placeholder = "Business Website" })
                                @Html.ValidationMessageFor(model => model.Website)
                            </div>
                        </div>
                        
                        <div class="control-group">
                            @Html.LabelFor(model => model.Lattitude, new { @class = "control-label span2" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.Lattitude, new { @placeholder = "Shops Lattitute co-ordinates" })
                                @Html.ValidationMessageFor(model => model.Lattitude)
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="control-group">
                            @Html.LabelFor(model => model.Longitude, new { @class = "control-label span2" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.Longitude, new { @placeholder = "Shops Longitude co-ordinates" })
                                @Html.ValidationMessageFor(model => model.Longitude)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.LabelFor(model => model.Address, new { @class = "control-label span2" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.Address, new { @placeholder = "Shops Address" })
                                @Html.ValidationMessageFor(model => model.Address)
                            </div>
                        </div>
                        
                        <div class="control-group">
                            @Html.LabelFor(model => model.NearestLandmark, new { @class = "control-label span2" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.NearestLandmark, new { @placeholder = "Nearest Landmark" })
                                @Html.ValidationMessageFor(model => model.NearestLandmark)
                            </div>
                        </div>

                        @*<div class="form-group">
                    @Html.LabelFor(model => model.PincodeID, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.PincodeID)
                        @Html.ValidationMessageFor(model => model.PincodeID)
                    </div>
                </div>*@

                        <div class="control-group">
                            @Html.LabelFor(model => model.Pincode, new { @class = "control-label span2" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.Pincode, new { @placeholder = "Pincode" })
                                @Html.ValidationMessageFor(model => model.Pincode)
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        @*<div class="form-group">
                    @Html.LabelFor(model => model.AreaID, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.AreaID)
                        @Html.ValidationMessageFor(model => model.AreaID)
                    </div>
                </div>*@

                        <div class="control-group">
                            @Html.LabelFor(model => model.ContactPerson, new { @class = "control-label span2" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.ContactPerson, new { @placeholder = "Contact Person Name" })
                                @Html.ValidationMessageFor(model => model.ContactPerson)
                            </div>
                        </div>
                        
                        <div class="control-group">
                            @Html.LabelFor(model => model.Email, new { @class = "control-label span2" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.Email, new { @placeholder = "Contact Email" })
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.LabelFor(model => model.Mobile, new { @class = "control-label span2" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.Mobile, new { @placeholder = "Contact Mobile" })
                                @Html.ValidationMessageFor(model => model.Mobile)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.LabelFor(model => model.Landline, new { @class = "control-label span2" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.Landline, new { @placeholder = "Landline Number" })
                                @Html.ValidationMessageFor(model => model.Landline)
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="control-group">
                            @Html.LabelFor(model => model.FAX, new { @class = "control-label span2" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.FAX, new { @placeholder = "Fax Number" })
                                @Html.ValidationMessageFor(model => model.FAX)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.LabelFor(model => model.VAT, new { @class = "control-label span2" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.VAT, new { @placeholder = "VAT Number" })
                                @Html.ValidationMessageFor(model => model.VAT)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.LabelFor(model => model.TIN, new { @class = "control-label span2" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.TIN, new { @placeholder = "TIN Number" })
                                @Html.ValidationMessageFor(model => model.TIN)
                            </div>
                        </div>
                        
                        <div class="control-group">
                            @Html.LabelFor(model => model.PAN, new { @class = "control-label span2" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.PAN, new { @placeholder = "PAN Number" })
                                @Html.ValidationMessageFor(model => model.PAN)
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="control-group widthFull">
                            @Html.LabelFor(model => model.CurrentItSetup, new { @class = "control-label span2" })
                            <div class="controls">
                                @Html.CheckBoxFor(model => model.CurrentItSetup, new { @placeholder = "Current IT Setup" })
                                @Html.ValidationMessageFor(model => model.CurrentItSetup)
                            </div>
                        </div>
                        <br />
                        <div class="control-group">
                            @Html.LabelFor(model => model.OpeningTime, new { @class = "control-label span2" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.OpeningTime, new { @placeholder = "Shops Opening Time" })
                                @Html.ValidationMessageFor(model => model.OpeningTime)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.LabelFor(model => model.ClosingTime, new { @class = "control-label span2" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.ClosingTime, new { @placeholder = "Shop Closing Time" })
                                @Html.ValidationMessageFor(model => model.ClosingTime)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.LabelFor(model => model.WeeklyOff, new { @class = "control-label span2" })
                            <div class="controls">
                                @Html.DropDownList("WeeklyOff")
                                @Html.ValidationMessageFor(model => model.WeeklyOff)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.LabelFor(model => model.IsManageInventory, new { @class = "control-label span2" })
                            <div class="controls">
                                @Html.DropDownList("ManageInventory")
                                @Html.ValidationMessageFor(model => model.IsManageInventory)
                            </div>
                        </div>

                        <div class="form-actions">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save & Continue" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
}
