@model ModelLayer.Models.ViewModel.BussinessDetailsViewModel

@{
    ViewBag.Title = "Bussiness Details";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@*<h2>Fill Business Details</h2>*@

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
     <div id="content" class="span10" style="min-height: 369px;">
         <ul class="breadcrumb">
             <li>
                 <i class="icon-home"></i>
                 <a href="">Fill Business Details</a>
             </li>
             @*<li><a href="#">Tables</a></li>*@
         </ul>
         <div class="row-fluid sortable ui-sortable">
             <div class="box span12">
                 <div data-original-title="" class="box-header">
                     <h2><i class="halflings-icon user"></i><span class="break"></span>Bussiness Details</h2>
                 </div>
                 <div class="box-content contentBox">
                     <form class="form-horizontal">
                         @*<h4>Bussiness Details</h4>*@
                         <hr />
                         @Html.ValidationSummary(true)
                         @Html.HiddenFor(model => model.ID)
                         <div class="control-group">
                             @Html.LabelFor(model => model.LoginID, new { @class = "control-label span2" })
                             <div class="controls">
                                 @Html.TextBoxFor(model => model.LoginID, new { @placeholder = "Login Name" })
                                 @Html.ValidationMessageFor(model => model.LoginID)
                             </div>
                         </div>
                         <div class="control-group">
                             @Html.LabelFor(model => model.BussinessName, new { @class = "control-label span2" })
                             <div class="controls">
                                 @Html.TextBoxFor(model => model.BussinessName, new { @placeholder = "Business Name" })
                                 @Html.ValidationMessageFor(model => model.BussinessName)
                             </div>
                         </div>
                         <div class="control-group">
                             @Html.LabelFor(model => model.BussinessTypeID, new { @class = "control-label span2" })
                             <div class="controls">
                                 @* @Html.EditorFor(model => model.BussinessTypeID)*@
                                 @Html.DropDownList("BussinessType", "Select Business Type")
                                 @Html.ValidationMessageFor(model => model.BussinessTypeID)
                             </div>
                         </div>
                         <div class="clearfix"></div>
                         <div class="control-group">
                             @Html.LabelFor(model => model.ContactPerson, new { @class = "control-label span2" })
                             <div class="controls">
                                 @Html.TextBoxFor(model => model.ContactPerson, new { @placeholder = "Contact Person" })
                                 @Html.ValidationMessageFor(model => model.ContactPerson)
                             </div>
                         </div>
                         <div class="control-group">
                             @Html.LabelFor(model => model.Email, new { @class = "control-label span2" })
                             <div class="controls">
                                 @Html.TextBoxFor(model => model.Email, new { @placeholder = "Contact Email" })
                                 @Html.ValidationMessageFor(model => model.Email)
                             </div>
                         </div>
                         <div class="control-group">
                             @Html.LabelFor(model => model.Mobile, new { @class = "control-label span2" })
                             <div class="controls">
                                 @Html.TextBoxFor(model => model.Mobile, new { @placeholder = "Contact Mobile" })
                                 @Html.ValidationMessageFor(model => model.Mobile)
                             </div>
                         </div>
                         <div class="clearfix"></div>
                         <div class="control-group">
                             @Html.LabelFor(model => model.Landline1, new { @class = "control-label span2" })
                             <div class="controls">
                                 @Html.TextBoxFor(model => model.Landline1, new { @placeholder = "Landline Main" })
                                 @Html.ValidationMessageFor(model => model.Landline1)
                             </div>
                         </div>
                         <div class="control-group">
                             @Html.LabelFor(model => model.Landline2, new { @class = "control-label span2" })
                             <div class="controls">
                                 @Html.TextBoxFor(model => model.Landline2, new { @placeholder = "Landline Alternate" })
                                 @Html.ValidationMessageFor(model => model.Landline2)
                             </div>
                         </div>
                         <div class="control-group">
                             @Html.LabelFor(model => model.Address, new { @class = "control-label span2" })
                             <div class="controls">
                                 @Html.TextBoxFor(model => model.Address, new { @placeholder = "Business Address" })
                                 @Html.ValidationMessageFor(model => model.Address)
                             </div>
                         </div>
                         <div class="clearfix"></div>
                         <div class="control-group">
                             @Html.LabelFor(model => model.PinCode, new { @class = "control-label span2" })
                             <div class="controls">
                                 @Html.TextBoxFor(model => model.PinCode, new { @placeholder = "Pincode" })
                                 @Html.ValidationMessageFor(model => model.PinCode)
                             </div>
                         </div>
                         <div class="control-group">
                             @Html.LabelFor(model => model.Fax, new { @class = "control-label span2" })
                             <div class="controls">
                                 @Html.TextBoxFor(model => model.Fax, new { @placeholder = "Fax Number" })
                                 @Html.ValidationMessageFor(model => model.Fax)
                             </div>
                         </div>
                         <div class="control-group">
                             @Html.LabelFor(model => model.Website, new { @class = "control-label span2" })
                             <div class="controls">
                                 @Html.TextBoxFor(model => model.Website, new { @placeholder = "Business Website" })
                                 @Html.ValidationMessageFor(model => model.Website)
                             </div>
                         </div>
                         <div class="clearfix"></div>
                         <div class="control-group">
                             @Html.LabelFor(model => model.EstdYear, new { @class = "control-label span2" })
                             <div class="controls">
                                 @Html.TextBoxFor(model => model.EstdYear, new { @placeholder = "Year of Establishment" })
                                 @Html.ValidationMessageFor(model => model.EstdYear)
                             </div>
                         </div>
                         <div class="control-group">
                             @Html.LabelFor(model => model.InfoSourceID, new { @class = "control-label span2" })
                             <div class="controls">
                                 @*@Html.DropDownList(model => model.InfoSourceID)*@
                                 @Html.DropDownList("InfoSource", "Select Information Source")
                                 @Html.ValidationMessageFor(model => model.InfoSourceID)
                             </div>
                         </div>
                         <div class="control-group">
                             @Html.LabelFor(model => model.InfoSourceDetails, new { @class = "control-label span2" })
                             <div class="controls">
                                 @Html.TextBoxFor(model => model.InfoSourceDetails, new { @placeholder = "Details about how you know eZeelo" })
                                 @Html.ValidationMessageFor(model => model.InfoSourceDetails)
                             </div>
                         </div>
                         <div class="clearfix"></div>
                         <div class="form-actions">
                             <div class="col-md-offset-2 col-md-10">
                                 <input type="submit" value="Create" class="btn btn-primary" />
                             </div>
                         </div>
                     </form>
                 </div>
                 </div>
             </div>
         </div>
}


