@model ModelLayer.Models.ViewModel.DeliveryDetailsViewModel

@{
    ViewBag.Title = "Delivery Details";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@*<h2>Fill Delivery Details</h2>*@

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
     <div id="content" class="span10" style="min-height: 369px;">
         <ul class="breadcrumb">
             <li>
                 <i class="icon-home"></i>
                 <a href="">Fill Delivery Details</a>

             </li>
             @*<li><a href="#">Tables</a></li>*@
         </ul>
         <div class="row-fluid sortable ui-sortable">
             <div class="box span12">
                 <div data-original-title="" class="box-header">
                     <h2><i class="halflings-icon user"></i><span class="break"></span>Delivery Details</h2>
                 </div>
                 <div class="box-content contentBox">
                     <form class="form-horizontal">
                         @*<h4>Delivery Details</h4>*@
                         <hr />
                         @Html.ValidationSummary(true)

                         <div class="control-group">
                             @Html.LabelFor(model => model.DeliveryPartnerID, new { @class = "control-label span2" })
                             <div class="controls">
                                 @Html.DropDownList("deliveryPartner", "Select Delivery Partner")
                                 @Html.ValidationMessageFor(model => model.DeliveryPartnerID)
                             </div>
                         </div>

                         <div class="control-group">
                             @Html.LabelFor(model => model.FranchiseID, new { @class = "control-label span2" })
                             <div class="controls">
                                 @Html.DropDownList("franchise", "Select Franchise")
                                 @Html.ValidationMessageFor(model => model.FranchiseID)
                             </div>
                         </div>

                         <div class="control-group">
                             @Html.LabelFor(model => model.Website, new { @class = "control-label span2" })
                             <div class="controls">
                                 @Html.TextBoxFor(model => model.Website, new { @placeholder = "Website" })
                                 @Html.ValidationMessageFor(model => model.Website)
                             </div>
                         </div>
                         <div class="clearfix"></div>
                         <div class="control-group">
                             @Html.LabelFor(model => model.Lattitude, new { @class = "control-label span2" })
                             <div class="controls">
                                 @Html.TextBoxFor(model => model.Lattitude, new { @placeholder = "Lattitude" })
                                 @Html.ValidationMessageFor(model => model.Lattitude)
                             </div>
                         </div>

                         <div class="control-group">
                             @Html.LabelFor(model => model.Longitude, new { @class = "control-label span2" })
                             <div class="controls">
                                 @Html.TextBoxFor(model => model.Longitude, new { @placeholder = "Longitude" })
                                 @Html.ValidationMessageFor(model => model.Longitude)
                             </div>
                         </div>

                         <div class="control-group">
                             @Html.LabelFor(model => model.Address, new { @class = "control-label span2" })
                             <div class="controls">
                                 @Html.TextBoxFor(model => model.Address, new { @placeholder = "Address" })
                                 @Html.ValidationMessageFor(model => model.Address)
                             </div>
                         </div>
                         <div class="clearfix"></div>
                         <div class="control-group">
                             @Html.LabelFor(model => model.NearestLandmark, new { @class = "control-label span2" })
                             <div class="controls">
                                 @Html.TextBoxFor(model => model.NearestLandmark, new { @placeholder = "Nearest Landmark" })
                                 @Html.ValidationMessageFor(model => model.NearestLandmark)
                             </div>
                         </div>
                         <div class="clearfix"></div>
                         <div class="control-group widthFull">
                             @Html.LabelFor(model => model.IsDeliveryOutSource, new { @class = "control-label span2" })
                             <div class="controls">
                                 @Html.CheckBoxFor(model => model.IsDeliveryOutSource, new { @placeholder = "Delivery Outsource", @class="chkBoxLogin" })
                                 @Html.ValidationMessageFor(model => model.IsDeliveryOutSource)
                             </div>
                         </div>
                         <br />
                         <div class="control-group widthFull">
                             @Html.LabelFor(model => model.FreeHomeDelivery, new { @class = "control-label span2" })
                             <div class="controls">
                                 @Html.CheckBoxFor(model => model.FreeHomeDelivery, new { @placeholder = "Free Delivery" })
                                 @Html.ValidationMessageFor(model => model.FreeHomeDelivery)
                             </div>
                         </div>
                         <div class="clearfix"></div>
                         <div class="control-group">
                             @Html.LabelFor(model => model.MinimumAmount, new { @class = "control-label span2" })
                             <div class="controls">
                                 @Html.TextBoxFor(model => model.MinimumAmount, new { @placeholder = "Minimum Order Amount" })
                                 @Html.ValidationMessageFor(model => model.MinimumAmount)
                             </div>
                         </div>

                         <div class="form-actions">
                             <div class="col-md-offset-2 col-md-10">
                                 <input type="submit" value="Save & Continue" class="btn btn-primary" />
                             </div>
                         </div>
                     </form>
                 </div>
                 </div>
             </div>
         </div>
}

