@model ModelLayer.Models.FranchiseTaxDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FranchiseTaxDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.City.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Franchise.ServiceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Franchise.ServiceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxationMaster.Prefix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxationMaster.Prefix)
        </dd>

       
        <dt>
            @Html.DisplayNameFor(model => model.InPercentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InPercentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InRupees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InRupees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDirect)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDirect)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCustomerSide)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCustomerSide)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsOnTaxSum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsOnTaxSum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsMinusTaxs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsMinusTaxs€)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsIncludeSaleRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsIncludeSaleRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
