@model IEnumerable<ModelLayer.Models.Menu>

@{
    ViewBag.Title = "Index";
}
<br />
<style>
    .dataTables_length{
        margin-left:0px;
    }
    .pagination {
        margin: 0 40px;
    }
</style>
<div class="row-fluid" style="margin-left:15px;">
    <div class="box span12">
        <div class="box-header">
            <h2><i class="icon-edit"></i><span class="break"></span>@Html.ActionLink("Create New Menu", "Create")</h2>

        </div>
        <div class="box-content">
            @using (Html.BeginForm())
            {
                <p><b>Parent Menu </b> @Html.DropDownList("ParentID", (SelectList)ViewBag.ParentID, "Select Parent", new { onchange = "this.form.submit()" })</p>
            }
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                    <tr>
                        <th>Menu Name</th>
                        <th>Parent Menu</th>
                        <th>@Html.DisplayNameFor(model => model.DisplayName)</th>
                        <th>@Html.DisplayNameFor(model => model.IsActive)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td class="center">@Html.DisplayFor(modelItem => item.Menu2.Name)</td>
                            <td class="center">@Html.DisplayFor(modelItem => item.DisplayName)</td>
                            <td class="center">@Html.DisplayFor(modelItem => item.IsActive, new { @class = "chkBox" })</td>

                            <td class="center">
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-small btn-success" })
                                @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-small btn-primary" })
                                @*@Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @*<div class="pager">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>*@
           
        </div>
    </div><!--/span-->

</div>




@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br />
@using (Html.BeginForm())
{
    <p><b>Parent Menu </b> @Html.DropDownList("ParentID", (SelectList)ViewBag.ParentID, "Select Parent", new { onchange = "this.form.submit()" })</p>
}
<table class="table">
    <tr>
        <th>
            Menu Name
        </th>
        <th>
            Parent Menu
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Menu2.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>*@
