@model ModelLayer.Models.ViewModel.PlanCategoryChargeViewModel


    <div id="content" class="span10">

        <div class="row-fluid">
            <div class="box span12">
                <div class="box-content">
                    <form class="form-horizontal">
                        @Html.ValidationMessage("CustomError")
                        @Html.ValidationSummary(true)

                        <div class="control-group">
                            @Html.LabelFor(model => model.ChargeID, "Charge Name", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("ChargeID", "--Select--")
                                @Html.ValidationMessage("ChargeID")
                            </div>
                        </div>

                        <div class="control-group">
                            @*@Html.LabelFor(model => model.ChargeInPercent, new { @class = "control-label col-md-2" })*@
                            <label>Charge In Percent (%)</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.ChargeInPercent, new { @Value = "0" })
                                @*@Html.ValidationMessageFor(model => model.ChargeInPercent)*@
                            </div>
                        </div>

                        <div class="control-group">
                            @*@Html.LabelFor(model => model.ChargeInRupee, new { @class = "control-label col-md-2" })*@
                            <label>Charge In Rupees (Rs.)</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.ChargeInRupee, new { @Value = "0" })
                                @*@Html.ValidationMessageFor(model => model.ChargeInRupee)*@
                            </div>
                        </div>

                        @*<div class="control-group">
                                @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.IsActive)
                                    @Html.ValidationMessageFor(model => model.IsActive)
                                </div>
                            </div>*@

                    </form>
                    <div class="form-actions">
                        <input type="submit" name="submit" value="Save" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
    </div>
