@{
    ViewBag.Title = "Index";
}

<html>

<body>
    <h2>MIS Report</h2>
    <div>

        @Html.ActionLink("Customer Registration", "Index", "CustomerRegistrationReport", null, new { @class = "btn btn-primary btn-xs" }) &nbsp;

        @Html.ActionLink("Merchant Registration", "Index", "MerchantRegistrationReport", null, new { @class = "btn btn-primary btn-xs" }) &nbsp;

        @Html.ActionLink("Franchise Registration", "Index", null, null, new { @class = "btn btn-primary btn-xs" }) &nbsp;

        @Html.ActionLink("Order Transaction", "Index", null, null, new { @class = "btn btn-primary btn-xs" }) &nbsp;

        @Html.ActionLink("Order Status", "Index", null, null, new { @class = "btn btn-primary btn-xs" }) &nbsp;

        @Html.ActionLink("Shop Sale", "Index", null, null, new { @class = "btn btn-primary btn-xs" }) &nbsp;

        @Html.ActionLink("Operator/Employee Work", "Index", null, null, new { @class = "btn btn-primary btn-xs" }) &nbsp;

        @Html.ActionLink("Product Approval", "Index", null, null)

        @Html.ActionLink("Sms Report", "Index", null, null)

        @Html.ActionLink("Email Report", "Index", null, null)
    </div>

</body>
</html>

