@model IEnumerable<ModelLayer.Models.LeadersPayoutMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LeadersLayout.cshtml";
}

<legend>Leaders Payout Master</legend>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container">
    <div class="card">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Min_Resereved)%
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.GST)%
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.TDS)%
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Processing_Fees)%
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Penalty)%
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Create_Date)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Modify_Date)
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Min_Resereved)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GST)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TDS)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Processing_Fees)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Penalty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Create_Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Modify_Date)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |


                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>