@model IEnumerable<Franchise.Models.ViewModel.ProductListViewModel>

<style>
    input[type=number] {
        width: 60px;
    }

    .not-active {
        background-color: rgba(255, 0, 0, 0.24);
    }

    .selected {
        background-color: #c4eccc;
    }

    .divproduct {
        height: auto;
        min-height: 200px;
        max-height: 400px;
        overflow-y: auto;
    }
</style>

@using (Html.BeginForm("AddNewProduct", "CustomerOrderDetailAlignment", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <!-- TABLE: LATEST ORDERS -->
            <div class="widget">
                <div class="widget-header" style="background-color: #0088CC; text-align: left;">
                    <h3 class="box-title">Product List With Stock</h3>

                </div><!-- /.box-header -->
                @if (Model.Count() == 0)
                {
                    <h3 style="float: left;"><span>No Records Found...</span></h3>
                }
                else
                {
                    <div class="widget-content">
                        <div class="divproduct">
                            <table class="table table-condensed table-hover table-responsive table-striped" id="tbl">
                                <thead>
                                    <tr>
                                        <th>
                                            Select
                                        </th>
                                        <th>
                                            Shop Name
                                        </th>
                                        <th>
                                            Product Name
                                        </th>
                                        <th>
                                            Size
                                        </th>
                                        <th>
                                            Qty
                                        </th>
                                        <th>
                                            MRP
                                        </th>
                                        <th>
                                            SaleRate
                                        </th>
                                        <th>
                                            OfferRs
                                        </th>
                                        <th>
                                            TotalAmount
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <input type="checkbox" class="chkBox" name="chkBox" checked="@item.IsSelected" value=@item.ShopStockID>
                                                @*@Html.CheckBoxFor(modelItem => item.Select, new { @class = "remove" })*@                                               
                                            </td>
                                            <td>
                                                @Html.HiddenFor(modelItem => item.ShopID)
                                                <span>@Html.DisplayFor(modelItem => item.ShopName)</span>
                                            </td>
                                            <td>
                                                <span>@Html.DisplayFor(modelItem => item.ProductName)</span>
                                            </td>
                                            <td>
                                                <span>@Html.DisplayFor(modelItem => item.Size)</span>
                                            </td>
                                            <td>
                                                @{
                                        // string Qty = "Qty$" + item.ShopStockID;
                                        //   string QtyName = "customerOrderDetails[" + i + "].Qty";
                                                }
                                                @*<input type="number" min="1" value="1" max="@item.Qty" class="Qty" name="@Qty" />*@
                                                <span>1</span>
                                            </td>
                                            <td>
                                                <span>@Html.DisplayFor(modelItem => item.MRP)</span>
                                            </td>
                                            <td>
                                                <span>@Html.DisplayFor(modelItem => item.SaleRate)</span>
                                            </td>
                                            <td>
                                                <span>@Html.DisplayFor(modelItem => item.OfferRs)</span>
                                            </td>
                                            <td>
                                                <span>@Html.DisplayFor(modelItem => item.TotalAmount)</span>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                        <div class="box-footer">
                            @*<button onclick="window.history.back();" class="btn btn-sm btn-primary">Cancel</button>*@
                            <button type="button" id="btnAddProduct" class="btn btn-sm btn-danger pull-right">Add</button>
                        </div><!-- /.box-footer -->
                    </div><!-- /.box-body -->
                }
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div>
}

<script>
    var ProductList = [];

    $(document).ready(function () {
        $('.chkBox').click(function () {
            var IsSelected = $(this).prop("checked");

            if (IsSelected == true) {
                //ShopStockID$ShopID$Qty
                var newStr = $(this).val();// + "$" + $(this).closest('tr').find('[id*=ShopID]').val();//+ "$" + $(this).closest('tr').find('.Qty').val();
                ProductList.push(newStr);
                $('[id*=ProductDetail]').val(ProductList);
                $(this).closest('tr').addClass("selected");
            }
            else {
                //ShopStockID$ShopID$Qty
                var newStr = $(this).val();// + "$" + $(this).closest('tr').find('[id*=ShopID]').val();// + "$" + $(this).closest('tr').find('.Qty').val();
                ProductList.splice(ProductList.indexOf($(this).val()), 1);
                $('[id*=ProductDetail]').val(ProductList);
                $(this).closest('tr').removeClass('selected');
            }
        });

        //$.each($('tbody tr:gt(0)'), function () {
        //    //alert($(this).find('.remove').prop("checked"));
        //    if ($(this).find('.chkBox').prop("checked") == true) {
        //        $(this).addClass("selected");
        //    }
        //});


    });

    $('#btnAddProduct').click(function () {
        var lCOID = $('[id*=COID]').val();
        var lShopStockIds = $('[id*=ProductDetail]').val();
        $.ajax({
            url: '@Url.Action("AddNewProduct", "CustomerOrderDetailAlignment")?COID=' + lCOID + '&ProductDetail=' + lShopStockIds,
            type: "GET",
            success: function (result) {
                $("#divEditList").load('@Url.Action("EditOrderList", "CustomerOrderDetailAlignment")' + '?COID=' + lCOID);
                $('#divProductList').html("");
                //$('#loader_img').hide();
                //$('#Details').html(result);
            },
            error: function (data) {
                //$('#Details').empty();
                //$('#loader_img').hide();
            }
        });
    });

</script>

