@model ModelLayer.Models.Plan

@{
    ViewBag.Title = "Details";
}
<br />
<div class="row-fluid" style="margin-left: 15px;">
    <div class="box span12">
        <div class="box-header">
            <h2><i class="icon-edit"></i><span class="break"></span>Detail Master Plan</h2>
        </div>
        <div class="box-content">
            <form class="form-horizontal">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="focusedInput">Plan Code</label>
                        <div class="controls">
                            @*<input class="input-xlarge focused" id="focusedInput" type="text" value="This is focused…">*@
                            @Html.DisplayFor(model => model.PlanCode)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="focusedInput">Short Name</label>
                        <div class="controls">
                            @*<input class="input-xlarge focused" id="focusedInput" type="text" value="This is focused…">*@
                            @Html.DisplayFor(model => model.ShortName)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="focusedInput">No Of Entities Allowed</label>
                        <div class="controls">
                            @*<input class="input-xlarge focused" id="focusedInput" type="text" value="This is focused…">*@
                            @Html.DisplayFor(model => model.NoOfEntitiesAllowed)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="focusedInput">Year</label>
                        <div class="controls">
                            @*<input class="input-xlarge focused" id="focusedInput" type="text" value="This is focused…">*@
                            @Html.DisplayFor(model => model.Year)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="focusedInput">Month</label>
                        <div class="controls">
                            @*<input class="input-xlarge focused" id="focusedInput" type="text" value="This is focused…">*@
                            @Html.DisplayFor(model => model.Month)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="focusedInput">Day</label>
                        <div class="controls">
                            @*<input class="input-xlarge focused" id="focusedInput" type="text" value="This is focused…">*@
                            @Html.DisplayFor(model => model.Day)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="focusedInput">Description</label>
                        <div class="controls">
                            @*<input class="input-xlarge focused" id="focusedInput" type="text" value="This is focused…">*@
                            @Html.DisplayFor(model => model.Description)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="focusedInput">Fees</label>
                        <div class="controls">
                            @*<input class="input-xlarge focused" id="focusedInput" type="text" value="This is focused…">*@
                            @Html.DisplayFor(model => model.Fees)
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="optionsCheckbox2">Is Active</label>
                        <div class="controls">
                            <label class="checkbox">
                                @Html.DisplayFor(model => model.IsActive)
                            </label>
                        </div>
                    </div>

                    <div class="form-actions">
                        @*<button type="submit" value="Create" class="btn btn-primary">@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) </button>*@
                        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Back to List", "Index", string.Empty, new { @class = "btn" })
                    </div>
                </fieldset>
            </form>

        </div>
    </div><!--/span-->

</div>


@*<div>
    <h4>Plan</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlanCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoOfEntitiesAllowed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfEntitiesAllowed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

       

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
