@model ModelLayer.Models.CategoryDimension

@{
    ViewBag.Title = "Details";
}

@*
    <div>
        <h4>CategoryDimension</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Category.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Dimension.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Dimension.Name)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>


        </dl>
    </div>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
<div id="content" class="span10">
    <ul class="breadcrumb">
        <li>
            <a href="index.html">Category Dimension</a>
        </li>
    </ul>
    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header">
                <h2><i class="halflings-icon edit"></i><span class="break"></span>Category Dimension/Details</h2>

            </div>
            <div class="box-content">
                <div class="form-horizontal">

                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.ID)
                    <fieldset>
                        <div class="control-group">
                            @Html.LabelFor(model => model.CategoryID, "Category Name", new { @class = "control-lable" })
                            <div class="controls">
                                @Html.DisplayFor(model => model.Category.Name)
                                @Html.ValidationMessageFor(model => model.CategoryID)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.LabelFor(model => model.DimensionID, "Dimension", new { @class = "control-label col-md-2" })
                            <div class="controls">
                                @Html.DisplayFor(model => model.Dimension.Name)
                                @Html.ValidationMessageFor(model => model.DimensionID)
                            </div>
                        </div>

                        @*<div class="control-group">
                                @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
                                <div class="controls">
                                    @Html.EditorFor(model => model.IsActive)
                                    @Html.ValidationMessageFor(model => model.IsActive)
                                </div>
                            </div>*@
                        <div class="control-group">

                            <div class="controls">
                                <label class="checkbox">
                                    <div id="uniform-optionsCheckbox2" class="checker">
                                        <span>
                                            @Html.EditorFor(model => model.IsActive)
                                            @Html.ValidationMessageFor(model => model.IsActive)
                                        </span>
                                    </div>
                                    @Html.LabelFor(model => model.IsActive, new { @class = "CheckBoxMargin" })
                                </label>
                            </div>
                        </div>



                        <div class="form-actions">
                            <div class="col-md-offset-2 col-md-10">
                                @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Back to List", "Index", null, new { @class="btn"})

                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
