@{
    ViewBag.Title = "Home Page";
}


<style>
    .quick-button.metro i {
        font-size: 32px;
        text-align: center !important;
    }
    .headcolor {
        background-color: #3F93D2 !important;
    }
    .acolor{color:white;}
</style>
<div id="content" class="span10">
    <div class="row-fluid ">
        <div class="widget span3 purple " ontablet="span6" ondesktop="span3">

            <h1><span class="icon-user"><i></i></span>  Customer</h1>

            <hr>

            <div class="content">
                <div class="circleStatsItemBox yellow " style="  text-align: center;">
                   <div class="header headcolor">Total Customer</div>
                    <span class="percent">Customer</span>
                    <div class="circleStat">
                        <input type="text" class="whiteCircle" value="@ViewBag.TotalCustomer" />
                    </div>
                    <div class="footer headcolor">
                        <a href="#" class="acolor">View more...</a>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="circleStatsItemBox red" style="  text-align: center;">
                   <div class="header headcolor">Today Register</div>
                    <span class="percent">Customer</span>
                    <div class="circleStat">
                        <input type="text" class="whiteCircle" value="@ViewBag.TodayRegisterCustomer" />
                    </div>
                    <div class="footer headcolor">
                        <a href="#" class="acolor">View more...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget span3 purple" ontablet="span6" ondesktop="span3">

            <h1><span class="icon-gift"><i></i></span>  Product</h1>

            <hr>

            <div class="content">
                <div class="circleStatsItemBox blue" style="  text-align: center;">
                   <div class="header headcolor">Today Approved</div>
                    <span class="percent">Product</span>
                    <div class="circleStat">
                        <input type="text" class="whiteCircle" value="@ViewBag.TodayApprovedProduct" />
                    </div>
                    <div class="footer headcolor">
                        <a href="#" class="acolor">View more...</a>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="circleStatsItemBox green" style="  text-align: center;">
                   <div class="header headcolor">Pending</div>
                    <span class="percent">Product</span>
                    <div class="circleStat">
                        <input type="text" class="whiteCircle" value="@ViewBag.PendingProduct" />
                    </div>
                    <div class="footer headcolor">
                        <a href="#" class="acolor">View more...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget span3 purple newpurple " ontablet="span6" ondesktop="span3">

            <h1><span class="icon-tags"><i></i></span>  Order</h1>

            <hr>

            <div class="content">
                <div class="circleStatsItemBox orange " style="  text-align: center;">
                   <div class="header headcolor">Today Total Order</div>
                    <span class="percent">Order</span>
                    <div class="circleStat">
                        <input type="text" class="whiteCircle" value="@ViewBag.TodayTotalOrder" />
                    </div>
                    <div class="footer headcolor">
                        <a href="#" class="acolor">View more...</a>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="circleStatsItemBox orangeDark" style="  text-align: center;">
                   <div class="header headcolor">Today Pending Order</div>
                    <span class="percent">Order</span>
                    <div class="circleStat">
                        <input type="text" class="whiteCircle" value="@ViewBag.TodayPendingOrder" />
                    </div>
                    <div class="footer headcolor">
                        <a href="#" class="acolor">View more...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget span3 purple" ontablet="span6" ondesktop="span3">

            <h1><span class="icon-briefcase"><i></i></span>  Franchise</h1>

            <hr>

            <div class="content">
                <div class="circleStatsItemBox blueDark" style="  text-align: center;">
                   <div class="header headcolor">Total Franchise</div>
                    <span class="percent">Franchise</span>
                    <div class="circleStat">
                        <input type="text" class="whiteCircle" value="@ViewBag.TotalFranchise" />
                    </div>
                    <div class="footer headcolor">
                        <a href="#" class="acolor">View more...</a>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="circleStatsItemBox pinkDark" style="  text-align: center;">
                   <div class="header headcolor">Pending Franchise</div>
                    <span class="percent">Franchise</span>
                    <div class="circleStat">
                        <input type="text" class="whiteCircle" value="@ViewBag.PendingFranchise" />
                    </div>
                    <div class="footer headcolor">
                        <a href="#" class="acolor">View more...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row-fluid ">
        <div class="widget span3 purple " ontablet="span6" ondesktop="span3">

            <h1><span class="icon-home"><i></i></span>  Shop</h1>

            <hr>

            <div class="content">
                <div class="circleStatsItemBox lightbulb " style="  text-align: center;">
                   <div class="header headcolor">Total Shop</div>
                    <span class="percent">Shop</span>
                    <div class="circleStat">
                        <input type="text" class="whiteCircle" value="@ViewBag.TotalShop" />
                    </div>
                    <div class="footer headcolor">
                        <a href="#" class="acolor">View more...</a>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="circleStatsItemBox pink" style="  text-align: center;">
                   <div class="header headcolor">Pending Shop</div>
                    <span class="percent">Shop</span>
                    <div class="circleStat">
                        <input type="text" class="whiteCircle" value="@ViewBag.PendingShop" />
                    </div>
                    <div class="footer headcolor">
                        <a href="#" class="acolor">View more...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget span3 purple" ontablet="span6" ondesktop="span3">

            <h1><span class="icon-group"><i></i></span>  Employee</h1>

            <hr>

            <div class="content">
                <div class="circleStatsItemBox greenDark" style="  text-align: center;">
                   <div class="header headcolor">Total Employee</div>
                    <span class="percent">Employee</span>
                    <div class="circleStat">
                        <input type="text" class="whiteCircle" value="@ViewBag.TotalEmployee" />
                    </div>
                    <div class="footer headcolor">
                        <a href="#" class="acolor">View more...</a>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="circleStatsItemBox greenLight" style="  text-align: center;">
                   <div class="header headcolor">Pending Employee</div>
                    <span class="percent">Employee</span>
                    <div class="circleStat">
                        <input type="text" class="whiteCircle" value="@ViewBag.PendingEmployee" />
                    </div>
                    <div class="footer headcolor">
                        <a href="#" class="acolor">View more...</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
 </div>


@*<fieldset>
    <legend>Customer</legend>
    <div>Total<br /> @ViewBag.TotalCustomer</div><div>Today Register<br />@ViewBag.TodayRegisterCustomer</div>
</fieldset>

<fieldset>
    <legend>Product</legend>
    <div>Today Approved<br />@ViewBag.TodayApprovedProduct</div><div>Pending<br />@ViewBag.PendingProduct</div>
</fieldset>

<fieldset>
    <legend>Order</legend>
    <div>Today Total Order<br />@ViewBag.TodayTotalOrder</div><div>Today Pending Order<br />@ViewBag.TodayPendingOrder</div>
</fieldset>

<fieldset>
    <legend>Franchise</legend>
    <div>Total Franchise<br />@ViewBag.TotalFranchise</div><div>Pending Franchise<br />@ViewBag.PendingFranchise</div>
</fieldset>

<fieldset>
    <legend>Shop</legend>
    <div>Total Shop<br />@ViewBag.TotalShop</div><div>Pending Shop<br />@ViewBag.PendingShop</div>
</fieldset>

<fieldset>
    <legend>Employee</legend>
    <div>Total Employee<br />@ViewBag.TotalEmployee</div><div>Pending Employee<br />@ViewBag.PendingEmployee</div>
</fieldset>*@
