@model IEnumerable<ModelLayer.Models.ViewModel.TabularView>

@{
    ViewBag.Title = "ListView";
    Layout = "~/Views/Shared/_LeaderUsersLayout.cshtml";
}

<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">

<!-- Bootstrap CSS CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="~/Scripts/jquery-1.12.4.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="">
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

<!-- Font Awesome JS -->
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous">
</script>
<!-- <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
    crossorigin="anonymous"></script> -->
<link rel="stylesheet" href="~/Templates/UsersTemplate/css/material-design.minfd53.css">
<link rel="stylesheet" href="~/Templates/UsersTemplate/css/style3.css">
<link rel="stylesheet" href="~/Templates/UsersTemplate/css/dropify.minfd53.css">
<link rel="stylesheet" href="~/Templates/UsersTemplate/css/custom.css">
<link rel="stylesheet" href="~/Templates/UsersTemplate/css/site.minfd53.css">
<!-- <link rel="stylesheet" href="~/Templates/UsersTemplate/css/bootstrap-extend.minfd53.css">-->
<!--<link rel="stylesheet" href="~/Templates/UsersTemplate/css/bootstrap.min.css">-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" />
<title>leaders Ezeelo</title>

<section class="mainProfileContentListView">
    <div class="page tree" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
        <div class="page-content">
            <div class="p-xs-0">
                <h1 class="example-title">Network Tree</h1>
                <div class="header-report">
                    <div class="">
                        <div class="row">
                            <div class="col-md-6" id="search">
                                @*<div class="form-group m-0">
                                        <div class="input-search">
                                            <button type="submit" class="input-search-btn">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </button>
                                            <input type="text" class="form-control" name="" placeholder="Search..." id="searchbar">
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-12">
                    <!-- Example Nestables With Media Content -->
                    <div class="example-wrap">
                        <div class="row">

                            <div class="col-lg-3 col-md-3 col-sm-3 p-20 mt-30 mb-20 box-shadow height-sm-500 card-details" style="background-color: #fff;">
                                <div class="profile">
                                    <div class="media">
                                        <div class="pr-20">

                                            <a class="avatar avatar-75 avatar-100-sm round-border" href="javascript:void(0)">
                                                <img class="img-fluid" src="https://www.amcorro.com/wp-content/uploads/2013/05/user-icon-1.png"
                                                     alt="...">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="mt-0 mb-5">@ViewBag.FullName</h4>
                                            <p class="m-0">@ViewBag.RefferalID</p>
                                            <div class="members_btnPopUp">
                                                <a class="tooltip" href="javascript:void(0)">Members:&nbsp;@ViewBag.TotalMembers</a>
                                            </div>

                                            <div class=" webui-popover top-right in tooltiptext">
                                                <div class="webui-arrow" style="left: 45px;"></div>
                                                <div class="webui-popover-inner" style="display: -webkit-box;
">
                                                    <div class="webui-popover-content">
                                                        <div id="members-det" style="">
                                                            <span>
                                                                Level 1:
                                                                <b>8</b>
                                                            </span>
                                                            <span>
                                                                Level 2:
                                                                <b>8</b>
                                                            </span>
                                                            <span>
                                                                Level 3:
                                                                <b>25</b>
                                                            </span>
                                                            <span>
                                                                Level 4:
                                                                <b>67</b>
                                                            </span>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- <br/>
                                        <div class="col-12">
                                          <p>
                                            <span> 19-Jun-18 </span>
                                            <span> Swetank Gupta </span>
                                          </p>
                                        </div> -->
                                    </div>
                                    <div class="col-12 mt-20 ">
                                        <p class="">
                                            <span>
                                                <strong>Joined Date:</strong>@ViewBag.JoinDate.ToString("MM/dd/yyyy")
                                            </span>
                                            <br>
                                            <span>
                                                <strong>Designation:</strong>@ViewBag.Designation
                                            </span>

                                            <br>
                                            <span>
                                                <strong>Refered By:</strong>@ViewBag.RefferedBy
                                            </span>
                                            <br>
                                            <span>
                                                <strong>Email:</strong>@ViewBag.Email
                                            </span>
                                            <br>
                                            <span>
                                                <strong>Last Trx:</strong>@ViewBag.LastTransaction
                                            </span>
                                            <br>
                                            <span>
                                                <strong>Pending Points:</strong>@ViewBag.QRP
                                                <br>
                                            </span>
                                            <span>
                                                <strong>ERP:</strong>@ViewBag.ERP
                                                <br>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <span data-trigger="hover" data-toggle="tooltip" data-placement="top" data-original-title="1800.0/1800" class="peitycharts"
                                      data-peity="{ &quot;fill&quot;: [&quot;#35b752&quot;, &quot;#ccc&quot;],
                                                &quot;innerRadius&quot;: 60,
                                                &quot;radius&quot;: 50 }" style="display: none;">1800.0/1800</span>
                                <svg class="peity" height="100" width="100">
                                    <path d="M 75.375 0 A 75.375 75.375 0 1 1 75.365 0 L 75.365 15.375 A 60 60 0 1 0 75.375 15.375" fill="#35b752"></path>
                                </svg>
                            </div>


                            <!-- add multiple -->

                            <div class="col-lg-9 col-md-9 col-sm-9 ">
                                <div class="panel panel-default">

                                    <div class="panel-body">
                                        <div class="slide-container">

                                            <div class="list-group" id="mg-multisidetabs">
                                                @foreach (var item in Model)
                                                {
                                                    <a href="#" class="list-group-item">
                                                        <span>


                                                            <div class="list-view-mainContent">
                                                                <div class="level-badge">
                                                                    <span>1</span>
                                                                </div>
                                                                <figure>
                                                                    <img src="https://www.amcorro.com/wp-content/uploads/2013/05/user-icon-1.png" />
                                                                </figure>
                                                                <div class="ist-view-mainContentHeading">
                                                                    <h5 class="mt-0 mb-5 searchkey">
                                                                        <span class="U_Name">
                                                                            @Html.DisplayFor(modelItem => item.Name)
                                                                        </span>
                                                                        <small class="mt-0 mb-5 searchkey">@Html.DisplayFor(modelItem => item.RefferalId)</small>


                                                                        <small class="mt-0 mb-5 float-right pr-lg-50 pr-sm-10 text-right searchkey">@Html.DisplayFor(modelItem => item.JoinDate)</small>

                                                                        <small class="mt-0 mb-5 float-right pr-lg-50 pr-sm-10 text-right searchkey">Designation: @Html.DisplayFor(modelItem => item.Designation)</small>

                                                                        @*@if (Session["DisplayMobile"] != null && Session["DisplayMobile"].ToString() == "1")
                                                                        {
                                                                            <span class="mobile-Number">Mobile:</span> <small class="mt-0 mb-5 float-right pr-lg-50 pr-sm-10 text-right searchkey">@Html.DisplayFor(modelItem => item.Mobile)</small>
                                                                        }*@

                                                                        <span class="ErP_">ERP:</span><small class="mt-0 mb-5 float-right pr-lg-50 pr-sm-10 text-right searchkey">@Html.DisplayFor(modelItem => item.ERPbySP)</small>
                                                                    </h5>
                                                                </div>

                                                                <div class="mainContentHeadingDown_listview">
                                                                    <small class="col-5 col-md-auto searchkey">Level: @Html.DisplayFor(modelItem => item.Level)&nbsp;&nbsp;&nbsp;</small>

                                                                    <small class="col-7 col-md-3">
                                                                        Points Remaining: @Html.DisplayFor(modelItem => item.QRP)
                                                                        <span data-trigger="hover" data-toggle="tooltip" data-placement="top" data-original-title="137.0/1800" class="peitycharts"
                                                                              data-peity="{ &quot;fill&quot;: [&quot;#35b752&quot;, &quot;#ccc&quot;],
                                                                                &quot;innerRadius&quot;: 7,
                                                                                &quot;radius&quot;: 10 }" style="display: none;">137.0/1800</span>
                                                                        <svg class="peity" height="20" width="20">
                                                                            <path d="M 10 0 A 10 10 0 0 1 14.601997847838517 1.1218461486359868 L 13.221398493486962 3.785292304045191 A 7 7 0 0 0 10 3"
                                                                                  fill="#35b752"></path>
                                                                            <path d="M 14.601997847838517 1.1218461486359868 A 10 10 0 1 1 9.999999999999998 0 L 9.999999999999998 3 A 7 7 0 1 0 13.221398493486962 3.785292304045191"
                                                                                  fill="#ccc"></path>
                                                                        </svg>
                                                                    </small>
                                                                    @*@if (Session["DisplayEmail"] != null && Session["DisplayEmail"].ToString() == "1")
                                                                    {
                                                                        <small class="col-8 col-md-5 pl-lg-30 searchkey">
                                                                            <i class="fa fa-envelope"></i>&nbsp;&nbsp;   @Html.DisplayFor(modelItem => item.Email)
                                                                        </small>
                                                                    }*@
                                                                        <small class="col-3 col-md-auto text-right">Last TRX: @Html.DisplayFor(modelItem => item.LastTras)</small>

                                                                    </div>
                                                            </div>

                                                        @if (item.DownLineLevel != null && item.DownLineLevel.Count() > 0)
                                                        {
                                                            <span class="glyphicon glyphicon-menu-right mg-icon pull-right"></span>

                                                        }
                                                    </a>
                                                    <div class="panel list-sub">
                                                        @foreach (var level2 in item.DownLineLevel.Where(x => x.ParentId == item.UserLoginId))
                                                        {
                                                            <div class="panel-body">
                                                                <div class="list-group">
                                                                    <a href="#" class="list-group-item">
                                                                        <span>
                                                                            <div class="list-view-mainContent">
                                                                                <div class="level-badge levelsecond">
                                                                                    <span>2</span>
                                                                                </div>
                                                                                <figure>
                                                                                    <img src="https://www.amcorro.com/wp-content/uploads/2013/05/user-icon-1.png">
                                                                                </figure>
                                                                                <div class="ist-view-mainContentHeading">
                                                                                    <h5 class="mt-0 mb-5 searchkey">
                                                                                        @Html.DisplayFor(modelItem => level2.Name)
                                                                                        <small class="mt-0 mb-5 searchkey">@Html.DisplayFor(modelItem => level2.RefferalId)</small>
                                                                                        <small class="mt-0 mb-5 float-right pr-lg-50 pr-sm-10 text-right searchkey">@Html.DisplayFor(modelItem => level2.JoinDate)</small>

                                                                                        <small class="mt-0 mb-5 float-right pr-lg-50 pr-sm-10 text-right searchkey">Designation: @Html.DisplayFor(modelItem => level2.Designation)</small>

                                                                                        @*@if (Session["DisplayMobile"] != null && Session["DisplayMobile"].ToString() == "1")
                                                                                        {
                                                                                            Mobile:<small class="mt-0 mb-5 float-right pr-lg-50 pr-sm-10 text-right searchkey">@Html.DisplayFor(modelItem => level2.Mobile)</small>
                                                                                        }*@
                                                                                        ERP:<small class="mt-0 mb-5 float-right pr-lg-50 pr-sm-10 text-right searchkey">@Html.DisplayFor(modelItem => level2.ERPbySP)</small>
                                                                                    </h5>
                                                                                </div>

                                                                                <div class="mainContentHeadingDown_listview">
                                                                                    <small class="col-5 col-md-auto searchkey">Level: @Html.DisplayFor(modelItem => level2.Level)&nbsp;&nbsp;&nbsp;</small>

                                                                                    <small class="col-7 col-md-3">
                                                                                        Points Remaining: @Html.DisplayFor(modelItem => level2.QRP)
                                                                                        <span data-trigger="hover" data-toggle="tooltip" data-placement="top" data-original-title="137.0/1800" class="peitycharts"
                                                                                              data-peity="{ &quot;fill&quot;: [&quot;#35b752&quot;, &quot;#ccc&quot;],
                                                                                            &quot;innerRadius&quot;: 7,
                                                                                            &quot;radius&quot;: 10 }" style="display: none;">137.0/1800</span>
                                                                                        <svg class="peity" height="20" width="20">
                                                                                            <path d="M 10 0 A 10 10 0 0 1 14.601997847838517 1.1218461486359868 L 13.221398493486962 3.785292304045191 A 7 7 0 0 0 10 3"
                                                                                                  fill="#35b752"></path>
                                                                                            <path d="M 14.601997847838517 1.1218461486359868 A 10 10 0 1 1 9.999999999999998 0 L 9.999999999999998 3 A 7 7 0 1 0 13.221398493486962 3.785292304045191"
                                                                                                  fill="#ccc"></path>
                                                                                        </svg>
                                                                                    </small>
                                                                                    @*@if (Session["DisplayEmail"] != null && Session["DisplayEmail"].ToString() == "1")
                                                                                    {
                                                                                        <small class="col-8 col-md-5 pl-lg-30 searchkey">
                                                                                            <i class="fa fa-envelope"></i>&nbsp;&nbsp;@Html.DisplayFor(modelItem => level2.Email)
                                                                                        </small>
                                                                                    }*@
                                                                                        <small class="col-3 col-md-auto text-right">Last TRX: @Html.DisplayFor(modelItem => level2.LastTras)</small>

                                                                                    </div>
                                                                            </div>
                                                                        </span>
                                                                        @if (level2.DownLineLevel2 != null && level2.DownLineLevel2.Count() > 0)
                                                        {
                                                                        <span class="glyphicon glyphicon-menu-right mg-icon pull-right"></span>
                                                                    
}
                                                                    </a>

                                                                    <div class="panel list-sub">
                                                                        @foreach (var level3 in level2.DownLineLevel2.Where(x => x.ParentId == level2.UserLoginId))
                                                                        {
                                                                            <div class="panel-body">
                                                                                <div class="list-group">
                                                                                    <a href="#" class="list-group-item">
                                                                                        <span>
                                                                                            <div class="list-view-mainContent">
                                                                                                <div class="level-badge levelthird">
                                                                                                    <span>3</span>
                                                                                                </div>
                                                                                                <figure>
                                                                                                    <img src="https://www.amcorro.com/wp-content/uploads/2013/05/user-icon-1.png">
                                                                                                </figure>
                                                                                                <div class="ist-view-mainContentHeading">
                                                                                                    <h5 class="mt-0 mb-5 searchkey">
                                                                                                        @Html.DisplayFor(modelItem => level3.Name)
                                                                                                        <small class="mt-0 mb-5 searchkey">@Html.DisplayFor(modelItem => level3.RefferalId)</small>
                                                                                                        <small class="mt-0 mb-5 float-right pr-lg-50 pr-sm-10 text-right searchkey">@Html.DisplayFor(modelItem => level3.JoinDate)</small>
                                                                                                        <small class="mt-0 mb-5 float-right pr-lg-50 pr-sm-10 text-right searchkey"> Designation: @Html.DisplayFor(modelItem => level3.Designation)</small>
                                                                                                        @*@if (Session["DisplayMobile"] != null && Session["DisplayMobile"].ToString() == "1")
                                                                                                        {
                                                                                                            Mobile:<small class="mt-0 mb-5 float-right pr-lg-50 pr-sm-10 text-right searchkey">@Html.DisplayFor(modelItem => level3.Mobile)</small>
                                                                                                        }*@
                                                                                                        ERP:<small class="mt-0 mb-5 float-right pr-lg-50 pr-sm-10 text-right searchkey">@Html.DisplayFor(modelItem => level3.ERPbySP)</small>
                                                                                                    </h5>
                                                                                                </div>

                                                                                                <div class="mainContentHeadingDown_listview">
                                                                                                    <small class="col-5 col-md-auto searchkey">Level: @Html.DisplayFor(modelItem => level3.Level)&nbsp;&nbsp;&nbsp;</small>

                                                                                                    <small class="col-7 col-md-3">
                                                                                                        Points Remaining:
                                                                                                        @Html.DisplayFor(modelItem => level3.QRP)
                                                                                                        <span data-trigger="hover" data-toggle="tooltip" data-placement="top" data-original-title="137.0/1800" class="peitycharts"
                                                                                                              data-peity="{ &quot;fill&quot;: [&quot;#35b752&quot;, &quot;#ccc&quot;],
                                                                                                                &quot;innerRadius&quot;: 7,
                                                                                                                &quot;radius&quot;: 10 }"
                                                                                                              style="display: none;">137.0/1800</span>
                                                                                                        <svg class="peity" height="20" width="20">
                                                                                                            <path d="M 10 0 A 10 10 0 0 1 14.601997847838517 1.1218461486359868 L 13.221398493486962 3.785292304045191 A 7 7 0 0 0 10 3"
                                                                                                                  fill="#35b752"></path>
                                                                                                            <path d="M 14.601997847838517 1.1218461486359868 A 10 10 0 1 1 9.999999999999998 0 L 9.999999999999998 3 A 7 7 0 1 0 13.221398493486962 3.785292304045191"
                                                                                                                  fill="#ccc"></path>
                                                                                                        </svg>
                                                                                                    </small>
                                                                                                    @*@if (Session["DisplayEmail"] != null && Session["DisplayEmail"].ToString() == "1")
                                                                                                    {
                                                                                                        <small class="col-8 col-md-5 pl-lg-30 searchkey">
                                                                                                            <i class="fa fa-envelope"></i>&nbsp;&nbsp;@Html.DisplayFor(modelItem => level3.Email)
                                                                                                        </small>
                                                                                                    }*@
                                                                                                        <small class="col-3 col-md-auto text-right">Last TRX: @Html.DisplayFor(modelItem => level3.LastTras)</small>

                                                                                                    </div>
                                                                                            </div>
                                                                                        </span>
                                                                                        @if (level3.DownLineLevel3 != null && level3.DownLineLevel3.Count() > 0)
                                                                                        {
                                                                                            <span class="glyphicon glyphicon-menu-right mg-icon pull-right"></span>

                                                                                        }
                                                                                    </a>
                                                                                    <div class="panel list-sub">
                                                                                        @foreach (var level4 in level3.DownLineLevel3.Where(x => x.ParentId == level3.UserLoginId))
                                                                                        {
                                                                                        <div class="panel-body">
                                                                                            <div class="list-group">
                                                                                                <a href="#" class="list-group-item">
                                                                                                    <span>
                                                                                                        <div class="list-view-mainContent">
                                                                                                            <div class="level-badge levelfour"><span>4</span></div><figure>
                                                                                                                <img src="https://www.amcorro.com/wp-content/uploads/2013/05/user-icon-1.png">
                                                                                                            </figure>
                                                                                                            <div class="ist-view-mainContentHeading">
                                                                                                                <h5 class="mt-0 mb-5 searchkey">
                                                                                                                    @Html.DisplayFor(modelItem => level4.Name)
                                                                                                                    <small class="mt-0 mb-5 searchkey">@Html.DisplayFor(modelItem => level4.RefferalId)</small>
                                                                                                                    <small class="mt-0 mb-5 float-right pr-lg-50 pr-sm-10 text-right searchkey">@Html.DisplayFor(modelItem => level4.JoinDate)</small>

                                                                                                                    <small class="mt-0 mb-5 float-right pr-lg-50 pr-sm-10 text-right searchkey">Designation: @Html.DisplayFor(modelItem => level4.Designation)</small>

                                                                                                                    @*@if (Session["DisplayMobile"] != null && Session["DisplayMobile"].ToString() == "1")
                                                                                                                    {
                                                                                                                        <small class="mt-0 mb-5 float-right pr-lg-50 pr-sm-10 text-right searchkey">@Html.DisplayFor(modelItem => level4.Mobile)</small>

                                                                                                                    }*@
                                                                                                                    ERP:<small class="mt-0 mb-5 float-right pr-lg-50 pr-sm-10 text-right searchkey">@Html.DisplayFor(modelItem => level4.ERPbySP)</small>
                                                                                                                </h5>
                                                                                                            </div>

                                                                                                            <div class="mainContentHeadingDown_listview">
                                                                                                                <small class="col-5 col-md-auto searchkey">Level: @Html.DisplayFor(modelItem => level4.Level)&nbsp;&nbsp;&nbsp;</small>

                                                                                                                <small class="col-7 col-md-3">
                                                                                                                    Points Remaining: @Html.DisplayFor(modelItem => level4.QRP)
                                                                                                                    <span data-trigger="hover" data-toggle="tooltip" data-placement="top" data-original-title="137.0/1800" class="peitycharts"
                                                                                                                          data-peity="{ &quot;fill&quot;: [&quot;#35b752&quot;, &quot;#ccc&quot;],
                                                                                                                                &quot;innerRadius&quot;: 7,
                                                                                                                                &quot;radius&quot;: 10 }"
                                                                                                                          style="display: none;">137.0/1800</span>
                                                                                                                    <svg class="peity" height="20" width="20">
                                                                                                                        <path d="M 10 0 A 10 10 0 0 1 14.601997847838517 1.1218461486359868 L 13.221398493486962 3.785292304045191 A 7 7 0 0 0 10 3"
                                                                                                                              fill="#35b752"></path>
                                                                                                                        <path d="M 14.601997847838517 1.1218461486359868 A 10 10 0 1 1 9.999999999999998 0 L 9.999999999999998 3 A 7 7 0 1 0 13.221398493486962 3.785292304045191"
                                                                                                                              fill="#ccc"></path>
                                                                                                                    </svg>
                                                                                                                </small>
                                                                                                                @*@if (Session["DisplayEmail"] != null && Session["DisplayEmail"].ToString() == "1")
                                                                                                                {
                                                                                                                    <small class="col-8 col-md-5 pl-lg-30 searchkey">
                                                                                                                        <i class="fa fa-envelope"></i>&nbsp;&nbsp;@Html.DisplayFor(modelItem => level4.Email)
                                                                                                                    </small>
                                                                                                                }*@
                                                                                                                <small class="col-3 col-md-auto text-right">
                                                                                                                    Last TRX:
                                                                                                                    @Html.DisplayFor(modelItem => level4.LastTras)
                                                                                                                </small>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </span>

                                                                                                    @if (level4.DownLineLevel4 != null && level4.DownLineLevel4.Count() > 0)
                                                                                                    {
                                                                                                        <span class="glyphicon glyphicon-menu-right mg-icon pull-right"></span>
                                                                                                    }
                                                                                                </a>

                                                                                                <div class="panel list-sub">

                                                                                                    @foreach (var level5 in level4.DownLineLevel4.Where(x => x.ParentId == level4.UserLoginId))
                                                                                                    {
                                                                                                        <div class="panel-body">
                                                                                                            <div class="list-group">
                                                                                                                <a href="#" class="list-group-item">
                                                                                                                    <span>
                                                                                                                        <div class="list-view-mainContent">
                                                                                                                            <div class="level-badge levelsecond"><span>5</span></div><figure>
                                                                                                                                <img src="https://www.amcorro.com/wp-content/uploads/2013/05/user-icon-1.png">
                                                                                                                            </figure>
                                                                                                                            <div class="ist-view-mainContentHeading">
                                                                                                                                <h5 class="mt-0 mb-5 searchkey">
                                                                                                                                    @Html.DisplayFor(modelItem => level5.Name)
                                                                                                                                    <small class="mt-0 mb-5 searchkey">@Html.DisplayFor(modelItem => level5.RefferalId)</small>
                                                                                                                                    <small class="mt-0 mb-5 float-right pr-lg-50 pr-sm-10 text-right searchkey">@Html.DisplayFor(modelItem => level5.JoinDate)</small>
                                                                                                                                    <small class="mt-0 mb-5 float-right pr-lg-50 pr-sm-10 text-right searchkey">Designation: @Html.DisplayFor(modelItem => level5.Designation)</small>
                                                                                                                                    @*@if (Session["DisplayMobile"] != null && Session["DisplayMobile"].ToString() == "1")
                                                                                                                                    {
                                                                                                                                        <small class="mt-0 mb-5 float-right pr-lg-50 pr-sm-10 text-right searchkey">@Html.DisplayFor(modelItem => level5.Mobile)</small>

                                                                                                                                    }*@
                                                                                                                                    ERP:<small class="mt-0 mb-5 float-right pr-lg-50 pr-sm-10 text-right searchkey">@Html.DisplayFor(modelItem => level5.ERPbySP)</small>
                                                                                                                                </h5>
                                                                                                                            </div>

                                                                                                                            <div class="mainContentHeadingDown_listview">
                                                                                                                                <small class="col-5 col-md-auto searchkey">Level: @Html.DisplayFor(modelItem => level5.Level)&nbsp;&nbsp;&nbsp;</small>

                                                                                                                                <small class="col-7 col-md-3">
                                                                                                                                    Points Remaining: @Html.DisplayFor(modelItem => level5.QRP)
                                                                                                                                    <span data-trigger="hover" data-toggle="tooltip" data-placement="top" data-original-title="137.0/1800" class="peitycharts"
                                                                                                                                          data-peity="{ &quot;fill&quot;: [&quot;#35b752&quot;, &quot;#ccc&quot;],
                                    &quot;innerRadius&quot;: 7,
                                    &quot;radius&quot;: 10 }"
                                                                                                                                          style="display: none;">137.0/1800</span>
                                                                                                                                    @*<svg class="peity" height="20" width="20">
                                                                                                                                        <path d="M 10 0 A 10 10 0 0 1 14.601997847838517 1.1218461486359868 L 13.221398493486962 3.785292304045191 A 7 7 0 0 0 10 3"
                                                                                                                                              fill="#35b752"></path>
                                                                                                                                        <path d="M 14.601997847838517 1.1218461486359868 A 10 10 0 1 1 9.999999999999998 0 L 9.999999999999998 3 A 7 7 0 1 0 13.221398493486962 3.785292304045191"
                                                                                                                                              fill="#ccc"></path>
                                                                                                                                    </svg>*@
                                                                                                                                </small>
                                                                                                                                @*@if (Session["DisplayEmail"] != null && Session["DisplayEmail"].ToString() == "1")
                                                                                                                                {
                                                                                                                                    <small class="col-8 col-md-5 pl-lg-30 searchkey">
                                                                                                                                        <i class="fa fa-envelope"></i>&nbsp;&nbsp;@Html.DisplayFor(modelItem => level5.Email)
                                                                                                                                    </small>
                                                                                                                                }*@
                                                                                                                                <small class="col-3 col-md-auto text-right">
                                                                                                                                    Last TRX:
                                                                                                                                    @Html.DisplayFor(modelItem => level5.LastTras)
                                                                                                                                </small>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </span>

                                                                                                                    @if (level5.DownLineLevel4 != null && level5.DownLineLevel4.Count() > 0)
                                                                                                                    {
                                                                                                                        <span class="glyphicon glyphicon-menu-right mg-icon pull-right"></span>
                                                                                                                    }
                                                                                                                </a>

                                                                                                                <div class="panel list-sub">
                                                                                                                    @foreach (var level6 in level5.DownLineLevel5.Where(x => x.ParentId == level5.UserLoginId))
                                                                                                                    {
                                                                                                                        <div class="panel-body">
                                                                                                                            <div class="list-group">
                                                                                                                                <a href="#" class="list-group-item">
                                                                                                                                    <span>
                                                                                                                                        <div class="list-view-mainContent">
                                                                                                                                            <div class="level-badge"><span>6</span></div><figure>
                                                                                                                                                <img src="https://www.amcorro.com/wp-content/uploads/2013/05/user-icon-1.png">
                                                                                                                                            </figure>
                                                                                                                                            <div class="ist-view-mainContentHeading">
                                                                                                                                                <h5 class="mt-0 mb-5 searchkey">
                                                                                                                                                    @Html.DisplayFor(modelItem => level6.Name)
                                                                                                                                                    <small class="mt-0 mb-5 searchkey">@Html.DisplayFor(modelItem => level6.RefferalId)</small>
                                                                                                                                                    <small class="mt-0 mb-5 float-right pr-lg-50 pr-sm-10 text-right searchkey">@Html.DisplayFor(modelItem => level6.JoinDate)</small>
                                                                                                                                                    <small class="mt-0 mb-5 float-right pr-lg-50 pr-sm-10 text-right searchkey">Designation: @Html.DisplayFor(modelItem => level6.Designation)</small>

                                                                                                                                                    @*@if (Session["DisplayMobile"] != null && Session["DisplayMobile"].ToString() == "1")
                                                                                                                                                    {
                                                                                                                                                        <small class="mt-0 mb-5 float-right pr-lg-50 pr-sm-10 text-right searchkey">@Html.DisplayFor(modelItem => level6.Mobile)</small>

                                                                                                                                                    }*@
                                                                                                                                                    ERP:<small class="mt-0 mb-5 float-right pr-lg-50 pr-sm-10 text-right searchkey">@Html.DisplayFor(modelItem => level6.ERPbySP)</small>
                                                                                                                                                </h5>
                                                                                                                                            </div>

                                                                                                                                            <div class="mainContentHeadingDown_listview">
                                                                                                                                                <small class="col-5 col-md-auto searchkey">Level: @Html.DisplayFor(modelItem => level6.Level)&nbsp;&nbsp;&nbsp;</small>

                                                                                                                                                <small class="col-7 col-md-3">
                                                                                                                                                    Points Remaining: @Html.DisplayFor(modelItem => level6.QRP)
                                                                                                                                                    <span data-trigger="hover" data-toggle="tooltip" data-placement="top" data-original-title="137.0/1800" class="peitycharts"
                                                                                                                                                          data-peity="{ &quot;fill&quot;: [&quot;#35b752&quot;, &quot;#ccc&quot;],
                                    &quot;innerRadius&quot;: 7,
                                    &quot;radius&quot;: 10 }"
                                                                                                                                                          style="display: none;">137.0/1800</span>
                                                                                                                                                    <svg class="peity" height="20" width="20">
                                                                                                                                                        <path d="M 10 0 A 10 10 0 0 1 14.601997847838517 1.1218461486359868 L 13.221398493486962 3.785292304045191 A 7 7 0 0 0 10 3"
                                                                                                                                                              fill="#35b752"></path>
                                                                                                                                                        <path d="M 14.601997847838517 1.1218461486359868 A 10 10 0 1 1 9.999999999999998 0 L 9.999999999999998 3 A 7 7 0 1 0 13.221398493486962 3.785292304045191"
                                                                                                                                                              fill="#ccc"></path>
                                                                                                                                                    </svg>
                                                                                                                                                </small>
                                                                                                                                                @*@if (Session["DisplayEmail"] != null && Session["DisplayEmail"].ToString() == "1")
                                                                                                                                                {
                                                                                                                                                    <small class="col-8 col-md-5 pl-lg-30 searchkey">
                                                                                                                                                        <i class="fa fa-envelope"></i>&nbsp;&nbsp;@Html.DisplayFor(modelItem => level6.Email)
                                                                                                                                                    </small>
                                                                                                                                                }*@
                                                                                                                                                <small class="col-3 col-md-auto text-right">
                                                                                                                                                    Last TRX:
                                                                                                                                                    @Html.DisplayFor(modelItem => level6.LastTras)
                                                                                                                                                </small>
                                                                                                                                            </div>
                                                                                                                                        </div>
                                                                                                                                    </span>

                                                                                                                                    @if (level5.DownLineLevel6 != null && level6.DownLineLevel4.Count() > 0)
                                                                                                                                    {
                                                                                                                                        <span class="glyphicon glyphicon-menu-right mg-icon pull-right"></span>
                                                                                                                                    }
                                                                                                                                </a>

                                                                                                                                <div class="panel list-sub">




                                                                                                                                </div>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    }



                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    }



                                                                                                </div>
                                                                                            </div>
                                                                                            </div>
                                                                                            }
                                                                                        </div>

                                                                                </div>
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>

                                                }
                                            </div>


                                            <!-- ./ end list-group -->
                                        </div>
                                        <!-- ./ end slide-container -->
                                    </div>
                                    <!-- ./ end panel-body -->
                                </div>
                                <!-- ./ end panel panel-default-->
                                <!-- ./ end panel panel-default-->
                            </div>
                            <!-- ./ endcol-lg-6 col-lg-offset-3 -->
                            <!-- add multiple -->

                        </div>
                        <!-- End Example Nestables With Media Content -->
                    </div>

                </div>

            </div>
        </div>
    </div>

</section>
<!-- jQuery CDN - Slim version (=without AJAX) -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script> -->
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
<!-- jQuery Custom Scroller CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

<script type="text/javascript">
    //$(document).ready(function () {
    //    $("#sidebar").mCustomScrollbar({
    //        theme: "minimal"
    //    });

    //    $('#dismiss, .overlay').on('click', function () {
    //        $('#sidebar').removeClass('active');
    //        $('.overlay').removeClass('active');
    //    });

    //    $('#sidebarCollapse').on('click', function () {
    //        $('#sidebar').addClass('active');
    //        $('.overlay').addClass('active');
    //        $('.collapse.in').toggleClass('in');
    //        $('a[aria-expanded=true]').attr('aria-expanded', 'false');
    //    });
    //});


    $(document).ready(function () {

        var multisidetabs = (function () {
            var opt, parentid,
                vars = {
                    listsub: '.list-sub',
                    showclass: 'mg-show'
                },
                test = function () {
                    console.log(parentid);
                },
                events = function () {
                    $(parentid).find('a').on('click', function (ev) {
                        ev.preventDefault();
                        var atag = $(this), childsub = atag.next(vars.listsub);
                        //console.log(atag.text());
                        if (childsub && opt.multipletab == true) {
                            if (childsub.hasClass(vars.showclass)) {
                                childsub.removeClass(vars.showclass).slideUp(500);
                            } else {
                                childsub.addClass(vars.showclass).slideDown(500);
                            }
                        }
                        if (childsub && opt.multipletab == false) {
                            childsub.siblings(vars.listsub).removeClass(vars.showclass).slideUp(500);
                            if (childsub.hasClass(vars.showclass)) {
                                childsub.removeClass(vars.showclass).slideUp(500);
                            } else {
                                childsub.addClass(vars.showclass).slideDown(500);
                            }
                        }
                    });
                },
                init = function (options) {//initials
                    if (options) {
                        opt = options;
                        parentid = '#' + options.id;
                        //test();
                        events();
                    } else { alert('no options'); }
                }

            return { init: init };
        })();

        multisidetabs.init({
            "id": "mg-multisidetabs",
            "multipletab": false
        });

    })
</script>

