@using PagedList;
@using PagedList.Mvc;
@model ModelLayer.Models.ViewModel.LeadersTabularViewParameterViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LeaderUsersLayout.cshtml";
}

@using PagedList;
@using PagedList.Mvc;

<link rel="stylesheet" href="~/Templates/UsersTemplate/css/material-design.minfd53.css">
<link rel="stylesheet" href="~/Templates/UsersTemplate/css/style3.css">
<link rel="stylesheet" href="~/Templates/UsersTemplate/css/dropify.minfd53.css">
<link rel="stylesheet" href="~/Templates/UsersTemplate/css/custom.css">
<link rel="stylesheet" href="~/Templates/UsersTemplate/css/tablesaw.css">
<link rel="stylesheet" href="~/Templates/UsersTemplate/css/footable.minfd53.css">
<link rel="stylesheet" href="~/Templates/UsersTemplate/css/site.minfd53.css.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>leaders Ezeelo</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<link href="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js" rel="stylesheet">


<script>
    $(document).ready(function () {
        hideSymbol();
        function hideSymbol() {
            var listItems = $(".pagination li");
            listItems.each(function (li) {
                if ($(this).text() == "»") {
                    $(this).hide();
                }
                if ($(this).text() == "«") {
                    $(this).hide();
                }
            });
        }

        $("#SearchInListDDBTN").removeClass("show");
        $("#shoColname").click(function () {
            if ($("#SearchInListDDBTN").css('display') == 'none') {
                $("#SearchInListDDBTN").addClass("show");
            }
            else {
                $("#SearchInListDDBTN").removeClass("show");
            }
        });
        $("#btnSubmitShow").click(function () {
            $("#SearchInListDDBTN").removeClass("show");
            $("#pageNo").val(1);
            $('#btnsubmit').click();
        });
        $("#btnSubmit").click(function () {
            $("#SearchInListDDBTN").removeClass("show");
            $("#pageNo").val(1);
            return true;
        });
        $()
    })
    $(document).on('click', '.pagination a', function () {        
        var pageVal = $(this).text();
        $("#pageNo").val(pageVal);
        $('#btnsubmit').click();        
        return false;
    });
</script>


<section class="maintabularPageView">
    <h4 class="example-title">Network Tree</h4>
    <div class="maintabularPageView-child">
        <div class="maintabularPageView-heading">
            <h3 class="panel-title">Tabular List of Network</h3>
            <p><!-- <i class="fa fa-info"></i> --> Search within rows by Using Search bar</p>
        </div>


        @using (Ajax.BeginForm("GetReportTablurView", "LeadersNetworkReport", new AjaxOptions { LoadingElementId = "progressReport", UpdateTargetId = "ReportDiv" }))
        {
            @Html.TextBoxFor(model => model.pageNo, new { style = "display:none" })
            <input type="button" id="btnSubmitShow" style="display:none" />
            <tr class="footable-filtering">
                <th colspan="9">
                    <div id="progressReport" class="modal">
                        <div class="center">
                            <img src="~/img/ajax-loading-gif-transparent-background-8.gif" />
                        </div>
                    </div>
                    <form class="form-inline">
                        <table>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label class="sr-only">Status</label>
                                        @Html.DropDownListFor(model => model.LevelId, Model.LevelList, new { @class = "form-control", onchange = "$('#btnSubmitShow').click();", style = "width:auto" })

                                    </div>
                                </td>
                                <td>
                                    <div class="form-group footable-filtering-search">
                                        <label class="sr-only">Search</label>
                                        <div class="input-group">
                                            @Html.TextBoxFor(model => model.SearchBy, new { @class = "form-control", placeholder = "Search By", })
                                            @*<input type="text" class="form-control" placeholder="Search By">*@
                                            <div class="dropdown input-group-btn ">
                                                <input type="submit" style="display:none" id="btnsubmit">>
                                                <button type="button" class="btn btn-primary" onclick="$('#btnSubmitShow').click()">
                                                    <span class="fooicon fooicon-search">
                                                        <i class="fa fa-search" aria-hidden="true"></i>
                                                    </span>
                                                </button>
                                                <button id="shoColname" type="button" class="btn btn-default dropdown-toggle SearchInList ">
                                                    <span class="caret"></span>
                                                </button>
                                                <ul id="SearchInListDDBTN" class="dropdown-menu dropdown-menu-right SearchInListDsplNN show">
                                                    <li class="dropdown-header">Search in:</li>
                                                    <li>
                                                        <a class="checkbox">
                                                            <label>
                                                                @Html.CheckBoxFor(model => model.Name) Name
                                                                @* <input type="checkbox" checked="checked">Name*@
                                                            </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="checkbox">
                                                            <label>
                                                                @Html.CheckBoxFor(model => model.RefId) Referal ID
                                                                @*<input type="checkbox" checked="checked">Referal ID*@
                                                            </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="checkbox">
                                                            <label>
                                                                @Html.CheckBoxFor(model => model.EMail) E-Mail
                                                                @*<input type="checkbox" checked="checked">E-Mail*@
                                                            </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="checkbox">
                                                            <label>
                                                                @Html.CheckBoxFor(model => model.JoinDate) Joined Date
                                                                @*<input type="checkbox" checked="checked">Joined Date*@
                                                            </label>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="checkbox">
                                                            <label>
                                                                @Html.CheckBoxFor(model => model.ParaenttName) Parent Name
                                                                @*<input type="checkbox" checked="checked">Parent Name*@
                                                            </label>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div id="activestat">
                                        <table>
                                            <tr>
                                                <td>
                                                    <div class="checkbox-custom ml-10 d-inline checkbox-primary">
                                                        <label>
                                                            @Html.CheckBoxFor(model => model.Active, new { onchange = "$('#btnSubmitShow').click();" }) Active
                                                            @*<input type="checkbox" id="active" checked="checked">*@
                                                            @*<label for="active">Active</label>*@
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="checkbox-custom ml-10 d-inline checkbox-primary">
                                                        <label>
                                                            @Html.CheckBoxFor(model => model.InActive, new { onchange = "$('#btnSubmitShow').click();" }) InActive
                                                            @*<input type="checkbox" id="inactive" checked="checked">*@
                                                            @*<label for="inactive">InActive</label>*@
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>


                                    </div>
                                </td>
                            </tr>
                        </table>



                    </form>

                </th>
            </tr>
            <div id="ReportDiv">
                @{
            var m = Model.list.ToPagedList(@Model.pageNo, 10);
                }
                @{ Html.RenderPartial("~/Views/LeadersNetworkReport/_ReportTable.cshtml", m); }
            </div>
        }
    </div>
</section>
