@model IEnumerable<ModelLayer.Models.ViewModel.StockManagementReportViewModel>


<style>
    .uploader {
        width: 180px !important;
    }
    #ddlFranchiseID {margin-right:15px;
    }
    </style>

<div class="row-fluid" style="margin-left:15px;margin-top:28px;">
    @*<h4>Bulk Update Price</h4>*@
    <div class="box span12">
        <div class="box-header">
            <h2><i class="icon-edit"></i><span class="break"></span>Bulk Update Price</h2>
        </div>
        <div class="box-content">
            @using (Html.BeginForm("GetExcelIndex", "BulkUpdatePrice", FormMethod.Post))
            {
                @Html.Hidden("hdnShopName");
                @Html.DropDownList("ddlFranchiseID", "--Select Franchise--")
                @Html.DropDownList("ddlMerchant", string.Empty)
                <input type="submit" name="btnExportLicensing" style="width: 88px; height: 29px; margin-top: -9px;"
                       value="Export" id="exportLicensing" class="button btn-primary" onclick="return validate();" />
                <span class="msg" style="color:red"></span>
            }
            @using (Html.BeginForm("UploadExcel", "BulkUpdatePrice", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmID" }))
            {
                @*<div id="divfileUpload" style="display:none">*@
                @Html.Hidden("hdnShopID");
                @Html.Hidden("hdnFranchiseID");

                <input type="file" name="file" id="fileUploadExcel" />
                <input type="submit" value="Upload Excel" class="btn btn-small btn-danger" id="btnUploadSheet" />
                <div id="divValidationMsg" class="validation-summary-errors">
                    <br /><br />
                    @if (TempData["ExcelValidationFailed"] != null)
                    {
                        @Html.Raw(TempData["ExcelValidationFailed"])

                    }
                </div>
                @*</div>*@

            }
        </div>
    </div>
</div>
    <div>
        @Html.Partial("_ProductDetail", Model)
    </div>

   

 <script src="~/Content/js/jquery.1.8.3.min.js"></script>
    <script type="text/javascript">
        $("select#ddlFranchiseID").bind('change', function () {
            var franchiseID = $("select#ddlFranchiseID option:selected").val();
            if (franchiseID == 0) {
                $('#ddlMerchant').empty();
                return;
            }
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetMerchantByFranchiseId", "BulkUpdatePrice")',
                data: { 'FranchiseID': franchiseID },
                //dataType: "json",
                cache: false,
                success: function (msg) {
                    $('#ddlMerchant').empty();
                    $('#ddlMerchant').append('<option value=0>Select Shop</option>');
                    $.each(msg, function (index, item) {
                        $('#ddlMerchant').append('<option value=' + item.MerchantID + '>' + item.MerchantName + '</option>');
                    });
                },
                error: function (x, e) {
                    alert('Failure');

                }
            });
        });

        $("select#ddlMerchant").bind('change', function () {
            var MerchantID = $("select#ddlMerchant option:selected").val();
            var FranchiseID = $("select#ddlFranchiseID option:selected").val();
            var MerchantName = $("select#ddlMerchant option:selected").text();
            $("[id=hdnShopID]").val(MerchantID);
            $("[id=hdnFranchiseID]").val(FranchiseID);
            $("[id=hdnShopName]").val(MerchantName);
            //alert($("[id=hdnShopID]").val());
            //@ViewBag.ShopID = MerchantID;
            //alert("@ViewBag.ShopID");
        });
        function validate() {
            var shopID = $("select#ddlMerchant option:selected").val();
            if (shopID == 0) {
                $('.msg').text('Please Select Shop Name');
                //$('#divfileUpload').css("display", "none");
                return false;
            }
            else {
                //$('#divfileUpload').css("display", "block");
                return true;
            }
        }



        $(function () {
            $('#fileUploadExcel').change(function () {
                var f = this.files[1]

                $("#divValidationMsg").html("");

                for (var i = 0; i < this.files.length; ++i) {


                    var filetype = this.files[i].type;
                    //     alert(filetype);
                    var ValidImageTypes = ["application/vnd.ms-excel", "application/excel", "application/x-msexcel", "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"];

                    if ($.inArray(filetype, ValidImageTypes) < 0) {
                        $("#divValidationMsg").html("Invalid File Type. Only .xls or.xlsx file is allowed.");
                        break;
                    }
                }

            });

        });

        function checkfilesize(fileObj) {

            var iSize = ($(fileObj)[0].files[0].size);
            return iSize;
        }

        $(document).ready(function () {
            $("#btnUploadSheet").click(function () {
                var shopID = $("select#ddlMerchant option:selected").val();
                if (shopID == 0) {
                    $('.msg').text('Please Select Shop Name');
                    return false;
                }
                var has_selected_file = $('#fileUploadExcel').val();
                //alert(has_selected_file);
                if (has_selected_file != "") {

                    fileObj = $("#fileUploadExcel"); //  document.getElementById('<%= fileUploadExcel.ClientID %>');
                    var size = checkfilesize(fileObj);
                    //1024 * 1024 * 3  = 3145728
                    if (size > 3145728) {
                        $("#divValidationMsg").html("Allowed file size exceeded. (Max. 3 MB).");
                        return false;
                    }
                    var isAnyValidatonError = $("#divValidationMsg").html();
                    if (isAnyValidatonError.trim().length > 0) {
                        return false;
                    }
                    else {
                        return true;
                    }
                }
                else {
                    $("#divValidationMsg").html("Please select Excel file to be uploaded. Max allowed file size is 3 MB.");
                    return false;

                }

            });
        });
    </script>
