@*//-----------------------------------------------------------------------
        // <copyright file="Details.cshtml" company="Ezeelo Consumer Services Pvt. Ltd.">
    //     Copyright (c) Ezeelo Consumer Services Pvt. Ltd. All rights reserved.
    //
</copyright>
        // <author>Snehal Shende</author>
        //-----------------------------------------------------------------------*@

@model ModelLayer.Models.ChargeStage

@{
    ViewBag.Title = "Edit";
}

@*<h2>Edit</h2>*@


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="span10" id="content">
        <ul class="breadcrumb">
            <li>
                <i class="icon-edit"></i>
                <a href="#">Edit</a>
                @*<i class="icon-angle-right"></i>*@
            </li>
            @*<li><a href="#">Tables</a></li>*@
        </ul>
        <div class="row-fluid">
            <div class="box span6">
                <div class="box-header">
                    <h2><i class="icon-edit"></i><span class="break"></span>Charge Stage</h2>
                   
                </div>
                <div class="box-content">
                    <form class="form-horizontal">
                        @*<h4>ChargeStage</h4>*@
                        <hr />
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.ID)

                        <div class="control-group">
                            @Html.LabelFor(model => model.Name, new { @class = "control-label span2" })
                            <div class="col-md-10 controls">
                                @Html.EditorFor(model => model.Name)
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.LabelFor(model => model.IsActive, new { @class = "control-label span2" })
                            <div class="col-md-10 controls">
                                @Html.EditorFor(model => model.IsActive)
                                @Html.ValidationMessageFor(model => model.IsActive)
                            </div>
                        </div>



                        <div class="form-actions">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-success" />
                                @Html.ActionLink("Back to List", "Index", string.Empty, new { @class = "btn" })
                            </div>
                        </div>
                        <div>
                            @*@Html.ActionLink("Back to List", "Index")*@
                           
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
