@*//-----------------------------------------------------------------------
            // <copyright file="Index.cshtml" company="Ezeelo Consumer Services Pvt. Ltd.">
        //     Copyright (c) Ezeelo Consumer Services Pvt. Ltd. All rights reserved.
        //
    </copyright>
            // <author>Snehal Shende</author>
            //-----------------------------------------------------------------------*@

@model IEnumerable<ModelLayer.Models.ChargeStage>

@{
    ViewBag.Title = "Index";
}
@*<h2>Index</h2>*@

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<div id="content" class="span10" style="min-height: 435px;">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="#">Index</a>
            <i class="icon-angle-right"></i>
        </li>
        @*<li><a href="#">Tables</a></li>*@
    </ul>
    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header">
                <h2>
                    <i class="halflings-icon user"></i><span class="break"></span>
                    @Html.ActionLink("Create New", "Create")
                </h2>

            </div>
            <div class="box-content">
                @*<table>
                    <tr>
                             <td>File</td>
                             <td><input type="file" name="Files" id="Files" multiple="multiple" /></td>
                             <td><input type="file" name="logo" id="logo" /></td>
                         </tr>
                         <tr>
                             <td>&nbsp;</td>
                             <td><input type="submit" name="submit" value="Upload" id="Upload" /> </td>
                         </tr>
                         <tr>
                             <td>
                                 <img src="@ViewBag.ThumbPath" alt="abc" width="120" height="120" />
                             </td>
                         </tr>
                     </table>*@
                <table class="table table table-striped">
                    <tr>
                        @*<th>
                                @Html.DisplayNameFor(model => model.PersonalDetail.FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PersonalDetail1.FirstName)
                            </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.CreateDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ModifyDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NetworkIP)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DeviceType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DeviceID)
                            </th>*@
                        <th>Actions</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.PersonalDetail.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PersonalDetail1.FirstName)
                                </td>*@
                            <td>
                                @*@Html.ActionLink(item.Name, "Index", "Commission", new { comStageID = item.ID }, null)*@
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.CreateDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ModifyDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NetworkIP)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeviceType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeviceID)
                                </td>*@
                            <td>
                                @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@

                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-small btn-success" })
                                @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-small btn-primary" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-small btn-danger" })
                               
                            </td>
                        </tr>
                    }

                </table>
            </div>

            <div class="form-actions" style="margin: 20px 0px 0px 0px;">
                <div class="col-md-offset-2 span10">
                    @Html.ActionLink("Back to List", "Index", string.Empty, new { @class = "btn" })
                </div>
            </div>
        </div>
    </div>
</div>






