@model ModelLayer.Models.DeliverySchedule

@{
    ViewBag.Title = "Delete";
}
<span style="color:red">@ViewBag.referenceMsg</span>
<div id="content" class="span10">
    <ul class="breadcrumb">
        <li>
            <a href="#">Delivery Schedule/Delete</a>
        </li>
    </ul>

    <div class="row-fluid">

        <div class="box span12">
            <div class="box-header">
                <h2><i class="icon-edit"></i><span class="break"></span>Delete</h2>
            </div>
            <div class="box-content">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.DisplayName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DisplayName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ActualTimeFrom)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ActualTimeFrom)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ActualTimeTo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ActualTimeTo)
                    </dd>
                    <dt>
                        City
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.City.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.NoOfDelivery)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NoOfDelivery)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IsActive)
                    </dd>

                    @*<dt>
                            @Html.DisplayNameFor(model => model.CreateDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreateDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CreateBy)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreateBy)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ModifyDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ModifyDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ModifyBy)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ModifyBy)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.NetworkIP)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NetworkIP)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DeviceType)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DeviceType)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DeviceID)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DeviceID)
                        </dd>*@

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color" style="padding-left:180px">
                        <input type="submit" value="Delete" class="btn btn-primary" />
                        @Html.ActionLink("Back to List", "Index", string.Empty, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</div>
