@model IEnumerable<ModelLayer.Models.DeliverySchedule>

@{
    ViewBag.Title = "Index";
}

@*@Html.ValidationMessage("Message")*@
<div id="content" class="span10">
    <div class="span12 lineSpaceRes" style="width:100%">
        <div class="span3">
            @*Added by Priti on 7/10/2018*@

            @Html.DropDownList("FranchiseList", null, "Select Franchise", new { @style = "width:auto;", onchange = "this.form.submit();" })
        </div>

        <div class="span3">
            @*Added by Priti on 7/10/2018*@

            @Html.DropDownList("CityList", null, "Select City", new { @style = "width:auto;", onchange = "this.form.submit();" })
        </div>



        <ul class="breadcrumb">
            <li>
                <a href="#">Delivery Schedule/Index</a>
            </li>
        </ul>
    </div>

    <div class="row-fluid">

        <div class="box span12">
            <div class="box-header">
                <h2><i class="icon-edit"></i><span class="break"></span>Delivery Schedule</h2>
                <div class="pull-right jumpBtn CreateFormBtn">
                    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-small" })
                </div>
            </div>
            <div class="box-content">
                <table class="table">
                    <tr>
                        <th>
                            Display Name
                        </th>
                        <th>
                            Actual Time From
                        </th>
                        <th>
                            Actual Time To
                        </th>
                        <th>
                            City
                        </th>
                        <th>
                            Franchise @*////added*@
                        </th>
                        <th>
                            No Of Delivery
                        </th>
                        <th>
                            IsActive
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.CreateDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreateBy)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ModifyDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ModifyBy)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NetworkIP)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DeviceType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DeviceID)
                            </th>*@
                        <th>Actions</th>
                    </tr>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DisplayName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ActualTimeFrom)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ActualTimeTo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.City.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Franchise.ContactPerson) @*////added*@
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NoOfDelivery)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsActive)
                                </td>

                                @*<td>
                                        @Html.DisplayFor(modelItem => item.CreateDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreateBy)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ModifyDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ModifyBy)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NetworkIP)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DeviceType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DeviceID)
                                    </td>*@
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-small btn-success" })
                                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-small btn-primary" })
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-small btn-danger" })
                                </td>
                            </tr>
                        }
                    }

                </table>
            </div>
        </div>
    </div>
</div>
