@using (Html.BeginForm("ApplyChargesToMany", "PlanCategoryCharge", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div id="content" class="span10">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#">Apply charges To Many</a>
               
            </li>

        </ul>
        <div class="row-fluid">
            <div class="box span12">
                <div class="box-content">
                    <form class="form-horizontal">
                        @Html.ValidationMessage("CustomError")
                        @Html.ValidationSummary(true)

                        <div class="control-group">
                            @Html.Label("Charge Name", new { @class = "control-label span2" })
                            <div class="col-md-10">
                                @Html.DropDownList("ChargeID", null, "--Select--", new { @required = "required" })
                                @Html.ValidationMessage("ChargeID")
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="span2">Select Category</label>
                            <div class="col-md-10">
                                @*@Html.DropDownList("Category_2", (SelectList)ViewBag.Category_2, "All Category", new { })*@
                                @Html.DropDownList("CatID", (SelectList)ViewBag.CatID, "All Category", null)

                            </div>
                        </div>
                        <div class="control-group">
                            @*@Html.LabelFor(model => model.ChargeInPercent, new { @class = "control-label col-md-2" })*@
                            <label class="span2">Charge In Percent (%)</label>
                            <div class="col-md-10">
                                @Html.TextBox("ChargeInPercent", null, new { @Value = "0" })
                                @*@Html.ValidationMessageFor(model => model.ChargeInPercent)*@
                            </div>
                        </div>

                        <div class="control-group">
                            @*@Html.LabelFor(model => model.ChargeInRupee, new { @class = "control-label col-md-2" })*@
                            <label class="span2">Charge In Rupees (Rs.)</label>
                            <div class="col-md-10">
                                @Html.TextBox("ChargeInRupee", null, new { @Value = "0" })
                                @*@Html.ValidationMessageFor(model => model.ChargeInRupee)*@
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="span2">IsActive</label>                            
                            <div class="col-md-10">
                                @Html.CheckBox("IsActive",false)
                            </div>
                        </div>
                        @if (ViewBag.Message != null)
                        {
                            <span style="color:red; font-weight:bold;"> @ViewBag.Message </span>
                        }



                    </form>
                    <div class="form-actions">
                        <input type="submit" name="submit" value="Save" class="btn btn-success" />
                        @*@Html.ActionLink("Back to List", "Index", "OwnerPlanCategoryCharge", new { ownerId = @ViewBag.ownerId }, new { @class = "btn" })*@
                        @Html.ActionLink("Back to List", "ShowList", new { planId = ViewBag.PlanID }, new { @class = "btn" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}

