@*//-----------------------------------------------------------------------
        // <copyright file="Delete.cshtml" company="Ezeelo Consumer Services Pvt. Ltd.">
        //     Copyright (c) Ezeelo Consumer Services Pvt. Ltd. All rights reserved.
        //
    </copyright>
        // <author>Snehal Shende</author>
        //-----------------------------------------------------------------------*@

@model ModelLayer.Models.PlanCategoryCharge

@{
    ViewBag.Title = "Delete";
}


<div id="content" class="span10">


    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="#">Plan Category Charge</a>
            <i class="icon-angle-right"></i>
        </li>

    </ul>

    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header">
                <h2><i class="halflings-icon pencil"></i><span class="break"></span> Delete</h2>
            </div>
            <div class="box-content">

                <dl class="dl-horizontal">
                    <dt>
                        Plan Name
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Plan.ShortName)
                    </dd>
                    <dt>
                        Category Name
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Category.Name)
                    </dd>

                    <dt>
                        Charge Name
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Charge.Name)
                    </dd>

                    @*<dt>
                        @Html.DisplayNameFor(model => model.PersonalDetail.FirstName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PersonalDetail.FirstName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PersonalDetail1.FirstName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PersonalDetail1.FirstName)
                    </dd>*@

                    

                    <dt>
                        @Html.DisplayNameFor(model => model.ChargeInPercent)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ChargeInPercent)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ChargeInRupee)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ChargeInRupee)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IsActive)
                    </dd>

                    @*<dt>
                        @Html.DisplayNameFor(model => model.CreateDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreateDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ModifyDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ModifyDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NetworkIP)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NetworkIP)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DeviceType)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DeviceType)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DeviceID)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DeviceID)
                    </dd>*@

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color" style="padding-left: 180px;">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        @*@Html.ActionLink("Back to List", "Index")*@
                        @*@Html.ActionLink("Back to List", "Index", new { id = Model.ID }, new { @class = "btn" })*@
                        @Html.ActionLink("Back to List", "ShowList", new { planId = Model.PlanID }, new { @class = "btn" })
                    </div>
                }
            </div>
        </div>
    </div>
</div>
