@model ModelLayer.Models.ViewModel.TrackOrderViewModelList

@{
    ViewBag.Title = "eZeelo:DeliveredList";
}
<style>
    .row-fluid [class*="span"] {
        display: block;
        float: left;
        min-height: 30px;
        margin-left: 0.1% !important;
        box-sizing: border-box;
    }
    .HideSection {
        display: none;
    }
</style>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#chkSelect").click(function () {
            $(".chkSelect").prop('checked', $(this).prop('checked'));
        });
    });

</script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
   <div class="span10" id="content">
        <div class="row-fluid">
            <div class="box span12">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-truck"></i><span class="break"></span>Deliverd</h2>

                </div>

                <div class="box-content">
                    <table class="table table-bordered">
                        <tr id="Heading">
                            <th>
                                @Html.CheckBox("select", new { id = "chkSelect" })
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LtrackOrderViewModelList[0].OrderCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LtrackOrderViewModelList[0].ShopOrderCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LtrackOrderViewModelList[0].FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LtrackOrderViewModelList[0].CreateDate)
                            </th>
                        </tr>

                        @if (Model.LtrackOrderViewModelList.Count() == 0)
                        {
                            <tr>
                                <td colspan="6" class="text-center"><h3>No Record Found...</h3></td>
                            </tr>
                        }

                        @if (Model.LtrackOrderViewModelList != null && Model.LtrackOrderViewModelList.Distinct().Count() > 0)
                        {
                            List<string> OrderCodeList = Model.LtrackOrderViewModelList.Select(x => x.OrderCode).Distinct().ToList();


                            bool IsDelivery = Convert.ToBoolean(Model.LtrackOrderViewModelList.Select(x => x.IsDeliveryOutSource).First());

                            if (IsDelivery == false)
                            {
                                //outer printing material
                                for (int i = 0; i < OrderCodeList.Count(); i++)
                                {

                                    var allFileds = (Model.LtrackOrderViewModelList
                                        .Select(x => new
                                        {
                                            x.OrderCode,
                                            x.ShopOrderCode,
                                            x.CustomerOrderID,
                                            x.FirstName,
                                            x.CreateDate,
                                            x.PName,
                                            x.PackSize,
                                            x.Name,
                                            x.CODQty,
                                            x.RetailerRate,
                                            x.TotalAmount,
                                            x.OrderAmount,
                                            x.GandhibaghCharge,
                                            x.PayableAmount,
                                            x.IsDeliveryOutSource,
                                            x.Email,
                                            x.Mobile,
                                            x.ShippingAddress,
                                            x.AreaName,
                                            x.CityName,
                                            x.PincodeName,
                                            x.ImageLocation
                                        })
                                        .Where(x => x.OrderCode == OrderCodeList[i].ToString()).ToList());
                                    string LOrderDetail_T = "OrderDetail" + i.ToString();
                                    string LItemDetail_T = "ItemDetail" + i.ToString();

                                    <tr id="@LOrderDetail_T">
                                        <td>
                                            @Html.CheckBoxFor(model => model.LtrackOrderViewModelList[i].CheckBoxStatus, new { @class = "chkSelect" })
                                            @Html.HiddenFor(model => model.LtrackOrderViewModelList[i].ShopOrderCode)
                                            @Html.HiddenFor(model => model.LtrackOrderViewModelList[i].CustomerOrderID)
                                        </td>
                                        <td>
                                            <a href="#" class="btn-minimize"><i class="halflings-icon chevron-down"></i>@allFileds[0].OrderCode</a>
                                        </td>
                                        <td>
                                            @allFileds[0].ShopOrderCode
                                        </td>
                                        <td>
                                            @allFileds[0].FirstName
                                        </td>
                                        <td>
                                            @allFileds[0].CreateDate
                                        </td>
                                       </tr>
                                    <tr class="hide-row box-content" id="@LItemDetail_T">
                                        <td colspan="5">
                                            <table class="table ProDisplayBlock">
                                                <tr>
                                                    <td colspan="5">

                                                        @for (int j = 0; j < allFileds.Count(); j++)
                                                        {

                                                            <div class="box span6">
                                                                <table class="table table-bordered" style="margin-bottom:0px">
                                                                    <tr>
                                                                        <td rowspan="6">
                                                                            @{string s = allFileds[j].ImageLocation;
                                                                            <img src="@s" alt="@allFileds[j].PName" />
                                                                            }
                                                                        </td>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.LtrackOrderViewModelList[j].PName)
                                                                        </th>
                                                                        <td>
                                                                            @allFileds[j].PName
                                                                        </td>
                                                                    </tr>

                                                                    <tr>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.LtrackOrderViewModelList[j].CODQty)
                                                                        </th>
                                                                        <td>
                                                                            @allFileds[j].CODQty
                                                                        </td>
                                                                    </tr>

                                                                    <tr>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.LtrackOrderViewModelList[j].TotalAmount)
                                                                        </th>
                                                                        <td>
                                                                            @allFileds[j].TotalAmount
                                                                        </td>
                                                                    </tr>


                                                                </table>
                                                            </div>

                                                        }
                                                    </td>
                                                </tr>
                                                <tr class="HideSection">
                                                    <td>
                                                        <div class="span4">
                                                            <div class="box-header box-bg-color">
                                                                <h2><i class="halflings-icon user"></i><span class="break"></span>Customer Information</h2>
                                                            </div>
                                                            <table class="table table-bordered" style="margin-bottom:0px">
                                                                <tr>
                                                                    <th>@Html.DisplayNameFor(model => model.LtrackOrderViewModelList[i].FirstName)</th>
                                                                    <td>@allFileds[0].FirstName</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>@Html.DisplayNameFor(model => model.LtrackOrderViewModelList[i].Email)</th>
                                                                    <td>@allFileds[0].Email </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>@Html.DisplayNameFor(model => model.LtrackOrderViewModelList[i].Mobile)</th>
                                                                    <td>@allFileds[0].Mobile</td>
                                                                </tr>

                                                            </table>

                                                        </div>
                                                        <div class="span4">
                                                            <div class="box-header box-bg-color">
                                                                <h2><i class="icon-truck"></i><span class="break"></span>Shipping Address</h2>
                                                            </div>
                                                            <table class="table table-bordered" style="margin-bottom:0px">

                                                                <tr>
                                                                    <th>@Html.DisplayNameFor(model => model.LtrackOrderViewModelList[i].AreaName)</th>
                                                                    <td>@allFileds[0].AreaName</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>@Html.DisplayNameFor(model => model.LtrackOrderViewModelList[i].CityName)</th>
                                                                    <td>@allFileds[0].CityName </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>@Html.DisplayNameFor(model => model.LtrackOrderViewModelList[i].PincodeName)</th>
                                                                    <td>@allFileds[0].PincodeName</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                        <div class="span4">
                                                            <div class="box-header box-bg-color">
                                                                <h2><i class="icon-money"></i><span class="break"></span>Payment Information</h2>
                                                            </div>
                                                            <table class="table table-bordered" style="margin-bottom:0px">
                                                                <tr>
                                                                    <th>@Html.DisplayNameFor(model => model.LtrackOrderViewModelList[i].OrderAmount)</th>
                                                                    <td>@allFileds[0].OrderAmount</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>@Html.DisplayNameFor(model => model.LtrackOrderViewModelList[i].GandhibaghCharge)</th>
                                                                    <td>@allFileds[0].GandhibaghCharge</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>@Html.DisplayNameFor(model => model.LtrackOrderViewModelList[i].PayableAmount)</th>
                                                                    <td>@allFileds[0].PayableAmount</td>
                                                                </tr>


                                                            </table>

                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td>
                                        <input type="submit" class="btn btn-default" value="Returned" name="action" />
                                    </td>
                                </tr>
                            }
                            if (IsDelivery == true)
                            {
                                //outer printing material
                                for (int i = 0; i < OrderCodeList.Count(); i++)
                                {

                                    var allFileds = (Model.LtrackOrderViewModelList
                                        .Select(x => new
                                        {
                                            x.OrderCode,
                                            x.ShopOrderCode,
                                            x.CustomerOrderID,
                                            x.FirstName,
                                            x.CreateDate,
                                            x.PName,
                                            x.PackSize,
                                            x.Name,
                                            x.CODQty,
                                            x.RetailerRate,
                                            x.TotalAmount,
                                            x.OrderAmount,
                                            x.GandhibaghCharge,
                                            x.PayableAmount,
                                            x.IsDeliveryOutSource,
                                            x.Email,
                                            x.Mobile,
                                            x.ShippingAddress,
                                            x.AreaName,
                                            x.CityName,
                                            x.PincodeName,
                                            x.ImageLocation
                                        })
                                        .Where(x => x.OrderCode == OrderCodeList[i].ToString()).ToList());
                                    string LOrderDetail_F = "OrderDetail" + i.ToString();
                                    string LItemDetail_F = "ItemDetail" + i.ToString();
                                    <tr id="@LOrderDetail_F">
                                        <td>
                                            @Html.CheckBoxFor(model => model.LtrackOrderViewModelList[i].CheckBoxStatus, new { @class = "chkSelect" })
                                            @Html.HiddenFor(model => model.LtrackOrderViewModelList[i].ShopOrderCode)
                                            @Html.HiddenFor(model => model.LtrackOrderViewModelList[i].CustomerOrderID)
                                        </td>
                                        <td>
                                            <a href="#" class="btn-minimize"><i class="halflings-icon chevron-down"></i>@allFileds[0].OrderCode</a>
                                        </td>

                                        <td>
                                            @allFileds[0].ShopOrderCode
                                        </td>
                                        <td>
                                            @allFileds[0].FirstName
                                        </td>
                                        <td>
                                            @allFileds[0].CreateDate
                                        </td>
                                       </tr>
                                    <tr class="hide-row box-content" id="@LItemDetail_F">
                                        <td colspan="5">
                                            <table class="table">
                                                <tr>
                                                    <td colspan="5">
                                                        <div class="row-fluid ">
                                                            <div class="box span12">
                                                                <table class="table table-bordered table-striped ProDisplayBlock" style="margin-bottom:0px">

                                                                    <tr>
                                                                        <td colspan="6" class="bg-creame">

                                                                            @for (int j = 0; j < allFileds.Count(); j++)
                                                                            {

                                                                                <div class="box span4">
                                                                                    <table class="table table-bordered" style="margin-bottom:0px">
                                                                                        <tr>
                                                                                            <td rowspan="6">
                                                                                                @{string s = allFileds[j].ImageLocation;
                                                                                                <img src="@s" alt="@allFileds[j].PName" />
                                                                                                }
                                                                                            </td>
                                                                                            <th>
                                                                                                @Html.DisplayNameFor(model => model.LtrackOrderViewModelList[j].PName)
                                                                                            </th>
                                                                                            <td>
                                                                                                @allFileds[j].PName
                                                                                            </td>
                                                                                        </tr>

                                                                                        <tr>
                                                                                            <th>
                                                                                                @Html.DisplayNameFor(model => model.LtrackOrderViewModelList[j].CODQty)
                                                                                            </th>
                                                                                            <td>
                                                                                                @allFileds[j].CODQty
                                                                                            </td>
                                                                                        </tr>

                                                                                        <tr>
                                                                                            <th>
                                                                                                @Html.DisplayNameFor(model => model.LtrackOrderViewModelList[j].TotalAmount)
                                                                                            </th>
                                                                                            <td>
                                                                                                @allFileds[j].TotalAmount
                                                                                            </td>
                                                                                        </tr>


                                                                                    </table>
                                                                                </div>

                                                                            }

                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="HideSection">
                                                    <td>
                                                        <div class="span4 pull-right">
                                                            <div class="box-header box-bg-color">
                                                                <h2><i class="icon-money"></i><span class="break"></span>Payment Information</h2>
                                                            </div>
                                                            <table class="table table-bordered" style="margin-bottom:0px">
                                                                <tr>
                                                                    <th>@Html.DisplayNameFor(model => model.LtrackOrderViewModelList[i].OrderAmount)</th>
                                                                    <td>@allFileds[0].OrderAmount</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>@Html.DisplayNameFor(model => model.LtrackOrderViewModelList[i].GandhibaghCharge)</th>
                                                                    <td>@allFileds[0].GandhibaghCharge</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>@Html.DisplayNameFor(model => model.LtrackOrderViewModelList[i].PayableAmount)</th>
                                                                    <td>@allFileds[0].PayableAmount</td>
                                                                </tr>


                                                            </table>

                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>


                                }
                                <tr><td><input type="submit" class="btn btn-Ifrm-submit" value="Returned" name="action" /></td></tr>
                            }

                        }

                    </table>
                </div>
            </div>

        </div>
    </div>
}
@section scripts{
    <script type="text/javascript">
        function callPrint(a, b, c) {
            var Heading = "#" + a;
            var orderDetail = "#" + b;
            var ItemDetail = "#" + c;
            var trHeading = $(Heading).html();
            var trOrderDetail = $(orderDetail).html();
            var trItemDetail = $(ItemDetail).html();
            var printWindow = window.open('', '', 'height=400,width=800');
            printWindow.document.write('<html><head><title>Delivery Memo</title>');
            printWindow.document.write('<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">');
            printWindow.document.write('<link rel="stylesheet" href="@System.Configuration.ConfigurationManager.AppSettings["EZEELO_MERCHANT_URL"]/Content/css/bootstrap.css">');
            printWindow.document.write('<link rel="stylesheet" href="@System.Configuration.ConfigurationManager.AppSettings["EZEELO_MERCHANT_URL"]/Content/css/bootstrap.min.css">');
            printWindow.document.write('<link rel="stylesheet" href="@System.Configuration.ConfigurationManager.AppSettings["EZEELO_MERCHANT_URL"]/Content/css/style.css">');
            printWindow.document.write('</head><body >');
            printWindow.document.write(trHeading);
            printWindow.document.write('<br/>');
            printWindow.document.write(trOrderDetail);
            printWindow.document.write('<br/>');
            printWindow.document.write(trItemDetail);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.print();
        }
    </script>
}
