@model ModelLayer.Models.OwnerBank

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OwnerBank</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bank.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankAccountType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccountType.Name)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.BusinessType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalDetail.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalDetail.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalDetail1.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalDetail1.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerID)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.BranchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IFSCCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IFSCCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MICRCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MICRCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetworkIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetworkIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceID)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
