@model ModelLayer.Models.GandhibaghTransaction

@{
    ViewBag.Title = "Edit";
}

<div id="content" class="span10" style="min-height: 395px;">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="">Edit</a>
            @*<i class="icon-angle-right"></i>*@
        </li>

    </ul>
    <div class="row-fluid sortable ui-sortable">
        <div class="box span6">
            <div data-original-title="" class="box-header">
                <h2><i class="icon-list-alt"></i><span class="break"></span> Edit [ Transaction ]</h2>
            </div>
            <div class="box-content">
                <div class="row">
                    <div class="span12">
                        <div class="widget">
                            @*<div class="widget-header">
                                <i class="icon-list-alt"></i>
                                <h3> Edit [ Transaction ]</h3>
                            </div>*@
                            <!-- /widget-header -->
                            <div class="widget-content">
                                <div class="widget big-stats-container">
                                    <div class="widget-content">

                                        @using (Html.BeginForm())
                                        {
                                            @Html.AntiForgeryToken()

                                            <form class="form-horizontal">
                                                <hr />
                                                @Html.ValidationSummary(true)
                                                @Html.HiddenFor(model => model.ID)

                                                <div class="control-group">
                                                    @Html.LabelFor(model => model.ChargeID, "ChargeID", new { @class = "control-label" })
                                                    <div class="controls">
                                                        @Html.DropDownList("ChargeID", String.Empty)
                                                        @Html.ValidationMessageFor(model => model.ChargeID)
                                                    </div>
                                                </div>

                                                <div class="control-group">
                                                    @Html.LabelFor(model => model.ChargeType, new { @class = "control-label" })
                                                    <div class="controls">
                                                        @Html.EditorFor(model => model.ChargeType)
                                                        @Html.ValidationMessageFor(model => model.ChargeType)
                                                    </div>
                                                </div>

                                                <div class="control-group">
                                                    @Html.LabelFor(model => model.FromBusinessTypeID, "FromBusinessTypeID", new { @class = "control-label" })
                                                    <div class="controls">
                                                        @Html.DropDownList("FromBusinessTypeID", String.Empty)
                                                        @Html.ValidationMessageFor(model => model.FromBusinessTypeID)
                                                    </div>
                                                </div>

                                                <div class="control-group">
                                                    @Html.LabelFor(model => model.FromPersonalDetailId, "FromPersonalDetailId", new { @class = "control-label" })
                                                    <div class="controls">
                                                        @Html.DropDownList("FromPersonalDetailId", String.Empty)
                                                        @Html.ValidationMessageFor(model => model.FromPersonalDetailId)
                                                    </div>
                                                </div>

                                                <div class="control-group">
                                                    @Html.LabelFor(model => model.ToBusinessTypeID, "ToBusinessTypeID", new { @class = "control-label" })
                                                    <div class="controls">
                                                        @Html.DropDownList("ToBusinessTypeID", String.Empty)
                                                        @Html.ValidationMessageFor(model => model.ToBusinessTypeID)
                                                    </div>
                                                </div>

                                                <div class="control-group">
                                                    @Html.LabelFor(model => model.ToPersonalDetailID, "ToPersonalDetailID", new { @class = "control-label" })
                                                    <div class="controls">
                                                        @Html.DropDownList("ToPersonalDetailID", String.Empty)
                                                        @Html.ValidationMessageFor(model => model.ToPersonalDetailID)
                                                    </div>
                                                </div>

                                                <div class="control-group">
                                                    @Html.LabelFor(model => model.ApplicablePercent, new { @class = "control-label" })
                                                    <div class="controls">
                                                        @Html.EditorFor(model => model.ApplicablePercent)
                                                        @Html.ValidationMessageFor(model => model.ApplicablePercent)
                                                    </div>
                                                </div>

                                                <div class="control-group">
                                                    @Html.LabelFor(model => model.ApplicableRupee, new { @class = "control-label" })
                                                    <div class="controls">
                                                        @Html.EditorFor(model => model.ApplicableRupee)
                                                        @Html.ValidationMessageFor(model => model.ApplicableRupee)
                                                    </div>
                                                </div>

                                                <div class="control-group">
                                                    @Html.LabelFor(model => model.Particular, new { @class = "control-label" })
                                                    <div class="controls">
                                                        @Html.EditorFor(model => model.Particular)
                                                        @Html.ValidationMessageFor(model => model.Particular)
                                                    </div>
                                                </div>

                                                <div class="control-group">
                                                    @Html.LabelFor(model => model.CustomerOrderDetailID, "CustomerOrderDetailID", new { @class = "control-label" })
                                                    <div class="controls">
                                                        @Html.DropDownList("CustomerOrderDetailID", String.Empty)
                                                        @Html.ValidationMessageFor(model => model.CustomerOrderDetailID)
                                                    </div>
                                                </div>

                                                <div class="control-group">
                                                    @Html.LabelFor(model => model.Amount, new { @class = "control-label" })
                                                    <div class="controls">
                                                        @Html.EditorFor(model => model.Amount)
                                                        @Html.ValidationMessageFor(model => model.Amount)
                                                    </div>
                                                </div>

                                                <div class="control-group">
                                                    @Html.LabelFor(model => model.TransactionAmount, new { @class = "control-label" })
                                                    <div class="controls">
                                                        @Html.EditorFor(model => model.TransactionAmount)
                                                        @Html.ValidationMessageFor(model => model.TransactionAmount)
                                                    </div>
                                                </div>

                                                <div class="control-group">
                                                    @Html.LabelFor(model => model.CreateDate, new { @class = "control-label" })
                                                    <div class="controls">
                                                        @Html.EditorFor(model => model.CreateDate)
                                                        @Html.ValidationMessageFor(model => model.CreateDate)
                                                    </div>
                                                </div>

                                                <div class="control-group">
                                                    @Html.LabelFor(model => model.CreateBy, "CreateBy", new { @class = "control-label" })
                                                    <div class="controls">
                                                        @Html.DropDownList("CreateBy", String.Empty)
                                                        @Html.ValidationMessageFor(model => model.CreateBy)
                                                    </div>
                                                </div>

                                                <div class="control-group">
                                                    @Html.LabelFor(model => model.ModifyDate, new { @class = "control-label" })
                                                    <div class="controls">
                                                        @Html.EditorFor(model => model.ModifyDate)
                                                        @Html.ValidationMessageFor(model => model.ModifyDate)
                                                    </div>
                                                </div>

                                                <div class="control-group">
                                                    @Html.LabelFor(model => model.ModifyBy, "ModifyBy", new { @class = "control-label" })
                                                    <div class="controls">
                                                        @Html.DropDownList("ModifyBy", String.Empty)
                                                        @Html.ValidationMessageFor(model => model.ModifyBy)
                                                    </div>
                                                </div>

                                                <div class="control-group">
                                                    @Html.LabelFor(model => model.IsActive, new { @class = "control-label" })
                                                    <div class="controls">
                                                        @Html.EditorFor(model => model.IsActive)
                                                        @Html.ValidationMessageFor(model => model.IsActive)
                                                    </div>
                                                </div>

                                                <div class="form-action">
                                                    <div class="col-md-offset-2 col-md-10">
                                                        <input type="submit" value="Save" class="btn btn-primary" />
                                                        @Html.ActionLink("Back to List", "Index", string.Empty, new { @class = "btn" })
                                                    </div>
                                                </div>
                                            </form>
                                        }

                                        @*<div>
                                            @Html.ActionLink("Back to List", "Index")
                                        </div>*@
                                    </div>
                                </div>
                                <!-- /widget-content -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
