@model IEnumerable<ModelLayer.Models.GandhibaghTransaction>

@{
    ViewBag.Title = "Index";
}

<div id="content" class="span10" style="min-height: 395px;">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="">Index</a>
            @*<i class="icon-angle-right"></i>*@
        </li>

    </ul>
    <div class="row-fluid sortable ui-sortable">
        <div class="box span12">
            <div data-original-title="" class="box-header">
                <h2><i class="icon-list-alt"></i><span class="break"></span>  List [ Transaction ]</h2>
            </div>
            <div class="box-content">
                <div class="row">
                    <div class="span12" id="divtable">
                        <div class="widget">
                            @*<div class="widget-header">
                                <i class="icon-list-alt"></i>
                                <h3> List [ Transaction ]</h3>
                            </div>*@
                            <!-- /widget-header -->
                            <div class="widget-content">
                                <div class="widget big-stats-container">
                                    <div class="widget-content matchdivheight">
                                        <p>
                                            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-sm btn-primary" })
                                        </p>
                                        <table class="table">
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.BusinessType.Name)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.BusinessType1.Name)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.BusinessType2.Name)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Charge.Name)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.CustomerOrderDetail.ShopOrderCode)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.PersonalDetail.FirstName)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.PersonalDetail1.FirstName)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.PersonalDetail2.FirstName)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.PersonalDetail3.FirstName)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.ChargeType)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.ApplicablePercent)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.ApplicableRupee)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Particular)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Amount)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.TransactionAmount)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.IsActive)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.CreateDate)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.ModifyDate)
                                                </th>

                                                <th>Action</th>
                                            </tr>

                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.BusinessType.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.BusinessType1.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.BusinessType2.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Charge.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CustomerOrderDetail.ShopOrderCode)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.PersonalDetail.FirstName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.PersonalDetail1.FirstName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.PersonalDetail2.FirstName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.PersonalDetail3.FirstName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ChargeType)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ApplicablePercent)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ApplicableRupee)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Particular)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Amount)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.TransactionAmount)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.IsActive)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CreateDate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ModifyDate)
                                                    </td>
                                                    <td>
                                                        @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                                        @Html.ActionLink("Details", "Details", new { id = item.ID })*@
                                                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-danger" })|
                                                        @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-primary" })

                                                    </td>
                                                </tr>
                                            }

                                        </table>
                                    </div>
                                    <!-- /widget-content -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /span12 -->
                </div>
            </div>
            </div>
        </div>
    </div>
