@{
    ViewBag.Title = "Index";
}
<div id="content" class="span10" style="min-height: 400px;">
    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header" style="background-color: #794F2B;">
                <h2 style="color: #FAFAFA;"><i class="icon-home" style="color: #FAFAFA;"></i><span class="break"></span>Chat Room - Welcome @ViewBag.Name</h2>
            </div>
            <div class="box-content">
                <div>
                    <div class="span2" style="float:left">
                        @Html.Partial("_ChatRoomListPartial")
                    </div>
                    <div class="span8" style="float:left;margin-left:0px;">
                        <div>
                            @Html.Partial("_ChatDetailsPartial")
                        </div>
                        <div class="span12 chatareanew"  style="margin-left:1px;">
                            @Html.TextArea("txtSend", new { @class = "span12 chatareanew1" })
                            <input class="btn btn-small btn-success" type="button" id="btnSend" value="Send" />
                            <input class="btn btn-small btn-info" type="button" id="btnClear" value="Clear" />
                        </div>
                    </div>
                    <div class="span2 chat_Res" style="float: left; margin-left: 1px;">
                        @Html.Partial("_ChatRoomLoginListPartial")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









