@model ModelLayer.Models.ViewModel.MerchantAdminDashboard

@{
    ViewBag.Title = "Leaders-Merchant-Dashboard";
    Layout = "~/Views/Shared/_LeadersLayout.cshtml";
}

<script src="~/Scripts/MerchantMenuOpenup.js"></script>
<h3>Merchant Dashboard </h3>
<br />
<br />
<div class="col-sm-4 col-lg-2">
    <div class="card text-white bg-flat-color-4" style="background: #3a82f3 !important;">
        <div class="card-body pb-1">
            <div class="dropdown float-right">

            </div>
            <h4 class="mb-0" style="font-weight:bold">
                <span class="count">@Model.NewRegistered</span>
            </h4>
            <a target="_blank" href="@Url.Action("MerchantDashReport", "LeadersMerchantDashboard",new {Type = 2 })"><p class="text-light"><br />New Registration</p></a>
            <div class="chart-wrapper px-3" style="height:20px;" height="70">
                <canvas id="widgetChart4"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-4 col-lg-2">
    <div class="card text-white bg-flat-color-3" >
        <div class="card-body pb-1">
            <div class="dropdown float-right">

            </div>
            <h4 class="mb-0" style="font-weight:bold">
                <span class="count">@Model.PendingKYCReg</span>
            </h4>
            <a target="_blank" href="@Url.Action("MerchantDashReport", "LeadersMerchantDashboard",new {Type = 3 })"><p class="text-light"><br />Pending KYC Regisrtation</p></a>
            <div class="chart-wrapper px-3" style="height:20px;" height="70">
                <canvas id="widgetChart4"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-4 col-lg-2">
    <div class="card text-white bg-flat-color-2">
        <div class="card-body pb-1">
            <div class="dropdown float-right">

            </div>
            <h4 class="mb-0" style="font-weight:bold">
                <span class="count">@Model.PendingKYCApproval</span>
            </h4>
            <a target="_blank" href="@Url.Action("MerchantDashReport", "LeadersMerchantDashboard",new {Type = 4 })"><p class="text-light"><br />Pending KYC Approval</p></a>
            <div class="chart-wrapper px-3" style="height:20px;" height="70">
                <canvas id="widgetChart4"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-4 col-lg-2">
    <div class="card text-white bg-flat-color-6" style="background: #bd3359 !important;">
        <div class="card-body pb-1">
            <div class="dropdown float-right">

            </div>
            <h4 class="mb-0" style="font-weight:bold">
                <span class="count">@Model.RegFeePending</span>
            </h4>
            <a target="_blank" href="@Url.Action("MerchantDashReport", "LeadersMerchantDashboard",new {Type = 5 })"><p class="text-light">Pending Registration Fee</p></a>
            <div class="chart-wrapper px-3" style="height:20px;" height="70">
                <canvas id="widgetChart4"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-4 col-lg-2">
    <div class="card text-white bg-flat-color-3" style="background: #2cc863 !important;">
        <div class="card-body pb-1">
            <div class="dropdown float-right">

            </div>
            <h4 class="mb-0" style="font-weight:bold">
                <span class="count">@Model.PendingRechargeReq</span>
            </h4>
            <a target="_blank" href="@Url.Action("MerchantDashReport", "LeadersMerchantDashboard",new {Type = 6 })"><p class="text-light">Pending Recharge Request</p></a>
            <div class="chart-wrapper px-3" style="height:20px;" height="70">
                <canvas id="widgetChart4"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-4 col-lg-2">
    <div class="card text-white bg-flat-color-4" >
        <div class="card-body pb-1">
            <div class="dropdown float-right">

            </div>
            <h4 class="mb-0" style="font-weight:bold">
                <span class="count">@Model.RechargeBelow30</span>
            </h4>
            <a target="_blank" href="@Url.Action("MerchantDashReport", "LeadersMerchantDashboard",new {Type = 7 })"><p class="text-light">Account Recharge below 30%</p></a>
            <div class="chart-wrapper px-3" style="height:20px;" height="70">
                <canvas id="widgetChart4"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-4 col-lg-2">
    <div class="card text-white bg-flat-color-3" style="background-color:red  !important;">
        <div class="card-body pb-1">
            <div class="dropdown float-right">

            </div>
            <h4 class="mb-0" style="font-weight:bold">
                <span class="count">@Model.ZeroBalance</span>
            </h4>
            <a target="_blank" href="@Url.Action("MerchantDashReport", "LeadersMerchantDashboard",new {Type = 8 })"><p class="text-light"><br />Zero Balance </p></a><br />
            <div class="chart-wrapper px-3" style="height:20px;" height="70">
                <canvas id="widgetChart4"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-4 col-lg-2">
    <div class="card text-white bg-flat-color-4" style="background-color:green  !important;">
        <div class="card-body pb-1">
            <div class="dropdown float-right">

            </div>
            <h4 class="mb-0" style="font-weight:bold">
                <span class="count">@Model.LiveMerchant</span>
            </h4>
            <a target="_blank" href="@Url.Action("MerchantDashReport", "LeadersMerchantDashboard",new {Type = 1 })"><p class="text-light"><br />Live Merchant</p></a><br />
            <div class="chart-wrapper px-3" style="height:20px;" height="70">
                <canvas id="widgetChart4"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-4 col-lg-2">
    <div class="card text-white bg-flat-color-4" style="background-color:#570a0a  !important;">
        <div class="card-body pb-1">
            <div class="dropdown float-right">

            </div>
            <h4 class="mb-0" style="font-weight:bold">
                <span class="count">@Model.PendingTrans</span>
            </h4>
            <a target="_blank" href="@Url.Action("MerchantDashReport", "LeadersMerchantDashboard",new {Type = 9 })"><p class="text-light"><br />Pending Bill</p></a>
            <div class="chart-wrapper px-3" style="height:20px;" height="70">
                <canvas id="widgetChart4"></canvas>
            </div>
        </div>
    </div>
</div>