@model ModelLayer.Models.SubscriptionPlan

@{
    ViewBag.Title = "Create";
}
<div id="content" class="span10">
    <ul class="breadcrumb">
        <li>
            <a href="#">Subscription Plan</a>
        </li>
    </ul>
    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header">
                <h2><i class="icon-edit"></i><span class="break"></span>Create</h2>
            </div>
            <div class="box-content">
               
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                       
                        @Html.ValidationSummary(true)

                        <div class="control-group">
                            @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                            <div class="controls">
                                @Html.EditorFor(model => model.Name)
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.LabelFor(model => model.Fees, new { @class = "control-label" })
                            <div class="controls">
                                @Html.EditorFor(model => model.Fees)
                                @Html.ValidationMessageFor(model => model.Fees)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.LabelFor(model => model.NoOfDays, new { @class = "control-label" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.NoOfDays)
                                @Html.ValidationMessageFor(model => model.NoOfDays)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.LabelFor(model => model.NoOfCoupens, new { @class = "control-label" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.NoOfCoupens)
                                @Html.ValidationMessageFor(model => model.NoOfCoupens)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.LabelFor(model => model.ServiceTax, new { @class = "control-label" })
                            <div class="controls">
                                @Html.EditorFor(model => model.ServiceTax)
                                @Html.ValidationMessageFor(model => model.ServiceTax)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.LabelFor(model => model.ExtraTax, new { @class = "control-label" })
                            <div class="controls">
                                @Html.EditorFor(model => model.ExtraTax)
                                @Html.ValidationMessageFor(model => model.ExtraTax)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.LabelFor(model => model.StartDate, new { @class = "control-label" })
                            <div class="controls">
                                @Html.EditorFor(model => model.StartDate)
                                @Html.ValidationMessageFor(model => model.StartDate)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.LabelFor(model => model.IsActive, new { @class = "control-label" })
                            <div class="controls">
                                @Html.EditorFor(model => model.IsActive)
                                @Html.ValidationMessageFor(model => model.IsActive)
                            </div>
                        </div>

                        <div class="form-actions" >
                            <input type="submit" value="Create" class="btn btn-success" />
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
                        </div>
                    </div>
                }


                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
            </div>
        </div>
    </div>
</div>
