@model IEnumerable<ModelLayer.Models.BusinessDetail>

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BusinessType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonalDetail.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonalDetail1.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pincode.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SourceOfInfo.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserLogin.Mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactPerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Landline1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Landline2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FAX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Website)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearOfEstablishment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SourcesInfoDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifyDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NetworkIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeviceType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeviceID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonalDetail.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonalDetail1.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pincode.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SourceOfInfo.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserLogin.Mobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactPerson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Landline1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Landline2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FAX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Website)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearOfEstablishment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SourcesInfoDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifyDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NetworkIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
