@model ModelLayer.Models.Weekly_Seasona_Festival_Message

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Weekly_Seasona_Festival_Message</h4>
            <hr />
            @Html.ValidationSummary(true)
    
            <div class="form-group">
                @Html.LabelFor(model => model.FranchiseID, "FranchiseID", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("FranchiseID", String.Empty)
                    @Html.ValidationMessageFor(model => model.FranchiseID)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.MessageTypeID, "MessageTypeID", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("MessageTypeID", String.Empty)
                    @Html.ValidationMessageFor(model => model.MessageTypeID)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Message, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Message)
                    @Html.ValidationMessageFor(model => model.Message)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.MinimumOrderInRupee, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MinimumOrderInRupee)
                    @Html.ValidationMessageFor(model => model.MinimumOrderInRupee)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.WeeklyHoliday, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.WeeklyHoliday)
                    @Html.ValidationMessageFor(model => model.WeeklyHoliday)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.SeasonalMsgFrmMonth, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SeasonalMsgFrmMonth)
                    @Html.ValidationMessageFor(model => model.SeasonalMsgFrmMonth)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.SeasonalMsgToMonth, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SeasonalMsgToMonth)
                    @Html.ValidationMessageFor(model => model.SeasonalMsgToMonth)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.FestivalMsgFrmDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FestivalMsgFrmDate)
                    @Html.ValidationMessageFor(model => model.FestivalMsgFrmDate)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.FestivalMsgToDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FestivalMsgToDate)
                    @Html.ValidationMessageFor(model => model.FestivalMsgToDate)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IsActive)
                    @Html.ValidationMessageFor(model => model.IsActive)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.CreateDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CreateDate)
                    @Html.ValidationMessageFor(model => model.CreateDate)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.CreateBy, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CreateBy)
                    @Html.ValidationMessageFor(model => model.CreateBy)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.ModifyDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ModifyDate)
                    @Html.ValidationMessageFor(model => model.ModifyDate)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.ModifyBy, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ModifyBy)
                    @Html.ValidationMessageFor(model => model.ModifyBy)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.NetworkIP, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NetworkIP)
                    @Html.ValidationMessageFor(model => model.NetworkIP)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.DeviceType, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DeviceType)
                    @Html.ValidationMessageFor(model => model.DeviceType)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.DeviceID, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DeviceID)
                    @Html.ValidationMessageFor(model => model.DeviceID)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
