@model ModelLayer.Models.Shop

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Shop</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Area.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessDetail.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessDetail.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryPartner.GodownAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryPartner.GodownAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Franchise.ServiceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Franchise.ServiceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalDetail.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalDetail.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalDetail1.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalDetail1.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pincode.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pincode.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lattitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lattitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NearestLandmark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NearestLandmark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpeningTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpeningTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClosingTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClosingTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPerson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Landline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Landline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeeklyOff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeeklyOff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentItSetup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentItSetup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstitutionalMerchantPurchase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstitutionalMerchantPurchase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstitutionalMerchantSale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstitutionalMerchantSale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NormalSale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NormalSale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeliveryOutSource)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeliveryOutSource)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFreeHomeDelivery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFreeHomeDelivery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinimumAmountForFreeDelivery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinimumAmountForFreeDelivery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsLive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsLive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsManageInventory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsManageInventory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SearchKeywords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SearchKeywords)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAgreedOnReturnProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAgreedOnReturnProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnDurationInDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDurationInDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetworkIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetworkIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
