@*//-----------------------------------------------------------------------
    // <copyright file="MercahntList.cshtml" company="Ezeelo Consumer Services Pvt. Ltd.">
        //     Copyright (c) Ezeelo Consumer Services Pvt. Ltd. All rights reserved.
        //
        //
    </copyright>
        // <author>Snehal Shende</author>
        //-----------------------------------------------------------------------*@

@model IEnumerable<ModelLayer.Models.ViewModel.ShopViewModel>
@{
    ViewBag.Title = "Shop List";
}
<style>
    #tblMerchantList tbody td a {
        text-decoration: underline;
    }

    .dataTables_length {
        margin-left: 0px;
        margin-top: 7px;
    }

    .pagination {
        margin: 0 40px;
    }
</style>
@using (Html.BeginForm())
{
    <div class="row-fluid" style="margin-left:15px;margin-top:28px;">
        <div class="box span12">
            <div class="box-header">
                <h2>Shop List </h2>

            </div>
            <div class="box-content">
                <div class="row-fluid">
                    <div class="span6">
                        <span class="hed-owner">Select Franchise</span>
                        @Html.DropDownList("FranchiseList", null, "Select Franchise", new { @style = "width:auto;", onchange = "this.form.submit();" })
                    </div><hr />
                    <div class="div_class">
                        @*<div class="search_div">
                                <input type="text" class="search_input" placeholder="Search..." />
                                <a class="clearlink" title="Clear textbox"></a>
                            </div>*@
                        <table class="table table-striped table-bordered bootstrap-datatable datatable dataTable" id="tblMerchantList">
                            <thead>
                                <tr>

                                    @*<th>
                                            @Html.DisplayNameFor(model => model.ID)
                                        </th>*@
                                    <th>
                                        Shops
                                    </th>
                                    <th>
                                        Non-Approved Product Count
                                    </th>
                                    @*<th></th>*@
                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                if (!string.IsNullOrEmpty(item.Name) && item.NonApproveProductCount > 0)
                                {

                                    <tr>
                                        @*<td>@Html.DisplayFor(modelItem => item.ID)</td>*@
                                        @*<td>@Html.DisplayFor(modelItem => item.Name)</td>*@
                                        <td>@Html.ActionLink(item.Name, "Index", "ProductApproval", new { shopId = item.ID }, null)</td>
                                        <td>@Html.DisplayFor(modelItem => item.NonApproveProductCount)</td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        $(function () {
            $('#FranchiseList').change(function (e) {

                var franchiseId = $('#FranchiseList option:selected').val();
                if (franchiseId == '') {
                    franchiseId = 0;
                }
                alert(franchiseId);
                //if (franchiseId > 0) {
                $.ajax({
                    type: "POST",
                    url: "/ProductApproval/ShopList",
                    data: "{ franchiseID: " + franchiseId + "}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: true,
                    cache: false,
                    success: function (msg) {
                        alert(msg);
                        $('#tblMerchantList').children('tbody').empty();
                        //$("#tblMerchantList thead").append("<tr>" +
                        //    "<th>Shops</th>" +
                        //    "<th>Non-Approved Product Count</th></tr>"
                        //    );
                        $.each(msg, function (index, item) {
                            if (item.Name != '' && item.NonApproveProductCount > 0) {
                                $("#tblMerchantList tbody").append("<tr>" +
                                        "<td><a href='@Url.Action("Index", "ProductApproval")?shopId=" + item.ID + "'>" + item.Name + " </a></td>" +
                                        "<td>" + item.NonApproveProductCount + "</td>" +
                                        "</tr>"
                                );
                            }
                        });
                    },
                    error: function (x, e) {
                        alert("Sorry No Unable to Bind Data. ");
                    }
                });

                //}
            });
        });
    </script>*@


@*<script type="text/javascript">
        $(document).ready(function () {
            $('#tblMerchantList').dataTable();
        });
    </script>*@
