@model ModelLayer.Models.ViewModel.PreviewItemViewModel
<h1 style="color:black">
    @Html.Hidden("CID", Model.BasicDetails.CategoryID)
    @Html.HiddenFor(x => x.BasicDetails.ProductID)
    @Html.HiddenFor(x => x.BasicDetails.BrandID)
    @Html.HiddenFor(x => x.BasicDetails.CategoryID)
    @if (TempData["MetaData_Category"] != null)
    {
        @TempData["MetaData_Category"]
    }
    else
    {
        //*****Add For SEO URL Structure RULE by Ashish******
        @Model.BasicDetails.ProductName.Replace('+', ' ')

        @*@Html.DisplayFor(x => x.BasicDetails.ProductName)*@
    }
</h1>






