@model ModelLayer.Models.ViewModel.BuyThisProductViewModel

<div class="cells8">
    <img style="width:250px;height:300px;" src="@Url.Content(@Model.StockThumbPath)" />
</div>
<h5 style=" width: 310px;">@Model.ProductName</h5>
<h6>Rs. @Model.SaleRate</h6>

@if (Model.StockStatus == true && Model.StockQty > 0)
{
    <button id="@Model.ShopStockID" class="button success loading-pulse lighten primary text-white" type="button" onclick="AddProductToShppingCartWithoutQuantity(@Model.ShopStockID, @Model.ProductID)">
        Add To Cart
    </button>
}
