@model ModelLayer.Models.ViewModel.TranasactionReportViewModel
@{
    ViewBag.Title = "Passbook";
}

<link href="~/plugins/datepicker/datepicker3.css" rel="stylesheet" />
<script src="~/plugins/datepicker/bootstrap-datepicker.js"></script>
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Passbook</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        @{
                            decimal Balance = 0;
                        }
                        <table id="tblrpt" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr. No</th>
                                    <th>Date</th>
                                    <th>Description</th>
                                    <th>Debit</th>
                                    <th>Credit</th>
                                    <th>Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Passbook)
                                {
                                    if (item.IsPayable)
                                    {
                                        Balance = item.Credit + (Balance - item.Debit);
                                    }
                                    <tr class=@((item.IsPayable == false)?"bg-danger":"")>
                                        <td>@item.SrNo</td>
                                        <td>@item.Date.ToString("dd/MM/yyy HH:mm")</td>
                                        <td>@item.Description</td>
                                        <td>@item.Debit</td>
                                        <td>@item.Credit</td>
                                        <td>@Balance</td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/plugins/Custom.js"></script>
<script>
    $(document).ready(function () {
        $("#lnk-Report").addClass("active");
        $("#tblrpt").dataTable({ "bSort": false });
        $("#FromDate").datepicker({ dateFormat: 'MM/dd/yyyy' });
        $("#ToDate").datepicker();
    })
</script>



