@model ModelLayer.Models.ReactivationMaster

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LeadersLayout.cshtml";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <legend>Reactivation Master</legend>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Leaders_Status, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Leaders_Status)
                @Html.ValidationMessageFor(model => model.Leaders_Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Display_Status, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Display_Status)
                @Html.ValidationMessageFor(model => model.Display_Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.No_Of_Days, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.No_Of_Days)
                @Html.ValidationMessageFor(model => model.No_Of_Days)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Activation_Fees, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Activation_Fees)
                @Html.ValidationMessageFor(model => model.Activation_Fees)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Penalty_Percentage, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Penalty_Percentage)
                @Html.ValidationMessageFor(model => model.Penalty_Percentage)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Penalty_Amount, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Penalty_Amount)
                @Html.ValidationMessageFor(model => model.Penalty_Amount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Penalty_On, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Penalty_On)
                @Html.ValidationMessageFor(model => model.Penalty_On)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Current_Status, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Current_Status)
                @Html.ValidationMessageFor(model => model.Current_Status)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ADD" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
