@*<copyright file="GetReport.cshtml" company="Ezeelo Consumer Services Pvt. Ltd.">
     Copyright (c) Ezeelo Consumer Services Pvt. Ltd. All rights reserved.
    </copyright>
    <author>Harshada Raghorte</author>*@
@model IEnumerable<ModelLayer.Models.ViewModel.ProductApprovedViewModel>


@{
    ViewBag.Title = "GetReport";
    Layout = null;
}
<style>
    .totalcount {
        margin-right: 26px !important;
    }

    #myTable_wrapper {
        /*margin-top: 53px !important;*/
    }
    .table {
        width: 100%;
        margin-bottom: 0px; 
    }
    .fg-toolbar {
        margin-left: -352px;
    }
    .scrollable #myTable {
        overflow:scroll
    }
    
     .ui-widget-header {
        border: none !important;
    }
</style>

<style>
    .btn_Print {
        margin-bottom: 7px;
        margin-top: 7px;
        margin-left: 5px;
    }

    .section {
        position: relative;
        border: 1px solid #000;
        /*padding-top: 76px;*/
        margin-left: 5px;
        /*background: #A4A5A7;*/ background: rgb(179, 159, 128);
        margin-top: 0px;
        /*overflow-x: scroll;*/
    }

    #myTable_wrapper {
        min-height: 61px;
        margin-top: 2px;
        max-height: 516px;
    }

    .fg-toolbar {
        margin-top: -45px;
    }

    #myTable_filter {
        position: absolute;
        margin-top: 13px !important;
    }

    .section.positioned {
        position: absolute;
        top: 100px;
        left: 100px;
        width: 800px;
        box-shadow: 0 0 15px #333;
    }

    .container_tbl {
        /*overflow-y: auto;*/
        /*height: 200px;*/ height: 502px;
    }

    table {
        border-spacing: 0;
        width: 100%;
    }

    td + td {
        border-left: 1px solid #eee;
    }

    td, th {
        border-bottom: 1px solid #eee;
        /*background: #ddd;*/
        color: #000;
        padding: 10px 25px;
    }

    /*#myTable thead tr th {
        height: 0;
        line-height: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        color: transparent;
        border: none;
        white-space: nowrap;
    }*/

    .wrap {
        margin-top: 10px;
    }


    #myTable_filter {
        position: absolute;
        margin-top: 13px !important;
    }

    #myTable_wrapper {
        min-height: 61px;
        margin-top: 2px;
        max-height: 516px;overflow:hidden;
        
    }
    th div {
        position: relative;
        background: transparent;
        color: #fff;
        padding: 0px 10px;
        top: 20px;
        margin-left: -8px;
        line-height: 20px;
    }
</style>

<script src="~/Content/js/bootstrap.js"></script>
<script src="~/Content/js/jquery-1.9.1.min.js"></script>
<script src="~/Content/js/jquery.dataTables.min.js"></script>
<script src="~/Content/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#myTable").DataTable({
            "bDestroy": true,
            //"sPaginationType": "full_numbers",
            "bJQueryUI": true,
            "bInfo": false,
            "scrollY": 700,
            "scrollCollapse": true,
            "bPaginate": false,
            "iDisplayLength": 20,
            "bAutoWidth": false,

        });

    });
</script>
@*<div>
    <a href="@Url.Action("GetReport", "ProductApprovedNonApprovedReport", new
       {
           page = 0,
           pagecount = 0,
           fromDate = ViewBag.fromDate,
           toDate = ViewBag.toDate,
           shopID = ViewBag.shopID,
           franchiseID = ViewBag.franchiseID,
           cityID = ViewBag.cityID,
           approvedStatus = ViewBag.approvedStatus,
           print = 1
       })" target="_blank"><input type="button" value="Print" id="btnPrint" class="btn btn-primary" /></a>
    @*<input type="button" value="Print" id="btnPrint" class="btn btn-primary" onclick="return Print()" />
</div>*@
<style>
    #myTable_wrapper {
        width: 100% !important;
    }
    /*#myTable thead tr th {
        width: 90px !important;
        word-wrap: break-word !important;
        word-break: keep-all !important;
    }
    #myTable thead tr th div{
        width: 90px !important;
        word-wrap: break-word !important;
        word-break: keep-all !important;
    }*/
</style>
<div class="section">
    <div class="table scrollable" style="width:995px;">
        @if (Model.Count() > 0 || Model != null)
{
    <table class="table scroll container_tbl" id="myTable">
        <thead>
            <tr class="header">
                <th style="width: 75px; word-wrap: break-word; word-break: keep-all; border-top: 1px solid #dddddd; " >
                   Product ID
                </th>
                <th style="width: 90px; word-wrap: break-word; word-break: keep-all; border-top: 1px solid #dddddd;">
                    Product Name
                </th>
                <th style="width: 45px; word-wrap: break-word; word-break: keep-all; border-top: 1px solid #dddddd; ">
                    Cat ID
                </th>
                <th style="width: 80px; word-wrap: break-word; word-break: keep-all; border-top: 1px solid #dddddd; ">
                    Cat Name
                </th>
                <th style="width: 95px; word-wrap: break-word; word-break: keep-all; border-top: 1px solid #dddddd; ">
                    Merchant Name
                </th>
                <th style="width: 75px; word-wrap: break-word; word-break: keep-all; border-top: 1px solid #dddddd; ">
                    Shop Name
                </th>
                @if (ViewBag.uploadprod == 2)
{
    <th style="width: 70px; word-wrap: break-word; word-break: keep-all; border-top: 1px solid #dddddd; ">Approved Date</th>
}
                else if (ViewBag.uploadprod == 3)
                {
                    <th style="width: 90px; word-wrap: break-word; word-break: keep-all; border-top: 1px solid #dddddd;">Product Upload Date</th>
                }
                else
                {
                    <th style="width: 90px; word-wrap: break-word; word-break: keep-all; border-top: 1px solid #dddddd;">Product Upload Date</th>
    <th style="width: 90px; word-wrap: break-word; word-break: keep-all; border-top: 1px solid #dddddd;">Product Approved Date</th>
                }
                @if (ViewBag.uploadprod == 2 || ViewBag.uploadprod == 3)
{
    <th style="width: 65px; word-wrap: break-word; word-break: keep-all; border-top: 1px solid #dddddd; ">Modified Date</th>
}
                @if (ViewBag.uploadprod == 1)
{
    <th style="width: 90px; word-wrap: break-word; word-break: keep-all; border-top: 1px solid #dddddd;">
        Status
    </th>
}
                <th style="width: 95px; word-wrap: break-word; word-break: keep-all; border-top: 1px solid #dddddd;">Active /Deactive Status</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductID)
                </td>
                @if (ViewBag.approvedStatus == 2)
                {
                    <td>
                        <a href="@Url.Action("Edit", "ProductUploadTemp", new { id = item.ProductID, shopId = item.ShopID })">@item.ProductName</a>
                    </td>
                }
                else if (ViewBag.approvedStatus == 1)
                {
                    <td>
                        <a href="@Url.Action("Edit", "ProductUploadAproved", new { id = item.ProductID, shopId = item.ShopID })">@item.ProductName</a>
                    </td>
                }
                else
                {
                    <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.CatID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CatName)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.productDescription)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.MerchantName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShopName)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.AddedBy)
                    </td>*@
                @if (ViewBag.uploadprod == 2)
                {
                    <td>
                        @{string lADate = ""; DateTime dtA = new DateTime();}
                        @if (item.ProductApprovedDate != null)
                        {
                            dtA = Convert.ToDateTime(item.ProductApprovedDate);
                            lADate = dtA.ToString("dd/MM/yyyy");
                        }
                        @lADate
                    </td>
                }
                else if (ViewBag.uploadprod == 3)
                {
                    <td>
                        @{string lUDate = ""; DateTime dtU = new DateTime();}
                        @if (item.ProductUploadDate != null)
                        {
                            dtU = Convert.ToDateTime(item.ProductUploadDate);
                            lUDate = dtU.ToString("dd/MM/yyyy");
                        }
                        @lUDate
                    </td>
                }
                else
                {
                    <td>
                        @{string lUDate = ""; DateTime dtU = new DateTime();}
                        @if (item.ProductUploadDate != null)
                        {
                            dtU = Convert.ToDateTime(item.ProductUploadDate);
                            lUDate = dtU.ToString("dd/MM/yyyy");
                        }
                        @lUDate
                    </td>
                    <td>
                        @{string lADate = ""; DateTime dtA = new DateTime();}
                        @if (item.ProductApprovedDate != null)
                        {
                            dtA = Convert.ToDateTime(item.ProductApprovedDate);
                            lADate = dtA.ToString("dd/MM/yyyy");
                        }
                        @lADate
                    </td>
                }
                @if (ViewBag.uploadprod == 2 || ViewBag.uploadprod == 3)
                {
                    <td>
                        @{string lMDate = ""; DateTime dtM = new DateTime();}
                        @if (item.ProductModifiedDate != null)
                        {
                            dtM = Convert.ToDateTime(item.ProductModifiedDate);
                            lMDate = dtM.ToString("dd/MM/yyyy");
                        }
                        @lMDate
                    </td>
                }

                @if (ViewBag.uploadprod == 1)
                {
                    <td>@Html.DisplayFor(modelItem => item.ApprovalRemark)</td>
                }
                @if (item.IsActive == true)
                {
                    <td>
                        Active
                    </td>
                }
                else
                {
                    <td>
                        DeActive
                    </td>
                }

            </tr>
        }

    </table>
}
    </div>
    </div>
<div id="Pager">
    <div class="wrap">
        <div id="slider1" class="slider">
            <ul>
                @for (int c = 1; c <= @ViewBag.TotalPages; c++)
                {
                    <li><a class="page-number" href="javascript:void();">@c</a></li>

                }
            </ul>
        </div>
        <div class="controls" style="margin-top:-27px; background:#F9F9F9">
            <a href="#noname" class="prev-slide"><<</a>
            <a href="#noname" class="next-slide" style="float: right; margin-right: 299px;">>></a>
        </div>
    </div>
    <span class="totalcount"><b>Showing @ViewBag.PageSize of @ViewBag.TotalCount enteries</b></span>
</div>

<div class="loader">
    <img id="loader_img" src="~/Content/img/loader.gif" style="display: none" />
</div>
<script>
    $(document).ready(function () {
        $("#Pager .page-number").click(function (e) {
            //alert($(this).html());
            $('#loader_img').show();
            //alert($(this).html());
            var pagecount = 0;
            var page = parseInt($(this).html());
            if (page > 1) {
                pagecount = 1;
            }
            var fromDate = "@ViewBag.fromDate";
            var toDate = "@ViewBag.toDate";
            var shopID = "@ViewBag.shopID";
            var approvedStatus = "@ViewBag.approvedStatus";
            
            var print = 0;
            $.ajax({
                url: '@Url.Action("GetReport", "ProductApprovedNonApprovedReport")',
                data: { 'page': page, 'pagecount': pagecount, 'fromDate': fromDate, 'toDate': toDate, 'shopID': shopID,'approvedStatus': approvedStatus, 'print': print },
                type: "POST",
                cache: false,
                success: function (data) {
                    //alert(data);
                    $('#loader_img').hide();
                    $('#divReport').empty();
                    $('#divReport').append(data);

                },
                error: function (data) {

                }
            });
        });
    });
</script>