@{
    ViewBag.Title = "Franchise DashBoard Report";
}


@model ModelLayer.Models.ViewModel.FranchiseDshboardCustomerRet

<style>
    .small-box h3 {
        font-size: 28px;
    }
</style>
<div id="divToPrint">
    <div class="row">
        @if (Model != null)
        {
            foreach (var item in Model.listDashboardFranchiseViewModel)
            {
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <!-- small box -->
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>@Html.DisplayFor(modelItem => item.TOTALFRANCHISE_NAME)</h3>
                            <h4>MCO</h4>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <label class="small-box-footer">&nbsp;</label>
                    </div>
                </div>
        <!-- ./col -->
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>@Html.DisplayFor(modelItem => item.TOTALPALCED)</h3>
                            <h4>Orders</h4>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <label class="small-box-footer">&nbsp;</label>
                    </div>

                </div>
        <!-- ./col -->

                <div class="col-lg-4 col-md-6 col-xs-12">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>@Html.DisplayFor(modelItem => item.TOTALDELIVERED)</h3>
                            <h4>Delivered</h4>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <label class="small-box-footer">&nbsp;</label>
                    </div>
                </div>


        <!-- ./col -->
            }

        }
    </div>

    @if (ViewBag.TotalCustomerCount != null)
    {
        <h4 class="bg-blue" style="padding:5px;">
            [Total Customer Count : @ViewBag.TotalCustomerCount]
        </h4>

    }
    <div class="row">
        @if (Model != null)
        {
            <h3 style="padding-left: 15px; margin-top: 0px;">Customer Retention Grid</h3>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <!-- small box -->
                <div class="small-box bg-purple">
                    <div class="inner">
                        <h3>@Model.lFranchiseDashboardCustomerRetention.NewCustomer</h3>
                        <h4>New Customer</h4>
                        <span>Who : one order in 30 days.</span>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>@Model.lFranchiseDashboardCustomerRetention.PromisiongCustomer</h3>
                        <h4>Promisiong Customer</h4>
                        <span>Who : 2 - 3 orders in each month  in 60 days.</span>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>@Model.lFranchiseDashboardCustomerRetention.LoyalCustomer</h3>
                        <h4>Loyal Customer</h4>
                        <span>Who : 4 -5 orders per month till 90 days.</span>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <!-- small box -->
                <div class="small-box bg-fuchsia">
                    <div class="inner">
                        <h3>@Model.lFranchiseDashboardCustomerRetention.DriftCustomer</h3>
                        <h4>Drift Customer</h4>
                        <span>Who : new customer purchased subsequently.</span>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>@Model.lFranchiseDashboardCustomerRetention.RedAlertCustomer</h3>
                        <h4>Red Alert Customer</h4>
                        <span>Who : 4-5 orders  any time in 91-180 days.</span>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <!-- small box -->
                <div class="small-box bg-black">
                    <div class="inner">
                        <h3>@Model.lFranchiseDashboardCustomerRetention.SleepersCustomer</h3>
                        <h4>Sleepers Customer</h4>
                        <span>Who : one time shopper and lost for 180 day.</span>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                </div>
            </div>
        }
    </div>
    <br />
    <br />
</div>
