@{
    ViewBag.Title = "Home Page";
}
<style>
    .quick-button.metro i {
        font-size: 32px;
        text-align: center !important;
    }
</style>
<div id="content" class="span10">
    <div class="row-fluid ">
        <div class="widget span3 purple " ontablet="span6" ondesktop="span3">

            <h1><span class="icon-home"><i></i></span>  Shop</h1>

            <hr>

            <div class="content">
                <div class="circleStatsItemBox yellow " style="  text-align: center;">
                    <div class="header headcolor">Total Shop</div>
                    <span class="percent">Shops</span>
                    <div class="circleStat">
                        <input type="text" class="whiteCircle" value="@ViewBag.TotalShop" />
                    </div>
                    <div class="footer">
                        <a href="@Url.Action("Index", "MerchantApprovalReport")" class="acolor">View more...</a>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="circleStatsItemBox red" style="  text-align: center;">
                    <div class="header headcolor">Today Approved</div>
                    <span class="percent">Shops</span>
                    <div class="circleStat">
                        <input type="text" class="whiteCircle" value="@ViewBag.TodayApprovedShop" />
                    </div>
                    <div class="footer">
                        <a href="@Url.Action("Index", "MerchantApprovalReport")" class="acolor">View more...</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="widget span3 purple" ontablet="span6" ondesktop="span3">

            <h1><span class="icon-gift"><i></i></span>  Product</h1>

            <hr>

            <div class="content">
                <div class="circleStatsItemBox blue" style="  text-align: center;">
                    <div class="header headcolor">Today Approved</div>
                    <span class="percent">Product</span>
                    <div class="circleStat">
                        <input type="text" class="whiteCircle" value="@ViewBag.TodayApprovedProduct" />
                    </div>
                    <div class="footer">
                        <a href="@Url.Action("Index","ProductApprovedNonApprovedReport")" class="acolor">View more...</a>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="circleStatsItemBox green" style="  text-align: center;">
                    <div class="header headcolor">Pending</div>
                    <span class="percent">Product</span>
                    <div class="circleStat">
                        <input type="text" class="whiteCircle" value="@ViewBag.PendingProduct" />
                    </div>
                    <div class="footer">
                        <a href="@Url.Action("Index","ProductApprovedNonApprovedReport")" class="acolor">View more...</a>
                    </div>
                </div>
            </div>
        </div>
      
        <div class="clearfix"></div>

    </div>
</div>

@*<fieldset>
    <legend>Shop</legend>
    <div>Total Shop<br />@ViewBag.TotalShop</div><div>Pending Shop<br />@ViewBag.PendingShop</div>
</fieldset>

<fieldset>
    <legend>Product</legend>
    <div>Today Approved<br />@ViewBag.TodayApprovedProduct</div><div>Pending<br />@ViewBag.PendingProduct</div>
</fieldset>*@
