@{
    ViewBag.Title = "GetReport";
    Layout = null;
}
@model IEnumerable<ModelLayer.Models.ViewModel.OrderTransactionReportViewModel>
<link href="~/Content/css/Site.css" rel="stylesheet" />
<script src="~/Content/js/bootstrap.js"></script>
<script src="~/Content/js/jquery-1.9.1.min.js"></script>
<script src="~/Content/js/jquery.dataTables.min.js"></script>
<script src="~/Content/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#myTable").DataTable({
            "bDestroy": true,
            //"sPaginationType": "full_numbers",
            "bJQueryUI": true,
            "bInfo": false,
            "scrollY": 700,
            "scrollCollapse": true,
            "bPaginate": false,
            "iDisplayLength": 20,
            "bAutoWidth": false,

        });

    });
</script>
<style>
    .btn_Print {
        margin-bottom: 7px;
        margin-top: 7px;
        margin-left: 5px;
    }

    .section {
        position: relative;
        border: 1px solid #FFF;
        padding-top: 33px;
        margin-left: 5px;
        /* background: #500; */
        background: rgb(179, 159, 128);
        margin-top: 39px;
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    #myTable_wrapper {
        min-height: 61px;
        margin-top: 59px;
        /* margin-top: 12px; */
        max-height: 471px;
        background: #FFF;
    }

    .fg-toolbar {
        margin-top: -95px;
    }

    #myTable_filter {
        margin-left: 0px;
        position: absolute;
        margin-top: 12px !important;
    }

    .section.positioned {
        position: absolute;
        top: 100px;
        left: 100px;
        width: 800px;
        box-shadow: 0 0 15px #333;
    }

    .container_tbl {
        height: 451px;
    }

    table {
        border-spacing: 0;
        width: 100%;
    }

    td + td {
        border-left: 1px solid #eee;
    }

    td, th {
        border-bottom: 1px solid #eee;
        color: #000;
        padding: 10px 25px;
    }

   
</style>
<div class="section">
    <div class="table container_tbl">
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th>
                        Order Code
                    </th>
                  
                    <th>
                        Customer Name
                    </th>
                  
                   <th>
                       Mobile
                   </th>
                    <th>
                        Order Date
                    </th>
                    <th>
                        Payable Amt
                    </th>
                    @*<th>
                            Total Order Amt
                        </th>*@
                    <th>
                        Device Type
                    </th>
                    <th>
                        Payment Mode
                   
                   </th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderCode)
                    </td>
                   
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer)
                    </td>
                   
                   
                  
                    <td>
                        @Html.DisplayFor(modelItem => item.RegMobile)
                    </td>
                   
                    <td>
                        @{string lDate = "";}
                        @if (item.CreateDate != null)
                        {
                            lDate = item.CreateDate.ToString("dd/MM/yyyy");
                        }
                        @lDate
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.PayableAmount)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.OrderAmount)
                        </td>*@
                 
                   
                
                    <td>
                        @Html.DisplayFor(modelItem => item.DeviceType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentMode)
                    </td>

                    
                </tr>
            }

        </table>

    </div>
    
</div>
<div id="Pager" >
    <div class="wrap">
        <div id="slider1" class="slider">
            <ul>
                @for (int c = 1; c <= @ViewBag.TotalPages; c++)
                {
                    <li><a class="page-number" href="javascript:void();">@c</a></li>

                }
            </ul>
        </div>
        <div class="controls" style="margin-top:-27px; background:#F9F9F9">
            <a href="#noname" class="prev-slide"><<</a>
            <a href="#noname" class="next-slide" style="float: right; margin-right: 299px;">>></a>
        </div>
    </div>
    <span class="totalcount"><b>Showing @ViewBag.PageSize of @ViewBag.TotalCount enteries</b></span>
</div>



<div class="loader">
    <img id="loader_img" src="~/Content/img/loader.gif" style="display: none" />
</div>
<script>
    $(document).ready(function () {
        $("#Pager .page-number").click(function (e) {
            //alert($(this).html());
            $('#loader_img').show();
            //alert($(this).html());
            var pagecount = 0;
            var page = parseInt($(this).html());
            if (page > 1) {
                pagecount = 1;
            }
            var fromDate = "@ViewBag.fromDate";
            var toDate = "@ViewBag.toDate";
            var DeviceID = "@ViewBag.DeviceID";
            $.ajax({
                url: '@Url.Action("GetReport", "DeviceWiseCustomerOrderReport")',
                data: { 'page': page, 'pagecount': pagecount, 'fromDate': fromDate, 'toDate': toDate, 'DeviceID': DeviceID },
                type: "POST",
                cache: false,
                success: function (data) {
                    //alert(data);
                    $('#loader_img').hide();
                    $('#divReport').empty();
                    $('#divReport').append(data);

                },
                error: function (data) {

                }
            });
        });
    });

</script>
