@model IEnumerable<ModelLayer.Models.QRPMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LeadersLayout.cshtml";
}

<h2>Index</h2>
<div class="container">
    <div class="card">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Franchise_ID)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.City)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Current_QRP)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Min_QRP)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Max_QRP)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Create_Date)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Modify_Date)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Franchise_ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Current_QRP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Min_QRP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Max_QRP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Create_Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Modify_Date)
                        </td>
                        <td>
                            @Html.ActionLink("Update", "Edit", new { id = item.ID }) |
                            @*@Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>