@model ModelLayer.Models.WarehouseStock

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>WarehouseStock</legend>

    <div class="display-label">BatchCode</div>
    <div class="display-field">@Model.BatchCode</div>

    <div class="display-label">MRP</div>
    <div class="display-field">@String.Format("{0:F}", Model.MRP)</div>

    <div class="display-label">BuyRatePerUnit</div>
    <div class="display-field">@String.Format("{0:F}", Model.BuyRatePerUnit)</div>

    <div class="display-label">SaleRatePerUnit</div>
    <div class="display-field">@String.Format("{0:F}", Model.SaleRatePerUnit)</div>

    <div class="display-label">InitialQuantity</div>
    <div class="display-field">@Model.InitialQuantity</div>

    <div class="display-label">AvailableQuantity</div>
    <div class="display-field">@Model.AvailableQuantity</div>

    <div class="display-label">StockStatus</div>
    <div class="display-field">@Model.StockStatus</div>

    <div class="display-label">PackUnitID</div>
    <div class="display-field">@Model.PackUnitID</div>

    <div class="display-label">ExpiryDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.ExpiryDate)</div>

    <div class="display-label">CreateDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.CreateDate)</div>

    <div class="display-label">CreateBy</div>
    <div class="display-field">@Model.CreateBy</div>

    <div class="display-label">ModifyDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.ModifyDate)</div>

    <div class="display-label">ModifyBy</div>
    <div class="display-field">@Model.ModifyBy</div>

    <div class="display-label">NetworkIP</div>
    <div class="display-field">@Model.NetworkIP</div>

    <div class="display-label">DeviceType</div>
    <div class="display-field">@Model.DeviceType</div>

    <div class="display-label">DeviceID</div>
    <div class="display-field">@Model.DeviceID</div>

    <div class="display-label">WarehouseReturnStocks</div>
    <div class="display-field">@(Model.WarehouseReturnStocks == null ? "None" : Model.WarehouseReturnStocks.Count.ToString())</div>

    <div class="display-label">WarehouseWastageStocks</div>
    <div class="display-field">@(Model.WarehouseWastageStocks == null ? "None" : Model.WarehouseWastageStocks.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


