@model ModelLayer.Models.ViewModel.WarehouseStockViewModel
@using ModelLayer.Models.ViewModel

@{
    ViewBag.Title = "Invoice List";
}

<style>
    .pro_th thead tr th {
        font-size: 12px;
        border-bottom: 1px solid #EEE;
        padding: 6px 0;
        background-color: #26A69A;
    }

    .pro_th tbody td {
        font-size: 12px;
        text-align: center;
        border: 1px solid #EEE;
    }

        .pro_th tbody td.btn-set {
            white-space: nowrap;
        }

    .dataTables_length {
        margin-left: 0px !important;
        margin-top: 7px;
    }

    .pagination {
        margin: 0 26px;
    }

    form {
        margin: 0 0 -15px;
    }
    .box.span12.right_side_up_part .form-control .pull-left select#SupplierID {
        margin-bottom: 0;
        border-radius: 5px;
    }
    .box.span12.right_side_up_part .form-control .pull-left button#Search {
        margin-top: 0;
    }
    section.right_side_main_part div#content .content div a.btn.btn-primary {
        border-radius: 5px !important;
    }

    .box.span12.right_side_up_part .box-content .form-control .pull-left button#Search {
        margin-top: 0;
    }

    .box.span12.right_side_up_part .box-content .form-control .pull-left select#SupplierID {
        margin-bottom: 0;
        border-radius: 5px !important;
    }

    .box.span12.right_side_up_part .box-content table#tblData tbody tr td {
        white-space: nowrap;
    }

        .box.span12.right_side_up_part .box-content table#tblData tbody tr td a.btn.btn-small.btn-info {
            padding: 2px 10px;
            border-radius: 5px !important;
        }

    table#tblData thead tr th {
        white-space: nowrap;
    }

    .box.span12.right_side_up_part .box-content table#tblData tbody tr td a#Print {
        margin: 0;
        padding: 2px 15px;
    }

    .box.span12.right_side_up_part .box-content table#tblData tbody tr td a#Print1 {
        padding: 2px 15px;
        margin: 0;
        background: #eea236;
        border-radius: 5px !important;
    }

    .box.span12.right_side_up_part .box-content div#tblData_wrapper table#tblData tbody tr td a.btn.btn-small.btn-success {
        padding: 2px 10px;
        border-radius: 5px !important;
    }
    .box.span12.right_side_up_part .form-control div#tblData_wrapper table#tblData tbody tr td a#Print {
        padding: 2px 10px;
        margin-top: 0;
    }
    .box.span12.right_side_up_part .form-control div#tblData_wrapper table#tblData tbody tr td a.btn.btn-small.btn-success {
        padding: 2px 5px;
        border-radius: 5px !important;
    }
    .box.span12.right_side_up_part .form-control div#tblData_wrapper table#tblData tbody tr td .btn-print-org {
       
        background: #eea236;
    }
    .box.span12.right_side_up_part {
        background: #fff;
    }
    select.valid {
        border-radius: 5px !important;
        margin: 0 5px;
    }
    section.right_side_main_part {
        min-height: 900px;
    }
</style>

<link href="~/Content/css/Site.css" rel="stylesheet" />
<link href="~/Content/css/searching.css" rel="stylesheet" />
<link href="~/Content/css/sortable.css" rel="stylesheet" />
<script src="~/Content/js/jquery-1.11.1.min.js"></script>
<script src="~/Content/js/jquery-1.9.1.min.js"></script>
<script src="~/Content/js/jQuery-Table-Plugin.js"></script>
<link href="~/Content/assets/css/font-awesome.min.css" rel="stylesheet" />

<script src="~/Content/js/jquery-2.1.3.min.js"></script>
<link href="~/Content/css/jquery.dataTables.css" rel="stylesheet" />
<script src="~/Content/js/jquery.dataTables.js" language="jascript"></script>

<script type="text/javascript" class="init">
    $(document).ready(function () {
        $('#tblData').DataTable({
            dom: 'T<"clear">lfrtip',
            "iDisplayLength": 20,    /// Added by Priti   to show 20 entires by default on date 14-11-2018
            "processing": true,
            "serverSide": true,
            "aaSorting": []
        });
        // alert("1");
    });
</script>
<section class="right_side_main_part">
<div id="content" class="span10" style="min-height: 403px;">
@using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="content">
        <p>
                       
        </p>
        <div class="row-fluid">
                    <div class="box span12 right_side_up_part">
                <div class="box-header">
                    <h2>
                        <i class="icon-list-alt"></i>
                        <span class="break"></span>
                       ALL INVOICES
                    </h2>
                </div>
                <div class="form-control" style="margin:10px;">
                    <h4 class="pull-left">Filter by Supplier</h4>
                    <div class="pull-left" style="margin-left:10px;">
                        @Html.DropDownListFor(model => model.SupplierID, ((IEnumerable<ModelLayer.Models.Supplier>)ViewBag.PossibleSuppliers).Select(option => new SelectListItem
    {
        Text = (option == null ? "None" : option.Name),
        Value = option.ID.ToString(),
        Selected = (Model != null) && (option.ID == Model.SupplierID)
    }), "--All Suppliers--")

                        @Html.ValidationMessageFor(model => model.SupplierID)

                        @*@Html.ActionLink("Search", "Search", Model, new { @class = "btn btn-small btn-warning" })*@
                        @*<input type="submit" value="Search" class="btn btn-small btn-warning" />*@

                        <button id="Search" type="button" class="btnRemove btn btn-warning btn-small">Search</button>
                    </div>
                    <table id="tblData" class="table table-bordered table-striped table-condensed display" width="100%">
                        <thead>
                            <tr>
                                <th>Sr.No.</th>
                                <th>PurchaseOrderCode</th>
                                <th>Invoice#</th>
                                <th>
                                    InvoiceDate
                                </th>
                                <th>
                                    Supplier
                                </th>

                                <th>
                                    OrderAmount
                                </th>
                                @*<th>
                        TotalDiscountAmount
                    </th>*@
                                @*<th>
                        ShippingCharge
                    </th>*@

                                <th>
                                    TotalAmount
                                </th>
                                <th>
                                    TotalItems
                                </th>
                                <th>Action</th>
                                <th>
                                    IsApproved
                                </th>

                            </tr>
                        </thead>
                        @{
                            var i = 1;
                        }
                        @if (Model.lInvoiceViewModelList.Count > 0)
                        {
                            foreach (var item in Model.lInvoiceViewModelList)
                            {
                                <tr>
                                    <td style="text-align:center">
                                        @i
                                        @{
                                            i = i + 1;
                                        }
                                    </td>
                                    @*Added by Priti 15 -11-2018*@
                                    <td>
                                        <a id="Print" style="color: #3C73DC; font-weight: bold; " href="@Url.Action("PrintOrder1", "PurchaseOrders", new { id = @item.PurchaseOrderID })" target="_blank">@item.PurchaseOrderCode</a>
                                    </td>
                                    <td>
                                        <a id="Print" style="color: #DB4437; font-weight: bold" href="@Url.Action("PrintGR", "Invoices", new { InvoiceID = @item.InvoiceID })" target="_blank">@item.InvoiceCode</a>

                                    </td>
                                    <td>
                                        @String.Format("{0:dd MMM yyyy}", item.InvoiceDate)
                                    </td>
                                    <td>
                                        @item.SupplierName
                                    </td>

                                    <td style="text-align:right">
                                        @String.Format("{0:F}", item.OrderAmount)
                                    </td>
                                    @*<td>
                            @String.Format("{0:F}", item.TotalDiscountAmount)
                        </td>*@
                                    @*<td style="text-align:right">
                            @String.Format("{0:F}", item.ShippingCharge)
                        </td>*@

                                    <td style="text-align:right">
                                        @String.Format("{0:F}", item.TotalAmount)
                                    </td>
                                    <td style="text-align:center">
                                        @item.TotalItems
                                    </td>
                                    <td>
                                        @if (@item.IsApproved == true)
                                        {
                                            <a id="Print" class="print btn btn-warning btn-small" href="@Url.Action("PrintGR", "Invoices", new { InvoiceID = item.InvoiceID })" target="_blank">Print</a>
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Confirm", "Edit", new { InvoiceID = item.InvoiceID }, new { @class = "btn btn-small btn-success", title = "Click here to approve" })<span>|</span>
                                            <a id="Print" class="print btn btn-default btn-small btn-print-org" href="@Url.Action("PrintGR", "Invoices", new { InvoiceID = item.InvoiceID })" target="_blank">Print</a>
                                        }
                                    </td>
                                    <td style="text-align:center">
                                        @if (@item.IsApproved == true)
                                        {
                                            <span style="color:green">Approved</span>
                                        }
                                        else
                                        {
                                            <span>No</span>
                                        }
                                    </td>
                                </tr>
                            }
                        }

                    </table>

                </div>
            </div>
        </div>       
    </div>   
}
</div>
    </section>
<script type="text/javascript">
    $(function () {
        $("#Search").click(function () {
            var SupplierID = $("select#SupplierID option:selected").val();
            window.location = "/WarehouseStocks/Search?SupplierID=" + SupplierID;            
        });
    });

</script>



