@model ModelLayer.Models.ViewModel.FranchiseRegisterNowViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
 
}


<style type="text/css">

    .container {
        margin-left:90px!important;
    }
</style>
@using (Html.BeginForm("Login", "FranchiseRegisterNow", FormMethod.Post))
{
    if (ViewBag.Message != null)
    {
        @Html.Label("Message")
    }
    <div class="LoginDiv">
        @Html.Partial("_Login")
    </div>
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
      <div id="content" class="span10" style="min-height: 369px;">
          <ul class="breadcrumb">
              <li>
                  <i class="icon-home"></i>
                  <a href="">Register</a>
              </li>
          </ul>
          <div class="row-fluid sortable ui-sortable">
              <div class="box span12">
                  <div data-original-title="" class="box-header">
                      <h2><i class="halflings-icon user"></i><span class="break"></span>Franchise Register Now</h2>
                  </div>
                  <div class="box-content contentBox">
                      <form class="form-horizontal">
                          <hr />
                          @Html.ValidationSummary(true)

                          <div class="control-group distNow">
                              @Html.LabelFor(model => model.SalutationID, new { @class = "control-label span2" })
                              <div class="controls">
                                  @Html.DropDownList("Salutation")
                                  @Html.ValidationMessageFor(model => model.SalutationID)
                              </div>
                          </div>
                          
                          <div class="control-group distNow">
                              @Html.LabelFor(model => model.FirstName, new { @class = "control-label span2" })
                              <div class="controls">
                                  @Html.EditorFor(model => model.FirstName)
                                  @Html.ValidationMessageFor(model => model.FirstName)
                              </div>
                          </div>

                          <div class="control-group distNow">
                              @Html.LabelFor(model => model.MiddleName, new { @class = "control-label span2" })
                              <div class="controls">
                                  @Html.EditorFor(model => model.MiddleName)
                                  @Html.ValidationMessageFor(model => model.MiddleName)
                              </div>
                          </div>

                          <div class="control-group distNow">
                              @Html.LabelFor(model => model.LastName, new { @class = "control-label span2" })
                              <div class="controls">
                                  @Html.EditorFor(model => model.LastName)
                                  @Html.ValidationMessageFor(model => model.LastName)
                              </div>
                          </div>
                          <div class="clearfix"></div>
                          <div class="control-group distNow">
                              @Html.LabelFor(model => model.Email, new { @class = "control-label span2" })
                              <div class="controls">
                                  @Html.EditorFor(model => model.Email)
                                  @Html.ValidationMessageFor(model => model.Email)
                              </div>
                          </div>

                          <div class="control-group distNow">
                              @Html.LabelFor(model => model.Mobile, new { @class = "control-label span2" })
                              <div class="controls">
                                  @Html.EditorFor(model => model.Mobile)
                                  @Html.ValidationMessageFor(model => model.Mobile)
                              </div>
                          </div>

                          <div class="control-group distNow">
                              @Html.LabelFor(model => model.PinCode, new { @class = "control-label span2" })
                              <div class="controls">
                                  @Html.EditorFor(model => model.PinCode)
                                  @Html.ValidationMessageFor(model => model.PinCode)
                              </div>
                          </div>
                          
                          <div class="control-group distNow">
                              @Html.LabelFor(model => model.UserName, new { @class = "control-label span2" })
                              <div class="controls">
                                  @Html.EditorFor(model => model.UserName)
                                  @Html.ValidationMessageFor(model => model.UserName)
                              </div>
                          </div>
                          <div class="clearfix"></div>
                          <div class="control-group distNow">
                              @Html.LabelFor(model => model.Password, new { @class = "control-label span2" })
                              <div class="controls">
                                  @Html.EditorFor(model => model.Password, new { @typeof = "password" })
                                  @Html.ValidationMessageFor(model => model.Password)
                              </div>
                          </div>

                          <div class="control-group distNow">
                              @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label span2" })
                              <div class="controls">
                                  @Html.EditorFor(model => model.ConfirmPassword)
                                  @Html.ValidationMessageFor(model => model.ConfirmPassword)
                              </div>
                          </div>
                          
                          <div class="control-group distNow">
                              @Html.LabelFor(model => model.SecurityQuestionID, new { @class = "control-label span2" })
                              <div class="controls">
                                  @Html.DropDownList("SecurityQuestion")
                                  @Html.ValidationMessageFor(model => model.SecurityQuestionID)
                              </div>
                          </div>

                          <div class="control-group distNow">
                              @Html.LabelFor(model => model.SecurityAnswer, new { @class = "control-label span2" })
                              <div class="controls">
                                  @Html.EditorFor(model => model.SecurityAnswer)
                                  @Html.ValidationMessageFor(model => model.SecurityAnswer)
                              </div>
                          </div>
                          <div class="clearfix"></div>
                          <div class="form-actions">
                              <div class="col-md-offset-2 col-md-10">
                                  <input type="submit" value="Register Now" class="btn btn-primary" />
                              </div>
                          </div>
                      </form>
                      </div>
                  </div>
              </div>
          </div>
}
